[2018-12-12 20:46] bk322 opened #898 "javafx support?"
I open java file

https://github.com/openjfx/samples/blob/master/IDE/Eclipse/Non-Modular/Maven/hellofx/src/main/java/org/openjfx/hellofx/MainApp.java

and as soon as I save it -- eclipse.jdt.ls changes

[code]
to
[code]
?

[2018-12-12 20:51] fbricon commented on #898
Did you open samples/blob/master/IDE/Eclipse/Non-Modular/Maven/hellofx/ in vscode? or just the java file?

[2018-12-12 20:52] bk322 commented on #898
in emacs.

[2018-12-12 21:17] fbricon commented on #898
which emacs/java integration are you using? Again did you open the folder or just the file?

[2018-12-12 22:15] #163 closed

[2018-12-12 23:03] eubarbosa commented on #898
@fbricon
Emacs has two package that lsp/eclipse server (lsp-mode, eglot), @bk322  must clarify which one he is using, tho!

[2018-12-13 04:32] testforstephen commented on #168
@fbricon In JDT, The core implementation class `GenerateHashCodeEqualsOperation` was put in `org.eclipse.jdt.ui` bundle.

Is there someone to help refactor and move it to the bundle `org.eclipse.jdt.core.manipulation`?

[2018-12-13 04:33] bk322 commented on #898
I open a java file, emacs asks wither to import hellofx folder, I agree to that.

I did not know about eglot. I was using lsp/eclipse.

I just did it, https://github.com/emacs-lsp/lsp-java/issues/82

[2018-12-13 04:35] testforstephen commented on #736
@fbricon Same as `hashCode and equals` method, the implementation class `GenerateToStringOperation` in `org.eclipse.jdt.ui` needs move to `org.eclipse.jdt.core.manipulation`.

[2018-12-13 05:51] testforstephen opened #899 "Quickfix for private unused field disappear"
Looks like the PR https://github.com/eclipse/eclipse.jdt.ls/pull/895 `Don't send empty code actions` skipped the quickfix proposal `Create getter and setter` for private unused field.

The corresponding change is put in WorkspaceEdit#documentChanges instead of #changes so ChangeUtil#hasChanges skips it.

[2018-12-13 05:51] testforstephen commented on #899
@fbricon For awareness.

[2018-12-13 06:14] akaroml commented on #897
Thanks for the info. I'll follow up to see whether there's any impact.

[2018-12-13 09:44] testforstephen opened #900 "Source Action: Override/Implement Methods..."
Although we have supported the quick fix `Add unimplemented methods`, it will be also helpful to support it on Source Action.

Currently most source actions return `java.apply.workspaceEdit` command, but for Override/Implement action, one idea is to return a customized command, such as `java.action.overrideMethod` to client. When the command is executed on client, client will send a request to ser

[2018-12-13 09:44] testforstephen commented on #900
@yaohaizh @fbricon Any more thoughts?

[2018-12-13 13:58] fbricon commented on #899
I'm surprised it wasn't caught by LocalCorrectionQuickFixTest.java

[2018-12-13 14:04] fbricon commented on #900
the interesting aspect of this approach is we wouldn't need to compute all textedits on each code action request.
- I'd call it java.action.overrideMethodsPrompt
- would only be sent to clients explicitely announcing they support it

[2018-12-13 14:16] fbricon commented on #168
that's something @rgrunber and @jjohnstn can help with

[2018-12-13 14:17] fbricon commented on #736
cc @rgrunber and @jjohnstn

[2018-12-13 14:20] testforstephen commented on #900
yes, yes. it's kind of lazy load. be able to reduce the compute cost.

[2018-12-13 16:00] jjohnstn commented on #168
I'll take a look at it

[2018-12-13 16:08] snjeza commented on #898
@yyoncho could you try to use Java 11?

[2018-12-13 23:50] jjohnstn commented on #736
Working on it

[2018-12-13 23:50] fbricon opened #902 "Bulk accessor generation should ignore static fields"
Given a private static field:
[code]
calling the `generate getters and setters` command generate its accessors:
[code]

I'm pretty confident that's wrong in 99.99% of the cases

[2018-12-13 23:52] fbricon commented on #902
@testforstephen  any chance you can fix it before we release on Monday?

[2018-12-14 01:37] testforstephen commented on #902
will submit a PR today.

[2018-12-14 02:45] yaohaizh commented on #902
Well, the eclipse does provide the option to generate getter/setter for this situation.

Given this, one improvement that we can do is similar to this https://github.com/eclipse/eclipse.jdt.ls/issues/900 that we provide two phases code assist.

[2018-12-14 06:11] #902 closed

[2018-12-14 06:12] fbricon commented on #902
please open a separate ticket for that.

[2018-12-14 06:14] fbricon commented on #842
Closed with #879

[2018-12-14 06:14] #842 closed

[2018-12-14 18:01] jjohnstn commented on #736
Gerrit patch submitted:  https://git.eclipse.org/r/134075

[2018-12-14 18:08] #899 closed

[2018-12-14 22:08] beyang opened #905 "Support remote file sources"
I'd like to augment eclipse.jdt.ls to support remote file sources. Examples of this would be the [Sourcegraph raw file API](https://sourcegraph.com/github.com/apache/commons-io@4daab02fb7d967a39eb15fe33f0d5350fc548a98/-/raw/src/main/java/org/apache/commons/io/ByteOrderMark.java) and the [GitHub raw file API](https://raw.githubusercontent.com/apache/commons-io/master/src/main/java/org/apache/common

[2018-12-14 23:45] fbricon commented on #905
Hey @beyang, this is definitely not a trivial task, as I believe we do make certain assumptions on the URIs we receive, i.e accepting only file:// and jdt:// schemes. Given that some Cloud IDEs ([gitpod.io](http://gitpod.io) and [Eclipse Che](https://www.eclipse.org/che/) for instance) manage to actually work around the problem, it's not a priority for the current maintainers of this project, so t

[2018-12-14 23:52] fbricon commented on #905
@snjeza , @robstryker do you guys have any pointers about using org.eclipse.remote ?

[2018-12-16 14:56] yaohaizh commented on #686
The code action kind was added.

[2018-12-16 14:56] #686 closed

[2018-12-17 04:24] fbricon opened #906 "Attaching sources should use a project relative path, when possible"
when a source file is attached, an absolute path is added to the .classpath file. If the source file belongs to the project, then a relative path should be used instead, to keep .classpath as portable as possible.

See eclipse.jdt.ls/org.eclipse.jdt.ls.tests/projects/eclipse/source-attachment/.classpath after I attached the sources:
[code]

[2018-12-17 17:55] beyang commented on #905
@fbricon thanks for the advice here. For now, we'll work around by cloning remote files locally. I suspect the upfront fetching will become a bottleneck for very large repositories (e.g., monorepos), so it would be nice to implement "true" remote file access in the future (this is what we did in our existing javac-based language server: https://github.com/sourcegraph/java-langserver/blob/master/sr

[2018-12-17 22:30] fbricon opened #907 "[regression] "Add parentheses around cast" doesn't work as expected"
There are [3 unit tests that pass](https://github.com/eclipse/eclipse.jdt.ls/blob/d91fdc489b3791c12c7abef2ed69654b77d9a221/org.eclipse.jdt.ls.tests/src/org/eclipse/jdt/ls/core/internal/correction/UnresolvedMethodsQuickFixTest.java#L3794-L3869) (when they shouldn't, but that's another story), where "Add parentheses around cast" should actually add parentheses, but instead remove the cast in:
[code]

[2018-12-17 23:04] fbricon opened #908 "[regression] Code actions unrelated to diagnostics are ignored"
- given a basically empty class Bar.java
[code]
- and a class Foo.java:
[code]

"thatField" should have a code action to generate the field in Bar, but no code action is returned. Server log:

[code]

[UnresolvedVariablesQuickFixTest.testBug300](https://github.com/eclipse/eclipse.jdt.ls/blob/d91fdc489b3791c12c7abef2ed69654b77d9a221/org.eclipse.jdt.ls.tests/src/org/eclipse/jdt/ls/core/internal/corr

[2018-12-18 02:58] fbricon commented on #825
Closed with #896

[2018-12-18 02:58] #825 closed

[2018-12-20 21:21] fbricon commented on #907
Tests to re-enable: https://github.com/eclipse/eclipse.jdt.ls/commit/ac2934309963d808e8cdf8b22d88004e7f344266#diff-525ef54ce68546beb0b4262b89013756

[2018-12-26 13:42] raisercostin commented on #866
I had the same problem in eclipse-4.9
The stacktrace
[code]
Session data
[code]
Some eclipse installation details
[code]

[2018-12-27 02:34] #801 closed

[2018-12-28 23:37] eubarbosa opened #912 "Renaming Method issues an error"
Hi, asking the server to rename **StaticBLock** to StaticB**l**ock raises an error:

eg:
[code]

[code]
https://github.com/joaotavora/eglot/issues/179#issuecomment-445499360

Its seems that: "If we don't provide **resourceOperations** and **failureHandling** keys in initialization options, the server errors out with"

Eclipser Server version: org.eclipse.equinox.launcher.gtk.linux.x86_64_1.1.900.v

[2018-12-30 21:15] amiramw opened #913 "Recreating the same project causes Preference node "org.eclipse.jdt.core" has been removed error"
I'm with version 0.25.0.

Sometimes, when creating a project, deleting it and then creating the exact same project again, the following errors occur during the build and after that no code completion, etc. could be done:

[code]

[2019-01-09 03:15] yaohaizh opened #918 "The classpath is not dynamically update if user edit .classpath directly"
1. Open a simple pure eclipse project with .classpath & .project file.
2. Create a folder called ‘lib’
3. Drop a JAR file (e.g. commons-beanutils)
4. Modify .classpath to have this JAR
5. Try to run the code.
6. Fails

Expected: Should be similar to pom.xml & gradle.gradle editing. It should update the classpath dynamically.

NOTE: Reload the classpath will word around the issue.

[2019-01-10 17:17] snjeza commented on #918
I can't reproduce the issue.

[2019-01-12 05:15] lockeadams opened #919 "Build fails with gradle 5.1"
Build on most recent version (0.30.0b) is failing on my system with the following output:

`Results:`
`Failures: `
 `BuildPathCommandTest.testBuildPathOperationInGradleProject:140 expected:<1> but was:<2>`
  `GradleBuildSupportTest.testUpdate:32->AbstractGradleBasedTest.importSimpleJavaProject:31 expected:<1.[7]> but was:<1.[8]>`
 ` GradleProjectImporterTest.importSimpleGradleProject:53->AbstractG

[2019-01-13 08:09] #912 closed

[2019-01-14 13:35] lockeadams commented on #919
Update: uninstalled gradle-5.1 from my system and the build was a success. I noticed during the build process that the gradle-4.3 binary is downloaded. Is gradle 4.4+ not supported?

[2019-01-14 13:54] fbricon commented on #919
4.3 is probably the version that Buildship uses by default. It's weird that the build should fail with 5.1 though.

[2019-01-15 13:08] gns26 commented on #789
Any update on this? I followed the fix by fbricon (adding TLS12) and that seems to work

[2019-01-15 15:48] snjeza commented on #789
Related issue: https://github.com/redhat-developer/vscode-xml/issues/86#issuecomment-444491039

[2019-01-15 23:46] #789 closed

[2019-01-15 23:47] fbricon commented on #789
I updated the wrapper scripts from the unreleased https://github.com/takari/maven-wrapper

[2019-01-17 03:53] benbenqiang commented on #801
Have you solved the problem?

[2019-01-17 06:06] benbenqiang commented on #801
I am also using monaco editor to connect with jdt.ls.
Same project working well in  vscode, but failed in monaco-language-client
Is there any way to manually trigger action that invokes recognizing 3rd-party ？

[2019-01-17 09:44] gns26 commented on #376
Hi guys - any update on this one? I see that lots of other clients are busy implementing custom commands (i.e. https://github.com/autozimu/LanguageClient-neovim/issues/158) which as mentioned above is unnecessary.

Won't most clients be able to handle WorkspaceEdits now? If so then moving across should be fine?

Cheers

[2019-01-17 11:57] puremourning commented on #376
What makes you think that?

[2019-01-17 20:42] jjohnstn commented on #736
Patch has been accepted to jdt.ui/jdt.core.manipulation.  This can be closed.

[2019-01-17 20:43] jjohnstn commented on #168
Refactoring patch has been committed to jdt.ui.

[2019-01-17 20:51] fbricon commented on #736
@jjohnstn we still need to make changes on the jdt.ls side, to call the new code

[2019-01-17 21:31] jjohnstn commented on #736
@fbricon yes, my bad.

[2019-01-18 09:20] fractalic opened #922 "Could not get unknown property"
I'm encountering an issue when attempting to compile a Gradle project on a macOS Mojave 10.14.2 and VSCode 1.30.2.

The Language Server reports that a particular property, required by settings.gradle is not defined; however, it is defined in *~/.gradle/gradle.properties*, and command-line builds proceed normally.

I'm not sure why the Language Server build is unable to find the property.

I've tri

[2019-01-21 15:55] fbricon commented on #736
@yaohaizh can you work on this one for the next release or should I assign it to someone else?

[2019-01-22 01:09] yaohaizh commented on #736
@fbricon  Sure, I'll follow this issue on this release.

[2019-01-22 15:46] agorgl opened #923 "Android support"
Hello! Is it in the plans to have any support for Android/Gradle projects?

[2019-01-22 19:44] fbricon commented on #508
@kittaakos sounds great! Seems I can't assign it to you, but feel free to start working on it

[2019-01-23 19:22] snjeza commented on #922
I can't reproduce the issue.
@fractalic could you try to add gradle.properties to the project root directory?

[2019-01-23 19:58] snjeza commented on #919
I can't reproduce the issue.

[code]

[2019-01-24 01:40] lockeadams commented on #919
Apologies for the lack of updates on my end. I have a few new developments in my efforts to resolve my issue. I continued to have build issues with tests related to Gradle failing. So, I instead installed jdtls from the Arch User Repository which contains a pre-built jar. After starting the server (using LanguageClient-neovim), I had a very long message detailing errors that I will attach below. F

[2019-01-24 02:57] snjeza commented on #919
@lockeadams could you provide your gradle project?

[2019-01-24 03:06] lockeadams commented on #919
Sure, here is the project I was speaking of:
https://github.com/FRC4188/2019_DeepSpace

However it throws the same issue on any gradle project I try, including those on my github and some other local ones-- even the default java project created after running `gradle init --type java-application`. It has no errors when opening a simple .java file I created with just a main method and a sysout, thou

[2019-01-24 14:54] kittaakos commented on #508
@fbricon, the `org.eclipse.jdt.internal.corext.callhierarchy.CallHierarchy` class is in `jdt.ui`. Would it be sufficient to copy the UI classes into JDT LS for now and do the `jdt.core.manipulation` migration is a separate PR. Thank you!

[2019-01-24 17:51] snjeza commented on #919
@lockeadams Could you describe how you have configured your client?

[2019-01-28 18:54] snjeza commented on #919
@lockeadams Could you try the following jdtls:
[code]

'-data ~/myworkspace' is important line.
If there is the workspace directory in your project remove it.

[2019-01-28 19:18] lockeadams commented on #919
Just tested that script after creating the directory ~/myworkspace and removing the workspace directory from my project directory, although I did have to slightly modify it to work with the pre-built server from the AUR as per the supplied launcher script from the package [here](https://aur.archlinux.org/cgit/aur.git/tree/launcher.sh?h=jdtls). It did not work calling the config directly from $serv

[2019-01-28 21:18] kittaakos commented on #508
I've created a PR for this task. After copying the JDT UI code to the LS, I had to adjust the source in two relatively easy steps: c7ea1da, 33b0a71. (The rest is the actual implementation.) I would like to know how to proceed with the `org.eclipse.jdt.internal.corext.callhierarchy` package.

[2019-01-28 22:36] fbricon commented on #508
@jjohnstn @rgrunber how long before we could get those copied classes refactored to jdt.core?

[2019-01-28 23:05] snjeza commented on #919
@lockeadams could you try the following:

- install gradle
- call
[code]

[2019-01-28 23:41] lockeadams commented on #919
I must've forgotten to mention that I reinstalled gradle-5.1 on the Arch laptop prior to this, and $GRADLE_HOME was set to /usr/share/java/gradle by default... but when I called `which gradle` it returned /usr/bin/gradle. So I just exported GRADLE_HOME to /usr/bin/gradle and the server started perfectly! Such a simple solution. My apologies for taking so much of your time, and thanks so much for a

[2019-01-28 23:41] #919 closed

[2019-01-29 01:54] jjohnstn commented on #508
It should be straightforward.  Let me work on a patch.

[2019-01-29 10:25] kittaakos commented on #508
Please note, I had to change the `CallHierarchy.DEFAULT_IGNORE_FILTERS` pattern from `java.*,javax.*` to an empty string. ([Here](https://github.com/eclipse/eclipse.jdt.ls/pull/925/commits/8e94875b2be75338849d470eed7d9adf11c7df73#diff-32ce8f14d8fd079424fa86821c7b8213R45) is the change.) Please leave the default value as an empty string in the core or make it mutable. Thank you!

[2019-01-29 18:09] yyoncho opened #926 "file system watchers in vscode-java"
At this point vscode-java register the following watches:

It seems to me that these watchers must be established by as a result of "workspace/didChangeWatchedFiles". Please correct me if I mistaken.

[2019-01-30 05:30] fbricon commented on #926
if you mean dynamically register those watchers after importing the projects, then yes, that would make sense

[2019-02-01 15:05] bstaletic commented on #803
For the record, ycmd doesn't override any jdt settings and allows users to set anything in the project specific `.ycm_extra_conf.py`.

[2019-02-01 16:58] jjohnstn commented on #508
Patch submitted for review: https://git.eclipse.org/r/#/c/136044/

[2019-02-01 17:42] Yanpas commented on #508
I participate in ccls development, call and inheritance hierarchy code may be easily reused in vscode extension:
https://github.com/MaskRay/vscode-ccls/tree/master/src/hierarchies

[2019-02-06 22:04] fractalic commented on #922
@snjeza sorry it's taken me a while to test this. Adding gradle.properties to the project root allows settings.gradle and build.gradle to resolve the variables. Removing the variables from the root gradle.properties, and defining them in $HOME/.gradle/gradle.properties still causes the resolution to fail.

[2019-02-06 23:06] snjeza commented on #922
@fractalic could you attach <your_project>/.settings/org.eclipse.buildship.core.prefs?

[2019-02-08 06:52] fractalic commented on #922
[code]

[2019-02-08 08:12] kittaakos commented on #508
@Yanpas, can you please give us some hints on how to reuse the extension? I would be interested in trying the LS feature in VS Code. Thank you!

[2019-02-08 10:30] Yanpas opened #928 "Failed to load eclipse project"
I have a big project with custom build system that generates eclipse classpath file. This project also contains small maven and gradle projects which I'm not interested in (i. e. not interested in autocompletion).

I have created .project file in eclipse:
[code]

When I open vscode I see following error:
[code]

Eclipse deals fine with this project. I have disabled maven and gradle import:
[code]

[2019-02-08 10:30] Yanpas commented on #928
In october vscode worked fine with the same setup

[2019-02-08 10:37] Yanpas commented on #508
There is an abstract class for all kind of hierarchies (Hierarchy in hierarchy.ts) and it's implementations. What it does is it's hides/reveals hierarchy pane in explorer window via "context" variables, awaits for requests to language server and creates TreeItems. I don't know the internals of java ls, so not sure if it is dropin replacement (e.g. ccls uses subtree requests).

It is created in ser

[2019-02-08 14:21] jarst commented on #789
Commit fixing this issue:
https://github.com/takari/maven-wrapper/commit/2528f4144d0e50f1e10d7e84c1fddd1edf88ce58

[2019-02-08 15:20] snjeza commented on #922
@fractalic could you try the following:

- remove <your_project>/.settings/org.eclipse.buildship.core.prefs
- run "Clean the java language server workspace"

[2019-02-11 21:35] gatesn opened #930 "Dead exception in ProjectUtils"
https://github.com/eclipse/eclipse.jdt.ls/blob/ba7ebe64e4afa8aab6513a87993f7308c4127a0f/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/ProjectUtils.java#L349

It doesn't seem to be thrown

[2019-02-11 22:34] fractalic commented on #922
@snjeza
no luck :( the behaviour is the same

[2019-02-11 23:22] snjeza commented on #922
@fractalic Does <your_project>/.settings/org.eclipse.buildship.core.prefs exists?
You can try to the following:
[code]

[2019-02-14 02:57] yaohaizh opened #932 "Provide API to dynamically load/unload extension bundle"
We had discussed this issue before when we implemented the delegate commandhandler. Currently, all the extension bundles are loaded during the initialization phase. As vscode extension provides a no reload when installing plugins, would revisit the mechanisms here.
1. Provide no reload behavior for the client when install/enable extensions, reducing performance impact of reload.
2. Minimize the in

[2019-02-16 12:36] cedric05 opened #933 "extract to local variable on return value [feature request]"
extract to local variable for return value feature exits?
for suppose
`String a = "ram";
a.contains("ra");`
should suggest something like
`String a= "ram";
Boolean b = a.contains("ra");`

[2019-02-16 12:39] cedric05 commented on #933
its better to have above extrantion.
if can, i would like to work on this, please point where i should be looking.

[2019-02-17 03:09] cedric05 commented on #933
it seems its already there.

[2019-02-17 03:09] #933 closed

[2019-02-18 16:25] Yanpas commented on #928
@snjeza is it fixed in master?

[2019-02-19 20:05] snjeza commented on #928
@Yanpas if you set the following properties:

[code]

Java LS won't create gradle and maven projects.

[2019-02-19 20:07] Yanpas commented on #928
If you read my first comment comment you will notice that I've already disabled these options.

[2019-02-19 21:32] snjeza commented on #928
@Yanpas could you attach your project?

[2019-02-19 21:53] Yanpas commented on #928
Here is a problematic file located in (ROOT/gradleprojects/.project):
[code]

Don't know why is it generated with disabled gradle import.

Moreover I think failing to import one .project should not affect other .project files

[2019-02-19 22:08] snjeza commented on #928
I suppose, you have started VS Code without the mentioned properties.
You have try the following:

- set the mentioned properties
- close VS Code
- remove ROOT/gradleprojects/.project
- start VS Code

[2019-02-20 22:28] #930 closed

[2019-02-22 21:20] kozer opened #935 "Failed to add class: Cannot nest"
Hello, and thanks for the amazing job here!
I have already open the same issue in coc-java repository, but I was pointed to open this issue here as well.
I use coc.nvim and I have the following problem in java projects using coc-java plugin.
When I open them i get the following error:

[code]
The project is using mvn.

Can you please guide me to fix it somehow?
Thanks!

Some extra info:

[code]

[2019-02-22 22:39] fbricon opened #936 "File handle leak on Win with Java 11(.0.2)"
Following the fix for #931, it turns out Win 10 still has an issue, when running  Java 11(.0.2). I can still see a file handle leak with handler64 ( ~+2/+3 handles every 2 sec), when the server is idling:

[code]
and several minutes later:
[code]

We might also want to reduce the polling frequency to 1 every 10sec.

[2019-02-22 22:43] fbricon commented on #935
please provide a sample project and steps to reproduce the issue

[2019-02-23 08:37] kozer commented on #935
https://github.com/kozer/test-error-jdt-ls
Steps to reproduce:
- run ```mvn clean install -DskipTests```
- Open Main.java

[2019-02-25 23:14] #936 closed

[2019-02-25 23:40] #900 closed

[2019-02-26 05:33] netscout opened #939 "Can not run project"
Hi,

I'm trying to run this project but i get this error.

- run command
java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=1044 -Declipse.application=org.eclipse.jdt.ls.core.id1 -Dosgi.bundles.defaultStartLevel=4 -Declipse.product=org.eclipse.jdt.ls.core.product -Dlog.level=ALL -noverify -Xmx1G -jar C:\Users\mentoreet\Documents\GitHub\eclipse.jdt.ls\org.eclipse.jdt.ls.product\targ

[2019-02-26 16:57] snjeza commented on #939
You may want to take a look at https://github.com/eclipse/eclipse.jdt.ls/wiki/Running-the-JAVA-LS-server-from-the-command-line

[2019-02-27 02:07] netscout commented on #939
It was my mistake, i was running command at '~\org.eclipse.jdt.ls.product' instead of 'org.eclipse.jdt.ls.product\target\repository'.

The error has gone with running command at right place.

Thank you :)

[2019-02-27 02:08] #939 closed

[2019-02-27 08:27] Eskibear opened #941 "vs code picking up the wrong version of a maven dependency for compilation"
_From @emmanueltouzery on December 13, 2018 7:14_

I tried to open our (large, multi-pom) project, which builds correctly in intellij and on the command-line in visual studio code, but VS code fails compiling it. It appears to pick up the wrong version of a dependency.

**To Reproduce**
Unfortunately I can't share the source code of the project on which I'm having the issue. To open the project I

[2019-02-27 08:27] Eskibear commented on #941
Effective-pom is generated by mvn command, while the dependencies are resolved by [the language server](https://github.com/redhat-developer/vscode-java), and then consumed by [the dependency extension](https://github.com/Microsoft/vscode-java-dependency).
@yaohaizh Would you take a look?

[2019-02-27 08:27] Eskibear commented on #941
_From @yaohaizh on December 14, 2018 5:52_

@emmanueltouzery Could you help try to open the same project on the eclipse IDE to see whether this issue happens? It might relate to the m2e which VSCode & Eclipse depend on.

[2019-02-27 08:27] Eskibear commented on #941
_From @emmanueltouzery on December 14, 2018 7:26_

I tried in eclipse, there were other errors but yes also this issue seemed to be present in the same form:

https://www.dropbox.com/s/v25mhp6mgsssdnh/eclipse.png?dl=0

does that mean I should report the bug in the eclipse m2e project then? If yes, where would that be?

Thank you!

[2019-02-27 08:27] Eskibear commented on #941
_From @emmanueltouzery on December 14, 2018 7:45_

btw I tried with eclipse version "2018-09 (4.9)" (as packaged on fedora 29).

[2019-02-27 08:27] Eskibear commented on #941
_From @yaohaizh on December 16, 2018 15:23_

@emmanueltouzery Yep, you could log an issue here: https://bugs.eclipse.org/bugs/buglist.cgi?product=m2e

[2019-02-27 08:43] emmanueltouzery commented on #941
yes sorry, testing with eclipse is just a big hassle. I gave up on this for now. Kind of thinking it'll fix itself at some point :-(

[2019-02-27 23:39] #906 closed

[2019-02-28 08:01] netscout opened #942 "Can I get any guidance for eclipse.jdt.ls with monaco editor"
Hi,

I'm trying to get eclipse.jdt.ls work with monaco-editor.

eclipse.jdt.ls starts fine but I totally have no idea how to connect it with monaco-editor.

I have looked source code of  vscode-java and Theia...

but it doesn't helps me.

I'm totally new to this web-based editor and lsp.

Could I get some help please?

Any hints, any sample codes can be a huge assist to me.

Thank you :)

[2019-02-28 17:23] mickaelistria opened #943 "Use standard jar: protocol instead of jdt: for classes"
JDT.LS seems to use a specific protocol to reference class files URI. This protocol is specificnto jdt.ls so it requires specific description, maintenance, rountrip with LS for resolution to content...
The Java spec does define the jar: protocol to reference jar contents (as described in https://docs.oracle.com/javase/7/docs/api/java/net/JarURLConnection.html). This protocol is standard, easy to r

[2019-02-28 17:34] fbricon commented on #943
It's not that simple. the jdt:// uri conveys important informations about which project the jar is coming from, from which we can infer the matching Compilation Unit, javadoc and sources attachments. Hovering hover `String`, from a source file associated with a *.class, needs to match the JDK associated with the project to which the jar is associated with.

All those informations can't be inferred

[2019-02-28 21:17] mickaelistria commented on #943
Does the Compilation Unit, Javadoc and source actually need to know the project they're applied to? It seems to me that while the underlying JDT model may make those project specific, there is nothing that would fundamentally prevent JDT-LS from implementing a smarter approach.
I think in the case of String, before Java modules, it would still return `jar:file:` with absolute path to the rt.jar of

[2019-02-28 23:02] fbricon commented on #943
If you navigate to the source of some class in, say spring boot jar, and the server returns a jar:// uri, so without any other context, it'll be impossible to navigate to other classes, or hover over another 3rd party class, from that source file, as the query sent to the server is the document uri and the range in that document. Without any information about the classpath (held by the project), y

[2019-03-01 07:16] mickaelistria commented on #943
The request could be sent to all projects until one returns something viable for navigate/hover. As projects are less visible in jdt.ls and are often perceived as extra complexity in Eclipse IDE for end-users, it would be IMO an improvement over JDT to have jdt.ls relying less on this concept.

[2019-03-01 13:19] fbricon commented on #943
That wouldn't make things better, on the contrary. Instead of having clients to register jdt:// uris they'd have to register jar:// (so 0 difference in complexity), and then you would possibly return random results because you'd have no way to handle 2 projects having different dependency versions.

[2019-03-01 13:33] fbricon commented on #942
Sorry I have no idea how to get LSP providers running in the context of Monaco. Only hints I found are on the Typefox blog (https://webcache.googleusercontent.com/search?q=cache:eBy15OoKYOIJ:https://typefox.io/teaching-the-language-server-protocol-to-microsofts-monaco-editor+&cd=1&hl=en&ct=clnk&gl=ca - website is down ATM). Your best chance is to ask the Typefox team directly.

[2019-03-01 13:39] fbricon commented on #941
eclipse.jdt.ls delegates the Maven integration part to the m2e project, so if there's an issue in Eclipse, the m2e bug tracker is the best place to report the issue. Unfortunately, without a sample project to reproduce the issue, it's going to be very hard to investigate the problem, so it's unlikely it's gonna get fixed by itself.
You could take a subset of your big project, remove all classes, a

[2019-03-01 13:45] fbricon commented on #932
It's unlikely to be effective. Even Eclipse itself doesn't support hot reloading of plugins.
Problem is, some data, extension points can be cached by 3rd party plugins and reloading wouldn't work. It's implied hard reloading is necessary.
I'd simply rely on the server being restarted by the client side at this point.

[2019-03-01 13:45] #932 closed

[2019-03-01 15:42] languitar opened #945 "Milestone build for 0.34.0 missing"
Seems https://download.eclipse.org/jdtls/milestones/?d lacks a build for the new 0.34.0 release.

[2019-03-01 16:01] fbricon commented on #945
There it is https://download.eclipse.org/jdtls/milestones/0.34.0/?d

[2019-03-01 16:01] #945 closed

[2019-03-01 16:44] languitar commented on #945
thanks!

[2019-03-01 21:44] fbricon opened #947 "Signature help should select the 1st parameter after the opening round bracket"
With `"java.signatureHelp.enabled": true`, given:

[code]
When you add the parentheses after `bar`, the 1st param from the signature help is not selected. adding spaces would select it. This should not be necessary to select the 1st param. Looks like there's an off-by-1 error in the signature help resolution algo.

![mar-01-2019 16-37-12](https://user-images.githubusercontent.com/148698/53667956-8

[2019-03-04 02:33] netscout commented on #942
I have read that article, but it's too abstract to me.

Lik you said, I'll ask to Typefox team.

Thank you :)

[2019-03-04 02:33] #942 closed

[2019-03-04 08:45] testforstephen commented on #736
The upstream [GenerateToStringOperation.java](https://git.eclipse.org/r/plugins/gitiles/jdt/eclipse.jdt.ui/+/refs/changes/75/134075/5/org.eclipse.jdt.core.manipulation/core%20extension/org/eclipse/jdt/internal/corext/codemanipulation/tostringgeneration/GenerateToStringOperation.java#108) implementation puts "generate the text edit" and "apply the text edit" steps together. But eclipse.jdt.ls only

[2019-03-04 09:08] testforstephen commented on #736
@jjohnstn I'd like to submit a PR to the upstream code, but not familiar with the contribution process. Is there any doc to explain the PR and environment setup process for eclipse.jdt.ui code? thanks.

[2019-03-04 15:37] jjohnstn commented on #736
Hi Jinbo,

eclipse.jdt.ui uses gerrit, not github so you need to do a patch and submit
it via gerrit.

For details on submitting to Eclipse via gerrit, see:
https://wiki.eclipse.org/Gerrit

For eclipse.jdt.ui, your patch must apply to the latest patch on the master
branch.  If you are attempting to edit/test inside an Eclipse workspace,
you will need eclipse.jdt.core, eclipse.platform.text and pos

[2019-03-04 15:58] vasiltabakov opened #948 "Better (protocol adherence) error reporting"
This probably is in the grey area between RTFM and error reporting.

When you send a 'didOpen' notification with wrong parameters/protocol adherence the LS doesn't report there is an error and remains silent. I've tracked it down to `DocumentLifeCycleHandler.handleOpen` where no error is reported but the function is exited silently.

In my case the following was sent as the notification data:
[cod

[2019-03-04 19:04] fbricon commented on #853
@yaohaizh can you start looking into this one?

[2019-03-04 19:41] fractalic commented on #922
Hi @snjeza . `<project>/.settings/org.eclipse.buildship.core.prefs` does exist, and my GRADLE_USER_HOME is set to /Users/ben/.gradle.

However, I think I've found the source of the issue:
`gradle.user.home` in `<project>/.settings/org.eclipse.buildship.core.prefs` is set to `gradle.user.home=/Users/ben/.sdkman/candidates/gradle/current` (which contains a gradle executable but does not contain any

[2019-03-04 20:31] snjeza commented on #922
@fractalic try the following:
[code]

I think that sdkman set GRADLE_USER_HOME to ~/.sdkman/candidates/gradle/current.

[2019-03-04 20:51] tinaschrepfer opened #949 "On-Type Formatting doesn't seem to work for VS Code extension"
Seems like on-type formatting doesn't work for the 0.40 version of the Language Support for Java VS Code extension.  When I enter "}" on a line like this, the block isn't formatted:

`public static void help() {ArrayDemo.ArrayHelp(5);ArrayDemo.ArrayHelp(6);Five();}`

[2019-03-04 21:16] fbricon commented on #949
works for me
![mar-04-2019 16-15-22](https://user-images.githubusercontent.com/148698/53763421-c30ef800-3e98-11e9-9b42-1fdee608d164.gif).

Can you attach your [server log](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs)?

[2019-03-05 00:01] fractalic commented on #922
@snjeza following those steps, my buildship pref points to sdkman, even though my environment variable does not:
[code]

[2019-03-05 00:14] snjeza commented on #922
[code]

[2019-03-05 00:24] fractalic commented on #922
aha yes that works!

[2019-03-05 00:28] fractalic commented on #922
Do you have a suggestion for how I can make that fix permanent?

[2019-03-05 00:38] snjeza commented on #922
You can unset GRADLE_HOME

[2019-03-05 02:32] #922 closed

[2019-03-05 10:04] testforstephen commented on #736
@jjohnstn Thanks for the information. Having a try. Will update the status if everything goes well.

[2019-03-05 13:09] testforstephen commented on #736
@jjohnstn i have one question about the testing. In addition to unit test, how can i manually verify my change locally?

[2019-03-05 13:23] testforstephen commented on #736
Tried "Debug as Eclipse Application", the new change is hit.

[2019-03-05 15:17] ishepard opened #951 "Count tab as 4 characters and not 1"
When asking for a definition, the server seems to count tabs as 1 character, instead of the classic 4.

When using other LSP servers (as well as the majority of IDEs) they count Tabs as 4 characters. Am I doing something wrong? Is there a setting somewhere?

As an example, I was getting the definition of the variable "range" in this [line](https://github.com/ishepard/repodriller/blob/9d1658c428434

[2019-03-05 19:39] jurec77 opened #952 "Remove or turn off org.eclipse.jdt.core.compiler.release=disabled"
I can not totally turn off or remove this line in ->.settings/org.eclipse.jdt.core.prefs---->org.eclipse.jdt.core.compiler.release=disabled
The reason why I need it to remove, it does not allow one of cucumber plugin working as it should be! On my other laptop, I do not have this line and everything works perfectly! Project the same!
Thank you!

[2019-03-06 11:37] testforstephen commented on #736
Submitted a gerrit patch https://git.eclipse.org/r/#/c/138149/. But the build failed at an irrelevant test case. I tried rerun the failed case locally and it passed.

@jjohnstn Is there any way to rerun the ci job for gerrit patch?

[2019-03-06 14:39] #947 closed

[2019-03-06 19:50] jjohnstn commented on #736
You can't rerun unless you are a comitter (it is annoying).  The ways to do this are either to wait until another patch is committed and then rebase or else make a small change (e.g. change a comment) and update the gerrit patch (keeping the same changeid).

[2019-03-07 01:52] testforstephen commented on #736
Got that. Roland has helped re-trigger the build. Thanks.

[2019-03-07 15:49] vasiltabakov commented on #951
I'm not one of the contributors... but this sounds rather strange... Which IDEs count tabs as 4 characters? And what do you mean "count"?

[2019-03-08 11:47] yaohaizh commented on #951
Seems confuction as @vasiltabakov .  @ishepard Could you provide more information?

[2019-03-09 22:13] mz-gh opened #954 "Cannot build Core"
Hi!

The following error happens when trying to build (openSUSE Tumbleweed, using openJDK 8):
[code]

As I have seen the above mentioned field has been removed from JavaBuilder.java in this commit:
https://github.com/eclipse/eclipse.jdt.core/commit/f130788d4def96e08510f33bfc111f61e9a63fd9

Cheers!

[2019-03-11 18:15] #954 closed

[2019-03-11 21:32] #168 closed

[2019-03-12 05:10] oakad opened #956 "Generic user configurable project/class path discovery interface"
Presently (and please correct me if I'm wrong) JDT.LS can obtain information about the project source sets and their dependencies via 3 possible channels:

1. Eclipse .project/.classpath files which are not properly documented and are not really useful for anything outside of Eclipse ecosystem (and even when using Eclipse various plugins offer better choices for project organization)
2. Maven inte

[2019-03-12 12:01] ishepard commented on #951
Sorry for not being clear before 😄
so, let's take the example I presented before, this [file](https://raw.githubusercontent.com/ishepard/repodriller/9d1658c4284347871cd6f7ddb3534b416959a2ff/src/main/java/org/repodriller/RepositoryMining.java). If we copy-paste it in an IDE (I tried both Eclipse and Sublime Text) and we go in **line 122**, if we put the cursor on the "**r**" of "**this.range**" we

[2019-03-12 12:10] vasiltabakov commented on #951
Columns and characters are different things. Tabs are single character but "take" 4 columns, while most characters take a single column. That's why in Monaco positions use 'columns' while the LS needs characters (as per spec).

If you open up a Chrome console you can verify that a tab length is 1:
![image](https://user-images.githubusercontent.com/1178309/54198865-3388cb00-44d0-11e9-9862-aaea10c20

[2019-03-12 12:26] ishepard commented on #951
thank you @vasiltabakov for the explanation!
so it appears that the LS needs characters, not columns, so the behaviour is correct.
Apparently I opened the thread in the wrong LS: I was comparing this one with the LS of python ([here](https://github.com/palantir/python-language-server)) and they use columns instead. I am gonna open a thread there then 😄

[2019-03-12 12:26] #951 closed

[2019-03-13 10:25] xqliu commented on #232
Dears,

is there any update or something we could do to move this ticket forward?

this is really a very handy feature.

[2019-03-13 23:04] deduper opened #957 "Gradle, JigSaw & Language Support For Java Issue"
**vscode** : 1.32.1
**Java Extension Pack** 0.6.0
**Language Support For Java**: 0.40.0
**java.home in settings.json** : Path to JDK 9 Home
**Java runtime**: Java(TM) SE Runtime Environment (build 9.0.1+11)
**OS**: Windows 7
**Gradle**: v5.2.1

**Steps to Reproduce**

1. Install JDK 9 or higher
2. [_**Download the source code**_](https://github.com/gradle-guides/building-java-9-modules/) that acco

[2019-03-14 01:45] snjeza commented on #957
You can try the following patch:

[code]

[2019-03-14 03:12] deduper commented on #957
Hey how 'bout that! It works! Thanks :+1:

![vscode java issue 957 problems 0](https://user-images.githubusercontent.com/21254896/54328500-0cccb080-4606-11e9-8e27-fe2e4798e3e7.png)

I actually saw @HoldYourWaffle's [_original post of that_](https://github.com/eclipse/buildship/issues/658#issuecomment-372814050) right before I wrote my post.

But I thought his solution was only applicable to Eclips

[2019-03-14 03:12] #957 closed

[2019-03-14 03:35] snjeza commented on #957
@deduper, @HoldYourWaffle this patch also enable the tests.

[2019-03-14 12:53] deduper commented on #957
Pretty neat!

To show my gratitude to the community for solving this for me after hours of fruitless frustration, I will share the following heads-up with any fellow Windows users who might run into errors (_like I did_) when trying to apply @snjeza's patch:

Before actually applying the patch, do a dry run to check if it's good-to-go...

1. Copy, paste and save the patch text to a file in the roo

[2019-03-15 13:15] fbricon opened #959 "Add Java 12 support"
Need to pick up new JDT bits supporting Java 12

[2019-03-15 15:01] fbricon opened #960 "Make ParentProcessWatcher optional"
Similar to https://github.com/angelozerr/lsp4xml/issues/328.  The parent process watcher is extremely inefficient, specially on windows. If the client guarantees, the jdt.ls process won't survive after its parent process is killed, then it could decide to disable the parent process watcher mechanism altogether with `-DwatchParentProcess=false`

[2019-03-15 15:03] fbricon commented on #952
please attach a sample project reproducing the issue

[2019-03-18 22:08] #960 closed

[2019-03-19 08:41] Poytr1 opened #963 "NavigateToDefinitionHandler doesn't check null which will cause NullPointerException"
This issue is related to: https://github.com/eclipse/eclipse.jdt.ls/pull/879
https://github.com/eclipse/eclipse.jdt.ls/blob/ca81aa7b935b52c0aff7624fa9f330c832578233/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/NavigateToDefinitionHandler.java#L79
The `location` here may be `null`, and if it is, a `NullPointerException` will be thrown which isn't caught as well.

The intere

[2019-03-19 10:08] Poytr1 opened #964 "`java.project.addToSourcePath` command should be allowed in gradle/maven project"
This issue is related to https://github.com/eclipse/eclipse.jdt.ls/pull/859

https://github.com/eclipse/eclipse.jdt.ls/blob/ca81aa7b935b52c0aff7624fa9f330c832578233/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/commands/BuildPathCommand.java#L45

Currently jdt-langserver doesn't allow users to add folder to source path if the project is a Maven/Gradle project which doesn't make sens

[2019-03-19 10:43] yaohaizh commented on #963
@Poytr1 Would you open a PR for this issue?

[2019-03-19 11:26] Poytr1 commented on #963
Sure

[2019-03-20 13:58] #952 closed

[2019-03-20 19:10] fbricon commented on #694
I missed the missing region delimiters folding support, before  merging #962.
@yaohaizh can you please add support for:
- `//#region` and `//#endregion`
- `//region` and `//endregion`
- Netbeans format : `// <editor-fold desc="Description">` and `// </editor-fold>`

[2019-03-21 01:55] JayceCao opened #967 "jdt.ls cannot autocomplete third-party libraries"
Editor: neovim 0.4.0-DEV with coc-java.
OS: Archlinux.
build tool: Gradle.
Gradle version:
[code]
build.gradle:
[code]

project structure:
[code]

log:
[code]

.project in data directory:
[code]

.classpath in data directory:
[code]

Please help me... I haven't found a solution for a long time.

[2019-03-21 02:06] yaohaizh commented on #694
Interesting. Should we support the //#region and //#endregion? It is a C# grammar.

[2019-03-21 02:11] yaohaizh commented on #967
In which scenario the auto complete doesn't work?

[2019-03-21 02:17] JayceCao commented on #967
When I use objects and functions from third party libraries. For example:
[code]
the variable `options` is a `Options` object from `org.apache.commons.cli`. When I insert `options.`, it cannot show the methods of `Options`, such as `addOption`.

[2019-03-21 02:28] yaohaizh commented on #967
![image](https://user-images.githubusercontent.com/17268517/54730437-ed182800-4bc3-11e9-9895-ea090b6e9e44.png)

It works from VScode Java. It might an issue of neovim.

[2019-03-21 03:33] fbricon commented on #694
yup, just so that we keep feature parity with the current vscode-java implem

[2019-03-23 04:05] brookhong opened #969 "How to talk to the jdt.ls started from command line?"
I started the program following the guide from https://github.com/eclipse/eclipse.jdt.ls/blob/master/README.md, but then how can I send a command to the server?

After I started the program, it outputs

    {"jsonrpc":"2.0","method":"window/logMessage","params":{"type":3,"message":"Mar 23, 2019 11:48:49 AM Main thread is waiting"}}

Then I input below

    Content-Length: 357\r\n\r\n{"id": "1", "j

[2019-03-23 14:13] JayceCao commented on #967
Seems that it's the problem of my configuration :(

[2019-03-23 14:13] #967 closed

[2019-03-23 18:17] vasiltabakov commented on #969
Do you actually enter two CRLF from the keyboard or _write_ `\r\n\r\n`?
You should use the keyboard (as in hit Enter two times).

Here's a demo:
![hCHQrukN6l](https://user-images.githubusercontent.com/1178309/54869948-74be8c00-4da8-11e9-8a1b-fb9ced37ad2f.gif)

What I do is to copy paste text two times:
[code]
The frist time `Content-Length: 357` and then using the keyboard I hit 'Enter' two times

[2019-03-24 02:54] brookhong commented on #969
Thanks a lot!  I got the payload from `ycmd`, not aware of that it should not be literally `\r\n`.

[2019-03-24 02:54] #969 closed

[2019-03-24 23:54] orlandoc01 commented on #967
@JayceCao I'm also using Vim and have the same issue, did you figure out how to resolve this?

[2019-03-25 00:29] JayceCao commented on #967
Update plugins first. Then configure the value of `GRADLE_USER_HOME` shell environment variable to  your home `.gradle` directory. Clear the `$HOME/.gradle/wrapper/dists` directory.
Hope it will work for you.

[2019-03-26 00:05] #959 closed

[2019-03-26 19:51] #963 closed

[2019-03-26 19:52] #694 closed

[2019-03-27 02:01] sluongng opened #971 "is there a MapStruct support"
Hi,
I am currently using the following setting for Lombok

[code]

Is there a similar way to setup so that jdt.ls works with MapStruct also?

Thanks

Reference: http://mapstruct.org/

[2019-03-27 02:54] testforstephen opened #972 "Add code action to generate constructors"

[2019-03-27 13:27] fbricon commented on #617
Even though ambiguous imports are now better handled (if the client supports it), see #966, we still need those type filters for content assists and quick fixes.

[2019-03-27 13:50] fbricon commented on #971
I tested https://github.com/mapstruct/mapstruct-examples/tree/master/mapstruct-field-mapping in VS Code, it should have worked OOTB, but didn't generate any mapper. While this works in Eclipse. So I'd say we have an issue

[2019-03-27 14:59] rgrunber commented on #736
The changed was merged and should be in the next I-build of JDT.

[2019-03-27 20:41] fbricon commented on #971
Ok so there's a nasty classloading issue when you combine the lombok java agent and mapstruct annotation processing: https://github.com/mapstruct/mapstruct/issues/1159
There's nothing we can do at the jdt.ls level at that point, the problem needs to be fixed upstream

[2019-03-27 20:43] fbricon commented on #971
Mapstruct annotation processing works as expected, when the lombok java agent is removed from the jdt.ls VM arguments

[2019-03-27 23:04] fbricon commented on #959
From https://github.com/eclipse/eclipse.jdt.ls/pull/970:

[2019-03-28 01:46] sluongng commented on #971
thanks a bunch for the investigation, I will keep these 2 issues under watch 👍

[2019-03-28 01:54] sluongng commented on #971
For those who are seeking temp solution to this, check out https://github.com/rzwitserloot/lombok/issues/1359#issuecomment-364235169

[2019-03-31 15:23] vasiltabakov opened #973 "Feature request: Auto import CompletionItem-related classes"
It would be great if overriding methods with non-empty signatures via `textDocument/completion` → `completionItem/resolve` would also auto-import the parameter classes if needed.

Here's an example of the current functionality:
![2019-03-31_18-20-09](https://user-images.githubusercontent.com/1178309/55290905-ba4f0a80-53e1-11e9-8b17-de25ad7b6507.gif)

Per spec the CompletionItem returned from the L

[2019-03-31 15:41] fbricon commented on #973
That's an interesting use case. But most of the completion mechanics come from upstream JDT. I don't know how easy that would be to implement

[2019-04-01 06:37] testforstephen commented on #736
@rgrunber Great, thanks. Will try to finish the change on jdt.ls side.

[2019-04-02 14:25] fbricon commented on #973
So I checked and I see this already works as expected in vscode. Which client are you using?

[2019-04-02 14:27] vasiltabakov commented on #973
Ha, that's interesting. Using our own IDE, will track the code in VSCode to find out why it's working there. Getting the feeling it's something in the client (VSCode), because the LS response doesn't have any additionalEdits. Will update this with my findings, thanks

[2019-04-02 14:29] fbricon commented on #973
I see your screencast shows some Android stuff, which is definitely not properly supported by JDT.LS. You might want to check with a simpler kind of project.

[2019-04-02 15:20] vasiltabakov commented on #973
We found ways to handle the Android dependencies.

Anyway, it seems it's a problem in our client. We're skipping the `workspace/executeCommand` step and directly executing the edits in Monaco. In VSCode the client sends `workspace/executeCommand` and in the LS response there are `additionalTextEdits`.

Because we're using Monaco it's not easy to have the `java.apply.workspaceEdit` and in all other

[2019-04-02 15:32] fbricon commented on #973
Do you mind sharing how you handle Android dependencies?

As for the specific command, we need to revisit to see if the protocol offers a better alternative

[2019-04-02 18:12] vasiltabakov commented on #973
About the Android deps:
We create an Eclipse project with the .classpath set from our own Gradle plugin which in itself uses Android's Gradle plugin. It's a bit ugly but is all we need while we develop other parts of the app. We'll eventually have to fork Buildship and/or create a plugin for it (if that's an option).

About the other thing - will update this issue when I have more info about the /

[2019-04-02 20:45] snjeza commented on #824
I have imported the che project (https://github.com/eclipse/che) to Che 7 in the following way:

- started minikube
[code]
- started che
[code]
- created Che 7 with 3g and the following configuration:
[code]

- started Che 7 without any projects
- logged to a Che 7 container and created the following files:
a) /projects/settings.xml
[code]
The Che 7 workspace uses the '/root/.m2' maven local repos

[2019-04-03 07:17] vasiltabakov commented on #973
Well, as it often happens it was a case of a PEBCAK.
The conversion of the LS response to monaco wasn't done properly and missed the `additionalTextEdits`.

Here's a now working example
![2019-04-03_10-14-28](https://user-images.githubusercontent.com/1178309/55459996-85b59b80-55f9-11e9-9f2b-6f1aacb1aec1.gif)

Anyway the discussion was certainly worth it, closing this as there can't be a feature re

[2019-04-03 07:17] #973 closed

[2019-04-04 12:38] scela opened #977 "Completion should provide code snippets (sysout/syserr/...)"
![r](https://user-images.githubusercontent.com/829239/55556151-2766e680-56e7-11e9-8c09-a772fea47ac1.gif)

See image. This was reproduced on che.openshift.io but it seems that that doesn't make a difference.

[2019-04-04 12:51] fbricon commented on #977
this is not a jdt.ls issue, as that snippet comes directly from vscode-java. It is pretty dumb and blindly injects the full snippet at the cursor location.
So I won't close it but instead will turn it into a "provide sysout/syserr snippets" enhancement request. We'll then be able to remove the dumb snippets on the vscode-java side.

[2019-04-04 13:37] fbricon commented on #736
@testforstephen so I'll target this one for the next release. Let me know if we need to punt it to the next one

[2019-04-04 13:39] fbricon commented on #972
@testforstephen is everything we need available in jdt.core?

[2019-04-04 13:40] fbricon commented on #972
Depending on the availability of the upstream API, I'll let @yaohaizh target the proper milestone.

[2019-04-04 13:45] fbricon commented on #964
For Maven and Gradle project, the "truth" comes from the build descriptor. So adding new source folders from the IDE would likely introduce an impedance mismatch with CLI builds, if those folders are not defined as well. So I'd rather prefer we fixed potential issues with jdt.ls not adding source folders when it should, rather than introduce than providing more ways to users to shoot them in the f

[2019-04-04 13:57] fbricon commented on #956
JDT doesn't allow loading user classes into its own internal build process, so what you suggest is most likely not doable.
We should definitely decouple jdt.ls core from maven and gradle and expose more extension points, to make integration with other build tools easier but, eventually, you'll need to provide Bazel or Buck or whatever build system support as an OSGi bundle, hooking into JDT.

[2019-04-04 15:16] testforstephen commented on #736
i should have time to do it in next week.

[2019-04-04 15:28] testforstephen commented on #972
Some part of the generation logic has moved to jdt.core, some part is still in jdt.ui. We may need submit a patch to move all of them to jdt.core.

[2019-04-04 21:56] fbricon commented on #977
Would love to see systrace exposed to jdt.ls too: https://twitter.com/EclipseJavaIDE/status/1113723686148767744

[2019-04-04 22:18] snjeza opened #978 "Java LS should lock its workspace"
Steps to reproduce:

- start Java LS in Che 7
- open a Che 7 workspace in two browser's tabs
- log in to the plugins sidecar

You will see that the Java LS server has been started twice in the same workspace.

[2019-04-04 22:32] fbricon opened #979 "Download java sources lazily"
As described in https://github.com/eclipse/eclipse.jdt.ls/issues/824#issuecomment-479193558, eagerly downloading sources causes serious performance issues when working with large projects.
@snjeza prototyped lazily downloading sources in [SourceContentProvider](https://github.com/snjeza/eclipse.jdt.ls/commit/b372792d379e767498eaebc3f4fb2b68dc66cb18#diff-7e6dd0466e034c26de0e5ec81f97d26a), as descri

[2019-04-04 22:35] fbricon commented on #979
Best place to lazily trigger source download on hover would be in HoverInfoProvider IMHO. Need to check that element.getOpenable().getBuffer() == null and we have already tried to perform a download (so attempts should be cached/recorded)

[2019-04-04 22:39] fbricon opened #980 "Optimize compilation unit computations"
As described in https://github.com/eclipse/eclipse.jdt.ls/issues/824#issuecomment-479193558, a number of optimizations related to the way jdt.ls computes CompilationUnits could be implemented:

[2019-04-04 22:45] fbricon opened #981 "Optimize server initialization"
As described in https://github.com/eclipse/eclipse.jdt.ls/issues/824#issuecomment-479193558, a number of optimizations related to the server initialization could be implemented:

The part with the file watchers is actually related to #926

[2019-04-04 22:51] fbricon opened #982 "Batch Maven project imports to reduce memory consumption"
As described in https://github.com/eclipse/eclipse.jdt.ls/issues/824#issuecomment-479193558, the Maven project import mechanism could be optimized in the following ways:

[2019-04-04 23:01] fbricon commented on #824
So I've opened several sub-issues related to @snjeza's proposal:
[ ] #979 Download java sources lazily for item 8
[ ] #980 Optimize compilation unit computations for items 1, 2, 3
[ ] #981 Optimize server initialization for items 4, 5, 6, 7
[ ] #982 Batch Maven project imports to reduce memory consumption for item 9

[2019-04-05 00:53] oakad commented on #956
I have looked into OSGi bundles but the whole process of making and deploying them made me immediately upset. :-)

Plan B, in this case, is to turn the ".project/.classpath" files into something like "javaLangServ.xml" with properly maintained and explicit schema + semantics and make it possible to put such files elsewhere, not within the source tree itself (kind of copying the way C++ language se

[2019-04-05 06:55] tsmaeder commented on #824
I salute the efforts to make notification processing more efficient. However, on big ticket item that I don't see here is the offloading from the message handling thread.
One big problem with change notification is that it is blocking the handling of requests from the client, because the message queue is full of file change notifications.
So what's the plan on that one?

[2019-04-05 14:44] snjeza commented on #824
I think that is an upstream issue. See https://github.com/redhat-developer/vscode-java/issues/867. The issue has been fixed in VS Code 1.33.

[2019-04-08 08:49] tsmaeder commented on #824
From reading the issue, I don't think this is the same: the issue mentions cloning the project, then opening the cloned project folder. The scenario I'm thinking of is adding a project to an already open folder, thus creating boatloads of "file added" notifications.

[2019-04-08 13:28] Yanpas commented on #847
Finally I've pointed out the reason of lags. No matter how much edits you do to the current file and how often do you save it.

1. Open large project and one java file
2. Try to edit some lines of code : cut and paste, request autocompletion. It should be fast
3. Open any ten files in the same project, don't touch them, just open
4. Repeat step 2, performance will get terribly slow. (I see Validat

[2019-04-08 15:15] snjeza commented on #824
@tsmaeder It is related to #901. I will test it.

[2019-04-09 00:29] fbricon opened #987 "Provide "Extract interface" refactoring"
Now that we're starting to master advanced code actions requiring some user input (See override methods, organize imports), we should be able to provide an "Extract interface refactoring", where you basically select all the methods of a class you want to extract into an interface and a FQCN, and a new interface is generated, the current class implementing it.

[2019-04-09 17:22] Yanpas commented on #847
It also looks like closing files gets good performance back. I've made two profiling samples: 1 (one file opened) and M (about 12 files opened):

[tmp.zip](https://github.com/eclipse/eclipse.jdt.ls/files/3060203/tmp.zip)

[2019-04-09 17:59] snjeza commented on #847
@Yanpas could you test https://raw.githubusercontent.com/snjeza/vscode-test/master/java-0.43.1.vsix ?

[2019-04-09 18:09] Yanpas commented on #847
@snjeza yeah, much better, I think it resolves this issue.

[2019-04-09 18:10] fbricon commented on #847
@snjeza which changes are in your custom build? all of the pending PRs?

[2019-04-09 18:13] #979 closed

[2019-04-09 18:24] snjeza commented on #847
@fbricon I have created a new PR.

[2019-04-09 19:43] #847 closed

[2019-04-09 20:01] #980 closed

[2019-04-09 22:19] fbricon opened #990 "InvalidInputException in FoldingRangeHandler.computeFoldingRanges"
I'm not able to reproduce the issue, but after opening https://github.com/magefree/mage/blob/master/Mage/src/main/java/mage/counters/BoostCounter.java, jdt.ls threw an InvalidInputException at me in  FoldingRangeHandler.computeFoldingRanges:

[code]

[2019-04-09 22:47] #981 closed

[2019-04-11 07:23] cedric05 commented on #987
i want to work on it, but it seems to be too big for fresher.
is there any good-first-issue?.

[2019-04-11 14:34] fbricon commented on #926
Fixed with #981

[2019-04-11 14:34] #926 closed

[2019-04-11 16:31] fbricon commented on #695
@kittaakos does Theia support the deprecated flag?

[2019-04-11 16:55] kittaakos commented on #695
Not yet.

[2019-04-11 22:04] puremourning commented on #803
Is that a default in the server-side, or the VSCode client ?

ycmd does not override any settings for jdt.ls by default and I would be very surprised if any user was setting any of them using the mechanism we support to set them

[2019-04-13 08:05] testforstephen commented on #846
Cannot reproduce it in my environment.
@fbricon Is this still existing in your workspace?

[2019-04-13 14:44] fbricon commented on #846
The getters/setters fix is now a source action, which fixes this particular issue. No quickfix is proposed in Eclipse either in that particular case, so at least the behavior is consistent.

[2019-04-13 14:44] #846 closed

[2019-04-13 15:00] fbricon opened #992 "Add advanced "Generate getters and setters..." source action"
If a class has more than one field, and the client supports it, we should provide a way to select which fields will be used for getters/setters generation (similar to equals/hashcode selection).
The source action label should have the ellipsis (...) showing a dialog will be opened after selecting the action.
Clients that don't support the prompt workflow would receive the legacy source action.
Sou

[2019-04-13 15:09] fbricon commented on #923
This is a non-trivial task and we currently don't have the bandwidth to address this issue. The buildship team [doesn't plan on supporting it](https://bugs.eclipse.org/bugs/show_bug.cgi?id=468315#c2).
Now, if you'd like to contribute, I suggest you start looking into the buildship [project configurator API](https://github.com/eclipse/buildship/issues/326).

[2019-04-15 08:38] testforstephen commented on #972
Create a gerrit patch to refactor the upstream code. https://git.eclipse.org/r/#/c/140580/

cc @rgrunber and @jjohnstn

[2019-04-15 15:37] fbricon opened #993 "Error on document close, after renaming a file"
In vscode 1.32.3 (1.33 has the same problem but has [issues of its own](https://github.com/Microsoft/vscode/issues/72343)), after renaming a type, when you save the file (which has been renamed) the server throws an exception in JDTLanguageServer.didClose:

[code]

[2019-04-15 20:12] snjeza opened #994 "[regression] Importing maven projects"
#984 causes performance degradation  when importing a big maven project using an existing maven repository

[2019-04-15 20:36] fbricon commented on #993
@snjeza I could reproduce this issue with vscode-java 0.35.0, so it not a new problem

[2019-04-15 21:48] JulioJu commented on #581
@fbricon maybe it could be cool to write a short paragraph in the README.md to explain how to manage warning preferences ?

And add a link to the corresponding doc at https://help.eclipse.org/neon/topic/org.eclipse.jdt.doc.isv/reference/api/org/eclipse/jdt/core/JavaCore.html ?

[2019-04-15 23:01] #994 closed

[2019-04-15 23:02] #736 closed

[2019-04-16 19:19] snjeza opened #996 "Tests fail on Windows"
[code]

[2019-04-17 17:11] yyoncho commented on #686
@gorkem @fbricon how do I use kind to distinguish the action kinds given the fact that a lot of the code actions have the same kind "quickfix"? For example, I want to bind `Add throws declaration` to a shortcut.

[2019-04-19 14:36] Yanpas opened #1003 "Completion is buggy"
If I type `getColumnLatest` and then type `C` all completions disappear:
![image](https://user-images.githubusercontent.com/7345761/56428809-62f9d700-62c9-11e9-8c7f-b76c4233a2d5.png)
![image](https://user-images.githubusercontent.com/7345761/56428849-845ac300-62c9-11e9-819d-46f53acdf67e.png)

[2019-04-19 15:05] snjeza commented on #1003
Could you, please, provide a sample project?

[2019-04-19 17:25] Yanpas commented on #1003
build.gradle:
[code]

src/main/java/Hello.java:
[code]

[2019-04-19 17:53] snjeza commented on #1003
I can't reproduce the issue.

![1003](https://user-images.githubusercontent.com/388609/56436631-ce00d900-62dc-11e9-853f-94f52609ea94.png)

[2019-04-19 18:03] snjeza commented on #1003
Could you specify your OS, VS Code, VS Code Java and JDK versions?

[2019-04-19 18:45] Yanpas commented on #1003
Ubuntu 19.04, vscode 1.33, openjdk 11, extension 0.43

[2019-04-19 19:23] snjeza commented on #1003
I have tested on Fedora 29, the same VS Code/JDK.
Could you set the following:
[code]
and get the logs from the output view?

[2019-04-20 08:47] Yanpas commented on #1003
Currently not at the work. I installed previously 0.43.1 for debug purposes of issue #847 , maybe server wasn't upgraded so maybe I need completely reinstall the extension

[2019-04-22 07:34] jdneo opened #1004 "An exception occur when peek implementation"
If the return type is a generic type and the user peek the implementation of it, an exception could be observed in the output channel.

See:
![issue](https://user-images.githubusercontent.com/6193897/56489339-02120f00-6514-11e9-936e-64cef3199324.gif)

This is not a big problem, but it could be better if the Language Server could handle the exception instead of throwing it to the client side.

[2019-04-22 09:57] Yanpas commented on #1003
Reinstall didn't help.

Here is the output:
[code]

[2019-04-22 12:17] fbricon commented on #1003
Please uninstall Microsoft's Intellicode extension and try again

[2019-04-22 13:31] Yanpas commented on #1003
That helped

[2019-04-22 13:34] fbricon commented on #1003
@Yanpas thanks. Could you please report the problem at https://github.com/MicrosoftDocs/intellicode/issues (cc @yaohaizh, @testforstephen)

[2019-04-22 13:34] #1003 closed

[2019-04-23 03:16] bgx90 opened #1006 "OpenJDK 11 javadoc not returned on hover"
I am running Debian testing with OpenJDK 11. I am using Neovim v0.3.4. Lately, jdt.ls has not been returning javadoc from the OpenJDK 11 doc package in hover responses. For example, if I hover on the keyword `String`, I do not get the javadoc for `String`. Instead I get this:
![image](https://user-images.githubusercontent.com/7351168/55675103-25398f00-5883-11e9-8470-456076818e90.png)
I had it work

[2019-04-23 22:00] #1004 closed

[2019-04-25 09:09] tsmaeder commented on #978
How does VSCode Java prevent this?

[2019-04-25 13:26] fbricon commented on #1006
Can you try with VS Code?

[2019-04-25 14:21] linushka opened #1008 "'unknown extension point'"
When creating the project from the given jdt archetype; running the project gives unknown point; org.eclipse.jdt.ls.core.delegateCommandHandler, it does build but how can I fix this issue?

[2019-04-25 14:33] fbricon commented on #1008
Try importing jdt.ls sources into you workspace

[2019-04-25 14:40] linushka commented on #1008
how can I do that?

[2019-04-25 15:16] fbricon commented on #1008
- git clone https://github.com/eclipse/eclipse.jdt.ls
- import eclipse.jdt.ls as a Maven project in Eclipse
- install required m2e extensions (Tycho connector)
- Either create the jdt.ls extension from archetype or import it as a Maven project in Eclipse

If your problem is elsewhere, please provide more details on what you're doing exactly.

[2019-04-25 15:16] yyoncho opened #1009 "Typing () returns wrong set of signatures (textDocument/signatureHelp)"
[code]

when the cursor in on `|` I think that the server returns all methods that are in the current scope(class).

[2019-04-25 15:51] bgx90 commented on #1006
I installed VS Code and the Language Support fo Java by Red Hat extension. I still don't get JDK javadoc when I hover.

Hovering on `String`:
![image](https://user-images.githubusercontent.com/7351168/56749055-9794e500-6746-11e9-90b9-5d38519f66f2.png)

Hovering on `System.out.println()`:
![image](https://user-images.githubusercontent.com/7351168/56749395-42a59e80-6747-11e9-88e2-e5f7548cab40.png)

[2019-04-25 16:45] snjeza commented on #978
VSCode prevents this, but not VSCode Java.

[2019-04-25 16:51] snjeza commented on #878
I can't reproduce the issue anymore.

[2019-04-26 06:05] linushka commented on #1008
Hi, thankyou for your quick response.
I'm trying to make a jdt extension on the language server. I created the project from the archetype and managed to get it to mvn clean , install and verify. But it gave me the error that the extensionpoint is not known.

I have imported eclipse.jdt.ls and have the required m2e extension. But importing it into my project gives me a lot of errors like "Workspace

[2019-04-26 06:38] yyoncho opened #1011 "Incorrect completions when completing in function invocation"
[code]

Invoke completion when the cursor is at `|`.

Actual:

[code]

[2019-04-26 11:10] linushka commented on #1008
Hi,

I am trying to make the jdt.ls exentsion work from the given archetype. I imported the eclipse.jdt.ls as a Maven project but it doesnt seem to find the extension point. The error is stillt he same 'unknown extension point; org.eclipse.jdt.ls.core.delegateCommandHandler.

[2019-04-26 20:10] fbricon commented on #1011
This can be reproduced in Eclipse IDE itself. The difference is the `append` method is not inserted in Eclipse. Returning this proposal doesn't make sense, even more so if selecting it is supposed to be a no-op. The weird thing is, if instead of 0, the 2nd parameter is `intValue`, then no completion is returned! I need to see if a bug has already been opened in JDT.

[2019-04-26 20:20] fbricon commented on #1009
Same behavior in Eclipse IDE. Note that `true`/`false` are also proposed.
I could understand returning non-void methods, as you can make a boolean statement out of any method call that returns something, but even the void methods are returned here. So it looks like a JDT bug. Need to check/open for a matching ticket in JDT.

[2019-04-26 20:24] fbricon commented on #1009
Same behavior in Intellij IDEA, so it might be done on purpose after all

[2019-04-26 20:35] fbricon commented on #1009
IntelliJ IDEA also has a smart completion mode where only items matching the expected type are returned. Which would be nice to have too. See https://www.jetbrains.com/help/idea/auto-completing-code.html#smart_completion

[2019-04-26 20:37] yyoncho commented on #1009
@fbricon signatureHelp is not intended to suggest methods no matter whether they are matching or not but it should describe the function call at the point. So in this case, the server should return empty set since () does not stand for function invocation.

[2019-04-26 20:40] fbricon commented on #1009
mmmok I didn't realize you were talking about signatureHelp ;-)

[2019-04-26 20:40] yyoncho commented on #1009
Yep, I fixed the title.

[2019-04-26 20:42] fbricon commented on #1009
I can reproduce the problem. Indeed it doesn't make sense to return methods here.

[2019-04-27 08:25] yyoncho opened #1012 "CompletionItem.kind is incorrect for interfaces"
[code]

Runnable is interface and jdt ls should return kind = 8(interface) not kind = 7(class)

[2019-04-27 15:55] vasiltabakov commented on #819
Experiencing this too, very intermittent. Will provide more details if I can.

[2019-04-27 16:46] vasiltabakov commented on #1012
I can confirm the issue exists. Altho it seems to be a JDT thing:
https://github.com/eclipse/eclipse.jdt.ls/blob/fc6b40e58808d23a324628a1e79e50f117c534de/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/contentassist/CompletionProposalRequestor.java#L51

`CompletionItemKind.Interface` is not in the supported kinds. No idea why. `CompletionProposal`s have flags and it should be easy to

[2019-04-27 17:39] aureumleonis opened #1013 "Log file paths in errors from buildWorkspace"
Not sure if the attributes are available but it'd be really nice to see the error location (path, line number) along with these: https://github.com/eclipse/eclipse.jdt.ls/blob/c7967e7f6be6091494316d502f6b649a84f236c5/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/BuildWorkspaceHandler.java#L100

[2019-04-28 16:13] fbricon commented on #1012
We don't always write perfect code ;-)

And yes, it's pretty easy to fix once we use CompletionProposal.getFlags():

<img width="694" alt="Screen Shot 2019-04-28 at 12 12 12 PM" src="https://user-images.githubusercontent.com/148698/56867059-e0e76d80-69ae-11e9-9bf0-8571b066367f.png">

[2019-04-29 20:19] #1012 closed

[2019-04-29 22:47] fbricon commented on #878
Still occuring:
- https://ci.eclipse.org/ls/job/jdt-ls-master/627/testReport/junit/org.eclipse.jdt.ls.core.internal.handlers/WorkspaceDiagnosticsHandlerTest/testResetPomDiagnostics/
- https://ci.eclipse.org/ls/job/jdt-ls-master/625/testReport/junit/org.eclipse.jdt.ls.core.internal.handlers/WorkspaceDiagnosticsHandlerTest/testResetPomDiagnostics/

[2019-04-30 08:59] #1008 closed

[2019-04-30 16:30] #992 closed

[2019-04-30 18:35] fbricon opened #1017 "Signature Help doesn't correctly detect the active signature"
When calling the signatureHelp feature on an existing method call (`Trigger Parameter hint` command in vscode), the wrong signature is selected initially. Here the cursor is on "a":

<img width="359" alt="Screen Shot 2019-04-30 at 2 29 03 PM" src="https://user-images.githubusercontent.com/148698/56984579-593b6380-6b54-11e9-998e-7a90fcb2ba26.png">

Currently, the server returns the 1st method that

[2019-04-30 18:44] fbricon commented on #255
The completionItem is no longer returned. Which is fine for now, but ultimately, when we want the completion item to be automatically insert a method stub, we'll need it. Also, in order for that completion stub to work, we'll need to always return incomplete results, so that the server returns updated completion items as you keep typing.

[2019-04-30 20:36] #1013 closed

[2019-04-30 21:44] #1009 closed

[2019-05-01 20:16] #1017 closed

[2019-05-02 10:59] churlinpr commented on #913
I'm witnessing it too

[2019-05-02 13:23] Risto-Stevcev commented on #181
@gorkem Is there an example somewhere of how to this? I tried sending a command using normal pipes but I couldn't get it to work. I'm trying to help debug w0rp/ale#2648

[2019-05-02 15:37] snjeza commented on #181
@Risto-Stevcev You may want to take a look at https://github.com/redhat-developer/vscode-java/blob/master/src/extension.ts#L85

[2019-05-02 16:22] JulioJu opened #1021 "Documentation: how to manage warning preferences"
Maybe it could be cool to write a short paragraph in the README.md to explain how to manage warning preferences ?

And add a link to the corresponding doc at https://help.eclipse.org/neon/topic/org.eclipse.jdt.doc.isv/reference/api/org/eclipse/jdt/core/JavaCore.html ?

If you are ok I could make a PR.

See also https://github.com/eclipse/eclipse.jdt.ls/issues/581

[2019-05-02 16:33] fbricon commented on #1021
@JulioJu thanks! Now, depending on the content you want to add, I suggest you write the doc in the wiki instead, and link to that from the readme.

[2019-05-02 16:42] fbricon commented on #1006
That's odd. jdt.ls generally supports javadoc attached to libraries. But I don't remember having tested javadoc attached to a JDK, usually people simply add the JDK sources instead.
@bgx90 I'm not a linux person, so it's unclear to me whether you have the sources installed or not. Please check if installing the JDK sources give you a better result.

@snjeza is this (attached openjdk javadoc) somet

[2019-05-02 16:50] JulioJu commented on #1021
@fbricon  thanks for your answer,

Maybe add simply something like :

As it's very short, maybe could me indicated in the README ?

[2019-05-02 17:15] fbricon commented on #1021
sure go ahead

[2019-05-02 18:10] snjeza commented on #1006
I can reproduce the issue on Fedora 29. It is fixed by installing the JDK sources (java-11-openjdk-src).
I have tested VS Code and Eclipse.

[2019-05-02 18:13] fbricon commented on #1006
My understanding is JDT computes a default remote Javadoc url for at least Oracle JDK, but I don't know how it handles local javadoc or other JDKs. There might be room for some improvement at the JDT level.

[2019-05-02 18:26] snjeza commented on #1006
JDT searches https://docs.oracle.com/en/java/javase/11/docs/api/java/lang/String.html instead of https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/String.html.

[2019-05-02 18:34] fbricon commented on #1006
@snjeza I think there are 2 issues to address then:
- automatically detect and attach local javadoc
- properly compute online javadoc urls for recent jdks (I assume since Java 9)

Can you please open or link to upstream BZ tickets?

[2019-05-02 19:05] #982 closed

[2019-05-02 20:25] snjeza commented on #1006
Related BZ ticket - https://bugs.eclipse.org/bugs/show_bug.cgi?id=546945

[2019-05-02 21:04] bgx90 commented on #1006
I still have no  success getting the javadoc to show up.  I tried installing the openjdk 11 sources package as @fbricon and @snjeza suggested, but I still do not see the javadoc info in vscode or in neovim (using coc and coc-java).  I have tried standalone java files and java files inside a maven project.  When testing with vscode, I use `File > Open Folder` to open the root of my maven project an

[2019-05-02 21:07] fbricon commented on #1006
I'm not sure but there's a chance you might need to clean up (i.e delete) your server workspace 1st. It's the value of the -data argument you use to launch jdt.ls. In VS Code, simply execute the "Clean the Java language server workspace".

[2019-05-02 21:15] bgx90 commented on #1006
I ran the Clean the Java language server workspace" command and then clicked the "Restart and Delete" button, but I still see no javadoc.

[2019-05-02 21:27] snjeza commented on #1006
Does the $JAVA_HOME/lib/src.zip file exist?

[2019-05-02 22:10] bgx90 commented on #1006
On Debian, the openjdk source package installs the src.zip file to `/usr/lib/jvm/openjdk-11/lib/src.zip`.
The files contained are also extracted into `/usr/share/doc/openjdk-11-source`.

[2019-05-02 22:28] snjeza commented on #1006
Could you try to set the following:
[code]

and run  "Clean the Java language server workspace"?

[2019-05-02 22:54] bgx90 commented on #1006
That path causes an error since there is no jvm there.  I set the path to the jdk installation (which is also set in my JAVA_HOME environment variable) `"java.home": "/usr/lib/jvm/java-11-openjdk-amd64"`.  I then ran "Clean the Java language server workspace".  I still do not see any javadoc.

[2019-05-02 23:21] snjeza commented on #1006
Could you try to run the following:
[code]

[2019-05-03 00:13] bgx90 commented on #1006
You just led me to the problem.  `/usr/lib/jvm/java-11-openjdk-amd64/lib/src.zip` already existed, but it was a broken link.  It was incorrectly set to `../openjdk-11/src.zip` when it should have been set to `../openjdk-11/lib/src.zip`. Javadoc started working after I fixed the link.  I will be filing a bug report with the Debian package maintainer.  Thank you @snjeza and @fbricon so much for your

[2019-05-03 00:13] #1006 closed

[2019-05-03 01:56] bgx90 commented on #1006
Debian bug report:  https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=928369

[2019-05-06 06:02] testforstephen commented on #977
The core template engine code is placed at jdt.ui bundle.
[code]
To reuse it in jdt.ls, need refactor the upstream code first. Currently, the template code is mixed with some of ui logic, it takes a certain of effort to decouple the ui.

[2019-05-06 19:50] #167 closed

[2019-05-06 22:27] #767 closed

[2019-05-06 22:33] fbricon commented on #972
So now that we merged #767, this issue is about adding the wizard to select the superclass constructors to generate, right?

[2019-05-06 23:08] fbricon commented on #872
With #1024 merged, you now have partial control on the generated code for accessors, in that you can disable comment generation, when the `java.codeGeneration.generateComments` preference is set to `false`. But I'll keep this issue open in case we want to have further control over the actual templates.

[2019-05-07 01:31] testforstephen commented on #972
It's also including adding wizard to select fields to generate constructors. Similar as Eclipse `Generate Constructor using Fields...`.

[2019-05-09 09:06] theonlygusti opened #1028 "Uses so much memory"
This consistently uses around or over 1 GB of memory. This seems excessive.

[2019-05-09 17:35] snjeza commented on #878
https://ci.eclipse.org/ls/job/jdt-ls-pr/1406/testReport/junit/org.eclipse.jdt.ls.core.internal.handlers/WorkspaceDiagnosticsHandlerTest/testResetPomDiagnostics/

[2019-05-12 09:08] yyoncho opened #1030 "Signature help does not work for constructors"
E. g.
[code]

[2019-05-12 09:13] yyoncho opened #1031 "Assign all to fields generates wrong field names in some corner cases"
I found it out when I was integrating the new JDT LS functionality in emacs using the latest JDT LS. (not sure whether it is worth to be fixed, it is pretty minor issue).

[code]
generates duplicate s2
[code]

[2019-05-13 04:12] yyoncho opened #1032 "Unable to import maven project(classpath not found)"
Project: https://github.com/vspinu/IBjts

My guess is that it the issue is caused by the fact that the project overrides the source location to `.`.
[code]

Oddly the project is imported fine when I first import another project and then add IBjts via workspace/didChangeWorkspaceFolders . But after I restart the workspace it does work again.

(issue originally logged in https://github.com/emacs-lsp

[2019-05-13 06:06] testforstephen commented on #1031
Also reproduced in eclipse, this is a bug in the upstream JDT code base.

[2019-05-13 11:42] Yanpas commented on #1006
Same issue. Fixes with `sudo ln -fsr /usr/lib/jvm/openjdk-11/lib/src.zip /usr/lib/jvm/java-11-openjdk-amd64/src.zip`

[2019-05-13 22:21] #993 closed

[2019-05-13 22:46] fbricon commented on #1032
Indeed this project is bending the Maven conventions to a point which is not supported by m2e, and it's unlikely it will ever be.
You'll definitely get better luck moving the code to src/main/java and then simplifying your pom.xml to read:
[code]

[2019-05-13 22:53] fbricon commented on #1031
@testforstephen can you please link to an upstream report?

[2019-05-14 01:42] testforstephen commented on #1031
The upstream bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=547236

[2019-05-14 14:06] fbricon opened #1035 "Add ability to compile with a different JDK than the one used to run jdt.ls"
We need to make it possible to use a JDK for project compilation/debugging, that is different from the JDK version used to actually run jdt.ls. So you could compile a Java 12 project but running jdt.ls with JDK 8, or  debugging a project with JDK 8, when jdt.ls has been started with JDK 12. You'd receive the proper sources matching the execution environment of the project.

One possible approach w

[2019-05-14 18:19] #1030 closed

[2019-05-14 18:22] fbricon opened #1037 "Signature help doesn't match active parameter per type"
eg. when calling the signature help on `foo`, in  `new RuntimeException("foo")`, the active signature returned is  `RuntimeException(Throwable)`, instead of `RuntimeException(String)`

[2019-05-14 18:27] fbricon opened #1038 "Update buildship to 3.1.0"
See https://discuss.gradle.org/t/buildship-3-1-is-now-available/31600

[2019-05-14 19:43] fbricon commented on #1028
You can try to lower the memory usage by setting a lower heap value, e.g. `-Xmx512M`,if you work with small codebases. If you run into OutOfMemoryExceptions, then you've gone to low

[2019-05-15 07:26] yyoncho opened #1039 "Signature help returns wrong active parameter"
E. g.

[code]

[2019-05-15 12:30] fbricon commented on #1039
What would be the expected outcome?

[2019-05-15 12:41] yyoncho commented on #1039
IMO It should be the same as the outcome of  `Arrays.asList(1);` . Apparently, vararg is considered as a single argument and does not match when there are more than one params.

[2019-05-15 22:23] fbricon opened #1040 "Migrate to lsp4j 0.7.x"
@NikolasKomonen wanna give it a try? now that you're familiar with 0.7.1 ;-)

[2019-05-16 08:14] testforstephen opened #1042 "Add code action to generate delegate methods"

[2019-05-16 12:25] patilarpith opened #1043 "Is there a way to disable additionalTextEdits?"
One of the use case that I have is non-editable boilerplace code in the editor where additional imports are disabled.

```additionalTextEdits``` which usually adds import packages in the non-editable section is leading to an undesired behaviour on the editor.

Is there a way to disable additionalTextEdits on the server side?

[2019-05-16 14:41] NikolasKomonen commented on #1040
Yeah, sounds good.

lsp4j changelog:
`* Setters and constructors of protocol classes throw IllegalArgumentException if given null for properties marked with @NonNull`

Hope there wont be many issues with this one :)

[2019-05-16 14:46] fbricon commented on #1040
@NikolasKomonen actually migration to 0.7 should be covered by #925 already. So we can wait for @kittaakos's update of that PR

[2019-05-16 14:52] kittaakos commented on #1040
Yeah, I do not like this change either. If you find the new behavior inconvenient, please file an issue in LS4J.

Please note, according to the plans, there will be a `0.7.2` release, so that the `textDocument/callHierarchy` [is in sync with the proposed LSP](https://github.com/eclipse/lsp4j/issues/317) change.

[2019-05-16 14:54] fbricon commented on #1040
@kittaakos cool. do you have a timeframe for that?

[2019-05-16 15:06] kittaakos commented on #1040
Did you mean wrapping up the call hierarchy implementation? I am a little bit busy with other things, but I will look into the required changes on of the evenings. How urgently would you like to see the `textDocument/callHierarchy` on the `master`? :)

[2019-05-16 15:21] fbricon commented on #1040
nothing urgent. Just so I have an idea in which release to target the feature.
I'm just eager to play with it in vscode ;-)

[2019-05-16 15:31] fbricon commented on #853
@yaohaizh @testforstephen any chance you guys can work on this one for the next release?

[2019-05-16 20:40] #972 closed

[2019-05-16 20:51] fbricon opened #1044 "Disabling the gradle wrapper doesn't work in some cases"
If the gradle wrapper is disabled and no gradle home variable is defined, the GradleProjectImporter.getGradleDistribution returns the wrapper anyways, instead of the default gradle distro (DEFAULT_DISTRIBUTION == GradleDistribution.fromBuild() == wrapper):
https://github.com/eclipse/eclipse.jdt.ls/blob/43a78f7c339f41d7cb3c4d6d23e3fe18b74c29ef/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/int

[2019-05-16 21:13] fbricon commented on #1044
should be
[code]

[2019-05-17 08:33] yaohaizh commented on #1043
Not sure what the case is. If your code is not editable, then the completion is not required on your case, just navigation is enough. additionalTextEdits is part of completion.

[2019-05-17 08:38] patilarpith commented on #1043
Part of the code is non-editable. Eg: Head and Tail section of the boilerplate.

Is there no configuration to stop jdtls from sending additionalTextEdits as part of completion resolve?

[2019-05-17 11:56] fbricon commented on #1043
No. This is not a use case supported by jdt.ls

[2019-05-17 14:23] muggell commented on #1006
Where did you correct this because I'm experiencing the same thing on my linux system. I've just done what @snjeza suggested, and it worked. But I'd like to permanently fix it.

[2019-05-17 16:33] snjeza opened #1047 "HashCodeEqualsHandlerTest.testGenerateHashCodeEquals_useInstanceof() fails"
See
https://ci.eclipse.org/ls/job/jdt-ls-pr/1421/testReport/org.eclipse.jdt.ls.core.internal.handlers/HashCodeEqualsHandlerTest/testGenerateHashCodeEquals_useInstanceof/
https://ci.eclipse.org/ls/job/jdt-ls-pr/1423/testReport/org.eclipse.jdt.ls.core.internal.handlers/HashCodeEqualsHandlerTest/testGenerateHashCodeEquals_useInstanceof/

[2019-05-17 16:53] bgx90 commented on #1006
My solution was what @snjeza suggested.  That is the permanent fix for the problem.  The maintainer of the debian package openjdk-11-jdk-headless has responded to my [bug report ](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=928369)saying that the upcoming version of openjdk-11-jdk-headless will include the fix for the symlink, so we don't need to worry about an update to the package causing

[2019-05-17 17:34] muggell commented on #1006
I see! I did fix the symlink, but I'm a pretty new user of Linux, so I wasn't sure if that was a "permanent" fix of the problem in terms of future problems.
I basically didn't understand what the symlink was all about. But it did fix it, and it's running properly now giving me the javadoc needed and all.
But thansk a lot for the quick response. I really appreciate it.

[2019-05-17 17:40] fbricon commented on #1006
@bgx90 FYI @snjeza is a lady ;-)

[2019-05-17 17:43] bgx90 commented on #1006
Oops, my mistake. Thanks for letting me know. I have corrected the post.

[2019-05-17 18:03] Yanpas commented on #1006
Reported bug in ubuntu
https://bugs.launchpad.net/ubuntu/+source/openjdk-lts/+bug/1828814

[2019-05-17 19:33] #1044 closed

[2019-05-17 19:57] #1047 closed

[2019-05-18 13:45] patilarpith commented on #1043
Closing the issue. Thanks for the info @fbricon

[2019-05-18 13:45] #1043 closed

[2019-05-19 16:17] vasiltabakov opened #1049 "Provide more hover info in certain cases"
Hovering "OK" shows the type and name of the constant:
![electron_2019-05-19_19-12-02](https://user-images.githubusercontent.com/1178309/57985009-61f3cb00-7a6a-11e9-8fcf-ff635424a0db.png)

It would be much better if it also showed its value, the definition of the constant in this case is as follows:
` public static final int OK = 0;`

so it would be much better if the tooltip showed:
`int OK = 0`

[2019-05-20 12:52] Yanpas opened #1050 "The package org.xml.sax.helpers is accessible from more than one module"
I have these errors with following packages:
* org.xml.sax
* org.xml.sax.helpers
* javax.xml.parsers

The package org.xml.sax.helpers is accessible from more than one module

I have oozie-4.1.0-cdh5.7.6/xml-apis-1.4.01.jar and this API is shipped with java. Can JDTLS choose any of those packages and put warning instead of an error?

[2019-05-20 16:44] 50Wliu commented on #651
Using Atom and Eclipse language server version 0.39.0, here's the last few messages I get:
![image](https://user-images.githubusercontent.com/2766036/58038070-f7d83600-7afc-11e9-8487-ecbc13be527b.png)

[2019-05-20 17:32] GrimKriegor commented on #967
Hello everyone.
I am running Vim 8.1 on Arch and using ALE as the client for eclipse.jdt.ls.
Unfortunately, even though linting and autocomplete are working for the core Java libraries, I can neither get auto-completion for third party libraries, similarly to what is shown by @JayceCao above, nor does it seem like there is any activity regarding Gradle when I open the project, as a clean `~/.gradl

[2019-05-20 19:48] snjeza commented on #1039
I can't reproduce the issue with vscode-java 0.45.0.

![1039](https://user-images.githubusercontent.com/388609/58047622-d69d3700-7b48-11e9-9ac0-7cc35fa68fed.png)

[2019-05-20 20:07] yyoncho commented on #1039
Yes, you are right, the problem actually is that activeParameter and activeSignature are not populated, compare the result with one and two parameters. I guess that VScode just assumes that the first parameter is active:

[code]

[code]

This will reproduce the problem in vscode (it will select the first parameter as active, although it should select the second).
[code]

[2019-05-20 20:40] snjeza commented on #1039
The issue depends on https://github.com/eclipse/eclipse.jdt.ls/pull/1051

[2019-05-20 20:56] snjeza commented on #1039
The following examples don't work properly:
[code]

[code]

[2019-05-21 13:14] JayceCao commented on #967
I'm using coc-java plugin in coc.nvim completion plugin, which uses jdt.ls. And everything works fine. You can have a try.

[2019-05-22 18:25] #1037 closed

[2019-05-23 14:30] dansomething commented on #491
This relates to the [Groovy-Eclipse](groovy/groovy-eclipse/issues/811) LSP discussion.

[2019-05-23 14:46] eric-milles commented on #491
The patches to JDT Core are not that extensive.  What needs to be decided is whether the patches or some form of them should be pushed into JDT Core.  Or should they be applied to the JDT that the language server uses.

[2019-05-23 15:29] #1038 closed

[2019-05-23 23:00] #1042 closed

[2019-05-25 04:14] fbricon commented on #1050
can you provide a sample project reproducing this error?

[2019-05-25 04:18] fbricon commented on #1049
Indeed, JDT UI supports that feature https://www.eclipse.org/eclipse/news/4.11/jdt.php#default-constant-values
Hopefully it should be easy to implement

[2019-05-25 14:38] vasiltabakov opened #1053 ""Make abstract" code action"
Using this code:
[code]
The LS correctly detects the method needs a body, but it would be great to have a code action "Make abstract".

![image](https://user-images.githubusercontent.com/1178309/58370793-49c0f780-7f13-11e9-878f-6cace409aa31.png)

[2019-05-25 14:40] vasiltabakov commented on #1053
Just tested this in Eclipse and found there is such an action there:
![image](https://user-images.githubusercontent.com/1178309/58370856-129f1600-7f14-11e9-963c-f1d89a747cdc.png)

now I'm thinking having an 'Add body' code action would also be great

[2019-05-25 20:13] Yanpas commented on #1050
here is sample project
[failp.zip](https://github.com/eclipse/eclipse.jdt.ls/files/3219707/failp.zip)

[2019-05-25 20:22] Yanpas commented on #1050
Eclipse fails as well

[2019-05-25 21:07] gorkem commented on #491
jdt.ls uses jdt.core without changes. If the changes are on jdt.core they need to be pushed to jdt.core.

[2019-05-28 11:50] vilmosnagy opened #1054 "Annotations not suggested in Monaco - missing `@` from the start"
hi,

I'm not sure whether this bug is a bug for this project or the [monaco-editor](https://github.com/microsoft/monaco-editor) :).

I try to use the Eclipse JDT LanguageServer with a Monaco editor, but it does not help with the annotations (see the gif below):

![VmvTU4MXNWqEsKeCsQV9BLFUHfPwNMX8vYoC3s6a](https://user-images.githubusercontent.com/6528869/58475437-3d74ae80-814e-11e9-8be9-cac5b56dd1

[2019-05-30 06:59] SyamSundarKirubakaran opened #1055 "Request `textDocument/codeAction` failing on connecting to VSCode - ERROR"
On successfully connecting jdt.ls to VS code through [vscode-java](https://github.com/redhat-developer/vscode-java), I keep encountering an exception on `textDocument/codeAction` while making JSON RPC Request.

**Platform:**  Mac v10.14.2
**Java:**         v1.8.0_162
**Maven:**     v3.6.1
**Error Logs:**

![Screenshot 2019-05-30 at 12 11 09 PM](https://user-images.githubusercontent.com/26897680/58

[2019-05-30 08:22] yaohaizh commented on #1055
@testforstephen Could you take a look at this issue?

[2019-05-30 15:02] snjeza opened #1056 "WorkspaceDiagnosticsHandlerTest tests fail"
See https://ci.eclipse.org/ls/job/jdt-ls-master/660/testReport/

[2019-05-31 16:37] #1056 closed

[2019-06-01 17:51] GrimKriegor commented on #606
Hello there.
Is anyone still using this method with the latest IDE-Java (0.9.0 on Atom 1.37.0)?
I have been trying to get a working Android Java development setup on Vim using ALE+eclipse.jdt.ls and the suggestions in this issue have brought me closer than ever.
At the moment I have feature parity between Vim and Atom in regards to core Android library auto-completion. However, there seems to be n

[2019-06-01 18:13] vasiltabakov commented on #606
Our IDE for Android (AP Studio) uses JDT.LS but on top of *a lot* of trickery to get good Android support. We're working on creating a new "Android Language Server" supporting Java, Kotlin, XML with Android specific features. Unfortunately it probably won't be open-source.

What you want - a third party completion - is tricky to implement and synchronize with the above suggestions, because of the

[2019-06-01 18:36] GrimKriegor commented on #606
Thanks for replying.

I am curious how deep that rabbit hole goes. AP Studio seems proprietary, is there a component which includes that sort of trickery which source happens to be available somewhere?

[2019-06-02 06:42] vasiltabakov commented on #606
Unfortunately it's not available (yet).
Is the email on your Github profile valid? If so I'd share some ideas to get you started.

[2019-06-03 14:57] HiPhish opened #1060 "Build failure: org.eclipse.tycho:tycho-surefire-plugin"
I tried building the latest master according to the instructions (`cd` into the top-level of the repo, run `./mvnw clean verfiy`) and the build keeps failing the the same point every time:

[code]

Now here is where it gets weird: this failure always happens when I follow the instructions. However, when I invoked `./mvnw -e clean verify` as per the error message, the build finished without issues.

[2019-06-03 18:40] GrimKriegor commented on #606
@vasiltabakov it is indeed. Thank you very much for your support.
I imagine that is quite the humongous task.

[2019-06-03 21:24] #1049 closed

[2019-06-03 22:28] fbricon commented on #1060
can you attach the complete build log?

[2019-06-04 16:38] BoykoAlex opened #1061 "HTTPS JDT LS download link redirects to HTTP mirror"
If I use the usual download link to download the latest JDT LS archive file: https://download.eclipse.org/jdtls/snapshots/jdt-language-server-latest.tar.gz The link is `HTTPS`. However, it redirects to the mirror download site with `HTTP`, i.e. http://ftp.osuosl.org/pub/eclipse/jdtls/snapshots/jdt-language-server-latest.tar.gz.

It'd be great if there was an `https` mirror as well at least. BTW `H

[2019-06-04 19:12] fbricon commented on #1061
Seems like a problem on the Eclipse Foundation mirroring setup. I've opened https://bugs.eclipse.org/bugs/show_bug.cgi?id=547932

[2019-06-04 23:55] ThadHouse opened #1062 "Suppress "Unsupported SuppressWarning" warnings by default."
We notice this specifically in VS Code, where we have a lot of `SuppressWarning` attributes set for PMD and Checkstyle variables. This causes the eclipse engine to actually spit out more warnings about not knowing what these suppressions are. This seems kind of backwards, where adding a suppression actually creates a warning, and causes a lot of confusion with our users.

I reported it for VS Code

[2019-06-08 07:42] HiPhish commented on #1060
Yes, sorry for taking so long. I have attached the standard output and standard error. The command for invocation was
[code]
Looks like the build finished this time as well, but there is something happening in stderr.

[stderr.txt](https://github.com/eclipse/eclipse.jdt.ls/files/3268306/stderr.txt)
[stdout.txt](https://github.com/eclipse/eclipse.jdt.ls/files/3268307/stdout.txt)

[2019-06-11 07:26] behrangsa commented on #624
There doesn't seem to be a way to disable:

See [here](https://stackoverflow.com/questions/19705121/how-to-disable-value-of-the-field-not-used-warning-for-logger-field-in-eclipse-j?rq=1).

FYI, my project is Gradle-based and using Lombok already:

[code]

[2019-06-13 13:24] ishepard opened #1066 "go-to-definition differs from Mac to Ubuntu?"
Hello guys,
I am developing a plugin for GitLab to have some nice features IDE-style, and while it works perfectly on my Mac, as soon as I deploy it on my Ubuntu server it doesn't work. The code is exactly the same, except that on my mac I have `-configuration config_mac` while on Ubuntu I have `config_linux`.

What I do is to ask for the definition of a variable in a file. Same file, same line, s

[2019-06-13 19:36] snjeza commented on #1066
Could you provide a project example?

[2019-06-14 13:59] ishepard commented on #1066
Thanks for the reply! I actually discovered that the problem was the analysed project (it's a closed source project so I can not paste here the code): the server wasn't able to figure out the dependencies. It could have been nicer though to see this in the logs!
Anyway, I am gonna close this since it's not really an issue 😄

[2019-06-14 13:59] #1066 closed

[2019-06-14 15:16] simon0191 commented on #543
I may be able to work on this, so, What needs to be done in order to add support for Bazel?

- Are the `.classpath` files the only thing that is required by the lang server?
- Is the `.project` file required?
- Is there any documentation around the schema for both `.classpath` and `.project`?

[2019-06-14 15:48] simon0191 commented on #543
An interesting approach: https://gist.github.com/wolfgangmeyers/49d8edaa763f5fcdcdf7
(I just found it but haven't tried it though)

[2019-06-17 12:40] simon0191 commented on #543
Another reference script that can be used to better understand the schema of `.classpath` and `.project` and how to generate them, although this script is for Buck projects:

https://gerrit.googlesource.com/gerrit/+/refs/heads/master/tools/eclipse/project.py

[2019-06-19 01:51] Eskibear commented on #1055
I can reproduce it when I debug vscode-java with "Launch Extension - Remote Server".
See the log and the .java file below.

[code]

<img width="430" alt="Screen Shot 2019-06-19 at 9 47 59 AM" src="https://user-images.githubusercontent.com/2351748/59731068-608b0d80-9277-11e9-9e10-7d560cc67775.png">

[2019-06-19 09:46] lokeshkumar opened #1068 "JRE container not get initialized on "initlalization" request"
JRE Container Initialization is getting triggered only when calling

Due to this getting irrelevant textDocument errors before triggering the didChangeConfiguration.

Link: https://github.com/eclipse/eclipse.jdt.ls/blob/7a11a57a2331951f266a9ee3cb222bcf3ccc8962/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L397

[2019-06-19 15:11] fbricon opened #1069 "Properly render @ApiNote in javadoc"
Javadoc rendering should be brought on par with Eclipse 2019-06's support for Java 12's `@apiNote`
Compare the eclipse version:
<img width="341" alt="Screen Shot 2019-06-19 at 11 01 21 AM" src="https://user-images.githubusercontent.com/148698/59777352-85d14900-9282-11e9-9ed6-f0403a841fe5.png">

to the javadoc generated by jdt.ls (displayed in vscode):
<img width="710" alt="Screen Shot 2019-06-19 a

[2019-06-20 04:53] testforstephen commented on #1068
@Eskibear reproduced the NPE exception. In his environment, the default VMInstall (JavaRuntime.getDefaultVMInstall()) points a null vm location. I'll invite him to update more findings.

[2019-06-20 11:20] Phenomendx opened #1071 "Can't build project"
Can't build project from command line as it described,
$ ./mvnw clean verify

The error I get is

[ERROR] Failed to resolve target definition /home/xxxxxxx/eclipse.jdt.ls/org.eclipse.jdt.ls.target/org.eclipse.jdt.ls.tp.target: Failed to load p2 metadata repository from location https://download.eclipse.org/eclipse/updates/4.12-I-builds: No repository found at https://download.eclipse.org/eclipse/u

[2019-06-20 17:39] snjeza commented on #1071
@Phenomendx The issue has been fixed with https://github.com/eclipse/eclipse.jdt.ls/commit/bfd39f192ea40e2f3c9219efb2a295741ca77ba6. Could you refresh the project?

[2019-06-21 19:47] GrimKriegor commented on #606
I am glad to report I finally have Android Java auto-completion and linting on Vim. Mostly thanks to the awesome work done by `vim-android`'s creator, hsanson.

Here is a description for anyone interested:

https://github.com/georgewfraser/java-language-server/pull/64#issuecomment-504544437

I would also like to thank @vasiltabakov for the detailed information he generously shared via email.

[2019-06-22 23:36] snjeza opened #1074 "eclipse.jdt.ls build fails"
See https://ci.eclipse.org/ls/job/jdt-ls-master/668/console

[2019-06-24 11:22] linux40 opened #1076 "Error occurs when building this project"
I'm building current master via `./mvnw clean verify`, and get the following error messages:

[code]
It is fine for me to directly access `content.xml` via web browser.

System:
[code]

[2019-06-24 16:27] #1074 closed

[2019-06-25 03:33] linux40 commented on #1076
I have been using complied version.

[2019-06-25 03:33] #1076 closed

[2019-06-25 07:37] Eskibear commented on #1068
#### Root cause
Three vmInstallTypes are declared in bundle [org.eclipse.jdt.launching](https://github.com/eclipse/eclipse.jdt.debug/blob/a607140dbc3fb392aa773cfdab095e86dfc650a2/org.eclipse.jdt.launching/plugin.xml#L33-L46).
But in MacOSX, commonly the oracle JDK is of type `MacOSXVMInstallType`, which is declared in bundle [org.eclipse.jdt.launching.macosx](https://github.com/eclipse/eclipse.jdt

[2019-06-25 08:14] testforstephen commented on #1068
Looks like this issue is appearing when you are debugging the jdt.ls.

@lokeshkumar what's your OS? Did you meet this failure when debugging jdt.ls?

[2019-06-25 17:51] linux40 opened #1079 "Manually added jar file seems not to be indexed"
I'm using jdtls installed from [AUR](https://aur.archlinux.org/packages/jdtls/) with [eglot](https://github.com/joaotavora/eglot) configured as follows and generate a new project via `mvn -B archetype:generate -DarchetypeGroupId=org.apache.maven.archetypes -DgroupId=xx.xx.xxxx -DartifactId=xxx`.
[code]
Then I want to add [soot](https://soot-build.cs.uni-paderborn.de/public/origin/master/soot/soot-

[2019-06-26 03:23] linux40 commented on #1079
I'm using jar install from mvn now.

[2019-06-26 03:23] #1079 closed

[2019-06-26 11:15] lokeshkumar commented on #1068
@testforstephen yes am running it in debug mode in MacOS.

[2019-06-27 01:35] testforstephen commented on #1068
@lokeshkumar  https://github.com/eclipse/eclipse.jdt.ls/pull/1080 has fixed the launch configuration, could you have a try?

[2019-06-27 08:06] jdneo commented on #337
I want to echo to @amiramw

Currently the 👍 will be shown up after importing project is finished. But in most cases, especially as @fbricon said: user might have to wait several minutes until the initial build finishes.

The 👍 misleads the users somehow. Is it possible to introduce a new state which indicates that the LS is totally ready to response the client request like GTD, etc...?

[2019-06-27 08:29] testforstephen opened #1081 "Refactoring: Extract to Field"
- When an expression is selected, then extract the return value of the expression to a field. This scenario is not covered by jdt, need implement it by jdt.ls itself.
- When a variable declaration is selected, then convert the local variable to a field. This scenario is covered by jdt. Tracked by issue https://github.com/eclipse/eclipse.jdt.ls/issues/772

[2019-06-28 07:47] testforstephen commented on #772
Created a gerrit patch to refactor PromoteTempToFieldRefactoring  to jdt.core.manipulation.
https://git.eclipse.org/r/#/c/145079/

cc @jjohnstn @rgrunber

[2019-06-28 18:09] jjohnstn commented on #772
I have left comments in the gerrit review.

[2019-06-28 19:14] BoykoAlex opened #1084 "Not able to register commands during JDT LS initialization"
A JDT LS extension registers `delegateCommandHanlder` via `org.eclipse.jdt.ls.core.delegateCommandHandler` extension point. In this particular case it is Spring Boot LS registers add/remove classpath listener commands. Essentially JDT LS would be notifying the client about classpath changes of projects in the workspace. (This data from the client is forwarded to Spring Boot LS eventually)

This co

[2019-06-28 21:17] puremourning opened #1086 "signature help stops working after using a lambda"
I found this while implementing signature help in ycmd, and repro'd in visual studio code.

Steps to repro:

* Create SignatureHelp.java:

[code]

* uncomment `this.test(`, and re-type the `(`

Expected result:

* `void test( Function<....> )` function is proposed

Actual result:

* No proposals

Corroloary:

* Requesting `this.test(` _before_ the lambda works as expected.

[2019-06-28 22:02] snjeza commented on #1086
Related issue -  #1039

[2019-07-01 00:20] akaroml commented on #1040
@fbricon I tried this one as my first commit :-)

[2019-07-01 20:45] snjeza commented on #1086
Fixed within https://github.com/eclipse/eclipse.jdt.ls/pull/1063

[2019-07-02 11:21] testforstephen commented on #772
@jjohnstn thanks for the review, updated the gerrit patch.

[2019-07-02 15:52] #1084 closed

[2019-07-02 15:58] #1040 closed

[2019-07-02 18:20] gatesn opened #1087 "Use mockito-core instead of mockito-all"
`mockito-all` brings in some Hamcrest classes which conflict with hamcrest 1.3.0 also on the test classpath.

[2019-07-02 18:42] jjohnstn commented on #772
Patch has been merged, thx for the update.

[2019-07-02 19:45] fbricon commented on #1087
IIRC we depend on a version of Mockito that's compatible with OSGi classloaders. @gatesn if you can provide a PR that passes all tests, then we should be fine

[2019-07-02 20:29] gatesn commented on #1087
I’m not too familiar with OSGi, but it seems like only Mockito-all is available as a “bundle”.

[2019-07-03 06:06] testforstephen commented on #1055
Duplicated with https://github.com/eclipse/eclipse.jdt.ls/issues/1068, the root cause is the jdt.ls launch file missed one macosx plugin. It is already fixed.

@SyamSundarKirubakaran could you sync latest jdt.ls code for a try?

[2019-07-03 06:06] #1055 closed

[2019-07-04 04:25] testforstephen opened #1089 "Refactoring: Move"
- [x] Move class/file to other package
- [x] Move members to other classes
- [x] 🏃 Move inner type to new File

[2019-07-04 04:31] Eskibear commented on #853
I'm starting to work on this recently. I find there's only one [NewCUUsingWizardProposal](https://github.com/eclipse/eclipse.jdt.ui/blob/2b1f5a2580f474a0936c4cb10f286439c20efed4/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/proposals/NewCUUsingWizardProposal.java) where the "create types" logic is coupled with the UI.

I think this can be done by two steps:
- [ ] refactor eclip

[2019-07-04 06:59] Normynator commented on #919
I ran into the same problem with Arch and gradle-5.4.

The problem was that I ignored:
"Note: currently, the build can only run when launched with JDK 8. JDK 9 or more recent versions can be used to run the server though."

In case some arch user runs into the same problem use the commands "archlinux-java status" and "archlinux-java set java-8-openjdk" to set the correct java version for the build

[2019-07-04 07:25] #772 closed

[2019-07-04 07:25] #1081 closed

[2019-07-04 12:54] vasiltabakov opened #1090 "Bug: Autocomplete overrides existing symbols"
In certain cases the autocomplete suggestion overwrites existing symbols, but it should not. Here's an example to visualize this:
![2019-07-04_15-49-28](https://user-images.githubusercontent.com/1178309/60668021-a77e2300-9e73-11e9-8fa7-2885760d4900.gif)

Just tried the same in VSCode:
![2019-07-04_15-52-33](https://user-images.githubusercontent.com/1178309/60668073-c2e92e00-9e73-11e9-8a80-a35571f5

[2019-07-04 12:56] fbricon commented on #1090
Have you tried setting the preference `"java.completion.overwrite": false`?

[2019-07-04 12:57] vasiltabakov commented on #1090
hmm, not really, let me try quick

[2019-07-04 13:00] vasiltabakov commented on #1090
Woah, thank you! )) works great, I blame it on whoever set `java.completion.overwrite` to `true` in our config, will hunt them down and.. ask them why.

[2019-07-04 13:00] #1090 closed

[2019-07-04 13:02] fbricon commented on #1090
That's on us. It's the default value in jdt.ls https://github.com/eclipse/eclipse.jdt.ls/blob/13ec1ad86e6509702fe01dd2d8df4fbfa99e5f00/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/preferences/Preferences.java#L488

[2019-07-04 13:09] vasiltabakov commented on #1090
Ah, didn't know, but it was also explicitly set to `true` in our config too. I personally like it to be off, but it's great that this is configurable.

I think in some cases it makes sense to overwrite. In my example code if I position the cursor after `.` in `Asdf.one` and invoke the autocomplete and select `two` then overwriting is great.

But supporting such logic seems too complex for a LS imh

[2019-07-06 14:04] vasiltabakov opened #1093 "Issue with the Import code action"
The import code action doesn't seem to work in return statements when static inner classes/subclasses are involved.

To elaborate and illustrate this here are my two test classes:

**Testing.java**
[code]

**Main.java**
[code]

In `Main.java` the above code will produce two issues, the first in `Something s;` and the second in the return statement. The quick action for `Something s;` correctly sug

[2019-07-08 08:31] testforstephen opened #1094 "java.lang.ClassCastException: com.google.gson.JsonPrimitive cannot be cast to java.lang.String"
Original issue is reported at https://github.com/emacs-lsp/dap-mode/issues/102.

With the latest jdt.ls change, WorkspaceExecuteCommand possibly throw exception `java.lang.ClassCastException: com.google.gson.JsonPrimitive cannot be cast to java.lang.String`.

This is a regression issue caused by `JSONUtility.toModel()`.

[2019-07-08 09:27] #1094 closed

[2019-07-08 10:43] fbricon commented on #1093
This is an upstream issue then, it should be reported in Eclipse JDT

[2019-07-08 11:05] #1039 closed

[2019-07-08 11:05] #1086 closed

[2019-07-08 12:16] Thaodan opened #1097 "Seperate config/dont write to config folder"
Currently there's just one config file with user and system config mixed, with config folder serving as log folder. This results in workarounds like in https://github.com/eclipse/eclipse.jdt.ls/issues/919#issuecomment-458264221

I think logs should go to the user cache folder (XDG_CACHE_HOME on BSD/Linux) and user config should go to the user config folde (XDG_CONFIG_HOME on BSD/Linux).

[2019-07-08 14:20] fbricon opened #1098 "Find implementation doesn't work on classes"
If you have a class Foo, and a class Bar like:
[code]
find implementation on Foo, doesn't find the actual Foo class!

[2019-07-08 16:08] snjeza commented on #1098
Related PR - https://github.com/redhat-developer/vscode-java/pull/257

[2019-07-08 16:48] fbricon commented on #1098
Whether codelenses are enabled and/or only working for interfaces/abstract classes should not affect the explicit calls to search for implementations

[2019-07-08 17:27] snjeza commented on #1098
Could you try the following:
[code]

[2019-07-09 10:24] gatesn opened #1099 "Add extra bundles statically"
The Wiki says it's possible to add extra bundles by adding them to initialisation options. However since I'm building a server-side distribution, is there any way to include the bundles statically without the client needing to know about them?

Happy to make PRs to load bundles based on env vars / system props if that's a reasonable solution.

[2019-07-09 13:00] akaroml opened #1100 "Support "textDocument/selectionRange""
Smart Selection (a.k.a. Semantic Selection) is the new feature added by VS Code. It's also now part of LSP https://github.com/microsoft/vscode-languageserver-node/blob/master/protocol/src/protocol.selectionRange.md

This issue is to track the effort of supporting it.

redhat-developer/vscode-java#780 was originally created for this.

[2019-07-09 17:04] snjeza commented on #1099
You can create your product. See https://github.com/eclipse/eclipse.jdt.ls/tree/master/org.eclipse.jdt.ls.product

[2019-07-10 02:29] Eskibear opened #1103 "Support non-CUCorrectionProposal for CodeActions"
Currently all proposals for code actions are inherited from `CUCorrectionProposal` including the conversion logic.  e.g. [CodeActionHandler](https://github.com/eclipse/eclipse.jdt.ls/blob/d198055a2ea6655e968e3f2db3994e4088162924/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/CodeActionHandler.java#L88), [QuickFixProcessor](https://github.com/eclipse/eclipse.jdt.ls/blob/d1980

[2019-07-10 07:07] Eskibear commented on #878
Same for me.
PR #1095 , https://ci.eclipse.org/ls/job/jdt-ls-pr/1470/testReport/
PR #1103 ,  https://ci.eclipse.org/ls/job/jdt-ls-pr/1479/testReport/

[2019-07-11 16:50] #1100 closed

[2019-07-15 19:48] fbricon opened #1107 "[regression] IllegalArgumentException thrown on completionItem/resolve if there's no javadoc"
If a method has no Javadoc, an IllegalArgumentException will be thrown when completing it (completionItem/resolve).
[code]

[code]

[2019-07-15 19:49] #1103 closed

[2019-07-16 06:06] skubyooru commented on #297
it works? if so, how to configure?

[2019-07-16 18:18] #1107 closed

[2019-07-16 18:27] snjeza opened #1110 "CompletionHandlerTest.testCompletion_nojavadoc fails"
https://ci.eclipse.org/ls/job/jdt-ls-pr/1492/testReport/org.eclipse.jdt.ls.core.internal.handlers/CompletionHandlerTest/testCompletion_nojavadoc/

[2019-07-16 18:52] #1110 closed

[2019-07-22 10:12] jdneo opened #1117 "Support 'Invert local variable' fix"
Just as what we have in Eclipse.

![demo](https://user-images.githubusercontent.com/6193897/61624975-3da3ad00-acac-11e9-8f7d-3d2e673f8102.gif)

[2019-07-23 07:52] akaroml opened #1119 "Convert lambda to anonymous class creation"
We already have "Convert to lambda expression". The counterpart "Convert to anonymous class creation" needs to be implemented as well.

[2019-07-25 08:34] fbricon opened #1121 "Provide more granularity of progress during Maven import"
When Maven projects are imported, the progress monitor seems stuck at 57% for a long time until all dependencies are resolved. Users might think something is broken (it's really not), see https://github.com/eclipse/che/issues/14004. We should try to provide more details on the progress, so as it doesn't appear stuck.

[2019-07-25 14:54] Eskibear opened #1123 "CI failed for unexpected TODO comments"
Since [jdt-ls-pr/1508](https://ci.eclipse.org/ls/job/jdt-ls-pr/1508/)

Given the latest `org.eclipse.jdt.core.manipulation_1.12.100.v20190723-1853.jar` matching the time,  I guess if it's possibly because that?

[2019-07-25 18:58] freefly801213 opened #1124 "mvnw build fail on mac"
java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
	at org.eclipse.lsp4j.jsonrpc.services.GenericEndpoint.lambda$null$0(GenericEndpoint.java:67)
	at org.eclipse.lsp4j.jsonrpc.services.GenericEndpoint.notify(GenericEndpoint.java:152)
	at org.eclipse.lsp4j.jsonrpc.RemoteEndpoint.handleNotification(RemoteEndpoint.java:220)
	at org.eclipse.lsp4j.jsonrpc.RemoteEndpoint.consume(Remo

[2019-07-25 23:43] snjeza commented on #1124
The SendNotificationTest.testNotifyWithException test works thisway. See https://ci.eclipse.org/ls/job/jdt-ls-pr/1507/console

[2019-07-25 23:48] snjeza opened #1125 "jdt.ls tests fail"
See https://ci.eclipse.org/ls/job/jdt-ls-master/694/console

[2019-07-26 01:06] Eskibear commented on #1123
dup with #1125

[2019-07-26 01:06] #1123 closed

[2019-07-26 02:22] ghost opened #1127 "Limit disk usage due to .metadata proliferation"
.metadata takes up a lot of hard disk space (especially if several projects in rootpath: .metadata in rootpath; .metadata in each folder). Is it configurable?

[2019-07-26 06:52] #1125 closed

[2019-07-26 08:08] fbricon commented on #1127
No it's not configurable. We have to separate workspaces to prevent nasty collisions between concurrent java processes.
One thing we could probably do is to automatically prune unused workspaces after a certain period of time (or limit their number)

[2019-07-26 08:56] #1069 closed

[2019-07-26 08:58] fbricon commented on #1069
Thanks @NikolasKomonen !

<img width="445" alt="Screen Shot 2019-07-26 at 10 57 52 AM" src="https://user-images.githubusercontent.com/148698/61939757-43431080-af94-11e9-93c7-28afd3968995.png">

[2019-07-26 09:26] #1117 closed

[2019-07-26 09:30] fbricon commented on #1117
In vscode now:
![Jul-26-2019 11-28-41](https://user-images.githubusercontent.com/148698/61941932-b8b0e000-af98-11e9-9f26-6db326fdf937.gif)

[2019-07-27 08:22] Symbolk opened #1129 "Question: How to write a non-editor client that consumes the static analysis results?"
I am new to LSP. Previously I want to analyze programs with static analysis techniques (not developing a plugin or extension or editor), but I do not want to write one parser for each language, that leads me to the LSP. I was originally excited, but after studying for one week, I still do not know how to develop a non-editor client to interact with the language servers, because all examples I foun

[2019-07-27 10:12] rcjsuen commented on #1129
@Symbolk In the `README.md` file in [my language server](https://github.com/rcjsuen/dockerfile-language-server-nodejs/blob/ba930e8c052ef21e716acb0266cef64d3067f70c/README.md), I have some bits of example code for connecting to a language server using stdio, network sockets, or JSON-RPC that may be helpful to you. They are written in TypeScript but I'm sure you'll be able to transcribe them into Ja

[2019-07-28 10:25] rcjsuen commented on #1129
[code]

@Symbolk It seems to me like you are trying to connect to the debugger on port 1044 in your code. You should be using 8679 instead, no?

[2019-07-28 12:09] vasiltabakov opened #1130 "The "Add generated serial version ID" quick fix is not working properly"
It should generate a unique-to-the-project ID, but it always generates one with value `1L`:
![2019-07-28_15-06-21](https://user-images.githubusercontent.com/1178309/62006479-97dbbc80-b149-11e9-8cf7-c26051092b71.gif)

[2019-07-28 20:32] husainaloos opened #1131 "Passing a Format Setting"
Thanks for the work on this project. This is more of a question than an issue.

I am using it with vim (languageclient) and I would like to use google formatting settings, but I am not sure how to specify that. I do have the format setting file for eclipse.

#623 might be related to this issue, however, I cannot tell if it is VSCode-only discussion or not. And I don't know if this functionality is

[2019-07-29 01:02] Symbolk commented on #1129
@rcjsuen I replace the port to connect in Java code from 1044 to 8679, but the connection is refused:
[code]

[2019-07-29 05:37] vasiltabakov commented on #1129
Btw, in your previous attempts to analyse the programs have you given [semantic](https://github.com/github/semantic) a try?

[2019-07-29 08:18] testforstephen commented on #1089
Currently jdt code is placed at jdt.ui, need refactor classes below to jdt.core.manipulation first.
- org.eclipse.jdt.internal.corext.refactoring.structure.MoveInstanceMethodProcessor
- org.eclipse.jdt.internal.corext.refactoring.structure.MoveStaticMembersProcessor
- org.eclipse.jdt.internal.corext.refactoring.structure.MoveInnerToTopRefactoring

[2019-07-29 08:22] testforstephen commented on #1089
Submitted a gerrit patch https://git.eclipse.org/r/#/c/146721/ to refactor MoveInstanceMethodProcessor and MoveStaticMembersProcessor in the upstream jdt.ui.

cc @jjohnstn @rgrunber @fbricon

[2019-07-29 09:25] jypma opened #1132 "Excessive memory usage in jgit"
I found `eclipse-lsp` to use a lot of memory, and decided to take a heap dump (with the LSP server otherwise idle). I have a fairly big git repository (~200MB). However, eclipse's heap dump (after a full GC) shows at least 600MB used in `int[]` arrays used by `PackIndexV2` objects from `jgit`.

Now I'm wondering about two things:
- Why are these retained in memory when eclipse is idling?
- Why doe

[2019-07-29 09:56] fbricon commented on #1132
That's extremely surprising given that jgit is not even part of the jdt.ls distribution

[2019-07-29 10:00] fbricon commented on #1132
I don't understand if lsp-java and eclipse-lsp are the same thing, or if jdt.ls is being repackaged with extra stuff. Ping @yyoncho

[2019-07-29 10:02] rcjsuen commented on #1129
@Symbolk The language server will connect to your client at the specified port. You need to create a `java.net.ServerSocket` that is listening for connections on that port.

[2019-07-29 10:11] yyoncho commented on #1132
@fbricon I think that "eclipse-lsp"  = "eclipse.jdt.ls", in lsp-java we do not use the term eclipse-lsp. @jypma can you confirm?

FTR in lsp-java we use few bundles: https://github.com/microsoft/java-debug/ + https://github.com/spring-projects/sts4 but it seems like neither of these is using jgit.

Maybe @jypma could share more details about the dumps that he is performing? Also, can you confirm t

[2019-07-29 10:39] fbricon commented on #1131
Yes, you can send the `java.formatter.fileName` preference to the server, this is not specific to vscode.

[2019-07-29 13:19] husainaloos commented on #1131
Thank you. That resolves this issue.

Is there a documentation of the options I can pass to the server?

[2019-07-29 16:37] #1119 closed

[2019-07-29 19:52] snjeza commented on #1131
See https://marketplace.visualstudio.com/items?itemName=redhat.java and https://github.com/redhat-developer/vscode-java/blob/master/package.json

[2019-07-29 21:32] snjeza commented on #1129
@Symbolk You can try:

[code]

$ java Server
$ export CLIENT_PORT=8679
$ java -Declipse.application=org.eclipse.jdt.ls.core.id1 -Dosgi.bundles.defaultStartLevel=4 -Declipse.product=org.eclipse.jdt.ls.core.product -Dlog.level=ALL -noverify -Xmx1G -jar ./plugins/org.eclipse.equinox.launcher.win32.win32.x86_64_1.1.1100.v20190715-0945.jar -configuration ./config_win -data D:\java
[code]

[2019-07-30 02:40] Symbolk commented on #1129
Yeah, once I had a glance at it, but did not try it since I know little about Haskell.

[2019-07-30 02:53] Symbolk commented on #1129
@snjeza Thanks, I started the Server and then the eclipse.jdt.ls, but it seems that they are not connected:
[code]

[2019-07-30 02:59] Symbolk commented on #1129
@rcjsuen Thanks, by imitating your code, I have successfully worked with the javascript-typescript-langserver (https://github.com/sourcegraph/javascript-typescript-langserver) .. But it seems the eclipse.jdt.ls works in a different way from the javascript-typescript-langserver.

[2019-07-30 06:42] jypma commented on #1132
Thanks for your replies :)

I indeed meant the Eclipse LSP server that [lsp-java](https://github.com/emacs-lsp/lsp-java) is using. Now I recently updated, and it seems that that project recently switched from something called [che-js-jdt](https://github.com/eclipse/che-ls-jdt) to the "plain" Eclipse LSP server (downloaded from `https://download.eclipse.org/jdtls/snapshots/jdt-language-server-lates

[2019-07-30 06:42] #1132 closed

[2019-07-30 11:46] testforstephen opened #1133 "org.eclipse.jdt.ui is included into org.eclipse.jdt.ls.core"
Import-Package: org.eclipse.jdt.internal.corext.codemanipulation

This is a regression from https://github.com/eclipse/eclipse.jdt.ls/commit/9ae4568297a3739a40775a23d8ce4d403c7ce49c. Because this package also existed in org.eclipse.jdt.ui, reloading target platform will cause jdt.ui included into jdt.ls.core plugin dependencies.

[2019-07-30 15:51] #1133 closed

[2019-07-31 04:33] vasiltabakov opened #1135 "Duplicate class name import issue"
When two classes have the same name but are in different packages the import and/or other code actions or features don't seem to be working properly even if you use code specific to the classes.

Here's an example.

In package `com.test` there's a class called `Testing`:
[code]

In a package `com.test.some.thing` there's another class called `Testing` with a public static inner class:
[code]

In a

[2019-07-31 06:24] vasiltabakov commented on #1131
@husainaloos specifically check this file:
https://github.com/redhat-developer/vscode-java/blob/master/formatters/eclipse-formatter.xml

[2019-07-31 08:51] testforstephen opened #1136 "Avoid unnecessary code action calculation for the textDocument/codeAction request"
Currently the language server will compute all possible code action proposals first, then filter the result with context.only field. This is inefficient and cause lots of unnecessary computation.

For example, when the client is asking for **Source** code action, but the language server still generate all **QuickFix** and **Refactor**. And most of **QuickFix** return WorkspaceEdit directly, it wil

[2019-07-31 17:41] amisevsk commented on #1121
+1 for this. When running on Che, resolving dependencies seems to be the most common time for the language server to get OOMKilled (when it doesn't have enough memory allocated), so showing more progress info would help in catching configuration issues on our end.

[2019-08-01 09:11] jdneo opened #1137 "The project's package fragments are not update to date when adding a new one."
## Repro steps:
- Open a java project to let the Java Language Server start up
- Create a new folder, the folder path is belong to one of the project's PackageFragmentRoot
- Create a Java file in that folder
- Then, when we get a IJavaProject instance in the Java side, and inspect the PackageFragment, there is no entry for the new created one. (You can call `project.getPackageFragmentRoots()` firs

[2019-08-01 22:06] husainaloos commented on #1131
Thanks @vasiltabakov  @snjeza

But I am not sure how redhat lsp plugin is related to this. I was wondering if there is a documentation of the options to the eclipse.jdt.ls server. Maybe I am missing something?

[2019-08-04 08:53] vasiltabakov opened #1139 "Consicer missing switch paths diagnostic message"
[code]

The LS detects the switch doesn't include all possible cases and presents this message:
![image](https://user-images.githubusercontent.com/1178309/62421661-07076280-b6ae-11e9-9673-2d1933ef6243.png)

Seems a bit repetitive, it would be better if the message included all (or part of) the missing enum constants, for example:

`The enum constants One, Three, Four and Five need a corresponding

[2019-08-04 08:55] vasiltabakov opened #1140 "[Feature request]: Add missing case labels in switch statements"
[code]
The LS would show messages about missing case labels, but does not offer a code action to automatically add them all.

It would be great to have such a code action.

[2019-08-04 14:03] vasiltabakov opened #1141 "NPE during code action request"
When performing a `textDocument/codeAction` request I got an NPE:
[code]

[2019-08-04 14:16] vasiltabakov opened #1142 "Malwarebytes thinks JDT LS is executing an exploit"
About a week ago I've noticed [Malwarebytes](https://www.malwarebytes.com/) complaining about some Java exploit while I was running the JDT LS but thought it's something different (as other Java code ran alongside with the LS does have similar executions).

While investigating a LS NPE today I found this error line in the log:
[code]

Tracked down the message to `ParentProcessWatcher.java` where t

[2019-08-04 14:51] snjeza commented on #1141
Could you provide a project example?

[2019-08-04 14:59] snjeza commented on #1142
You can try the following property:
[code]

[2019-08-04 15:00] vasiltabakov commented on #1141
Will try, as I've noticed the error too late to know when and where exactly it appeared.

Meanwhile i'm trying to edit the last files I was working on when the error might have appeared and got another exception, maybe it's worth mentioning:

[code]
I'm starting to wonder if my client is doing something wrong, will report more when I have more.

[2019-08-04 15:58] vasiltabakov commented on #1141
I think it might be my editor's fault... a quick question:
- Would sending a duplicate `didOpen` request break things? I.e. does the LS handle such case at all?

I've managed to find a way to replicate the issue every time and altho it only happens with one of the files I see 'didOpen' is sent for DocumentA even tho no 'didClose' was not sent for DocumentA.

So the flow is:
- `didOpen` DocumentA
-

[2019-08-05 05:32] vasiltabakov commented on #1142
Thanks, I'm using your suggested config now, much better also because the IDE handles shutting down the LS before it quits.

[2019-08-05 17:02] #853 closed

[2019-08-05 19:15] snjeza commented on #1142
See also https://github.com/eclipse/eclipse.jdt.ls/pull/991

[2019-08-06 22:41] snjeza commented on #1141
related issue: https://github.com/eclipse/eclipse.jdt.ls/issues/978

[2019-08-07 08:44] vilmosnagy opened #1144 "using custom `.m2` dirctory"
Can the JDT use custom `.m2` directory? If yes how can I provide it?

[2019-08-07 09:52] fbricon commented on #1144
Use the `java.configuration.maven.userSettings` preference to point to a custom settings.xml, where you can define the .m2 directory of your choice

[2019-08-08 12:37] Stupremee commented on #543
Are there any plans to implement this?

[2019-08-08 13:14] fbricon commented on #543
@Stupremee Sorry but we're a very small team and have no immediate plans to work on this. Someone from the community needs to  step up and help with providing that feature.

@simon0191 sorry for the late reply. In order for this to work, you have 2 options:
- either generate .project and .classpath as part of your bazel build (effectively reverse engineering the file generation process), so outsid

[2019-08-08 13:16] fbricon commented on #1144
@vilmosnagy does it satisfy your requirements? can we close this ticket?

[2019-08-08 13:21] vilmosnagy commented on #1144
yep, thanks

[2019-08-08 13:21] #1144 closed

[2019-08-09 03:20] jdneo opened #1146 "Get Error "No delegateCommandHandler for 'xxx'""
This error mostly happens with the following condition:
- Side extensions(like Test Runner, Java Debugger) which depends on Java Language Server and has jar bundles which needs the Java Language Server to load.
- The version of the bundle changed.

When the error message appears, mostly reloading the VS Code could solve the problem.

Reference:
https://github.com/microsoft/vscode-java-test/issues/

[2019-08-09 06:16] testforstephen commented on #1146
**Cause**:
The side extensions use `org.eclipse.jdt.ls.core.delegateCommandHandler` extension point to invoke Java plugin code. When suck kind of command is triggered in the side extension, the Java Language Server will search the extension registry to find the registered extensions. This is by design. The problem is jdt.ls didn't handle the extension searching mechanism well.

OSGI bundle loading

[2019-08-12 11:13] vasiltabakov opened #1147 "Secondary same-line error not reported"
If there is an error on a specific line of code which you don't fix but meanwhile you make changes to the code that would produce another error on the same line, the second error is not reported until you fix the first one. Here's a quick illustration:

![2019-08-12_14-10-19](https://user-images.githubusercontent.com/1178309/62861127-1cfad000-bd0b-11e9-8960-25a4dc9c0f92.gif)

[2019-08-12 14:54] JPinkney opened #1148 "Window of opportunity between initialize and dynamically registering multi-root workspace"
Hello,

We are experiencing a race condition when if a project is cloned between when initialize happens and when client/registerCapability for workspace/didChangeWorkspaceFolders happens no workspaceFolders update will be sent, leading to ```Classpath is incomplete```.

In a multi-root workspace, there will initially be no projects in the workspace (as they are still cloning), so rootPath and roo

[2019-08-12 15:35] tsmaeder commented on #1148
/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/InitHandler.java#242 seems to suggest that workspace folders are turned on from the start. Not sure why we're getting a timing issue here. Maybe the problem is on the Theia side?

[2019-08-12 16:22] tsmaeder commented on #1148
I believe this coud actually be a bug in the languagserver-node library
in client.ts#2772 and following.
The client sends "initialize", but does not yet have listeners set up for forwarding of workspace folders changed events. That happens on line 2812.
Folder changes might happen after sending initialize but before registering the feature. I think it would be necessary to send "didChangeWorkspace

[2019-08-12 17:08] snjeza commented on #1148
@JPinkney How can I reproduce the issue?

[2019-08-12 17:41] snjeza commented on #1130
The issue can be reproduced when a file isn't saved. It can be reproduce in Eclipse.
A workaround is to save the file before call the quick fix.
Related issue: https://bugs.eclipse.org/bugs/show_bug.cgi?id=343858

[2019-08-12 18:04] JPinkney commented on #1148
@snjeza You can try running the nightly version of che with this devfile:
[code]

[2019-08-13 07:51] testforstephen commented on #1098
For this case, if the class doesn't find any subtype, then go to definition instead.

[2019-08-13 07:57] tsmaeder commented on #1148
@snjeza further digging turned up https://github.com/microsoft/vscode-languageserver-node/issues/451 I think we can close this one as a duplicate.

[2019-08-13 15:13] #1148 closed

[2019-08-16 05:03] akaroml commented on #695
Microsoft/vscode#50972 will be addressed in the August iteration of vscode. I'll take a further look at the implementation side. Could you help assign this to me? @fbricon

[2019-08-19 15:37] fbricon commented on #1062
@NikolasKomonen can you please look into this one?

[2019-08-21 15:56] #1098 closed

[2019-08-21 16:08] fbricon commented on #1147
This works in Eclipse so this is definitely a jdt.ls bug

[2019-08-26 08:51] synuwxy commented on #1121
+1 for this. the progress monitor seems stuck at 57% for a long time when running on vscode-java.
Sometimes you must restart vscode let it work

[2019-08-27 03:48] akaroml opened #1154 "Support new DiagnosticTag"
vscode recently introduced the new capability to attach extra tags to Diagnostic. See: https://github.com/microsoft/vscode-languageserver-node/blob/master/types/src/main.ts#L513
It allows us to show diagnostic info differently:
- Unnecessary: show code with faded effect instead of red squiggles
- Deprecated: show strike-through effect

[2019-08-29 22:45] #1147 closed

[2019-08-30 15:18] fbricon opened #1157 "Code actions should return textedits with proper formatting"
See https://github.com/eclipse/eclipse.jdt.ls/pull/1151#issuecomment-524944329:

@jdneo @testforstephen @akaroml any volunteer?

[2019-09-02 01:55] testforstephen commented on #1157
@jdneo Given you have a look at the formatting issue before, could you take over this area?

[2019-09-02 02:08] jdneo commented on #1157
@testforstephen  Sure. Let me take a look.

[2019-09-02 15:01] #1062 closed

[2019-09-02 15:51] fbricon commented on #878
Ignored offending test for now

[2019-09-02 16:32] #1089 closed

[2019-09-03 22:15] Gastove opened #1159 "`textDocument/signatureHelp` appears broken"
The `textDocument/signatureHelp` protocol appears to be broken in the latest version of the language server. When I open a Java file in my editor, place point on the name of a function or within the body of the function, I get a response from the server -- but the `signatures` key is always empty. In the logs, I observe this:

[code]

It's worth noting that `textDocument/hover` is working as expec

[2019-09-03 22:32] snjeza commented on #1159
@Gastove could you provide a project example?

[2019-09-03 22:35] Gastove commented on #1159
Erghm. I'll need to make you one -- I'm hitting this at my day job, in a closed-source repo. I'll try and get an open MWE together tonight :+1:.

[2019-09-03 23:44] OmarTawfik opened #1160 "More contribution points to jdt.ls"
Hi,

I'm trying to prototype a new project importer for a new build system, and I was thinking I'll need the following extension points:

* a project importer (similar to [this](https://github.com/eclipse/eclipse.jdt.ls/blob/f98580a93a23944b42ed801143eecf6f33901b01/org.eclipse.jdt.ls.core/plugin.xml#L74-L93)).
* a code action handler, to provide an action for "X is missing. click here to build/imp

[2019-09-04 02:57] Gastove commented on #1159
@snjeza hokay. This repo reproduces the issue for me: https://github.com/Gastove/jdt-experiment

I did this like:
1. In the root of the project, run `./gradlew build`
2. Open my editor
3. Enable LSP logging
4. Open `JDTExperiment.java`
5. Put point anywhere on or in the function `doSomeStuff`

I see the same behavior described above -- the `hover` help works, but the `signatureHelp` does not:

[co

[2019-09-04 04:20] akaroml opened #1162 "Support Diagnostic Tag"
ref: https://github.com/microsoft/vscode-languageserver-node/blob/082631da44d6799358602a4abebadbf4fc47859b/types/src/main.ts#L513

VS Code now allows marking a diagnostic as Deprecated (strikethrough) or Unnecessary (faded), so it is displayed differently like this:

![image](https://user-images.githubusercontent.com/16755094/64225518-4e337e00-cf0e-11e9-869c-6a69b3e30ede.png)

[2019-09-04 16:47] snjeza commented on #1159
@Gastove signatureHelp doesn't work within a method declaration. You can try the following:

[code]

[2019-09-04 16:52] Gastove commented on #1159
Ooooooh, interesting! I must have misread the LSP spec. Will try that, thanks :+1:

[2019-09-04 16:55] Gastove commented on #1159
Do you happen to know -- I was looking at `signatureHelp` because I want to write a javadoc generator plugin for my editor, and I wanted a way to fetch the information `signatureHelp` provides -- "give me the parameters of a function, it's return value and throws, etc." _Is_ there a method for this?

[2019-09-04 17:07] Gastove commented on #1159
Re-reading the spec, it does _appear_ `signatureHelp` would be the correct method; are y'all open to making signature help work, for instance, within the body of a method? Or would this be better as a JDT extension on the LSP protocol?

[2019-09-04 17:21] snjeza commented on #1159
You can explore JDT AST - https://www.vogella.com/tutorials/EclipseJDT/article.html

[2019-09-04 17:37] Gastove commented on #1159
Holy wow, that's.... a lot. Okay. Thanks for the link :+1:

[2019-09-04 17:38] #1159 closed

[2019-09-05 17:19] fbricon opened #1164 "Inadequate range returned on unknown fqcn"
Following up on #1163, the diagnostics triggering the code actions only covers the 1st segment of an unknown package (same as in Eclipse), so you need to go to the underline portion to trigger code actions. In Eclipse, the quick-fix works on the whole string

![Sep-05-2019 19-00-15](https://user-images.githubusercontent.com/148698/64362835-879fe280-d00f-11e9-9e4f-e755558f9c66.gif)

We probably nee

[2019-09-05 17:23] fbricon commented on #1164
Though I kinda understand how the compiler could think that bar is a type, foo could be a member and so on

[2019-09-06 10:29] fbricon opened #1166 "Convert for-loop to for-each loop"
According to @jjohnstn:

so we can start providing that code action

[2019-09-06 10:33] fbricon commented on #440
@NikolasKomonen can you investigate if this one is doable, or it requires jdt.ui -> jdt.core refactoring?

[2019-09-07 02:35] OmarTawfik commented on #1160
@fbricon @gorkem any thoughts?

[2019-09-09 05:13] Eskibear opened #1168 "Wrong completion text for AnonymousDeclarationType"
Originally reported in https://github.com/microsoft/vscode-java-pack/issues/203 , the snippet string for the completion item is wrong.

#### Before
[code]
#### After
[code]

#### LSP request/response
[code]

[2019-09-09 05:24] Eskibear commented on #1168
#### Root cause
Missing semicolon in snippet string. In `jdt.core.manipulation`, a corner case is not coverred (possibly due to upstream refactoring):
- `bodyStatement` is empty but `bodyContent` is not, because of additional auto-generated comments

See: https://github.com/eclipse/eclipse.jdt.ui/blob/c554aedb07125de381956149030d24ff23e7e4ce/org.eclipse.jdt.core.manipulation/core%20extension/org/e

[2019-09-09 16:18] #1166 closed

[2019-09-09 19:06] NikolasKomonen commented on #440
@fbricon No refactoring was needed, I wasn't able to trigger the quick fixes for:

[code]
but the other 2 work, and are tested.

[2019-09-09 19:20] fbricon commented on #440
@snjeza any pointers for the 2 missing cases? Is it related to enabling some more warnings?

[2019-09-09 22:34] snjeza commented on #440
case IProblem.InstanceFieldDuringConstructorInvocation:

@NikolasKomonen you can try the following:

[code]
Both quick fixes work. You need to create tests.

[2019-09-12 07:32] yyoncho opened #1175 "prepareRename works incorrectly when called over import"
[code]

Place the cursor over `java.net` and invoke rename. prepareRename returns successfully but it should return an error stating that the element cannot be renamed.

[2019-09-13 23:01] maxandersen commented on #617
I suggest to add out of the box filtering of typical 'bad' classes - i believe core jdt in eclipse does this by default today for things like java.awt.*.

And then add support for adding a file, maybe `.typeignore` or similar to have project specific overrides which the lsp will use to setup `org.eclipse.jdt.ui.typefilter.enabled` property.

On top of that one could then add in future smarter sort

[2019-09-14 00:07] snjeza commented on #617
Related issue - https://github.com/redhat-developer/vscode-java/issues/710

[2019-09-15 07:08] jdneo opened #1177 "Refactor: Convert anonymous class to nested class"
Provide the refactor code action to convert anonymous class to nested class.

I can raise a PR for this.

[2019-09-16 08:59] #440 closed

[2019-09-16 09:50] rickywu commented on #967
Do I need setup any env if my project use Maven build?

[2019-09-16 15:20] fbricon commented on #442
@NikolasKomonen please see if it can be implemented with the current state of jdt.core

[2019-09-17 01:29] rickywu commented on #967
@JayceCao can you share your coc.nvim and coc-java configuration,
I updated to lastest version of eclispe.jdt.ls and vim plugins also clear dist folder, and still have this problem

[2019-09-17 07:04] fbricon opened #1179 "Add Java 13 support"
as usual, need to consume new jdt packages that support it

[2019-09-17 08:18] jdneo opened #1180 "Check if we can use sequence rank to get the first position in the position group"
Origin discussion is here: https://github.com/eclipse/eclipse.jdt.ls/pull/1178

we should leverage the sequence rank information to get the first position in the position group.

Need to check if the `sequence rank` is also workable in the following proposals:
- extract varaible
- extract variable (all occurrence)
- extract constant
- extract method
- extract field
- invert variable

[2019-09-17 15:08] #1146 closed

[2019-09-17 15:10] #1177 closed

[2019-09-17 21:29] #1175 closed

[2019-09-18 05:11] yyoncho commented on #820
Fixed with https://github.com/eclipse/eclipse.jdt.ls/pull/1165

[2019-09-18 05:11] #820 closed

[2019-09-19 20:27] snjeza opened #1183 "Tests fail"
See https://ci.eclipse.org/ls/job/jdt-ls-master/741/

[code]

[2019-09-20 05:42] zbelial opened #1185 "jdt.ls-java-project does not exist"
I use emacs 27.0.50 + lsp-mode 6.1 + lsp-java 2.2 on manjaro, and I found a problem today, TI he exception is as follows:
[code]
This is a maven project, and I'm using jdt.ls milestone 0.43. I have also tested other versions, including latest snapshot and milestone 0.40, all reported similar errors.
It workd before, but after upgrading jdt.ls and lsp-mode/lsp-java, it did't work suddenly.

Can you

[2019-09-20 06:17] yyoncho commented on #1185
You may try to delete the workspace located in ~/.emacs.d/workspace and retry.

[2019-09-20 06:47] zbelial commented on #1185
Thanks @yyoncho . And yes, after deleting this directory, everything works now.
I'll close this issue.

[2019-09-20 06:47] #1185 closed

[2019-09-20 08:21] angelozerr opened #1186 "Gives the capability to execute command with client progress support"
JDT LS provides a client `progress support` which is used only internally.

It should be very fantastic if we could benefit of this progress support with` custom delegate command handler`.

It will avoid for external JDL LS extension like STS to implement their own progress support. @martinlippert what do you think about this idea?

Please note that LSP progress support is in discussion https://gi

[2019-09-20 15:55] angelozerr commented on #1186
For LSP progress support, I created an issue for LSP4J https://github.com/eclipse/lsp4j/issues/370

[2019-09-23 18:06] fbricon commented on #1183
maybe caused by the new Java 13 stuff in JDT core?

[2019-09-23 18:07] fbricon commented on #1164
@NikolasKomonen wanna look into this one?

[2019-09-23 18:46] snjeza commented on #1135
This is an upstream issue. It can be reproduced in Eclipse.

[2019-09-23 19:01] NikolasKomonen commented on #1164
@fbricon sure, I'll look into it.

[2019-09-24 08:41] Eskibear commented on #1136
Agree.

Basically there are 3 types of code actions, listed below, with the condition that the results should be calculated:
* **QuickFix**: calculate only when "showQuickFixes" is triggered.
* **Refactor**: caculate only when "Refactor..." is triggered.
* **Source**: caculate only when "Source actions ..." is triggered.

Currently, when calculating the code actions, LS doesn't honor `CodeActionCo

[2019-09-24 09:31] fbricon commented on #1183
JDT only supports enable-preview features for the latest version of the JDK. Which is problematic. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=549258#c9
Anyone using Java 12 right now with preview features will break immediately, unless they migrate to Java 13.

[2019-09-24 09:35] Eskibear opened #1189 "Wrong range of QuickFix: surround with try/multi-catch"
Not all the selected statementes are surrounded with try-catch. See below, the first line is outside the try block, while the last line is inside.

![multicatch](https://user-images.githubusercontent.com/2351748/65499888-f2e32300-def0-11e9-9a54-e72e1113e8f9.gif)

I think the two statements should be treated in the same way, either include them both, or exclude them together.

[2019-09-24 10:27] fbricon commented on #1183
I'm fixing it while adding tests for #1179

[2019-09-24 17:34] #442 closed

[2019-09-24 17:34] fbricon commented on #442
Thanks @NikolasKomonen!

[2019-09-24 18:10] #771 closed

[2019-09-24 19:38] #1179 closed

[2019-09-24 19:38] #1183 closed

[2019-09-25 07:56] #1180 closed

[2019-09-25 13:27] #1162 closed

[2019-09-25 14:14] fbricon commented on #165
@NikolasKomonen please look into this one

[2019-09-25 14:15] fbricon commented on #439
@NikolasKomonen please look one

[2019-09-25 15:04] AObuchow commented on #376
Was testing JDT-LS integration with LSP4E and ran into this issue as well.
Would it be possible to replace usage of "java.apply.workspaceEdit" in codeAction with workspaceEdit?
It seems to be mentioned in `CodeActionHandler.java`:
[code]

Also, could we retitle this issue to something like `Replace usage of java.apply.workspaceEdit in codeAction by workspaceEdit`?

[2019-09-25 20:12] OmarTawfik commented on #1160
cc @fbricon @gorkem

[2019-09-26 05:46] angelozerr commented on #1136
IMHO, a big improvement with CodeAction is to compute them only when user decides to apply it. I create an issue with my idea in LSP with `CodeAction#resolve` https://github.com/microsoft/language-server-protocol/issues/787

[2019-09-26 13:29] #1189 closed

[2019-09-26 19:31] OmarTawfik commented on #1160
I'm looking this week into adding these extension points, and will send a PR if I'm successful. Please let me know if you have any objections on this.

[2019-09-27 01:48] testforstephen opened #1192 "new <classname> doesn't provide the correct completion"
![image](https://user-images.githubusercontent.com/14052197/65735871-93ad2a80-e10b-11e9-9619-ca4848c2d7ad.png)
When invoking the constructor to construct a class instance, typing `new` keyword and the language server doesn't show the target class name in the completion options.

[2019-09-27 01:51] testforstephen commented on #977
@jdneo is working on this.

[2019-09-27 01:52] jdneo commented on #977
Yes I'm now moving the related code from `ui` to `core.manipulation`

[2019-09-27 03:29] gsinghab2 commented on #866
I am getting the same error with Eclipse 2019-09 R (4.13.0). Running a spring boot project with gradle
2019-09 R (4.13.0)

ENTRY org.eclipse.jdt.core 4 0 2019-09-26 22:16:17.820
!MESSAGE Unexpected internal error
!STACK 1
Java Model Exception: Java Model Status [module-info.class [in <default> [in ...\.gradle\caches\modules-2\files-2.1\org.glassfish.hk2.external\asm-all-repackaged\2.5.0-b42\3afd5d

[2019-09-27 16:12] #656 closed

[2019-09-27 16:34] fbricon commented on #1160
I'm a bit confused, since there's a project importer extension point already, what new extension point are you adding? one for the build supports?

[2019-09-30 05:44] testforstephen commented on #1192
when click `ctrl + space`, the class name is prompted in the completion list.

[2019-09-30 05:44] #1192 closed

[2019-09-30 17:11] fbricon commented on #1179
There's one significatant caveat with Java 13 support: JDT only supports enable-preview features for the latest version of the JDK. Which is problematic. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=549258#c9
Anyone using Java 12 right now with preview features will break immediately, unless they migrate to Java 13.

Gradle projects still fail to configure with Java 13 at this point.

[2019-09-30 17:14] fbricon opened #1196 "Add Java 13 support for Gradle projects"
Even after #1179 and #1195, gradle projects (using gradle 6) still fail to be correctly imported in Eclipse/jdt.ls.

[code]

[2019-09-30 21:35] #1121 closed

[2019-09-30 23:09] OmarTawfik commented on #1160
@fbricon how can I export a project importer from an external `*.jar`? is there a tutorial or a project already doing this I can look up?

[2019-09-30 23:25] fbricon commented on #1160
@OmarTawfik see https://github.com/testforstephen/vscode-pde/blob/master/pde/org.eclipse.jdt.ls.importer.pde/plugin.xml#L10  for instance

[2019-10-01 23:24] OmarTawfik commented on #1160
@fbricon thanks for the example. Will go through that other extension!
For the remaining types, does a solution already exist?
* Code action handlers (to produce fixes for diagnostics).
* formatters

[2019-10-05 00:52] vincentwoo opened #1198 "Is the delay on diagnostics results intentional?"
In my testing of eclipse.jdt.ls, I find that it takes roughly 1 second between sending a `didChange` notification to getting diagnostics results back. This seems to be a bit slow, especially compared to LSPs for other languages out there. It seems to me that this may be due to this 400ms timeout baked into DocumentLifeCycleHandler:

https://github.com/eclipse/eclipse.jdt.ls/blob/7c7f65d3919f66a2c2

[2019-10-05 20:42] snjeza commented on #1198
Yes, it is intentional. We don't want to perform validation on each keystroke. See https://github.com/eclipse/eclipse.jdt.ls/pull/425

Yes, you are correct.

@fbricon What do you think?

[2019-10-08 06:04] jdneo commented on #1157
Since the formatting issue has to be fixed case by case, below is a list that we need to pay attention and fix it once we can get the indention setting from the client:

- All the classes which use `PreferenceManager.getCodeGenerationSettings()`, like the `Move` series.
- All the classes which is using or want to use `WorkspaceEdit` instead of a command in LSP responses, like the PR: https://githu

[2019-10-08 18:29] yyoncho opened #1202 "[Feature Request] Provide method for converting callstack entry to location"
This will allow the clients to make the links in the output clickable:
E. g.
[code]

I think that it might be possible to implement this on client-side by parsing the message and then using workspace/symbols but maybe it makes more sense to implement that on the server.

[2019-10-08 18:38] yyoncho opened #1203 "convert to static import incorrectly removes import"
See https://github.com/emacs-lsp/lsp-java/issues/158 for steps to reproduce and sample project.

[2019-10-08 18:47] fbricon commented on #1203
Can you provide a sample project and steps to reproduce the issue?

[2019-10-08 18:49] yyoncho commented on #1203
Use https://github.com/yauhen-l/lsp-java-static-import-issue

[2019-10-09 22:53] jvalkeal opened #1204 "Workspace symbols may have records without name."
This is an issue I noticed when having reactor classes on a classpath. Specifically when requesting workspace symbols and filtering by `Mono`, result set in vscode in empty. In my case there's 268 symbols returned for a query.

vscode shows this error in an extension host log:
[code]

When looking trace log, one of these symbols don't have a name, vscode errors and doesn't show anything.
[code]
I

[2019-10-10 03:11] testforstephen commented on #863
@rgrunber i found you're driving the [eclipse ticket](https://bugs.eclipse.org/bugs/show_bug.cgi?id=458804) now, but the code is merged to jdt.ui. I'm wondering is there any chance to move it to jdt.core.manipulation for jdt.ls reuse? thanks.

[2019-10-10 11:09] jdneo opened #1205 "Investigate how to show the server snippet information in a beautiful way"
Now the information of the server snippet shows like this:
![image](https://user-images.githubusercontent.com/6193897/66369660-dbfffe80-e9cf-11e9-876c-104a303fb9a2.png)

It would be better if we can make it the same as the client side snippet:
![image](https://user-images.githubusercontent.com/6193897/66563926-693e8100-eb91-11e9-9472-ebefeb7c8a0b.png)

[2019-10-10 19:48] rgrunber commented on #863
Yes, that is my intention. I'll have a closer look at this but for now have also been looking at bringing over the chain completion feature. I notice there are still some classes like TemplateEngine that would need to be refactored.

[2019-10-12 00:47] ayumi opened #1206 "Diagnostics block when sending didChange events for other open files"
Hi there! It seems that diagnostics don't return when multiple files are open and edits are sent too rapidly. To test this:

1. Open file 1
2. Open file 2
3. Edit file 1, to send a didChange event for file 1
4. Immediately switch to file 2 -- before diagnostics have returned from the server -- and rapidly edit file 2 many times.
5. Diagnostics for file 1 only return after you stop editing file 2.

[2019-10-12 07:06] jdneo commented on #1137
@snjeza @fbricon

I found a reason which may cause this bug. In https://github.com/eclipse/eclipse.jdt.ls/blob/ff78ddaf41417aec47cfdf1aa619a96f87462f61/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JDTUtils.java#L894. We always refresh the parent with `zero` depth. After this operation, the parent of the newly created package is still not aware of the existence of its new member. Ma

[2019-10-12 07:13] fbricon commented on #1137
If that's what it takes to work then ok

[2019-10-12 13:45] languitar opened #1208 "No more milestone builds published at all?"
There is no release milestone build available for the 0.44.0 release on the package server.

[2019-10-13 12:03] tinkerbeast opened #1209 "Build failure via command line"
### Issue summary

Got errors while trying to execute `./mvnw clean verify`. Version of code is sha:fbcfa6baad3e03ec6f55e9df0cec7b3458e0e1c0.

Error is as follows:

[code]

### Environment

[code]

### Run time logs

[code]
### Full logs

Attached full logs.
[surefire-reports.zip](https://github.com/eclipse/eclipse.jdt.ls/files/3721703/surefire-reports.zip)

[2019-10-13 12:09] tinkerbeast commented on #1209
Gist of errors:

[code]

[2019-10-13 18:53] snjeza commented on #1209
@tinkerbeast the build requires JDK 8. See https://github.com/eclipse/eclipse.jdt.ls#building-from-the-command-line

[2019-10-13 19:01] tinkerbeast commented on #1209
Ok, thanks.

[2019-10-13 19:01] #1209 closed

[2019-10-14 07:16] akaroml commented on #1206
@Eskibear it's like something related to scheduling contention. Worth taking a look.

[2019-10-14 17:31] #1137 closed

[2019-10-15 06:50] #1204 closed

[2019-10-15 07:45] yyy2015 commented on #996
I have the same problem. Do you fix it?

[2019-10-15 07:49] yyy2015 commented on #996
Results:

Failures:
  UnresolvedTypesQuickFixTest.testParameterizedType1:876->AbstractQuickFixTest.assertCodeActions:95->AbstractQuickFixTest.assertCodeActions:115 Create class 'XXY<T>' has the wrong content  expected:<package test1;[

public class XXY<T> {

}]

public class XXY<T> {

]

  UnresolvedTypesQuickFixTest.testQualifiedType:491->AbstractQuickFixTest.assertCodeActions:95->AbstractQuickFi

[2019-10-15 09:16] #1205 closed

[2019-10-15 09:16] #977 closed

[2019-10-16 05:03] Vigilans opened #1212 "Type filter blocks filtered type's code completion"
Related reddit thread: [Java and intellisense issue with JPanel?](https://www.reddit.com/r/vscode/comments/dc5uvb/java_and_intellisense_issue_with_jpanel/)

The types specified in preference `java.completion.filteredTypes` would not get any completion suggession even if we are already using instances of them, as follows:

![image](https://user-images.githubusercontent.com/20227484/66888950-193d3f8

[2019-10-16 05:05] Vigilans commented on #1212
Currently, `java.completion.filteredTypes` uses Eclipse's [Type Filters Preferences](https://help.eclipse.org/kepler/index.jsp?topic=%2Forg.eclipse.jdt.doc.user%2Freference%2Fpreferences%2Fjava%2Fappearance%2Fref-preferences-type-filters.htm):
https://github.com/eclipse/eclipse.jdt.ls/blob/5f7a7364f371e27c0ab143231917594dc4df35f8/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/prefere

[2019-10-16 05:07] Vigilans commented on #617
The first drawback has already resulted in a completion issue: #1212
Related reddit thread: [Java and intellisense issue with JPanel?](https://www.reddit.com/r/vscode/comments/dc5uvb/java_and_intellisense_issue_with_jpanel/)

[2019-10-16 11:22] #1212 closed

[2019-10-16 11:45] fbricon commented on #1203
Thanks, the problem can also be reproduced in upstream Eclipse JDT, see  https://bugs.eclipse.org/bugs/show_bug.cgi?id=542653

[2019-10-16 11:53] fbricon commented on #1203
The proposed fix in https://git.eclipse.org/r/#/c/136212/3/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickAssistProcessor.java, once finalized, would have to be ported back to jdt.ls.

[2019-10-16 11:54] fbricon commented on #1202
@jdneo @yaohaizh @testforstephen you guys might want to look into this, as I'm sure this could be useful for the vscode java debugger

[2019-10-16 11:57] fbricon commented on #1198
I don't think the 1sec delay is caused by the diagnostics delay. Something is probably pegging the CPU already. If anything, I believe shortening the validation delay would make things even worse

[2019-10-16 12:26] testforstephen commented on #1202
The java debugger has provided our own source look up logic, probably it's able to port back to jdt.ls.

[2019-10-16 13:58] fbricon opened #1214 "Provide codelenses for endpoints of the running app"
- connect to local running application
- connect to a remote server???

The idea is to provide links from REST endpoints in the code that will be opened in the browser when clicking on them.

Look at how spring tools works with spring boot applications

[2019-10-16 13:59] fbricon opened #1215 "Investigate quarkus codelenses for rest endpoints"

[2019-10-16 14:01] #1214 closed, assigned to nobody

[2019-10-16 14:03] #1215 closed, assigned to nobody

[2019-10-16 20:58] vincentwoo commented on #1198
It's not the case that a CPU core is pegged. We can send these requests one-by-one very slowly and always see this response time floor.

[2019-10-17 01:30] vincentwoo commented on #1198
I just tried a custom build where I changed the instances of the number of 400 to 1 in "PublishDiagnosticsHandler.java" lowered diagnostics response from 1000ms to 200ms - a fivefold improvement. It would be super helpful for our us to be able to configure this without creating a custom build.

[2019-10-17 02:15] vincentwoo commented on #1198
I think part of the issue is that there seem to be two delays added - one by triggerValidation and another by performValidation. That seems less clearly intentional to me.

[2019-10-18 15:55] NikolasKomonen commented on #165
After some testing, I am able to turn on/off/set a preference by pasting setting it in the .setting file and after saving it starts working.

I think this would be a good solution as long as we provide an easy way to get the preference ID since its not easy to find it from Eclipse.

Maybe a wiki should be created for a list of them.

[2019-10-18 18:44] snjeza commented on #1206
That is the expected behaviour because thedidChange action is a global workspace action.

[2019-10-19 08:09] kuafuwang opened #1218 "textDocument/codeAction failed"
My code
`package test ;

import javacard.framework.*;

public class test extends Applet
{

	public static void install(byte[] bArray, short bOffset, byte bLength)
	{
		new test().register(bArray, (short) (bOffset + 1), bArray[bOffset]);
	}

	public void process(APDU apdu)
	{
		if (selectingApplet())
		{
			return;
		}

		byte[] buf = apdu.getBuffer();

		ygetBuffer  ;

		switch (buf[ISO7816.OFFSET

[2019-10-20 09:02] vasiltabakov opened #1219 "Feature Request: Tag IProblem.UnusedImport as DiagnosticTag.Unnecessary"
It would be great to have unused imports tagged as unnecessary in diagnostics results (related to #1162).

[2019-10-21 07:41] jdneo opened #1220 "Support selection range in snippets"
Here is a brief demonstration of the idea:
![Kapture 2019-10-21 at 15 31 31](https://user-images.githubusercontent.com/6193897/67185402-4f662f00-f418-11e9-85b0-048cedc0f82a.gif)

This feature might be used when the user forget to check null or something like that, and quickly wrap the code by a certain snippet.

The problem is that so far LSP does not support passing the selection information in c

[2019-10-21 07:47] akaroml commented on #1219
Good idea and sounds natural to me. I'll make a PR soon.

[2019-10-21 07:54] fbricon commented on #1220
Since this is not even referenced in jdt.ls, how do you propose to do that?

[2019-10-21 08:02] jdneo commented on #1220
How about:

1. Add `$TM_SELECTED_TEXT` into our server side templates
2. In [beautifyDocument(String raw)](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/contentassist/SnippetUtils.java#L26-L39), detect the existence of `$TM_SELECTED_TEXT` and replace it with empty string.
3. The VS Code client will replace the `$TM_SELECTED_TEXT`

[2019-10-21 08:18] fbricon commented on #1220
Since $TM_SELECTED_TEXT is defined in the spec: https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/#variables, jdt.ls can use it

[2019-10-21 08:29] fbricon commented on #1198
Mmm the delay in publishing diagnostics was added as part of  in #989, to fix #847. @snjeza do you remember why diagnostics had to be throttled?

[2019-10-21 18:13] snjeza commented on #1198
@fbricon See https://github.com/eclipse/eclipse.jdt.ls/pull/425#issuecomment-345782934

[2019-10-21 18:20] fbricon commented on #1198
@snjeza so we need to wait for completion to finish before sending diagnostics? I'd say they should not be correlated. Or maybe I'm misunderstanding.

[2019-10-21 18:36] snjeza commented on #1198
@fbricon See also https://github.com/eclipse/eclipse.jdt.ls/pull/512#issuecomment-357968601

[2019-10-22 05:50] JoseLion commented on #1196
This seems to be solved on Buildship v3.1.3. For now only the snapshot version is available. Just add the update site to Eclipse configuration.
`https://download.eclipse.org/buildship/updates/e413/snapshots/3.x`

[2019-10-22 09:34] fbricon opened #1223 "Test failures"
The build started failing because of a change in behavior of JDT
<img width="725" alt="Screen Shot 2019-10-22 at 11 33 45 AM" src="https://user-images.githubusercontent.com/148698/67274031-f18d2200-f4bf-11e9-8702-a38838fdc019.png">

[2019-10-22 13:29] #1220 closed

[2019-10-22 18:17] Yanpas opened #1225 "Language server returns completion results twice"
![image](https://user-images.githubusercontent.com/7345761/67316405-0a71f380-f511-11e9-9706-c2d9b2e78ae8.png)

I'm using eclipse project. VSCode Extension version 0.51. On 0.46 definetely didn't met it. There are also some gradle and maven files in the tree.

My configuration:
[code]

[2019-10-23 06:01] testforstephen opened #1227 "Provide better symbol detail info for the auto completion proposal"
Currently when showing the javadoc for the auto completion proposal, the header info is a bit simple.

For example, the javadoc header for the method proposal only shows a type name, the user cannot recognize what it means at a glance.
**Current:**
![image](https://user-images.githubusercontent.com/14052197/67361575-a8120500-f59b-11e9-9b50-4d46780e00e9.png)

Reference to the normal hover doc, the

[2019-10-23 06:31] #1223 closed

[2019-10-23 08:03] #1219 closed

[2019-10-23 08:09] GabCamarda opened #1228 "Maven import failure caused by m2e-apt unable to parse maven-compiler-plugin configuration"
When importing a multi-module maven project on vscode, it fails with this error message:
```The project was not built since its build path is incomplete. Cannot find the class file for java.lang.Object. Fix the build path then try building this project```
Running `mvn clean install` on cli returns no error and IntelliJ has no issues. I've also reported a bug here, as I use emacs: https://github.co

[2019-10-23 08:33] jdneo opened #1230 "Better expose the feature: Invert condition"
Currently the `Invert Condition` refactoring can only be triggered if the user selects a valid boolean expression, which is not very convenient to use.

We can better expose it actually:
- If the selection in context is more than 0, we follow the current implementation.
- If the selection in context is 0, we can try to find the highest boolean expression node in the AST Tree  which contains the co

[2019-10-24 17:24] BoykoAlex opened #1232 "Hover links to Java artifact from JARs don't work in VSCode"
This is with version 0.52.0 of JDT LS
Install Red Hat Java extension in VSCode.

Consider the following project:
[spring-petclinic.zip](https://github.com/eclipse/eclipse.jdt.ls/files/3768696/spring-petclinic.zip)

Extract it and open it in VSCode.
Open class: `PetRepository`
Hover over `Repository` (line 34: `PetRepository extends Repository<Pet, Integer>`)
Find `CrudRepository` on the hover.
Cli

[2019-10-24 17:26] #1227 closed

[2019-10-24 18:36] fbricon commented on #1232
On which platform?

[2019-10-24 20:45] BoykoAlex commented on #1232
Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:33:00.827Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

[2019-10-25 08:11] lingocoder commented on #257
@snjeza? In what file does this property get set? Please? TIA.

[2019-10-25 08:24] fbricon commented on #257
it's the property sent to the server by the client you're using. Each client can have its own preference mechanism. In vscode, for instance, this is defined in the user preferences, or .vscode/settings.json.

[2019-10-25 13:12] scela opened #1236 "Autocompletion does not propose variable names if cursor between brackets"
In this scenario the auto completion only proposes overloaded println methods and not the variable 'variable'.

![image](https://user-images.githubusercontent.com/829239/67574069-096fda80-f73a-11e9-8787-f3d34c567a5c.png)

@ibuziuk said that if you type the first character it does propose it :

![image](https://user-images.githubusercontent.com/829239/67574040-f826ce00-f739-11e9-8382-e72381db74ba.p

[2019-10-25 13:28] snjeza commented on #257
Please try the following property:

[code]

[2019-10-25 19:18] languitar commented on #1208
Same thing for 0.46.0

[2019-10-26 09:54] lingocoder commented on #257
Awesome! Thank you both @snjeza and @fbricon :+1:

I do use vscode the most. So that's the one I'm most interested in. Thanks. But what file — *or IDE preference tab* — do I set that in for Eclipse? TIA

[2019-10-26 14:07] snjeza commented on #257
There isn't such property in Eclipse. Eclipse doesn't import maven projects automatically.

[2019-10-26 19:22] vasiltabakov opened #1235 "Warnings not reported if erros exist"
This is probably somehow related to #1147, here's a quick demo:
![aARWvGSDJV](https://user-images.githubusercontent.com/1178309/67624786-05c57c00-f83e-11e9-8141-0fbe3fea44f2.gif)

Unless that's by design I think both - warnings and errors should be reported at the same time.

p.s.
"Order" doesn't matter, i.e. an _error_ could come after a _warning_

p.p.s.
Just checked Eclipse, **same** behavior

[2019-10-28 19:05] #1230 closed

[2019-10-30 07:13] Eskibear commented on #1136
According to LSP, a code action of kind **quickfix** is tending to fix some problems (error/warning/info...).

Now the code actions in the processors are:
- QuickFixProcessor
  - quickfix actions ...
- QuickAssistProcessor
  - [quickfix] Assign constructor parameters to new fields.   --> should be refactor
  - [refactor.move] Move…
  - [refactor.extract] Extract Variable
  - [refactor.extract] Ext

[2019-11-03 16:51] brookhong opened #1240 "Is it possible to make textDocument/definition work across project?"
For example, I have a root project with its source in `project1/src/main/java`, and the project1 has a dependency package `foo`. Now If we added below entries in `.classpath` file, it is possible to get class definition from `foo`?

    <classpath>
        <classpathentry kind="src" path="src/main/java"/>
        <classpathentry kind="src" path="../foo/src/main/java"/>
    </classpath>

[2019-11-04 12:44] GabCamarda commented on #1228
Can anyone help with this?

[2019-11-04 22:23] fbricon commented on #273
@NikolasKomonen can you take a look at this one pretty please?

[2019-11-05 10:50] Yanpas commented on #1225
Can't reproduce with 0.52

[2019-11-05 16:42] fbricon commented on #1228
Reopening since m2e-apt is causing the failure:
[code]

m2e-apt [should ignore empty compiler arguments](https://github.com/redhat-developer/vscode-java/issues/1131#issuecomment-549773359). See:

[code]

[2019-11-05 17:50] snjeza opened #1244 "MavenBuildSupportTest.testDownloadSources fails"
See https://ci.eclipse.org/ls/job/jdt-ls-master/723/
[code]

[2019-11-06 04:13] fortime opened #1245 "Add support of the official `workspaceFolders`"
Currently, JDT Language Server uses initializationOptions to pass `workspaceFolders`.
https://github.com/eclipse/eclipse.jdt.ls/blob/1dfdeeafb9d0dd7c16d915763a30088dfa3a721e/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/InitHandler.java#L93

Since 3.6, lsp has added a parameter for passing `workspaceFolders`.
https://github.com/eclipse/lsp4j/blob/2a3db10fe9719f3869a715c58fd

[2019-11-06 09:15] GabCamarda commented on #1228
Ok, thanks. I'll give that a try.

[2019-11-06 09:40] Eskibear commented on #1244
Some cases related with keyword commons.lang3 also randomly fail.
[code]

[code]

[code]
See https://ci.eclipse.org/ls/job/jdt-ls-pr/1600/ and https://ci.eclipse.org/ls/job/jdt-ls-pr/1601/

[2019-11-06 14:33] #165 closed

[2019-11-06 20:24] NikolasKomonen commented on #273
will do

[2019-11-07 06:37] Eskibear commented on #1244
Is it because of the inconsistency of `M2_HOME` ?

`/home/jenkins/.m2` is not writable, thus now the M2_HOME is:
[code]

In the error log, it seems to look for lib from `/home/jenkins/.m2`
[code]

[2019-11-07 08:51] Eskibear opened #1250 "Code Actions are not sorted by relevance"
Currently, different kinds of proposals are sorted by `ChangeCorrectionProposalComparator` **all together** before converted to code actions. For proposals of different CodeActionKind, they are not sorted by relevance at all.

See https://github.com/eclipse/eclipse.jdt.ls/blob/1dfdeeafb9d0dd7c16d915763a30088dfa3a721e/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/CodeActionH

[2019-11-07 14:37] ncaq opened #1251 "Build failure by GradleProjectImporterTest.testDeleteClasspath:320"
I proceeded with the installation as per the procedure, but I cannot proceed due to an error.

[code]

[code]

in `TEST-org.eclipse.jdt.ls.core.internal.managers.GradleProjectImporterTest.xml`

[code]

I do not understand test of <https://github.com/eclipse/eclipse.jdt.ls/blob/19905f028d7c2870feccb8f8652bdd9595ee9977/org.eclipse.jdt.ls.tests/src/org/eclipse/jdt/ls/core/internal/managers/GradleProj

[2019-11-07 20:03] fbricon commented on #1244
no. M2_HOME is only used during the maven build of jdt.ls, not the tests themselves. This was necessary to set or else the maven wrapper could not be installed.
The tests have been failing since before that anyway.

[2019-11-07 21:29] #1244 closed

[2019-11-08 02:10] snjeza commented on #1251
I can't reproduce the issue.

[2019-11-08 16:04] #1196 closed

[2019-11-08 16:05] #1228 closed

[2019-11-08 20:10] NikolasKomonen commented on #273
Waiting on refactor to continue: https://bugs.eclipse.org/bugs/show_bug.cgi?id=552858

[2019-11-10 21:41] Vigilans opened #1257 "Enhanced Referenced Library Support Proposal"
## Introduction

Hello, I am seeking to provide a mechanism for adding external local dependencies to a project in recent days, which solves feature requests like https://github.com/microsoft/vscode-java-pack/issues/94 and https://github.com/microsoft/vscode-java-dependency/issues/174.

This feature would bring some notable benefits:
* More friendly to beginners. In my university years, most of my

[2019-11-10 21:41] Vigilans commented on #1257
## Trials and errors

### Implement in Server Side

At first, I implemented a prototype for this feature in `jdt.ls`.  I tried in server side because I thought it would bring me some benefits like:  (**Pros**)
* Easy to reuse and implement as we are merely upgrading `lib/**` to `any globs`.
* Every language clients could benifit from it once the feature is done.

However, after the prototype was f

[2019-11-10 21:42] Vigilans commented on #1257
## Trials and errors

### Implement in Client Side

Finally I decided to move fs-related logic to client side, leaving `jdt.ls` to only serve as a thin API provider for updating dependency files.

**Pros:**
* Good and mature library support: `chokidar` for watching and `node-glob` for searching.
* Decoupled with `jdt.ls`, making the feature more simple to be implemented.

**Cons:**
* Will it break

[2019-11-10 21:42] Vigilans commented on #1257
## Proposal
Here's the proposal I've worked out until now:

1. Refactor [`UpdateClasspathJob`](https://github.com/eclipse/eclipse.jdt.ls/blob/905f39bfc28cc82d9b20907ed30c96f4df899aa5/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/UpdateClasspathJob.java#L72) by providing a general interface:

[code]

2. Restrict `UpdateClasspathJob` to only updating dependency file by moving

[2019-11-11 09:01] testforstephen opened #1261 "Build job reported the errors from unrelated gradle projects outside my workspace"
Reproduce steps:
1. Use the launch file **jdt.ls.socket-stream.launch** to launch eclipse.jdt.ls process first.
2. Use **vscode-java/Launch Extension - JDTLS Client** to attach a VS Code client. And in the launched VS Code client, it opens a gradle project [fx2048](https://github.com/brunoborges/fx2048).
3. Repeat step1 and 2, but in the step 2, open a new gradle project [leakcanary](https://githu

[2019-11-11 09:15] testforstephen commented on #1261
The cause is ProjectsManager#deleteInvalidProjects method skips the gradle project. See code.
[code]

 if (project.exists() && (ResourceUtils.isContainedIn(project.getLocation(), rootPaths) || **ProjectUtils.isGradleProject(project))**

I saw **ProjectUtils.isGradleProject(project))** is introduced in the PR https://github.com/eclipse/eclipse.jdt.ls/commit/320401b60ec9caf036345fc3cd24d44211216fb4#

[2019-11-11 18:07] snjeza commented on #1261
I can reproduce the issue.

Agree.

[2019-11-12 11:12] fbricon opened #1262 "BasicFileDetectorTest.testInclusions* fail randomly"
See https://ci.eclipse.org/ls/job/jdt-ls-master/744/testReport/

[2019-11-12 16:54] dradtke opened #1263 "No option to add missing imports to file"
It doesn't look like this language server supports adding missing imports. The code actions support "organizing imports," but that doesn't add missing ones. The [java-language-server](https://github.com/georgewfraser/java-language-server) project supports adding missing imports via the code format action, but that doesn't work with this one either.

[2019-11-12 17:35] fbricon commented on #1263
"organizing imports" adds missing imports unless there are ambiguous imports. In which case, clients need to support interactive commands to choose which imports to import. This is not documented (wink wink @testforstephen), but you can look at https://github.com/redhat-developer/vscode-java/pull/850 to try to understand how it works.

Can you share your setup? which client are you using? a sample

[2019-11-12 17:44] dradtke commented on #1263
This is with the `vim-lsp` client. I don't have a sample project handy, but I can try to create a small example and share it here.

[2019-11-12 20:00] dradtke commented on #1263
So I was able to get two versions of this issue.

### 1. No build system

Maybe a silly case, but I would expect Eclipse to be smart enough to handle standard library imports on standalone Java programs. For example:

[code]

The diagnostics fail to notice that `File` isn't imported, and running code actions doesn't even provide an option to organize imports.

If I then update it to this:

[code]

[2019-11-12 20:17] dradtke commented on #1263
Forgot to mention, this was tested on Linux with `v0.46.0`.

[2019-11-13 06:28] Eskibear commented on #1250
If the actions should be grouped by CodeActionKind, 'quickfix' should be on top of the list if there's a problem. The current comparator compare CodeActionKind first, in alphabetical order. The order **happened to be** "quickfix", "refactor", "source". But now we have new kind "quickassist", which would be ahead of "quickfix" in alphabetical order.

So I'd like to use a more robust way:
* First so

[2019-11-13 07:31] Eskibear opened #1266 "Set correct kind for action "Add final modifier where possible""
See PR #1234 .

This code action is not of kind 'quickfix', but there is no diagnostic. Suggest to change the kind to 'refactor' according to [LSP](https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/#textDocument_codeAction)

[2019-11-13 14:06] uberbrodt opened #1268 "InvisibleProjectImporterTest.getPackageNameFromRelativePathOfEmptyFile:113 : Build Error"
Getting a test failure building on Fedora 30

cmd run:
`./mvnw clean verify`
java -version
[code]
git revsion 31d753b1f62d5f170c840cb3f84fa161bfbc9153

Surefire report:
[code]

[2019-11-13 14:33] fbricon commented on #1268
Can you reproduce it consistently?

[2019-11-13 17:49] #1261 closed

[2019-11-13 20:15] fbricon commented on #376
The fix was reverted because of a regression. See  https://github.com/eclipse/eclipse.jdt.ls/pull/1256#issuecomment-553582214

[2019-11-14 16:56] snjeza opened #1271 "ProjectsManagerTest.testCancelInitJob and GradleProjectImporterTest.testJava12Project fail randomly"
https://ci.eclipse.org/ls/job/jdt-ls-pr/1676/console

[code]

https://ci.eclipse.org/ls/job/jdt-ls-pr/1672/testReport/junit/org.eclipse.jdt.ls.core.internal.managers/GradleProjectImporterTest/testJava12Project/

[code]

[2019-11-14 17:48] muhmud opened #1272 "Issue with Lombok @Delegate annotation"
I'm using the Lombok `@Delegate` annotation, which works fine in Eclipse, however, causes an internal error with jdt, as shown below. If I remove the annotation, the error goes away.

I figured I should raise this here, as it works fine in Eclipse.

[code]

[2019-11-14 17:53] muhmud commented on #1272
Just found I get the same issue in Eclipse with this particular class, closing this issue.

[2019-11-14 17:53] #1272 closed

[2019-11-14 23:23] snjeza commented on #1268
I can't reproduce the issue on Fedora 30.
I have tested the master branch and https://github.com/eclipse/eclipse.jdt.ls/commit/31d753b1f62d5f170c840cb3f84fa161bfbc9153

[2019-11-15 04:59] Eskibear opened #1274 "CI jobs "Killed" randomly"
https://ci.eclipse.org/ls/job/jdt-ls-pr/1700/console
[code]

And it failed before in job 1649, see https://github.com/eclipse/eclipse.jdt.ls/pull/1264#issuecomment-553220830

[2019-11-15 20:00] snjeza commented on #1262
test this please

[2019-11-18 06:08] testforstephen commented on #1136
The refactor changes are already merged. Close it.

[2019-11-18 06:08] #1136 closed

[2019-11-18 06:19] testforstephen opened #1277 "All build errors should be reported to the client"
When you invoke compile the workspace command to manually build the workspace, the latest build result is not published to client.

See [BuildWorkspaceHandler.java](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/BuildWorkspaceHandler.java), it only counts the error number and marks the build fail, but doesn't republish th

[2019-11-18 18:39] #1274 closed

[2019-11-19 09:36] #1266 closed

[2019-11-19 14:38] #1250 closed

[2019-11-20 20:34] snjeza opened #1284 "HoverHandlerTest.testHoverOnPackageWithJavadoc fails"
See https://ci.eclipse.org/ls/job/jdt-ls-master/767/

[code]

[2019-11-21 02:30] jdneo opened #1286 "Add the location check back when loading bundles"
In #1253, I removed the location check when loading bundle, which means when loading bundles, if there is already a bundle with the same version installed/started, all the bundles with the same version will be ignored.

This is fine for the common users, but it may have some problems for the developers who develop Java LS extensions.

For example, when launching the extension in dev mode for the J

[2019-11-22 11:01] #1284 closed

[2019-11-22 12:44] sotiwin opened #1288 "30s wait when loading a project"
I'm trying to setup eclipse.jdt.ls with neovim, coc.nvim and coc-java. It works, but when I close nvim and start it again there seems to be a 30 seconds wait until the code-completion begins to work.

I've checked the content of java.open.serverLog, and it seems there is something wrong with gradle detection.

Note that I can eliminite the wait if after closing nvim I delete `.project`.

I attache

[2019-11-22 19:11] #439 closed

[2019-11-23 15:18] #1286 closed

[2019-11-24 10:18] muhmud opened #1289 "Package rename is explicitly disabled"
In `/org/eclipse/jdt/ls/core/internal/handlers/PrepareRenameHandler.java:60`, package renaming is explicitly disabled:

[code]

Is there a reason for this? What would it take to get this restriction removed? I'd be willing to do a PR.

Thanks,

[2019-11-25 11:07] yyoncho opened #1290 "Incorrect signatures returned assertEquals"
[code]

signature help shows `(Object[], Object[])` as the active signature instead of (long, long).

[2019-11-25 15:30] NikolasKomonen commented on #1290
Hi, I tried to recreate your issue and I got the following using the code you provided.

![Selection_005](https://user-images.githubusercontent.com/32624665/69553461-3a784080-0f6e-11ea-886c-7b2d29566b32.png)

Could you share some more information about your setup, Java version, if everything is up to date,
a screenshot of the signature if possible, ...

[2019-11-25 16:46] yyoncho commented on #1290
@NikolasKomonen AFAICS you are showing the information from `textDocument/hover`. I am talking about the information retrieved via `textDocument/signatureHelp`

[2019-11-25 16:59] fbricon commented on #1290
@NikolasKomonen in vscode, you need to enable signatureHelp with  `"java.signatureHelp.enabled": true` in the settings.
Then use ctrl+shift+space. This is definitively wonky:
![Nov-25-2019 17-56-20](https://user-images.githubusercontent.com/148698/69561162-33bcee00-0fad-11ea-99b4-13795b098288.gif)

[2019-11-25 17:03] NikolasKomonen commented on #1290
thanks, I just looked into it. For sure not doing what it is supposed to. I'll look into it.

[2019-11-25 17:09] #1262 closed

[2019-11-25 18:11] #1257 closed

[2019-11-25 20:05] yyoncho commented on #1290
@fbricon one more thing: I noticed that ParameterInformation.documentation field is not populated. Is this intentional?

[2019-11-25 20:11] fbricon commented on #1290
@yyoncho I don't think so. Please open a separate ticket for that problem

[2019-11-25 20:26] yyoncho opened #1291 "ParameterInformation.documentation is not populated in textDocument/signatureHelp"
Reference: https://github.com/eclipse/eclipse.jdt.ls/blob/6a4834a81206d3001bd6b170047d4606a7c4909f/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/contentassist/SignatureHelpRequestor.java#L140

Also, in the new version of the spec the label might be [number, number] which is more precise since it removes ambiguity when you want to mark the active parameter in the signature label.

[2019-11-25 22:52] NikolasKomonen commented on #1290
I found the problem area, but I think @snjeza would be more knowledgeable since she worked on it.

[code]

If I do Ctrl+Shift+Space here:
[code]
the variable `help2` [stays null](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/SignatureHelpHandler.java#L84)

but when I do it here:
[code]
It triggers this case and populates

[2019-11-26 01:53] testforstephen commented on #1277
We recently improved the publish diagnostics logic, see PR https://github.com/eclipse/eclipse.jdt.ls/pull/1282 and https://github.com/eclipse/eclipse.jdt.ls/pull/1283. So close the issue first. Will reopen it if find any new case uncovered.

[2019-11-26 01:53] #1277 closed

[2019-11-27 08:48] testforstephen opened #1292 "InlineTempRefactoring is missing after reload target platform"
Recently `org.eclipse.jdt.internal.corext.refactoring.code.InlineTempRefactoring` is moved back to jdt.ui from jdt.core.manipulation by a upstream PR https://git.eclipse.org/r/#/c/146057/.

After reloading the target platform to 20191126 version, multiple refactoring features in eclipse.jdt.ls will not work because of unresolved type error.

// @jjohnstn

[2019-11-27 09:49] testforstephen commented on #1292
https://git.eclipse.org/r/#/c/153464/

[2019-11-27 11:24] yyoncho opened #1293 "textDocument/signatureHelp broken if previous string parameter has ( or {"
[code]

The textDocument/signatureHelp returns empty signature with cursor on `|`.

[2019-11-27 11:27] fbricon commented on #1293
Can you provide a fully functional test class?

[2019-11-27 11:28] fbricon commented on #1291
@NikolasKomonen you wanna take a look?

[2019-11-27 11:28] yyoncho commented on #1293
[code]

[2019-11-27 13:13] fbricon commented on #1292
to restore proper build, I've frozen JDT to I20191125-1800.

[2019-11-27 14:33] snjeza commented on #1293
Related issue - #1290

[2019-11-28 18:22] fbricon commented on #376
Reverted the fix once again, sorry. Because of a formatting regression on vscode. See https://github.com/eclipse/eclipse.jdt.ls/pull/1059#issuecomment-559403554

[2019-11-30 03:58] jmbockhorst opened #1295 "Provide a way to get the class snippet to insert on file creation"
The vscode api will soon support `onDidCreateFiles` events, and there needs to be a way to get the class snippet to insert into those java files. Related to https://github.com/redhat-developer/vscode-java/issues/770. Right now, the snippets are part the completion items, but it does not make sense to access them through the completion provider when files are created.

[2019-11-30 05:21] jmbockhorst opened #1296 "Move refactoring without moving the file"
There should be a command that refactors a file like it was moved, but doesn't try to move the file. This will be useful when using the new `onWillRenameFiles` vscode api, because it won't need to actually move the file (The user already moved it), but we still want the package refactoring.

[2019-11-30 20:15] vasiltabakov commented on #819
I was able to *always* replicate the issue by typing `this.` and using these steps in our IDE (not VSCode):
- started typing (completion request sent at `t`)
- triggered another completion request when got to `.`

Because a second completion request was sent within the *same* document the first one should be cancelled, however in my case the client __did not__ send a `$/cancelRequest` notification

[2019-12-02 16:18] vasiltabakov opened #1297 "Inline code action issue"
I'm offered the "Inline Method" code action for a public method which isn't used anywhere. I think this is wrong. I guess the LS should first check if the method is referenced anywhere.

[2019-12-02 16:27] fbricon commented on #1297
AFACT, inlining actions are proposed the same way as in Eclipse IDE.

I'd say the opposite. Makes total sense to inline unused methods, since they have less purpose for reuse.

[2019-12-02 16:29] fbricon commented on #1296
if the file already moved, you can either quick fix the package or the type, if there's a discrepancy

[2019-12-02 16:34] fbricon commented on #1295
We tend to only depend on new LSP API, not vscode specific ones, so if `onDidCreateFiles` makes it to LSP, then yes, we should definitely be able to leverage it to initialize new files.

The `class`/`interface`  snippets can be used to create inner classes/interfaces, so they still make sense to keep.

[2019-12-02 17:11] fbricon commented on #1289
I believe this is because the LSP API doesn't support moving folders at this point

[2019-12-02 18:05] vasiltabakov commented on #1297
Do you mean _remove_ unused methods? Otherwise - inline them where exactly?

Another related thing - private methods sometimes get detected as 'unused'
![image](https://user-images.githubusercontent.com/1178309/69983152-ae05e900-153e-11ea-8520-bc192eeddd6e.png)

but apart from 'remove' I'm offered 'inline', still wondering 'Inline' where?
![image](https://user-images.githubusercontent.com/1178309/

[2019-12-03 01:30] muhmud commented on #1289
From [the spec](https://microsoft.github.io//language-server-protocol/specifications/specification-3-14/) it looks like renaming folders is supported as well, even though the API references files specifically, or am I missing something?

[2019-12-03 21:22] waynebeaton commented on #897
Is there any status to report on this?

When you do update the license, please send a note to emo@eclipse.org asking us to update our database.

[2019-12-04 00:35] fbricon commented on #897
@waynebeaton we should be able to update the license before the end of the week

[2019-12-06 14:27] #897 closed

[2019-12-07 03:15] waynebeaton commented on #897
I've updated the project metadata in the foundation database. Thanks!

[2019-12-07 06:04] yyoncho opened #1301 "deprecated is not populated in textDocument/documentSymbol"
[code]

[code]

[2019-12-11 14:42] #1131 closed

[2019-12-12 20:35] #1290 closed

[2019-12-12 20:35] #1293 closed

[2019-12-13 08:05] Vigilans opened #1303 "Enhanced support of multi-root workspace"
This issue tracks a set of multi-root workspace issues during the development of server-side referenced libraries.

I will try to fix them after the PR of server-side referenced libraries.

- [ ] `rootPath` preference is only set during `initialization`/`changeConfiguration`, adding/removing workspace folder won't get the pref sync.

- [ ] `Workspace.getName()` is never used, so it can't be used t

[2019-12-13 10:54] HiPhish opened #1304 "Get the packge of a file?"
Hello,

I was not able to find anything concrete and there does not seem to be an authoritative documentation. Is it possible to get the name of the package a Java file is supposed to belong to? Let's say I have a file `server/src/main/java/org/me/myself/i/Utils.java`, then I would like the server to be able to detect that the package of the file should be `org.me.myself.i` and send that informati

[2019-12-13 11:16] fbricon commented on #1304
if neovim supports snippets, then when typing `class` in an empty file, you should be able to generate a complete class file structure, including proper package and type (inferred from the filename)

[2019-12-13 11:25] HiPhish commented on #1304
Whoa, that is exactly what I have been looking for! I usually start with `public class...`, so I never saw that. Is there a proper documentation that lists all these things? Then I wouldn't have to ask stupid questions on the issue tracker.

And while I'm at it, is there a way to customize these snippets? I would like to be able to insert the standard copyright headers used at my workplace as well

[2019-12-15 02:51] Giesch commented on #1251
I'm getting the same test failure.

openjdk version "1.8.0_222"
OpenJDK Runtime Environment (build 1.8.0_222-8u222-b10-1ubuntu1~18.04.1-b10)
OpenJDK 64-Bit Server VM (build 25.222-b10, mixed mode)
javac 1.8.0_222
Linux dan-All-Series 4.15.0-72-generic #81-Ubuntu SMP Tue Nov 26 12:20:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-12-17 11:02] #465 closed

[2019-12-17 19:14] fbricon opened #1307 "Provide preference mapping for Java Execution Environments -> Runtimes"
We need a set of preferences so that you can define multiple Java runtimes, that can be different from the runtime used to launch jdt.ls.

eg.
[code]

The keys would map 1:1 to the JDT Execution Environments.

[2019-12-17 21:11] snjeza commented on #1307
@fbricon Could we define the java.configuration.runtime property as
[code]

[2019-12-17 22:37] fbricon commented on #1307
ok, if it makes things easier

[2019-12-18 21:48] #508 closed

[2019-12-25 14:58] snjeza commented on #1035
A duplicate of #1307

[2019-12-25 14:58] #1035 closed

[2020-01-01 02:18] kuafuwang opened #1316 "Can launch jdt.ls sometime:BundleContext is no longer valid"
When I restart my server sometimes I am randomly getting mutiple instaces of error "BundleContext is no longer valid" and hence I am unable to deploy the application. It doesn't happen all the time when we restart our application server but happens sometimes only. The only solution we found is just to restart the server. Following is the stack trace:

`
!ENTRY org.eclipse.osgi 4 0 2020-01-01 09:41

[2020-01-06 22:22] snjeza opened #1317 "FormatterHandlerTest.testFormattingOnTypeNewLine and FormatterHandlerTest.testRangeFormatting tests fail"
See https://ci.eclipse.org/ls/job/jdt-ls-pr/1833/testReport/

[2020-01-09 08:31] mmFooD opened #1320 "Classpath is incomplete when opening maven project"
I am using the server from [archlinux AUR](https://aur.archlinux.org/packages/jdtls/ ) through [LanguageClient-neovim](https://github.com/autozimu/LanguageClient-neovim).

When I open a maven project I see that the project root is set correctly to the project root which contains a pom.xml file. But diagnostics and go to definition is not working and when checking the jdtls log I see the  `Classpat

[2020-01-09 18:29] #1317 closed

[2020-01-10 14:22] fbricon commented on #60
Closing as the [Code Recommenders project](https://projects.eclipse.org/projects/technology.recommenders) as been [archived](https://www.eclipse.org/forums/index.php?t=msg&th=1099870&goto=1809824&#msg_1809824).