[2022-05-17 19:14] snjeza commented on #2091
@gayanper it would happen only when starting your workspace the first time.
Could you provide a project sample?

[2022-05-18 07:23] #2087 closed

[2022-05-18 14:37] rgrunber opened #2094 "Update to buildship 3.1.6 release"
Buildship 3.1.6 was recently released : https://projects.eclipse.org/projects/tools.buildship/releases/3.1.6

https://github.com/eclipse/eclipse.jdt.ls/blob/3599212e7a7b8f0996bc970e532d94d9877e37e0/org.eclipse.jdt.ls.target/org.eclipse.jdt.ls.tp.target#L18

It would be good to update and confirm all is good.

[2022-05-18 17:21] rgrunber commented on #622
I think we'll be addressing this in #954. This definitely seems like a workspace state issue.

[2022-05-18 17:21] #622 closed

[2022-05-18 18:23] rgrunber commented on #2087
For the sake of completeness, here's the error :

[code]

The PR resolves this, so thanks for the contribution.

[2022-05-22 13:58] artur-shaik opened #2097 "NPE if no range parameter when generating toString"
[code]

But there is comment how to put generated code to last line:

https://github.com/eclipse/eclipse.jdt.ls/blob/44097253601c0781003981a0ffe8afbd73840b46/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/GenerateToStringHandler.java#L103

So, how I can to not specify cursor position?

[2022-05-23 10:56] jdneo commented on #2097
The `range` here should be the range when the code action is invoked. It's not the range where the generated code will be inserted.

The code to control where new code is inserted is here: https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/CodeGenerationUtils.java#L33

[2022-05-23 12:20] artur-shaik commented on #2097
I see, I should set `JAVA_CODEGENERATION_INSERTIONLOCATION` before.

Thank you!

[2022-05-23 21:06] gayanper commented on #2091
Unfortunately the project is proprietary. But will try with for example jdt.core and see if i experience the same and get back

[2022-05-24 02:56] testforstephen commented on #2091
This should be related with the timing of registering these capabilities. At the moment we delay the registration until the build job has finished. It makes sense to enable earlier if some features don't conflict with build job.

https://github.com/eclipse/eclipse.jdt.ls/blob/2130d70af2c39cbf7c6da825f89580456361608a/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageS

[2022-05-24 11:33] gayanper opened #2099 "Add support for postfix and chain completions"
Add support for postfix and chain completions, may be provide support for 3rd party completions.

These additional completions providers can run parallel in async mode using the original context and they can provide what every they computed at the time of the main providers are done. If any of these additional providers are not completed, we can report the result as a partial result so that furthe

[2022-05-24 12:19] gayanper opened #2100 "Only add parentheses for lambda expression completions with multiple parameters"
The completion suggestions for lambda actually adds parathesis for single parameters today. Only add the parentheses when there are multiple parameters for lambda expression.

[2022-05-24 14:22] gayanper opened #2101 "Add support for searching for workspace method symbols on binary classes as well."
Today the method symbol on workspace search is only done for workspace sources. But with adding a prefix into the search token we could try to target both source and binary symbols as well.

For example searching `foo` will provide foo methods from the workspace sources. But if you search like `+foo` you would search both on source and binary. Since vscode fuzzy search use the symbol name, we need

[2022-05-26 01:35] rgrunber commented on #2101
Adding some kind of prefix might be a good way to reduce the number of results in some cases. With that said, the first step would be to just search the binary+source symbols together. When I introduced searching source methods, it was my goal to do it but the performance is not great. The symbol search in VS Code basically waits until all symbols are returned, but the LSP itself has the ability t

[2022-05-26 01:35] #2101 closed

[2022-05-26 01:44] #2099 closed

[2022-05-26 03:50] #2084 closed

[2022-05-28 17:23] asmodeus812 opened #2102 "NPE when triggering signature help in class file"
Using nvim with jdtls i have recently started to receieve the following error. I have not observed this beforehand. No idea what it is or why its occurring
`
RPC[Error] code_name = InternalError, message = "Internal error." data = "java.util.concurrent.CompletionException: java.lang.NullPointerException\n\tat java.base/java.util.concurrent.CompletableFuture.encodeThrowable(Completable
Future.java:

[2022-05-29 02:34] snjeza commented on #2102
@asmodeus812 could you attach a sample project reproducing the error?

[2022-05-30 07:12] jdneo opened #2104 "Randomly fail for the test InlayHintHandlerTest.testVarargs2"
See:

https://ci.eclipse.org/ls/job/jdt-ls-pr/3270/
https://ci.eclipse.org/ls/job/jdt-ls-pr/3268/
https://ci.eclipse.org/ls/job/jdt-ls-pr/3266/
https://ci.eclipse.org/ls/job/jdt-ls-pr/3264/

[2022-05-30 12:15] jdneo commented on #2100
Looks like in both Eclipse and IntelliJ will only add parentheses when the parameter number is larger than 1. And I didn't find a setting to control that behavior.

If this is true, we can follow the same behavior.

[2022-05-30 13:32] asmodeus812 commented on #2102
@snjeza I am really not capable of doing that since the project is propriatary and i am not sure what causes this issue. I will try to revert to an older jdtls and see if the issue persists. Do you have any suggestions ?

[2022-05-30 14:15] asmodeus812 commented on #2102
I did try to downgrade but the same / similar issue persists. What i noticed is that it occurs when i jump to (with document go to definition) source code outside the project, for example even core java classes such as String, Map etc. Steps to reproduce

1. Cloned this random repo https://github.com/jenkins-docs/simple-java-maven-app.git
2. Jdtls is configured to start as follows
![image](https:/

[2022-05-30 17:35] snjeza commented on #2102
@asmodeus812 could you try to set

[code]

[2022-05-30 18:36] asmodeus812 commented on #2102
@snjeza That seems to work, there is no message being reported when i set it to false.

[2022-05-31 20:08] snjeza opened #2108 "Add logback tracing to Java LS"
We have removed the logback plugins. See https://github.com/eclipse/eclipse.jdt.ls/pull/2096#issuecomment-1142590015
We should add them again - https://github.com/eclipse/eclipse.jdt.ls/pull/2096#issuecomment-1142383137

[2022-06-01 01:09] jdneo commented on #2102
The code at `SignatureHelpHandler.java:75` is:

https://github.com/eclipse/eclipse.jdt.ls/blob/73b64b9eacc1f72227ff034a8e71a84351c5567a/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/SignatureHelpHandler.java#L75

Looks like the param of the request is not set correctly?

[2022-06-01 02:08] #2085 closed

[2022-06-01 08:40] CsCherrYY opened #2111 "Sometimes AST will not be updated after applying and undoing a code action"
steps to reproduce:

1. Open a Java file, focus on an unused field.
2. select the light bulb (quick fix), choose "Generate Setter for ${name}"
3. keep mouse not moving, undo this change
4. keep mouse not moving, select the light bulb again, sometimes you will find there is only "Generate Getter for ${name}" quick fix available, but it will do nothing. (actually, there should be generate "getter",

[2022-06-01 11:53] CsCherrYY opened #2112 "Reorder source actions/refactorings"
Currently the available quick assists, source actions and refactorings are ordered by a static sequence and it's not so good as many users expected. There is a WIP PR: https://github.com/eclipse/eclipse.jdt.ls/pull/2109

Order proposal:
## Source Actions
Organize imports
Generate Getters
Generate Setters
Generate Getters and Setters
Generate Constructors
Generate hashCode() and equals()
Generate t

[2022-06-01 13:43] jqno opened #2113 "Lombok with jdtls.py script"
Hi!

I'm using jdtls with NeoVim. I have a manual script to install jdtls, and I was trying to replace it with a simple `brew install jdtls`. I was able to get everything working, except Lombok support. I invoke it like this:

`jdtls -javaagent:/path/to/lombok.jar -Xbootclasspath/a:/path/to/lombok.jar -data "$HOME/dev/eclipse/workspace"`

This starts the language server fine, but doesn't work with

[2022-06-01 14:24] rgrunber commented on #1127
CC'ing @jdneo , as we can repurpose this discussion to one about using shared indexes.

See https://github.com/redhat-developer/vscode-java/issues/185#issuecomment-553803219 which refers to the existing functionality in JDT. We can create a shared index space, but we just don't have concurrency. So 2 JDT-LS instances can't safely write to the same location.

[2022-06-01 18:21] rgrunber commented on #2108
If it were possible to have logback directly in the JDT-LS server logs (`${workspaceStorage}/${folder}/redhat.java/jdt_ws/.metadata/.log`) instead of the JDT-LS stdout/stderr files used when the system property `jdt.ls.debug` is enabled (`${workspaceStorage}/${folder}/redhat.java/jdt_ws/.metadata/.log/.{out,err}-jdt.ls-${timestamp}.log`).

[2022-06-01 18:23] #2104 closed

[2022-06-02 07:47] testforstephen commented on #2112
Source Action list:
I favor "Organize imports" as the first menu.

[2022-06-02 18:29] snjeza opened #2117 "Move to Java 17"
m2e.core requires Java 17
- https://github.com/eclipse-m2e/m2e-core/pull/740
- https://github.com/eclipse-m2e/m2e-core/commit/01a638721b315179de996daf2d40fd6d1ffb8262
- https://ci.eclipse.org/ls/job/jdt-ls-pr/3311/console

We should move Java LS to Java 17 too.

[2022-06-02 19:26] rgrunber commented on #2117
Do we just need to update :

[code]

[2022-06-02 19:28] snjeza commented on #2117
We also have to fix the tests.

[2022-06-03 12:54] mfussenegger commented on #2102
nvim-jdtls doesn't do anything special in regards to signature help handling, that's all part of neovim-core (and working as far as I can tell). Maybe you're using some other third party plugin that implemented it incorrectly?

You could increase the log level in neovim to also log the payloads sent to the server. (See `:help vim.lsp.set_log_level()`)

[2022-06-03 18:16] snjeza commented on #2117
@rgrunber Thanks. I have updated mockito and tycho.
I have to fix several tests yet

[2022-06-06 03:28] CsCherrYY commented on #2112
see https://github.com/microsoft/vscode-java-test/issues/1428 for reordering "Generate Tests..."

[2022-06-07 22:47] #2117 closed

[2022-06-08 21:41] snjeza opened #2119 "Java LS doesn't require o.e.m2e.archetype.common anymore"
See
- https://github.com/eclipse-m2e/m2e-core/issues/731#issuecomment-1150242142
- https://github.com/snjeza/vscode-test/blob/master/java-1.7.1.vsix

We should remove archetype.common from the launch configurations.

[2022-06-09 01:11] rgrunber commented on #2119
Query of latest snapshot shows no dependency to m2e.core, so looks like we get this automatically.

[code]

[2022-06-09 01:27] #2119 closed

[2022-06-09 01:29] snjeza opened #2121 "CompletionHandlerTest/WorkspaceDiagnosticsHandlerTest tests fail randomly"
- https://ci.eclipse.org/ls/job/jdt-ls-pr/3329/
- https://ci.eclipse.org/ls/job/jdt-ls-pr/3328/
- https://ci.eclipse.org/ls/job/jdt-ls-pr/3327/

[2022-06-09 01:31] snjeza commented on #2119
Right. I have removed it from the launch configurations.

[2022-06-11 20:06] snjeza commented on #2121
CompletionHandlerTest/WorkspaceDiagnosticsHandlerTest tests still fail.

- https://ci.eclipse.org/ls/job/jdt-ls-master/1355/
- https://ci.eclipse.org/ls/job/jdt-ls-master/1356/
- https://ci.eclipse.org/ls/job/jdt-ls-master/1357/
- https://ci.eclipse.org/ls/job/jdt-ls-pr/3346/
- https://ci.eclipse.org/ls/job/jdt-ls-pr/3345
- https://ci.eclipse.org/ls/job/jdt-ls-pr/3344

[2022-06-13 13:11] asmodeus812 commented on #2102
Can this be classified as a bug ? Seems like it breaks jdtls with signature.

[2022-06-14 01:58] jdneo commented on #2102
Ok, then it makes sense. When signature help is triggered in a class file, `unit` will be null after:

https://github.com/eclipse/eclipse.jdt.ls/blob/28ef246d678b91eea0cddeab72f5bc38c605399b/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/SignatureHelpHandler.java#L74

Then the NPE throws at `unit.getBuffer()` in
https://github.com/eclipse/eclipse.jdt.ls/blob/73b64b9eacc1f722

[2022-06-14 03:34] #2102 closed

[2022-06-14 17:11] asmodeus812 opened #2126 "No delegateCommandHandler for java.action.organizeImports"
Hi, I am having an issue trying to force trigger an action for jdtls, (which used to work some time ago) and i have not done any changes to my configuration, the error seems to be coming directly from jdtls itself, and i am not sure why, or what changed. I am using 1.9.0 milestone build from 03.22. But the same issue persists on the latest snapshot build. Note the programmatic action procedure bel

[2022-06-14 19:27] snjeza commented on #2126
@asmodeus812 could you try to set

[code]

[2022-06-15 03:54] asmodeus812 commented on #2126
@snjeza thanks for the quick feedback, i did try it but did not make any difference, same error is observed, this is what jdtls plugin passes as default, and i just extended with it with your suggestion
[code]
The lsp log is also empty, with jdtls trace enabled
`[START][2022-06-15 06:52:18] LSP logging initiated
[WARN][2022-06-15 06:52:41] ...lsp/handlers.lua:109	"The language server jdt.ls trigge

[2022-06-15 17:52] snjeza opened #2127 "Update target platform to 4.25-I-builds"
4.24-I-builds doesn't exist anymore

[2022-06-16 14:26] #2121 closed

[2022-06-16 16:03] snjeza commented on #2126
@asmodeus812 could you attach your server log?

[2022-06-16 18:59] snjeza commented on #2126
@asmodeus812 could you set `java.trace.server=verbose` - [Enable logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging) and check your `initializationOptions`?

[2022-06-17 05:28] jangid commented on #1506
I am using this via eglot package of emacs. Getting the same problem.

The per project workspace folder is generated and whenever I open a Java file from the project, a corresponding class file is also generated inside `workspace/jdt.ls-java-project` also. But still the editor reports this,

`Java [16]: FileName.java is a non-project file, only syntax errors are reported`

[2022-06-17 11:32] asmodeus812 commented on #2126
Yeah, i already had it at verbose, this is what my config looked/looks like while i am testing this issue
[code]

The logs reported just the following
`[START][2022-06-15 06:52:18] LSP logging initiated [WARN][2022-06-15 06:52:41] ...lsp/handlers.lua:109 "The language server jdt.ls triggers a registerCapability handler despite dynamicRegistration set to false. Report upstream, this warning is harm

[2022-06-19 15:29] ssh352 opened #2132 "question: semantic highlighting, assign each parameter or variable its own color"
can jdtls do semantic highlighting assign each parameter or variable its own color?

Thanks!

[2022-06-20 02:32] jdneo commented on #2132
I think it's not supported yet. Is that true? @Eskibear

[2022-06-20 03:01] Eskibear commented on #2132
Semantic highlighting is already supported, and jdtls will report tokens and corresponding modifiers to clients. Color themes will recognize and colorize them.

Not sure what do you mean by "its own color", but if you want to override color theme and customize color of tokens/modifiers by your own, you can use setting `editor.semanticTokenColorCustomizations`.
See https://code.visualstudio.com/doc

[2022-06-20 03:08] ssh352 commented on #2132
<img width="401" alt="Screen Shot 2022-06-20 at 11 07 21" src="https://user-images.githubusercontent.com/41779116/174518288-01a1822e-48fc-40ad-85da-b2ecbb527bd3.png">

@Eskibear  Hi Please see the example, it colors each parameter in a different color.

[2022-06-20 03:30] Eskibear commented on #2132
Like I mentioned above, LS is responsible for reporting correct token type and modifier information, and theme authors are responsible for colorization based on the information. For example, they are able to differentiate field members and local variables using styling.

In your screenshot, is the color corresponding to type of the variable, or its position of the parameter list? What if I have te

[2022-06-20 10:59] ssh352 commented on #2132
yes, 10 parameters will be colored differently. It's the behavior of semantic highlighting in IntelliJ.

[2022-06-21 11:25] mfussenegger commented on #2126
The code snippet shown here is lacking support for the client side commands. `nvim-jdtls` would include those.

You`d need to set `advancedOrganizeImportsSupport = false` in your `extendedClientCapabilities` or just use `vim.lsp.buf.code_action` instead of your own custom solution.

[2022-06-21 12:36] asmodeus812 commented on #2126
Not sure i understand what you mean, but i am pretty sure that used to work before for me in jdtls. It actually works with other lang servers as i have already mentioned. Are you implying that it is an issue with nvim/lsp client rather than the server. For example the same snippet above works fine with quickfix even with jdtls.

[2022-06-21 16:02] mfussenegger commented on #2126
The issue is neither with the client nor with the server but with your custom code snippet.

You're telling the server that the client supports a client side organize import command by setting `advancedOrganizeImportsSupport` to true,  but your custom code doesn't support it.

The reason it works with other servers is because they don't recognise the `advancedOrganizeImportsSupport` setting and th

[2022-06-22 00:57] #2108 closed

[2022-06-23 05:09] asmodeus812 commented on #2126
Sorry but had you bothered to read the full thread you would have noticed that i am not setting advancedOrganizeImportsSupport to true, this snippet above was verbatum copied from the source of nvim jdtls which has this option set to true BY DEAFULT i just took the defaults and added the optionadvancedGenerateAccessorsSupport   @snjeza suggested to the lua table since it is not configured to deepe

[2022-06-23 07:01] yuval-piiano opened #2137 "typeDefinition for files not loaded throws error"
started the jdt as in the README andi initialized it , most things seem to work.

When doing a typedefinition request I am getting this error:

{'code': -32603, 'message': 'Internal error.', 'data': 'java.util.concurrent.CompletionException: java.lang.NullPointerException\n\tat java.base/java.util.concurrent.CompletableFuture.encodeThrowable(CompletableFuture.java:314)\n\tat java.base/java.util.co

[2022-06-23 10:00] mfussenegger commented on #2126
No need for bad faith accusations.

I implied from this that you're using nvim-jdtls, is that not the case? As you correctly stated, nvim-jdtls sets `advancedOrganizeImportsSupport` to `true` by default. So whether you set it yourself or not doesn't matter. If the effective value is `true` you cannot use your code snippet.

It allows to choose the right import if there are ambiguous choices:

![or

[2022-06-24 02:56] jdneo commented on #2137
Is it possible to provide more detailed steps or a sample project?

I tried to trigger a type definition from a class file but didn't observe such NPE.

[2022-06-26 07:27] yuval-piiano commented on #2137
The project I used - https://github.com/grozateofil/RomaniaInvestmentBank
JDT command line -
'java', '-Xmx2G', '-noverify', '-Declipse.application=org.eclipse.jdt.ls.core.id1', '-Dosgi.bundles.defaultStartLevel=4', '-Declipse.product=org.eclipse.jdt.ls.core.product', '-Dlog.protocol=true', '-Dlog.level=ALL', '-jar', 'plugins/org.eclipse.equinox.launcher_1.6.400.v20210924-0641.jar', '-configuration

[2022-06-26 23:37] snjeza commented on #2137
@yuval-piiano
I can't reproduce the issue in VS Code Java.
Could you try to initialize the server with

[code]
and attach your /data/code_folder/.metadata/.log?

[2022-06-27 14:36] #2111 closed

[2022-06-28 05:55] CsCherrYY opened #2142 "Do not show "Generate Constructors" quick assist for static fields"
see https://github.com/eclipse/eclipse.jdt.ls/pull/2125#pullrequestreview-1021097764

[2022-06-29 18:44] yuval-piiano commented on #2137
[client.log](https://github.com/eclipse/eclipse.jdt.ls/files/9013226/client.log)
[metadata.log](https://github.com/eclipse/eclipse.jdt.ls/files/9013227/metadata.log)
 Attaching metadata.log from the .metadata folder and my client log (which tracks all lsp requests, the typeDefinition errors are logged as WARNING)

[2022-07-01 17:43] snjeza opened #2147 "No completion for FQN constructors"
Steps to reproduce:

[code]
![constructorca](https://user-images.githubusercontent.com/388609/176944820-6608fd63-b4a6-4d23-9e68-acd67ff67e9b.gif)

[2022-07-03 08:11] zbelial opened #2148 "jdtls does not support `includeDeclaration` in `textDocument/references`?"
I tested this in Emacs with lsp-mode, and jtd.ls did not return the declaration. Can any  confirm this please?

[2022-07-03 08:21] zbelial commented on #2113
Maybe you can try with the following to see if it works
[code]

[2022-07-04 14:21] rgrunber commented on #2084
I think this is the same bug on the VS Code editor end, https://github.com/microsoft/vscode/issues/98125. To be clear though, JDT-LS is behaving as it should :

<details>
<summary>logs</summary>

[code]
</details>

[2022-07-05 22:29] snjeza opened #2150 "Compile error in MavenBuildSupport.update(IProject, boolean, IProgressMonitor)"
The error is caused by https://github.com/eclipse-m2e/m2e-core/pull/828 - https://github.com/eclipse-m2e/m2e-core/commit/8b876a6748d8858578ee5894c40a872affc0e052#diff-1c1ea65b89e91f05372704bb875949ce7734e59526039b68d92009e900c9b1faL58

[2022-07-05 23:48] #2150 closed

[2022-07-07 21:16] tmmvn opened #2153 "Launch script fails on macOS"
On macOS 12.4, the default Python version is 3.8, but the launch script uses a feature (```argparse.BooleanOptionalAction```) available only from Python 3.9 upwards. This means that to be able to utilize the language server for coding with Java on a Mac, you need to jump through hoops to upgrade Python (especially true if you don't actually work with Python).

However, the launch script could be m

[2022-07-11 09:20] fbricon opened #2154 "Non-JDT errors are not reported in Java files"
**Some context**
I'm trying to get [JBang](https://www.jbang.dev/) scripts work OOTB in VS Code. Since the classpath dependencies are coded right in the Java file, I use a similar mechanism to invisible projects to create a Java project under the jdt.ls workspace, that is then augmented with informations gathered from the JBang directives in the original file. This is based on [jbang-eclipse](http

[2022-07-11 09:47] fbricon opened #2155 "Non-Invisible projects are deleted on workspace startup"
**Some context**
I'm trying to get [JBang](https://www.jbang.dev/) scripts work OOTB in VS Code. Since the classpath dependencies are coded right in the Java file, I use a similar mechanism to invisible projects to create a Java project under the jdt.ls workspace, that is then augmented with informations gathered from the JBang directives in the original file. This is based on [jbang-eclipse](http

[2022-07-12 10:52] FunningC0217 opened #2156 "Parameter passing failed to lanuch LSP server"
My System : Linux
Local cache path from jdtls:
[code]
lanuch program command:
[code]

I try to execute through the system function execve, but it can't start normally anyway.
I tried all the methods I thought of, but it turned out to be a pity, which caused me to collapse

[2022-07-12 10:55] FunningC0217 commented on #2156
If you happen to have a c++ QT running environment, you can try the following code. It will never work properly

[code]

[2022-07-12 11:05] FunningC0217 commented on #2156
Essentially, QT will call the system function execve()

[2022-07-13 06:41] jqno commented on #2113
Sorry for the slow reply. Yes, that works! Thank you!

[2022-07-13 06:41] #2113 closed

[2022-07-13 06:42] FunningC0217 commented on #2156
Maybe this qt bug. I writed shell program lauch jdt , it's working.

[2022-07-13 06:43] #2156 closed

[2022-07-14 01:35] snjeza opened #2157 "Update target platform to I20220713-1800"
Related issue:
- https://github.com/eclipse-jdt/eclipse.jdt.core/issues/195
- https://github.com/eclipse/eclipse.jdt.ls/issues/2147

[2022-07-14 03:54] JjersaR opened #2159 "Jdtls error"
Today trying to program with java in neovim I get this error, what can I do?

I had upgraded jdtls to version 13 but from there I got the error, I don't know if there is anything I can do..

Error initializing server
![image](https://user-images.githubusercontent.com/86206596/178780079-b94583d4-5e8a-4860-a035-59ea98466b5c.png)

version of neovim using [bob](https://github.com/MordechaiHadad/bob)
!

[2022-07-14 14:18] #2157 closed

[2022-07-18 07:10] jdneo opened #2163 "Cannot launch tests"
All tests that need import a Maven project cannot be launched now. e.g: `MavenProjectImporterTest`

Looks when launching the tests, we introduced `org.eclipse.xtext.m2e` unexpectedly.

@testforstephen @rgrunber @snjeza

[2022-07-18 07:15] jdneo commented on #2163
stacktrace:

[code]

[2022-07-18 07:57] jdneo commented on #2163
@testforstephen provided a workaround that we can temporarily remove `org.eclipse.xtext.m2e` bundle in the PDE's bundle pool.

And it works for me.

[2022-07-18 12:00] #2163 closed

[2022-07-18 12:44] testforstephen commented on #2163
Running the latest jdt.ls.test with both vscode-pde and Eclipse fails. The reason is related with JUnit Plugin Test plugin, which counts all bundles in the bundle_pool in the launching configuration. This activates an unnecessary plugin org.eclipse.xtext.m2e while running jdt.ls tests, but this plugin is not compatible with m2e 2.0 and would break the jdt.ls tests.

I'm fixing vscode-pde to only i

[2022-07-18 15:52] #2147 closed

[2022-07-19 06:51] jdneo commented on #232
I think it's by design. Since the List#add() has two versions of signature:

- `boolean add(E e)`
- `void add(int index, E element)`

In this case, `String` and `int` are all expected types.

If you try `result.get(Integer. // ctrl-space`, you can see `int` and `Integer` types comes first, and `String` goes last.

[2022-07-19 06:55] jdneo commented on #1371
Don't know when but at least it's gone in the latest

![completion1](https://user-images.githubusercontent.com/6193897/179685637-cc52e14d-a4ff-40e0-a418-4947973dd15e.gif)

[2022-07-19 06:55] #1371 closed

[2022-07-19 13:54] testforstephen opened #2166 "Simplify the Eclipse launch configuration files of jdt.ls"
This is a follow-up of https://github.com/eclipse/eclipse.jdt.ls/pull/2162.

Since Eclipse 2022-06 supports computing the required plug-ins automatically while launching, it's not necessary to list all required plugins explicitly in *.launch files. We can simplify the [Eclipse launch configuration files](https://github.com/eclipse/eclipse.jdt.ls/tree/master/launch) to only explicitly specify the s

[2022-07-20 06:58] FunningC0217 opened #2168 "Help! init request, but not response"
my request protocol data:
[code]

[2022-07-20 07:02] FunningC0217 commented on #2168
Is there any way to output the internal processing log of jdtls?

[2022-07-21 14:14] rgrunber commented on #2148
I'm not sure that JDT-LS is meant to do anything in addition, though maybe I'm not understanding how the protocol works.

According to https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#referenceContext , `includeDeclaration` is a parameter passed to the request and JDT-LS does set it :

[code]

But according to the protocol, the response can only be `null`

[2022-07-22 05:58] gayalkuruppu opened #2172 "Unused variable included in the extracted method after using "Extract to method" code action"
Refer the following scenario.

In here, the unused variable `a` is there in the `extracted()` method, which can be removed with the original extract to method code action.

https://user-images.githubusercontent.com/46120162/180372491-9b81c367-bb8a-411e-b080-cf5b6d398d04.mov

Code to reproduce:
[code]
Expected  output:
[code]

[2022-07-24 09:18] zbelial commented on #2148
Hi, thanks for your reply.

If I understand the protocol correctly, I think what you said here is a server should do if `includeDeclaration` is set true in the request.

With regard to declarations with large blocks, I think including the declaration as a location is no problem. IMO, references are often used to help people have an overview of where a symbol is used (and declared) and jump to one

[2022-07-24 11:06] zbelial commented on #2168
Some hints:
1. You can use an empty param in `initialize` to reduce its influnce, as sometimes incorrect parameters may affect server's behaviour
2. Make sure jdt.ls starts successfully and runs well
3. Make sure your code can read jdt.ls's response correctly

[2022-07-24 23:57] #2159 closed

[2022-07-25 16:25] Integralist opened #2175 "Neovim LSP can't run LSP client: `Unrecognized option: --add-modules=ALL-SYSTEM`"
When opening a java project file and checking `:LspInfo` I see that the installed LSP client ("jdtls") isn't being attached to the neovim buffer.

Checking the output of `:LspLog` I see the following error:

[code]

I've installed the latest version of java from the official website (macOS M1):

[code]

I can't see the full command the LSP client is trying to execute, only the beginning of it:

[c

[2022-07-25 16:38] snjeza commented on #2175
@Integralist You need Java 17 to run Java LS. See [About the Java 17 requirement](https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#about-the-java-17-requirement)

[2022-07-25 18:11] Integralist commented on #2175
Ah! So I see installing Java from the website gave me 1.8.0 while `brew install java` and then running `export PATH="/opt/homebrew/opt/openjdk/bin:$PATH"` gave me `18.0`.

This did the trick 👍🏻

[2022-07-25 18:11] #2175 closed

[2022-07-26 01:38] FunningC0217 commented on #2168
Yet, empty request is working, I found from byte data covert error, the byte count is error.
now, this is working

[2022-07-27 06:25] zbelial commented on #2168
If it works now, you can close this issue. If you still have problems (eg. the byte count error), you could check whether you open jdt.ls' stdout in binary mode or not.

[2022-07-27 15:32] mfussenegger opened #2177 "Duplicate code actions (but with different kind)"
Some code actions like `Generate Constructors` are duplicated if the client doesn't provide a `only` kind filter.

For example:

- Create a project with `gradle init --type java-application`
- Open the `App.java`
- Trigger code actions with the cursor below `public class App`. (Need to use a client that leaves the `only` option absent)

Among the results will be two `Generate Constructors` entries

[2022-07-28 06:23] mapxv opened #2179 "close"

[2022-07-28 07:21] jdneo commented on #2177
@CsCherrYY

[2022-07-28 07:22] jdneo commented on #2179
Please provide more information about the problem/request you have.

[2022-07-28 07:22] #2179 closed

[2022-07-28 08:43] CsCherrYY commented on #2177
You have already found the two actions in different kinds:

- `quickassist` will be shown in the quick fix section (light bulb)
- `source.*` will appear in source actions, when you right click in the editor -> Choose "Source Actions..."

So there is no place showing the two code actions at the same time.

[2022-07-28 09:15] mfussenegger commented on #2177
This assumes vscode but vscode is not the only client implementing LSP.
The specification mentions that clients are allowed to ignore the kind property:

[2022-07-29 01:52] CsCherrYY commented on #2177
So you're using a client which doesn't provide `only` property and will not handle different `CodeActionKind`, is that right? If so, I'm curious how the client would handle the different kinds of items.

Besides, you can refer to `CodeActionClientCapabilities` and set your supported kinds here.

[2022-07-29 05:54] kalel-13 opened #2180 "Provision to include custom diagnostics"
The jdt language server could provide the ability for jdtls extensions to append some custom diagnostics.

[2022-07-29 07:33] mfussenegger commented on #2177
Neovim by default leaves `only` abset and shows users all returned code actions in a flat list.
But it gives users the option to set `only` to only get specific code actions.

It also enables all kinds mentioned in the specification under `codeActionLiteralSupport` because of that.
If users set `only` it will also apply the client side filtering to filter out other code actions. All according to t

[2022-07-29 07:51] jdneo commented on #2177
Different people may have different opinions about UX.

Is LSP limit that same code action cannot appear in different groups? I'm also wondering if we do a dedup logic at the server side, then which group should the code action goes to?

It would be better if the LSP side can have some guidance for this, otherwise, we cannot make sure that we are doing right.

[2022-07-29 08:18] mfussenegger commented on #2177
Fair point

No the specification doesn't mention the limitation. It's vague in this regard and doesn't mention how it should be handled (which I guess is the reason for this issue)

I don't know. Is quickassist only a subset of other kinds? Does vscode populate the `only` option? Does it make different requests to fill in the light bulb vs. the other dialogs?

If vscode always provides `only` chan

[2022-08-02 03:34] #2018 closed

[2022-08-02 21:27] rgrunber commented on #2148
Right. I was interpretting `includeDeclaration` as the language server returning the symbol under which each reference is discovered (kind of like the parent). What it most likely means is just including the location at which the reference is declared.

So for something like :

[code]

finding references of `getMessage()` returns the 3 from within `test()` but never includes the `getMessage()` dec

[2022-08-02 21:49] rgrunber commented on #2148
@JessicaJHee , this would be a nice first issue if interested.

[2022-08-04 07:48] jdneo commented on #2180
Have you tried to create markers to the file that you want to add diagnostics?

Here is how JDT.LS convert markers to diagnostics: https://github.com/eclipse/eclipse.jdt.ls/blob/dd610bd7f0adef3fda56a9209f4b5a78e4139725/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/WorkspaceDiagnosticsHandler.java#L200

[2022-08-04 08:26] Shane-XB-Qian commented on #1520
[code]

i've cleaned workspace/data dir, and jdk is v11 already, but why still reported such err?
// had to downgrade....................................

[code]

[code]

[2022-08-04 08:42] Shane-XB-Qian commented on #1520
Oh My ............... ok.
// maybe some years later, jdk 17 would be the default java package with linux distr. :-)

was the ok IF put a `readme` into released jdtls.tar.gz package?
// and saying those requirement there? :-(

[2022-08-04 09:38] fbricon commented on #1520
@Shane-XB-Qian feel free to open a PR

[2022-08-04 09:41] fbricon commented on #1520
BTW, there's now a script to launch jdt.ls, that performs the requirement checks: https://github.com/eclipse/eclipse.jdt.ls/tree/master/org.eclipse.jdt.ls.product/scripts

[2022-08-04 09:51] Shane-XB-Qian commented on #1520
unluckly, I have no idea about those requirement with jdtls each version,
but you are right, i found looks there was bin `jdtls` doing check and startup already.
// so supposed that should be fine as long as people noticed that there.

[2022-08-04 18:16] snjeza commented on #2180
Related issue - https://github.com/eclipse/eclipse.jdt.ls/issues/2154

[2022-08-05 08:12] #2154 closed

[2022-08-07 06:31] asmodeus812 opened #2185 "Customizing org.eclipse.jdt.core.prefs"
Hi, I am wondering if jdt provides a way to customize the contents of the .settings folder contents, I do realize that some if not all of those filese in there are generated automatically based  on the project config. But i was looking for a way to dynamically add overrides for certain properties - for example, formatting settings. Maybe there is a way to do that through the `settings` payload or

[2022-08-07 15:56] snjeza commented on #2185
@asmodeus812 You may want to take a look at [Formatter settings](https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings) and [Settings Global Preferences](https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences)

[2022-08-08 03:33] asmodeus812 commented on #2185
Thanks, i have had a look at the formatter settings, the second link however seems promising. Seems like that settings file will be sufficient to add user defined properties. Is the format of settings.prefs the same as the ones jdt uses from the .settings folder such as *.core.prefs etc ?
Had to clarify i am not using eclipse as a client but a third party software - neovim.

[2022-08-08 08:43] yuval-piiano opened #2186 "Add the java.import.maven.offline property"
I activate jdt for my project (maven project) , my maven settings is:

`<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <offline>true</offline>
</settings>`

(I verified the preference manager gets th

[2022-08-08 09:00] fbricon commented on #2186
Can you provide a stacktrace showing what triggers the download?

[2022-08-08 09:45] yuval-piiano commented on #2186
`AbstractTransferListenerAdapter.transferStarted(String) (/org.eclipse.m2e.core_2.0.0.20220711-1014.jar/org.eclipse.m2e.core.internal.embedder/AbstractTransferListenerAdapter.class:74)
ArtifactTransferListenerAdapter.transferStarted(TransferEvent) (/org.eclipse.m2e.core_2.0.0.20220711-1014.jar/org.eclipse.m2e.core.internal.embedder/ArtifactTransferListenerAdapter.class:57)
SafeTransferListener.tra

[2022-08-08 10:03] fbricon commented on #2186
Looks like upstream [m2e](https://github.com/eclipse-m2e/m2e-core/) doesn't respect the settings.xml's offline configuration. m2e actually uses its own `offline` preference, but jdt.ls doesn't expose it. cc @snjeza

[2022-08-09 15:52] rgrunber commented on #2180
Really nice timing on fixing that issue :) I think it should make providing diagnostics a lot easier for other JDT-LS extensions. Feel free to report if there's something not working.

[2022-08-09 15:58] rgrunber commented on #2185
Yes, the format of the file should be identical, because we are essentially reading/setting the preferences in the same way. Also, like the format documentation mentions, it should even be possible to list the formatter settings (which are stored as xml files) as just `key=value` pairs in the setting file as well.

Only thing that may be tricky, is in the past I have run into cases where dynamic c

[2022-08-09 23:34] #2186 closed

[2022-08-10 11:25] asmodeus812 commented on #2185
Great, thanks for the answer, i think this can be closed, answers the initial question.

[2022-08-10 11:25] #2185 closed

[2022-08-13 17:54] gayanper opened #2188 "folders with known extension type part of their name are not scanned."
While trying to load the project https://github.com/microsoft/vscode-java-test the maven project https://github.com/microsoft/vscode-java-test/tree/main/java-extension/com.microsoft.java.test.plugin is not loaded. Checking the maven project scanner, it doesn't see the folder. The reason is macos identify this folder as a plugin component and Java file walker doesn't see this as either a folder or

[2022-08-13 18:40] gayanper commented on #2188
Seems like this is a java 17 bug which now the jdt.ls requires to run. Running a sample application with java11 visit the following directory but not java17

[2022-08-14 18:24] gayanper commented on #2188
It seems the issue is with how jdt.ls process maven projects. Since the project has packaging type of maven plugin, it seems the the processed project doesn't get the java nature event pde vscode plugin is installed.

[2022-08-18 03:54] jdneo commented on #2188
I can confirm that the project imported is missing the java nature, thus all the language features are missed.

[2022-08-18 06:20] manuel-uberti opened #2191 "jdtls: set up `-data` directory"
Hi,

first of all thanks for your work on this and for providing `jdtls`. With the help of [Eglot](https://github.com/joaotavora/eglot) developers, I've recently added support for `jdtls` in this Emacs package.

However, as you can see from https://github.com/joaotavora/eglot/issues/1008, there are still some issues related to the configuration of the `-data` directory.

This problem can be worked

[2022-08-18 06:50] gayanper commented on #2188
I found the reason for this. It seems because we lack m2e tycho extension which handles the configuration of project nature and classpath. The current released version of the extension doesn’t work with m2e 2.0 either. But I’m working on getting a unofficial release made available. The original project is dormant

[2022-08-18 12:05] gayanper opened #2192 "[improvement] Use existing workspace indexes while updating the projects"
When opening a existing workspace or project folder. Today JDT.LS doesn't provide any navigation operations until the import phase as executed. In Eclipse this import phase runs in background and you can even disable the import/update phase for projects such as maven.

In JDT.LS we could run the import/update phase for pre-existing workspace projects in background while we keep answering the queri

[2022-08-18 14:45] lilmert opened #2193 "Keep running into module errors when launching lsp server with java 16.0.1"
Hi there, I keep getting an error code when the server is starting up and then exits.

`[ERROR][2022-08-18 12:06:44] .../vim/lsp/rpc.lua:439	"rpc"	"java"	"stderr"	"WARNING: Using incubator modules: jdk.incubator.vector, jdk.incubator.foreign\n"`

Here are my configuration options when starting the server via nvim.

[code]

[2022-08-22 15:32] anonimo0-0 opened #2194 "Can't start jdtls"
Running jdtls fails and produces this log:
[code]

[2022-08-23 05:44] jdneo commented on #2192
Sounds like you want to provide language features via the existing index in the meantime of project import/update?

I'm not sure how much efforts will be cost to support this. One thing that quickly came up in my mind is that:

Today, we put the import stuff in the initialize route of LSP. If we want to provide language features at very early stage, we have to make the initialize route be finished

[2022-08-23 06:16] gayanper commented on #2192
I will check on the possibility. I also see we switch autobuild between import phase, before after. Which could also be a reason for workspace build kick in. I was wondering if we switch off autobuild only if we find projects to import.

[2022-08-23 09:22] anthony-S93 opened #2196 "JDTLS Doesn't Work Properly On Neovim After Creating New Buffers"
Hello, I'm using JDTLS on Neovim v0.7.2, mostly in single-file mode. I don't need all of JDTLS features, just the basic code completion, diagnostics, etc.

Everything works perfectly as long as I open an existing .java file with neovim:

![Works For Existing File](https://user-images.githubusercontent.com/69449791/186118581-2d83a184-a193-443f-9257-f50811b7d577.jpg)

Code completion and diagnostics

[2022-08-24 02:58] rgrunber commented on #2180
Closing this issue for now but feel free to re-open if there is still an issue.

As an example, see https://github.com/jbangdev/jbang-eclipse/blob/c50a5d6be22d57ecbb4b6c39d8a385fb877a6c7b/dev.jbang.eclipse.core/src/main/java/dev/jbang/eclipse/core/internal/project/ProjectConfigurationManager.java#L439 . With an `IResource#createMarker(..)`, it should be enough to have the language server generate

[2022-08-24 02:58] #2180 closed

[2022-08-24 03:03] rgrunber commented on #2066
Closing for now, but if there's issues with the instructions feel free to re-open.

[2022-08-24 03:03] #2066 closed

[2022-08-24 03:06] rgrunber commented on #2037
Closing for now but feel free to re-open if there are other issues here. `java.project.referencedLibraries` is definitely the setting needed for more custom support of jar libraries where the project is unmanaged (neither Maven nor Gradle).

[2022-08-24 03:06] #2037 closed

[2022-08-24 03:32] rgrunber commented on #1986
We have settings within the language server to configure the classpath & source path when a project is not managed by Maven or Gradle. Such projects are referred to as invisible (or unmanaged) projects because by default, one can just create some Java sources within folders, and everything should "just work". However, there are settings to permit more control over these projects.

The settings are

[2022-08-25 02:58] rgrunber commented on #2017
I was able to reproduce as well. one of the projects is not detected.

[code]

This happens at https://github.com/eclipse-m2e/m2e-core/blob/6259d8e86cb207bff1c62a6a5e6dc68ae8671507/org.eclipse.m2e.core/src/org/eclipse/m2e/core/internal/project/ProjectConfigurationManager.java#L799-L803 because [`ProjectConfigurationManager#getProjectName(..)`](https://github.com/eclipse-m2e/m2e-core/blob/6259d8e86

[2022-08-26 07:35] balabesimple1 opened #2199 "didChange request fails."
In latest version jdt-language-server-1.15.0-202208240237.tar.gz with open jdk 17-ea , didChange request getting  below exception

!MESSAGE BadLocationException
!STACK 0
org.eclipse.jface.text.BadLocationException
        at org.eclipse.jface.text.TreeLineTracker.fail(TreeLineTracker.java:1054)
        at org.eclipse.jface.text.TreeLineTracker.lineByOffset(TreeLineTracker.java:268)
        at org.

[2022-08-28 09:17] jdneo commented on #2199
I remember I also see this error sometimes but haven't investigated yet.

Do you know when this happens?

[2022-08-28 20:06] lbrayner commented on #2196
You're using [nvim-lspconfig](https://github.com/neovim/nvim-lspconfig). I use [nvim-jdtls](https://github.com/mfussenegger/nvim-jdtls) and that is not an issue. Check my config files: [ftplugin/java.lua](https://github.com/lbrayner/dotvim/blob/master/ftplugin/java.lua) and [lua/lbrayner/jdtls.lua](https://github.com/lbrayner/dotvim/blob/master/lua/lbrayner/jdtls.lua).

I start the language server

[2022-08-29 06:52] #923 closed

[2022-08-30 04:48] balabesimple1 commented on #2199
It happens when we send [textDocument/didChange](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#textDocument_didChange)  request to language server.

[2022-08-30 15:48] rgrunber commented on #2193
Java 17 is the minimum required version to launch the JDT-LS server. See https://github.com/eclipse/eclipse.jdt.ls/issues/2117 . Basically one of our dependencies for the standard server (m2e) moved to Java 17, which pretty much forced us to do the same if we wanted to keep up to date with some useful fixes.

The error posted is a bit cryptic though. There might be more information in `workspace_d

[2022-08-30 21:23] fidelski commented on #2193
The problem seems to come from the warning thrown at stdout. I can reproduce this issue:

[code]

[2022-08-31 02:12] rgrunber commented on #2193
I see the same warning. It's a warning after all, so in this case I don't think it's the case of any failure. We ship a script (uses python3) that takes care of starting the server for those wishing to experiment with it :

[code]

If I inspect the logs for the workspace I see :

[code]

Looks to me like your server should be ready for connection.

[2022-08-31 03:02] jdneo commented on #2199
What does your request body and the text document look like?

[2022-09-01 14:05] fidelski commented on #2193
I fiddled around a bit and at first glance it seems the `nvim-jdtls` package is causing the issue. When I install `jdtls` with Mason using default configurations I can successfully start and use the language server. So I ditched `nvim-jdtls` - sadly though, since it seems to support more features. So I guess this issue does not target `jdtls` directly - except from the fact that `incubator` module

[2022-09-01 16:08] rgrunber commented on #2193
You're right that at the very beginning, some warnings are printed to stdout/stderr. My guess is this is prior to the language server establishing those streams for the protocol communication. Once the language server is set up, the logging is done to log files. There is also the option to do the communication over tcp sockets, rather than stdin/stdout.

On a slightly related note, we did run into

[2022-09-01 16:08] #2193 closed

[2022-09-02 02:20] rgrunber commented on #2191
Agreed on this. I was pointing someone to the script and couldn't understand why it was failing. Provided `-data` and problem solved. We should fix this so it may be run with no additional arguments.

[2022-09-03 05:11] RESDXChgfore9hing opened #2210 "jdt.ls cli is actually running but not working.no function suggestion,no effects."
How do I determined its working but no effect.
_______________
after setting up the lsp client properly,refer.https://github.com/Alexey-T/CudaText/issues/4335

in the client side it has this log:
Python 3.6.8
LSP: starting server - Java; root: None
Startup: 1070ms, plugins: 580ms (lsp 563ms, tabs_list 15ms)

So i tried to type in it>

public class OK{
public static void main(String[] args) {
java.

[2022-09-06 17:52] rgrunber opened #2214 "com.kotcrab.remark:remark will be archived"
As per https://github.com/kotcrab/remark-java/pull/4 , https://github.com/kotcrab/remark-java will be archived.

It's also used by the XML language server to convert HTML to Markdown. Are there any actively maintained alternatives or will we end up just forking it in some other repo ?

CC @testforstephen , @fbricon

[2022-09-06 19:57] snjeza opened #2215 "Java LS builds fail"
https://ci.eclipse.org/ls/job/jdt-ls-pr/3550/
https://ci.eclipse.org/ls/job/jdt-ls-pr/3549/
https://ci.eclipse.org/ls/job/jdt-ls-pr/3548/

[2022-09-07 07:47] fbricon commented on #2214
We should explore alternatives, I don't really want to maintain a whole other library. https://github.com/vsch/flexmark-java might be interesting. Others might fit too.

[2022-09-07 07:53] fbricon commented on #2214
MDFromHTML likely doesn't have @NikolasKomonen's [fixes](https://github.com/kotcrab/remark-java/pulls?q=is%3Apr+author%3ANikolasKomonen). You'd have to check and port them if necessary.

[2022-09-07 08:36] puremourning opened #2217 "Runtime JDK/JRE dependency on java 17?"
Sorry if I missed it, but is the runtime requirement for jdt.ls written down somewhere?

It seems like it requires java 17 from a quick code inspection, whereas it previously only required java 11.

Is that right? Reason I ask is that adopt openjdk claims that 16 is the latest stable java. Anyway, would be useful to clarify what the runtime requirements are for jdt.ls.

(sorry, not an issue, but a

[2022-09-07 08:41] fbricon commented on #2217
Yes Java 17 as a minimum is now required to run, as m2e, a core jdt.ls dependency now requires Java 17 to run. However you can still compile projects back to Java 1.5

[2022-09-07 08:42] puremourning commented on #2217
OK thanks.

[2022-09-07 08:42] #2217 closed

[2022-09-07 14:24] dave-kennedy commented on #2217
Can you clarify the distinct between running jdtls and compiling? How do you use jdtls to compile? I thought it was just a language server so this note in the readme had me really confused.

[2022-09-07 18:25] orbitz opened #2218 "Working on FreeBSD"
Has anyone gotten this working on FreeBSD?  I've tried the latest milestone and trick it into using the linux configuration, however it fails for expected reasons around loading linux specific classes, such as `org.eclipse.equinox.launcher.gtk.linux.x86_64`.

Is there any "generic" configuration I could use?

[2022-09-07 18:49] #2215 closed

[2022-09-07 21:30] snjeza commented on #2217
What project are you using? Maven, Gradle, standard Eclipse?

[2022-09-07 21:57] dave-kennedy commented on #2217
I think I finally figured it out. The Java version used to run jdtls has to be >= 17, but the Java version used to compile the project can be configured separately. This is how it's done for nvim-jdtls:

[code]

I'm not sure how to do it outside of nvim-jdtls.

[2022-09-07 22:02] snjeza commented on #2217
@dave-kennedy You may want to take a look at [Project JDKs](https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#project-jdks)

[2022-09-07 22:24] dave-kennedy commented on #2217
@snjeza thanks, that is helpful. Can that be set alongside configuration.runtimes or does it need to be in gradle.properties?

[2022-09-07 22:32] snjeza commented on #2217
@dave-kennedy java.configuration.runtimes

[2022-09-07 22:39] dave-kennedy commented on #2217
For the record, this is what did the trick:

[code]

[2022-09-08 13:54] fiHnPeUjHHGl opened #2219 "No errors are displayed, build error"
Hi, my project uses java 1.8, jdtls startup script:
[code]

lsp log:
[code]

[code]

How do I set path to jvm in the settings? My jvm's `l /usr/lib/jvm/`:
[code]

[2022-09-08 13:58] rgrunber commented on #2219
Have you tried :

`java.configuration.runtimes`
https://github.com/eclipse/eclipse.jdt.ls/blob/c29b0f5980bdf704bb681a21f5d56c5dea293ac5/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/preferences/Preferences.java#L1010-L1064

That is the setting needed for configuring project-specific runtime.

[2022-09-08 14:26] datho7561 commented on #2214
I tried using flexmark-java in lemminx:
* It's not a drop-in replacement; there were some differences in how the library handled links, and sometimes it would add whitespace at the end of lines. This meant the unit tests failed. However, the difference isn't that noticeable from within VS Code, so I think we could just modify the unit tests to the new behaviour.
* The lemminx uber went from 8.2MB

[2022-09-08 16:23] fiHnPeUjHHGl commented on #2219
set settings, something else started to output:
[code]

[2022-09-08 16:25] fiHnPeUjHHGl commented on #2219
I did not understand how to pass the settings to autocmd) so:
[code]

[2022-09-08 17:49] rgrunber commented on #2219
Does the comment at https://github.com/redhat-developer/vscode-java/issues/652#issuecomment-466906125 help ? I've seen a few of these types of issues and it generally seems to be about lombok.

https://github.com/emacs-lsp/lsp-java/issues/54#issuecomment-553995773

[2022-09-08 18:14] fiHnPeUjHHGl commented on #2219
Thank you! Removing `-Xbootclasspath/a:...lombok-1.18.24.jar` fixed it for me.

[2022-09-08 18:14] #2219 closed

[2022-09-08 18:50] rgrunber commented on #2218
Would it be possible to provide the error log(s) from the launch ? I think `freebsd` is its own `osgi.os` value, which means we would need to build an additional product to support it.

I tried the following change to JDT-LS :

[code]

This fails though because https://download.eclipse.org/eclipse/updates/4.25-I-builds/I20220817-1800/plugins/ , one of our target platform locations, doesn't contain

[2022-09-08 18:54] orbitz commented on #2218
I can install Eclipse, at least:

Below is the list of packages available.  If I have eclipse installed can I somehow use jdtls with that?

The specific error was not being able to load some.stuff.gtk.linux.  I can get the specific one if it helps but what you've said I would think matches pretty clearly to what I'm seeing.

Thank you for taking helping!

[code]

[2022-09-08 19:43] orbitz commented on #2218
It looks installing eclipse I get the FreeBSD versions of the packages I need.  What I'm not sure of is how to tell jdtls to use them.

[code]

[2022-09-08 20:20] rgrunber commented on #2218
What happens if you make the following changes to JDT-LS :

[code]

Basically, `/usr/local/share/eclipse/plugins/` contains what you need, so adding it to the target platform along with listing the additional environment should permit it to build.

[2022-09-08 20:37] orbitz commented on #2218
Testing now.

Also, do I need to make any changes to config dir?  the jdtls python file also needs to be updated to support FreeBSD but I'm not sure what config dir to point it at, or how to change the existing configs.

[2022-09-08 21:14] rgrunber commented on #2218
Yup! You'll need to add an entry at https://github.com/eclipse/eclipse.jdt.ls/blob/ed9d3c77ff9a6d0de6caf0813705d4c6a8aedab7/org.eclipse.jdt.ls.product/scripts/jdtls.py#L55 to support freebsd.

Also https://github.com/eclipse/eclipse.jdt.ls/blob/ed9d3c77ff9a6d0de6caf0813705d4c6a8aedab7/org.eclipse.jdt.ls.product/publish-assembly.xml#L15 & https://github.com/eclipse/eclipse.jdt.ls/blob/ed9d3c77ff9a6

[2022-09-09 06:03] orbitz commented on #2218
The configurations contain an "osgi.bundle" variable and I'm not quite sure how to rework that for my needs as I don't really understand the path format (for example a bunch of them have `@4` at the end?).  Is there a primer on this format or do you have any suggestions for how to resolve this?  One thing I want to try is to take take a milestone build and symlink the list of jars and dirs into th

[2022-09-09 08:10] gayanper opened #2220 "master build failing with Java19 changes"
The project master branch cannot be built due to the following compilation issue in the test module.
[code]

[2022-09-09 12:46] rgrunber commented on #2220
Just ran the build locally and seems to be working for me. Can you confirm that you don't have an older version of JDT Core installed in your local repository ? org.eclipse.jdt:org.eclipse.jdt.core.manipulation. There was a recent change to fix a build failure but that was for tests.

[2022-09-09 14:45] snjeza commented on #2220
@gayanper you can try to remove your tycho/p2 cache

[code]

[2022-09-09 16:11] gayanper commented on #2220
Thanks @snjeza that fixed it.

[2022-09-09 16:11] #2220 closed

[2022-09-10 13:35] orbitz commented on #2218
I've made some progress.  I've taken the most recent milestone build, symlinked in my FreeBSD specific jars, then modified config_linux to replace the linux specific ones with my FreeBSD ones in osgi.bundle.  The error I'm getting is:

I can see that the jar that contains that class is being open by the process, I'm just not sure why it's not finding it.

[2022-09-11 17:02] #1825 closed

[2022-09-12 03:20] rgrunber commented on #2218
Rather than modifying the configuration after the build, it might be easier to add the OS-specific bundles to https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.product/languageServer.product & https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.product/syntaxServer.product . This should ensure the config folder contains them. The `@4` is just a reference

[2022-09-12 07:18] orbitz commented on #2218
I've made some progress! But I'm not sure what to do here:

[code]

[code]

I have made the changes you suggested.

One thing is that I can see that package in my plugins directory is actually a directory that looks like:

[code]

I'm not sure how to link all these up.  Any ideas?  Thanks!

[2022-09-12 08:04] orbitz commented on #2218
I got it to compile!  But...I'm back to:

[code]

I feel so close!

[2022-09-12 10:54] Itay123TheKing opened #2221 "help with error running jdtls"
Running `jdtls` outputs
[code]
Which according to someone else seems to indicate I'm using java < 17 but I deleted all files that have to do with java 11 and I'm still getting this.
I've tried asking in the Mattermost channel but it seems it's dead

[2022-09-12 13:36] orbitz commented on #2218
I got all of the tests to pass (I'm trying from latest milestone, v0.15.0), but I had to disable the android tests because they were failing.  And I'm still getting this.  I guess I'm starting to think everything is working and there is something I can to do about the workspace.  In this case I've got an open .java file and I just try to startup the jdtls with that and I'm getting that error.  I'm

[2022-09-12 15:33] rgrunber commented on #2218
My guess is the first failure causes the others.

The `org.eclipse.equinox.launcher.${ws}.${os}.${arch}` contains (for example)
`Eclipse-PlatformFilter: (& (osgi.ws=gtk) (osgi.os=linux) (osgi.arch=x86_
 64))` in the `META-INF/MANIFEST.MF` . I'm just not sure what satisfies the requirement or how to fix it.

[2022-09-12 15:50] orbitz commented on #2218
It looks exactly like this:

[code]

[2022-09-12 16:55] snjeza commented on #2221
@Itay123TheKing could you attach your log (/path/to/log)?

[2022-09-12 17:15] Itay123TheKing commented on #2221
@snjeza
[log.txt](https://github.com/eclipse/eclipse.jdt.ls/files/9550331/log.txt)

[2022-09-12 17:15] rgrunber commented on #1359
@fbricon , do you have the part of the code where this happens because I'm not seeing it started as part of JDT-LS startup.

I only see it in https://github.com/eclipse/eclipse.jdt.ls/blob/ed9d3c77ff9a6d0de6caf0813705d4c6a8aedab7/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/InitHandler.java#L244 => https://github.com/eclipse/eclipse.jdt.ls/blob/ed9d3c77ff9a6d0de6caf0813705

[2022-09-12 17:28] fbricon commented on #1359
Yeah that's the one, happening before sending the "ready" status

[2022-09-12 20:34] snjeza commented on #2221
@Itay123TheKing I can't reproduce the issue.
Could you show your running  command?

[2022-09-13 01:53] CsCherrYY opened #2222 "error in JDTLS log: Illegal character in path"
The similar error message also can be found in protobuf/android gradle init scripts folder. The project can be imported successfully and there are only the error messages.

It seems this error only appears in VS Code insiders since there is an `-` in the path string

[code]

[2022-09-13 04:01] Itay123TheKing commented on #2221
@snjeza
Simply `jdtls`, but this ks just to test, in practice I want to integrate it with my text editor, in which the default configuration is also simply `jdtls`. Am I missing any arguments?

[2022-09-13 13:37] rgrunber commented on #2221
@Itay123TheKing can you try running :

`/path/to/the/jdtls -data testWorkspace`

I think I've seen similar errors if I don't specify it.

[2022-09-13 14:10] Itay123TheKing commented on #2221
@rgrunber that in fact stops the `An error has occurred` message. But the warnings stay. what should I do to resolve them?

[2022-09-13 14:11] Itay123TheKing commented on #2221
also does the workspace need to have any specific structure? I'm aware Java usually has some weird rules when it comes to folder names and file locations

[2022-09-13 14:16] rgrunber commented on #2153
@schrieveslaach , seem reasonable ? I'd be happy to merge a PR if it preserves the same behaviour and makes support a bit easier on macOS.

[2022-09-13 14:22] rgrunber commented on #2221
I think the warnings are ok. As long as the language server remains up, it should be fine. If you check the path to the workspace you specified in to `-data`, there should be a file under `/path/to/my/workspace/.metadata/.log` The log file should contain something like :

[code]

That would indicate the language server started up. You could also monitor this file for possible errors. The workspace

[2022-09-13 15:20] Itay123TheKing commented on #2221
@rgrunber now I'm glad I asked because I was under the impression the workspace had to be specifically my project directory, this makes it easier. thanks!

[2022-09-13 15:41] schrieveslaach commented on #2153
@codemeddler, are you aware of the [homebrew formula jdtls](https://formulae.brew.sh/formula/jdtls)? This ensures that the correct Python version will be used.

Other than that it would be fine for me to change the script if it provides the same behavior as before.

[2022-09-13 15:52] #2221 closed

[2022-09-13 16:13] Itay123TheKing commented on #2221
actually @rgrunber is it okay if I ask one more question?
In my editor I get on the very first character the warning: `filename.java is a non-project file, only syntax errors are reported`. I tried putting different depth paths in `-data` (and deleting the `.metadata` and `jdt.ls-java-project` every time I tried something new) and moving my file into a `src` directory - and even moving it inside t

[2022-09-13 17:39] rgrunber commented on #2221
Are you placing your `filename.java` inside the workspace? I'm not sure if that would work, and I'd recommend against doing that. The location you pass to `-data` (the "workspace" location) is not meant to be used by users to place their projects. It is more of a location where the language server stores certain state-based information. You should be able to open any other folder location or file

[2022-09-13 19:32] rgrunber commented on #2221
If the source file is placed within `jdt.ls-java-project` that might trigger it. That location is meant to be left alone.

The code that's probably being triggered is https://github.com/eclipse/eclipse.jdt.ls/blob/e7235f90d6a1e85aa22c7621858a54529b811188/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/DiagnosticsHandler.java#L48

Does the problem go away if you clear out the

[2022-09-13 20:35] #1268 closed

[2022-09-14 16:32] snjeza opened #2226 "Java LS builds fail randomly with error code 137(SIGKILL received?)"
See https://ci.eclipse.org/ls/job/jdt-ls-pr/3566/

[code]

[2022-09-14 17:49] rgrunber commented on #2226
Thanks, I was seeing the SIGKILL (137) as well. Any idea why we started running into this recently ?

[2022-09-14 18:10] snjeza commented on #2226
I think the issue has been introduced by https://github.com/eclipse/eclipse.jdt.ls/pull/2197. Our tests require more memory and jenkins/kernel/kubernetes kills JVM.
I can't reproduce the issue locally.

[2022-09-15 03:14] snjeza commented on #2226
See https://github.com/eclipse/eclipse.jdt.ls/pull/2227#issuecomment-1247527498

[2022-09-15 03:14] #2226 closed

[2022-09-15 13:48] rgrunber commented on #2226
Nice. I see we went with similar arguments to what are used in vscode-java, which is probably the right approach.

Do you know what requires `java9.home` ? I couldn't find it referenced anywhere in JDT-LS. I see `java8fx.home` for a test but nothing else.

[2022-09-15 15:05] snjeza commented on #2226
It isn't used.

[2022-09-15 18:39] Itay123TheKing commented on #2221
@rgrunber (sorry for the late reply)
No, I made sure to move the java file out of there. If I understood you correctly I tried `rm -rf`ing the `jdtls-wrokspace` directory and then opening my file with my text editor, and the problem still was like that
my folder structure looks like this:
[code]
is this correct?

[2022-09-16 09:31] FunningC0217 opened #2229 "How lanuch the java debugger backend with command line?"
I'm implementing an IDE, and now I need to integrate Java Debug.
I saw in the https://github.com/microsoft/java-debug  that you can start Java debug with the language server,
Is this achieved through the - D parameter (the parameter that comes with the java program when the `jdtls.py` script starts)? Or do I need to re implement a wrapper to introduce the plug-in `eclipse.jdt.debug` plug-in implem

[2022-09-16 13:51] FunningC0217 opened #2230 "jdtls run exit code 13, status is normal exit，no error output"
I created shell script to launch jdtls (the same of jdtls.py)，but the program exited immediately，It will not output any information. Why? Anyone is welcome to indicate the cause of this problem, thank U well.

**use jdtls source archive url and version**
`https://download.eclipse.org/jdtls/snapshots/jdt-language-server-1.11.0-202205051421.tar.gz`

**java version and jdtls file tree**
`funning@funn

[2022-09-16 16:45] rgrunber commented on #2221
Actually, I think this is expected. I see it as well.

[code]

However, there are some quick-fixes for it  offered by the language server :

[code]

You could try opening a folder containing Java files (rather than just a standalone file), and see if it behaves differently.

[2022-09-19 15:00] rgrunber commented on #2230
I just tried this out and it seems to be working for me. Java 11 should work with JDT-LS 1.11.0 (even 1.12.0) since we only started requiring Java 17 in 1.13.0.

When you launch your script, there is an argument that you pass `-data ~/.data` . Can you look under `~/.data/.metadata.log` and examine that contents of the logs ? What do you see there in terms of errors. That might give some additional

[2022-09-19 17:36] rgrunber commented on #2229
No. JDT-LS defines a property that is sent as part of the initialization request called `bundles`, that contains a list of absolute file paths to bundles that will be included in the JDT-LS runtime at startup.

See https://github.com/microsoft/java-debug#usage-with-eclipsejdtls, and https://github.com/eclipse/eclipse.jdt.ls/blob/dbd035c6aa036b6ee7dd7ea503de548f33fe641c/org.eclipse.jdt.ls.core/src/

[2022-09-19 18:26] rgrunber commented on #2210
When you start up the language server, there should be some argument passed to it like `-data /path/to/workspace`, which represents the data location for the language server. If you look at `/path/to/workspace/.metadata/.log` you should see some logging regarding its state. A successful start should have a log file that looks something like this :

<details>
<summary>log</summary>

[code]
</detail

[2022-09-20 07:26] Hebe970217 commented on #2229
You are right! thank U

[2022-09-20 07:26] Hebe970217 commented on #2229
You are right! thank U

[2022-09-20 08:54] ZSaberLv0 opened #2233 "Could not resolve module: org.eclipse.m2e.apt.core"
* jdtls: using the [latest](https://download.eclipse.org/jdtls/snapshots/jdt-language-server-latest.tar.gz)
* OS: `Mac OS 12.2.1`
* Java:

[code]

* cmd: `java -Declipse.application=org.eclipse.jdt.ls.core.id1 -Dosgi.bundles.defaultStartLevel=4 -Declipse.product=org.eclipse.jdt.ls.core.product -Dlog.level=ALL -noverify -Xmx1G --add-modules=ALL-SYSTEM --add-opens java.base/java.util=ALL-UNNAMED --a

[2022-09-20 13:20] Hebe970217 opened #2235 "more request textDocument/didChange can't recv textDocument/publishDiagnostics message"
first didchange is working, can read textDocument/publishDiagnostics message,
second and more send notification  textDocument/didChange, it's no working!

**system infomation**
1. platfrom : debian 10
2. java version :
[code]
3. jdtls release source : [https://download.eclipse.org/jdtls/snapshots/jdt-language-server-1.11.0-202205051421.tar.gz](https://download.eclipse.org/jdtls/snapshots/jdt-langu

[2022-09-20 13:22] fbricon commented on #2233
You need to run jdt.ls with Java 17

[2022-09-20 13:25] rgrunber commented on #2229
Closing for now, but feel free to re-open if there's issue.

[2022-09-20 13:25] #2229 closed

[2022-09-20 13:30] Hebe970217 commented on #2230
This problem occurs when the -data arguments to start launch `jdtls` is specified multiple times,

When I delete `-data ~/.data` All files under the data file，it's can work normally again

I do not have a suitable log file to indicate this problem. I will upload it when it happens again.

Is there a similar problem in the old version?

[2022-09-20 14:16] RESDXChgfore9hing commented on #2210
sorry not sure how to set that workspacefolder and rooturi
is that client side setting?

[2022-09-20 15:37] ZSaberLv0 commented on #2233
updated to `openjdk 18.0.2` and works well

[2022-09-20 15:37] #2233 closed

[2022-09-20 17:55] rgrunber commented on #2210
Looking at the JDT-LS sources. The preferred approach is to use, `workspaceFolders` but `rootUri`, or `rootPath` should also work. There are 2 instances of `workspaceFolders`. I think it wouldn't hurt to define both (as a child of `initializationOptions` & `Params`).

See https://github.com/eclipse/eclipse.jdt.ls/blob/dbd035c6aa036b6ee7dd7ea503de548f33fe641c/org.eclipse.jdt.ls.core/src/org/eclipse

[2022-09-20 18:11] rgrunber commented on #2230
Ok, I see. You're launching multiple instances on the same workspace. I don't think this isn't supported. I'm not sure why it's working for me, but it can lead to some strange behaviour. when importing projects. If you launch multiple instances, I would specify a different `-data` location for each one.

[2022-09-20 18:23] FunningC0217 commented on #2230
U a right, lanuch same workspace that sure. I should try use workspace directory to start that.

Thank U.

[2022-09-20 18:27] #2230 closed

[2022-09-21 03:31] #2222 closed

[2022-09-21 12:35] fbricon commented on #2155
Npw there's an unmanagedproject nature, we could use that to properly filter which projects do delete.

[2022-09-21 14:21] JessicaJHee commented on #2148
I'm interested in working on this issue!

[2022-09-21 15:31] asmodeus812 opened #2237 "Jdt does not feed autocomplete information when localized errors are present"
Hi, i have an issue, coming from other ides like IntelliJ, for example, i have noticed a small issue which is sometimes very annoying. Whenever you are about to call a method, with wrong input arguments, or cause some sort of syntax error (say the method takes in a function/callback/lambda argument) you are unable to continue using the return type of the function to which you have passed the wrong

[2022-09-21 19:51] snjeza commented on #2155
@fbricon Could you, please, review https://github.com/jbangdev/jbang-eclipse/pull/30\

[2022-09-23 18:55] rgrunber commented on #2235
From your logs, this is your initialize call parameters (formatted) :

<details>
<summary>initialize()</summary>

[code]
</details>

I mentioned this in https://github.com/eclipse/eclipse.jdt.ls/issues/2210#issuecomment-1252709368 , but I think you just need to define the folder under which the file(s) will be opened. I think in your case you should set it to `file:///home/funning/eclipse-workspac

[2022-09-23 19:47] rgrunber commented on #2237
https://stackoverflow.com/a/33318375

This is an issue that is specific to lambda expressions. https://github.com/redhat-developer/vscode-java/issues/2324#issuecomment-1055874477 .

[2022-09-24 04:43] asmodeus812 commented on #2237
That is not really true, i have tried the same action on a simple method that for example takes in a string as an input parameter and also returns say string. If i pass in a number to that method, then the same issue is observed i am unable to leverage completion on the return type of the method - string in this case (the method has no overloads) Not sure if related but seems like a similar issue.

[2022-09-25 10:26] RESDXChgfore9hing commented on #2210
so i guess i can call this function with a map {"workspaceFolders":"someemptypath/"}

something like that?

[2022-09-26 14:21] rgrunber commented on #2210
The `initialize` call takes a [JSON object](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#contentPart) from the client side. See https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#initialize . JDT-LS converts certain portions to a map (or flattens it to a map) for ease of access on its end. For example, https://

[2022-09-26 20:07] #2191 closed

[2022-09-27 07:35] fbricon opened #2244 "bad .git matcher in .project's filteredResources causes chaos"
jdt.ls adds resource filters to .project files, one of those filters matching `.git`. This caused me to lose several hours trying to figure out why https://github.com/tesla/m2eclipse-egit wasn't compiling in Eclipse, after opening it once in vscode.

`.git` matches folders like foo.egit, causing classes in subfolders to be entirely ignored by the compiler. Attached [demo.zip](https://github.com/ec

[2022-09-27 10:12] maxdekrieger opened #2247 "Classes in a closed file in the workspace are not recognized until an edit is made in an opened file"
Thank you for taking the time to look at this issue, I'm unsure what exact information to link so please ask if you miss anything.

For a project I use the [Monaco Language Client](https://github.com/TypeFox/monaco-languageclient) in the browser with the Eclipse JDT LS. The situation is as follows:

File `A.java` is opened in the editor:
[code]

File `B.java` is opened in the editor:
[code]

File

[2022-09-27 14:07] gayanper commented on #2100
Fixed by https://github.com/eclipse/eclipse.jdt.ls/pull/2243

[2022-09-27 14:07] #2100 closed

[2022-09-27 14:37] RESDXChgfore9hing commented on #2210
Ahhh ok so it means i need to somehow set this json in the client side (aka.CudaText)
Then call this function /(let the jdt run and it should call this function automatically in some other code)?
Then wala it should work?

[2022-09-27 14:48] rgrunber commented on #2210
Yes, as soon as the language server (JDT-LS) has started, you would send a request whose method is `initialize` and whose content is a JSON object (or String?). I think this is made easier if you use some library that supports the JSON-RPC specification.

https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#lifeCycleMessages describes some basic lifecycle mes

[2022-09-27 14:52] RESDXChgfore9hing commented on #2210
i think Cuda text almost supports all JSON-RPC functionality will try setting it up and retest when i have more time.Thanks.
Will close this issue for now,since we confirmed that the server is probably ok.
Just need to setup the client with more infos.

[2022-09-27 14:52] #2210 closed

[2022-09-27 15:33] snjeza commented on #2247
@maxdekrieger Could you provide a project example reproducing the error?

[2022-09-28 02:13] rgrunber commented on #2244
It comes from : https://github.com/eclipse/eclipse.jdt.ls/blob/5b05202dfaa9777765743df3cd84293b2055add5/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/preferences/Preferences.java#L609

It's used in https://github.com/eclipse/eclipse.jdt.ls/blob/5b05202dfaa9777765743df3cd84293b2055add5/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/ProjectsManager.java#L545-L57

[2022-09-28 14:23] rgrunber commented on #2244
Also for the sake of diagnosing this, `org.eclipse.core.resources.regexFilterMatcher` makes it clear that we should be escaping the dots.

https://github.com/eclipse-platform/eclipse.platform/blob/3a8770d6bd5bc13ed68086696aa6dd1a9cd8228d/resources/bundles/org.eclipse.core.resources/plugin.xml#L210-L217

https://github.com/eclipse-platform/eclipse.platform/blob/3a8770d6bd5bc13ed68086696aa6dd1a9cd82

[2022-09-28 16:27] #2244 closed

[2022-09-29 19:42] #2148 closed

[2022-10-01 15:00] #2155 closed

[2022-10-09 01:48] cukejianya commented on #1322
Did you ever figure this out? @gusevalexey0

[2022-10-09 09:32] gusevalexey0 commented on #1322
@cukejianya as far as I remember after few reimports it started working. Anyway it was too unstable. So I gave up on using nvim for large projects with complex structure

[2022-10-11 05:10] testforstephen opened #2268 "NPE - An internal error occurred during: "Classpath Update Job""
[code]

[2022-10-11 19:09] #2268 closed

[2022-10-12 08:01] jdneo commented on #863
@rgrunber, Do you think if it is acceptable if we implement the postfix support at the JDT.LS side directly? Considering that the refactoring at the upstream side would be too heavy.

[2022-10-14 07:17] jdneo commented on #863
I'm trying to implement the postfix at JDT.LS side directly. Hope it's doable. (If yes, we can consider refactoring at the upstream side if necessary)

[2022-10-14 11:00] gayanper commented on #863
I feel its a good idea to try to implement in JDT.LS, One reason I say is, it takes time to get such refactoring into jdt.ui given the amount of work that needs to be done.

But on the other hand if you plan to implement this in jdt.ls, we may implement this headless adaptation of postfix in jdt.core manipulation. As a JDT committer I would say its fine to have it some what duplicated in jdt.core

[2022-10-15 01:54] jdneo commented on #863
Sounds good to me 👍

[2022-10-17 04:14] jdneo opened #2272 "The project preference should only persist non default values"
The code https://github.com/eclipse/eclipse.jdt.ls/blob/f6af5170ea2f63dd2864ab2e73beb84154163b98/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/preferences/Preferences.java#L2051 sets the whole set of the Java Core options to the project preferences file, which introduce a side effect that in the future when we want to change a value in the global preferences, it will not take effect

[2022-10-17 21:18] rgrunber commented on #863
This might be possible.

We may need to duplicate some of the work done in `PostfixCompletionProposalComputer`, `PostfixTemplateEngine`, `PostfixTemplateProposal` but that's not so bad. In fact the stuff that we really care about is `PostfixCompletionProposalComputer#updateTemplateEngine(..)` which is purely AST manipulation logic. The only part I haven't looked at yet is `JavaPostfixContext`, whi

[2022-10-18 02:24] jdneo commented on #863
Thank you @rgrunber,

It looks promising, I've made the first postfix available in JDT.LS

https://user-images.githubusercontent.com/6193897/196320723-bc5a3f55-bd27-4bf2-ae6b-a6d2dd13ff7f.mp4

[2022-10-19 02:12] jdneo commented on #863
Share the findings during the implementation so far.

In most cases, the headless part of the code from JDT works well. Except for the cases when the postfix completion will have multiple text edits. For example:

[code]

After applying the postfix completion, it becomes:

[code]

If we want to implement this in JDT.LS, the returned completion item should have:
- A `TextEdit` which replace `args.f

[2022-10-20 17:24] Rahmerh opened #2276 "Neovim jdtls can't resolve dependencies when child pom uses version property from parent pom"
I'm working in a multi-module project, in a mono repository.

Recently we decided to version our entire repository with just 1 version, which is a property in our 'parent' pom. All child poms have their parent version set to `${revision}`.

In order to get the result I do the following:

1. Execute `mvn clean install -pl <PROJECT> -am` to build the project & all dependencies. This step is successf

[2022-10-20 20:05] rgrunber opened #2277 "jdt.ls.socket-stream.launch & jdt.ls.remote.server.launch are not running cleanly"
When following the instructions at https://github.com/redhat-developer/vscode-java/blob/master/CONTRIBUTING.md#c-2-the-language-server-opens-the-connection-first-and-waits-the-extension-to-connect-to-it, and launching I see the following errors in the logs :

<details>
<summary>stacktrace</summary>

[code]
</details>

I think the launch does work though.

@snjeza , any idea what's going wrong ? Th

[2022-10-20 21:31] snjeza commented on #2277
You are right. I have created https://github.com/eclipse/eclipse.jdt.ls/pull/2278

[2022-10-20 21:40] snjeza commented on #2276
@Rahmerh Could you try to open your project in VS Code?

[2022-10-20 21:41] rgrunber commented on #2277
@JessicaJHee , feel free to confirm this fixes things for you as you found this.

[2022-10-21 06:30] Rahmerh commented on #2276
@snjeza sure, it takes a while to load but on a fresh install I get the following errors:

<img width="503" alt="image" src="https://user-images.githubusercontent.com/97087013/197128003-14470f7b-459b-42fb-b93b-98ed9e21b9a7.png">

This is in a fresh vscode install with just the 'Extension pack for java' installed.

[2022-10-21 14:07] Rahmerh commented on #2276
Absolutely, I'll whip something up over the weekend

[2022-10-21 16:19] JessicaJHee commented on #2277
Just tested the change and it works perfectly for me!

[2022-10-21 16:38] #2277 closed

[2022-10-21 20:27] Rahmerh commented on #2276
@snjeza I found some time just now, I've created a project which is similar to my work example and has the same error. I've kept it simple and only included the commons-lang dependency to the library and then a library reference from the project.

When I open the App.java in neovim it can't resolve the import, when I open it in fleet it works just fine.

Anyway, here's the example project: https:/

[2022-10-21 20:37] snjeza commented on #2276
@Rahmerh I can't reproduce the issue in VS Code
![neovim](https://user-images.githubusercontent.com/388609/197284539-decf875a-22ee-41ed-97fc-e29b70f2ea06.png)

[2022-10-21 20:42] Rahmerh commented on #2276
That's odd, neither can I.. But when I open it in neovim I get the following:

<img width="729" alt="image" src="https://user-images.githubusercontent.com/97087013/197285185-3b307f5d-62ad-42d8-87f3-a03740087f3b.png">

[2022-10-21 21:00] snjeza commented on #2276
@Rahmerh Could you try to add
[code]
to neovim's settings.

[2022-10-21 21:05] Rahmerh commented on #2276
Done, settings look like this:

[code]

But sadly, no luck. Errors still occur

[2022-10-21 21:26] snjeza commented on #2276
@Rahmerh Could you run
[code]
and open App.java in neovim?

[2022-10-21 21:31] Rahmerh commented on #2276
@snjeza done, errors still occur

[2022-10-21 21:35] snjeza commented on #2276
@Rahmerh Could you set neovim root_dir to jdtls-version-issue-example?

[2022-10-21 21:40] Rahmerh commented on #2276
Oh my, that worked. I've also printed the root_dir it's using and it's just the project folder as root dir.

You don't happen to know how I can easily fix this in neovim?

[2022-10-21 21:46] Rahmerh commented on #2276
@snjeza nevermind! I just figured out a solution. Again, thank you very much for your help!

[2022-10-21 21:46] #2276 closed

[2022-10-22 11:28] DasOhmoff opened #2282 "Hide method overloads and return types in autocompletion"
Hey 👋, thank you for your great work.

When I use this language server to autocomplete, it shows all the overloads of a method and each return type of each method right within the autocompletion results:
![image](https://user-images.githubusercontent.com/16063186/197336386-00ef8a63-b5d0-4224-8002-eaaa09098835.png)

How can I hide these things? Because they show up if I select the completion item,

[2022-10-23 16:26] goldfita commented on #1129
Is it possible to connect to the language server as a server. The docker example says a port has to be opened on the client and then the language server is started, which reverses their roles. I would like to connect to a remote LS using the method described in this [post](https://github.com/emacs-lsp/lsp-mode/issues/921).

[2022-10-24 01:20] JavaHello opened #2283 "class com.google.gson.internal.LinkedTreeMap cannot be cast to class java.util.ArrayList"
Error when project starts
[code]

Version:  commit f330315b75a5730ab88f35dbda82791578d40a86

[2022-10-24 01:43] #863 closed

[2022-10-24 04:51] jdneo commented on #2283
Could you provide a sample and repro steps?

[2022-10-24 04:57] jdneo commented on #2283
https://github.com/eclipse/eclipse.jdt.ls/blob/3823064062424dfd0ba89a3a9a6b6a278435ad87/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L390

How do you return the result of the command `_java.reloadBundles.command` at the client side?

[2022-10-24 07:15] JavaHello commented on #2283
Sorry, I use [nvim-jdtls](https://github.com/mfussenegger/nvim-jdtls) client, I don't know how to execute this command

[2022-10-24 07:27] fbricon opened #2286 "`new ArrayList<String>().var` postfix completion fails to infer proper type"
[code]
yields
[code]

For comparison, IDEA generates:
[code]

[2022-10-24 07:54] jdneo commented on #2283
Suggest to filing an issue at `nvim-jdtls`. The server use this command to ask client to sync plugins. I guess there is some gaps at `nvim-jdtls` about it.

But as you can see in the implementation:
https://github.com/eclipse/eclipse.jdt.ls/blob/3823064062424dfd0ba89a3a9a6b6a278435ad87/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L389-L397

All the e

[2022-10-24 07:57] jdneo opened #2287 "Support 'XXX.new' postfix"
`Runnable.new` -> `new Runnable()`

To support this kind of postfix, we need allow the completion token is a type binding instance. Currently it is forbidden.

See: https://github.com/eclipse/eclipse.jdt.ls/pull/2285

[2022-10-24 07:58] fbricon opened #2288 "Add more postfix completions"
Compare jdt.ls postfix proposals:

<img width="1151" alt="Screenshot 2022-10-24 at 09 44 23" src="https://user-images.githubusercontent.com/148698/197473822-b490d220-ec6e-4a01-9658-d7d1fda78c0f.png">

to IDEA's:

<img width="875" alt="Screenshot 2022-10-24 at 09 41 28" src="https://user-images.githubusercontent.com/148698/197473568-4a8ca25b-cdd9-4272-a19c-c6cf8bdb4141.png">

I'd prioritize the for

[2022-10-24 08:01] JavaHello commented on #2283
thanks, yes works fine, just output ERROR log

[2022-10-24 08:01] #2283 closed

[2022-10-24 08:19] fbricon opened #2290 "Broken completion caused by PostfixTemplateEngine"
With the following snippet, completion breaks entirely at `lines.|`
[code]
Log shows:
[code]

[2022-10-24 08:53] fbricon commented on #2286
mmm yeah I guess you're right, I must have tested it when I had a compilation error because now it works when there are no errors.

[2022-10-25 04:35] #2290 closed

[2022-10-25 19:26] rgrunber commented on #2192
Was this addressed in #2252 (ie. can it be closed) ?

[2022-10-26 02:54] jdneo commented on #2288
The list of postfix (from IDEA):

| Status| key in JDT.LS | key in IDEA | template content |
|---|---|---|---|
|  |  | ! | !expr |
|  |  | arg | functionCall(expr) |
|  |  | assert | assert expr |
|  |  | cast  | ((SomeType) expr) |
|  |  | castvar | T name = (T)expr |
|  |  | field | myField = expr |
|  |  | for | for (T item : expr) |
|  |  | fori | for (int i = 0; i < expr.length; i++) |
|  |

[2022-10-26 03:11] jdneo commented on #2287
Close, track by #2288

[2022-10-26 03:11] #2287 closed

[2022-10-26 03:26] jdneo commented on #2286
Usually, it can be observed when JDT cannot resolve the type of the variable, for example:

![image](https://user-images.githubusercontent.com/6193897/197927369-9cbe471d-dd4a-44f8-8277-bc31f9b6d344.png)

In this case, most of the postfix templates becomes unavailable.

[2022-10-26 14:29] codemeddler commented on #2153
@schrieveslaach I prefer macports over homebrew, but whatever way you install the additional dependency is beyond the point.

However, the new Ventura update ships with Python 3.9 by default, so I am okay with closing this ticket. The issue doesn't seem to be a common complaint and it is no longer relevant with the latest macOS defaults.

[2022-10-26 19:23] schrieveslaach opened #2295 "Cannot Resolve java.lang on MacOs"
When I'm working on MacOS with JDK 17, eclipse.jdt.ls is unable to resolve classes of the JDK. For example, if I create an minimal Quarkus app with Java 17 (`quarkus create app --java=17 --maven`) and I open that in Neovim with eclispe.jdt.ls, I'll get following error:

![image](https://user-images.githubusercontent.com/16558417/198117534-3506b456-6213-408f-94f9-55c55a8fe940.png)

If I do the same

[2022-10-27 02:01] RESDXChgfore9hing opened #2296 "QueueseProcessingError LSP,Possibly server error,after configured properly in CudaText"
The snapshot of the error can be found in https://github.com/Alexey-T/CudaText/issues/4423

I used RI JDK18,win10.

Is the queue a server side thing or client side?

[2022-10-27 02:13] veksha commented on #2296
client

[2022-10-27 02:14] veksha commented on #2296
@RESDXChgfore9hing, let's first deal with this error on CudaText's issue tracker.

[2022-10-27 02:21] #2296 closed

[2022-10-27 09:12] mfussenegger commented on #2295
You're probably missing runtime definitions in your configuration. See https://github.com/mfussenegger/nvim-jdtls#java-xy-language-features-are-not-available

[2022-10-27 09:16] mfussenegger commented on #2196
I think this is a duplicate of https://github.com/eclipse/eclipse.jdt.ls/issues/1815

[2022-10-27 10:52] gayanper commented on #2192
Yes we can close this

[2022-10-27 10:52] #2192 closed

[2022-10-27 20:58] rgrunber commented on #1554
Forgot this was also an issue. See https://github.com/eclipse/eclipse.jdt.ls/pull/2265 . This is fixed now.

[2022-10-27 20:58] #1554 closed

[2022-10-28 10:05] FunningC0217 commented on #2168
I found range is json object error
true is params true or false

[2022-10-28 10:05] #2168 closed

[2022-10-28 10:14] FunningC0217 commented on #2168
It's a complex bug. I'm sorry to close it now

[2022-10-28 10:21] schrieveslaach commented on #2295
@mfussenegger, I had that configuration in place. However, it didn't work with brew's [OpenJDK@17](https://formulae.brew.sh/formula/openjdk@17#default). [Temurin JDK](https://formulae.brew.sh/formula/openjdk@17#default) solved it.

[2022-10-28 10:21] #2295 closed

[2022-10-28 13:45] goldfita commented on #1421
In addition, it would be nice to allow the client to connect to the LS as a server even if only one client is supported. The client may not have a static address or be on a private network. This is creating a problem for the way I would like to be able to use it.

[2022-10-29 05:07] yudar1024 opened #2300 "support java lamda debug in vscode"
here is the code, and can not debug in lamda statement

[code]

[2022-10-31 18:32] snjeza opened #2302 "Java LS doesn't exit sometimes"
Steps to reproduce in VS Code 1.12:

- set
[code]
in settings.json
[code]
- wait for Java LS to build the workspace
- exit VS Code
[code]
- exit VS Code
Java LS freezes.

[2022-11-01 16:11] RESDXChgfore9hing opened #2305 "Quick question:Possibility of extending to manually support external library"
It would be epic to have support for custom library support.
Maybe we could download the sources of libraries and add it into the lsp database* ?
Is there a way to make it happen?I could try put some effort on my own.

[2022-11-01 16:40] rgrunber commented on #1860
Currently in Eclipse (JDT), there is no code to do this automatically as a cleanup, or on save. Only resolving it on the diagnostic/error marker.

However, the important logic in  [`MissingAnnotationAttributesProposal`](https://github.com/eclipse-jdt/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/proposals/MissingAnnotationAttributesProposal.java) is p

[2022-11-01 18:51] veksha opened #2306 "go to definition of "System""
Hi.
I have `src.zip` in `...jdk/lib`
Question:
Is it possible to extract those sources and scan them, so go to definition works for "System" class (and others)?

[2022-11-02 01:42] jdneo commented on #2306
It should be worked. Have you set your JDK installation path to the setting `java.configuration.runtimes`?

[2022-11-02 13:23] veksha commented on #2306
Hi, @jdneo. I'm using CudaText and running jdt-ls from command line using custom wrapper script:

[code]

autocompletion, diagnostics, hover info, signature info, all works fine.

but go to references and go to definition works only for opened/scanned .java files.

description of "System" in hover dialog shows correctly (for `System.out.println();`)

![image](https://user-images.githubusercontent.

[2022-11-02 13:25] veksha commented on #2306
no. not set that anywhere. I think jdtls autodetects path.

[2022-11-02 14:12] rgrunber opened #2307 "Add quick assist for converting String concatenation to Text Blocks"
https://www.eclipse.org/eclipse/news/4.22/jdt.php#strconcat-to-textblock

There should be API to do this already in jdt.core.manipulation. Longer term we could even make this a cleanup.

[2022-11-02 14:57] rgrunber commented on #21
Updated https://github.com/eclipse/eclipse.jdt.ls/issues/21#issuecomment-973667918 based on some additional areas of intrest.

[2022-11-02 16:35] fbricon commented on #2306
your client need to implement support for opening .class files [java/classFileContents](https://github.com/eclipse/eclipse.jdt.ls/wiki/Language-Server-Protocol-Extensions), for which we need better doc, obviously, but you can see some hints at the cscode-java implementation: https://github.com/redhat-developer/vscode-java/search?q=ClassFileContentsRequest

[2022-11-02 17:58] veksha commented on #2306
thanks for info @fbricon!
I see this is not part of the standard LSP.
Closing this issue.

[2022-11-02 17:58] #2306 closed

[2022-11-02 18:39] #2302 closed

[2022-11-04 16:57] RESDXChgfore9hing commented on #2305
its a mix of both,or at least more to the 2nd.
Ideally in a project folder,I wanted it to only have 2 things at most sources and the buildscript/dependeciestext and the lsp can figure out that EG:project A uses B library thus,when we open any source code in project A it would give method suggestion,linting and etc.

It would be extremely useful in contrast to manually search the javadoc and then n

[2022-11-04 17:04] RESDXChgfore9hing commented on #2305
or a realistic example:
recently i try to utilize javacpp for some personal project.However the library is huge and complex,the api amount is also large.

One of the cases is I need to find a specific method or fields for the specific functions
as seen>https://github.com/bytedeco/javacpp-presets/issues/1254

however its extremely hard to find the right function in a normal javadoc.
however with th

[2022-11-06 07:33] RESDXChgfore9hing commented on #2305
yes,exactly because some of my project is relatively small so it just doesnt need maven or any complex build tool.
There is just one shell script for compile and run,and a csv file with the dependencies list.very simple.

It seems that there is more support with using build tools and I may try configure some of my project out and see if it works .
Huge thanks

[2022-11-06 07:36] RESDXChgfore9hing commented on #2305
will temporary close this unless I face problems or whatnot.

[2022-11-06 07:36] #2305 closed

[2022-11-07 12:22] testforstephen commented on #2305
I haven't seen such a requirement before. We have provided a setting `java.project.referencedLibraries` to allow adding external libraries, which should satisfy the user's needs.

[2022-11-07 20:05] mickaelistria opened #2308 "Dependency on m2e is not explicitly declared"
I'm trying to use JDT-LS directly inside the Eclipse IDE, as a thread (same VM, same workspace, same JDT-Core...).
I got some issues with org.eclipse.jdt.ls.core not starting, and could see the root cause is that some m2e class was required but couldn't be loaded at that time. Indeed, org.eclipse.m2e.core is not a dependency. It looks to me org.eclipse.m2e.core should be declared as a dependency f

[2022-11-07 20:09] mickaelistria opened #2309 "The filesystem hack should be in a dedicated bundle"
I'm trying to use JDT-LS directly inside the Eclipse IDE, as a thread (same VM, same workspace, same JDT-Core...).
At the moment, it's failing because of the filesystem hack (overriding `file` scheme): it sometimes causes a cyclic dependency in the workspace which is started before JDT-LS in this case (unlike the JDT-LS application that starts org.eclipse.jdt.ls.core first). The results are NPE or

[2022-11-07 20:21] mickaelistria opened #2310 "Set proper ranges for dependencies on LSP4J"
I'm trying to use JDT-LS directly inside the Eclipse IDE, as a thread (same VM, same workspace, same JDT-Core...).
Eclipse IDE may use whichever version of LSP4E and LSP4J; but as LSP4J APIs are very moveable and JDT-LS doesn't properly set compatibility ranges, then JDT-LS may bind with incompatible versions of LSP4J, causing issues are execution or in the workspace while developing.
JDT-LS shoul

[2022-11-07 22:13] mickaelistria opened #2311 "JDTLanguageServer cannot run well without IApplication"
While trying to run the language server via code (in a Java process, as part of an Eclipse IDE plugin), it looks like the only vaid entry-point is the `LanguageServer implements IApplication`. However, this one does force to use some streams accoridng to application execution context.
If one tries to bypass it, directly calling the JDTLanguageServer, there are some issues later on as the execution

[2022-11-08 07:24] mickaelistria commented on #2311
This tweak has unblocked me: https://github.com/mickaelistria/eclipse.jdt.ls/commit/0f7b0aa9fce5a5dad054fd95c77cb7cc0cbf01a3 ; but I think a better place where to store such processId would actually be the JDTLanguageServer instance (as we can now see other startup are possible, and maybe even imagine the plugin serving multiplt JDTLanguageServer at the same time)..

[2022-11-08 07:41] mickaelistria opened #2312 "Add support for skipping propagation of TextEdit"
I'm trying to use JDT-LS directly inside the Eclipse IDE, as a thread (same VM, same workspace, same JDT-Core...).
When editing the document in the IDE, the change is then sent to the LS as a `didChange` notification. JDT-LS assumes it owns the document thus it transform the change back into a document edit and re-applies it; then the document receives a change notification and LSP4E will then sen

[2022-11-08 16:14] RESDXChgfore9hing commented on #2305
btw how can i utilize that setting is it a command line flag?

[2022-11-08 16:15] RESDXChgfore9hing commented on #2305
like :--java.project.referencedLibraries "/PATHTOTHEFOLDERWITHJARS"
something like that?

[2022-11-08 16:17] RESDXChgfore9hing commented on #2305
it thats the case then it can only provide a system wide*config,since most IDE client has a fixed lsp runner script.
Unless I somehow do some weird runtime hack from a external library to modify that value.

[2022-11-08 17:32] rgrunber commented on #2305
I think the right place to look at is : https://github.com/CudaText-addons/cuda_lsp/tree/main/readme under the "Server-specific options" section.

The setting would be something like :

[code]

`referencedLibraries` can also be a list instead of an object if using "sources", or "exclude" is not desired.

[2022-11-08 19:29] supercow112 opened #2313 "How do I send an initialize command?"
I started the server with the following result:
![image](https://user-images.githubusercontent.com/61075793/200656223-a081b670-cdc4-40a6-99d0-81343ced53e9.png)

I have the following questions:
1. How do I go about sending an initialize request? I tried sending one with empty params to no avail.
![image](https://user-images.githubusercontent.com/61075793/200656733-cf283bba-0df0-4959-8032-923e0e3a9d

[2022-11-09 08:52] jdneo commented on #2309
The customized fs will be disabled if you don't set `-Djava.import.generatesMetadataFilesAtProjectRoot=false` in the vmArgs.

What kind of error are you seeing?

[2022-11-09 09:31] mickaelistria commented on #2309
We're seeing NPE because while Eclipse IDE starts the workspace (happens before JDT-LS starts) then JDT-LS plugin is loaded to load the filesystem, and dereferences the workspace which is not ready yet.
I strongly believe having this in another plugin or fragment is the 2nd to best choice (after implementing such functionality in Platform directly) and the only way to make things work proper in Ec

[2022-11-09 15:04] rgrunber commented on #2308
See https://github.com/eclipse/eclipse.jdt.ls/pull/2202 . This is because `org.eclipse.jdt.ls.core` is used for both the standard and syntax server. One doesn't need m2e, so for a faster startup time, it is made optional.

The issue is we use the same bundle in both cases. If we split it maybe we could make it non-optional.

[2022-11-09 15:09] rgrunber commented on #2310
This should probably just be 0.12.0 for now : https://github.com/eclipse/eclipse.jdt.ls/blob/f07c1a5c8e04e86d03180751c88c29b19ac29591/org.eclipse.jdt.ls.target/org.eclipse.jdt.ls.tp.target#L38 .

[2022-11-09 16:49] #2310 closed

[2022-11-09 19:35] rgrunber commented on #2313
From your client, can you set up a socket to listen on say, port 5036, Then launch the language server with the following envrionment variables defined : `CLIENT_HOST=127.0.0.1`, `CLIENT_PORT=5036`.

[2022-11-09 21:00] rgrunber commented on #2312
Looks like the server only supports https://github.com/eclipse/eclipse.jdt.ls/blob/c9a2d051fc084f2d658c7326956c9698d12bee46/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/InitHandler.java#L180 currently. So we send the full text document on open, and incremental updates on changes.

There's an option for [`TextDocumentSyncKind.None`](https://microsoft.github.io/language-serv

[2022-11-09 21:43] supercow112 commented on #2313
Thank you for this! I used `nc -l 5036` and received the following:

![image](https://user-images.githubusercontent.com/61075793/200947698-bc76b3d4-c3b0-49a0-ac69-15ee9256549b.png)

I then tried to send an initialize message but get nothing in return. Should I not see a `InitializeResult` response?

![image](https://user-images.githubusercontent.com/61075793/200948125-bcc492c6-963e-4399-a3ef-c3191

[2022-11-10 01:40] rgrunber commented on #2313
A few things I managed to work out based on how you'd like to interact with the language server :

1) Add the following system properties to your launch : `-Dosgi.dev` & `-Dsocket.stream.debug=true` . These will enable this code path :

https://github.com/eclipse/eclipse.jdt.ls/blob/c9a2d051fc084f2d658c7326956c9698d12bee46/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JavaLanguageSe

[2022-11-10 08:10] mickaelistria commented on #2312
Support for TextDocumentSyncKind.None seems to be the proper approach. It might actually require some updates on client side as well, but it's worth doing things proper.
I've updated the priorities and am currently starting with simpler approaches to start JDT-LS as a separate process for a first milestone; so this is not an immediate requirement. I'll come back to this issue when there is a stron

[2022-11-10 13:20] rgrunber commented on #2309
This may also fix #2024 which seems similar. Issues installing JDT-LS into Eclipse IDE.

[2022-11-10 22:52] supercow112 commented on #2313
This is very helpful, thank you. I have some questions about debugging. It felt odd to me setting a breakpoint at a source line not contained in the eclipse.jdt.ls repo. Could you explain the intersection between lsp4j and the language server?

The blurb for lsp4j states that it is a Java implementation of the Language Server Protocol. So does implementation here refer to Java interfaces for the c

[2022-11-11 13:53] mathi1652 opened #2321 "ClassCastException while loading bundles on initialization"
Getting this following ClassCastException when bundles are given in InitializationOptions
Using JDK 17. jdt.ls v1.17

[2022-11-11 22:36] rgrunber commented on #2313
JDT-LS uses [LSP4J](https://github.com/eclipse/lsp4j) as the library to facilitate communication with a client. It also has all the relevant classes to make communication very simple and handles all the JSON related operations. We use LSP4J 0.12.0, which supports version [3.16](https://microsoft.github.io/language-server-protocol/specifications/specification-3-16/) of the language server protocol

[2022-11-13 06:06] husainaloos opened #2322 "dealing with jdt:// URIs"
Hello,

I use emacs with eglot. I noticed that sometimes, jdt.ls returns URIs on the form `jdt://` when trying to find a definition. Eglot does not handle these URIs.

Is it possible to configure jdt.ls to use `file://` protocol instead? I noticed that other packages parse `jdt://` and convert them to something useful (I see that emacs's lsp-java and nvim nvim-jdtls do that. I suspect vscode does

[2022-11-13 14:36] rgrunber commented on #2321
Which client are ypu using with JDT-LS?

Looks to be failing at https://github.com/eclipse/eclipse.jdt.ls/blob/v1.17.0/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/BundleUtils.java#L107 . Are you able to determine from your client, the options passed on initialization to the `bundles` option? It should be a list of strings but it almost looks like you have a nested list.

[2022-11-14 06:18] passion123 commented on #1185
Hi,i met the same error on winows os system,could u give me some adivce for i cant find the directory

[2022-11-14 08:28] jdneo commented on #2309
I'm ok to split it into another bundle to fix those issues. But still cannot understand why it causes problems even it is disabled.

@mickaelistria Could you help me understand what's the meaning of `dereferences the workspace which is not ready yet`?

[2022-11-14 08:48] mickaelistria commented on #2309
It's about a dependency loop: in Eclipse IDE, the workspace starts early, then the workspace will start the filesytem to initialize itself. Usually it's OK but in the case of JDT-LS providing the filesystem, the JDT-LS itself does invoke some workspace operations in its activation -which has to happen before the filesystem is actually used-, but the workspace is currently *initializing* so the cal

[2022-11-14 15:40] rgrunber commented on #2322
We don't use `file` because if the code responsible for `file` would not be able to handle classfile content. There's no "file" on the filesystem we could return because the content itself is often embedded in a jarfile. I'm not sure why we didn't go with `jar://` as I would think that could work, but it looks like we embedd some additional info in the uri that `jar://` probably can't handle.

The

[2022-11-14 15:59] rgrunber commented on #2311
I think this makes sense. If a client wants to have their own "Application" to handle the JDT-LS startup, then that's valid, and we should support them.

[2022-11-14 19:04] gayanper opened #2323 "CodeInlays shows up next to Lombok annotations"
<img width="735" alt="image" src="https://user-images.githubusercontent.com/7471994/201744138-d42e608a-1911-4609-bb0f-222e65594bc7.png">
This happens for other type of annotations which ends up generating code which could result inlays.

[2022-11-14 20:32] ajm01 opened #2324 "Can't move to latest jdt ls plugin because of cyclic de-referencing errors when loading the latest jdt ls plugin"
JDT-LS issue  https://github.com/eclipse/eclipse.jdt.ls/issues/2309 addresses this. We will move to the latest once it has been fixed.

Current plan is to start at JDT-LS 1.5.0 for now

[2022-11-14 20:34] #2324 closed

[2022-11-14 20:34] ajm01 commented on #2324
sorry - opened this in the wrong repo - closing here

[2022-11-15 01:19] mozhuanzuojing opened #2325 "Help! debug `eclipse.jdt.ls`"
I was preparing to debug the plugin, and then I got an error when I started the service

`jdt.ls.remote.server.launch` for debug

[code]

#### screen
![image](https://user-images.githubusercontent.com/63572041/201803785-248a7640-f9c1-4a80-ae7e-07301bd7e9d4.png)

#### additional

Retry deleting the workspace and rebuilding, starting the same error. Eclipse builds also report the same error

[2022-11-15 01:48] jdneo commented on #2309
Sounds like for applications where the workspace starts earlier, some workspace operations need to be executed to make the customized fs take effect.

Those workspace operations are not needed if the workspace is not initialized/initializing. Am I right?

[2022-11-15 02:21] snjeza commented on #2325
@mozhuanzuojing you may want to take a look at
- https://github.com/redhat-developer/vscode-java/blob/master/CONTRIBUTING.md#b-1-setting-up-the-jdt-language-server-in-vs-code
- https://github.com/redhat-developer/vscode-java/blob/master/CONTRIBUTING.md#b-2-setting-up-the-jdt-language-server-in-eclipse
- https://github.com/redhat-developer/vscode-java/blob/master/CONTRIBUTING.md#c-1-the-extension-o

[2022-11-15 04:41] mozhuanzuojing commented on #2325
Thank you so much. I have successfully completed the above steps. I think it might be the environment, I'll look into it again.

[2022-11-15 04:41] #2325 closed

[2022-11-15 05:35] jdneo commented on #2323
There are two approaches that may fix this problems.

The first one is to check the field `$isGenerated`
![image](https://user-images.githubusercontent.com/6193897/201832759-16c87313-6751-44a2-bda4-cd277fdc23e4.png)

Which can also been found in lombok project it self: https://github.com/projectlombok/lombok/blob/70bda546114ceccc7714bd6060d96edbcd25e3a0/src/eclipseAgent/lombok/launch/PatchFixesHid

[2022-11-15 07:18] mickaelistria commented on #2309
Basically, overriding the `file` filesystem in an extension that is not controlled by the workspace is not intended. My goal is not to really make it work in Platform as I believe and had warned -and this issue confirms it- this workaround in not really safe to use; but more to make it opt-out when starting JDT-LS as a thread inside Eclipse IDE.

[2022-11-15 15:27] #2311 closed

[2022-11-15 19:39] gayanper commented on #2323
I tried running with remote server mode. But the lombox doesn't kick in, do i need to do any classpath changes to the ls launcher ?

[2022-11-15 20:15] gayanper commented on #2323
Found it, need to add the lombok agent into the launcher

[2022-11-15 21:41] snjeza opened #2326 "ProjectsManagerTest.testCancelInitJob fails randomly"
https://ci.eclipse.org/ls/job/jdt-ls-master/1495/
https://ci.eclipse.org/ls/job/jdt-ls-pr/3717/
https://ci.eclipse.org/ls/job/jdt-ls-pr/3718/
https://ci.eclipse.org/ls/job/jdt-ls-pr/3719/
https://ci.eclipse.org/ls/job/jdt-ls-pr/3720/
https://ci.eclipse.org/ls/job/jdt-ls-pr/3721/
https://ci.eclipse.org/ls/job/jdt-ls-pr/3726/
https://ci.eclipse.org/ls/job/jdt-ls-pr/3727/

[code]

[2022-11-16 00:23] jdneo commented on #2323
Personally, I prefer to check `$isGenerated` for this lombok specific case. If there are more cases found in the future, we can try some other approach.

[2022-11-16 10:55] LDAP opened #2327 "Code action response contains `null` as one of the code actions"
The response to a `textDocument/codeAction` request contains `null` as one of the code actions, which according to LSP specification is not allowed.

LSP specification: https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#textDocument_codeAction

Log:
[code]

See https://github.com/sublimelsp/LSP/issues/2057 for additional information.

[2022-11-16 16:04] haykam821 commented on #1460
I believe this is an independent example of the problem:

[code]

[2022-11-16 18:29] gayanper commented on #2323
Not sure if just checking for `$isGenerated` field on the JDT ASTNode is enough or should the other logics in the mentioned class must be done as well.

[2022-11-16 21:52] snjeza opened #2331 "WorkspaceDiagnosticsHandlerTest.testMissingNatures fails sometimes"
WorkspaceDiagnosticsHandlerTest.testMissingNatures
[code]

[2022-11-17 10:26] LDAP commented on #2327
I could reproduce the issue using [this](https://github.com/junit-team/junit5-samples) project and placing the cursor on the `add` method in `junit5-samples/junit5-jupiter-starter-gradle/src/main/java/com/example/project/Calculator.java`.

[log.txt](https://github.com/eclipse/eclipse.jdt.ls/files/10030463/log.txt)

[2022-11-17 13:09] testforstephen commented on #1460
This is a type inference problem introduced by the upstream ECJ (Eclipse Compiler for Java). We also found some generic type use cases where ECJ inferred a different expected type than javac. We're trying to fix these inconsistencies in the upstream ECJ.

[2022-11-17 13:14] testforstephen commented on #1460
@haykam821 Using javac to compile your example, it also reports compilation errors. Your case is invalid. It's better to provide an example where javac works, but eclipse.jdt.ls does not.

[code]

[2022-11-17 13:44] haykam821 commented on #1460
Whoops, here's an example that works:

https://github.com/NucleoidMC/plasmid/blob/de5d3ef8587c65e0bd96ee8980e002feec68bf85/src/main/java/xyz/nucleoid/plasmid/game/config/GameConfig.java#L133-L144

[2022-11-17 13:59] testforstephen commented on #1460
I can reproduce it with your latest sample. Looks like a "wildcard capture" problem for generic type inference. Need look deeper for more details.

[2022-11-17 14:59] #2326 closed

[2022-11-17 20:09] rgrunber commented on #2327
If I use a different client (eg. vscode-java), I don't see any `None` values. What client are you using with JDT-LS ? Given that it might be client specific, it might only be possible to reproduce with the same client. In the example you give above, `None` occurs between the `Inline Method` and `Organize imports` code actions.

In my case, `Add Javadoc for 'add'` is between those, so perhaps it's

[2022-11-18 01:46] #2323 closed

[2022-11-18 06:25] CsCherrYY opened #2333 "multiple "Add missing imports" can be observed"
![image](https://user-images.githubusercontent.com/45906942/202635384-d7c6d9d0-a37a-41b5-9415-826e625e1d66.png)

[2022-11-18 06:29] CsCherrYY commented on #2333
this issue occurs when there are multiple unresolved types at a same line

[2022-11-18 13:04] LDAP commented on #2327
I use the LSP and LSP-jdtls plugin for Sublime Text.

See https://github.com/sublimelsp/LSP/issues/2057

[2022-11-18 17:37] rgrunber commented on #2327
Ok, I've debbuged this and know what's going wrong. I think we can fix this in JDT-LS, but the Sublime extension is also going to need to update some settings it sends to the server to ensure it continues to receive the relevant code actions (in additon to maybe others that are missing).

I'm including in this comment a sample of what I see Sublime sending in `initialize` as well as what I see VS

[2022-11-18 18:28] #2307 closed

[2022-11-19 06:21] BABUGANESH-R opened #2336 "java/organizeImports command gives no response in large size file"
### Discussed in https://github.com/eclipse/eclipse.jdt.ls/discussions/2334

<div type='discussions-op-text'>

<sup>Originally posted by **BABUGANESH-R** November 18, 2022</sup>
Is there any limitation in the execution of organize imports command in jdt.ls ?

[organizeImports function](https://github.com/eclipse/eclipse.jdt.ls/blob/e64c205d6b2c3edbf6a9f5df3b4c216ba35d3c87/org.eclipse.jdt.ls.core/s

[2022-11-19 10:04] LDAP commented on #2327
I will take care of the Sublime LSP side once the fixes for JDT.LS are ready 👍

[2022-11-21 17:17] rgrunber commented on #2322
Does https://github.com/emacs-lsp/lsp-java/pull/22 help ? Can any of that be re-used ?

[2022-11-22 01:44] #2333 closed

[2022-11-22 16:23] rgrunber commented on #1841
As per https://github.com/redhat-developer/vscode-java/issues/2053#issuecomment-899333351, I don't think this exists even in upstream JDT for us to just migrate over and use. So likely the work need to be done upstream first.

[2022-11-22 18:45] #2331 closed

[2022-11-23 02:03] #2327 closed

[2022-11-23 03:08] jdneo commented on #2336
How large is the file to be organized?

[2022-11-23 15:45] rgrunber opened #2344 "Add clean up for using try-with-resource"
See https://github.com/eclipse-jdt/eclipse.jdt.ui/blob/9d4e8ecc47ba06fa06eaa9c2f6c535503ac4d6df/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/fix/TryWithResourceCleanUp.java . This will need to be migrated from jdt.ui to jdt.core.manipulation. Once migrated, adding it to cleanups should be straightforward.

See https://github.com/eclipse-jdt/eclipse.jdt.ui/pull/288 & https://github.com/eclipse

[2022-11-24 02:17] jdneo opened #2345 "Support test annotation processor in Gradle"
The Gradle annotation processor support is introduced in https://github.com/eclipse/eclipse.jdt.ls/pull/2319.

It remains a problem that we cannot handle well, which is the `testAnnotationProcessor` support. See the discussion: https://github.com/eclipse/eclipse.jdt.ls/pull/2319#discussion_r1030257251

Two choices we can go:
- Mix the annotation processors from main and test together.
- Wait until

[2022-11-24 11:49] ForgottenR opened #2346 "Add JSR305 @CheckForNull as default nullable annotation and support multiple nullable/nonnull annotations at the same time."
It's great that annotation-based null analysis was implemented in #2228. But there is a potential problem that I want to point out.
Although @Nullable is now widely used to indicate a value that may be null, it's not really what jsr305 originally intended. The intended annotation to indicate that is actually @CheckForNull. See https://stackoverflow.com/questions/12301570/javax-annotation-nullable-

[2022-11-25 10:55] mickaelistria opened #2348 "Update to newer LSP4J"
Working on integrating JDT-LS in Eclipse IDE with an in-process deployment is made harder because JDT-LS uses an outdated version of LSP4J and this cause clashes in the workspace (not only JDT-LS's fault, also PDE's one probably, anyway it's almost blocking).
I've investigated migrating JDT-LS to newer version and found that the main cause of trouble would the the custom type hierarchy commands. N

[2022-11-25 10:57] mickaelistria commented on #2348
I noticed https://github.com/redhat-developer/vscode-java/blob/master/src/commands.ts still references them; but isn't it as well something that VSCode now provides by default and thus could be removed?

[2022-11-25 14:29] mrchoc commented on #1506
are there any updates on this issue?

[2022-11-25 14:55] rgrunber commented on #2327
Just to follow up here. So (1) is done now, which resulted in this change being closed. We should no longer emit `None`/`null` items (at least from that code path) in code action responses.

For (2), I suspect quick-assists are special in that we might have needed a separate category (eg. `quickassist`) and didn't want to place such code actions under `source`. The problem is that `codeActionLiter

[2022-11-25 15:06] rgrunber commented on #2348
I think we want to use the type hierarchy request methods that are part of the protocol now. When it was implemented, I think it wasn't yet known if they would become part of the spec.

[2022-11-27 21:22] mickaelistria opened #2351 "Add some configuration to disable LogHander (or pass an exclude all ILogFilter)"
When integration JDT-LS as a thread in an Eclipse application, we enter an infinite loop of logging: JDT-LS will create some log event, Eclipse LSP4E will generate an Eclipse log event for this, that JDT-LS will catch and send as a log event and so on.
To avoid that, JDT-LS should provide some way to skip logging. Something like a system property could be good enough.

[2022-11-28 01:49] CsCherrYY commented on #2348
there is a PR about moving type hierarchy to LSP using new version of LSP4J: https://github.com/redhat-developer/vscode-java/pull/2376, but the change is now blocked by the language client version update, see: https://github.com/redhat-developer/vscode-java/pull/2377.

[2022-11-28 03:22] jdneo commented on #2348
+1 for this.

Another benefit is that newer LSP contains some new features that we can leverage. For example, it allows LS to provide descriptions for completion items, which will be displayed at the right of the completion list.

[2022-11-28 09:18] mickaelistria opened #2353 "Add some configuration to disable IMarker->Diagnostic publish"
Currently, JDT-LS turns IMarker (that are supposed to be internal and invisible) into Diagnostics. That's a good behavior.
But when integrating in Eclipse IDE, Eclipse LSP4E will then turn Diagnostics back into IMarkers and will trigger extra Diagnostic on JDT-LS and so on. As IMarkers are already visible when integrating in Eclipse IDE; JDT-LS should provide some configuraiton to not perform the

[2022-11-28 09:20] mickaelistria opened #2354 "[EPIC] Integration in Eclipse IDE as a process"
This issue is meant to cover the necessary bits to facilitate integration of JDT-LS in Eclipse IDE as a process, allowing it to coexist with JDT-UI, yet to be usable in Generic Editor. The fun is that Eclipse IDE becomes both the backend and the client.
The goal is to evaluate how we could progressively replace parts of JDT-UI by usual LSP stack, while still allowing deep integration with Eclipse

[2022-11-28 14:54] rgrunber commented on #2348
You're right. I forgot the migration was blocked for the VS Code client due to that. The best timeline for this is probably start of 2023 then. Only way to do it sooner is if we can allow both (delegate calls for type hierarchy, and LSP 3.17) to coexist.

Are there any clients other than VS Code that are known to have implemented type hierarchy on the current (delegate handler) API ?

[2022-11-28 19:42] mickaelistria commented on #2312
Current workaround: https://github.com/mickaelistria/eclipse.jdt.ls/commit/57e38e3fd0f75d14ac13ec1f584b3695159c3c16

[2022-11-28 19:43] mickaelistria commented on #2348
Current workaround is https://github.com/mickaelistria/eclipse.jdt.ls/commit/e4f50f304d5c64af2a43da8926eaebfac4789224

[2022-11-28 19:44] mickaelistria commented on #2351
Current workaround https://github.com/mickaelistria/eclipse.jdt.ls/commit/22b26e079cd341aa71e137a29a73fe7db4f0488b

[2022-11-28 19:44] mickaelistria commented on #2353
Current workaround https://github.com/mickaelistria/eclipse.jdt.ls/commit/22b26e079cd341aa71e137a29a73fe7db4f0488b

[2022-11-29 00:39] #2336 closed

[2022-11-29 16:55] snjeza opened #2358 "Check Java LS Tests"
Java LS test often fail

- https://ci.eclipse.org/ls/job/jdt-ls-pr/3788/
- https://ci.eclipse.org/ls/job/jdt-ls-pr/3783/
- https://ci.eclipse.org/ls/job/jdt-ls-pr/3784/
- https://ci.eclipse.org/ls/job/jdt-ls-pr/3786/

Jenkins kills the test process.
[code]