[2017-12-11 18:42] #483 closed

[2017-12-11 20:49] fbricon commented on #257
The problem is we can't simply disable gradle support unless we also remove the gradle nature of the projects. Which I might not be a good idea if the eclipse settings have already been committed to the SCM, or if the project is being opened in Eclipse in parallel.

Rather than disabling Gradle, I'm more interested in fixing the problem with Gradle, especially:

Are you behind a proxy? Also provid

[2017-12-11 21:16] gorkem commented on #487
No there isn't. One of the oldest requests we had for vscode extension was about this https://github.com/redhat-developer/vscode-java/issues/2

[2017-12-11 21:32] gatesn opened #491 "How difficult would integration with groovy-eclipse be?"
As well as Java, I'm looking for a good Groovy language server. It seems like the groovy-eclipse compiler solves a lot of the problems that arise when sources are defined in both Java and Groovy. It's also built on top of a slightly patched JDT.

Would someone be able to outline the steps involved in integrating this tool if at all possible?

[2017-12-11 21:37] snjeza commented on #257
We shouldn't disable the gradle nature or builder. If I understand the request, @oakad will would create an Eclipse project with .project/.classpath. We just need to skip the gradle/maven importer and import the project as an ordinal Eclipse project.

Based on

This is a buildship issue and can be fixed within Java LS.

[2017-12-11 22:19] fbricon commented on #491
this could either be easy or very hard/impossible to achieve :-)

- server probably needs to be changed to support listening to non java files, this should be moderately easy
- jdt.ls extension needs to bring in groovy support plugins. But the patched jdt plugins might not be applicable to jdt.ls. Maybe @eric-milles, @martinlippert, @aclement could provide some insight.

[2017-12-11 22:50] eric-milles commented on #491
Groovy-Eclipse is patched into the JDT.  I would imagine the Language Server implementation of Groovy would be a replacement that would remove the need for patching the JDT directly.

[2017-12-11 23:00] fbricon commented on #491
@eric-milles jdt.ls embeds the stock jdt core plugins (+ forked jdt ui classes). If you need jdt hacks for groovy support, then I assume you'd need to patch jdt.ls as well. That patching mechanism is not supported.
Now if you can make groovy support work without a patched jdt, that'd be awesome :-)

[2017-12-12 01:28] oakad commented on #257
I will try to address the questions is order.

1. @gorkem - I was reading about eclipse extension mechanism. What is less obvious to me, is whether JDT.LS is going to read an external (not jar packaged) plugin.xml file and if yes, where would it look for it.

2. @snjeza - This sort of property is what I was asking for in the OP.

3. @fbricon Sorry, I was not clear enough in my rant, it was late. :

[2017-12-12 07:33] martinlippert commented on #491
groovy-eclipse is a patched JDT and as far as I know it is not possible to run the standard JDT together with the patched groovy-eclipse JDT side by side in the same installation (either Eclipse nor jdt.ls). So you would have to replace the existing JDT implementation of the jdt.ls with the groovy-eclipse version, which seems to be the wrong way in my opinion.

I think one of the benefits of the a

[2017-12-12 12:09] gatesn commented on #491
Thanks for the responses, this has been very helpful. As you say, the intention was not to run both side-by-side in the same installation, but instead to have jdt.ls be runnable in either mode.

Given your note however, it seems like you'd recommend against using the Groovy-Eclipse compiler at all and actually just build out Groovy support against the Groovy compiler.

I think I will try running a

[2017-12-12 12:50] martinlippert commented on #491
@gatesn To be clear on that, I don't have anything against the Groovy-Eclipse compiler. It is still the best option to get Groovy support in Eclipse and could very well be used to implement a language server. The point I am trying to make is that I would vote for having separate independent language servers and use this architectural option to decouple the Groovy support from the overall Java supp

[2017-12-12 18:38] snjeza opened #493 "BundleUtilsTest tests sometimes fail"
The issue happens because OSGi updates the equinox registry asynchronously.
If getBundleExtensionResult() is called before than OSGi updates the equinox registry, OSGi won't find an extension point and a test will fail.

[2017-12-12 20:39] aclement commented on #491
Just my 2c. If I wanted to do something quickly then I'd take a copy of the JDT LS, replace the JDT inside with groovy-eclipse JDT, change the package name to GROOVY-JDT LS or something like that (so it is different to JDT LS and not confused with it) and make that available for folks who want to use it.  However, similarly to the "you either have JDT or you have patched JDT with groovy support" i

[2017-12-12 22:15] snjeza commented on #257
@oakad could you try https://drive.google.com/open?id=1194eP-S7gKeWLbREzRBdsBpfKZrW0yoT

You can disable the gradle importer using:

[code]

The code: https://github.com/snjeza/eclipse.jdt.ls/tree/issue-257 and https://github.com/snjeza/vscode-java/tree/issue-257

[2017-12-13 01:51] #493 closed

[2017-12-13 01:53] #487 closed

[2017-12-13 02:18] oakad commented on #257
Thanks, works as expected (gradle importer is suppressed, eclipse project imported).

I would also like to add that eclipse project importer allows JDT.LS to start and reach ready state substantially faster than gradle importer, even if gradle project is "good" (that is, small pure java project organized "by the book").

[2017-12-13 02:26] fbricon commented on #257
@oakad with the latest release re-opening a gradle project should be almost as fast as pure eclipse one. So how do they compare for you, more precisely? If you have an example of a project slow to reopen, please share it with us

[2017-12-13 02:57] oakad commented on #257
Just now I tried with a typical project I've got - ~70 java files, build.gradle is attached hereby. gradle importer was not that slow to open, but eclipse importer was rather noticeable faster. Also, gradle importer still had issues with classpath and "go to definition".

[build.gradle.txt](https://github.com/eclipse/eclipse.jdt.ls/files/1553992/build.gradle.txt)

[2017-12-13 14:18] mmorhun opened #495 "Update maven project recursively"
When `ProjectsManager#updateProject(IProject)` is called on maven module or whole project, it should update all the submodules recursively.

[2017-12-13 14:23] mmorhun commented on #495
Maybe it should be a boolean parameter to import recursively or not.

[2017-12-13 14:34] tolusha opened #496 "Missed pom.xml diagnostics"
jdt.ls doesn't report any issues with `pom.xml` in several cases:

* Unsupported tag is used:
[code]

* non-existed module is declared
[code]

[2017-12-13 14:48] snjeza commented on #257
If the gradle importer fails, it will be called again when starting VS Code.

[2017-12-13 15:02] tolusha opened #498 "pom.xml diagnostics don't recognize unsupported tags"
jdt.ls doesn't report any issues if unsupported tag is used;

[code]

[2017-12-13 15:05] fbricon commented on #496
This is related to https://bugs.eclipse.org/bugs/show_bug.cgi?id=427599

[2017-12-13 20:26] #257 closed

[2017-12-14 20:53] fbricon opened #501 "Open/Navigate Java 9 module broken with Oxygen.2"
Since the update to Oxygen.2, navigating/opening a JDK module from module-info.java is broken:

[code]
In vscode, this happens when ctrl-clicking on `java.sql`:
[code]

I can't reproduce the issue from Eclipse directly

[2017-12-15 00:16] fbricon commented on #501
So the regression is rather caused by IClassFile.getBuffer().getContent() not returning anything in SourceContentProvider.getSource(), so the next content provider is DisassemblerContentProvider which exposes the bug in AbstractClassFile.getBytes() which might have been there for some time.

Now the question is: why is the source not returned by IClassFile.getBuffer().getContent()?

[2017-12-15 16:40] fbricon commented on #397
Had to revert changes bringing the Oxygen.2 bits as they cause #501

[2017-12-19 10:30] svor opened #503 "Can not initialize all projects from the workspace"
InitHandler calls [initializeProjects(final Collection<IPath> rootPaths, IProgressMonitor monitor)](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/InitHandler.java#L180) but here rootPaths contains only workspace path. So in the [`ProjectsManager`](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.c

[2017-12-19 16:31] gorkem commented on #503
Is this the case when we have one workspace root and two projects of different kinds in it?

[2017-12-19 19:38] #377 closed

[2017-12-19 20:45] fbricon opened #505 "Migrate "workspace/didChangeWorkspaceFolders" implementation to LSP4J's"
WorkspaceFoldersProposedService should be replaced by https://github.com/eclipse/lsp4j/commit/4ae0ab317f4caae5fa47c3a821b247c690977b4d

[2017-12-20 08:22] svor commented on #503
It is. In our case Che passes workspace root `/projects` to jdt.ls and this root has several projects of different kinds.

[2017-12-20 09:33] tsmaeder commented on #503
https://github.com/Microsoft/vscode/issues/28344 : seem multi-root is not coming to LSP any time soon, so initialize with a single root it is, for the moment.

[2017-12-21 14:04] gorkem commented on #503
The discussion on LSP is at https://github.com/Microsoft/language-server-protocol/issues/298

[2017-12-22 01:18] gorkem commented on #404
See also https://github.com/Microsoft/vscode-languageserver-node/pull/261

[2017-12-22 09:37] tsmaeder opened #506 "ProjectsManager#updateProject should return Job"
ProjectsManage#updateProject starts a job, but clients have no access to the Job. The method #updateWorkspaceFolders in the same class returns a Job. I suggest returning the Job in order for clients to be able to cancel, wait for, etc.

[2017-12-24 01:49] gorkem opened #508 "Support for Call Hierarchy"
Add support for call hierarchies

[2017-12-24 01:52] gorkem commented on #172
Addressed with https://github.com/Microsoft/vscode-java-test closing

[2017-12-24 01:52] #172 closed

[2017-12-27 22:50] puremourning opened #509 "Documentation not included in completion resolve since PR 425"
Opening an issue as requested.

We're upgrading ycmd to use v0.10.0 and investigating a few test failures.

Currently hitting the issue described here: https://github.com/eclipse/eclipse.jdt.ls/pull/425#issuecomment-354180298

In short, prior to PR #425, the resolve completion returned `documentation` as expected. As of that PR, it no longer does for that specific test case.

In VSCode, however, i

[2017-12-28 12:41] mmorhun opened #510 "SearchEngine#searchAllTypeNames is too slow on big projects"
We use `SearchEngine#searchAllTypeNames` in Che's debugger and when try to debug Che from Che it works too slow. Response could come a minute later. We did profiling and it turned out that the bottleneck is in underlying JDT SearchEngine.
Here is profiling results:
![prof](https://user-images.githubusercontent.com/15607393/34378808-90556d46-eb00-11e7-8295-84c1dea77842.png)

From the results:
- met

[2017-12-29 02:49] gorkem commented on #510
This code is calling `SearchEngine#searchAllTypeNames` with `IJavaSearchConstants.WAIT_UNTIL_READY_TO_SEARCH` which waits for the indexing to complete. As you can see from the call stack the calls to `org.eclipse.jdt.internal.core.JavaModel#getTarget()` is done while indexing. You can try the same call with `IJavaSearchConstants.FORCE_IMMEDIATE_SEARCH` to see if it makes a difference.

I do not th

[2017-12-29 12:59] mmorhun commented on #510
I tried it with `IJavaSearchConstants.FORCE_IMMEDIATE_SEARCH`. After workspace start, the time of threads dump retrieving id about 10-12 seconds. But with each step it going to be slower and slower up to ~35 seconds (in my case). I did profiling:
- For 'fresh' state (request ~10 seconds without profiling):
![profiling_start](https://user-images.githubusercontent.com/15607393/34437552-f35df64e-eca7

[2017-12-29 13:06] mmorhun commented on #510
As about using `SearchEngine` in debugger, I have no idea why it was chosen. But I have no idea for now also with what we can replace it. @gorkem Maybe you have some piece of advice?
And if you think that this is Che only issue, you may close this one.

[2017-12-29 14:40] #510 closed

[2018-01-03 13:49] martinlippert commented on #484
Ok, coming back to this now. Sorry for the delay. Can't find the issue where we discussed and investigated this issue between Buildship and STS dealing with the Guava dependency. Do you have a pointer for me?

In general I am totally open to try a dev build of Buildship with Guava 21 as a dependency.

[2018-01-03 14:09] martinlippert commented on #484
This starts to look funny... :-) I think we added a restriction to the guava lib to STS back in June 2017 to avoid a package-use conflict where buildship was involved (due to some re-exports), so this turns into a chicken-and-egg problem... LOL...

I think once we have a buildship dev build that has an updated version constraint on the guava lib [21,22), I can go ahead and update the STS dependenc

[2018-01-04 01:03] #506 closed

[2018-01-04 14:05] donat commented on #484
@martinlippert Removing Guava from Buildship is still on my list. I'll prepare something for you in the next sprint.

[2018-01-04 14:07] martinlippert commented on #484
@donat Sounds good, send me a ping once you have a dev build around for testing.

[2018-01-09 21:44] amiramw opened #516 "CompletionItem.documentation as markdown"
Any plan on support for markdown kind on CompletionItem.documentation?
After https://github.com/eclipse/eclipse.jdt.ls/issues/223 the documentation looks less nice than before...

[2018-01-09 22:19] fbricon commented on #516
If the protocol now supports it, then yes, we can definitely restore markdown documentation.

[2018-01-12 14:35] fbricon opened #517 "Javadoc on hover missing from attached javadoc jar"
I'm testing a Maven project depending on
[code]

No source jar is available, Javadoc has been downloaded explicitly by m2e in Eclipse, so the javadoc jar is present in the local Maven repo and should be attached automatically by m2e-jdt, yet no javadoc shows up when hovering over EMPTY_SHORT_LIST_ITERATOR in:

[code]

[2018-01-14 16:47] gorkem opened #518 "Implement organize imports using applyEdit"
We can implement organize import by directly issuing a `workspace/applyEdit` for clients that support it. This will make the implementation more generic and decrease the roundtrip during organize import calls.

[2018-01-15 08:53] jechlin commented on #491
Hi there. I also would like to do this, but I don't really care about java support.

I attempted the instructions that @aclement gave... I made some progress but ended up with some errors from the language server: https://gist.github.com/jechlin/58551b7e0d15d9a6ca85bbf21e1704ea

That class is in a jar present in the plugins directory. I'm not really asking people to debug that (although great if y

[2018-01-16 13:58] #509 closed

[2018-01-16 15:48] eric-milles commented on #491
Yes, headless mode should work.  I run all the compiler and builder tests that way.  I've run those particular tests with a number of the UI plug-ins missing from the workspace.

If you're getting into editor support (error in document setup participant), you'll need UI stuff.

From: jechlin [mailto:notifications@github.com]
Sent: Monday, January 15, 2018 2:53 AM
To: eclipse/eclipse.jdt.ls
Cc: Mil

[2018-01-17 20:08] #455 closed

[2018-01-18 14:02] tsmaeder opened #522 "Allow custom notifications"
While jdt.ls extenders can add functionality by adding custom commands, there is not such ability for notifications. As it happens, The remote proxy we get back from Launcher.getRemoteProxy() when starting the client connection in JavaLanguageServerPlugin#startConnection() implements "Endpoint". This would allow us to add a method to JDTLanguageServer like so:
[code]
This would very simply allow c

[2018-01-18 19:50] fbricon commented on #501
Moving the TP to photon, the error is now:
[code]

[2018-01-19 15:34] tolusha opened #524 "Encoding issue with jdt.ls javadoc"
It is turned out that the original source isn't utf-8 encoded.
I am not sure if it is possible to handle that.

vs code:
[vscode](https://user-images.githubusercontent.com/1640675/35158006-693ee2f0-fd3e-11e7-9fb5-7512cb1fc8a1.png)

Che:
[che](https://user-images.githubusercontent.com/13163770/33475895-4a2825fa-d680-11e7-887b-492aff5c38f0.png)

https://github.com/eclipse/che/issues/7674

[2018-01-21 21:49] snjeza commented on #524
This is an m2e bug. junit-3.8.1-sources.jar uses the ISO-8859-1 encoding and m2e doesn't allow changing source attachment encoding.
The issue can't be reproduced when using junit >= 3.8.2.
See https://bugs.eclipse.org/bugs/show_bug.cgi?id=385391

@fbricon Would you like me to try to fix this issue in m2e?

[2018-01-22 04:18] fbricon commented on #524
@snjeza before you try to fix m2e, do you have a general idea on how to do it?

[2018-01-22 18:42] fbricon commented on #524
Mmm that would not work OOTB. And you probably need to handle javadoc and sources differently.

An alternative might be to, before attaching the file, inspect the 1st (java) file in there and try to detect the encoding via ICU4J (see https://stackoverflow.com/questions/499010/java-how-to-determine-the-correct-charset-encoding-of-a-stream/4013565#4013565), for instance.

@ifedorenko WDYT?

[2018-01-22 18:54] ifedorenko commented on #524
Agree with Fred, the encoding has to come from somewhere and encoding detection seems like a reasonable thing to do. Although I guess it won't be 100% reliable, for things like mixed-encoding sources, not using all sources during autodetection, etc.

Other options you may want to try

* look inside artifact pom.xml file for presence of source encoding property. Which may or may not be set correctl

[2018-01-22 19:02] fbricon commented on #524
@snjeza If going with ICU4J, make sure you're not depending on the icu4j bundle, but the packages, since jdt.ls only embeds the [base icu4j jar](https://github.com/eclipse/eclipse.jdt.ls/issues/252)

[2018-01-22 19:06] snjeza commented on #524
@fbricon @ifedorenko com.ibm.icu.text.CharsetDetector returns UTF-8 for ~/.m2/repository/junit/junit/3.8.1/junit-3.8.1-sources.jar!/junit/framework/TestSuite.java.

[2018-01-22 19:30] ifedorenko commented on #524
Autodetection will never be 100% reliable, especially if it does not consider all source files.

[2018-01-22 19:54] snjeza commented on #524
CharsetDetector doesn't work even when detecting TestSuite.java

A solution for a gradle project is:

[code]

[2018-01-22 20:00] fbricon commented on #524
@snjeza I'm curious, does icu4j detect anything other than utf-8 if you scan the entire junit-3.8.1-sources.jar?

[2018-01-22 21:40] snjeza commented on #524
icu4j detects encoding correctly when scanning junit-3.8.1-sources.jar, icu4j-60.2-sources.jar, commons-io-2.6-sources.jar ...

@fbricon we should add the icu4j dependency to the org.eclipse.m2e.jdt bundle. jdt.ls would have to include the icu4j bundle.
com.ibm.icu.base doesn't include CharsetDetector.

[2018-01-22 23:29] fbricon commented on #524
- how long does it take to full-scan a jar?
- I'm interested to know whether we can accurately detect encoding after scanning say 5, 10, 100 files in a jar. I'd rather sample the scanning than perform a complete archive scan
- can you see if other frameworks produce similar results? I'm not thrilled by the idea of adding another 12MB to jdt.ls simply to be able to detect source code encoding

[2018-01-23 09:34] tsmaeder commented on #404
There is a WIP PR here: https://github.com/eclipse/eclipse.jdt.ls/pull/490

[2018-01-23 15:06] donat commented on #484
Sorry for the late reply. I've prepared a feature branch which uses Guava 18.0 and published it in a snapshot update site: http://download.eclipse.org/buildship/updates/e47/snapshots/3.x/3.0.0.v20180123-1455-s
If you are happy with the changes then it will be merged in the 3.x stream.

[2018-01-23 15:07] fbricon commented on #484
Why guava 18, not 21?

[2018-01-23 15:18] donat commented on #484
Well, one big blocker I see is that Guava 21 requires Java 8 and we support older Eclipse releases that are still on Java 7. In addition, I've seen that we have IP approval for Guava 18 and I convinced myself that this is what you also want. This is on me, sorry about that.

[2018-01-23 15:23] fbricon commented on #484
https://github.com/eclipse/buildship/blob/master/docs/user/Installation.md shows you're building platform targeted builds, so can't you have a oxygen/photon build using 21, and older targets getting 18?

[2018-01-23 15:26] donat commented on #484
That's correct. The only thing is that our build scripts are now not in the best shape and it requires some effort to define different dependency versions per platform. In fact, one of my upcoming tasks is to clean up those scripts, I just wanted to give you something before that.

[2018-01-23 15:35] fbricon commented on #484
Migrating to Buildship 3.x requires some changes on our side

[code]

[2018-01-25 18:11] fbricon opened #526 "Autocompletion in main source proposes test classes"
After moving jdt.core to latest photon bits (see #527), where test classpath is isolated from main classpath, Test classes are still proposed in autocompletion, while editing a main class. Once the class is saved, the test imports are validated as errors

[2018-01-25 18:48] fbricon opened #528 "Flaky reporting of test imports in main code"
With #527, not only test classes are proposed in main code completion (#526), but saving the file seems to report then remove compilation errors randomly:

![jan-25-2018 13-47-58](https://user-images.githubusercontent.com/148698/35406281-6f5587e2-01d6-11e8-8bf2-04ed5e518365.gif)

[2018-01-25 19:00] fbricon commented on #528
Ok so here's something interesting:
- After `@Test`, add a space then:
- wait for a couple seconds and save: error is reported briefly then wiped clean
- OR immediately save the file without waiting, the error is reported and not removed.

Seems like our delayed validation is playing tricks on us. @snjeza any idea?

[2018-01-25 21:41] fbricon commented on #526
Found filtering code upstream : http://git.eclipse.org/c/jdt/eclipse.jdt.ui.git/commit/?id=90dbec1ca3a0198af184c40ae0d2a321b7d5ec3c

[2018-01-25 23:33] fbricon commented on #528
the flaky reporting doesn't happen if there's no `import org.junit.Test;` in the file.
With the fix for #526, since Test is not autocompleted anymore, the import is not added, so it's less obvious. You definitely need to add the import manually first.

[2018-01-26 01:00] #526 closed

[2018-01-26 01:01] #501 closed

[2018-01-26 01:01] #397 closed

[2018-01-26 14:24] fbricon opened #529 "Importing test classes should not be proposed as code action in main code"
If you have `@Test` in your main code, and Junit is available as a test dependency, `import 'Test' (org.junit)` is proposed as a code action. It should not (similar to #526).

[2018-01-26 14:26] fbricon commented on #529
See how to apply similar fix as in https://git.eclipse.org/r/#/c/115992/

[2018-01-26 14:34] fbricon commented on #529
Fixes require changes in [SearchEngine API](https://bugs.eclipse.org/bugs/show_bug.cgi?id=530260), that will be available in Photon M6.

[2018-01-26 14:45] fbricon commented on #528
Interestingly, when the project is first opened, unresolved test dependency is reported, but as soon as the problematic file is opened, it goes woosh

![jan-26-2018 09-43-16](https://user-images.githubusercontent.com/148698/35444797-9b1babd4-027d-11e8-9a5f-26d7b2aa3a54.gif)

[2018-01-26 20:53] fbricon commented on #528
Fixed with https://github.com/eclipse/eclipse.jdt.ls/commit/011a78c8e5f65d363ce3835953efa980958cfade

[2018-01-28 17:28] bizzyman opened #532 "Handling of large number of simultaneous requests"
I am trying to build a symbol outline using LSP and this server, to get extra symbol information I make a large number of requests about each symbol when setting up the outline. This creates a noticeable delay (around 7 secs on my machine for 1000~ loc file). Does this language server handle requests in any concurrent/multithreaded manner, or are they all serial? I have seen this issue https://git

[2018-01-30 22:22] amiramw opened #534 "Overlapping additional edits on code completion"
According to protocol:

However sometime there are two additional edits on the same line and column. For example:
[code]

I don't think there is a deterministic way to decide which inserted text should be first between the two on line 12 character 46 although it seems that the import is meant to be inserted before the new line so it gets its own line...

Am I missing something or the edits are amb

[2018-01-31 00:29] snjeza commented on #524
See https://git.eclipse.org/r/#/c/116390/2

[2018-02-01 03:03] snjeza commented on #528
See https://github.com/eclipse/eclipse.jdt.ls/pull/536

[2018-02-02 22:57] #528 closed

[2018-02-04 12:20] oakad opened #538 "How to supply module path to JDT.LS when using Java 9 modules?"
I'm playing around with Java 9 modules and rely on gradle generated `.classpath` file.

The `.classpath` defines the class path entries, but it appears not to affect module path used by the JDT.LS. So, when trying to use JDT.LS with Java 9 module (package which has `module-info.java` file present), it is unable to locate any classes belonging to "required" modules.

When core JDK classes are conce

[2018-02-04 21:42] fbricon opened #539 "When opening an unzipped source jar, a project is created from META-INF/../pom.xml"
After extracting a source jar like [commons-io-2.6-sources.jar](http://search.maven.org/remotecontent?filepath=commons-io/commons-io/2.6/commons-io-2.6-sources.jar), and opening the root directory, a Maven project is generated (with eclipse setting files) from `META-INF/maven/commons-io/commons-io/pom.xml`.

**/META-INF/maven/** paths should be ignored during import

[2018-02-05 11:27] mjshashank opened #540 "Some completion items do not have insertText"
I have been trying to integrate this project as an LSP server for an editor. Ive noticed that some of the completions do not have an insertText field.
Eg:
1.
[code]
2.
[code]
How is this expected to be handled with respect to the value to be inserted?

Because inserting the label would mean a lot of redundant characters are being inserted (like in example 2, where after inserting label the code in

[2018-02-05 12:25] puremourning commented on #540
Well, it's a pain. First, `insertText` is optional, and deprecated, and falls back to `label`:

[code]

In order to get the `textEdit` you have to use the [`resolve`](https://microsoft.github.io/language-server-protocol/specification#completionItem_resolve) request.

Depending on your editor, this may be difficult. One optiopn is that VSCode undocumentedly actually does a text overlap check on the

[2018-02-05 12:28] puremourning commented on #540
See also:

https://github.com/eclipse/eclipse.jdt.ls/issues/465
https://github.com/eclipse/eclipse.jdt.ls/issues/353

[2018-02-05 20:36] fbricon opened #541 "Add Java 10 support"
Java 10 is [fast approaching](http://openjdk.java.net/projects/jdk/10/#Schedule). A usual with new Java version, Eclipse JDT provides Beta-level support until the actual GA.

We'll have to follow up on the progress of https://wiki.eclipse.org/JDT_Core/Plan/4.8/JEP286 and start consuming Java 10 compatible builds of JDT when they're available.

[2018-02-06 08:40] chenaoXD opened #542 "Add the compiled jar download path"
Maybe add this [url](http://download.eclipse.org/jdtls/snapshots/?d) would help those who don't want to build this project by themselves. And also add the related necessary steps using the tarballs.

[2018-02-06 14:02] benoitf opened #543 "Add bazel support"
Bazel build tool (https://bazel.build) is a cross-language build platform allows to have fast and reliable builds.

It could be nice if java projects using `WORKSPACE` and `BUILD` would be supported through jdt.ls or an extension.

[2018-02-06 14:13] fbricon commented on #543
A quick look at https://github.com/bazelbuild/eclipse tells me we can't even embed that plugin into jdt.ls, since it depends on Eclipse UI.

[2018-02-07 20:27] fbricon opened #544 "During import, only trigger "update project configuration" on Maven projects if necessary"
When workspace is reopened, we always update Maven project configurations, which is CPU and Memory inefficient (see https://github.com/eclipse/che/issues/8335#issuecomment-363819694).

We basically need to implement : https://github.com/eclipse/eclipse.jdt.ls/blob/f08b7c215d7e03597f5f0a91ac91380c90c9787e/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/MavenProjectImporter.jav

[2018-02-09 15:21] tsmaeder opened #546 "Sprint 145 Issues"
Issues to be tackled by priority.

[2018-02-09 15:24] tsmaeder commented on #546
My priorities:
1. Rename/Move refactorings
2. Progress on progress
3. Che-in-Che
4. Fix bugs.

[2018-02-09 16:21] tsmaeder commented on #546
Java 9 bugs
Progress on Progress
Large workspace performance

[2018-02-12 14:40] fbricon commented on #538
For Java 9 modules, a `module` attribute needs to be added for **each** relevant classpath entry. Because jdt.ls relies on [Buildship](https://github.com/eclipse/buildship) for its Gradle integration, this needs to handled by that project (cc @donat).

As a workaround, and it's a really not ideal at all, you can try to tweak your build.gradle script so that it adds the module flag to the whole gra

[2018-02-12 14:47] fbricon commented on #437
@yaohaizh I'd like to see this fixed for the `End February 2018` milestone. If you can't work on this issue, can you please assign it to @snjeza?

[2018-02-12 14:51] fbricon opened #549 "Organizing imports in module-info.java removes all imports"
_(Initially reported as https://github.com/redhat-developer/vscode-java/issues/430)_

After organizing imports on module-info-java (`Shift+Alt+o`), this:
[code]

becomes

[code]

and the file fails to compile because of the unknown Driver type. It's **very** annoying when organize imports is triggered on save.

[2018-02-13 00:47] oakad commented on #538
Gradle as of right now has no actual support for modules, so "buildship" is not going to be that helpful (even if I wanted to use it).

Your suggestion regarding the classpath attribute is helpful and I will try it out.

As a side question, is there a document somewhere describing the eclipse' .classpath schema (with all possible attributes listed and described)? I was looking around but could not

[2018-02-13 01:08] fbricon commented on #538
I don't even know. You're kinda supposed to interact with Eclipse JDT API's so that .classpath is eventually modified, but this is an internal format, IMHO. The fact Gradle directly writes to .classpath files is a hack.

[2018-02-13 06:57] yaohaizh commented on #437
@fbricon Sure, I'm working on this one now.

[2018-02-13 14:16] fbricon commented on #534
The protocol [has been clarified](https://github.com/Microsoft/language-server-protocol/commit/005d12dc021b9ea087e4d1fe4915c43fe7860be8) about that https://github.com/Microsoft/language-server-protocol/blob/master/versions/protocol-2-x.md#textedit-1

[2018-02-13 14:16] #534 closed

[2018-02-13 14:19] fbricon commented on #518
Would prolly fix https://github.com/eclipse/eclipse.jdt.ls/issues/376 along the way

[2018-02-13 18:06] fbricon opened #552 ""Organize imports" fails to import some types even though type name is unique"
With a class such as
[code]
`Organize imports` should automatically import `java.sql.Driver`, but does nothing. I wonder if this is caused by having 2 possible matching imports when you autocomplete:
<img width="566" alt="screen shot 2018-02-13 at 1 03 59 pm" src="https://user-images.githubusercontent.com/148698/36165723-7dbb5d4c-10be-11e8-8ca1-8448c428be04.png">

With one exact type name match, t

[2018-02-13 22:04] gorkem commented on #376
The main difference between 1 and 2 is when the `TextEdit`s are the calculated otherwise both require a custom command to be implemented by the client. 2nd way works well for jdt.ls at the moment because the way we determine code actions gets us very close to calculating `TextEdits` anyway hence more efficient.

[2018-02-13 22:05] gorkem commented on #518
@fbricon No this would not fix #376 because this only changes the organize imports command and not code actions.

[2018-02-14 07:42] amiramw commented on #534
@fbricon I am not sure the calcification is clear enough.

Each executed edit changes the file. **first** might mean that the inserts are executed by order at the same position and then their order in file is reverse to the order in the array.

Maybe it should say:

Or someone can come up with a better wording...

[2018-02-14 12:52] amiramw commented on #376
But option 2 doesn't conform with the protocol.
https://microsoft.github.io/language-server-protocol/specification#textDocument_codeAction

If the need for option 2 is real shouldn't it be pushed to the protocol?

[2018-02-15 23:04] #539 closed

[2018-02-16 21:27] fbricon opened #556 "Add ImplementationProvider Support"
See https://github.com/Microsoft/language-server-protocol/issues/156
and https://github.com/redhat-developer/vscode-java/issues/446

The protocol has not been updated yet. We need to add a protocol extension (in lsp4j?)

[2018-02-17 08:07] yaohaizh commented on #437
https://github.com/Microsoft/vscode/issues/43878

[2018-02-17 15:07] fbricon opened #557 "Cached decompiled content served indefinitely even though source is available"
See https://github.com/redhat-developer/vscode-java/issues/447

Basically if the source file was not attached at some point and the decompiled content was served, even after the source is attached, the cached decompiled version keeps being served.

After looking into evicting the ContentProviderManager cache on classpath change, I came to realize this whole caching strategy implementation was a mi

[2018-02-17 18:15] patilarpith commented on #278
I have a question regarding few inconsistencies that I noticed.

1. Github release page shows latest release to be v0.12.1
2. http://download.eclipse.org/jdtls/snapshots/?d has v0.14.0 as of 16th Feb
3. http://download.eclipse.org/jdtls/snapshots/latest.txt displays 0.9.0-201711302113.tar.gz to be the latest release.

Trying to understand what is a system of pushing out releases and where can I fi

[2018-02-17 19:18] fbricon commented on #278
@patilarpith tagging is still a manual process, which I overlooked for the 0.13.0 release. It's fixed.
There was also a bug with the automatic update of latest.txt, that is also fixed.
Everything should be consistent now.

[2018-02-17 19:42] patilarpith commented on #278
So if I understand correctly from next release onwards both (1) & (3) will point to the latest release?

[2018-02-17 21:59] fbricon commented on #278
Not exactly. Anything in the snapshots folder (incl. latest.txt file) is just a CI build of the latest changes. Regularly (about every 2 weeks), one of those builds will be promoted to the [milestones directory](http://download.eclipse.org/jdtls/milestones/) and tagged (which generates an entry in the github [releases page)](https://github.com/eclipse/eclipse.jdt.ls/releases).

[2018-02-18 06:41] patilarpith commented on #278
Got it. Thanks for the description.

[2018-02-20 14:57] fbricon commented on #398
https://github.com/Microsoft/language-server-protocol/issues/321 closed upstream. The protocol has been clarified such that:

[2018-02-20 14:57] #398 closed

[2018-02-20 15:01] fbricon commented on #369
This was fixed when embedding the Photon M5 bits in 0.12.0

[2018-02-20 15:01] #369 closed

[2018-02-20 19:58] JPinkney opened #561 "Workspace symbols URI is not returning the correct URI"
The workspace URI that is currently being returned is "file:/....." whereas the file URI should be something like "file:///".

[2018-02-20 20:00] fbricon commented on #561
@JPinkney feel free to provide a PR

[2018-02-21 00:20] fbricon opened #563 "Add documentation about initializationOptions to wiki"
following up on https://github.com/eclipse/eclipse.jdt.ls/commit/e4ffa9245e5ab0c3691722bf4c4e71c406c9b011

[2018-02-21 00:24] fbricon commented on #561
@snjeza I remember we had to tweak the file URIs [there](https://github.com/eclipse/eclipse.jdt.ls/blob/9817e229dc135bea0ebd268ac77b889d55bd1d74/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/DocumentSymbolHandler.java#L84). But can't remember why we didn't return standard URIs, any ideas?

[2018-02-21 11:39] lapo-luchini opened #565 "Is there a way to define variables for `.classpath`?"
(this happens to me in VSCode, but I think it's related to this project; also, sorry if this isn't maybe the best place to ask)

Opening a very small project of mine (actually, it's just empty and imports BouncyCastle libs, for other projects to depend upon) in VSCode I have these errors:

[code]

I guess it's because we're using in a mixed FreeBSD/Windows/Linux environments and thus we're using E

[2018-02-22 01:26] #557 closed

[2018-02-22 13:51] fbricon commented on #517
My guess is we somehow return the decompiled source instead of falling back to the attached javadoc

[2018-02-22 14:47] tsmaeder commented on #76
Josh Pinkney will have a go at this one.

[2018-02-22 19:30] #561 closed

[2018-02-22 19:32] fbricon commented on #561
new code also calls ResourceUtils.toClientUri, which fixes UNC paths on windows, so we should be good. Thanks @JPinkney!

[2018-02-22 21:04] fbricon commented on #565
see https://github.com/redhat-developer/vscode-java/issues/183#issuecomment-293898502

[2018-02-23 16:33] #437 closed

[2018-02-23 19:36] gorkem commented on #532
Almost all the requests on the server are [executed asynchronously](https://github.com/eclipse/eclipse.jdt.ls/blob/issue_518/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L225) on the `ForkJoinPool`.   You can check out LSP4J, which is the framework used for the LSP implementation,  also for more parallelism.

If you can point out the bottlenecks perh

[2018-02-26 20:08] snjeza commented on #563
@fbricon Could you, please, review https://github.com/eclipse/eclipse.jdt.ls/wiki/Language-Server-Protocol-support

[2018-02-26 21:29] fbricon opened #569 "Implement `textDocument/onTypeFormatting` support"
See https://github.com/Microsoft/language-server-protocol/blob/gh-pages/specification.md#document-on-type-formatting-request-leftwards_arrow_with_hook

Trigger characters could be `;`, `<return>`, maybe `}` (I noticed typescript support in VScode uses those, but I haven't found where/how that was configured)

That's how it looks for typescript in VS Code, when hitting `;`:
![feb-26-2018 16-35-26](

[2018-02-27 03:11] gorkem commented on #329
No activity on this for a while. Closing, please let me know if the issue is still reproducible.

[2018-02-27 03:11] #329 closed

[2018-02-27 03:17] gorkem commented on #311
Now that we have multi-root workspaces fully supported is there anything else left here to do ? @fbricon

[2018-02-27 12:38] rcjsuen commented on #556
The `textDocument/implementation` request got [added](https://github.com/Microsoft/language-server-protocol/commit/39b118153e7f9ecada27a01a1837edd1823ccfcd) to the protocol last Thursday (2018-02-27).

lsp4j will need to be updated to reflect the new specification.

[2018-02-27 13:06] rcjsuen commented on #569
I couldn't find a setting that seemed to define which characters would trigger a format either. Perhaps they're not meant to be exposed to the user then? I don't make these characters configurable in my language server anyway.

[2018-02-27 14:16] fbricon commented on #569
No I don't think this needs to be a user preference. I just wanted to check how it was configured for TS, but I haven't **really** searched

[2018-02-27 21:27] rcjsuen commented on #569
You define them in your `DocumentOnTypeFormattingOptions` off of `ServerCapabilities`. See Microsoft/language-server-protocol#206 for an explanation as to why it's not just one ol' `string[]`.
[code]

[2018-02-27 23:30] #518 closed

[2018-02-28 00:23] fbricon commented on #517
Issue is actually caused by https://github.com/eclipse/eclipse.jdt.ls/blob/35392319cd21d98866eaef9f879b7fd4616bad17/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/HoverInfoProvider.java#L199-L201

Doesn't fall back to javadoc when no source is available. Removing the condition fixes the problem. But I need to check for side-effects

[2018-02-28 13:51] idanarye opened #571 "Code action sends overlapping workspace edits - illegal according to the LSP specs"
I'm using commit 35392319cd21d98866eaef9f879b7fd4616bad17 of this language server.

I have created this simple file:
[code]
My editor, of course, marked an error on `ArrayList`. So I opened the code action list and picked `Import 'ArrayList' (java.util)`. This was the result:
[code]

Thinking the problem was with my client, I enabled logging. This is what happened:

The client received this from t

[2018-02-28 16:17] fbricon commented on #431
@garagatyi can you check if #504 works for you?

[2018-02-28 21:02] #517 closed

[2018-03-02 03:43] andxu opened #573 ".project doesn't update for single file after renaming the directory"
_From @yhtsao on February 28, 2018 7:13_

- VSCode Version: 1.20.1
- OS Version: MacOS 10.12.6
- Language: Java
- Extensions:
    Debugger for Java 0.6.0
    Java Extension Pack 0.3.0
    Java Test Runner 0.3.0
    Language Support for Java(TM) by Red Hat 0.19.0

I'm new to use VS code to develop Java. Everything goes fine when creating the simple java program, compiling and debugging. But when I

[2018-03-02 03:50] andxu commented on #573
I can reproduce this bug, the generated .project refers old file path and doesn't update
C:\Users\XXX\AppData\Roaming\Code\User\workspaceStorage\XXX\redhat.java\jdt_ws\jdt.ls-java-project\.project

[code]
It refers old java file `c:/work/example/SimpleJava/Hello.java` at

launch.json
<pre>
{
    "version": "0.2.0",
    "configurations": [
        {
            "type": "java",
            "name": "

[2018-03-02 21:17] snjeza commented on #563
@fbricon Could you, please, review https://github.com/eclipse/eclipse.jdt.ls/wiki/Running-the-JAVA-LS-server-from-the-command-line

[2018-03-02 22:12] osiox commented on #365
As this issue is still open, I thought I would share my solution for enabling lombok with neovim and jdt.ls. I am using [YouCompleteMe](https://github.com/Valloric/YouCompleteMe) as a client (which starts jdt.ls server also).

To pass lombok to jdt.ls I've set JAVA_TOOL_OPTIONS env variable to:
 `-javaagent:<path-to-lombok-jar> -Xbootclasspath/p:<path-to-lombok-jar>`
This can be set in .vimrc, so

[2018-03-04 01:17] andxu commented on #573
ADD @yhtsao  for the original reporter

[2018-03-04 12:12] idanarye commented on #571
[The VSCode implementation](https://github.com/Microsoft/vscode/blob/7a2065f582e14bd6ab4bc2ee86fcdbedf008a9b9/extensions/html/server/src/utils/edits.ts#L11) (which should be the reference implementation for LSP clients) is using TypeScript's `sort` - which is not a stable sort. So if it works there - it's purely accidental...

[2018-03-04 12:30] puremourning commented on #571
It's a de facto standard. I think clients are expected to just [live with it](https://github.com/Valloric/YouCompleteMe/blob/master/python/ycm/vimsupport.py#L844).

[2018-03-04 13:00] idanarye commented on #571
* The **official standard** explicitly states that this is illegal to have overlapping edits.
* The **reference implementation** is using a **unstable** sort, that **happens** to reverse an array when the sort keys are all equal.
* That comment you have linked to states that:

It seems to me like clients implement this behavior as a precaution for servers that don't adhere the standard - t definit

[2018-03-04 14:11] puremourning commented on #571
I don't disagree. I was just saying that if you want the client to work (like i did when i wrote the above comment), it has to work like VSCode one way or another because while  the standard is some text, the reference implementation is the real document because server vendors will likely only test their servers with the reference implementation :/

[2018-03-04 14:42] micbou commented on #571
@idanarye Yes, text edits must not overlap but they are allowed to start at the same position. This is not mentioned on the website because it hasn't been updated to the latest version of the protocol but [it's there](https://github.com/Microsoft/language-server-protocol/blob/master/versions/protocol-2-x.md#textedit-1). In your example, the two text edits are starting at the same position `(0, 0)`

[2018-03-04 14:42] idanarye commented on #571
I'm not saying that the Eclipse JDT Language Server should change the order (I said it at first, and then edited the post after looking at the specs and the VSCode implementation). I'm saying it should **merge** them into a single edit that contains both the line of code and the newlines.

I already submitted a PR to my client of choice to change the order, but that's not good enough. VSCode is no

[2018-03-04 14:45] idanarye commented on #571
@micbou - I quote from your link:

This is **the opposite** from the behavior of the Eclipse JDT Language Server. It's also the opposite of how it's implemented in VSCode - though I assume that'll eventually be fixed.

[2018-03-04 14:54] micbou commented on #571
Right. I didn't look carefully at your example. There are two issues then:
 - jdt.ls not correctly ordering text edits starting on the same position;
 - VS Code implementation not using a stable sort.

[2018-03-04 15:12] gorkem commented on #571
@dbaeumer I think this was discussed before but I can not find the reference. Do you recall where that discussion happened or care to comment here?

[2018-03-04 15:20] idanarye commented on #571
I opened a ticket on VSCode: https://github.com/Microsoft/vscode/issues/45014

[2018-03-05 10:16] idanarye commented on #365
Works fine on OpenJDK.

[2018-03-06 08:21] dbaeumer commented on #571
@gorkem it is here: https://github.com/Microsoft/language-server-protocol/commit/005d12dc021b9ea087e4d1fe4915c43fe7860be8?short_path=1658263#diff-1658263509d5b411f0c4cc5b969d63bf

However it got lost on the new web site we have. I will fix that.

[2018-03-06 08:25] dbaeumer commented on #571
Merged in the changes.

[2018-03-06 13:01] #571 closed

[2018-03-09 23:16] gorkem opened #577 "Repeated Framework errors"
I see repeated FrameworkEvent Errors on the server .log file when the server is started up. I suspect this is because of the extension bundle loading. It does not seem to be breaking the functionality but we need to figure out the reason.

[code]

[2018-03-11 21:02] jeffmaury commented on #501
@fbricon Facing the same kind of issues with JBossTools/webservices, do you know if there is an upstream issue open to track it ?

[2018-03-11 21:25] fbricon commented on #501
No, since I didn't have the problem with stock eclipse and jdt.ls moved to photon, I didn't open any

[2018-03-13 23:26] fbricon opened #579 "Update platform to Photon M6"
Updating the TP to platform M6 is not trivial since it causes some compilation problems

<img width="785" alt="screen shot 2018-03-13 at 7 24 52 pm" src="https://user-images.githubusercontent.com/148698/37375046-51c1aa2e-26f4-11e8-90f9-8757f3412526.png">

also see https://ci.eclipse.org/ls/job/jdt-ls-pr/712/console

[2018-03-15 09:37] martinlippert opened #580 "documentHighlight from jdt-ls is stealing me the show"
Problem:
I started to implement a `documentHighlight` piece for the Spring Boot language server that does something sophisticated around web reactive programming, working on Java source code. However, the LSP implementation, when the client asks for a `documentHighlight` at a certain position, walks through the list of registered language servers and asks them sequentially (not in parallel). As so

[2018-03-15 14:33] EtimoOscarNylander opened #581 "How to provide per-project compiler warning preferences?"
Hello,

In an attempt to make compiler warnings more significant I'm trying to fine-tune the settings for which warnings are reported. As an editor I am using Visual Studio Code with the vscode-java extension, and I figured that such settings might be coming from this project.

Now on to the question: how do I configure the warnings reported back from the compiler?

As an example I would like to i

[2018-03-15 20:09] fbricon commented on #552
Fixed with https://github.com/eclipse/eclipse.jdt.ls/commit/e0bb56a9563c15558d2a1417e77b9e8dd0e3125a

[2018-03-15 20:09] #552 closed

[2018-03-15 20:10] fbricon commented on #579
Fixed with https://github.com/eclipse/eclipse.jdt.ls/commit/e0bb56a9563c15558d2a1417e77b9e8dd0e3125a

[2018-03-15 20:10] #579 closed

[2018-03-16 16:20] gorkem commented on #581
We do not have a proper way of defining those yet. unofficially though defininf them on an eclipse style `.settings/org.eclipse.jdt.core.prefs` should work for now.

[2018-03-16 16:57] snjeza opened #583 "Process non-java files"
https://github.com/redhat-developer/vscode-java/pull/470 fixes the issue if the project uses src as the source folder.
We have to fix the issue when the project uses any source folder.

Related issue - https://github.com/redhat-developer/vscode-java/issues/400

[2018-03-16 18:06] #505 closed

[2018-03-16 18:28] fbricon commented on #581
Here's a list of supported preferences in `.settings/org.eclipse.jdt.core.prefs`

[code]

So for the missing serial version Id warning, you can set `org.eclipse.jdt.core.compiler.problem.missingSerialVersion=ignore`

You might want to trigger a full build to update those diagnostics in your project (at+shift+b, full)

[2018-03-16 19:47] EtimoOscarNylander commented on #581
If this works I think it will be quite good enough, thank you very much! :+1:

[2018-03-16 20:14] fbricon opened #586 "test failures in CompletionHandlerTest.testCompletion_javadoc"
CompletionHandlerTest.testCompletion_javadoc fails the build, see https://ci.eclipse.org/ls/job/jdt-ls-master/346/console
[code]

[2018-03-16 21:02] snjeza commented on #586
I have fixed it in https://github.com/eclipse/eclipse.jdt.ls/pull/585.

[2018-03-16 21:09] fbricon commented on #586
I'd rather have a separate commit/PR for that please

[2018-03-16 21:15] fbricon opened #587 "Random test failure in OrganizeImportsCommandTest.testOrganizeImportsModuleInfo"
Unexpected import order in OrganizeImportsCommandTest.testOrganizeImportsModuleInfo, breaking the build. Most likely some other test doesn't clean up after itself and since the tests run in a random order, that breaks OrganizeImportsCommandTest.testOrganizeImportsModuleInfo only sporadically.

[code]

https://ci.eclipse.org/ls/job/jdt-ls-master/lastCompletedBuild/testReport/org.eclipse.jdt.ls.core

[2018-03-16 21:35] #586 closed

[2018-03-18 00:34] skubyooru commented on #311
@gorkem how it works? run in the root directory?

[2018-03-19 13:30] PavelSosin opened #590 "JDT LSP never response on shutdown request if initialiation has not been finished"
Shutdown request doesn't work if initialization is not finished

[2018-03-19 13:39] fbricon opened #591 "Broken import autocompletion"
Given (as a saved file):
[code]

typing `import java.ut` + tab to select the `{} java.util` completion, as in:

[code]
leads to a broken completion:

[code]

Logged messages:
[code]

[2018-03-19 13:41] fbricon commented on #591
Completion works fine if the the compilation unit is already dirty (i.e *not after* opening or saving the file)

[2018-03-19 14:42] rgrunber commented on #591
Does it make sense to revert https://github.com/eclipse/eclipse.jdt.ls/pull/566 in the event that this basically introduced it ?

[2018-03-19 15:15] fbricon commented on #591
No, the problem [predates](https://mattermost.eclipse.org/eclipse/pl/tk9f3crkdjy1ucuecoo1kzzgbh) your patch.

[2018-03-19 15:19] PavelSosin commented on #590
In our cloud scenario project initialization is hanged because one of the pom files is out of reach and stays at 72%. In such situation we **wait for shutdown response forever**. We never send exit until shutdown response received. Meanwhile user can switch to another project, send new initialize request and restart new maven build with the same result: infinitely running maven build. The memory s

[2018-03-19 15:22] PavelSosin commented on #590
What is the expected Java JDT behavior if initialized project is not really Java project, i.e. contains no pom file?

[2018-03-19 15:26] fbricon commented on #590
a simple default java project is created in the workspace, to handle "standalone" java files. So the server should still be able to start.

What triggers your shutdown request? The user?
Can you get a threaddump of the server to see what's maybe preventing the shutdown request to complete?

[2018-03-20 06:49] skubyooru opened #593 "Maven, several projects"
Hi!
is it possible to work with several projects? multi-project navigation? if so how?
for example:
   project
        module1
            pom.xml
            src
        module2
            src
            pom.xml
        ...

or eclipse-like
    project
        module1
            pom.xml
            src
        module2
            src
            pom.xml
        ...
        parent-module

[2018-03-20 14:29] nemrod opened #594 "JDTUtilsTest failure"
Following the steps in the readme eventually leads to build failure for me due to two failed tests in JDTUtilsTest.

[code]
[code]

[org.eclipse.jdt.ls.core.internal.JDTUtilsTest.txt](https://github.com/eclipse/eclipse.jdt.ls/files/1829716/org.eclipse.jdt.ls.core.internal.JDTUtilsTest.txt)

[2018-03-20 18:04] kdvolder opened #595 "Support a callback mechanism from JDT ls extension to third-party vscode-extension and third-party language server"
The JDT LS extension mechanic allows a vscode extension to contribute an osgi/eclipse plugin to the language server where it can register a vscode command. When the vscode command is executed code in the extension can be execute to handle the command (via `org.eclipse.jdt.ls.core.internal.IDelegateCommandHandler`).

This mechanism is suitable to allow for a vscode extension to implement some kind

[2018-03-20 19:32] snjeza commented on #591
@fbricon Can you reproduce the issue when starting the server with -Djava.lsp.joinOnCompletion=true?
See https://github.com/eclipse/eclipse.jdt.ls/pull/512#issuecomment-357968601

[2018-03-20 19:37] snjeza commented on #595
Related to https://github.com/eclipse/eclipse.jdt.ls/issues/522

[2018-03-20 19:37] kdvolder commented on #595
In mattermost channel @gorkem expressed some concerns around 'missing command'. The PRs in current form do not handle this case explicitly. But I did test what happens in such a case.

This is what happens:

[code]

Do you think we should do something more explicit? I am open to suggestion but decided against it for now. While it is possible to get a list of commands using vscode api, so we could

[2018-03-20 23:21] #587 closed

[2018-03-20 23:24] fbricon commented on #593
It already works that way, OOTB. If it doesn't, please attach a set of sample projects reproducing the problem

[2018-03-20 23:27] fbricon commented on #594
Those tests regularly pass on our CI server, running linux. Can you reproduce this issue consistently?

[2018-03-21 01:50] #404 closed

[2018-03-21 17:09] nemrod commented on #594
Seemingly so. I first tried a couple of times maybe a month or two ago (on the same machine) and got the failures each time and left it. Removed the directory and recloned to try again yesterday, ran it probably 4-5 times (with a successful build without running tests in-between) and got those failures each time (one time I got the organise imports failure as well that I saw there's already an iss

[2018-03-22 16:02] snjeza commented on #594
I can't reproduce the issue on Fedora:

[code]

[2018-03-22 16:03] snjeza opened #597 "CodeLensHandlerTest.testGetCodeLensSymbolsForClass fails on Windows"
[code]

[2018-03-22 17:25] gorkem commented on #542
Can you elaborate what do you mean by `related necessary steps using the tarballs.`? Using them with which client? VS Code?

[2018-03-23 02:45] dreamszl commented on #542
Sorry about missing enough details, I use it with [vim-lsp](https://github.com/prabirshrestha/vim-lsp) in Ubuntu.

And the following steps are what I need:

1. add a script containing
[code]

2. add the following configuration in my `.vimrc`

[code]

What I want to know from the README file is how to write the executable sh file, and it's somehow a little hard to find it in such a long document.

[2018-03-23 04:05] #583 closed

[2018-03-23 16:02] nemrod commented on #594
I tried cloning to a new folder in ~ to test, and to my surprise it built. Figured it was a dnf update or the latest commit that fixed something, but after pulling in the old folder (~/src/eclipse.jdt.ls) and trying it still failed in the same manner. Deleted both and tried again, same result. ~/eclipse.jdt.ls worked, ~/src/eclipse.jdt.ls didn't. Tried cloning to ~/test/eclipse.jdt.ls, and that wo

[2018-03-23 20:56] #594 closed

[2018-03-25 01:05] gorkem opened #601 "server is not initialized correctly without configuration call"
Server is not intialized correctly if the client does not send `didChangeConfiguration`. It is possible that a client does not support settings. Also LSP does not really define an order for the `didChangeConfiguration` notification.  Instead of depending on `didChangeConfigration` we should use the `initialized` notification.

[2018-03-25 01:19] fbricon commented on #601
We already do that

[2018-03-25 01:32] gorkem commented on #601
No. If the client reports it supports dynamic registration without [this part](https://github.com/eclipse/eclipse.jdt.ls/blob/b5f383f45503645baf5f0497bbb37952031bec90/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L247-L293) executing server basically reports that it supports nothing on its capabilities

[2018-03-25 16:48] puremourning commented on #601
I can confirm that i had to put in the didChangeConfiguration event to make jdt.ls start up properly:

https://github.com/Valloric/ycmd/blob/master/ycmd/completers/language_server/language_server_completer.py#L1257

[2018-03-25 17:37] fbricon commented on #601
I see, we assumed didChangeConfiguration requests were sent on startup if dynamic registration is supported, because of vscode's behavior

[2018-03-25 20:35] puremourning commented on #601
I don't think it is a big deal. We'll almost certainly need to support the config stuff at some point anyway.

[2018-03-26 15:06] #597 closed

[2018-03-26 22:41] #601 closed

[2018-03-27 22:24] puremourning opened #604 "Exception when running ycmd diagnostics test"
We are seeing some flakiness in our ycmd CI. A fair number of them can be traced our java completer not getting what it expects from jdt.ls.

First, there's an intermittent exception org.eclipse.jface.text.BadLocationException:

* https://ci.appveyor.com/project/Valloric/ycmd/build/3254/job/w685oxih172cj0kx#L2294
* https://ci.appveyor.com/project/Valloric/ycmd/build/3253/job/jdvdpbfhma390xic#L2294

[2018-03-27 22:37] #595 closed

[2018-03-27 22:42] fbricon commented on #524
Since encoding detection gives worse results than the default UTF-8 encoding,
we're gonna need a new command to explicitly set encoding to a URI (now that m2e persists that information).

[2018-03-28 02:45] #529 closed

[2018-03-28 02:50] fbricon commented on #522
Superseded by #595

[2018-03-28 02:50] #522 closed

[2018-03-28 02:56] fbricon commented on #516
Defined in [protocol 3.6](https://github.com/Microsoft/language-server-protocol/blob/gh-pages/specification.md#new-markupcontent), no depends on support for MarkedContent in lsp4j. See https://github.com/eclipse/lsp4j/pull/165

[2018-03-29 11:00] oakad commented on #541
As of right now, JDT appears to be completely broken on Java 10. Something to do with JDK classpath it seems.

[2018-03-29 11:53] fbricon commented on #541
I've tested jdt.ls runs fine with jdk 10, you'll have to be more specific about the "completely broken" assertion

[2018-03-29 11:58] oakad commented on #541
Installed java 10. Rerun gradle eclipse plugin. Updated vscode config to point at the new jdk. Suddenly, no java.* packages and classes can be resolved ("The type java.lang.Object cannot be resolved" and such).

[2018-03-29 12:04] oakad commented on #541
This message appears to be the culprit.

[2018-03-30 14:26] nik9000 commented on #541
Hey neat! I bumped into this yesterday too! I filed this with the vscode it which is probably wrong though: https://github.com/redhat-developer/vscode-java/issues/483

[2018-03-30 14:40] nik9000 commented on #541
And yes, I see the same message. I just don't know how to access jdt or the language server outside of the vscode-java plugin.

[2018-03-30 17:48] thefzsalam opened #606 "Working setup for Gradle Android Project in Atom editor with ide-java"
I am able to get Android auto completion and error checking with ide-java plugin of Atom editor, which employs Eclipse JDT Server as the backend.

Add the following to `.classpath` in the project folder:
[code]

Unfortunately, the .classpath is overwritten sometimes. Then I will have to `git checkout -- .classpath` and restart Atom to continue getting the completion and diagnostics.

[2018-03-30 17:50] thefzsalam commented on #606
Atom: 1.25.0 x64
ide-java plugin: 0.8.2

[2018-03-30 17:58] thefzsalam commented on #606
If I delete the folder `/tmp/atom-java-%2Fhome%2Ffarzeen%2FProjects%2FMar_2018%2Flibre-dl%2F` `.classpath` file is regenerated.
Note that the name of the folder is urlencoded path to my project folder.

[2018-03-30 18:48] snjeza commented on #606
You can try
[code]

[2018-03-30 19:41] fbricon commented on #606
You need to setup your build.gradle file to explicitly add the Android libre. See https://docs.gradle.org/current/dsl/org.gradle.plugins.ide.eclipse.model.EclipseClasspath.html

[2018-03-31 06:38] thefzsalam commented on #606
Thanks @fbricon, I modified the gradle.build file like this to auto-generate .classpath:
[code]
This project also has some hints: https://github.com/Esri/gradle-eclipse-studio-android

But still, removing the folder `/tmp/atom-java-%2Fhome%2Ffarzeen%2FProjects%2FMar_2018%2Flibre-dl%2F` regenerates `.classpath` file, with default contents.
Instead of `git checkout -- .classpath`, now I can do `grad

[2018-03-31 06:42] thefzsalam commented on #606
@snjeza, I tried googling, but could not find any details.
Could you please explain what does `"java.import.gradle.enabled": false` do?
I should put that in `build.gradle`, right?

[2018-03-31 09:44] thefzsalam commented on #606
.classpath is regenerated too often to make this workaround usable :(

[2018-03-31 16:12] snjeza commented on #606
"java.import.gradle.enabled" is a Java LS property.
See https://github.com/redhat-developer/vscode-java#supported-vs-code-settings

[2018-03-31 19:33] snjeza commented on #541
See #608

[2018-04-03 14:41] fbricon opened #609 "Support Javadoc links to html pages"
If a javadoc link is rendered from an attached javadoc jar (try commons-primitives:commons-primitives:1.0), then:
- links should be rendered with a jdt:// url when pointing to a page in javadoc jar
- links should open actual javadoc page, similar to eclipse.

cc @JPinkney

[2018-04-03 17:32] fbricon opened #610 ""Can not set o.j.s.Whitelist field o.j.s.Cleaner.whitelist to o.j.s.Whitelist" logged on 1st hover"
On the very 1st hover on anything returning Javadoc, jdt.ls logs this:

[code]

same error on jdk 8, 9, 10.

Javadoc works as expected though. The call to `whitelistField.set(whitelistField.get(c), w);` is wrong/useless. We just need to remove it

[2018-04-03 18:13] fbricon opened #611 "Wrong javadoc generated"
Following #582,
[code]
gets rendered as
[code]
<img width="147" alt="screen shot 2018-04-03 at 2 09 31 pm" src="https://user-images.githubusercontent.com/148698/38267186-b1386a9c-3748-11e8-8883-a9dc70556488.png">

java.sql.Driver is gone, indentation is borked. cc @JPinkney

[2018-04-03 19:51] fbricon opened #612 "Borked javadoc for JDK 9/10 packages"
Following #582, hovering over the `util` bit in `import java.util.HashMap` returns incorrect/wrongly formed javadoc:

<img width="573" alt="screen shot 2018-04-03 at 3 47 34 pm" src="https://user-images.githubusercontent.com/148698/38272241-aa0f23b0-3756-11e8-9f18-f1c98a8b8c28.png">

See output:

[code]

cc @JPinkney

[2018-04-03 20:11] JPinkney commented on #612
For mine the results are fine. I don't know why theres a difference. I get
[code]

[2018-04-03 21:02] mickaelistria opened #613 "Does JDT-LS support org.eclipse.jdt.ui.javaCompletionProposalComputer extensions?"
org.eclipse.jdt.ui.javaCompletionProposalComputer allows to add specific completion engines to JDT (think about Jax-RS, CDI...). Is JDT-LS able to consume those extensions? It seems to me that although this API is meant first to be consumed in JDT UI, there is almost nothing in it that requires a UI Thread to work.
So if JDT-LS doesn't support it yet, it'd be worth considering consuming this exten

[2018-04-03 21:34] gorkem commented on #613
No, it does not. We can not directly use jdt.ui extension. There are parts of jdt.ui which makes a lot of sense headless but overall the bundle does require the whole Eclipse UI. I am not sure about using  `org.eclipse.jdt.ui.javaCompletionProposalComputer`  through `IConfigurationElements` either. Usually, the implementors of this extension point are on UI bundles and it is possible that they may

[2018-04-03 22:04] mickaelistria commented on #613
Introducing a specific extension point in jdt.ls would be a bad idea. If we want content assist that works in any use-case of JDT, it has to be in jdt.core, and used by both JDT-UI and JDT-LS. I'm rather skeptical than many extenders would contribute to jdt.ls without being able to try it easily in Eclipse JDT/IDE first as it would make the development workflow rather tedious.
About reading the IC

[2018-04-03 22:50] fbricon commented on #612
So there are probably 2 issues:

- as you mentioned, remark doesn't handle tables really well
- JDT doesn't parse the newer Javadoc content (since Java 9), making it include the list of package classes in the javadoc when it should be ignored otherwise. That'd be a JDT issue.

[2018-04-03 22:56] #610 closed

[2018-04-04 00:45] fbricon commented on #611
tags were not properly closed. Once fixed, we should see:
![better-javadoc](https://user-images.githubusercontent.com/148698/38282750-c7e94dce-377f-11e8-9c4c-c221d0770061.png)

[2018-04-04 06:24] mickaelistria commented on #613
+1.

I don't get what makes you talk about user experience at this point as the LS is a blackbox and its content are not perceivable. So I imagine you're mostly considering the download size and the time for first startup at this point, and that more or less only in VSCode which does setup the size restriction for an extension. Maybe it can become a UX issue for VSCode because of this, but to be c

[2018-04-04 14:35] fbricon commented on #613
BTW jdt.ls is not designed to support concurrent users/clients. So 1 server/100 users is not gonna happen any time soon.

[2018-04-04 15:10] tsmaeder commented on #613
Code completion contributions being tied to UI is and architectural mistake, IMO. I don't think we we should perpetuate it in jdt.ls.
@mickaelistria the Che team has invested quite a bit to reduce workspace startup time. While some of the work is asynchronous, you still have to wait for the LS to be ready before having a functional IDE.
But what is more important that memory consumption is indeed

[2018-04-04 15:11] tsmaeder commented on #613
@mickaelistria btw: what are you trying to achieve? Replace jdt with jdt.ls in Eclipse?

[2018-04-04 15:32] mickaelistria commented on #613
That's where the fun begins: in practice, it will most likely have to be optimized for some clients rather than others. Deploying on the cloud for usage in a Web IDE doesn't have the same constraints/power than deploying on workstation.
As desktop IDEs are already covering the Java/Java EE story very well and better than what JDT is very likely to achieve soon, I see more future and need for JDT-L

[2018-04-04 21:28] #447 closed

[2018-04-04 21:58] #611 closed

[2018-04-04 21:58] #612 closed

[2018-04-04 21:59] #76 closed

[2018-04-04 22:56] #541 closed

[2018-04-05 05:38] tsmaeder commented on #613
@mickaelistria I think you're proposing a false dichotomy here: the third way is to start moving stuff (extension points) that are not dependent on UI out of jdt.ui and into jdt.core proper (or a module at the same level). That way, we improve both Eclipse IDE AND jdt.ls. If indeed the code is not dependent on the UI, it would be simple for clients to consume the new extension point.

[2018-04-05 07:45] mickaelistria commented on #613
Do you have examples of such constraints? I think I need those be be
convinced about the following stuff.

It seems to me that the startup time + disk space + memory usage is the
"only" drawback in reusing.
And I agree it'd be great if we can both improve reusability and quickly
enable stronger Enterprise Java support (which is IMO more critical for the
sustainable success of JDT-LS and Eclipse Ch

[2018-04-05 08:35] maxandersen commented on #613
Hibernate tools needs a Console Configuration - that console configuration is tied to alot of eclipse specfic preferences and storage. There are *some* extensibility in hibernate tools as we used the same for ant tasks but even if that is solved you still have the issue of user classes having to be loaded into the running java VM that the LSP is running in. That is an old known issue/limitation th

[2018-04-06 20:16] fbricon opened #617 "Add type filters to exclude types from content assists, organize imports and quick fixes"
Say you have a class such as:

[code]
Because there are mutiple types named `List` (at least `java.util.List` and `java.awt.List`), executing Organize imports on that file does nothing.

In Eclipse, one way to remove that ambiguity is to add a [Type filter](https://www.bsi-software.com/en/scout-blog/article/eclipse-ide-get-rid-of-the-javaawtlist-proposal-in-organize-imports.html), effectively excl

[2018-04-09 13:44] #445 closed

[2018-04-11 13:09] mjshashank opened #620 "JDK API leaks despite source/target compatibility settings"
Does this Language Server support completions for Java 7 by any chance? If so, should the home key value change in the JavaConfiguration in the initializationOptions for initialize params suffice or is something else to be done as well?

[2018-04-12 01:39] gorkem commented on #620
`java_home` only effects the VM used to run the server and it needs to be Java 8 minimum. You can set the Java compatibility level for a project on the maven `pom.xml` or `build.gradle` file which will cause the language server to set correct compilation and code assist level.

[2018-04-12 03:25] brookhong opened #621 "Missing "unused imports" warnings when there's a compilation error"
`textDocument/publishDiagnostics` does not return unused imports in java.

Any chance to support this?

[2018-04-12 08:49] nemrod commented on #365
I got it working. Might have been changing from -Xbootclasspath/a to /p, or might have been moving the two parameters to the beginning of the line, but one of those changes did the trick for me. Using vim-lsc and OpenJDK 1.8.0.

[2018-04-12 12:39] languitar opened #622 "server dies on startup"
Since today, the language server dies immediately after being started in any project in a workspace that I could use without problems yesterday.

Logs from `~/.metadata/.log` are here: https://gist.github.com/languitar/21eccd9042f7f9d585937567dcd4fcce

Basically, it boils down to an `ObjectNotFoundException`:

[code]

The stated file exists inside the workspace and is accessible.

There is no feed

[2018-04-12 12:39] #546 closed

[2018-04-12 12:49] fbricon opened #623 "Expose formatter options"
We should expose (wrapped) [jdt formatter options](https://gist.github.com/fbricon/30c5971f7e492c8a74ca2b2d7a7bb966)

[2018-04-12 12:57] fbricon opened #624 "Expose message severity settings"
Similar to formatter options (#623), we should expose message severity settings. A recurrent complaint is about the missing serialVersionID warning, for instance.

[2018-04-12 13:00] fbricon commented on #621
Unused imports are absolutely reported. Except when a single Java file with no known classpath is opened, what we call a standalone java file.
If your project is Maven or Gradle-built, you should see unused import diagnostics, if you don't please provide a sample project reproducing the issue.

[2018-04-12 13:09] amiramw opened #625 "language/actionableNotification on pom.xml change"
It seems that when changing pom.xml file the user gets the following dialog in VSCode:

 It is triggered via `language/actionableNotification` message from the server to the client.

This is not a standard notification in the protocol, right? Shouldn't we use  [window/showMessageRequest](https://microsoft.github.io/language-server-protocol/specification#window_showMessageRequest) request instead?

[2018-04-12 13:10] fbricon commented on #622
Seems like your workspace got corrupted. The internal state of that file got lost which causes the server to throw an exception on startup, which prevents the startup to complete.

Can you try deleting your workspace and try again? If you use vscode for instance, look at https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory

[2018-04-12 13:13] fbricon commented on #625
We used a custom notification because showMessageRequest doesn't allow us to follow up with a user action (i.e. no way to react to that notification)

[2018-04-12 13:15] fbricon commented on #625
I'm open to other standard alternatives, if it helps us achieve what we want (let the user trigger an action on the client side). cc @aeschli

[2018-04-12 13:17] amiramw commented on #625
@fbricon the showMessageRequest request has a response `MessageActionItem` with the user selection.

[2018-04-12 13:34] fbricon commented on #581
Superseded by #624

[2018-04-12 13:34] #581 closed

[2018-04-12 14:17] languitar commented on #622
I can't easily remove the workspace without generating some work for myself. Any way to fix this in a less rigorous manner? Also, shouldn't that be caught internally by the server?

[2018-04-12 16:07] fbricon commented on #621
The same projects opens fine and report unused imports in vscode. Maybe @puremourning can help here?

[2018-04-12 16:17] fbricon commented on #625
MessageActionItem is a simple String. If we start enabling i18n messages on the server side or change a label value, then all clients would break. actionableNotification adds an action id, which is way more robust.

Anyways. what we can do is only send actionableNotifications for clients that registered they're capable of supporting it

Falling back to using showMessageRequest is not a good idea s

[2018-04-12 16:36] fbricon commented on #524
WIP to expose a setSourceEncoding command:

![set-encoding](https://user-images.githubusercontent.com/148698/38691156-fc722140-3e4d-11e8-99a5-9ca0e49dba3f.gif)

[2018-04-12 17:57] micbou commented on #621
Tried with the latest version of jdt.ls (YCM is currently on 0.15.0) and there are still no errors about unused imports. However, the command to organize imports is removing the unused imports so jdt.ls clearly knows that the imports are not used.

Strange, I don't see any diagnostics about unused imports with vscode-java 0.22.0.

[2018-04-12 19:07] gorkem commented on #623
related to https://github.com/redhat-developer/vscode-java/issues/2

[2018-04-12 23:04] amiramw commented on #625
The client doesn't know about these strings. It just shows them to the user and return the result to the server. The only difference I see with actionableNotifications is the string choice instead of action id. But these strings are completely controlled by the server so I don't think it's so bad and showMessageRequest is standard, which is a big advantage for clients supporting multiple languages

[2018-04-13 02:59] brookhong commented on #621
I don't think YCM causes this, because I looked into the YCM log(which I had attached above), and here is the formatted received message from jdt.ls by ycmd.

    {
        "jsonrpc": "2.0",
        "method": "textDocument/publishDiagnostics",
        "params": {
            "diagnostics": [
                {
                    "code": "570425421",
                    "message": "The value of the

[2018-04-13 03:03] brookhong commented on #621
I also tried with latest `eclipse.jdt.ls`(dev build) with YCM, the message for `textDocument/publishDiagnostics` is same as above.

[2018-04-13 08:02] SummerSun opened #626 "Incorrect quickfix for Type safety warning"
Incorrect quick for Type safety warning:

![issue_1](https://user-images.githubusercontent.com/5179063/38723512-e71405a2-3f33-11e8-8e4f-ef2ec975a23f.PNG)

Fixed the type, warning gone:

![issue_2](https://user-images.githubusercontent.com/5179063/38723523-ebcb5532-3f33-11e8-991c-34518185dd27.PNG)

[2018-04-13 08:03] SummerSun commented on #626
@yaohaizh

[2018-04-13 15:40] fbricon commented on #620
Ok so this one is a bit tricky.

By default, JDT, regardless of the compilation options you provide, *always* leaks the JDK classes/methods of the JDK used to compile your project (but the same happens with a CLI build).

Now, if you were on a Mac AND Java 7 was installed in /Library/Java/JavaVirtualMachines, then jdt.ls would automatically pick it up and use it to provide compilation, content ass

[2018-04-14 01:49] gorkem commented on #556
Filed https://github.com/eclipse/lsp4j/issues/178 for LSP4J

[2018-04-14 01:53] gorkem commented on #626
I think this is actually a setting on JDT. Probably requires us to expose JDT compiler settings.

[2018-04-14 06:10] mjshashank commented on #620
Okay, that clears up things, I'll look into the workaround. Thank you so much.

[2018-04-15 15:38] brookhong commented on #621
I did some more investigation, and found that there might be some issue of eclipse.jdt.core.

A severity 1 error (LOGGER cannot be resolved) at line 38 is blocking two severity 2 (The import java.util.ArrayList is never used, The import java.util.List is never used) from being reported.

![image](https://user-images.githubusercontent.com/288207/38780218-b974970a-4105-11e8-8425-480ad32754ab.png)

T

[2018-04-16 03:14] brookhong commented on #621
I created a bug for eclipse.jdt.core -- https://bugs.eclipse.org/bugs/show_bug.cgi?id=533592
Feel free to close this if you'd like.

[2018-04-16 09:29] languitar opened #628 "User workspace commands instead of protocol extensions"
For some things like the project configuration update, currently protocol extensions are used. I have no idea for the reasons, but it is pretty impossible for me to use these extensions with for instance the neovim client. Couldn't workspace commands be used instead, which are standardized in the LSP protocol and easily callable with normal clients?

[2018-04-16 15:59] AlexTugarev opened #629 "NPE in CompletionResolveHandler"
In Theia, when suggestions are shown and you are typing, there are LS error during resolution of completion items. This following error stack is in the error messages sent back to client.

[code]

[2018-04-16 19:24] fbricon commented on #629
@AlexTugarev that sounds like a bug in Theia then. Again, we can fix the NPE on jdt.ls side but Theia needs to send the data that was returned during the completion.
cc @tsmaeder

[2018-04-16 20:03] #629 closed

[2018-04-19 00:51] pixystone opened #636 "URI in data field of CompletionItem has wrong prefix"
Dring completion handling, the items returned with wrong URI in data field prefixed with single slash scheme `file:/`.

There is no a comfort way to rewrite the `file:/` URI when trying to hide the exactly storage path on server from web client, since other object e.g. TextDocumentIdentifier has `file://` prefix.

[2018-04-19 01:08] fbricon commented on #636
For which client is this an issue?

[2018-04-19 05:19] pixystone opened #637 "Does JDT-LS support URI rewrite settings"
eg. settings like
[code]

When client send a message with URI `file:///${some_identifier}/src/foo/Bar.java`, JDT-LS would find the resource at `file:///path/to/storage/${some_identifier}/src/foo/Bar.java`. On the other hand, JDF-LS returns (eg. in Location) URI would be reform to `file:///${some_identifier}/src/foo/Bar.java`

[2018-04-19 12:32] fbricon commented on #637
Do you know of other language servers implementing that feature?

[2018-04-19 12:34] fbricon commented on #628
I think project configuration update can probably be migrated to a workspace command. Would you like to provide a PR?

[2018-04-19 12:41] fbricon commented on #622
Reusing an existing eclipse workspace is likely a bad idea, as it'll reference stuff jdt.ls won't be able to find, that'll certainly cause some errors. Try using a unique directory, eg. ~/.neovim/jdt.ls/workspaces/<opened-dir-hash>.

[2018-04-19 13:22] AlexTugarev opened #638 "Error: Failed to create linked resource"
Sometimes when opening a single java file (no pom/gradle) in `@theia/java`, JDT LS does not work and the workspace log contains errors like this:

[code]

I consider other errors are just follow-ups.

For completeness, the [data/workspace](https://github.com/theia-ide/theia/blob/master/packages/java/src/node/java-contribution.ts#L59) location will be different on each start of the LS.

ref. https:

[2018-04-19 13:25] AlexTugarev commented on #629
Thanks for the info, @fbricon! I'll try with latest monaco version. This problem seems to be related with automatic refines of completion items. So, some items were already resolved, and when you continue typing it will re-resolve them again.

[2018-04-19 13:57] languitar commented on #622
If I do that, how will it find other related projects? By reusing the existing workspace, the server currently also discovers other maven projects etc.

[2018-04-19 14:02] languitar commented on #628
I'm more or less out of time the next few weeks and don't have a deep understanding of the source code of the server. So if anyone else can handle that, this would be easier.

[2018-04-19 14:03] fbricon commented on #622
I obviously have no idea how neovim works but if it starts jdt.ls with a [list of workspace folders in the initialize request](https://github.com/eclipse/eclipse.jdt.ls/wiki/Running-the-JAVA-LS-server-from-the-command-line#initialize-request), then all projects found in those folders will be imported in the workspace defined by -data.

I don't think it's reasonable to expect opening an existing ec

[2018-04-19 14:06] languitar commented on #622
Ok. but that means workspace has different semantics for the language server than for eclipse itself? Because in that case, the naming is unfortunate. In Eclipse I need a workspace containing the sources more or less in the standard setup. This doesn't seem to be the case here.

[2018-04-19 14:10] #636 closed

[2018-04-19 14:11] languitar commented on #622
The language server protocol client for neovim is compeltely generic. So the only option to send thos required initialize options is via configuration file. Is that reasonable?

[2018-04-19 15:39] #444 closed

[2018-04-19 15:53] fbricon commented on #431
@garagatyi is this issue still relevant for you? If it is, please test #504

[2018-04-20 19:42] #443 closed

[2018-04-20 21:05] fbricon commented on #623
So the idea would be to
- map java.formatting.* options to org.eclipse.jdt.core.formatter.*
- same default values as corresponding jdt options
- formatter configuration would be received during startup  or workspace/didChangeConfiguration requests, as part of the java settings
- Formatting options should be held in a dedicated class.

We need a way to gather all properties keys, default values and

[2018-04-21 18:53] snjeza commented on #623
@fbricon We could enable importing an Eclipse formatter xml file and define two following properties:

- java.formatter.fileName - a URL to the formatter xml file; if it isn't set, we would set JDT default formatting options
- java.formatter.profileName - a profile name; if it isn't set we would choose the first profile from the formatter xml file

I have attached the jdtls formatting options as a

[2018-04-23 15:42] mickaelistria commented on #613
As I think we all agree that adding extension points should be placed at a lower level than jdt.ls for more reusability for both jdt.ls and jdt.ui simultaneously, I've opened https://bugs.eclipse.org/bugs/show_bug.cgi?id=533940

[2018-04-24 09:17] AlexTugarev opened #642 "NPE in DocumentAdapter"
it's a rare one, but sometimes I see this NPE during tests of `@theia/java`.

given such a request
[code]

this NPE is thrown in JDT LS
[code]

[2018-04-24 14:04] fbricon commented on #642
@AlexTugarev can you check #643?

[2018-04-24 15:01] #642 closed, assigned to nobody

[2018-04-25 11:25] tsmaeder commented on #637
@pixystone I don't really see how this feature would be useful. Can you explain?

[2018-04-25 12:51] tsmaeder commented on #636
@fbricon looks like someone is not calling ResourceUtils#fixURI() somwhere?

[2018-04-25 13:01] fbricon commented on #636
@tsmaeder see fix in 895d640

[2018-04-25 13:39] fbricon commented on #626
It's not the quickfixes are incorrect (they're not), but the fix to correct type safety is missing

[2018-04-26 01:00] pixystone commented on #637
Sure that is useful for the web special situation.

I close this issue. Reopen it If somebody else need this feature.

[2018-04-26 01:00] #637 closed

[2018-04-26 11:16] AlexTugarev opened #644 "Rare AIOOBE for "textDocument/codeAction" request"
sometime while typing in Theia, I see (monaco) quickfix errors in JS console. I catched one occurrence.

for a request like this:

[code]

I see a backend error like that:

[code]

[2018-04-26 13:26] fbricon opened #645 "Warnings are now shown with severity info, until file is saved"
Unused variable diagnostic should have a Warning severity, instead, it's shown as Information as you change the document. Upon saving, proper severity is applied.

![info-warning](https://user-images.githubusercontent.com/148698/39308507-9d59d860-4933-11e8-9cf8-3a8f284fd933.gif)

Regression caused by #631

[2018-04-26 18:38] #645 closed

[2018-04-27 00:44] fbricon commented on #623
I can't get line wrapping to work for some reason (`<setting id="org.eclipse.jdt.core.formatter.lineSplit" value="100"/>`  and `<setting id="org.eclipse.jdt.core.formatter.comment.line_length" value="100"/>` are ignored).

Seems referencing     `"java.formatter.url": "eclipse-java-google-style.xml"` with eclipse-java-google-style.xml present at the root of my project is ignored

[2018-04-27 13:35] snjeza commented on #623
I can't reproduce the issue.

Java LS doesn't format comments.
See https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/FormatterHandler.java#L88
To format comments, we would need to use:

[code]

We could also add the "java.format.comments" property, false by default.

[2018-04-27 13:59] fbricon commented on #623
Changing eclipse-java-google-style.xml definitely does not trigger a workspace/didChangeWatchedFiles event

[2018-04-27 14:05] fbricon commented on #623
TextEdit format = formatter.format(CodeFormatter.K_COMPILATION_UNIT | CodeFormatter.F_INCLUDE_COMMENTS, sourceToFormat, region.getOffset(), region.getLength(), 0, lineDelimiter);
We could also add the "java.format.comments" property, false by default.

ok let's do that, but with java.format.comments:true by default, same as eclipse

[2018-04-27 14:38] snjeza commented on #623
Does it works in Eclipse?

[2018-04-27 14:58] fbricon commented on #623
yes, it works fine in Eclipse. Say if you have

[code]

with `<setting id="org.eclipse.jdt.core.formatter.blank_lines_after_package" value="1"/>`, this is actually formatted into

[code]
instead of
[code]

[2018-04-30 20:38] #623 closed

[2018-04-30 22:16] snjeza commented on #623
In order to use the formatter, you need an Eclipse formatter file like https://raw.githubusercontent.com/google/styleguide/gh-pages/eclipse-java-google-style.xml

Set the following property:
[code]

The property can point to an URL or a local file path.
If the formatter xml file contains more profiles you will be able set a profile name as:

[code]

[2018-04-30 23:46] fbricon opened #647 "NullPointerException in ProjectsManager.registerWatchers(ProjectsManager.java:536)"
[code]

https://github.com/eclipse/eclipse.jdt.ls/blob/41679e9b089b32a60272a9dc1c1273bd5a2e65fa/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/ProjectsManager.java#L531-L539

findFile can return null

[2018-04-30 23:56] #647 closed

[2018-05-03 05:28] andyf1111 commented on #573
I have the same issue after I modified my java file and class name, the earliest name is "Main".
Here are some screenshots:
![image](https://user-images.githubusercontent.com/19814597/39560819-dd71935c-4ed3-11e8-9d30-9fa34fe38a58.png)
![image](https://user-images.githubusercontent.com/19814597/39560837-f4b47ac0-4ed3-11e8-98f7-3cf0a9035406.png)
I find @andxu in #242 commented that:

which folder sh

[2018-05-03 05:55] andyf1111 commented on #573
And I have another question, is there any method to customize a target folder where class files generated?

[2018-05-03 13:17] BonaBeavis opened #649 "Browsing external dependencies with LanguageClient-neovim"
The language client returns links based on the jdt protocol instead a filepath  `jdt://contents/slf4j-api-1.7.10.jar/org.slf4j/ILoggerFactory.class?=linkedgeodata-core/%5C/home%5C/some%5C/.m2%5C/repository%5C/org%5C/slf4j%5C/slf4j-api%5C/1.7.10%5C/slf4j-api-1.7.10.jar%3Corg.slf4j%28ILoggerFactory.class#38`

Neovim can not handle those, is it possible to configure the server in a way, that a filepa

[2018-05-03 13:57] JPinkney opened #650 "Remark library changes file:/// to file:/ when"
Currently as it stands [this](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/javadoc/JavaElementLinks.java#L178) bit of code generates the correct URI's for the markdown but when it hits [this](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/javadoc/JavaDoc2Markdow

[2018-05-03 13:58] BonaBeavis commented on #649
And with this [function](https://github.com/eclipse/eclipse.jdt.ls/blob/41679e9b089b32a60272a9dc1c1273bd5a2e65fa/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L641) it would be possible to retrieve the source.
But this is an extension to LSP and java specific?

[2018-05-03 14:00] fbricon commented on #649
yes, but it needs the client to send jdt based uris

[2018-05-03 14:33] fbricon commented on #649
All search scopes need to be changed so that
[code]

[2018-05-04 12:07] BonaBeavis commented on #649
It is possible to unpack the dependencies with maven:
[code]
Could a client use these for browsing the sources?

[2018-05-04 14:08] fbricon commented on #649
That won't work. The server maps the binary jars to their matching source jars automatically. There's no way to map sources to a different folder server-side. Even if we added a way to do it, neovim would still have to do some custom development to call that new mechanism. So however we do it, it won't work OOTB for any client.

[2018-05-06 12:55] yyoncho opened #651 ""starting" message received after "started""
While working on emacs lsp client I noticed that there is starting message received after the last started message. I am observing the same behaviour in vscode.

[Trace - 2:28:55 PM] Received notification 'language/status'.
Params: {
    "type": "Started",
    "message": "Ready"
}

[Trace - 2:28:55 PM] Received notification 'language/status'.
Params: {
    "type": "Starting",
    "message": "100%

[2018-05-06 13:09] yyoncho opened #652 "[question] JDT future plans"
I am working on the emacs LSP client and I wonder whether there a roadmap document I can access for the future plans on JDT LS?
If there is no official document for that I have few specific questions:

1. Are there plans for unit test support?
2. Are there plans for debug support?

I noticed that there are vscode extensions implemented by MS which are providing support for unit tests/debug but bef

[2018-05-06 18:35] gorkem commented on #652
Both the [junit](https://github.com/Microsoft/vscode-java-test) support and [debug](https://github.com/Microsoft/java-debug) support are extensions to jdt.ls. As long as they are available as open source software to the larger community (which they are) we have no plans to implement similar ones on jdt.ls.
We can discuss the possibility of moving these extensions into jdt.ls in the future for easi

[2018-05-06 18:46] yyoncho commented on #652
Thanks!

[2018-05-06 18:46] #652 closed

[2018-05-07 13:28] fbricon opened #653 "Update lsp4j to 0.4.0"
bunch of API changes we'll need to address: https://github.com/eclipse/lsp4j/blob/master/CHANGELOG.md#v040-apr-2018

[2018-05-07 13:51] fbricon opened #654 "Autocompletion should return javadoc in Markdown"
During autocompletion Javadoc is currently returned as plaintext. Once we migrate to lsp4j 0.4.0 (#653), we can return javadoc as Markdown, for clients who support it.

[2018-05-08 05:26] #569 closed

[2018-05-08 06:51] yyoncho opened #656 "Add quickfix inline method/variable/field"

[2018-05-09 13:28] brookhong opened #657 "The jdt uri returned from jdt.ls is not accepted by extension java/classFileContents"
I'm trying to make ycmd support java source from jar package, here is [the PR](https://github.com/Valloric/ycmd/pull/1024). @tsmaeder commented that we could use classFileContents instead of futzing around with the jdt uri.

Thus I had a try, I passed the jdt uri got from jdt.ls by `textDocument/publishDiagnostics` back to jdt.ls for method `java/classFileContents`.

    {
        "id": "3",

[2018-05-09 14:30] fbricon commented on #657
If I compare to what I get, when using vscode:

You can see the = in your case has been escaped to unicode `\u003d`. Does jdt.ls return you the unicode version or is ycmd massaging the URI somehow? cc @puremourning

[2018-05-09 15:19] fbricon commented on #649
FTR, clients will need advertise their support by passing extendedClientCapabilities.classFileContentsSupport=true in initializationOptions, as in
[code]

[2018-05-09 15:27] bstaletic commented on #657
Ycmd doesn't do any escaping, but I believe @brookhong's branch does. At least it did before trying to use `java/classFileContents`.

[2018-05-09 19:47] #128 closed

[2018-05-11 21:50] snjeza commented on #604
This error can occur when you change a java file while Java LS is creating a diagnostic message.
@fbricon, @gorkem I think we can ignore that exception here.

It can happen when you use jdk10 or some other incompatible JVM. See https://github.com/redhat-developer/vscode-java/issues/483
Could you upgrade Java LS?

Does the issue occur when you increase the timeout (to 5 or 10 minutes, for instance)

[2018-05-12 11:58] puremourning commented on #604
You betcha! :) https://github.com/Valloric/ycmd/pull/1027

I think that if we did the CI might time out and kill the job. At least that was a risk previously.

[2018-05-12 12:02] puremourning commented on #604
FWFW our CI environments don't use Java 10 (they print the java version towards the beginning and they are all Java 8)

Picked up _JAVA_OPTIONS: -Xmx2048m -Xms512m
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)

[2018-05-12 19:27] snjeza commented on #604
I can reproduce only this issue on my machine. When I set the timeout to two minutes, the issue disappears.

[2018-05-12 19:46] puremourning commented on #604
I see, but I feel like a user isn't going to be super happy with waiting 2 minutes for diagnostics :/

[2018-05-12 20:06] snjeza commented on #604
Could you split time.sleep into smaller periods?

[2018-05-12 21:46] snjeza commented on #604
I mean something like the following

[code]

[2018-05-14 06:14] yaohaizh opened #658 "Refactor: Convert anonymous class to lambda express"
Mentioned from the customer interview.

[2018-05-14 19:01] dschuessler opened #659 "jdt.ls crashes with unresolved requirements"
Starting the language server results in the following message:

[code]

You can find the log file [here](https://gist.github.com/dschuessler/ac2c5f627a4a2191add3b05cac5413db).

jdt.ls 0.18.0
Java 10 2018-03-20
macOS 10.13.4

[2018-05-15 22:50] fbricon commented on #128
Screencast of annotation processing in action:
[![](https://img.youtube.com/vi/cN9FNVtJeR8/hqdefault.jpg)](https://www.youtube.com/watch?v=cN9FNVtJeR8)

[2018-05-16 01:00] fbricon opened #661 "Distro contains ui plugins"
brought in by m2e-apt's MANIFEST.MF, code doesn't even need them. grrrr.

See upstream fix: https://github.com/jbosstools/m2e-apt/commit/cd000d908e5829f4cab548c9aa884112dcafa1da

Need to pick up new bits from http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-apt/1.5.0-2018-05-16_00-46-30-H11/

[2018-05-16 01:06] #661 closed

[2018-05-17 16:06] #653 closed

[2018-05-17 16:07] fbricon commented on #654
Now that #662 has been merged, this can be implemented

[2018-05-17 20:31] yyoncho opened #664 "Add lsp-java in the list of clients"
Here it is the url: https://github.com/emacs-lsp/lsp-java

[2018-05-22 08:14] tsmaeder commented on #650
@JPinkney @fbricon is this currently a problem or do we work around it?

[2018-05-22 08:21] tsmaeder commented on #617
Che-ls-jdt has an extended organized import command that returns a list of choices that can be resolved interactively. Maybe the way to go?

[2018-05-22 08:29] tsmaeder commented on #532
@bizzyman what kind of additional symbol information are you fetching? We have a document outline in Che that doesn't require additional calls.

[2018-05-22 08:30] tsmaeder commented on #516
@fbricon duplicate of https://github.com/eclipse/eclipse.jdt.ls/issues/654 ?

[2018-05-22 08:36] tsmaeder commented on #431
@garagatyi  ping.

[2018-05-22 08:43] tsmaeder commented on #311
@fbricon @gorkem I still don't think multi-root support completely covers the case of new projects. They could also be created as a subfolder of a preexisting project (for maven, for example). Methinks the only way to really solve this is to react to the creation of relavant files (pom.xml, etc.)

[2018-05-22 11:07] garagatyi commented on #431
I'm not working with that part of Che now, so it would be tricky for me to check it. BTW previously we had a workaround for this feature - custom command that proxies traffic between a TCP socket and a Unix socket.
Feel free to close the issue.

[2018-05-22 12:19] #431 closed

[2018-05-22 13:26] tsmaeder opened #667 "Problems with project initialization"
While debugging Selenium tests for Che, I have come across two problems when initializing the workspace.
1. When a project exist already in the workspace with linked content, does not have the Maven nature and a name different from the maven id of the project, the import fails with an exception. However, when the name is the same as the maven id, the import fails silently.
2. ProjectsManager#updat

[2018-05-22 14:05] fbricon commented on #516
Yup duplicate of #654 (although historically it's the other way around). Closing

[2018-05-22 14:05] #516 closed

[2018-05-22 14:13] #654 closed

[2018-05-23 08:11] #667 closed

[2018-05-24 10:01] tsmaeder opened #669 "No completion documentation for source methods with parameters"
When invoking completion for a method defined in the same class, the completion UI never shows documentation when the method has a parameter (or more). The same thing works for methods without parameters.
This can be reoproduced with both Che and VSCode

[2018-05-24 10:04] tsmaeder commented on #669
To reproduce:
1. create the following class:
[code]
2. Put the cursor on empty line after the println
3. invoke code assist
4. move the menu highlight to "bar()".
5. observer: you see the method javadoc
6. now move the menu highlight to "foo(String bar)"
7. observer: you do not see the Javadoc for "foo".

[2018-05-24 10:06] tsmaeder commented on #669
The problem seem to lie with CompletionResolveHandler#resolve(...). On line 114, "method.exists()" returns false for methods with parameters.

[2018-05-28 21:57] #669 closed

[2018-05-29 14:10] fbricon commented on #149
jdt.ls plugins have been signed for a while

[2018-05-29 14:10] #149 closed

[2018-05-29 22:30] tbo opened #672 "Autobuild not triggered"
I'm using [LanguageClient-neovim](https://github.com/autozimu/LanguageClient-neovim) as LSP-Client. While playing around with `vscode-java`, I noticed, that file saves trigger a build. Now I'm trying to figure out, where those two implementations differ. Shouldn't it be triggered by `textDocument/didSave` or `workspace/didChangeWatchedFiles`? I wasn't able to find any code that handles this. Any s

[2018-05-29 23:37] fbricon commented on #672
if the lsp client sends textDocument/didSave then it should work

[2018-05-29 23:42] tbo commented on #672
I just did some further investigation. LanguageClient-neovim only sends `textDocument/didSave`, but `vscode` only sends `workspace/didChangeWatchedFiles`. What is the preferred solution? Should the server react to both or should LanguageClient-neovim trigger both methods?

[2018-05-30 00:12] fbricon commented on #672
vscode sends `textDocument/didSave` too. jdt.ls reacts to both events

[2018-05-30 09:57] tbo commented on #672
Those are the log entries, that I get in the output panel for "Language Support for Java", when I save a file:
[code]

So I assumed, that jdt.ls only receives `workspace/didChangeWatchedFiles`. Am I mistaken? Is there any way I can sniff the communication on a lower level?

[2018-05-30 11:41] fbricon commented on #672
Enable "java.trace.server":"verbose" in vscode.

[2018-05-30 11:54] tbo commented on #672
Ok, I reran it with `"java.trace.server":"verbose"`. I can now see additional method calls and their parameters, but there is still no sign of `textDocument/didSave`. This is what I get (I truncated some params):

[code]

[2018-05-30 14:40] fbricon commented on #672
Indeed you're right. And I want to say WTF?
@snjeza can you please take a look?

[2018-05-30 15:17] #664 closed

[2018-05-30 18:21] snjeza commented on #672
@tbo Did you enable the didSave notification as described at https://github.com/Microsoft/language-server-protocol/blob/gh-pages/specification.md#textdocumentclientcapabilities-define-capabilities-the-editor--tool-provides-on-text-documents?

[2018-05-30 18:35] tbo commented on #672
Do you mean in LanguageClient-neovim? I guess not. This is the initial call from LanguageClient-neovim to jdt.ls according to my log file:

[code]

[2018-05-30 19:15] snjeza commented on #672
VS Code sends the following:

initialize:
[code]
textDocument/didSave
[code]

[2018-05-30 19:36] tbo commented on #672
My vscode initialize call looks the same. You can find the full payload here:
https://gist.github.com/tbo/8f420cd49ea7463e20c925bbda62273b

I rechecked the "Language Support for Java" output panel. My vscode installation only sends `workspace/didChangeWatchedFiles`.

@snjeza Does your `textDocument/didSave` trigger the autobuild?

[2018-05-30 19:54] snjeza commented on #672
@tbo Yes, it does.

[2018-05-30 19:58] tbo commented on #672
@snjeza Does your vscode send `workspace/didChangeWatchedFiles` as well. Because LanguageClient-neovim only sends `textDocument/didSave` and the autobuild is **not** triggered.

[2018-05-30 20:01] snjeza commented on #672
This is log when saving a file:

[code]

[2018-06-01 00:14] fbricon opened #675 "completionItem/resolve on Snippets throws exception"
when completionItem/resolve  is called on the class snippet, the following exception is thrown:
[code]

A quick fix would be to ignore completionItem  resolution if CompletionItem.Kind == Snippet

[2018-06-01 01:31] #675 closed

[2018-06-02 05:54] tsmaeder opened #678 "Target platform is broken, failing build"
When I build current master, the build fails with the message:
[code]
When looking into the mentioned repository, the version that is requested in the target platform definition is not present.

[2018-06-02 05:55] tsmaeder commented on #678
I can fix this locally by updating the versions, but I dont' know if that is the right thing to do.

[2018-06-03 01:15] #678 closed

[2018-06-04 09:48] languitar opened #680 "v0.20.0 fails to build: Could not find "org.eclipse.jdt.source.feature.group/3 .14.0.v20180524-0900""
I cannot compile v0.20.0. Archive and git checkout result in this error message:

[code]

[2018-06-04 14:12] languitar commented on #680
I am packaging this software for archlinux. So a maintenance release with a bumped version and fixed dependencies would be better.

[2018-06-04 14:31] fbricon commented on #680
So you just need a new tag release? since you're not using the signed artifacts anyway

[2018-06-04 14:35] fbricon commented on #680
Try https://github.com/eclipse/eclipse.jdt.ls/releases/tag/v0.20.1

[2018-06-04 15:22] fbricon opened #681 "interface/class snippets should not be available inside method bodies"
Currently, class and interface snippets are available inside method bodies, they should not. There are probably other places where you don't want to see those snippets. It all depends on the context.

[2018-06-04 15:45] languitar commented on #680
Thanks, this compiles.

[2018-06-04 15:45] #680 closed

[2018-06-04 19:29] fbricon commented on #446
Fixed with #679

[2018-06-04 19:29] #446 closed

[2018-06-05 04:17] natebosch commented on #376
There is a proposal to support returning an edit instead of a command: https://github.com/Microsoft/language-server-protocol/issues/178

[2018-06-05 19:11] ljw1004 commented on #337
Hack and Flow are in a similar situation, taking minutes or even ten minutes to start for huge projects.

As I understand it, the official LSP answer is to use *dynamic registration* - the LSP server should initially not register its capabilities, but then once the build has finished then it does register its capabilities.

[2018-06-08 09:24] yyoncho opened #686 "No reliable way to distinguish code actions on client side"
All of the code actions have the same command name - `java.apply.workspaceEdit` and the only way to distinguish them is to use `title` which is not reliable. This is inconvenient if the client wants to bind code action to a shortcut.

[2018-06-09 03:15] yyoncho opened #688 "[Enhancement] Completion option - insert best guessed arguments"
In `Eclipse` you have two options when completing method arguments - insert parameter names and insert best guessed arguments.

[2018-06-11 02:45] gorkem commented on #686
See also https://github.com/Microsoft/language-server-protocol/issues/389 which is also dealing with same sort of concerns

[2018-06-11 08:53] yyoncho commented on #681
IMO they should not be available if current prefix does not match class/interface.

[2018-06-11 19:50] fbricon commented on #686
Now we need an lsp4j update to support those codeaction kinds

[2018-06-11 23:30] puremourning opened #691 "Completion proposals for snippets should not be included if the client does not declare support for snippets"
snippet completions are an optional feature (requiring `capabilities.completion.completionItem.snippetSupport = true`.

However, snippet proposals are still included even when that is false.

ycmd chokes on this meaning that no completions are provided.

* i am sending "capabilities": {}
* and receiving: "insertTextFormat": 2, for certain completions, such as:

[code]

[2018-06-12 01:45] yaohaizh commented on #686
https://github.com/eclipse/lsp4j/issues/194

[2018-06-12 10:31] vincentha766 opened #692 "Failed to resolve target definition "org.eclipse.jdt.source.feature.group/3.14.0.v20180607-1630""
I got this error while running `./mvnw clean verify`

[INFO] Fetching p2.index from http://download.eclipse.org/buildship/updates/e47/releases/2.x/2.1.0.v20170711-1522/
[INFO] Fetching p2.index from http://download.eclipse.org/buildship/updates/e47/releases/2.x/2.1.0.v20170711-1522/
[INFO] Fetching p2.index from http://download.eclipse.org/technology/m2e/milestones/1.9/1.9.0.20180606-2036/
[INFO]

[2018-06-12 14:23] #692 closed

[2018-06-12 19:14] fbricon opened #694 "Add support for `textDocument/foldingRange`"
Add support for `textDocument/foldingRange`, which allows editors to provide folding support (for code blocks, imports, folding regions ...). See LSP proposal: https://github.com/Microsoft/vscode-languageserver-protocol-foldingprovider/blob/master/protocol.foldingProvider.md

[2018-06-12 19:20] fbricon opened #695 "Add deprecated property to CompletionItem and SymbolInformation"
See LSP change: https://github.com/Microsoft/language-server-protocol/issues/139

[2018-06-12 19:23] fbricon commented on #694
Requires upstream lsp4j implementation: https://github.com/eclipse/lsp4j/issues/169

[2018-06-12 19:24] fbricon commented on #695
requires upstream lsp4j change https://github.com/eclipse/lsp4j/issues/195

[2018-06-12 21:58] #681 closed

[2018-06-12 22:00] fbricon commented on #681
@yyoncho the snippets now match the prefix and are context sensitive.

[2018-06-13 05:16] yyoncho commented on #681
@snjeza @fbricon Thanks a lot!

[2018-06-13 13:42] fbricon opened #696 "Convert from var to the appropriate type"
Propose code action to convert `var x = "foo"` to `String x = "foo"`, for Java 10 code

[2018-06-13 13:43] fbricon opened #697 "Convert from type to `var`"
Propose code action to convert `String x = "foo"` to `var x = "foo"`, for Java 10 code

[2018-06-13 13:52] fbricon commented on #659
What client are you using? How did you start jdt.ls?

[2018-06-13 15:45] fbricon commented on #620
The more I think about it, the more I think we should probably set `org.eclipse.jdt.core.compiler.release=enabled` by default. This will ensure all JDK versions >= 9 won't leak their APIs when compiling against lower Java targets. The setting will be ignored when using JDK < 9.
I can't find any reason not to do it. @gorkem @tsmaeder WDYT?

[2018-06-13 15:48] gorkem commented on #620
Why is it even a setting if it does not have any side-effects

[2018-06-13 15:52] fbricon commented on #620
¯\\_(ツ)_/¯

[2018-06-14 00:18] AmjadHD opened #698 "build failure: tycho.surefire test fails everytime !"
I was trying hard to build the project but the command-line build always fails (after running for near an hour :( ) at the tycho.surefire test, i can't figure out a solution for this. Anyone faced this issue ?

[2018-06-14 05:10] #691 closed

[2018-06-15 16:08] autozimu commented on #672
LanguageClient-neovim currently omits the `didChangeWatchedFiles.dynamicRegistration` in capacity declaration. I will address it soon.

On the other hand, when this capacity is not specified, this language server throws an error
[code]

[2018-06-15 22:44] fbricon commented on #672
I disabled didChangeWatchedFiles so only didSave is actually applied, and incremental build still worked in vscode. I'm puzzled by the behaviour in neovim

[2018-06-16 21:27] tbo commented on #672
#700 was merged shortly after our tests. I retested it and it seems to have fixed the issue for me.

@fbricon @autozimu @snjeza Thank you!

[2018-06-16 21:27] #672 closed

[2018-06-18 09:00] yyoncho opened #701 "[Question] Search enhancements"
Are there plans for making a more powerful search e. g. regexp support,  support for searching specific java entity(class, interface, method...), support for narrowing results to project/workspace(excluding libraries) and so on?

[2018-06-18 13:05] fbricon commented on #698
which test is failing? on which OS?

[2018-06-18 13:10] fbricon commented on #701
No plans yet, but seems like a useful improvement. Since that'd be very specific to Java, we'd prolly need a custom protocol extension to get it to work, unless we encode all those filter parameters into the current search query.
How do you think it'd work? Anything you'd like to contribute?

[2018-06-18 21:14] AmjadHD commented on #698
windows 7
[code]

[2018-06-18 22:57] fbricon commented on #168
Requires https://github.com/eclipse/eclipse.jdt.ls/issues/686

[2018-06-19 19:05] snjeza commented on #698
I can't reproduce the issue.
My environment:

[code]

BTW @fbricon 12 tests fail on Windows 7

[2018-06-19 22:56] AmjadHD commented on #698
[code]
maybe if i borrow your pom.xml ??

[2018-06-20 17:15] snjeza commented on #698
https://github.com/eclipse/eclipse.jdt.ls/blob/master/pom.xml

[2018-06-21 22:28] Kronuz opened #705 "Invalid response for textDocument/definition"
Response to `textDocument/definition` should result in `Location` | `Location[]` | `null` (https://microsoft.github.io/language-server-protocol/specification#goto-definition-request-leftwards_arrow_with_hook), and `Location` is defined as (https://microsoft.github.io/language-server-protocol/specification#location):

[code]

So `uri` is a mandatory `DocumentUri`; however, this is what I'm sending

[2018-06-22 18:56] fbricon opened #706 "Add support for `textDocument/typeDefinition`"
See https://github.com/Microsoft/language-server-protocol/blob/gh-pages/specification.md#goto-type-definition-request-leftwards_arrow_with_hook

[2018-06-22 18:57] fbricon opened #707 "Add support for `textDocument/implementation`"
See https://github.com/Microsoft/language-server-protocol/blob/gh-pages/specification.md#goto-implementation-request-leftwards_arrow_with_hook

[2018-06-22 18:59] fbricon commented on #705
I think it was implemented that way due to a limitation in either lsp4j or vscode. It's definitely wrong though

[2018-06-22 19:20] yyoncho commented on #707
Maybe close this one https://github.com/eclipse/eclipse.jdt.ls/issues/556 ?

[2018-06-22 19:22] fbricon commented on #707
I'm getting senile already. tsss.

Closing as duplicate of #556.

@yyoncho thanks for catching this

[2018-06-22 19:22] #707 closed

[2018-06-22 19:23] fbricon commented on #556
See protocol spec: https://github.com/Microsoft/language-server-protocol/blob/gh-pages/specification.md#goto-implementation-request-leftwards_arrow_with_hook

[2018-06-22 21:11] #705 closed

[2018-06-23 07:39] yyoncho opened #709 "Extract to method adds incorrectly static for nested class"
Given the following code:

[code]
if you select `System.out.println(inLocalThread);` and then perform "Extract to method" it will generate "static" method in nested class. The strange thing is that it fails only if there is method named `extracted` in the upper scope and if you select exactly this line.

[2018-06-25 20:29] #688 closed

[2018-06-25 20:40] fbricon commented on #688
@yyoncho there's now a new `java.completion.guessMethodArguments` preference : When set to `true`, method arguments are guessed when a method is selected from as list of code assist proposals.

[2018-06-30 16:38] idanarye opened #711 "Any way to set the indentation to spaces?"
Is there a way to set the indentation style used by this language server? Possibly other format options?

If so, it should be in the README or in the wiki.

[2018-06-30 16:52] snjeza commented on #711
See https://github.com/eclipse/eclipse.jdt.ls/pull/640

[2018-07-01 21:33] amiramw opened #712 "textDocument/references of compiled class"
Is there any way to use textDocument/references with document coming from compiled class and not from workspace?
I tried using the location path returned from search (starting with jdt://) but with no luck.
I think such capability is very useful.

[2018-07-01 21:42] fbricon commented on #712
should the results contain other references to compiled classes from the workspace or just source references. The former might be pretty slow to compute

[2018-07-01 21:43] amiramw opened #713 "Integration with code styling tools"
Does it make sense to integrate eclipse.jdt.ls with code styling tools such as PMD, FindBugs and Checkstyle, or should the IDE client integrate them independently?

[2018-07-01 21:45] amiramw commented on #712
I think only the sources is good enough.

[2018-07-01 21:49] gorkem commented on #713
I think static analysis tools should be language servers by themselves.

[2018-07-02 05:42] amiramw commented on #712
But the protocol API is not good for that, right? Because there is no way to specify symbol other than class within the class file.

[2018-07-02 09:14] amiramw opened #714 "symbol APIs to reflect annotations"
Is it possible that document and workspace symbol APIs will return annotations usages?

For the code below I would like to receive the symbol of `@Query` usage which currently I don't get.

[code]

[2018-07-02 14:04] kittaakos opened #715 "Support the semantic highlighting based on the LSP extension proposal"
I have submitted a proposal to [extend the LSP with the semantic highlighting support](https://github.com/Microsoft/language-server-protocol/issues/513).

I have already [adjusted the LSP4J API](https://github.com/eclipse/lsp4j/pull/198) based on my proposal. See also the [vscode-languageserver-node implementation](https://github.com/Microsoft/vscode-languageserver-node/issues/368)

Plans:
 - Adop

[2018-07-02 15:32] idanarye commented on #711
OK. Since #640 is not intuitive to understand, I'll write here what I did (based on what I understood from it):

1. Open `.settings/org.eclipse.jdt.core.prefs` (this language server creates it automatically)
2. Add these lines:
[code]
    The second line is not required, since 4 is the default, but if you want to set it to a different value you can.
3. Restart the language server.

There are other

[2018-07-02 15:32] #711 closed

[2018-07-03 09:00] tsmaeder commented on #714
Shouldn't "symbols" show declarations, not references?

[2018-07-03 11:29] amiramw commented on #714
You probably right.

[2018-07-03 11:29] #714 closed

[2018-07-03 12:18] phill1234 opened #717 "Can not build project"
Hey
when i try to build the project i get a error:

`Failed to resolve target definition /app/org.eclipse.jdt.ls.target/org.eclipse.jdt.ls.tp.target: Could not find "org.eclipse.equinox.p2.core.feature.source.feature.group/1.5.100.v20180614-0806" `

Can someone help me? Why is this dependency not available?

Thank you.

[2018-07-03 13:01] amiramw commented on #712
Is it hard to implement this functionality for finding references for classes only?

[2018-07-03 13:08] fbricon commented on #712
I'd say it should probably work by default, looking at https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/ReferencesHandler.java#L49, if the client supports classFileContents. If it doesn't work, then we need to figure out why.

[2018-07-03 13:32] phill1234 commented on #717
Wow super fast thank you <3

[2018-07-04 12:58] idantr commented on #712
Hi
I added the classFileContents param to the client cap. what do i need to insert in the "query" param in order to get the symbols with a location in the compiled classes? is there any special convention i need to use?

[2018-07-04 13:10] fbricon commented on #712
all classes from the workspace, including from binaries, should be returned if classFileContents is [set in the extendedClientCapabilities](https://github.com/eclipse/eclipse.jdt.ls/commit/fdfde4748ab40d034efe50a823c5039582ac72bf). No special syntax is required.

@idantr which client are you using?

[2018-07-04 13:11] fbricon commented on #712
@idantr wait, are you trying workspace symbols or document symbols?

[2018-07-04 14:16] idantr commented on #712
we are using workspace symbols and then we intend to use textDocument/references on the response, but i configured the client incorrectly, without the extendedClient... {} so i did not get any symbols, i will retry.
thanks for the clerification.

[2018-07-04 18:46] fbricon commented on #715
@kittaakos be aware the Technology PMC is currently frowning very hard at jdt.ls forking jdt.ui classes over (see https://github.com/eclipse/eclipse.jdt.ls/pull/684#issuecomment-399948813). They'd strongly prefer to refactor jdt.ui code over to jdt.core, if doable.

[2018-07-04 18:52] kittaakos commented on #715
Thank you for the note, @fbricon.

CC: @svenefftinge

[2018-07-04 19:30] svenefftinge commented on #715
So you think we should
1) extract the code needed to from jdt.ui to jdt.core
2) make use of those changes in jdt.ls

Sounds more sustainable but also like a lot of extra rounds :|

[2018-07-04 20:05] fbricon commented on #715
Tell me about it.
But we have @rgrunber and @jjohnstn to help if needed

[2018-07-04 21:03] yyoncho opened #718 "Question: eclipse.jdt.ls vs che-ls-jdt"
My question is which of...
1. `eclipse.jdt.ls` + `debug-java` + `vscode-java-test`
2. `che-ls-jdt` which out of the box supports junit&testng tests+maven + `debug-java`(I haven't tested whether `che-ls-jdt` works with it)

...should I choose for Emacs integration if I want to expose debug/test/maven functionallity?

I am having the following concerns:

1. Both `eclipse.jdt.ls` and `che-ls-jdt` are

[2018-07-04 21:04] fbricon commented on #718
question for @tsmaeder

[2018-07-04 21:14] fbricon commented on #718
I reckon there might be some areas that might be biased towards VS Code, but we're working towards making `eclipse.jdt.ls` truly client agnostic. Don't hesitate to open issues otherwise

[2018-07-05 07:18] svenefftinge commented on #715
We could go in parallel. I.e.
 - do a PR here with the copied code
 - do a PR for jdt.core moving the code.

And then once jdt.ls upgrades to a version that has those changes we could remove the copied code here.

[2018-07-06 13:02] tsmaeder commented on #718
@yyoncho we can't currently promise any API stability.

[2018-07-06 13:05] tsmaeder opened #719 "JavaClientConnection#executeClientCommand Should be Async"
JavaClientConnection#executeClientCommand forces clients to wait for a result synchronously. Generally, it is simpler to return a Promise here and let the clients get() if they want to wait for it.

[2018-07-08 13:11] amiramw commented on #712
@fbricon :

The current API almost work for us.

However it returns .class location with positions 0,0 unlike when you call it with symbols that come from workspace files.

[code]

I tested with jdt 0.21.0.

It is more desired that the range is returned based on the decompiled class content that is returned by `java/classFileContents`, right?

[2018-07-09 00:18] srikiwork commented on #321
You can try changing the path for the Gradle wrapper going to Eclipse > Preferences > Gradle. Choose Local Installation directory instead of Gradle Wrapper.

[2018-07-09 20:34] dschuessler commented on #659
I updated and the error is gone. Feel free to close.

[2018-07-10 17:31] rgrunber commented on #715
For contributing back to JDT, given that the code you're copying comes from org.eclipse.jdt.ui, it would be easier to move it into org.eclipse.jdt.core.manipulation (resides in same git repo as org.eclipse.jdt.ui) as opposed to org.eclipse.jdt.core, which is a separate repository.

When copied into JDT-LS much of the functionality needed for the JDT UI could be removed but would need to be preserv

[2018-07-11 06:50] yaohaizh commented on #706
Fixed with PR: https://github.com/eclipse/eclipse.jdt.ls/pull/720

[2018-07-11 06:50] #706 closed

[2018-07-12 18:39] yyoncho commented on #718
Thanks for the replies.

@tsmaeder I tried to run `che-ls-jdt` with `debug-java` and it failed to load the plugin with the following error:

Unless this is considered a bug or there are plans to implement `Debug Adapter` for  `che-ls-jdt` it looks like `eclipse.jdt.ls` is the only option if I want to support debuging.

@fbricon is there a roadmap for `eclipse.jdt.ls`?

[2018-07-12 19:37] fbricon commented on #718
@yyoncho no, jdt.ls won't include the debugger unless Microsoft decide to contribute its project to the Eclipse Foundation.
However I believe che-ls-jdt will embed java-debug in the near future, see @tsmaeder, @svor for a timeframe.

Now, how did you enable com.microsoft.java.debug.plugin in your setup?  You need to declare a bundles element in the initialization options, like:

[code]

[2018-07-13 03:54] #620 closed

[2018-07-13 07:49] kittaakos commented on #715
The following are the  JDT UI dependencies I am currently resuing for this task:
 - https://github.com/eclipse/eclipse.jdt.ui/blob/d41fa3326c5b75a6419c81fcecb37d7d7fb3ac43/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/javaeditor/SemanticHighlightings.java#L58-L1653
   - These are without any SWT/Preferences dependencies. We need only the [`boolean consumes(SemanticToken)`](https://github.com/e

[2018-07-15 06:52] amiramw commented on #712
@fbricon does it make sense that workspace/symbol should return real position on class file symbols?

[2018-07-15 13:45] fbricon commented on #712
It will certainly have a negative impact on the performance as it'll require reading hundreds of files in some cases, even decompiling a bunch of them

[2018-07-17 15:54] #709 closed

[2018-07-17 19:56] yyoncho opened #725 "Anonymous classes snippet must not end with ; when completion is invoked inside method call"
[code]
will expand to
[code]
Expected - the ; should not be present.

[2018-07-18 14:03] #697 closed

[2018-07-18 14:56] snjeza commented on #725
I can't reproduce the issue - https://www.screencast.com/t/qD2Xn1j3I

[2018-07-18 15:07] fbricon commented on #725
I can't reproduce either, but I'm fairly certain I've seen similar issues before

[2018-07-18 17:02] yyoncho commented on #725
I tried the VScode and the issue is not reproduciblе while at the same time Emacs for some reason receives ; in the response. I am closing it for now and I will investigate it on my side.
[code]

[2018-07-18 17:02] #725 closed

[2018-07-20 14:01] tsmaeder opened #731 "Completion item javadoc does not have links"
In Javadoc hovers, jdt.ls includes links for stuff like "@seealso java.lang.Object". However, in the javadoc delivered in the "additionalInformation" of completion items, no such links are present. I don't really see a reason why not.

[2018-07-25 14:30] fbricon opened #735 "Add Java 11 support"
The Java 11 launch date is scheduled for September 2018. We'll need to ensure jdt.ls can at least:
- [ ] run with JDK 11
- [ ] build Java 11 projects (with the JavaSE-11 runtime execution environment)
- [ ] configure Maven projects to use JavaSE-11 when relevant
- [ ] configure Gradle projects to use JavaSE-11 when relevant
- [ ] support Local-Variable Syntax for Lambda Parameters ([JEP 323](http:

[2018-07-25 14:34] fbricon commented on #731
Do you have a concrete example?

[2018-07-25 14:55] fbricon commented on #731
No idea why Markdown is generated differently (provided the [client declares it supports it](https://github.com/eclipse/eclipse.jdt.ls/blob/4a4e35b22f5227d152d928798ab0e43b423c4ecf/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/preferences/ClientPreferences.java#L159-L166)). One would need to dig into https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/o

[2018-07-25 15:16] JPinkney commented on #731
I haven't looked into this but it might be as simple of a fix as changing https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/CompletionResolveHandler.java#L138 to using JavadocContentAccess2.getMarkdownContentReader like [hover does](https://github.com/eclipse/eclipse.jdt.ls/blob/d0829cc80a2429e5dab81fbadb659bcc17e39b92/org.e

[2018-07-25 15:31] fbricon commented on #731
@JPinkney nice catch, it works

[2018-07-26 15:16] fbricon opened #736 "Add code action to generate `toString()` method"

[2018-07-27 17:22] #731 closed

[2018-07-30 06:07] Flanker32 opened #738 "Can't load gradle project with sub projects(Elasticsearch)"
When load gradle project with sub projects, jdt couldn't recoginzeclasses in other sub projects.
For example, when you open the folder of Elasticsearch, org.elasticsearch.cli.MultiCommand will not find class IOUtils in org.elasticsearch.core.internal.io.IOUtils

[2018-07-30 18:39] fbricon opened #740 "Build fails with JDK 10"
[code]

[2018-08-01 11:09] shoorlyne opened #741 "One jdt.ls instance to handle multiple clients."
I have a scenario which I'd like to ask for some advice about.

We use jdt.ls as the backend to provide code intelligence to our users. We plan to allow potentially 100+ users to edit Java code at the same time. The content in each user's file is different. All the users share exactly the same Java environment, including the compiler/vm, libraries, etc. From the language server's perspective, the

[2018-08-01 19:06] gorkem commented on #741
It is not a scenario we support officially but if you are using a single server instance it will be like opening multiple files on the editor from the same project. They will not be isolated from each other and each user will be able to see other's symbol changes. I guess you can achieve this by adding a proxy to jdt.ls but anything beyond is really hard to achieve today.

[2018-08-01 19:37] yyoncho commented on #741
I am not JDT LS developer but only a user but I think that the following configuration might support what you want:

One workspace and each of the clients will have its own workspace folder added to that workspace. The only problem seems to be the project name (I haven't tried that but I believe that Eclipse/JDT LS does not allow duplicate names). In order to avoid that you may generate a unique n

[2018-08-01 21:58] fbricon opened #742 "logs always show the same timestamp"
... which seems to be the time at which the server was started. In vscode, that results in:
[code]
where `[Info  - 5:52:02 PM]` is added by vscode, `1-Aug-2018 5:33:18 PM >> ...` is sent by the server

[2018-08-02 02:09] hifall commented on #741
@yyoncho, thanks for the suggestion!

@gorkem, would using projects to isolate user files suggested by @yyoncho work in the jdt.ls context?

[2018-08-02 03:36] #742 closed

[2018-08-06 10:55] hifall opened #745 "It consumes more memory than Xmx allows."
Since I am using jdt.ls to parse a small Java file (< 50 lines), I am using this option to limit jdt.ls' memory usage within 64M: `-Xmx64m`. However, it uses 300M+ memory after started.

What's the proper way to run jdt.ls in the lowest memory possible?

[2018-08-07 11:33] kittaakos commented on #715
A work in progress PR for the task: https://github.com/eclipse/eclipse.jdt.ls/pull/746

[2018-08-07 11:35] kittaakos commented on #715
@rgrunber, @fbricon please take a look and give feedback. Thank you!

[2018-08-07 21:04] fbricon commented on #695
lsp4j 0.4.1 added the proper properties \o/

[2018-08-07 21:38] fbricon commented on #695
initial tests show that vscode ignores the deprecated info, unfortunately. Hopefully there are more up-to-date LSP clients out there ;-)

[2018-08-07 21:40] fbricon commented on #695
Requires checking client sends TextDocumentClientCapabilities.completion.completionItem.deprecatedSupport = true

[2018-08-08 13:29] Chream opened #747 "customize build directory"
Hi, I am using lsp-mode (emacs) with a spring webapp. To use the auto redeploy feature of spring devtools it needs to see changes to the classpath. Our app places all classes in build/classes/java/main/... . The language server puts the classes in bin/main/... . Anyway to specify the path to the classes so that it build to the same path? By the looks of it the path is hardcoded [here](https://gith

[2018-08-09 12:24] joaotavora opened #748 "Add convenience wrappers for starting the server from the command line"
In https://github.com/joaotavora/eglot/issues/63, we're adding built-int support for this LSP server.  It's mostly working.

Though it's possible to start it from the command line (as seen in [here](https://github.com/eclipse/eclipse.jdt.ls/wiki/Running-the-JAVA-LS-server-from-the-command-line)), the number and shape of command line arguments that have to be given makes for a brittle implementatio

[2018-08-11 05:26] hifall opened #752 "How do I view the log?"
I am having a situation where jdt.ls fails to start right off the bat, in a certain condition. I'd like to view the log to dive a bit into it.

How do I view jdt.ls' log?

Thanks!

[2018-08-11 13:32] gavocanov commented on #752
Should be in `workspace/.metadata/.log`, workspace location is a parameter you pass when starting the server.

[2018-08-11 19:41] snjeza commented on #752
You may want to take a look at https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting

[2018-08-13 09:13] angelozerr opened #753 "How to manage Java completion, hover, definition, diagnostics in an another language (ex: XML)"
I create this issue just to start a conversation about this topic and if you like the idea, I could create an issue per feature.

Take a simple sample. I have an XML Spring file which defines Java class:

[code]
And I would like to benefit with:

 * completion for Java class declared in class attribute
* hover for Java class declared in class attribute
* definition for Java class declared in class

[2018-08-14 06:55] #738 closed

[2018-08-14 22:18] snjeza commented on #753
You may want to take a look at https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.tests/src/org/eclipse/jdt/ls/core/internal/handlers/CompletionHandlerTest.java

[2018-08-15 07:38] angelozerr commented on #753
@snjeza I'm not sure if I understand your suggestion, but it seems that you suggest me to use JavaClientConnection, is that?

My requirement is to have a command which gives me completion for class name for any files. I mean that LSP completion is working for the editing java file ("give me completion for the current file at offset"), in my case I need "give me completion for the package org.eclip

[2018-08-16 09:52] yyoncho opened #757 "Server should declare executeCommandProvider capability"

[2018-08-17 06:03] Flanker32 opened #758 "Server shutdown too slow when it open large maven project"
Java Language Server will do some job when close the sever and it may takes more than half a minute when the project is large enough. However, VSCode will kill plugin in 5 seconds when it called shutdown function, which makes no time to save the worksapce infos, and language server will do maven reimport when it open an imported project.

[2018-08-17 06:04] Flanker32 commented on #758
https://github.com/Microsoft/vscode/issues/35196
C++ plugins also have the same problem before.

[2018-08-17 08:39] Enerccio commented on #297
You need decompilation to use breakpoint in code that is generated/source is missing (freemarker for instance is missing classes from sources that are in release jar: http://central.maven.org/maven2/org/freemarker/freemarker/2.3.20/ Try finding source for FMParser at freemarker.core package, hint there is none)!

[2018-08-17 10:08] joaotavora commented on #748
ping?

[2018-08-17 18:09] snjeza commented on #748
@joaotavora If you create a PR we will review it.

[2018-08-18 18:42] yyoncho commented on #757
I have implemented "patch" on client side to bypass the check. Feel free to reopen it if you still think that it has to be fixed.

[2018-08-18 18:42] #757 closed

[2018-08-21 22:05] fbricon opened #761 "Update m2e to 1.9.1"
Interesting fixes for jdt.ls:
- [534228](https://bugs.eclipse.org/534228): Use of m2e can lead to corrupt Jars in maven repository (.sha1-in-progress)
- [536402](https://bugs.eclipse.org/536402): Embedded Maven is not behaving the same as standalone Maven causing ClassNotFoundException
- [414645](https://bugs.eclipse.org/414645): runtime scope dependencies available to main classpath
- [537544](ht

[2018-08-22 04:13] fbricon opened #763 "Lower severity of m2e's `Project configuration is not up-to-date...` diagnostics"
Currently, the build command fails whenever the `Project configuration is not up-to-date with pom.xml. Select: Maven->Update Project... from the project context menu or use Quick Fix.` problem is reported on a Maven project.
We have 2 issues here:
- First of all, the severity should be downgraded to warning in the server preferences, as it's rarely an actual error
- The message itself is completel

[2018-08-22 19:45] fbricon opened #764 "HoverHandlerTest.testHoverOnPackageWithNewJavadoc fails randomly"
ci build regularly fails on HoverHandlerTest.testHoverOnPackageWithNewJavadoc.
according to @snjeza :

[2018-08-23 18:00] #761 closed

[2018-08-24 15:49] fbricon commented on #740
After upgrading jacoco-maven-plugin version to 0.8.2, the build fails further down the line, during test execution:
[code]

See
[code]

and

[code]

[2018-08-27 10:41] svor opened #767 "Add quickfix for adding non existing constructor from super class"
Handle the following cases in QuickFixProcessor:
[code]

[2018-08-27 13:00] AlexTugarev opened #768 "[theia/java] getting `language/actionableNotification` for each gradle file in workspace"
In Theia, each `language/actionableNotification` is translated to a user notification. But if you try to open a project in workspace which has many gradle files, this strategy seems to be really spammy.

I compared with vscode, and LS tracing confirms this behavior; getting 75 notifications for a spring boot project. Though they manage to debounce the noise.

Is it intended to let the client debou

[2018-08-27 13:03] fbricon commented on #768
It should not be spammy, ideally. Do you have a sample project reproducing this 75 notifications issue?

[2018-08-27 13:06] AlexTugarev commented on #768
`git clone https://github.com/spring-projects/spring-boot`, which is ok in vscode due to some magic, but I see the notification in tracing:

<img width="1496" alt="screen shot 2018-08-27 at 15 04 42" src="https://user-images.githubusercontent.com/914497/44661338-adf96e00-aa0a-11e8-8a28-058cf63a541e.png">

try with Theia it will show you all of them at once.

[2018-08-27 13:15] fbricon commented on #768
ok, so the 1st thing to do would be for jdt.ls to ignore changed build files under the build folder, it should stop the spam at once

[2018-08-27 13:37] fbricon commented on #768
@AlexTugarev only if they're identical

[2018-08-27 21:16] svor opened #769 "Add quickfix for removing unused local var and all assignments"
Jdt.ls has quickfix to remove unused variable and keep assignments with side effects.
Also need to implement quickfix to remove local variable and all assignments:
![output](https://user-images.githubusercontent.com/1271546/44686582-5af9d800-aa57-11e8-94d4-c77bfb34c2a4.gif)

[2018-08-27 21:36] #556 closed

[2018-08-27 21:55] fbricon commented on #769
Fixed with https://github.com/eclipse/eclipse.jdt.ls/commit/44d351e41b64a336c85189af89009d79ca71fe31

[2018-08-27 21:55] #769 closed

[2018-08-28 08:55] svor opened #771 "Add a proposal to inline local variable"
Handle the following cases in `QuickAssistProcessor`:
[code]

[2018-08-28 08:57] svor opened #772 "Add a proposal for convert local variable to field"
Handle the following cases in `QuickAssistProcessor`:
[code]

[2018-08-28 16:43] yyoncho opened #773 "Provide server changelog"
It would be good to have a separate changelog for JDT LS Server not only the vscode java one https://github.com/redhat-developer/vscode-java/blob/master/CHANGELOG.md since it is intended to be consumed from several other clients not only vscode.

[2018-08-28 18:52] svor commented on #772
Need to port 'org.eclipse.jdt.internal.corext.refactoring.code.PromoteTempToFieldRefactoring' from jdt.ui

[2018-08-28 18:57] svor commented on #771
Need to port `org.eclipse.jdt.internal.corext.refactoring.code.InlineTempRefactoring` and maybe some related classes from jdt.ui

[2018-08-28 22:59] jjohnstn commented on #771
Looking at patch to refactor InlineTempRefactoring and its dependencies

[2018-08-29 18:34] fbricon opened #775 "FormattingOptions.isInsertSpaces=false is ignored during formatting requests"
When requesting to format a file or range using Tabs, i.e. options.isInsertSpaces() is false, the option is always ignored in:
https://github.com/eclipse/eclipse.jdt.ls/blob/44d351e41b64a336c85189af89009d79ca71fe31/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/FormatterHandler.java#L155-L158

[2018-08-29 21:41] #763 closed

[2018-08-30 04:50] yyoncho commented on #771
duplicate of https://github.com/eclipse/eclipse.jdt.ls/issues/656 ?

[2018-08-30 08:27] tsmaeder commented on #719
@fbricon this is a blocker for us, since waiting for the notifications causes the initial "update workspace" for che-in-che to never finish. We need a "fire and forget" here.

[2018-08-30 13:27] #775 closed

[2018-08-30 14:01] fbricon commented on #719
that'll impact @kdvolder's client

[2018-08-30 15:28] kdvolder commented on #719
I would urge not to make breaking changes to the api because clients working with the language server have very little to no control what version of the language server they get paired with (I think... correct me if I'm wrong :-)

I'm not against providing an api that returns a future (so the caller can decide to syncrhonize on the result or not). But in the interest of not making it rather compli

[2018-08-30 15:51] jjohnstn commented on #771
I have a patch.  @fbricon would you like me to submit it?  There is a delay right now as the branch is locked down but I can submit it for inclusion in 4.10.

[2018-08-30 16:00] fbricon commented on #771
@jjohnstn go ahead and submit a patch

[2018-08-30 19:12] jjohnstn commented on #771
Done.  https://git.eclipse.org/r/128391

[2018-08-30 20:05] jjohnstn commented on #772
PromoteTempToFieldRefactoring has a dependency on CodeGeneration and StubUtility both of which are not approved yet.

[2018-08-31 07:31] tsmaeder commented on #719
To be honest, I think "notify" should be a separate call, which is "fire and forget", and thus does need to be tracked by the send/receive infrastructure.

[2018-08-31 14:40] tsmaeder commented on #719
Investigating this further, using requests instead of notifications can lead to deadlock. Consider the following scenario (> means client to jdt.ls, < means jdt.ls to client)

...enough notifications (like "didChangeWatchedFiles") happen to fill up native buffers of the connection
< requestClientCommand (caused as a notification from the "updateProjects" call
...process the client command

->>>>>

[2018-08-31 15:26] kdvolder commented on #719
Okay, let me see if I understand correctly. You are advocating for a seperate mechanism different from 'executeClientCommand' for the specific purpose of sending notifications?

I could agree with that. Admittedly using command execution as a means to send notification is somewhat an abuse for this purpose (if the only tool you have is a hammer, you might be tempted to use it on a screw just becau

[2018-08-31 15:27] fbricon commented on #752
@hifall it depends on your client. The client sets the workspace location when starting up the server. Once you know the workspace location, see @gavocanov's [reply](https://github.com/eclipse/eclipse.jdt.ls/issues/752#issuecomment-412275314)

[2018-08-31 20:30] #768 closed

[2018-08-31 22:34] #773 closed

[2018-09-02 14:33] snjeza commented on #758
I haven't succeeded to reproduce the issue on my machine. I have tested https://github.com/eclipse/che. m2e creates the workspaceState.ser file with 3.7MB in size.
MavenPluginActivator.stop() that calls writeWorkspaceState() takes less than a second.

@Flanker32 What project and OS are you using?

#760

How much RAM does your computer have?

[2018-09-02 14:46] Flanker32 commented on #758
I use [springboot](https://github.com/spring-projects/spring-boot) as the test project.  I do the experiment in Windows 10 1803 with 16G ram, and the xmx of jvm was set to 2G.
@snjeza

[2018-09-02 16:45] snjeza commented on #758
I still can't reproduce the issue.
@Flanker32 I think you close VS Code before spring-boot has been built.
Try the following using the Git command line:

- close VS Code
[code]
- wait for spring-boot to be built - this step takes a few seconds
- close VS Code
[code]

You can see workspaceState.ser has been created correctly.

[2018-09-03 08:08] Flanker32 commented on #758
@snjeza
Please remove springboot-gradle-plugin from the project for language server may meet some problems when open a maven project with gradle sub project. (Delete the folder spring-boot-project\spring-boot-tools\spring-boot-gradle-plugin and remove gradle tool item in pom file of spring-boot-tools)
I redo the experiment with JDK 8 and the workspaceState.ser wasn't created when i close vscode, b

[2018-09-04 18:30] snjeza commented on #758
The issue can be reproduced on Windows. https://github.com/eclipse/eclipse.jdt.ls/pull/760 fixes it.

@fbricon We could call writeWorkspaceState in a save participant instead of in MavenPluginActivator.stop().

[2018-09-04 19:20] #658 closed

[2018-09-04 20:02] snjeza commented on #758
Related m2e bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=538609

[2018-09-05 12:32] fbricon opened #780 "Adopt improved DocumentSymbolProvider API"
A `DocumentSymbolProvider` should now return [document symbols](https://github.com/Microsoft/vscode/blob/bd953248ad6a8e2f8896bfb78b3ae40e0fd47426/src/vs/vscode.d.ts#L2474) which can represent a hierarchy and that can differentiate between the full range of  a symbol and the selection range, e.g. the name of a function.

The API is already [available in LSP4J](https://github.com/eclipse/lsp4j/blob/

[2018-09-05 12:36] kittaakos commented on #780
This LSP4J issue might affect this task: https://github.com/eclipse/lsp4j/issues/252. I am waiting for confirmation.

[2018-09-05 14:59] patilarpith opened #781 "Wrong file uri in publishDiagnostics when 2 jdtls processes are running in parallel"
Tried launching 2 instances of monaco editor. Both editors are initialised with different workspace configuration.

I see some of the 'textDocument/publishDiagnostics' messages in second connection with fileUri of first connection. How is this possible while both connections launch separate jtdls process?
<img width="1102" alt="screen shot 2018-09-05 at 8 00 20 pm" src="https://user-images.githubu

[2018-09-05 15:43] fbricon commented on #781
How is the server started (please show the full command)? Are you sure both instances use different workspace locations?

[2018-09-05 15:48] fbricon commented on #781
I don't see -data being used in the commands you attached. See
 https://github.com/eclipse/eclipse.jdt.ls/wiki/Running-the-JAVA-LS-server-from-the-command-line

[2018-09-05 19:47] fbricon commented on #719
Fixed with #779.

A new `workspace/notify` command is available, taking a ExecuteCommandParams instance as parameter. No response is expected

[2018-09-05 19:47] #719 closed

[2018-09-06 06:01] patilarpith commented on #781
@fbricon Is -data an absolute necessity? As the workspace information is already passed in rootPath & rootUri parameters.

[2018-09-06 07:16] caneta opened #782 "Running mvnw behind a proxy"
I would like to build the project, but I'm behind a proxy and I cannot understand how to configure it with `mvnw` bash script.
The execution stops as follows:
[code]
How to solve that?
Thank you

[2018-09-06 08:50] tsmaeder opened #783 "Threading problem with ProjectsManager.updateWorkspaceFolders"
Occasionally, we have had problems in che-ls-jdt when calling ProjectsManage.updateWorkspaceFolders() twice in a row. We have code that looks something like this:
[code]
At the third line, we get a NPE, because job.getResult() returns null. This looks impossible, but it is not; let me explain. We have been able to look at this in the debugger, and it turns out that the state of the job in question

[2018-09-06 12:39] tsmaeder commented on #783
Actually, the behaviour with the the job manager being suspended is documented on the join() method. I'm not sure whether to handle this at the caller? Let's discuss.

[2018-09-06 12:55] caneta commented on #782
It was not a proxy problem, but I have difficulties downloading poms.

[2018-09-06 12:55] #782 closed

[2018-09-06 12:59] caneta opened #784 "mvnw blocked due to download error"
I'm trying to run `./mvnw clean verify`, but I get the following error:
[code]
Initially I suspected about proxy configuration ([Issue 782](https://github.com/eclipse/eclipse.jdt.ls/issues/782)), but other packages were downloaded correctly.
Is there a way to solve that?

[2018-09-07 00:13] fbricon commented on #784
I suspect a temporary connection error to eclipse.org's server. Works for me so you can try again. Add `-U` to force dependencies updates, just in case

[2018-09-07 06:42] kittaakos commented on #780
@fbricon, I start working on this issue. Please assign this to me. Thank you!

[2018-09-07 07:39] caneta commented on #784
Thank you @fbricon. But I solved connectiong to a net without proxy. Is there a parameter to set proxy for that script?

[2018-09-07 07:41] kittaakos commented on #780
This requires bumping up LSP4J to the `0.5.0.v20180903-1212` release. `0.5.0`has API changes:
 - `o.e.lsp4j.services.TextDocumentService#codeAction(o.e.lsp4j.CodeActionParams)`
 - `o.e.lsp4j.services.TextDocumentService#documentSymbol(o.e.lsp4j.DocumentSymbolParams)`

I will work on the `documentSymbol` in the scope of this task, but the `codeAction`, I just adjust to compile. This means, `CodeAct

[2018-09-07 12:31] fbricon opened #787 "Migrate to lsp4j 0.5.x"
This will allow to start working on a bunch of issues

[2018-09-07 13:14] patilarpith commented on #781
Upon further investigation I realised that the cwd for both process was same `/app`. This created an entry `/app/workspace/jdt.ls-java-project` and the second process might have read from the same configuration.
Passing -data parameter made no difference. Changing the cwd for both processes fixed the issue.

Maybe the `.project` should be written in rootPath or have a {workspace} parent directory?

[2018-09-10 23:46] snjeza commented on #758
Fixed within https://bugs.eclipse.org/bugs/show_bug.cgi?id=538609

[2018-09-10 23:46] #758 closed

[2018-09-11 04:12] lugreen opened #789 "mvnw can't run on Windows"
Hi,when i build the project using mvnw ,get the error following:
![image](https://user-images.githubusercontent.com/1725996/45337632-91893400-b5bb-11e8-8dec-779973e9c96b.png)

[code]

[2018-09-11 19:53] #787 closed

[2018-09-12 22:38] fbricon commented on #789
I found a similar report in http://mail-archives.apache.org/mod_mbox/calcite-dev/201808.mbox/%3CCAKQOUBjuayYX83q9fDTiSEf2tydRpSprMm1UnFjoF+gHzffgcA@mail.gmail.com%3E

Try replacing https://github.com/eclipse/eclipse.jdt.ls/blob/5f2f5521f7eb707d9019fdc39279c930dbc7a8df/mvnw.cmd#L135

with
[code]

If that works for you, I suggest you open a PR to fix https://github.com/takari/maven-wrapper/blob/mast

[2018-09-12 22:43] fbricon commented on #789
@snjeza have you experienced that issue on windows? The wrapper jar needs to be missing

[2018-09-12 22:53] fbricon commented on #784
@caneta you can look at https://kudithipudi.org/2017/02/21/how-to-configure-maven-to-work-with-a-proxy-server/, to setup MAVEN_OPTS and settings.xml

[2018-09-12 22:53] #784 closed

[2018-09-12 22:58] fbricon commented on #781
`-data` must be set. It defines the location of the server workspace, i.e. where all config, cache files are generated. This should be different from the rootPath/rootUri, which represent the location of user folders/projects.
cwd behind the same for multiple processes should not have an impact (eg. multiple instances of vscode-java start their processes from the vscode extension location.

[2018-09-12 23:00] fbricon commented on #780
@kittaakos lsp4j 0.5.0.M1 is now in use. You can start playing :-)

[2018-09-12 23:53] snjeza commented on #789
I have faced the following:

[code]
A workaround:
[code]

https://github.com/eclipse/eclipse.jdt.ls/issues/789#issuecomment-420821420 doesn't help.

@lugreen Can you try to use the Git Bash cmd line.

[2018-09-13 08:08] lugreen commented on #789
@snjeza   I have tried ,but i  encountered other problems :
[code]

[2018-09-13 17:48] snjeza commented on #789
Try to add the following:
[code]

See https://wiki.eclipse.org/Tycho/FAQ#How_do_I_disable_P2_mirrors.3F

[2018-09-14 06:12] Poytr1 opened #791 "Add Ant support"
As the title, will the project has the plan to support ant build integration?

[2018-09-14 08:44] kittaakos commented on #780
I found an inconsistency between the JDT UI code and the code we have copied into JDT LS.
According to the JDT UI code, the `JavaElementLabels.DECL_STRING` should be `" :"` (see the leading whitespace).

https://github.com/eclipse/eclipse.jdt.ui/blob/6dfe33cd6d1478e9ebb5819c42945dcb78acae61/org.eclipse.jdt.ui/ui/org/eclipse/jdt/ui/JavaElementLabels.java#L366

https://github.com/eclipse/eclipse.jdt

[2018-09-17 15:38] kittaakos commented on #780
PR: https://github.com/eclipse/eclipse.jdt.ls/pull/792

[2018-09-17 19:45] #780 closed

[2018-09-17 20:32] fbricon opened #794 "Deleting character causes documentSymbol to fail with BadLocationException"
Always reproducible on vscode.
given:
[code]
Every time you remove delete a character (also happens, less frequently on other actions, like completion), outline fails to be computed, log spits:
[code]

[2018-09-17 21:36] #794 closed

[2018-09-18 17:17] fbricon opened #796 "Should return CodeActions[] instead of Commands[] if client supports code action literals"
the server should check if the client supports codeActions, by checking if clientCapabilities.getTextDocument().getCodeAction().getCodeActionLiteralSupport() != null.
If codeActionLiteralSupport is supported, then return CodeActions. Else, return commands. See https://github.com/Microsoft/language-server-protocol/blob/gh-pages/specification.md#code-action-request-leftwards_arrow_with_hook (availab

[2018-09-18 20:34] fbricon opened #797 ""Update project configuration" messages should be bound to pom.xml, instead of the project"

[2018-09-19 04:42] yaohaizh commented on #797
@fbricon  In this case, if you open a file, but not configuration, should we enable this command or not?

[2018-09-21 22:59] #797 closed

[2018-09-23 03:59] hifall opened #801 "Completion on 3rd-party libs not working."
I am using monaco editor to connect with jdt.ls. The language server seems to work fine, with built-in classes, methods, etc. However, I am unable to make completion on Guava, which is a 3rd-party library developed by Google, work. When I try to trigger a completion list on a Guava object, the list never appears. I guess I need to let jdt.ls know of the existence of Guava in some manner.

What's t

[2018-09-23 04:06] fbricon commented on #801
Your project need to be a Maven, Gradle or simple Eclipse project

[2018-09-23 04:15] hifall commented on #801
Thanks @fbricon for your quick reply. My project is a Maven project, with a pom.xml file. Am I supposed to add the dependency libs to the pom.xml file so that jdt.ls can pick up?

Sorry, my knowledge on Java/Maven is very limited.

[2018-09-23 04:48] hifall commented on #801
I have added Guava to Maven like this:

[code]

`guava-26.0-jre.jar` has been downloaded and placed in the correct location. However, completion still doesn't work with Guava.

[2018-09-23 12:45] micbou opened #802 "Renaming a method does not rename places where the method is overridden"
Open [this project](https://github.com/Valloric/ycmd/blob/bf658fd78722c517674c0aaf2381e199bca8f163/ycmd/tests/java/testdata/simple_eclipse_project) in VS Code (or any other editor with a recent version of jdt.ls), edit [the `TestLauncher.java` file](https://github.com/Valloric/ycmd/blob/bf658fd78722c517674c0aaf2381e199bca8f163/ycmd/tests/java/testdata/simple_eclipse_project/src/com/test/TestLaunch

[2018-09-23 19:18] plitter opened #803 "Completion fails when there are projects inside that use gradle"
At my work we have a large project which has a maven project root, maven middle project root and maven project. At the project level there are some javascript node modules that use gradle.
I'm using YCM with the latest jdt.ls version as of writing 0.25. https://github.com/Valloric/ycmd/pull/1109/commits/aa1c7b71f03f29287b782cdc6aa755cbcab6b131 is the commit I'm at (thanks to Boris and micbou at YC

[2018-09-25 09:09] gengu opened #804 "Why call method setAutoBuilding() twice?"
https://github.com/eclipse/eclipse.jdt.ls/blob/2986d90d46e1589b607defe96081b6cb3ee0c585/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/InitHandler.java#L220

https://github.com/eclipse/eclipse.jdt.ls/blob/2986d90d46e1589b607defe96081b6cb3ee0c585/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/InitHandler.java#L222

[2018-09-25 14:08] kittaakos commented on #804
As I see, it makes sure the auto-build is always off when initializing the projects. Then the code sets the auto-build back to the configured value from the preferences. If it was disabled (`false`) nothing happens, when it is enabled (`true`), then it enables it after the initialization phase.

I did not check it thoroughly, I assume, we set this value on the workspace descriptions, and if the au

[2018-09-25 15:31] yaohaizh commented on #804
The value is not set twice but rather disabled some period during initialization phase to avoid performance penalty.

[2018-09-25 21:50] fbricon opened #805 "Publish builds to a Maven repository"
that'll help adopters consume the TP for instance:
[code]

cc @tsmaeder

[2018-09-25 22:00] dmytro-ndp commented on #805
FYI: a reference to the target issue: https://github.com/eclipse/eclipse.jdt.ls/issues/805

[2018-09-26 13:58] Yanpas commented on #28
Isn't this functionality already implemented is Eclipse? The only thing left to do is to expose LSP-RPC method.

[2018-09-26 14:14] fbricon commented on #805
Documentation for publishing Eclipse projects to https://repo.eclipse.org here:
https://wiki.eclipse.org/Services/Nexus

[2018-09-26 14:20] fbricon commented on #805
Request for a repo: https://bugs.eclipse.org/bugs/show_bug.cgi?id=539500

[2018-09-28 09:28] Yanpas opened #807 "Eclipse project autocompletion doesn't work at all in vscode"
I have a big java project with build-system generated .classpath file. This file consists of entries of kind lib, which point to downloaded jars and src entries with source code. I have created .project file via Eclipse (New java project) and able to work fine in Eclipse, autocompletion works everywhere.

Once I open this project in vscode autocompletion of any non-standard java package doesn't wo

[2018-09-28 09:40] Yanpas commented on #807
Some autocompletions were resolved, e.g. org.apache.hadoop.io.LongWritable (goto definition works), but org.apache.hadoop.io.Text is not resolved.

[2018-09-28 10:10] Yanpas commented on #807
Some interesting logs:
[code]
First I hovered LongWritable
then Text

[2018-09-28 13:06] Yanpas commented on #807
Ahhh, that was tricky. There were some maven project deep inside the root folder, so ROOT/.project was ignored...

The issue is resolved for me

[2018-09-28 19:33] fbricon commented on #802
@svor seems like https://github.com/eclipse/eclipse.jdt.ls/commit/2fe05ff4df82ee6071038cce291a64bf4a8de0e5 broke that feature.
[java-0.27.0-1008.vsix](http://download.jboss.org/jbosstools/jdt.ls/staging/java-0.27.0-1008.vsix) was the 1st build showing the regression, right after that commit. Could you please try to fix it?

[2018-09-29 00:54] #735 closed

[2018-10-01 10:17] hifall commented on #801
@udaykumar106, yes I did set it.

[2018-10-01 11:11] udaykumar106 commented on #801
@hifall that's a bit strange. Can you try and add guava dependency as below?

`
<dependency>
  <groupId>com.google.guava</groupId>
  <artifactId>guava</artifactId>
  <version>26.0-jre</version>
</dependency>
`

[2018-10-01 11:57] hifall commented on #801
Doesn't work either.

[2018-10-01 12:10] fbricon commented on #801
@hifall can you provide a sample project?

[2018-10-01 12:33] hifall commented on #801
Yes. Here is the project zip:

[maven.zip](https://github.com/eclipse/eclipse.jdt.ls/files/2433918/maven.zip)

The args used to start jdt.ls is:

[code]

Guava is available at: `\sbin\maven\my-app\src\lib\guava-26.0-jre.jar`.

[2018-10-01 13:51] fbricon commented on #807
For now, we're importing only 1 kind of project. 1st kind found wins. Gradle, then Maven, then Eclipse.
We may have to change that so we collet all kinds at once.

[2018-10-01 14:04] #804 closed

[2018-10-01 14:59] languitar opened #810 "Build of version 0.25.0 fails"
The released version cannot be compiled anymore due to broken upstream dependencies (again):

[code]

[2018-10-01 15:03] ishepard opened #811 "Install error -- Failed to access p2 repository http://download.eclipse.org/eclipse/updates/4.9-I-builds"
Whenever I try to run `./mvnw clean verify`, I get this message:
[code]
I tried on my Mac, on a virtual machine and on a server, but I always get the same error. I tried to search online but couldn't find anything useful. Any ideas?

[2018-10-01 15:04] ishepard commented on #811
duplicate of #810. We submitted the same issue at the same time. :) Feel free to close this one.

[2018-10-01 15:04] fbricon commented on #810
We're kind of living on the edge here. We're picking up upstream snapshot builds for our 0.* releases so we can move fast, but those build have a short lifespan.
Can't you reuse jdt.ls binaries directly without rebuilding them?

[2018-10-01 15:05] fbricon commented on #811
Duplicate of #810

[2018-10-01 15:05] #811 closed

[2018-10-01 15:06] fbricon commented on #810
FYI 0.26.0 will be released later today

[2018-10-01 15:08] ishepard commented on #810
I have binaries of a previous version and it works just fine. Just wanted to update to a newer version when I saw it was failing..but since it's problably not that important, I am gonna wait the next one. Thanks for the fast response!

[2018-10-01 15:08] languitar commented on #810
@fbricon what's the purpose of source releases if they cannot be built after a few days :/

[2018-10-01 15:16] fbricon commented on #810
@languitar this is not the normal situation. We'll return to depending on stable upstream releases as soon as they have all we need. Again, our primary objective is to move fast. Anyways 0.26.0 will be much less prone to such problems.

[2018-10-01 15:17] languitar commented on #810
ok. so I'll just wait for the next release. Maybe I will add a -bin package for archlinux in case this happens more frequently.

[2018-10-01 15:19] fbricon commented on #810
BTW, jdt.ls releases are digitally signed by the eclipse.org servers, so they are the true releases :-)

[2018-10-01 16:37] Yanpas commented on #807
Currently some logging would be very useful

[2018-10-01 19:21] fbricon commented on #805
This is partially complete for now: snapshot builds are being pushed to https://repo.eclipse.org/content/repositories/jdtls-snapshots/

Add this to your pom.xml to consume jdt.ls artifacts the Maven way:
[code]

Since we don't actually perform an "Maven" release every time (just promote the SNAPSHOT builds), the https://repo.eclipse.org/content/repositories/jdtls-releases/ is still empty. Which mi

[2018-10-01 19:56] fbricon opened #812 "Ignore "Unknown referenced nature" warnings"
Eclipse projects opened/configured in Eclipse might have natures  that are not necessarily available in jdt.ls, like for WTP projects typically, and they produce warnings like:

<img width="702" alt="screen shot 2018-10-01 at 3 53 21 pm" src="https://user-images.githubusercontent.com/148698/46312181-4ea2f680-c592-11e8-8534-e204561c1159.png">

See .project:

[code]

We should simply ignore those wa

[2018-10-01 20:20] fbricon opened #813 "Force Java Compilation fails if there are "Project configuration is not up-to-date with pom.xml" errors"
When a project has the " Project configuration is not up-to-date with pom.xml. Select: Maven->Update Project... from the project context menu or use Quick Fix"  warning, executing the `java/buildWorkspace` command fails because the warning is considered an error.

[2018-10-01 20:22] fbricon commented on #813
This error is supposed to be relabeled and downgraded to warning

[2018-10-01 23:00] fbricon opened #814 "[regression] project level errors don't disappear"
After changing a pom.xml plugin configuration (eg. java source level), the `Project configuration is not up-to-date with pom.xml, requires an update.` shows up. After triggering the update configuration command, the warning is not removed.
Same thing for wrong project natures in .project.
Works fine in previous release

[2018-10-01 23:16] fbricon commented on #814
I traced the problem back to #798. Reverting the commit fixes the issue.

[2018-10-01 23:19] fbricon commented on #814
I broke it,  I fix it:-)

[2018-10-02 01:16] #813 closed

[2018-10-02 13:41] kittaakos opened #816 "[releng] Unable to locate installable unit from the target platform: Eclipse Plug-ins for Gradle"
I cannot load the `Buildship: Eclipse Plug-ins for Gradle - 2.2.2.v20180918-2317-s` dependency from the http://download.eclipse.org/buildship/updates/e47/snapshots/2.x/ p2 update site. Instead of the desired dependency, I can get `Buildship: Eclipse Plug-ins for Gradle - 2.2.2.v20181001-2320-s`.

Does anyone else have the same issue? Thanks!

[2018-10-02 13:41] fbricon commented on #816
It was fixed a few minutes ago

[2018-10-02 13:41] #816 closed

[2018-10-02 13:42] kittaakos commented on #816
It has been fixed with [this](https://github.com/eclipse/eclipse.jdt.ls/commit/e42b4038b536e610d369048d405fc637472d1372#diff-876b543348991468f6ac3f66768a2973) in the meantime.

[2018-10-02 17:11] #814 closed

[2018-10-03 08:49] tsmaeder commented on #805
@fbricon snapshots are nice, but not what we need right now: we'd like to depend on the 0.26.0 tp: this is blocking releasing che with jdt.ls

[2018-10-03 08:55] amiramw opened #819 "Invalid completion proposal we get sometimes"
Hi,

We get the following exception sporadically when doing code completion after adding new dependency on pom.xml (not sure if it is really related).

We are working with version v0.21.0

[code]

Can you make something out of the stack trace?

[2018-10-03 12:51] yyoncho opened #820 "[Feature request] Open super implementation"

[2018-10-03 12:53] fbricon commented on #820
as a command? code action? code lens?

[2018-10-03 13:10] yyoncho commented on #820
IMO command seems like the best option while code lens could be added as an addition. Code action seems to be inconsistent what we currently have - AFAIK there is no code action for goto definition/implementation.

[2018-10-03 13:35] fbricon commented on #803
I don't know what kind of settings ycmd allows (ask their team), but by default, jdt.ls has
[code]
That prevents node modules with gradle build files in it to be imported as Maven projects. That works well for [vscode](https://github.com/redhat-developer/vscode-java/issues/229).
Does ycmd override those settings?

[2018-10-03 13:50] fbricon commented on #801
CLI build also fails to run, so this is not a valid Maven project:
[code]

[2018-10-03 14:00] fbricon commented on #801
You should definitely define guava as
[code]

Using system scope, the proper syntax would be using `<systemPath>${project.basedir}/src/lib/guava-26.0-jre.jar</systemPath>`, but again I strongly suggest you avoid using system scope

[2018-10-03 23:52] hifall commented on #801
As mentioned above, I have tried removing system scope as suggested by @udaykumar106, which is the same as yours, but that did not work. I have tried defining guava like exactly above.

[2018-10-04 13:55] fbricon commented on #43
@snjeza https://github.com/eclipse/lsp4j/issues/257 needs to be tackled 1st.
According to @tsmaeder, che-jdt-ls already implemented renaming support from @gorkem's initial protocol proposal. So, assuming @svor gives you the right pointers, it should be fairly straightforward to
1- propose a PR for lsp4j
2- port the che-jdt-ls renaming support back to jdt.ls

[2018-10-04 14:31] fbricon commented on #802
The message in Eclipse is:
<img width="782" alt="screen shot 2018-10-04 at 10 29 00 am" src="https://user-images.githubusercontent.com/148698/46480993-5b0c9680-c7c0-11e8-8918-3dac08ada534.png">

But then renaming works.

Also, I've found that, in vscode, the renaming actually works in some conditions, depending on whether TestWidgetImpl was already opened, or if it has no errors and some other cas

[2018-10-04 14:34] fbricon commented on #801
try opening your project in vscode to check

[2018-10-08 19:03] Poytr1 opened #822 "java 11 support for java LSP"

[2018-10-08 19:07] #822 closed

[2018-10-09 07:55] kittaakos commented on #28
PR: https://github.com/eclipse/eclipse.jdt.ls/pull/823

[2018-10-10 09:37] tsmaeder opened #824 "Performance issues when adding lots of files"
When we import a new project into a che workspace, we add thousands of files, leading to thousands of "didChangeWatchedFiles()" notifications. Since the notifications are handled synchronously, this may delay processing of commands by minutes, leading to timeouts on the client side.
Handling change notifications in WorkspaceEvents seems to do many things which might not be strictly necessary. We s

[2018-10-10 10:52] mickaelistria opened #825 "Build projects in parallel"
By setting 3 preferences, Java/Maven projects can be built in parallel. This document shows how it performs in the Eclipse IDE with a 10-40% gain depending on the project https://bugs.eclipse.org/bugs/show_bug.cgi?id=531554#c22 . So far, no issue was found with parallel builds, neither in workpsace, nor in JDT, nor in m2e.
JDT-LS should consider switching to parallel builds for better performance.

[2018-10-10 21:52] tsmaeder commented on #824
The main use case for this is when importing a new project into our workspace. I was thinking about not reporting changes while we add a new project. The problem with that is that changes may occur while the project is being imported by jdt.ls. If we turn off changes, these changes will be lost :-(

[2018-10-11 06:58] tsmaeder commented on #824
Discussed with @fbricon that we could put the change notifications processing in the background and have a works queue. On the work queue, we could do optimizations like
* collapse multiple events for the same uri (create+modify+delete == nothing, for example)
* collapse events for directories and their descendants. For example, if we hit a "create" in a directory that is not known yet, we can do

[2018-10-11 19:14] amiramw commented on #819
I got it again without anything related to pom.xml change. Just creating empty class and writing the package statement using code completion. You can see the long request response attached.
[jdt_messages.txt](https://github.com/eclipse/eclipse.jdt.ls/files/2470360/jdt_messages.txt)

[2018-10-16 08:29] tsmaeder commented on #376
This provision was added AFTER jdt.ls implemented code actions this way. So "option 2" was at one time in the protocol, but was removed. We should probably move to using WorkspaceEdits, now that the can contain resource changes, but that would break existing clients.

[2018-10-19 07:47] stCarolas commented on #365
@nemrod thanks,  using `/p` instead of `/a` helps
OpenJDK, LanguageClient-neovim

[2018-10-19 09:27] gengu opened #832 "Did not receive a textDocument/publishDiagnostics message."
RT

My client send a textDocument/didSave and workspace/didChangeWatchedFiles to LS

didSave
[code]

[code]

Then I receive a few message, this is the last one
[code]

but I did not receive a message which the method is "textDocument/publishDiagnostics"

How can I let LS diagnose automatically？

[2018-10-19 09:29] gengu commented on #832
In vscode , I can see , after language/progressReport message, I can receive textDocument/publishDiagnostics message

[code]

[2018-10-19 09:57] gengu commented on #832
My initialize config was

[code]

[2018-10-19 11:42] gengu commented on #832
Only I create a new file or delete a file I can receive a publishDiagnostics message .

[2018-10-19 19:20] #715 closed

[2018-10-19 19:32] fbricon opened #833 "Delete copied code for Semantic Highlighting"
Following up on #746, once @jjohnstn gets https://git.eclipse.org/r/#/c/129807/ merged in jdt.core, we'll be able to remove the copied bits from jdt.ls.

[2018-10-21 04:05] gengu commented on #832
what is a default project , Are there other project types?

[2018-10-23 07:37] #832 closed

[2018-10-24 17:05] snjeza opened #834 "'Force Java compilation' breaks diagnostics in dirty files"
Steps to reproduce:

- open a Java project
- ensure that there is no diagnostic message
- edit a Java file so you get a diagnostic message
- do not save the file
- call 'Force Java compilation'>Full

Diagnostic message disappears.

A solution would be to:

- require a user to save all dirty files when calling 'Force Java compilation'
or
- revalidate opened compilation units after building the work

[2018-10-25 08:13] segabor opened #835 "Specify pre-made workspace"
I have an already prepared workspace containing many Eclipse projects. How can I make Eclipse LPS using that workspace when visiting a project in vscode-java?

[2018-10-25 08:47] segabor commented on #835
Realized, it's up to the client, so closing this ticket.

[2018-10-25 08:47] #835 closed

[2018-10-29 03:29] yaohaizh commented on #43
LSP4J PR: https://github.com/eclipse/lsp4j/pull/277

[2018-10-29 10:28] tsmaeder commented on #834
Does this scenario work in Eclipse?

or

Sorry, but no can do: we don't control the clients.

[2018-10-29 16:50] snjeza commented on #834
It does.

[2018-10-31 10:57] rdzhuang commented on #791
Should it be supported by [ant-ivyde ](https://github.com/apache/ant-ivyde)?

[2018-11-04 13:15] yaohaizh commented on #495
This should have been fixed on the latest version. @mmorhun Please help verify it.

[2018-11-05 10:56] mmorhun commented on #495
@yaohaizh sorry, I do not have dev environment to easily check it now.

[2018-11-05 14:09] yaohaizh commented on #495
@mmorhun  Okay, I'll close this issue for now. Please feel free to reopen it if it is still persist.

[2018-11-05 14:09] #495 closed

[2018-11-12 01:24] andxu opened #841 "A folder or workspace opens multiple Maven projects with an exception"
from @xin-young at  https://github.com/Microsoft/vscode-java-dependency/issues/84

[2018-11-12 02:14] andxu opened #842 "JDT changes the project after calling codeSelect of CompilationUnit"
JDTUtils.findElementAtSelection will call [codeSelect](https://github.com/eclipse/eclipse.jdt.ls/blob/48c9fe231414b110e07ab4b4f957d4f45e18352d/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JDTUtils.java#L615) which will lost the original project information for JDK classes like java.lang.String, sees it is related to the SelectionEngine in JDT(eclispse has the same issue too), becau

[2018-11-12 08:57] yaohaizh commented on #842
The same bugs/issues also repro on eclipse UI.

[2018-11-13 13:30] tsmaeder opened #844 "Allow for import of same maven artifact id"
Currently, we import projects using the maven artifact id as the eclipse project name. When we have the same maven project (by artifact id) twice in a folder in the workspace, the import fails.
I propose that we create the second, third, ... project with the same artifact name as <artifact-id>2, <artifact-id-3>...
As this only concerns new projects, preexisting .project files would not be affected

[2018-11-13 15:03] fbricon commented on #144
@snjeza can you please take a look at that one. This is needed by Che, among other clients.

[2018-11-13 21:36] fbricon commented on #834
could work, but I'm afraid that might cause a performance issue in the case of incremental builds when several hundreds of files are opened.
Might be worth pursuing though, at least to fix @yaohaizh's problem with renaming support in #840

[2018-11-14 05:16] yaohaizh commented on #834
@fbricon @snjeza In order to fix the diagnostic issue, I make some try in this commits: https://github.com/eclipse/eclipse.jdt.ls/commit/3dc6a0c64b00a5fe3ba4e7d99c1dc19043bd81b1

It did fix the issue for rename type, but still not fixed the issue for renaming packages.  So I would think we should save the files when renaming, which is the behavior of the eclipse.

Similar case for "Force Java Comp

[2018-11-14 06:29] fbricon commented on #842
does it need to be fixed upstream (needs a bug report) or can it be done independently in jdt.ls?

[2018-11-14 06:31] fbricon commented on #796
closing as duplicate of #800

[2018-11-14 06:31] #796 closed

[2018-11-14 06:47] fbricon opened #845 "Add "organize imports" as source code action"
Following on #800,  "organize imports" should be made available as a source code action
see https://github.com/redhat-developer/vscode-java/issues/513.

Ideally, the client would no longer need to treat organize imports as a client defined command

[2018-11-14 06:55] fbricon opened #846 "Create getter/setter code action is not available in some cases."
As soon as a private field is used somehow internally in a class, the "Create getter and setter" code action is no longer available.
For instance, here, on the field `name`:
[code]
No warning hence no quickfix is reported on the `name` field, so no "Create getter and setter" code action is visible. It works after removing the call to println(). This behaviour predates merging #800.

[2018-11-14 08:37] tsmaeder commented on #144
I think the title is a bit misleading: if we start recognizing new build files, it should include all build files we understand: maven, gradle, eclipse...

[2018-11-14 11:43] Yanpas opened #847 "Completion cache resets after file recompilation resulting in slow code completion"
I have large enough project (about 8000 java files). Code completion works fast if you do not edit a file, but if you do some edits you will wait for any kind of suggestion for several seconds. Typing code becomes a headache.

STR:
1. Open large project and one java file
2. Try to edit some lines of code : cut and paste, request autocompletion. It should be fast
3. Open any ten files in the same p

[2018-11-14 13:12] fbricon commented on #847
Can you tell if it's a regression or not? What's your project topology? Maven/Gradle? Number of modules? files per modules? number of dependencies?

[2018-11-14 13:33] Yanpas commented on #847
I can't tell whether it's a regression, since I'm using it for about one month.
Project uses Eclipse's `.classpth`. There are several maven and gradle projects in working tree, but maven and gradle support is disabled.

Project consists of 220 jar dependencies (`<classpathentry kind="lib"` in .classpath) and 80 source entries

grepped all sources and calculated number of srcs
[code]

Most projects

[2018-11-14 13:36] Yanpas commented on #847
PC specs:
Intel(R) Core(TM) i7-4770 CPU @ 3.40GHz
32 gigs of RAM

java language server eats 5 gigs of RAM

java user settings:
[code]

java workspace settings:
[code]

[2018-11-14 13:44] fbricon commented on #847
How's the performance in Eclipse?

[2018-11-14 13:49] fbricon commented on #847
Can you enable`"java.trace.server":"verbose"`, then get the logs from the output view after :
- code-completion without editing
- code-completion while editing

[2018-11-14 13:51] fbricon commented on #847
do you have things like automatic save enabled?
can you try after disabling auto build (`"java.autobuild.enabled": false`)

[2018-11-14 13:54] fbricon commented on #847
is that in just 1 project .classpath?

[2018-11-14 14:09] Yanpas commented on #847
Eclipse editing works fluent. But the project was loading much longer (1-2 minutes I guess)

[2018-11-14 14:16] Yanpas commented on #847
yes

[2018-11-14 14:45] Yanpas commented on #847
"files.autoSave": "off",

tried, didn't noticed any difference

[2018-11-14 15:00] Yanpas commented on #847
https://gist.github.com/Yanpas/6b174057dcc440991a2613b046436ee4

https://gist.github.com/Yanpas/229a5f22bae6f274661d4b36b96b9697

[2018-11-14 15:18] Yanpas commented on #847
Nonverbose log when I made some edits, entered `Array` and pressed code completion:
[code]

[2018-11-14 15:52] fbricon commented on #847
can you disable all java extensions but the red hat one?

[2018-11-14 16:31] Yanpas commented on #847
Still the same. about 4 seconds it takes to execute textDocument/documentSymbol

[2018-11-15 01:11] snjeza opened #848 "Server should understand ~/.m2/settings.xml"
Related issue https://github.com/redhat-developer/vscode-java/issues/702

[2018-11-15 22:05] #848 closed

[2018-11-16 03:43] xutao1989103 opened #852 "Invoke didChangeWorkspaceFolders to import java project not works"
Hi @fbricon ,when I call didChangeWorkspaceFolders to import java project , it return success, but the .project file has no <nature>org.eclipse.jdt.core.javanature</nature> , then ProjectUtils.isJavaProject() return false, all the LSP functions does not work. what is the problems , hope you can help me. Thanks

[2018-11-16 08:54] yaohaizh opened #853 "Should provide create types for unresolve types(class) quick fix"
With new resource operation, this should be doable.

[2018-11-16 11:25] segabor opened #854 "workspace"

[2018-11-16 11:26] #854 closed, assigned to nobody

[2018-11-16 20:08] fbricon opened #855 "Update TP to include m2e-apt 1.5.1"
...available from http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-apt/1.5.1-2018-11-16_19-54-26-H16/

Fixes an issue with disabled test classpath segregation. See https://github.com/jbosstools/m2e-apt/issues?q=is%3Aclosed+milestone%3A1.5.1

[2018-11-16 21:44] #855 closed

[2018-11-17 15:02] yaohaizh commented on #852
@xutao1989103 Please provide more context information for your reproduce. It is hard to tell from what you provided.

[2018-11-20 05:02] fbricon commented on #834
can we get unit tests for that?

[2018-11-20 14:51] tsmaeder opened #860 "Initialization and Workspace Update should not lock Workspace"
Currently, both ProjectsManager.initializeProjects() and ProjectsManager.updateWorkspace() lock the whole workspace. Unfortunately, this renders jdt.ls effectively unresponsive until all projects have been imported.
I would propose that we slice the work that is being done in multiple phases that have smaller locks, so that jdt.ls can actually answer requests for code that has already been importe

[2018-11-21 14:05] fbricon opened #862 "Enhance completions for Stream API"
Intellij has some really good postfix completion support. One specific use case of it is completion for the Stream API, eg:

someStream.to| -> proposes flavours or .collect(Collectors.to*) completions. Eg.:

<img width="618" alt="screen shot 2018-11-21 at 9 00 49 am" src="https://user-images.githubusercontent.com/148698/48846148-5ac65b80-ed6c-11e8-865f-0d6ff2225896.png">

It should be possible for

[2018-11-21 14:36] fbricon opened #863 "Provide postfix completion"
As mentioned in #862, [Intellij as great postfix support.](https://blog.jetbrains.com/idea/2014/03/postfix-completion/). I'd love to see similar support in jdt.ls.

There's an existing 3rd party Eclipse plugin for that: [Eclipse-Postfix-Code-Completion](https://github.com/trylimits/Eclipse-Postfix-Code-Completion/), which was supposed to be contributed to JDT. Currently the [ticket is still open](

[2018-11-21 15:17] #845 closed

[2018-11-21 18:47] fbricon commented on #846
this used to work in #679

[2018-11-22 16:13] tsmaeder commented on #860
Also, we could enable parallel builds for Java, which should reduce contention, as well.

[2018-11-22 16:14] tsmaeder commented on #824
Also, since

[2018-11-22 16:15] tsmaeder opened #865 "Scalability Issues (Che-in-Che)"
There are a couple of issues related to che-in-che(6) that cannot be solved simple on the Che side. Currently, the approach in VSCode-Java is to assume that the projects in the "workspace" are static, in particular, no new projects are detected if they are added to an open folder in the workspace (see also https://github.com/eclipse/eclipse.jdt.ls/issues/144).
In Che6, importing new projects into

[2018-11-22 16:20] mickaelistria commented on #860
Why can't JDT-LS work when Workspace is locked? Is it because VSCode uses auto-save and save request are not honored in decent time when importing? I don't think the workspace lock actually prevent from invoking the JDT smartness (mostly relying on the index).

I think it's worth trying parallel builds for JDT-LS. It's only a matter of changing 3 properties in plugin_customization.ini.

[2018-11-23 02:32] yaohaizh commented on #860
For initialization, after the project is imported, it calls refreshLocal to build the workspace and block JDT.LS smartness.  @mickaelistria @tsmaeder  any docs about the parallel building and the plugin_customization.ini settings?

Also, I'm think two scenarios: 1. Build starting from the opened java files first.
1. Cache the JDK/JRE runtime index so even when the project is building, the JRE libr

[2018-11-23 06:35] mickaelistria commented on #860
<http://jdt.ls/> smartness

That is what I don't get. Why does calling refreshLocal block.jdt.ls
smartness? I don't see a good reason for that.

Can.we have another ticket to discuss parallel build?

--
Mickael Istria
Eclipse IDE <https://www.eclipse.org/downloads/eclipse-packages/>
developer, for Red Hat Developers <https://developers.redhat.com/>

[2018-11-26 10:29] shoffmeister opened #866 ""Unexpected internal error module-info.class ... does not exist""
In a project of mine, with Visual Studio Code, with its embedded eclipse.jdt.ls (https://github.com/redhat-developer/vscode-java), I get `Unexpected internal error module-info.class [in <default> [in /home/myself/.m2/repository/org/glassfish/hk2/external/asm-all-repackaged/2.5.0-b42/asm-all-repackaged-2.5.0-b42.jar]] does not exist`

This is with Oracle JDK 10.0.2; `mvn package` is happy

I cannot

[2018-11-26 10:29] shoffmeister commented on #866
Inside the Visual Studio code extension, this ends up as "Lifecycle mapping "org.eclipse.m2e.jdt.JarLifecycleMapping" is not available. To enable full functionality, install the lifecycle mapping and run Maven->Update Project Configuration."

[2018-11-26 10:32] shoffmeister commented on #866
What is the best way to trim this down? Is that "just" the fact that `asm-all-repackaged-2.5.0-b42.jar` does not meet expectations, causing the internal error?

With some feedback, I could create a repro case faster, I suppose.

[2018-11-26 15:40] tsmaeder commented on #860
That's a very good question. One culprit is "didChangeWatchedFiles()", which, unfortunately is executed synchronously, thus blocking subsequent requests. Maybe it's as simple as that?

[2018-11-27 01:08] andxu commented on #842
opened: https://bugs.eclipse.org/bugs/show_bug.cgi?id=541573

[2018-11-27 16:53] fbricon opened #867 "Closing a file doesn't reset diagnostics of dirty changes"
- open a Java file in a project
- break something without saving
- compilation errors are reported
- close file without saving
- diagnostics are not reset

Only reopening the file will reset the diagnostics

[2018-11-27 18:34] snjeza opened #868 "BasicFileDetectorTest tests fail randomly"
Several tests (ReorgQuickFixTest, PrepareRenameHandler, RenameHandlerTest) set  JavaLanguageServerPlugin.preferenceManager incorrectly which is the reason for BasicFileDetectorTest tests to fail.
See https://ci.eclipse.org/ls/job/jdt-ls-pr/1159/

You can reproduce the issue by calling the following command more times:

[code]

[2018-11-28 06:17] fbricon commented on #43
Mostly fixed with #864 . Still need to support package renaming

[2018-11-28 06:17] #43 closed

[2018-11-28 06:42] fbricon commented on #834
This seems fixed by @yaohaizh's PR #864. However, I'd like to see unit tests to ensure future non-regression

[2018-11-28 06:55] fbricon commented on #591
Can't reproduce anymore. Closing.

[2018-11-28 06:55] #591 closed

[2018-11-28 06:59] fbricon commented on #498
I'm going to close it as out-of-scope. SInce this is purely an XML validation issue, already covered by [lsp4xml](https://github.com/angelozerr/lsp4xml/issues/4).

[2018-11-28 06:59] #498 closed

[2018-11-28 07:02] fbricon commented on #363
Fixed with #864

[2018-11-28 07:02] #363 closed

[2018-11-28 07:05] fbricon commented on #577
I haven't seen that error in a while. @gorkem is this still an issue?

[2018-11-28 07:08] fbricon commented on #698
@AmjadHD is this still an issue or can we close this one?

[2018-11-28 07:17] yaohaizh commented on #363
I think this is different issue from the rename file unit. It should be the issue https://github.com/Microsoft/language-server-protocol/issues/540

When user move files on the file explorer, the typescript can update the imports. But required VSCode API are still in proposed stage.

[2018-11-28 20:41] AmjadHD commented on #698
yes, you may close this.

[2018-11-28 20:42] #698 closed

[2018-11-29 01:11] andxu commented on #842
Since from jdt side the project is set to the first one purposely, so we need to change the project from default project since default project is not aware by users.

[2018-11-29 06:45] fbricon commented on #866
which version of the server are you using? which client?

[2018-11-29 13:53] #867 closed

[2018-11-29 13:58] fbricon commented on #866
can you paste your pom.xml content?

[2018-11-29 18:18] theasdfguy555 commented on #622
You could copy each of the individual projects into a new workspace and then launch that workspace. For me, Eclipse wouldn't start to the point where I could switch the workspace. To overcome that, just edit org.eclipse.ui.ide.prefs in the settings.

[2018-11-29 18:20] shoffmeister commented on #866
I tried to extract something I could post, but failed. Then I removed the affected folder from my workspace and re-added - and, presto, no problem any more.

[2018-11-29 18:21] shoffmeister commented on #866
I was on "Language Support for Java" 0.34.0

[2018-11-30 05:44] #868 closed

[2018-11-30 16:49] yyoncho opened #871 "JDT LS fails to import project(s)"
The issue was originally logged in [lsp-java](https://github.com/emacs-lsp/lsp-java) but it is reproducible with vscode-java as well. The projects are: https://github.com/Genymobile/scrcpy and https://github.com/thingsboard/thingsboard

This is the callstack from the first project -
[code]

Original issues: https://github.com/emacs-lsp/lsp-java/issues/79

[2018-11-30 16:52] yyoncho commented on #871
(cc @amosbird @madper )

[2018-11-30 16:56] fbricon commented on #871
scrcpy  is an android/gradle project, which is [not supported](https://bugs.eclipse.org/bugs/show_bug.cgi?id=468315) by [Buildship](https://projects.eclipse.org/projects/tools.buildship), the Gradle integration project in Eclipse. That means the project classpath is not set properly.

@yyoncho can you attach a stacktrace for thingsboard, which is a maven project?

[2018-11-30 17:03] yyoncho commented on #871
[code]

[2018-11-30 17:09] fbricon commented on #871
ok so actually, since the sources contain gradle projects and gradle import has priority over maven (currently you can't mix'n match gradle and maven projects in the same root uri in jdt.ls), which explains why we're seeing gradle exceptions in the stacktrace.
Now we'll have to investigate deeper to understand why non-android gradle projects are failing.

[2018-11-30 17:30] yyoncho opened #872 "Feature: provide option to customize code generation snippets"
This is similar to in Eclipse where you can customize code templates like try/catch getters/setters.
Feature originally requested at https://github.com/emacs-lsp/lsp-java/issues/78

[2018-11-30 20:17] fbricon opened #873 "Update TP to include m2e 1.1.0, m2e-apt 1.5.2"

[2018-11-30 20:18] fbricon commented on #873
fixed with https://github.com/eclipse/eclipse.jdt.ls/commit/eed471ec6cd124d81ff5b235ff91cc25517ed089

[2018-11-30 20:18] #873 closed

[2018-12-01 01:50] fbricon opened #874 "[regression] diagnostics no longer reported on startup, for existing projects"
When you reopen an existing workspace, diagnostics are no longer reported. The regression is caused by c9c5b0a0

[2018-12-01 01:51] fbricon commented on #874
this blocks the release of 0.29.0 I was smoke testing

[2018-12-01 02:53] #874 closed

[2018-12-01 03:22] fbricon opened #875 "Migrate to Buildship 3.0"
... which is should be released [any time now](https://projects.eclipse.org/projects/tools.buildship/releases/3.0.0) (wink wink @donat).

This should fix #484

[2018-12-03 10:35] donat commented on #875
Hi @fbricon! There's a little bit of delay. The features are now ready, but we need to do elaborate testing before we could hit the publish button. I've updated the release date on the project page.

[2018-12-03 14:33] snjeza commented on #834
@yaohaizh has already created DocumentLifeCycleHandlerTest.testBasicBufferLifeCycleWithoutSave - See https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.tests/src/org/eclipse/jdt/ls/core/internal/handlers/DocumentLifeCycleHandlerTest.java#L250

[2018-12-03 14:33] #834 closed

[2018-12-03 21:02] snjeza opened #877 "DiagnosticHandlerTest.testMultipleLineRange fails randomly"
Error Message:

expected:<0> but was:<1>

Stacktrace:

java.lang.AssertionError: expected:<0> but was:<1>
	at org.eclipse.jdt.ls.core.internal.handlers.DiagnosticHandlerTest.testMultipleLineRange(DiagnosticHandlerTest.java:72)

[2018-12-03 21:03] snjeza opened #878 "WorkspaceDiagnosticsHandlerTest.testResetPomDiagnostics fails randomly"
Error Message:

No pom.xml errors were found expected:<3> but was:<6>

Stacktrace:

java.lang.AssertionError: No pom.xml errors were found expected:<3> but was:<6>
	at org.eclipse.jdt.ls.core.internal.handlers.WorkspaceDiagnosticsHandlerTest.testResetPomDiagnostics(WorkspaceDiagnosticsHandlerTest.java:404)

[2018-12-04 14:06] fbricon opened #881 "Provide content-assist for resource bundle keys"
Intellij IDEA provides autocompletion support for resource bundle keys:

<img width="658" alt="screen shot 2018-12-04 at 9 04 10 am" src="https://user-images.githubusercontent.com/148698/49447077-98cb7280-f7a3-11e8-9ad0-20ed39778e02.png">

It should be possible to implement similar feature in jdt.ls (or probably jdt upstream)

[2018-12-04 22:41] fbricon commented on #875
@snjeza I merged the PR for now, so we can play with it, but we'll need to use the actual release.

[2018-12-04 23:21] #484 closed

[2018-12-05 15:28] fbricon opened #882 "Migrate to lsp4j 0.6.0"
See https://github.com/eclipse/lsp4j/releases/tag/v0.6.0

[2018-12-06 00:30] #877 closed

[2018-12-06 01:07] #882 closed

[2018-12-06 03:13] testforstephen opened #885 "SourceAction is too heavy, should support lazy load"
Currently the SourceAction operations (such as Organize Imports, Bulk Generate Getter and Setter, etc.) will be computed in advance every time when the cursor hovers on editor or typing in the editor. This will cause huge of unnecessary computation. Can we change it to lazy load?

Always show the source actions on the editor context menus, but only when the user clicks the corresponding menu, then

[2018-12-06 04:39] fbricon commented on #885
The solution should work for all clients, as per the LSP
But, I agree, ideally, the texedits should be computed at the last minute.
We can probably send lightweight code actions, depending on the context, i.e when editing a module-info.java class, you'll never return generate getters/setters code action.

[2018-12-06 04:42] fbricon commented on #885
@testforstephen we should also consider debouncing code action queries on the server side

[2018-12-06 06:59] zewa666 opened #886 "Auto-fix import new installed dependency missing"
Lately I've observed on a Maven project that when a POM file gets modified (new dependency added) and mvn dependency:resolve is called, the dependency/ies are properly installed yet the Monaco-Editor does not offer a quick fix for importing the missing namespace. After I restart the language server the quick-fix is successfully offered and works. Is there any way to do this without a restart?

[2018-12-06 07:03] zewa666 commented on #886
After reading [this](https://maven.apache.org/plugins/maven-dependency-plugin/resolve-mojo.html) I'm unsure whether the following statement indicates its only available with v9

[2018-12-07 00:23] fbricon opened #888 "NPEs occur when building the new invisible projects"
After #880 has been merged, I'm seeing NPEs when an invisible project is a parameter of

https://github.com/eclipse/eclipse.jdt.ls/blob/29d339e5fd96cd74dba740d8cdec5501e5a54d05/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JDTUtils.java#L597-L599

turns out `resource.getRawLocationURI()` returns null (as allowed per the API) .

Seen when calling the build command:
[code]

I also saw

[2018-12-07 01:39] testforstephen commented on #888
This issue can be reproduced when build the workspace.

[2018-12-07 15:45] #875 closed

[2018-12-07 15:55] snjeza commented on #878
Error Message:
Unexpected diagnostics:
[Diagnostic [
  range = Range [
    start = Position [
      line = 0
      character = 0
    ]
    end = Position [
      line = 0
      character = 0
    ]
  ]
  severity = Warning
  code = "0"
  source = "Java"
  message = "Project configuration is not up-to-date with pom.xml, requires an update."
  relatedInformation = null
]] expected:<0> but was:<1>

St

[2018-12-07 17:24] NikolasKomonen opened #891 "[Feature Request] Hover for parameter name for called functions"
Eg:
If I define a function:
[code]

and call it:
[code]

If I hovered over a specific parameter (where the '|' is my cursor):

[code]

I would like to be able to see the function definition's name from a hover response, eg:

     `Name: 'endOffset'`.

Some problems I see:

  Currently when a user hovers over a parameter that is an Object it displays the Class information.
  To solve this you might

[2018-12-07 20:11] fbricon commented on #891
https://github.com/Microsoft/language-server-protocol/blob/gh-pages/specification.md#hover-request-leftwards_arrow_with_hook shows that Hover can return an array of MarkedString, so this is probably doable.

I like this idea very much

[2018-12-07 20:19] snjeza commented on #871
@yyoncho can you try the following:

- disable the Gradle importer

[code]

- call "Java: Clean the Java Language Server workspace".

[2018-12-07 20:56] #888 closed

[2018-12-10 22:33] fbricon opened #894 "Server returns code actions even when no changes are generated"
When requesting the source actions, Organize imports is always returned, even if there's no change associated with the workspace edit. Also applies to Getters/Setters in #892.

No code action should be returned if it doesn't do anything.

[2018-12-11 01:39] #894 closed

[2018-12-12 14:35] fbricon opened #897 "Relicense to EPL-2"
EPL-1 is now [deprecated](https://www.eclipse.org/legal/epl-2.0/faq.php#h.60mjudroo8e5), we should move to EPL-2 ASAP