[2021-04-09 10:53] mfussenegger commented on #1695
Any inputs on this? Do you consider this a bug in eclipse.jdt.ls or do you think that clients should accept/ignore version 0?

[2021-04-09 15:55] rgrunber commented on #1670
Release review concluded successfully at https://bugs.eclipse.org/bugs/show_bug.cgi?id=572265, so can proceed with the release. I'll prepare the changelogs.

[2021-04-09 17:41] rgrunber commented on #1695
In VSCode, it looks like the text document starts at version 1 from the initial didOpen(..) and various code actions do specify a version of 0 without issue. However, I can't see where it says this is required, or that 0 is special ( https://microsoft.github.io/language-server-protocol/specification#versionedTextDocumentIdentifier ). In fact, it looks like the version should always be increasing s

[2021-04-09 19:10] rgrunber commented on #1716
I think one option here would be to debug the language server to figure out where things are going wrong. See https://github.com/eclipse/eclipse.jdt.ls#running-from-the-command-line . Specifically, I would look at https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L558 and see where it's failing.

There

[2021-04-09 19:18] rgrunber commented on #1699
Closing this issue for now as I don't think we're likely to provide distro specific packaging other than what we already offer. Maintainers of the language server in their specific IDE and/or OS are in a better position to integrate it effectively. If this changes in the future we can re-evaluate.

[2021-04-09 19:18] #1699 closed

[2021-04-09 23:22] tivrfoa opened #1717 "[Question] : How to allow annotation in multiple lines?"
Hi,

I'm using spotless with Eclipse jdt formatter

I would like to use annotation in multiple lines, like the example below, but it's complaining that it should be on the same line.
[code]

I'm using eclipse:
[code]

And I have this in settings:
[code]

I also tried with `one_line_never` and without this setting, but no success.

Full settings: https://gist.github.com/tivrfoa/95b1b13cc3ec9c59f97d

[2021-04-10 02:03] ujwal-jain opened #1718 "Test Error when doing clean verify"
Hi,
I'm getting a test error when I do ```./mvnw clean verify```.  I'm not sure how to proceed, please help.

[code]

openjdk version "11.0.10" 2021-01-19 LTS
OpenJDK Runtime Environment Corretto-11.0.10.9.1 (build 11.0.10+9-LTS)
OpenJDK 64-Bit Server VM Corretto-11.0.10.9.1 (build 11.0.10+9-LTS, mixed mode)

[2021-04-10 03:31] dradtke commented on #1400
Yeah, there's a poorly-documented command [`java/buildWorkspace`](https://github.com/eclipse/eclipse.jdt.ls/blob/1400ad5d47aec41a1fbbeb1b680a7ef690691c04/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L815), which helps in my case, as long as I forced a full rebuild.

[2021-04-10 05:20] itsaky commented on #1716
As you said, I added a breakpoint at JDTLanguageServer:558. When the breakpoint was hit, I executed this command :
```print position.toString()```. It returned this:
[code]
The position here is a valid position. ```toLowerCase()``` method is called at this index. When I executed ```step``` command in the debugger, it shows calls to ```org.eclipse.lsp4j.jsonrpc.json.StreamMessageProducer.listen()``

[2021-04-12 02:24] testforstephen commented on #1695
Yes, "null" is better. On JDT language server side, we don't actually maintain version information for the files, so it's impossible to specify a correct version number in the workspace edit response. Having said that, it is more appropriate to give it "null".

However, the current LSP4j model only accepts "VersionedTextDocumentIdentifier" in TextDocumentEdit, which does not support null values. A

[2021-04-12 09:10] howel52 commented on #1610
I got the same problem.

And then I removed the zip file.
[code]
workaround for me.

[2021-04-12 17:00] #1714 closed

[2021-04-12 18:18] #1647 closed

[2021-04-13 03:28] Eskibear opened #1722 "wrong status in 'language/progressReport' notification when processing call hierarchy requests"
By a glance of the log, I find `workDone` is 10x larger than `totalWork`, making `status` 1000% which is unreasonable. Is it from upstream or set by jdtls itself?

[code]

[2021-04-13 09:20] apupier opened #1723 "NPE in NewCUProposal.createChange(NewCUProposal.java:277)"
[code]

using invisible project with java.project.referencedLibraries with org.apache.commons:commons-math3:3.6.1
trying to call completion after `new org.apache.commons.math3.fraction.`

not sure if related but there is no completion provided after `new org.apache.commons.math3.util.` even if it provides completion for `ContinuedFraction` when starting to type `new Continued` which is in package

[2021-04-13 13:47] howel52 opened #1724 "cherry pick commits which solve the lombok's getter setter issue for java8"
The latest version of [vscode-java](https://marketplace.visualstudio.com/items?itemName=redhat.java) that supports java8 is vscode-java@0.64.1

The vscode-java@0.64.1 depends on jdt.ls@0.58.0

And we found the same problem with https://github.com/eclipse/eclipse.jdt.ls/issues/1548 in jdt.ls@0.58.0(commit sha: be8e6364eb5dbee042639116ab4f6a89d3402cd3)

Then I cherry pick some [commits](https://gith

[2021-04-13 13:53] fbricon commented on #1724
Any version < 1.0 are unsupported.
I'm not expecting we provide any backports for such an "old" version

[2021-04-13 13:58] howel52 commented on #1724
@fbricon

Okay, but how do we make the vscode-java@0.64.1 fix the 'getter, setter'  issue for java 8.

I think  the vscode-java@0.64.1 is the last version that supports java 8.

[2021-04-13 15:59] rgrunber commented on #1718
@snjeza , any ideas what could be happening here ? I'm not able to reproduce on Linux. Could something be going wrong in configureJVMSettings(..) for the project creation ? I might need to try the exact JVM used. Probably https://aws.amazon.com/corretto/ .

[2021-04-13 16:24] rgrunber commented on #1722
Looks like it's in the MethodWrapper#getCalls(monitor) calls. We seem to be re-using MethodWrapper calls by caching them as incoming/outgoing, and as part of the getCalls(..) logic i see calls to monitor.beginTask(..) which would probably reset the total work (which is what we see). Note that beginTask(..) states `Notifies that the main task is beginning. This must only be called once on a given p

[2021-04-13 17:05] rgrunber commented on #1724
You would need to clone eclipse.jdt.ls , check out the 0.58.0 tag, and cherry-pick those commits onto that tag, which you seem to have done. From there, you would clone vscode-java (in the same directory), check out the 0.64.1 tag, run `npm install` followed by `npm run build-server`, and `vsce package` (need vsce installed) . The resulting vsix should contain a language server with the desired su

[2021-04-13 20:44] snjeza commented on #1718
@rgrunber checking...

[2021-04-13 21:01] snjeza commented on #1718
@rgrunber  @ujwal-jain I can't reproduce the issue

[code]

[2021-04-13 21:43] rgrunber commented on #1716
Near the top I see :

[code]

This seems to correspond to https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JDTDelegateCommandHandler.java#L70 . So `java.project.addToSourcePath` is being called but no argument is provided. Does your language client do anything like that for some command ?

Alternatively, you could insert a condition

[2021-04-14 02:05] howel52 commented on #1724
@rgrunber
My current solution is the same as you said, but it means I need to fork jdt.ls and maintain it.

[2021-04-14 02:09] itsaky commented on #1716
@rgrunber

I removed calls to ```addToSourcePath``` and that error was gone.

If you look into the [logs](https://github.com/eclipse/eclipse.jdt.ls/files/6307728/default.log), you'll notice that the server gets the completion request and responds with ```Completion request completed```

[2021-04-14 04:31] ujwal-jain commented on #1718
I downloaded and switched to the openjdk-11 instead of corretto and same issue persists. For now, I have simply commented out the contents of the test and ran ```./mvnw clean verify``` and the project builds.

[2021-04-14 15:15] rgrunber commented on #1718
And you're on the latest commit of the master branch, right ? It's not related to Corretto as that works for me also.

The fact that the test fail the assertion for dinging the preview feature errors/warnings seems to imply that the code assumes you're running the latest JDK and auto-enabes those options.

[2021-04-14 16:00] snjeza commented on #1718
@ujwal-jain
Could you run
[code]
Suppose, you are using jdk 15.

[2021-04-14 16:13] rgrunber commented on #1716
Thanks. I'm not sure why completions are being returned empty, so that'll have to be another thing to look at but for the hover failures, it looks like [offset + length > buffer.getlength()](https://github.com/eclipse/eclipse.jdt.core/blob/master/org.eclipse.jdt.core/model/org/eclipse/jdt/internal/core/Openable.java#L162) . Since length is 0 for hover, and offset should be positive (given you pass

[2021-04-14 21:06] qwertzguy commented on #222
Defining two proxies in ~/.m2/settings, one for http and one for https solved it for me: https://stackoverflow.com/a/59138221/965176

[2021-04-14 22:39] mozhuanzuojing opened #1725 "GradleClasspathContainerInitializer cannot update request"
# GradleClasspathContainerInitializer No updateable method implemented ？
***

- parent class `ClasspathContainerInitializer` has a method `canUpdateClasspathContainer`

- There is no implementation method `canUpdateClasspathContainer` 。now， Can not update the class container

[2021-04-14 23:39] snjeza commented on #1725
@mozhuanzuojing  See https://github.com/eclipse/eclipse.jdt.core/blob/master/org.eclipse.jdt.core/model/org/eclipse/jdt/core/ClasspathContainerInitializer.java#L146

[2021-04-14 23:53] ujwal-jain commented on #1718
@rgrunber Yes, I'm on the latest commit. I had just cloned it onto my machine.

@snjeza
[code]

[2021-04-15 00:03] snjeza commented on #1718
@ujwal-jain I can reproduce the issue only with JDK 15
[code]
@rgrunber Could you test on Mac?

[2021-04-15 00:12] ujwal-jain commented on #1718
Ok, let me try.

[2021-04-15 01:02] mozhuanzuojing commented on #1725
@snjeza thanks, i will .

[2021-04-15 01:14] ujwal-jain commented on #1718
When I do
[code]
the jdk is
[code]
However, when I run
[code]
the jdk is
```openjdk version "11.0.10" 2021-01-19 LTS```

I thought this was the problem, so I removed all my jdks except 11, but the problem still persists.

[2021-04-15 03:06] snjeza commented on #1718
@ujwal-jain

could you run
[code]
and attach the ls.out file?

[2021-04-15 07:04] testforstephen opened #1726 "TextEditConverter should preserve the granularity of text edit when converting textEdit to workspaceEdit"
This is a follow up enhancement for https://github.com/eclipse/eclipse.jdt.ls/pull/1445#issuecomment-791148093.

[2021-04-15 16:27] Yanpas opened #1727 "Could not install Gradle distribution under proxy"
**Despite I have these settings in vscode**:
[code]
I get error in vscode:
`Could not install Gradle distribution from 'https://services.gradle.org/distributions/gradle-6.8.3-bin.zip`

In JDT LS log:
[code]

[2021-04-15 16:43] Yanpas opened #1728 "gradle "runtime files" dependency are not used when starting debug session"
I have build.gradle like:
[code]

When I start my debug task:
[code]

this foo.jar's content is not found by ClassLoader.

Running `gradle run` works.

[2021-04-15 20:18] #1670 closed

[2021-04-15 21:42] snjeza commented on #1723
https://github.com/eclipse/eclipse.jdt.ls/pull/1729 fixes NPE.

This is an upstream issue. I have created https://github.com/eclipse/eclipse.jdt.ls/pull/1729

[2021-04-16 19:40] datho7561 opened #1731 "Feature request: API to extend langauge support"
For some Java libraries/frameworks, its helpful to provide framework-specific completion/validation/hover/... in a Java file.

For instance, these projects extend eclipse.jdt.ls's features for a specific framework:
 * [lsp4mp](https://github.com/eclipse/lsp4mp)
 * [lsp4jakarta](https://github.com/eclipse/lsp4jakarta)

The current mechanism used in order to extend completion/validation/hover/... in

[2021-04-16 21:31] #1723 closed

[2021-04-18 02:19] #1725 closed

[2021-04-18 05:26] tylertian123 opened #1732 "Javadoc overriding methods not inheriting @param descriptions"
When a method overrides/implements a method from the parent class, the parameter descriptions from `@param` tags in the parent class are not inherited.

For example, with the following code:
[code]
[code]

In the Javadoc hover for `Bar.foo(int)`, the description for the parameter `i` is empty (screenshot taken from VS Code with the [Language Support for Java](https://github.com/redhat-developer/vs

[2021-04-19 08:45] slPerryRhodan commented on #1635
Same issue here with:
`resources.srcDirs = ['src/contractTest/resources', 'src/contractTest/contracts', 'src/main/resources']`

After removing 'src/main/resources' it works fine.

It doesn't produce any errors In IntelliJ. Would be nice if eclipse is also more robust in this case.

[2021-04-19 13:55] rgrunber commented on #1716
I think in both these cases, I would first confirm that for [hover](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L560) or [completion](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L514), those lin

[2021-04-19 16:47] snjeza commented on #1728
@Yanpas I can't reproduce the issue. Could you attach a project example?

[2021-04-19 17:07] snjeza commented on #1727
@Yanpas could you try to add the following property:

[code]

[2021-04-20 09:58] fbricon opened #1735 "java.project.referencedLibraries should resolve paths leading with ~"
If I define a  referenced library such as:
[code]
My no-build-tool project compiles. However, if you change it to
[code]
It fails. Using ~ is more portable so would be good to resolve it automatically

[2021-04-20 10:02] fbricon commented on #1732
@rgrunber this works in Eclipse, so this is a problem specific to jdt.ls

[2021-04-20 13:20] rgrunber commented on #1732
I'll try to have look, that is quite odd.

[2021-04-20 23:48] rgrunber commented on #1732
This seems to have worked correctly in 0.15.0, after which JavadocContentAccess2 was introduced, so it has been an issue since. I think to really undestand why it's going wrong, it'd be best to compare with Eclipse's approach, which probably does things correctly. I think the code before 0.15.0 just looked up the method being overriden in the hierarchy and directly used that javadoc. The current i

[2021-04-21 00:02] fbricon commented on #1732
wow you really went all the way back to 0.15.0??

[2021-04-21 13:50] rgrunber commented on #1735
Seems like a nice touch. Do we have a general "path resolution" class that we could apply to all settings that take a filesystem path, so we could benefit everywhere from this ?

I'm thinking even things like ${user.dir}, ${user.home}, ${java.home} from system properties/env ?

[2021-04-21 16:23] snjeza commented on #1735
I will try to do it.

[2021-04-21 16:51] rgrunber commented on #1724
Yup, that's probably the best way to do it for now.

It's difficult to continue to support older versions with minimal effort when underlying [dependencies](https://github.com/eclipse/lsp4j/issues/547) are updating, partly due to finding it difficult to maintain older Java 8 support.

Closing this as there seems to be an agreed upon way to go about it.

[2021-04-21 16:51] #1724 closed

[2021-04-21 20:57] rgrunber commented on #1695
@testforstephen , when I look at https://github.com/eclipse/lsp4j/blob/593cdb65217fd406267812ee5394342617e32f71/org.eclipse.lsp4j/src/main/java/org/eclipse/lsp4j/adapters/VersionedTextDocumentIdentifierTypeAdapter.xtend#L26 , shouldn't this support a 'null' value even if the "OptionalVersionedTextDocumentIdentifier" isn't actually being used as a class ?

I tried replacing "0" with null and it see

[2021-04-21 21:40] mfussenegger commented on #1695
We figured out that the type got changed in 3.16 of the protocol to OptionalVersionedTextDocumentIdentifier and before that the version wasn't allowed to be null. So neovim now also treats 0 the same as null.

Might still make sense to change it but I wouldn't consider this as bug anymore.

[2021-04-22 01:15] testforstephen commented on #1695
Ok, it uses the JSON Adapter to deal with null, not straightforward, but should work.

[2021-04-22 07:46] CsCherrYY opened #1736 "Changes to Formatter profiles don‘t take effect in real time"
Steps to reproduce:
1. Open a new Java project, use `Java: Open Java Formatter Settings` and choose the default profile
1. Change the setting `org.eclipse.jdt.core.formatter.blank_lines_before_imports` in the xml to `5`
1. Command palette: `Format Document`, you'll find that there is still one line before imports
1. Reload window
1. Command palette: `Format Document` again, you'll find that there

[2021-04-22 19:20] rgrunber commented on #1732
Well, I jumped back based on modifications to JavadocContentAccess2, so there were only about 4 versions to check. I was surprised they all more or less still ran without issue :P

[2021-04-23 01:12] rgrunber opened #1741 "java.settings.url does not override default java settings"
**Test.java**
[code]
**/home/user/Scripts/org.eclipse.jdt.core.prefs** (set as java.settings.url)
[code]

On initial load, only the javadoc errors are displayed. The missingSerialVersion error is ignored (which is now the default since 0019109d ). https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/StandardProjectsManager.java

[2021-04-23 09:23] #1736 closed

[2021-04-23 20:43] #1735 closed

[2021-04-25 06:12] testforstephen opened #1743 "Failed to import a folder with multi gradle projects due to "Duplicate root element""
- Download spring sample https://github.com/spring-guides/gs-rest-service
- Open it with VS Code.

It failed to import the gradle projects with the following exceptions. Also see the entire [server log](https://github.com/eclipse/eclipse.jdt.ls/files/6371342/_.log).

[code]

[2021-04-25 22:56] rgrunber commented on #1712
The LSP spec supports this, but it would be good to know which clients do. For example, looking at microsoft/vscode#105870 , there is no support, as the workspace/symbol request currently sends a null partialResultToken.

[2021-04-26 12:47] #1695 closed

[2021-04-27 09:09] jdneo opened #1745 "Refactor to method signature"
_Refer the comments from @itaygoz in https://github.com/microsoft/vscode-java-dependency/issues/487:_

In Eclipse IDE there is a feature to refactor a method signature.
I would like to have this feature also in vscode.

Thanks, Itay

[2021-04-27 10:23] Invertisment opened #1746 "Is it possible to change default formatting rules to allow user formatted code?"
I have this code which I've written in Intellij and which, in my opinion, is readable for me:
[code]
I open up my Spacemacs and format the code using `jdtls` (this project) and I get this:
[code]

The difference is that Intellij is more lenient and allows both versions, while `jdtls` forces the second one.

Is it possible to adjust `jdtls` to allow custom or less radical formatting? I'd prefer to

[2021-04-27 13:50] snjeza commented on #1746
@Invertisment You may want to take a look at [Formatter settings](https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings) and https://github.com/redhat-developer/vscode-java/issues/1126#issuecomment-548085982

[2021-04-27 14:03] #1741 closed

[2021-04-27 14:36] snjeza commented on #1743
The complete and initial directories contain the same project name - rest-service.
You can import them using:

[code]
or
[code]
You can also update some project name in settings.gradle.
[code]

[2021-04-27 15:07] Invertisment commented on #1746
Ok, that's some great info.

I did this and I think it worked:
[code]

[2021-04-27 15:14] #1746 closed

[2021-04-27 15:51] Invertisment commented on #1746
Also Intellij are capitalists and don't allow exporting their settings as this format:
https://intellij-support.jetbrains.com/hc/en-us/community/posts/206575559-How-to-Export-Code-Formatting-Configurations-to-Eclipse

[2021-04-27 19:50] #1732 closed

[2021-04-28 07:10] testforstephen commented on #1743
yes, it uses the same project names in the two sub folders. It seems all spring-guide/gs-* samples are using the same convention and would fail to import with eclipse.jdt.ls.

[2021-04-28 15:24] snjeza commented on #1743
@testforstephen Also, we can't import two projects with the same name in Eclipse.

[2021-04-28 15:39] snjeza commented on #1711
@hunman89 You can try the following:
[code]

[2021-04-28 21:31] jemag opened #1748 "Build failure on arch with openjdk 11.0.11"
Seems like some tests are failing.
This happens on 2 of my computers, both using Arch Linux with same openjdk version. Note that the build was previously working when initially ran a couple weeks ago.

## Details

Output from `./mvnw -version`
[code]
Full output from running ` ./mvnw clean verify -e -l build-output.txt`
[build-output.txt](https://github.com/eclipse/eclipse.jdt.ls/files/6394872/bui

[2021-04-29 00:05] #1606 closed

[2021-04-29 09:09] neilmlapuz opened #1749 "Jar file information based on extracted import package"
Given that I have extracted an import package;

from a Java file and is now of type _IImportDeclaration_; is there a way for me to get information of its corresponding jar file?

[2021-04-29 14:23] rgrunber commented on #1749
IImportDeclaration is an IJavaElement, so the most general way I could think of is with `import.getAncestor(IJavaElement.PACKAGE_FRAGMENT_ROOT)` . See https://github.com/eclipse/eclipse.jdt.core/blob/master/org.eclipse.jdt.core/model/org/eclipse/jdt/core/IPackageFragmentRoot.java for more info on what this may be depending on the origin of the import.

[2021-04-30 18:00] snjeza commented on #1748
@jemag could you try https://github.com/eclipse/eclipse.jdt.ls/pull/1751

[code]

[2021-04-30 23:09] jemag commented on #1748
@snjeza Thank you for the followup. I tried it, and I am still getting a build failure although the reason seems different this time:
here is the failure within the output:
[code]

And here is the full output:
[build-output-1751.txt](https://github.com/eclipse/eclipse.jdt.ls/files/6408430/build-output-1751.txt)

[2021-04-30 23:45] snjeza commented on #1748
@jemag could you try the following:

[code]

[2021-04-30 23:56] jemag commented on #1748
 @snjeza it does seem to build successfully now with the GRADLE_HOME unset. I am a bit perplexed by that, shouldn't the gradle wrappers prevent such problems?

[2021-05-01 00:39] snjeza commented on #1748
The [multi-module](https://github.com/eclipse/eclipse.jdt.ls/tree/master/org.eclipse.jdt.ls.tests/projects/gradle/multi-module) doesn't use any gradle wrappers.
Your GRADLE_HOME includes some older version of gradle.

[2021-05-01 03:09] jemag commented on #1748
I doubt this is an issue of me having an older version of gradle.
This is my only gradle and my GRADLE_HOME
[code]

[code]
[code]

Content of GRADLE_HOME/bin
[code]

and finally its version:
![image](https://user-images.githubusercontent.com/7985687/116766113-bf367c00-a9f6-11eb-8b98-12eaa39013da.png)

I am simply using the default gradle package from arch repo:
[code]

[2021-05-01 03:17] jemag commented on #1748
I can also replicate the issue with this terrible Dockerfile:
[code]
Building it:
`docker build --no-cache -t eclipse .`
Running it in background
`docker run -d eclipse`
Exec into it
`docker exec -it 7bf2e sh -l`
NOTE: `sh -l` is important because the GRADLE_HOME is set by a script within /etc/profile.d/ and it won't be loaded otherwise as sh won't be considered as login shell

Verifying that GRAD

[2021-05-01 16:11] snjeza commented on #1748
@jemag I have updated https://github.com/eclipse/eclipse.jdt.ls/pull/1751
Could you, please, check again - https://github.com/eclipse/eclipse.jdt.ls/issues/1748#issuecomment-830265484

[2021-05-01 19:35] jemag commented on #1748
@snjeza seems to build properly with the added gradle wrapper from your PR

[2021-05-02 18:57] 0dinD opened #1754 "Cannot launch JDT.LS using the 'jdt.ls.remote.server.launch' file"
I've recently run into a problem when trying to launch JDT.LS with vscode-pde, where the server immediately crashes upon launching via right click + **Debug PDE application** on [`jdt.ls.remote.server.launch`](https://github.com/eclipse/eclipse.jdt.ls/blob/0e18f1b258efbcc8d91fd89e19a5d1dbd125b177/launch/jdt.ls.remote.server.launch).

<details>
	<summary>These are the exceptions being logged</summa

[2021-05-02 19:44] snjeza opened #1756 "InvisibleProjectImporterTest.automaticJarDetectionLibUnderSource fails randomly"
See https://ci.eclipse.org/ls/job/jdt-ls-pr/2634/ and https://github.com/eclipse/eclipse.jdt.ls/pull/1753#issuecomment-830855978

[code]

NPE occurs at https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/BaseJDTLanguageServer.java#L70

[2021-05-03 02:18] #1716 closed

[2021-05-03 21:00] fopnet commented on #1685
not working suddenly ! This becoming very constant, each update plugin ! I have not more patients with this updates without verifying compatibility version plugin ! Somebody can fix this at once

[2021-05-04 09:01] #1749 closed

[2021-05-04 18:28] snjeza commented on #1748
I'm checking #1756

[2021-05-04 19:05] #1748 closed

[2021-05-04 20:50] #1754 closed

[2021-05-05 18:35] rgrunber opened #1761 "Invalid formatter profile name setting causes errors"
`java.format.settings.url` should point to a valid formatter file and do not set `java.format.settings.profile` at all. Formatting should work as expected.

Now change `java.format.settings.profile` to a name that doesn't exist in the formatter file. You'll need to restart the language server as it seems changing the profile name does not affect the formatter used automatically.

You should see th

[2021-05-05 19:25] rgrunber commented on #1761
Looking at https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/StandardProjectsManager.java#L531 , I guess we would need to add `getFormatterProfileName()` if we wanted to react to changes there. Otherwise, changing it would have no effect.

[2021-05-06 00:28] #1761 closed

[2021-05-07 13:40] fbricon opened #1764 "Package name not recognized when opening standalone java files"
If you open a folder containing src/mypackage/Foo.java, with

[code]

You end up with `The declared package "mypackage" does not match the expected package ""`

See attached [project](https://github.com/eclipse/eclipse.jdt.ls/files/6441935/wrong-packagename.zip)

<img width="1269" alt="Screenshot 2021-05-07 at 15 35 01" src="https://user-images.githubusercontent.com/148698/117458609-c277bd80-af4a-

[2021-05-07 14:10] rgrunber commented on #1764
For a source file placed under `mypackge.yourpackage` correctly, the classpath entry for the sources is incorrectly defined as `_/src/mypackage/yourpackage` (as opposed to just `_/src`). After a restart, it seems to get it right, and I'm also seeing the behaviour where a second restart seems to eliminate the source entry entirely.

InvisibleProjectImporter is probably a good starting point.

[2021-05-07 20:50] snjeza commented on #1764
The issue has been introduced by https://github.com/eclipse/eclipse.jdt.ls/pull/1658
A workaround is to add
[code]
to .vscode/settings.json

[2021-05-08 14:30] medwards commented on #1326
Still getting this build failure after running `mvn clean verify` on OpenJDK 11 (`javac 11.05`, `openjdk version "11.0.5" 2019-10-15`) against latest master (commit `6836ff9bb41`)

[2021-05-08 15:59] snjeza commented on #1326
@medwards could you show your log when using the latest master?

[2021-05-09 11:23] medwards commented on #1326
Frustratingly, I am no longer able to reproduce. I now get 36 test failures/errors none of which are the one that I originally reported so I will close the report as I'm clearly experiencing some other issue now.

I've uploaded [mvn.log](https://github.com/eclipse/eclipse.jdt.ls/files/6447361/mvn.log) if you're curious about the new failures, but like I said its some new issue and I haven't verifi

[2021-05-09 11:23] #1326 closed

[2021-05-09 12:36] snjeza commented on #1326
@medwards you can try
[code]
or
[code]

[2021-05-10 15:03] #1756 closed

[2021-05-11 21:36] rgrunber commented on #1448
Closing this as we hopefully aim to address part of this issue in https://github.com/eclipse/eclipse.jdt.ls/issues/1712 .

Current problem is finding a client that actually supports the spec as even VS Code currently doesn't afaict.

[2021-05-11 21:36] #1448 closed

[2021-05-12 00:10] rgrunber commented on #805
Closing as this looks to have been resolved at that time.

[2021-05-12 00:10] #805 closed

[2021-05-12 00:16] #1061 closed

[2021-05-12 00:22] rgrunber commented on #278
Closing this as it seems to have been resolved. We're releasing Maven artifact on the Eclipse Nexus instance ( https://repo.eclipse.org/content/repositories/jdtls-releases/ ) and OSGi bundles / tarballs at https://download.eclipse.org/jdtls/milestones/ .

[2021-05-12 00:22] #278 closed

[2021-05-14 01:27] #1764 closed

[2021-05-14 09:25] jdneo commented on #1745
Close since the user has created one in vscode-java: https://github.com/redhat-developer/vscode-java/issues/1905

[2021-05-14 09:25] #1745 closed

[2021-05-14 10:25] rolfschumacher commented on #913
I'm witnessing it too

[2021-05-14 17:22] LeszekChojnacki commented on #789
If you are using a VSCode, and you see this err in your console you can try to set your terminal default to cmd

[2021-05-15 21:12] snjeza opened #1769 "java.project.sourcePaths doesn't refresh diagnostics"
Steps to reproduce:

- unzip [wrong-packagename](https://github.com/eclipse/eclipse.jdt.ls/files/6441935/wrong-packagename.zip)
- add the following .vscode/settings.json
[code]
- start VS Code
- open Foo.java
you will get the following error:
   _Foo.java is not on the classpath of project wrong-packagename_XXX, only syntax errors are reported_
It is expected.
- edit Foo.java; don't save
- open .v

[2021-05-19 07:42] vagusX opened #1775 "File contents would be strange when renaming java file name (with lombok)"
Same issue @ https://github.com/redhat-developer/vscode-java/issues/1951

File contents would be strange when renaming java file name (with lombok)

##### Environment
- Operating System: MacOS
- JDK version: jdk8
- Visual Studio Code version: 1.56.2
- Java extension version: v0.79.1

##### Steps To Reproduce
1. Renaming on `src/main/java/com/example/foo/DataExample.java`
2. Accept additional edits

[2021-05-20 07:05] fredg1 opened #1777 "Feature Request: Allow folding `static` blocs"
It's currently not possible to fold the content of static blocs, e.g.
[code]

Would be nice if it was possible.
Thanks <3

[2021-05-21 01:37] rgrunber commented on #1028
Ultimately it comes down to configuring JDT-LS's startup VM arguments regarding memory. https://github.com/redhat-developer/vscode-java/pull/1262 had some information on optimizing memory usage for vscode-java (which would apply to other clients too) and should have improved things there. It's up to clients since we can't really control how they choose to start it up.

Marking this as closed since

[2021-05-21 01:37] #1028 closed

[2021-05-21 02:16] rgrunber commented on #949
The only way I can reproduce this is by setting `"editor.autoIndent": "none"`, which seems like reasonable behaviour. Otherwise, it works as expected.

This may have also been fixed since this was reported, so I think we can close this for now.

[2021-05-21 02:16] #949 closed

[2021-05-22 03:54] minhduc0711 opened #1778 "Add code action to generate doc comments"
Hello, I would love to have this action, which is also present in Eclipse IDE.

![image](https://user-images.githubusercontent.com/34294427/119213736-bb74b180-baeb-11eb-8fe5-37a1ff4a62fc.png)

[2021-05-23 08:23] rubencaro commented on #1457
@ANtlord can you show the command you put into NeoVim to make it work? I have similar problems, but no VSCode user. Thanks!

[2021-05-23 12:46] ANtlord commented on #1457
I'm sorry but I lost it. I used Java to complete a course so I didn't care about a reliable solution. Eventually I had a folder `jdt.ls-java-project` in the root of a project, the folder has such [.classpath](https://gist.github.com/ANtlord/d6116d4bddd3ac4219b3396e0b1e6f70). I remember that later I copied the file from project to project. @rubencaro

I had some experiments on the launch command bu

[2021-05-25 22:18] #1769 closed

[2021-05-26 07:39] testforstephen opened #1781 "Cannot make a static reference to the non-static type T"
[code]

Opening the sample code in VS Code, it reports `"Cannot make a static reference to the non-static type T"` error at the line of `public void accept(T t)`.  The same code doesn't have error in Eclipse and Intellij IDEA.

[2021-05-26 14:47] snjeza opened #1782 "Run test without setting lombok agent"
See https://github.com/eclipse/eclipse.jdt.ls/pull/1779
RenameHandlerTest.testRenameTypeLombok() should run without setting the lombok agent

[2021-05-26 14:49] #1775 closed

[2021-05-28 13:07] snjeza commented on #1781
This is an Eclipse regression issue. It can be reproduced in Eclipse 4.20M3 and Eclipse I20210526-2310.

[2021-05-28 14:50] snjeza opened #1783 "Update target platform to 2021-06 RC1"
It fixes https://github.com/redhat-developer/vscode-java/issues/1956#issuecomment-848338404
Related Eclipse bug - https://bugs.eclipse.org/bugs/show_bug.cgi?id=570886

[2021-05-28 17:57] rgrunber commented on #1781
Thanks for narrowing this down. Also seems to have been reported recently upstream as https://bugs.eclipse.org/bugs/show_bug.cgi?id=572873 .

[2021-05-28 18:55] snjeza commented on #1783
SignatureHelpHandlerTest.testSignatureHelp_constructorParameters() fails with 2021-06 RC1 (https://download.eclipse.org/releases/2021-06/202105281000/)

[2021-05-31 02:34] testforstephen commented on #1781
I'm using Eclipse 2020-12. Yes, it's same as the upstream issue. If the generic method includes a lambda expression and use the generics inside the lambda expression, it will report this error.

[2021-05-31 08:53] Kurt-Shiwz opened #1784 "go define wrong file when use lombok"
mac:11.4
vscode:1.56.2
plugin:Language support for Java ™ for Visual Studio Code v0.79.2
language server jdk:java 16.0.1
maven java runtime: jdk1.8.0

`A.java` source use lombok, and make jar. In my project i use `a.getXX()`.
When i go define, vscode open  `A.class`, but it look not a class file, it like `A.java`, and i cant see the real `A.class` file.
Open same project  by IDEA, it can go to the

[2021-05-31 13:58] abed-roid opened #1785 "Correct way to initialize language server"
I am trying to initialize the language server using the below parameters but the 'settings' are ignored since the logs are the same even when the trace is changed, not sure if this is the correct approach to do so.

[code]

Thank you.

[2021-05-31 14:12] abed-roid opened #1786 "Set path for the invisible project"
Hello,

I didn't find any documentation related to how/when an invisible project is created, is there any way to know or set the path of the invisible project or maybe skip the invisible project and just stick to the original project?

1. Add a new file to the original project, the invisible project is not updated unless 'textDocument/didOpen' request is sent for that particular file, there is som

[2021-05-31 15:12] rgrunber commented on #1783
Is this an issue with how we're doing the testing or has 2021-06 RC1 actually regressed in some way ?

[2021-05-31 16:45] eruizc-dev commented on #713
Any updates here? My project uses Checkstyle and the main issue I have is that `organize imports` sort the imports in a way that are rejected by Gradle Checksyle.

[2021-05-31 16:47] snjeza commented on #1783
The Content Assist feature has been changed:
Eclipse 4.20M3

![m3](https://user-images.githubusercontent.com/388609/120222527-5e41d400-c240-11eb-8f2b-9836546e7ccc.gif)

Eclipse 4.20RC1

![rc1](https://user-images.githubusercontent.com/388609/120222571-6bf75980-c240-11eb-9005-fa9ab1d4ed1d.gif)

I'm working on it.

[2021-05-31 18:09] abed-roid commented on #1786
Workaround for this is to delete the folder `**/.metadata/.plugins/org.eclipse.core.resources`, the `.classpath` updates, and the invisible project is recreated automatically at the language server next launch.

Not an ideal solution though.

[2021-05-31 18:18] snjeza commented on #1786
You can run _Java: Clean the Java language server workspace_ and click Restart and delete. See [Clean the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)

[2021-05-31 18:36] abed-roid commented on #1786
I am not using Visual Studio Code :), trying to integrate Java Language Server with an IDE.

The communication with the Java Language Server is done through a client socket using Language Server Protocol requests.

[2021-06-01 10:28] abed-roid opened #1788 "Javadoc is ignored as attribute in .classpath"
[code]

Docs are missing in the `textDocument/hover` response even after adding javadoc attribute to the lib classpathentry in .classpath.
It seems to parse the value since when I replace the attribute value with some invalid path it appears in the log as an error.
I've also tried `jar:file:///C:/Users/abedsaad/Desktop/w/untitled/lib/gson-2.8.6-javadoc.jar!/` for the attribute value.

[2021-06-01 14:27] YoEight opened #1789 "Can't import a Gradle project."
Greetings,

I'm using JDT with neovim. I'm using JDT `v1.1.2` and getting this exception from the server, sorry for the formatting. It's directly coming out of neovim LSP log file:

[code]

The project I try to work on is: https://github.com/EventStore/EventStoreDB-Client-Java

#### Versions
Java 11
Gradle 6.7
Neovim 0.5 (nightly)
JDT 1.1.2

Thanks for your help

[2021-06-01 14:34] rgrunber commented on #1782
Can this be closed now ?

[2021-06-01 15:25] rgrunber commented on #1786
I believe the general rule is if a project is not recognized as a Gradle, Maven, or an Eclipse project, then it will be imported as an "Invisible" project.  This is essentially an Eclipse project with the underlying metadata hidden from users. This uses some basic assumptions about the location of source paths / libraries to produce a project that can be supported by the language support. We do ha

[2021-06-01 16:18] snjeza commented on #1782
It isn't fixed.

[2021-06-01 17:29] rgrunber commented on #1788
Modifying the contents of the .classpath files isn't really supported, and I wouldn't be surprised if some modifications may get overwritten and disappear. With that said, it's probably worth having a look to see what happens when one does actually set the javadoc location in the .classpath as an attribute.

Currently I don't think we have a property to set the javadoc location but we do have `jav

[2021-06-01 20:48] abed-roid commented on #1788
Settings are ignored during initialization, I've built the structure of the JSON based on the example in the wiki: https://github.com/eclipse/eclipse.jdt.ls/wiki/Running-the-JAVA-LS-server-from-the-command-line

I am wondering how the language server parses a JSON key, is the flattened key like `java.project.referencedLibraries` similar to the nested structure:
[code]

And which approach is correc

[2021-06-01 20:54] abed-roid commented on #1788
And thanks for your clarification :)

[2021-06-02 00:25] rgrunber commented on #1788
The language server converts the nested structure to the flat structure on the server side so :
[code]
should work.

I think your best bet is to try debugging the language server itself and see whether the properties are stored correctly and whether they're used by the build configuration. A good place to check would be :

https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.co

[2021-06-02 00:27] abed-roid commented on #1786
The hover now shows documentation after attaching the library sources to the `.classpath` of the original project, by inserting `sourcepath` into the `classpathentry` of the target library:

`<classpathentry kind="lib" path="lib/gson-2.8.6.jar" sourcepath="lib/gson-2.8.6-sources.jar"/>`

Requesting `workspace/didChangeWorkspaceFolders` on the project directory was key for the server to reload the

[2021-06-02 03:30] #1783 closed

[2021-06-02 14:35] rgrunber commented on #1778
What client are you using for Java language support ?

If you add `"java.codeGeneration.generateComments": true` , does it work for you ? It's disabled by default.

[2021-06-02 14:47] minhduc0711 commented on #1778
Ah sorry, I did not notice that this was already implemented.
I'm using https://github.com/mfussenegger/nvim-jdtls/, and it doesn't seem to support this yet.

[2021-06-02 14:47] #1778 closed

[2021-06-02 15:40] rgrunber commented on #1673
Are there any additional contributions needed here, or can this be closed ?

[2021-06-02 16:33] rgrunber commented on #1785
The structure looks pretty good to me, though I'm guessing you'd probably clean up some of the hard-coding once you confirm it works. I would debug the language server at https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L233 to confirm your values are in fact making it to the language server.

[2021-06-02 16:48] snjeza commented on #1784
@Kurt-Shiwz could you provide a sample project reproducing the issue?

[2021-06-03 14:04] abed-roid commented on #1785
Yeah, but I've got this after trying to attach Eclipse Debug Adapter Launcher to the language server:
[code]

The language server instance is launched from the command line and I am trying to attach the debugger using eclipse where the language server source code resides.

I've also tried the properties `-Dcom.sun.management.jmxremote.local.only=false -Dcom.sun.management.jmxremote.authenticate=fa

[2021-06-03 14:21] rgrunber commented on #1785
Instead of "Eclipse Debug Adapter Launcher", can you try using the "Remote Java Application" launcher ? It should be visible from debug configurations. In fact, if you have the JDT-LS launch folder also checked out out in the workspace, you should see an option there called 'jdt.ls.remote.launch'

[2021-06-03 14:40] abed-roid commented on #1785
It's working now, thanks a lot!

[2021-06-03 19:26] #1777 closed

[2021-06-04 04:23] alexkoay opened #1793 "Suppress Unnecessary @SuppressWarning("deprecation")"
Is there any way to suppress such errors?
I'm using protobuf to generate some Java code and a ton of such warnings (the only ones) are appearing.

Alternatively is there a way to configure the LS to ignore certain files / directories / packages?

[2021-06-04 15:08] rgrunber commented on #1793
Yes. Though not well documented :

If you create a file under your workspace folder called `.settings/org.eclipse.jdt.core.prefs` and populate it with :
[code]

This should disable it. There's an issue (with PR) that will hopefully simplify this process a lot by introducing a code action to autmoatically allow ignoring these options. https://github.com/redhat-developer/vscode-java/issues/1791 .

Y

[2021-06-05 01:43] mangkoran opened #1794 "[Question] Automatic Invisible Project Classpath Detection?"
I am new to Java programming. I am using Emacs 27.2 with [emacs-lsp](https://github.com/emacs-lsp/lsp-java). I got a warning that said "`.java` file is not on the classpath of project, only syntax errors are reported" every time I opened a new `.java` file (I already opened an [issue](https://github.com/emacs-lsp/lsp-java/issues/331) there). I am not using any of maven, gradle, or similar build to

[2021-06-06 06:12] mangkoran commented on #1794
I think PR https://github.com/eclipse/eclipse.jdt.ls/pull/1701 is related to this. However, even though I already put my `.java` file in `src` folder, whenever I opened a file inside those project, it still showing `.java is not on the classpath of project, only syntax errors are reported`.

[2021-06-07 06:02] testforstephen commented on #1794
Invisible Project Classpath Detection in eclipse.jdt.ls is just a one-time thing, it infers your source directory based on the opened Java files when first initializing the JDT language server. If you later change your source structure, it won't re-detect it. But you can clean the workspace cache to re-initialize the language server to get detected again.

If you want a way to specify the classpat

[2021-06-07 08:18] mangkoran commented on #1794
So if I want manually specify a project classpath, I should edit `java.project.sourcePaths`? I am also not sure if `emacs-lsp` has implemented it yet tho.

If I cannot manually set the project classpath, I suppose `jdtls` will use the default classpath? If so, what is the default classpath of a project?

The thing is, several weeks ago I managed to get rid of the warning I mentioned above in a sim

[2021-06-07 08:34] testforstephen commented on #1794
In your oop sample, there are multiple folders with "src". Did you just open a sub folder of them in your editor or the parent root "oop"?  Could you please share the elaborate steps how to reproduce the issue?

[2021-06-07 08:45] mangkoran commented on #1794
Oh sorry. That repo is like "repo of projects". In `week11/asg1` and `week12/quiz2` there are `.projectile` files to indicate that those are the project root (although both of them reside in a single git repo). This is [projectile](https://github.com/bbatsov/projectile) specific settings so I can have multiple projects inside a git repo (actually, project too). If I open [this file](https://github

[2021-06-07 15:49] dbnex14 commented on #789
I am having the very same problem in 2021, VSC 1.56.2 on Windows 10
[code]

[2021-06-07 15:52] mangkoran commented on #1794
After further investigation, this issue seems to solely related to jdtls implementation in `lsp-java`. Thank you for looking at this issue. Should this issue closed then?

[2021-06-07 16:18] snjeza commented on #1789
@YoEight could you attach your java-lsp.sh?

[2021-06-07 16:34] mrcjkb opened #1796 "Go to definition does not work with method references"
Environment: NeoVim 0.5
Platform: Arch Linux

I noticed that go-to-definition, go-to-implementation, hover, etc. do not work on method references.
In this example,

[code]
the respective actions are applied to `java.util.Function.apply()` (the parameter of `map`) instead of `Integer.valueOf()`.

This may be related to #1461.

[2021-06-07 19:42] snjeza commented on #1461
Related Eclipse bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=563020

[2021-06-08 04:50] testforstephen commented on #1794
I'm going to close this issue. If it needs more support from eclipse.jdt.ls side, feel free to reopen it.

[2021-06-08 04:50] #1794 closed

[2021-06-08 13:39] rgrunber commented on #365
As this seems to have been resolved (and we'll be testing with lombok optionally enabled in our tests), I think this can be closed.

[2021-06-08 13:39] #365 closed

[2021-06-08 14:27] #752 closed

[2021-06-08 14:33] rgrunber commented on #745
You can also have a look at https://github.com/redhat-developer/vscode-java/pull/1262 , where we made some improvements to default jvm arguments to reduce memory consumption (encourage more garbage collection).

Basically, `-XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx1G -Xms100m` seems to show benefits. XmX /Xms can probably be confi

[2021-06-08 14:33] #745 closed

[2021-06-08 17:56] #1782 closed

[2021-06-09 04:42] testforstephen commented on #1781
This is a regression issue introduced by 2021-03 release. And the upstream issue has been fixed and targeted for 4.20 RC2. And the I-build for 4.20 RC2 is released at June 3, see https://download.eclipse.org/eclipse/downloads/. But the release download page (https://download.eclipse.org/releases/2021-06/) didn't include RC2 yet. The release link is what we used in target platform definition.

@rgr

[2021-06-09 14:02] snjeza commented on #1781
We can use https://download.eclipse.org/releases/2021-06/202106041001/

[2021-06-09 14:39] rgrunber commented on #1781
Yup, and we'll likely be able to adopt the final release final release of 2021-06 (4.20) next Wednesday : https://wiki.eclipse.org/Category:SimRel-2021-06 . We can at least use the I-build to verify.

[2021-06-09 19:04] #1781 closed

[2021-06-09 22:15] MrcJkb opened #1798 "Module path: Import and code completion suggestions include inaccessible classes"
Given a modular (Java 11) Gradle 7 project with the eclipse plugin
And the following dependency: `com.google.protobuf:protobuf-java:3.17.1`
And a module-info.java
When I run the `eclipse` Gradle task
And I open a java project file (in my case in NeoVim 0.5 nightly) that does not import the java.util.Optional class.
And start jdt.ls
And I start typing `Optional`

### Expected behaviour
Then the aut

[2021-06-09 22:15] MrcJkb commented on #538
This seems to be fixed with Gradle 7.

[2021-06-10 03:15] rgrunber commented on #1786
Although this may work, I don't think this is the right approach. Generally the .classpath file should only be modified by the language server itself using calls from the client side. There's no guarantee any changes made directly to .classpath would persist.

If it helps at all, I took a simple project and added `java.project.referencedLibraries = [ "lib/gson-2.8.6.jar" ]` and looked at what the

[2021-06-10 19:59] rgrunber commented on #1706
With https://github.com/eclipse-m2e/m2e-core/pull/233, next release of m2e.core (1.19.0 ?) should come with Guava 30.1.0. Now we just need buildship.

[2021-06-11 14:00] MrcJkb commented on #1798
It looks like I may somewhat be able to work around this issue with the `org.eclipse.jdt.core.classpath.exclusionPatterns` property.

[2021-06-14 13:08] rgrunber commented on #1706
This is now fixed in buildship as well, so it'll be fixed when we adopt their next release.

[2021-06-14 15:15] MrcJkb commented on #1796
Update: Find references also excludes method references.

[2021-06-15 07:37] mfussenegger opened #1800 "Completion no longer shows sensible candidates in `else` branches"
On latest master (f4fad03d1410a4b014fd24de4e84f25f98f79879)
Completion candidates in the `else` branches started to be useless, see this short demo:

https://user-images.githubusercontent.com/38700/122011481-7119e400-cdbc-11eb-8e33-7e11f1e55999.mp4

This is in the https://github.com/crate/crate codebase: https://github.com/crate/crate/blob/master/server/src/main/java/io/crate/protocols/postgres/Po

[2021-06-15 08:44] fbricon commented on #1800
That's bad. @snjeza please investigate

[2021-06-15 15:55] rgrunber commented on #1800
I can reproduce with Eclipse 2021-06 (RC2) (I20210603-0040) + latest buildship. Looks like an upstream regression sometime between M1 and RC2.

[2021-06-15 16:28] rgrunber commented on #1800
I'm able to reproduce with a simpler snippet :

**Test.java**
[code]

**Foo.java**
[code]

It looks like if the local identifier (eg. `foo`) matches (case insensitive) a type (eg. `Foo`), it is interpreted as that type and only shows type completions.

[2021-06-15 17:05] snjeza commented on #1800
The following code doesn't work too:

[code]

[2021-06-15 18:07] snjeza commented on #1800
I have created https://bugs.eclipse.org/bugs/show_bug.cgi?id=574215

[2021-06-16 07:31] Frederick888 commented on #581
For anyone who searches `serialVersionUID` and gets here:

This option has been disabled in #1714 by default, though in [2021-06 org.eclipse.jdt.core.JavaCore doc](https://help.eclipse.org/2021-06/index.jsp?topic=%2Forg.eclipse.jdt.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fjdt%2Fcore%2FJavaCore.html&anchor=COMPILER_PB_MISSING_SERIAL_VERSION) the default value is still 'warning'.

[2021-06-16 15:53] abed-roid opened #1801 "Running on Java 9"
I got this error after trying to launch the server using JDK 9:

[code]

1623857377863.log:
https://pastebin.com/Sfpahf94

Another error was thrown when adding `-Dorg.osgi.framework.system.capabilities=osgi.ee; osgi.ee="JavaSE"; version:List<Version>="1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8` to override OSGI Provide-Capability:

[code]

[2021-06-16 16:10] rgrunber commented on #1801
Java 11 is the minimum required runtime version needed for some time now (See https://github.com/eclipse/eclipse.jdt.ls#first-time-setup) and more of the underlying plugins are likely to adopt it (https://www.eclipse.org/lists/cross-project-issues-dev/msg18499.html).

There might be a way to override this, as you're trying to do but you'd also need to likely undo any Java 11 features taken advanta

[2021-06-16 16:56] abed-roid commented on #1801
I expect that it will consume a lot of time and effort to finish and may not yield stable bundles, I am wondering if there's a particular version (not too old) that runs fine on Java 9 without any modification.

[2021-06-16 18:03] rgrunber commented on #1801
Anything before 32891e57 should probably work, and in terms of tags that corresponds to v0.58.0 or older. Looking at the target platform, the URLs seem to still exist so it should be possible to build.

Similar to https://github.com/eclipse/eclipse.jdt.ls/issues/1724 , I think there's definitely a desire to have support for running on Java 8, but maintaing such a branch would be difficult.

Note t

[2021-06-17 14:00] rgrunber commented on #1800
The fix for this should be in an I-build from the end of today (17th) at http://download.eclipse.org/eclipse/downloads/ . The next milestone build to include this will be for 4.21 M1 (July 16th).

@fbricon , given that we're close to doing a release, does it make sense to use the current 4.20 Release as the target platform and temporarily copy `CompletionEngine` locally to include the fix ? Or wou

[2021-06-17 14:19] testforstephen commented on #1800
Since completion is a high frequency feature, i'd like use I-build to include the fix. Once 4.21 M1 is out, then replace the target platform with it.

[2021-06-17 14:52] fbricon commented on #1800
+1 to releasing from an I-Build, until a more stable version is available

[2021-06-17 15:01] snjeza commented on #1800
We already use 4.21-I-builds/I20210606-1800/ - https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.target/org.eclipse.jdt.ls.tp.target#L34
I will update it when a new build is released.

[2021-06-18 08:52] #695 closed

[2021-06-18 08:52] #1301 closed

[2021-06-18 08:54] fbricon commented on #1301
Duplicate of #695

[2021-06-18 21:12] #1722 closed

[2021-06-19 09:18] fbricon commented on #1800
Looks like completion is still broken in the latest master:

[code]

[2021-06-21 13:48] rgrunber commented on #1800
Thanks Fred, for https://bugs.eclipse.org/bugs/show_bug.cgi?id=574338 . Corresponding build should be there by end of today.

[2021-06-21 18:58] rgrunber commented on #1801
Closing as main question has been addressed. Supporting Java 8 is out of scope.

[2021-06-21 18:58] #1801 closed

[2021-06-22 16:27] #1800 closed

[2021-06-24 06:26] Frederick888 opened #1805 "Feature request: Warning (and code action / formatter config) for out of order modifiers"
There is a suggested order of class/field/method modifiers in [JLS](https://docs.oracle.com/javase/specs/).

For example, in https://docs.oracle.com/javase/specs/jls/se11/html/jls-8.html#jls-8.1.1

Out of order modifiers often cause a warning in linting tools. Can we please have this warning as well?

And it'd be even better if there are code actions or formatter configurations to fix it. Thanks.

[2021-06-24 14:38] rgrunber commented on #1805
I looked upstream in JDT and the closest thing I could find was https://bugs.eclipse.org/bugs/show_bug.cgi?id=25800 . Otherwise, it seems there is no option in errors/warnings to report such issues.

This could be a nice addition, and once there, users could easily set their project settings `.settings/org.eclipse.jdt.core.prefs` or `java.settings.url` to include the option.

[2021-06-24 14:45] Frederick888 commented on #713
@eruizc-dev You can configure import order using `java.completion.importOrder`.

[2021-06-24 15:46] Frederick888 commented on #1805
@rgrunber FYI I also found https://bugs.eclipse.org/bugs/show_bug.cgi?id=322494

[2021-06-24 16:39] rgrunber commented on #1805
That's exactly the patch needed. The only annoying part is I suspect the patch introduces the feature through jdt.ui, and we can't reference or use functionality from there directly (can't satisfy the ui capabilities), but SortModifiersFix, which has the main functionality looks like it could easily exist in jdt.core.manipulation.

[2021-06-29 21:14] rgrunber commented on #1464
I've adopted what JDT is doing to provide the same functionality.

![add-missing-method](https://user-images.githubusercontent.com/1417342/123868104-3efc9c00-d8fd-11eb-9baa-fecd58e32807.gif)

[2021-06-29 21:58] rgrunber commented on #1602
I don't know enough about the use case described, but I suspect an option for suppressing all log messages in https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/LogHandler.java#L65 would be one way to fix this.

However, as mentioned, the client would have a much easier time simply ignoring these messages (since they are just

[2021-06-29 22:13] rgrunber commented on #1531
We do check GRADLE_USER_HOME on importing projects so it could be that existing content under that (pre-set) directory was causing issues.

Closing for now as there's seems to be a workaround, but feel free to re-open if this is still reproducible.

[2021-06-29 22:13] #1531 closed

[2021-06-29 22:14] rgrunber commented on #1785
Closing this, as it's probably easier now to diagnose any issues when you're able to debug the language server itself.

[2021-06-29 22:14] #1785 closed

[2021-06-29 22:18] rgrunber commented on #1788
Closing this out as I think once you were able to debug on the server side, it becomes easier to figure out what the server is actually doing.

If there's still any issues to address, feel free to re-open.

[2021-06-29 22:18] #1788 closed

[2021-07-05 08:57] jdneo commented on #1457
Closing since the issue seems been resolved.

@ANtlord Free to comment if you need more help.

[2021-07-05 08:57] #1457 closed

[2021-07-05 18:48] #1706 closed

[2021-07-05 19:17] rgrunber commented on #1706
Just in case people are wondering why the size went up despite eliminating an extra guava (2.8MB) version.

48M	org.eclipse.jdt.ls.product/target/repository/plugins/ (before)
53M	org.eclipse.jdt.ls.product/target/repository/plugins/ (after)

1.1M org.eclipse.m2e.maven.indexer_1.16.0.20200610-1735.jar
7.8M org.eclipse.m2e.maven.indexer_1.18.0.20210701-1401.jar

[2021-07-06 02:05] testforstephen commented on #1706
Old:
![image](https://user-images.githubusercontent.com/14052197/124530194-a0ad9080-de3e-11eb-9f9d-c7fb088f0f54.png)

New:
![image](https://user-images.githubusercontent.com/14052197/124530255-bf138c00-de3e-11eb-84bd-a28e4531ca80.png)

The new maven indexer embeds a guava jar, and we also include a standalone guava@30.1.0 jar in eclipse.jdt.ls distro, there   are still multiple duplicate guava jar

[2021-07-06 03:41] rgrunber commented on #1706
@fbricon seemed to think it may be possible to eliminate the plugin entirely. In fact, it's used mainly for nexus index related functionality which I'm guessing we don't really use as part of project importing.

If it's possible, we'd probably have to get m2e-core to move the `org.eclipse.m2e.core/src/org/eclipse/m2e/core/internal/index/nexus` package into a separate bundle, and then we could make

[2021-07-06 16:10] mfussenegger opened #1813 "Go to definition doesn't compute/find results on methods inside an anonymous class"
I first thought this is a more generic regression caused by https://github.com/eclipse/eclipse.jdt.ls/pull/1807 but it turns it already happened before.

Eclipse.jdt.ls version: Tested both with latest master (https://github.com/eclipse/eclipse.jdt.ls/commit/6f7d39ae3d1481f7873d7a27ef022af8a2599e60) and (https://github.com/eclipse/eclipse.jdt.ls/commit/3121ad987dc3d9178af4b569c5c44adbfe02abd0)
JDK

[2021-07-06 17:20] fbricon commented on #1813
I can reproduce in Eclipse 2021-06-R, so this is an upstream issue. cc @rgrunber

[2021-07-06 20:32] rgrunber commented on #1813
I have filed https://bugs.eclipse.org/bugs/show_bug.cgi?id=574697 .

I'm able to reproduce as far back as 2018-12 (4.10) so it may have been around for a while. Also, I assume you resolved the "Function" import as the inner reference resolves correctly without it.

[2021-07-08 15:59] #1464 closed

[2021-07-15 04:54] yyoncho opened #1815 "jdt ls should not assume that the file exists on the disk"
As per lsp spec the servers are supposed to use the text in didOpen notification and avoid reading the file content from the disk.

Recent versions of jdtls (not sure where the regression comes from) throw the following error:

[code]

To reproduce in vscode:

1. Open a new file Foo.java and make sure it has no content.
2. Delete the file outside of vscode
3. Shutdown vscode and then try to do any

[2021-07-17 04:13] jeffkbkim opened #1817 "The import cannot be resolved for gradle generated code"
When I open a gradle based project, jdtls loads successfully. However, I am seeing import errors from the server. More specifically, I see errors when importing generated code (created by gradle).

I can reproduce with an example project: https://github.com/apache/kafka
https://github.com/apache/kafka/blob/trunk/clients/src/main/java/org/apache/kafka/clients/admin/KafkaAdminClient.java#L267-L272 w

[2021-07-17 07:21] rishi1111 opened #1818 "CVE-2017-12629 - lucene-core"
While running the Aquascan tool on Vscode + Redhat.java extension (0.80.0), I can see a 1 high vulnerability.

Would this PR bump lucene-core's version.
https://github.com/eclipse/eclipse.jdt.ls/pull/1807

https://github.com/redhat-developer/vscode-java/issues/2032
![image](https://user-images.githubusercontent.com/17124299/126029470-461fa3fc-15da-4171-815c-abddeddf223d.png)

[2021-07-19 19:35] rgrunber commented on #1818
Just saw this issue filed (in addition to the one on vscode-java). Yes, that PR would bump lucene-core to 5.5.5, which should resolve the issue. While the dependency analytics tool is correct, It only seems to list "7.1.0" as the fixed version when in fact the fix was backported to 5.x, 6.x as well. https://nvd.nist.gov/vuln/detail/CVE-2017-12629 (Known Affected Software Configurations)

[2021-07-20 13:31] #1818 closed

[2021-07-23 19:21] rgrunber commented on #1815
I'm not able to reproduce with the exact instructions above. The file disappears for me before I have a chance to type into it (whether a restart VS Code or just reload the windows).
![deleted_file_gone](https://user-images.githubusercontent.com/1417342/126829488-fff37ee9-d670-4aeb-8a68-ddc5f2d6d751.gif)

I'm am able to reproduce this error if I simply type after the file has been marked as delete

[2021-07-24 11:00] yyoncho commented on #1815
Not sure if you are hitting that same issue. In emacs, when you create a new buffer(file) it doesn't actually exist on the disk. Then we send didOpen and jdtls goes crazy. In vscode, when you create a new file it is present on the disk. As per spec, the server should not assume that the file is being present on the disk but it should use the content sent by the client.

[2021-07-25 01:10] mozhuanzuojing opened #1820 "Can the text of import class be folded by default？"
###  Many times you don’t need to look at the import code, and sometimes the import takes a long time and affects the preview code.

- example

![image](https://user-images.githubusercontent.com/63572041/126884562-f56cb118-a7f4-4a3e-8d18-58ba0a81a31f.png)

- Desired effect

![image](https://user-images.githubusercontent.com/63572041/126884582-ed6ac5a9-1363-44bb-809b-35607a42ee7a.png)

[2021-07-25 01:20] mozhuanzuojing opened #1821 "Can the order of commands in the smart completion code be adjusted?"
In our daily code writing process, most of the time we create local variables instead of member variables. During the development process, you need to select the second command (`assign statement to local variable`) by pressing <kbd>Ctrl + 1</kbd> in the expression line. The first command is basically not used (`assign statement to new field`)

I hope that the order of the commands is from the loc

[2021-07-26 14:32] rgrunber commented on #1820
Looking through https://microsoft.github.io/language-server-protocol/specification#textDocument_foldingRange , FoldingRange doesn't seem to have a property to have it enabled by default. I think https://github.com/microsoft/vscode/issues/33449 would probably provide what's needed for this.

I do see some extensions on the marketplace that provide the ability to auto-fold, but these function on lev

[2021-07-26 15:50] fbricon commented on #1820
That feature has been added upstream to vscode (see https://github.com/microsoft/vscode/issues/40338#issuecomment-883309302). It should be available with the next vscode release (1st week of August 2021).
In the meantime, you can try vscode insiders and set `"editor.foldingImportsByDefault": true` in your settings.json

[2021-07-26 15:50] #1820 closed

[2021-07-26 19:17] rgrunber commented on #1821
Looking at https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/CodeActionHandler.java#L160 & https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/CodeActionHandler.java#L327

We sort first by the code action kind, which is just a string, and seems to be abo

[2021-07-27 20:28] mfussenegger commented on #1815
I can reproduce the same problem also with the neovim lsp client.
In nvim-jdtls I added a workaround to implicitly save the file before the lsp clients sents the `didOpen`. Would be great if this could be fixed.

[2021-07-27 21:36] rgrunber commented on #1815
Looks like both didChange and didOpen trigger foldingRange later on, so it could be that we're both seeing the same error, but maybe certain clients try to prevent a didOpen from happening on a deleted file, but not didChange.

The stack shows https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/FoldingRangeHandler.java#L70 is

[2021-07-28 12:24] KOLANICH opened #1823 "Put this bash script into the appropriate location"
It'd be nice to include it into the prebuilt packages. It makes starting the server easier.

[code]

[2021-08-03 13:14] jakegt1 opened #1825 "Validating gradle wrapper checksums can cause failures if machine cannot access services.gradle.org (such as proxy requirements)"
Hello,

I have been disabling the proxy for jdt.ls in vscode via the `-Djdt.ls.disableProxies=true` system prop as all of my dependencies are internal and do not require access to an external network. However, this property will cause a failure unless the checksums have been already downloaded.

So, my process currently is:

Disable the property
Clean java workspace
Download the checksums by proxy

[2021-08-04 09:14] niko-liu commented on #1800
![image](https://user-images.githubusercontent.com/10355821/128155280-b6b56036-1460-4016-bcef-ec487dce9d5e.png)
bug still exists in M1

[2021-08-04 14:14] rgrunber commented on #1800
Can you confirm this is still an issue on I20210726-1800 (http://download.eclipse.org/eclipse/downloads/drops4/I20210726-1800/). This seems to be what we're currently using. It could be possible that there's additional cases not being handled correctly.

[2021-08-04 16:41] niko-liu commented on #1800
I20210726-1800 has fixed it ,thx

[2021-08-05 02:00] niko-liu opened #1826 "open declaration menu too small to use on macosx.cocoa.aarch64 version"
![image](https://user-images.githubusercontent.com/10355821/128278732-12dfa6fd-983c-49d5-b53c-e355aac27242.png)

[2021-08-05 02:07] niko-liu commented on #1826
The old version（Version: 4.5.0.RELEASE，Build Id: 201912171052，x86 win32） looks better
![eclipse](https://user-images.githubusercontent.com/10355821/128279632-1204d509-e91d-4217-9152-20a2bc9c5e9e.png)

[2021-08-05 08:50] airbagi opened #1827 "Visual Studio Code Java Language Server Plugin always goes to shutdown with no reason"
Hello,

I installed **Language Support for Java(TM) by Red Hat** extension for **Visual Studio Code** (windows platform).
JDK 16.0.1 is used on that PC.
So after I start VScode it work fine, but after some period of time it causes Java Language Server shutdown.
That what is in the log:
[code]

What can I do about that?

[2021-08-05 20:04] ekoverznev opened #1828 "./mvnw clean verify BUILD FAILURE in Ubuntu 20.04"
Hello,
When I try to build the server I get an error. I have no idea how I can resolve it.
Could you please assist?
There are some details:

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary for JDT Language Server :: Parent 1.3.0-SNAPSHOT:
[INFO]
[INFO] JDT Language Server :: Parent ...................... SUCCESS [  1.320 s]
[INFO] JDT Language

[2021-08-05 20:19] snjeza commented on #1828
@ekoverznev Could you attach a complete log?

[code]

and attach log.txt.

[2021-08-05 20:59] ekoverznev commented on #1828
Here you go
[log.txt.tar.gz](https://github.com/eclipse/eclipse.jdt.ls/files/6941659/log.txt.tar.gz)

[2021-08-05 21:28] snjeza commented on #1828
@ekoverznev could you try

[code]

[2021-08-06 04:46] rgrunber commented on #1827
The logs seem to show the client (VS Code) sent a shutdown request near the bottom, which initiated the stopping of the language server. Not sure what would be causing this unintentionally. Does this happen consistently ? Is there a particular key combination or action this always happens with ?

[2021-08-06 04:52] rgrunber commented on #1823
We do have a section on the wiki page for starting the language server from the command line : https://github.com/eclipse/eclipse.jdt.ls/wiki/Running-the-JAVA-LS-server-from-the-command-line .

[2021-08-06 08:15] ekoverznev commented on #1828
here you go
[log.txt.tar.gz](https://github.com/eclipse/eclipse.jdt.ls/files/6944175/log.txt.tar.gz)

[2021-08-06 13:31] rgrunber commented on #1813
Looks like the change proposed by @snjeza was recently merged upstream for this. We should expect I20210806-1800 to contain the fix.

[2021-08-06 16:24] admin1475963 commented on #1828
Maybe the problem is connected with a version of java. Today I also have a similar problem. When I switched to the java-11 build was successful. Before it default java was java-16

[2021-08-06 18:01] ekoverznev commented on #1828
But my current java version is 11

java --version
openjdk 11.0.12 2021-07-20
OpenJDK Runtime Environment Temurin-11.0.12+7 (build 11.0.12+7)
OpenJDK 64-Bit Server VM Temurin-11.0.12+7 (build 11.0.12+7, mixed mode)

[2021-08-06 18:50] snjeza commented on #1828
The Java LS build requires java 11

[2021-08-06 20:03] airbagi commented on #1827
Yes, It happens every time I start Visual Studio Code. I can supply server logs, if it helps.

[2021-08-06 21:01] snjeza commented on #1827
@airbagi Could you try to set the following property:

[code]

[2021-08-07 09:30] airbagi commented on #1827
ok, I've set those params. I had only **-Dlog.level=ALL** previously set.
What you need now?

Still have:
[code]

In server logs I also have this exception:

[code]

This is the only problem seems to be there

[2021-08-07 14:31] mozhuanzuojing opened #1830 "PubA.java is not on the classpath of project A, it will not be compiled to a .class file"
# There is a bug in gradle multi-module project

- Operating System: Windows_NT x64 10.0.19043
- JDK version: jdk-16.0.1.9-hotspot
 - Visual Studio Code version: 1.60.0-insider (system setup)
- Java extension version: v0.80.0

1. git clone https://gitee.com/mozhuanzuojing/java-bug01
2. Open folder `java-bug01` with `VS Code`.
3. Wait for building to finished.
4. Open file `PubA.java` under project

[2021-08-07 16:40] snjeza commented on #1827
@airbagi Could you attach a project example?
You can also see  [Gradle-based Android projects are not supported](https://github.com/redhat-developer/vscode-java/issues/10#issuecomment-268834749)

[2021-08-08 12:29] airbagi commented on #1827
I don't need gradle. The only thing I need from Language Server is to find definition or find implementation of some code.
But it works untill the server is shutted down.
I tested on several projects, but all of them are for Android, you think it is related?

[2021-08-08 15:59] snjeza commented on #1827
Could you attach a project or the build.gradle, .project, .classpath files and the .settings drectory?

[2021-08-09 04:15] testforstephen commented on #1826
You should open an issue to Eclipse itself. https://bugs.eclipse.org/bugs/enter_bug.cgi?product=Platform

This project is not for Eclipse IDE, but used to provide Java support for other editors such as VS Code.

[2021-08-09 04:15] #1826 closed

[2021-08-09 13:36] #542 closed

[2021-08-09 17:59] MrcJkb commented on #1796
May be related to #1780

[2021-08-09 23:32] rgrunber commented on #1717
Can you try the key `org.eclipse.jdt.core.formatter.alignment_for_arguments_in_annotation` with value `48` .

[2021-08-10 07:35] Eskibear opened #1831 "completion performance: toURI is expensive on Windows"
In my past experiments, `JDTUtils.toURI` can take 20% - 80% of completion time. Below is an example of the call tree,  when I press "f" for completion in spring-petclinic project. Completion list mainly include some foreach snippets and a lot of Types starting with letter F.

I'm using a relatively powerful PC, so focus more one the percentage instead of absolute millis.

![image](https://user-ima

[2021-08-10 07:46] Eskibear commented on #1831
Or a simple and effective way is, to avoid computing URI of the same compilation unit for all the CompletionItems.

[2021-08-11 04:32] testforstephen opened #1835 "completion performance: calculating constantValue is expensive"
When code completion suggests constant fields, it will resolve their values directly and display them in the label section. See the screenshot.

![image](https://user-images.githubusercontent.com/14052197/128968408-b81b1ee7-989e-4c5b-917b-eb281c73955d.png)

It turns out this is an expensive operation. Especially when a type contains many constant fields, resolving them all during code completion w

[2021-08-11 06:17] Eskibear opened #1836 "completion: listing constructors is slow"
CPU: Intel(R) Core(TM) i7-10700 CPU @ 2.90GHz *8 cores
OS: Windows 10
Test project: a simple maven project with no extra dependency
Use case: complete for new constructor

[code]

### profiling details:
![image](https://user-images.githubusercontent.com/2351748/128977807-bdd4d066-6aaa-46b1-8bb7-768ad2000ad0.png)

### Sample response:
Because my CPU is relative powerful, 263ms is not a small number

[2021-08-11 06:21] Eskibear commented on #1836
From the responses we can see, we already defer calculation of import statements in `resolve` stage, which once was the most time-consuming task.

Now the problem is, why below methods cost so much time? Are they necessary? Do we have to calculate it in `complete` stage?
Let's see whether we can improve it.

[2021-08-11 15:54] #1831 closed

[2021-08-12 01:28] #1835 closed

[2021-08-12 02:34] testforstephen opened #1838 "completion: optimize the performance of SnippetCompletionProposal"
Here is an experiment where i type `f` in JDTUtils.getFakeCompilationUnit and wait for completion list.
![image](https://user-images.githubusercontent.com/14052197/129128467-0e1dc720-9cc6-4805-8d89-103af46262b4.png)

Here is the profiling data. SnippetCompletionProposal will take approximately 70% CPU time of the completion handler.
![image](https://user-images.githubusercontent.com/14052197/12912

[2021-08-13 11:33] airbagi commented on #1827
So? Were you able to reproduce it?

[2021-08-13 17:47] GavinRay97 opened #1841 "[Feature Request]: "Convert Class to Record", "Convert Record to Class""
JDK16 records are really nice to work with, it'd be great to be able to (at least in cases where it's supported) convert `Class` to `Record` to clean up code 😃

Example below -- the two being convertible between each other for instance:

How high is the barrier to entry for adding a new `CodeAction` refactoring suggestions so that they are available in VS Code? Is it reasonable for a random person

[2021-08-15 18:39] KOLANICH commented on #1823
I know. But it is useful to have a ready-to-use script (that can also be customized if needed).

[2021-08-16 19:58] rgrunber commented on #1823
I guess I don't really disagree with this. After all, I have a separate shell script locally I've used to launch JDT-LS from commandline and stored the specific options in a shell script. The tricky part is getting something for the 3 distros.

On top of this, each client (that implements JDT-LS may have their own way of connecting made available. For example : https://github.com/redhat-developer/

[2021-08-17 09:33] pl07 commented on #1813
Can repro with sample project (https://github.com/crate/crate/blob/573bd2feb9052f9a83c01bd36cfb3c7485d0e9d3/server/src/main/java/io/crate/planner/operators/InsertFromValues.java#L653-L700)

Environment:
JDK16 + JLS 0.81.0 + Vscode 1.59.0

[2021-08-17 12:15] testforstephen commented on #1813
Looks like it still fails at some corner case, i reopen the issue for further look.

![image](https://user-images.githubusercontent.com/14052197/129723850-bef8cd97-c5cd-400a-aaeb-b2cf6713f744.png)

[2021-08-17 13:59] tivrfoa commented on #1717
Thank you very much Roland!!!

It worked! =D

Sorry for my late reply.

[2021-08-17 13:59] #1717 closed

[2021-08-18 04:42] mozhuanzuojing commented on #1830
这么严重的问题没人管吗？

[2021-08-18 09:39] Eskibear commented on #1836
https://github.com/eclipse/eclipse.jdt.ls/blob/64b15c5a9e5b11f62ceb5163ceb6930d5dea7129/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/contentassist/AnonymousTypeCompletionProposal.java#L104

Above line is the culprit, it formats the hard-coded body part for every completion item.

E.g. When we complete for `new Runnable`, the expected output should be:
[code]
It's combined by two pa

[2021-08-18 09:45] fbricon commented on #1836
I don't understand how option 2 works

[2021-08-18 10:04] Eskibear commented on #1836
The same new body `(){\n\t${0}\n}` is formatted for all anonymous constructor candidates. E.g. When cursor is at `Test.I`, for all available anonymous constructors, the new body is the same, and the formatter options are also the same.

![image](https://user-images.githubusercontent.com/2351748/129878913-7aeed058-86fc-425b-aa31-82e956d24d0d.png)

[2021-08-18 10:14] fbricon commented on #1836
ok if you find an elegant way to call that part once for all items then I'm all for it

[2021-08-18 10:16] fbricon commented on #1836
There's a all bunch of StringBuffers in that class, moving to StringBuilders won't hurt

[2021-08-18 10:32] Eskibear commented on #1836
I just recall why we have that part. In the past the new body also contained unimplemented methods (removed for performance concern), and that's why we needed to format.

[2021-08-18 12:53] rgrunber opened #1845 "Support Java 17"
JDT upstream root bug : https://bugs.eclipse.org/bugs/show_bug.cgi?id=570733
Builds : http://download.eclipse.org/eclipse/updates/4.21-P-builds/

We should at least build against this new feature patch and see if we run into any issues.

[2021-08-18 17:10] fbricon commented on #1830
works for me. No errors, ctrl-click on `new PubB().b()` opens the proper source file in vscode. Try cleaning the workspace directory: https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory

If that still doesn't work, please provide log files of the language server

[2021-08-19 02:22] testforstephen opened #1846 "completion: optimize the index engine for the scenario "complete on type name""
See a typical case for "complete on type name":
![image](https://user-images.githubusercontent.com/14052197/129871625-f9d134b0-377b-4b05-9658-bdf80a788f1f.png)

Currently the speed for "completion on type name" is not very fast, and one major part of time is spent by `unit.codeComplete()`. In the `codeComplete` implementation, it will call the search engine to search the available types with the p

[2021-08-19 09:05] LeonovecSergey opened #1847 "Add functionality to exclude files that will not be tracked for changes."
- The selection mechanism relies on VSCode watch changed files glob patterns. [Currently, there is no possibility to use negations in these patterns](https://github.com/microsoft/vscode/issues/27051), therefore all changed files on the workspace, including Bazel-build related, are sent to the language server.
- In the case of Bazel-build folders, there is a symlink to an original module with corre

[2021-08-20 14:39] mozhuanzuojing commented on #1830
thanks! @fbricon

it work ok at 0.81.0!

[2021-08-20 14:39] #1830 closed

[2021-08-20 14:39] mozhuanzuojing commented on #1830
thanks! @fbricon

it work ok at 0.81.0!

[2021-08-21 11:04] BruceWouaigne opened #1852 "Go to - wrong - definition on protobuf generated classes"
Hi there, very first time for me posting an issue here so sorry in advance if this is not the right place.

So here's the thing, I'm using vscode 1.59.1 with Java language support v0.81.0 and I ran into something weird when using protobuf.

Let say there’s a proto definition file in my service generating a class named and namespaced exactly the same as one that is in a library that is part of my s

[2021-08-22 11:12] rwols commented on #376
With the new insertTextModeSupport client capability, jdtls should be able to determine what whitespace strategy to use, no?

[2021-08-22 11:13] rwols commented on #1620
It looks much better these days -- not sure whether we accidentally improved it on our end or whether jdtls has improved it.

[2021-08-22 11:13] #1620 closed

[2021-08-23 03:28] testforstephen commented on #1846
The upstream issue https://bugs.eclipse.org/bugs/show_bug.cgi?id=575562

// cc: @rgrunber

[2021-08-24 13:37] mfussenegger opened #1855 "if with instanceof pattern match and `&&` breaks completion in nested if"
Using eclipse.jdt.ls from master (63713d5ce47c670b522bc0d527a5d1419bcefef9) and Java 16.0.1 the following code snippet breaks completion in the inner `if` branch:

[code]

As soon as the `&& y instanceof ..` part is removed the completion starts to work

I suspect this is an upstream jdt bug

[2021-08-24 13:57] fbricon commented on #1855
Yup, same issue in Eclipse IDE. Can you open a ticket in https://bugs.eclipse.org/bugs/enter_bug.cgi?product=JDT?

[2021-08-24 15:53] fbricon commented on #1855
thanks

[2021-08-25 12:39] mfussenegger opened #1856 "Cannot cast TypeBinding$LocalTypeBinding to IVariableBinding exception on `completionItem/resolve`"
Version: latest master (05b938fc61c461e82dc749e705a365ec787eb9fd)
Java 16.0.1

Got the following error when invoking `completionItem/resolve` with the following item:

[code]

The `LuceneQueryBuilder` is part of [crate/crate](https://github.com/crate/crate) on [this commit](https://github.com/crate/crate/commit/2f0724f88c001f402c950253d0b59e534f8e86fa)

[code]

https://user-images.githubuserconten

[2021-08-25 12:58] fbricon commented on #1856
@mfussenegger can you reproduce this issue in Eclipse IDE?
Looks to me the code in JDTUtils.computeFieldConstantFromTypeAST might have been copied from upstream JDT. @snjeza added it so she should know better.

[2021-08-25 13:42] rgrunber commented on #1856
Yup, it comes from `org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/infoviews/JavadocView.java` upstream. Maybe if the code snippet for some constant (that references another constant that finally resolves to a literal) is presented in the JavadocView, it may trigger the same error.

[2021-08-25 14:28] hsanson commented on #1060
Seems Java 11 is required to build the language server, see duplicate #1828

[2021-08-25 15:16] mfussenegger commented on #1856
No I didn't manage to reproduce it with Eclipse IDE - but I'm not very familiar with it (I actually haven't had it installed before)

[2021-08-25 16:26] HiPhish commented on #1060
When I opened this issue originally Java 8 was the requirement. I might as well close the issue then since it's out of date and I don't write Java anyway at the moment. If people have problems building they should open a new issue with up to date information.

[2021-08-25 16:26] #1060 closed

[2021-08-26 05:48] hsanson opened #1859 "Allow to specify external dependencies via LSP configuration"
Similar to java-language-server it would be nice if we can specify external dependencies using "didChangeConfiguration". This would allow tools and editors to add dependencies dynamically.

- https://github.com/georgewfraser/java-language-server#settings

[2021-08-27 07:10] angelozerr opened #1860 "CodeAction for missing required attribute"
Given this class:

[code]

The Generated has an error because value is required.:

![image](https://user-images.githubusercontent.com/1932211/131086890-7ddd41b3-83ff-4415-b006-64d319d2d002.png)

It should be nice to provide a code action which insert this required attribute like Eclipse IDE provides:

![image](https://user-images.githubusercontent.com/1932211/131087036-45ac6b70-4a07-4c75-aac4-11fa

[2021-08-27 17:45] snjeza opened #1861 "JDT LS build fails"
[code]

[2021-08-27 18:32] #1861 closed, assigned to snjeza

[2021-08-28 15:17] hsanson commented on #1859
@rgrunber thanks for the tip....  I am trying to add the Android jar file using this property but I certainly must be doing something wrong since I am unable to get eclipse.jdt.ls to recognize or autocomplete android packages.

This is what I see on the LSP logs, maybe I am sending the wrong JSON configuration?

[code]

The JSON I am sending in the didChangeConfiguration is:

[code]

[2021-08-30 14:18] rgrunber commented on #1859
Does the project not contain gradle build files anywhere ? Do you have a sample you can attach, or a link to the repo ? What client are you using to consume JDT-LS ?

[2021-08-31 18:32] LeonovecSergey commented on #1847
As I mentioned earlier, negation cannot be used in these patterns. Both the project module folders and the symbolic link are in the same folder. It follows that to track BUILD files, you need to calculate the paths for each specific file.

We expect our plugin to be used for large projects. For example, we are currently testing a project that contains over 2000 modules.

So I think that calculatin

[2021-08-31 19:12] rgrunber commented on #1847
@fbricon , let me know what you think. The change looks fine to me (I would maybe just look closer at the glob: matching).

Is it worth seeing if `getFileOrFolder(..)` can be fixed to return the symlink rather than the resolved path ?

[2021-09-01 00:51] rgrunber commented on #1021
I've added the entries under https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences#java-compiler-options only because there was already a global preference page there. We could probably move that entire page under JDT-LS and link accordingly.

I generated the results from the source file since the javadoc is the result of a build/release and the sources can be accessed d

[2021-09-01 01:22] testforstephen commented on #1838
closed with PR https://github.com/eclipse/eclipse.jdt.ls/pull/1857

[2021-09-01 01:22] #1838 closed

[2021-09-01 05:27] testforstephen opened #1864 "completion: calculating textEdit for constructor proposals is slow"
Sample:
[code]

Since one type could have multiple constructors, the list of constructor proposals could be much larger than the list of type names. Calculating textEdit can be very slow for large result list.
![image](https://user-images.githubusercontent.com/14052197/131616978-3a2191fa-cab6-4e2b-985a-b0cca56d5318.png)

![image](https://user-images.githubusercontent.com/14052197/131616400-81148ae

[2021-09-01 06:11] hsanson commented on #1859
I am using this simple hello world project:

  - https://github.com/chiuki/android-hello-world

I am trying to add support for JDT-LS on my own plugin:

  - https://github.com/hsanson/vim-android

This is the MR where I am working on:

  - https://github.com/hsanson/vim-android/pull/99

In short this plugin generates a list of JAR dependencies and paths and passes them to the Language Server via [

[2021-09-01 17:43] rgrunber commented on #1859
I don't think we have support in JDT-LS for for manually adding dependencies to a Maven or Gradle project. We support importing them so it's just a matter of making sure their respective build files contain the dependencies/paths you are interested in.  If something is added to resolve in the IDE but not part of the build system, then any code written based on that would probably not compile.

Add

[2021-09-02 00:28] snjeza commented on #1845
Related fix: https://git.eclipse.org/c/jdt/eclipse.jdt.core.git/commit/?id=18c959eefec1d28fbd88c6f051ddb38f41dd4384
EclipseProjectImporterTest.testPreviewFeaturesDisabledByDefault() fails because of that.

[2021-09-02 06:48] jdneo commented on #1847
@LeonovecSergey Please let me know if I missed anything, is it possible in `BazelBuildSupport#fileChanged()` return false to avoid the prompt dialog?

From my understanding if `BazelBuildSupport` knows which kind of files need to be excluded, it should know whether this change needs to have an update. Is this correct?

@rgrunber Personally I would suggest to wait to see if more customers complain

[2021-09-02 13:46] BruceWouaigne commented on #1852
Nobody?!

[2021-09-02 14:10] rgrunber commented on #1847
@jdneo , the file they wish to exclude is a symbolic link to a file that should be watched by the build. It's also not possible to specify each and every file/folder that must be included. It seems like `getFileOrFolder(..)` resolves such files, losing the original location, and so they have no way to determine whether the resolved resource actually refers to the symlinked file. As a result, I bel

[2021-09-02 18:59] snjeza commented on #1852
@BruceWouaigne You can try to add the following plugin:

[code]
to your test-java-app/pom.xml

See https://github.com/redhat-developer/vscode-java/issues/2058#issuecomment-898044034

[2021-09-02 19:57] rgrunber commented on #1827
If I attempt to build the project as-is, I get :
[code]

If I remove the wrapper task at the bottom of build.gradle, I get some other failure, but the language server never gets shut down.

With that said, is there any chance, the log we're looking at is of the Syntax Server ? It's actually expected to shut itself down like that once the client confirms the Standard Server has started. I can't see

[2021-09-03 00:12] jdneo commented on #1847
Yes, agree.

[2021-09-03 09:18] airbagi commented on #1827
I also believe that the reason is gradlle-wrapper work. I also get those errors, but I can't disable processing of gradle.
I checked off flags like:
java.import.gradle.enabled: false
java.import.gradle.wrapper.enabled: false

but still get those errors that you've mentioned: "Coudl not run phased build action..."

I build with Android Studio and don't need graddle-wrapper in Visual Studio Code. Bu

[2021-09-03 19:53] s759labs opened #1866 "Minimize the auto-complete suggestion to core java packages"
Is there a way - I mean some kind of setting, to only support auto-complete suggestion for core-java packages (in short remove auto-complete suggestions coming for java.applet/java.awt/java.security etc)?

[2021-09-06 02:09] testforstephen commented on #1866
Do you try the setting?

[code]

[2021-09-06 04:33] Eskibear commented on #1864
I notice some change about `textDocument/completion` request in LSP 3.16.

LSP 3.15:

LSP 3.16:

So I think for the moment it's not breaking the protocol if we:
* fill `insertText` in completion stage.
* fill `textEdit` (time consuming) in resolve stage.

**The proposal is** to move `textEdit` calculation from completion stage into resolve stage, as what we did long time ago. And in completion sta

[2021-09-06 06:20] Shubham567 commented on #1866
@testforstephen Can you tell where to put those settings?

[2021-09-06 06:25] testforstephen commented on #1866
what client are you using? In VS Code, you can put it in [settings.json](https://code.visualstudio.com/docs/getstarted/settings).

[2021-09-06 06:30] Shubham567 commented on #1866
no, actually Its monaco editor running remotely, connected via sockets, Can it be done on server-side? or some config or env variable in Java Language Server?

[2021-09-06 07:49] Eskibear commented on #1864
* Some tools might not take the string literally. For example
	 * VS Code when code complete is requested in this example
	 * `con<cursor position>` and a completion item with an `insertText` of
	 * `console` is provided it will only insert `sole`. Therefore it is
	 * recommended to use `textEdit` instead since it avoids additional client
	 * side interpretation.
	 */
	insertText?: string;

Becaus

[2021-09-06 13:17] testforstephen commented on #1866
Please notice that eclipse.jdt.ls follows the LSP implementation. The client can add the settings to the `InitializeParams` of LSP [initialize request](https://microsoft.github.io/language-server-protocol/specifications/specification-3-17/#initialize) and send it to the server.

[code]

[2021-09-06 13:17] #1866 closed

[2021-09-06 17:10] rgrunber commented on #1827
Noticed a little while ago you mentioned "But it works untill the server is shutted down." . If that's the case, then it's likely because the lightweight server mode is providing enough completion, and of course because the standard server fails to start (build failure) the result is no completion.

Could you try setting `java.server.launchMode` to `lightweight` ? You can do that in VS Code settin

[2021-09-06 20:23] Eskibear opened #1869 "CI failed"
See https://ci.eclipse.org/ls/job/jdt-ls-pr/2807/ and recent PR builds.

mostly failed cases.
[code]

[2021-09-06 22:15] #1847 closed

[2021-09-07 00:01] balabesimple1 commented on #741
Have we scaled this use scale?  or  Could you give more info on how the proxy to jdt.ls works?

[2021-09-07 00:06] rgrunber commented on #1869
This doesn't seem to be consistent : https://ci.eclipse.org/ls/job/jdt-ls-master/ (1157 & 1158 are succeeding).

[2021-09-07 00:45] snjeza commented on #1869
@rgrunber See https://ci.eclipse.org/ls/job/jdt-ls-pr/

[2021-09-07 01:48] Eskibear commented on #1869
I did observe random failing of PR builds, and I'm curious about what can be the culprit...

Also see:
https://github.com/eclipse/eclipse.jdt.ls/pull/1806#issuecomment-913813744
https://github.com/eclipse/eclipse.jdt.ls/pull/1842#issuecomment-913926356  (it's working now after manually retriggering)

[2021-09-07 09:03] airbagi commented on #1827
**Wow**!
It works, thank you very much. As I understand, it does not use gradle, so everything works fine.

I also has to mention, that I've tried to adopt that extension to correctly use gradle, but in fact it ignores system vars such as: JAVA_HOME, GRADLE_USER_HOME etc.. so I failed to do that. For example, gradlew build script works fine with that settings.

[2021-09-08 03:24] Eskibear commented on #1869
https://ci.eclipse.org/ls/job/jdt-ls-pr/2823/console

seems to be killed after running for 10 min?

[2021-09-08 09:51] fbricon commented on #1864
@Eskibear you're making some convenient interpretations of the spec ;-)
I'm not convinced this doesn't violate the spec, as this is what we were doing in the past and were asked to stop doing it. Can we get some feedback from @dbaeumer?

I'm all for lazily computing extensive stuff, but this might break other clients (vim, emacs...), or at least degrade the completion UX. @mfussenegger @yyoncho wh

[2021-09-08 10:01] fbricon commented on #1864
@Eskibear here's what [completionItem#resolveSupport](https://microsoft.github.io/language-server-protocol/specification#textDocument_completion) values vscode sends to jdt.ls during initialization:

[code]

 So no textEdit there.

[2021-09-08 10:39] #1678 closed

[2021-09-08 14:07] fbricon commented on #28
Was fixed 6 months ago with https://github.com/eclipse/eclipse.jdt.ls/pull/1656

[2021-09-08 14:07] #28 closed

[2021-09-08 14:20] fbricon commented on #1392
This was fixed upstream but I can no longer see the Generate getters and setters code/source action!
@Eskibear could you please take a look?

[2021-09-08 14:34] Eskibear commented on #1864
@fbricon Yes, you are right. The "complete insertText + resolve textEdit" approach happens to work in some cases, but the correctness is not guaranteed. I created the #1868 mainly to see how much we can improve and to restart this discussion of this issue.

So far since there're some clients (e.g. vscode) supporting resolve additionalTextEdit, **anohter approach** is to "complete textEdit (simple

[2021-09-08 15:22] mfussenegger commented on #1864
Stock neovim lsp doesn't have resolveSupport at all and the built-in completion uses `textEdit` if available, with fallback to `insertText` and `label` (in that order).

There are some plugins which add `resolveSupport`, but as far as I know it is limited to `documentation`, `detail` and `additionalTextEdits`. None that I know of support lazy resolving of `textEdit`. And as far as I'm aware it wou

[2021-09-08 15:24] Eskibear commented on #1392
Below line is not working with a Record type, I can submit a fix later.

https://github.com/eclipse/eclipse.jdt.ls/blob/64b15c5a9e5b11f62ceb5163ceb6930d5dea7129/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/codemanipulation/GenerateGetterSetterOperation.java#L83

BTW, verified the bug has been fixed.

https://user-images.githubusercontent.com/2351748/132538144-fdb15034-0d63-4053-9bb

[2021-09-09 06:50] dbaeumer commented on #1864
I think https://github.com/eclipse/eclipse.jdt.ls/issues/1864#issuecomment-915098967 answers it. It depends on the client which properties it allows and VS Code DOESN'T support resolving the text edit lazy.

[2021-09-09 13:00] #1392 closed

[2021-09-09 13:03] #449 closed

[2021-09-09 13:10] fbricon commented on #621
Closing, according to https://bugs.eclipse.org/bugs/show_bug.cgi?id=533592#c2:

[2021-09-09 13:10] #621 closed

[2021-09-09 21:30] snjeza opened #1872 "'Peek -> Call Hierarchy' issue"
See https://github.com/eclipse/eclipse.jdt.ls/pull/1824#issuecomment-914607015

[2021-09-10 02:10] testforstephen commented on #1827
+1

When importing a gradle project, GradleProjectImporter silently eats the exceptions that occur during the import phase so that the "Initialize Workspace" job in InitHandler does not fail and always sends a "Ready" status. It doesn't reflect the server status correctly.

https://github.com/eclipse/eclipse.jdt.ls/blob/7f393975b11ccfc03b3a5dc13f585855a5885461/org.eclipse.jdt.ls.core/src/org/eclip

[2021-09-10 08:19] airbagi commented on #1827
And I again has to mention, for me its impossible to run correctly Gradle build, because it ignores either system var **GRADLE_USER_HOME** or internal vscode setting **java.import.gradle.user.home**

[2021-09-10 10:14] BruceWouaigne commented on #1852
Thanks @snjeza but that doesn't change a thing. Again my project build is passing but IDEs are getting confused.

[2021-09-10 11:16] testforstephen commented on #1827
android gradle project is supported yet, that's a known issue.

[2021-09-10 14:04] rgrunber commented on #1828
I see `/etc/java/jdk-11.0.12.7_adopt/bin/java` in the logs, so that would indicate you're running with Java 11. Is this still happening ?

If you want to just build the language server, you can bypass the tests with `./mvnw clean verify -DskipTests`.

[2021-09-10 14:04] fbricon opened #1873 "The value of the local variable getterRelevance is not used"
See https://github.com/eclipse/eclipse.jdt.ls/blob/7f393975b11ccfc03b3a5dc13f585855a5885461/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/contentassist/GetterSetterCompletionProposal.java#L59-L62

[2021-09-10 14:05] fbricon commented on #1873
This probably needs a `proposal.setRelevance(getterRelevance);` though I'm not sure what the effect will be from a UX perspective

[2021-09-14 09:04] Eskibear commented on #1869
New case of failure:

https://ci.eclipse.org/ls/job/jdt-ls-pr/2838/testReport/org.eclipse.jdt.ls.core.internal.handlers/DocumentLifeCycleHandlerTest/testUnimplementedMethods/

[code]

[2021-09-15 14:27] rgrunber commented on #1845
The BETA_JAVA17 branch appears to have been merged looking at the repository. Also see https://www.eclipse.org/lists/eclipse-dev/msg11761.html .

[2021-09-15 16:38] snjeza commented on #1845
@rgrunber I have updated https://github.com/eclipse/eclipse.jdt.ls/pull/1871

[2021-09-15 17:18] eruizc-dev opened #1879 "Wildcard support for organize imports"
I'd like to have an option to use wildcards instead of expanding all after calling `organizeImports`.

I was thinking about some configuration like this, in which you can enable/disable and specify how many imports in the same namespace are required to join them by wildcard:

[code]

[2021-09-15 17:53] fbricon commented on #1879
You mean this?
https://github.com/eclipse/eclipse.jdt.ls/blob/0b3651f030e2e68e43019268f35880a07aa7a8c5/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/preferences/Preferences.java#L345-L367

That'd translate to

[code]

[2021-09-15 18:33] eruizc-dev commented on #1879
Thanks @fbricon, that did the trick. Is this in any documentation? Because I've been looking for this a long time and couldn't find it.

[2021-09-15 19:51] #1869 closed

[2021-09-15 20:15] rgrunber commented on #1879
If you're using a client (eg. VS Code), the client page (eg. https://github.com/redhat-developer/vscode-java#supported-vs-code-settings) would have the information about settings, since each client could potentially have a different way to enable them.

If you mean strictly from the point of view of someone implementing Java language support, the file Fred references is probably the best resource.

[2021-09-15 20:58] eruizc-dev commented on #1879
I use Neovim as a client, the documentation indicates where and how to pass settings to the LSP, and that the settings should be documented by the LSP. I don't understand why the client should be responsible for documenting this (VS Code in this case) but for now, it's fine for me.

Thank you for your time!

[2021-09-15 20:58] #1879 closed

[2021-09-15 22:01] rgrunber commented on #1879
Doing a quick search for neovim, it looks like [nvim-jdtls](https://github.com/mfussenegger/nvim-jdtls#configuration) references our wiki while, [coc-java](https://github.com/neoclide/coc-java#supported-settings) lists the settings directly. Maybe we could look at placing the settings there as well in the event that a client happens to just refer back to the language server itself.

[2021-09-17 07:53] Eskibear commented on #1864
I simply think if I commit the completion before `textEdit` is resolved, client can simply use `insertText`(or label) and ignore the later resolved `textEdit`...which is not a big problem to me. I believe that's a systematic way to solve performance issue. And it doesn't make sense to calculate textEdit for every candidate before I even select them.

I'm not familiar with client implementation. BU

[2021-09-17 12:15] bcarb opened #1881 "Licensing question"
Hi!

I would like to distribute your software in a command-line tool that is to be published on the npm marketplace.

Although the EPL2 license seems to allow what my company plans to do, I would like to make sure your license is fully respected.

Given the following elements, could you confirm your license is respected?

- Our tool is for commercial use
- Our tool will use the contents of the [`j

[2021-09-17 12:27] fbricon commented on #1881
I think it should be fine, but would rather have @waynebeaton confirm

[2021-09-17 12:41] mfussenegger commented on #1864
Can only speak for neovim. The function/API to show completion candidates doesn't (easily) support asynchronously extending or changing completion candidates. Instead there is a function that takes a list of candidates and shows them. Currently it uses the `textEdit` or `insertText` or `label` information when it presents the choices.

But even if it had - or if the other APIs are used that give m

[2021-09-17 14:28] waynebeaton commented on #1881
I am not a lawyer. This is not legal advice.

Please see the [EPL-2.0 FAQ](https://www.eclipse.org/legal/epl-2.0/faq.php). Your questions are answered there. I believe that sections [4.16](https://www.eclipse.org/legal/epl-2.0/faq.php#h.obyumhvpl7gl), 4.17, and 4.18 give you the answers that you're looking for.

You should have your lawyer help you with interpretation of legal documents.

[2021-09-20 17:48] snjeza commented on #1813
A related issue - https://bugs.eclipse.org/bugs/show_bug.cgi?id=576121

[2021-09-21 13:28] dbaeumer commented on #1864
In VS Code it is used to do property prefix matching since the text edit describes the replace region in the document when applying the text edit. Without that info filtering will not work correctly

[2021-09-22 14:23] mfussenegger opened #1885 "NPE on ::new method refs (Cannot invoke "org.eclipse.jdt.core.dom.IMethodBinding.isSynthetic()" because "functionalMethod" is null)"
eclipse.jdt.ls version: built from master (11302ccf40b05c44fd4c8fb8ed3db913ac87272a)
java: 16

With a code snippet like this:

[code]

(HashMap not being imported)

Triggering code actions if the cursor is on top of `new` triggers the following error:

[code]

The payload sent to the server:

[code]

(the `<table 1>` here is a vim logging artifact, proper values got sent)

[2021-09-23 18:12] rgrunber commented on #1885
I'm able to reproduce on latest Eclipse as well, which is expected as the code is the same. Only difference is I have to select the token itself upstream.

[2021-09-23 20:12] rgrunber commented on #1885
Filed and proposed a change upstream at https://bugs.eclipse.org/bugs/show_bug.cgi?id=576236 .

[2021-09-23 21:13] snjeza commented on #1885
You can make the same change at https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/text/correction/QuickAssistProcessor.java#L326

[2021-09-24 00:18] #1813 closed

[2021-09-24 00:47] #1885 closed

[2021-09-24 15:16] prvnsmpth opened #1890 "Triggering the indexing task"
I am trying to build a Docker image of the language server for my application. I observed that the language server builds an index of all dependencies and writes it under the data directory, at `.metadata/.plugins/org.eclipse.jdt.core`.

The issue is that in order for indexing to run, I need to set a high `Xmx` and this means that my application will use a lot more memory than necessary, simply be

[2021-09-27 19:44] rgrunber commented on #1890
Have you tried setting the options described in https://github.com/redhat-developer/vscode-java/pull/1262/files : `-XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx1G -Xms100m` ? This is at least worth a try to see if it allows the language server to be more aggressive in garbage collection.

As for your stage-1 requirement of triggering

[2021-09-28 03:43] prvnsmpth commented on #1890
Thank you for the detailed reply @rgrunber ! Will try running in headless mode.

Just in case someone else stumbles upon this issue, I was able to work around it by building and publishing a docker image with my local copy of the index files. Of course, the headless mode approach described above is a much better solution.

Here's the Dockerfile I used to publish my image:

[code]

The local `data`

[2021-09-28 08:52] baobaoit opened #1892 "[Feature request] Add a `codeAction` to generate the serialVersionUID field"
### Problem Statement

As the Eclipse IDE:
Which class `implements` the `Serializable`, we need to put a field: `private static final long serialVersionUID = X;`.
Where `X` is a number type `long` be generated by the tool `serialver` of Java.

### Ideas or possible solutions

Reference: [Java – How to generate serialVersionUID](https://mkyong.com/java/how-to-generate-serialversionuid/)

### Conclu

[2021-09-28 15:28] snjeza commented on #1892
A related issue - https://github.com/redhat-developer/vscode-java/issues/401

[2021-09-28 23:38] quilenle commented on #1892
Hi @mfussenegger, would you please take a look at that issue, it seems like already been implemented. Thank you.

[2021-09-28 23:40] baobaoit commented on #1892
Hi @mfussenegger , would you please take a look at that issue, it seems like already been implemented. Thank you.

[2021-09-29 00:15] snjeza commented on #1892
You should set the following JDT preference:
[code]
to <your_project>/.settings/org.eclipse.jdt.core.prefs

See also [Settings Global Preferences](https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences)

[2021-09-29 01:37] testforstephen commented on #1892
One improvement is to show this quick fix suggestion at the light bulb regardless of whether the "missingSerialVersion" flag is enabled or not.

[2021-09-29 02:12] baobaoit commented on #1892
Hi @snjeza, your suggestion is really awesome, it's totally working as I expected.

![image](https://user-images.githubusercontent.com/31947091/135190586-740a2350-20c2-471a-aad8-3260efa6001c.png)

But I'm using it on the Neovim + JDT.LS + nvim-jdtls, so I don't know how to set it as the global setting like on the vscode.

I hope you can propose for me one more or I will wait for the update from nv

[2021-09-29 12:07] baobaoit commented on #1892
Hi @snjeza,

Your solution on `<your_project>/.settings/org.eclipse.jdt.core.prefs` works well, but for the `Settings Global Preferences` seems like not working in my case.

I have researched and found this https://github.com/redhat-developer/vscode-java/issues/1939.

I'm using:
- Neovim v0.5.1 (installed from Homebrew).
- eclipse.jdt.ls build from source.
- nvim-jdtls plugin for my Neovim.

The c

[2021-09-29 20:45] snjeza commented on #1892
@baobaoit Could you try https://github.com/snjeza/vscode-test/raw/master/jdt-language-server-1.5.0-202109292033.tar.gz ?

[2021-09-30 01:25] baobaoit commented on #1892
I have tried and the same result with the `build from source`.

JDT.LS downloaded from your link:
![image](https://user-images.githubusercontent.com/31947091/135369792-8d1bb1a2-1a6e-41eb-8404-c7b33d470c77.png)

settings.prefs:
![image](https://user-images.githubusercontent.com/31947091/135369846-7ef67348-087c-4b08-b798-1026105659fe.png)

When open a class implements Serializable interface:
![image

[2021-09-30 04:34] snjeza commented on #1892
@baobaoit Could you try the following:

- clone eclipse.jdt.ls
- apply the following patch
[code]
- build jdt.ls
- check your issue

[2021-09-30 05:34] baobaoit commented on #1892
@snjeza I applied your patch and these are some test cases:

Your patch:
![image](https://user-images.githubusercontent.com/31947091/135392937-751a997a-55dd-420c-a214-aebc78b947a7.png)

Build jdt.ls with Java 11:
[code]

Case 1: settings.prefs with Eclipse IDE export format
![image](https://user-images.githubusercontent.com/31947091/135392814-8d78a28f-87e7-4cc0-b2a7-e4f9c6d00a95.png)

Case 2: sett

[2021-09-30 16:15] snjeza commented on #1892
@mfussenegger Does nvim-jdtls support the java.settings.url preference?

[2021-09-30 23:01] rgrunber commented on #1815
Maybe something like :

[code]

would guard against the NPEs . I still see some tests failing with this so would have to investigate.

[2021-10-01 01:22] baobaoit commented on #1892
@snjeza today, I make it works with a little tweak like the picture below (includes your patch or without it):
![image](https://user-images.githubusercontent.com/31947091/135550475-2f486893-3774-48e6-8c7b-d4aed3aa0803.png)

So this issue is resolved. I want to give to you huge respect.

A ridiculous that, when I test in Lua demo the format:
[code]

But with that format in `nvim-jdtls` it doesn't w

[2021-10-03 08:11] prvnsmpth commented on #1890
@rgrunber Thanks, that was useful info!

[2021-10-03 09:22] prvnsmpth commented on #1890
I tried passing the `jdt.core.sharedIndexLocation` system property directly to the language server process like so:
[code]

However, that didn't seem to work. Before starting the language server, I can see my pre-built index (note the 42MB file):
[code]

After starting the language server, everything is overwritten:
[code]

Any ideas on what I'm doing wrong? How do I specify the shardedIndexLocati

[2021-10-03 14:25] mcampbell opened #1896 "org.osgi.framework.BundleException: Could not resolve module: org.eclipse.equinox.common"
I just downloaded the latest 1.4.0 benchmark version (jdt-language-server-1.4.0-202109161824.tar.gz), and when trying to run using the java command on the readme, I get the error in the title.

Not much on search engines, and nothing related to the language server.

I don't have any other eclipse products installed anywhere, and am not planning on using the IDE for anything - I just want the LSP s

[2021-10-03 16:44] snjeza commented on #1896
@mcampbell Could you show your java command?

[2021-10-03 16:57] mcampbell commented on #1896
I will close the issue since it was user error.  I use `sdkman` to manage java versions, and was trying to run the command with java 1.8.  When I used a java 1.11 version, it runs fine, and interfaces successfully with eglot and emacs.

Sorry for the false report - but leaving this up in case anyone else has the same issue.  Thanks for the prompt response, and on a Sunday!

[2021-10-03 16:57] #1896 closed

[2021-10-04 19:09] rgrunber commented on #1890
Is `/langserver/java/data` also the workspace for the language server ? I ask because it seems to have the exact path structure as a workspace. I don't think the shared index is meant to be within the workspace. Ideally, it should be some folder location outside of the workspace.

If you're starting the LS from command-line, you should be able to pass it as `-Djdt.core.sharedIndexLocation=/some/pa

[2021-10-05 03:12] prvnsmpth commented on #1890
Yes, first I tried to pass the exact same path as before, and then I tried
with a path outside the data directory - neither of them worked.

On Tue, 5 Oct 2021, 00:39 Roland Grunberg, ***@***.***> wrote:

[2021-10-05 14:32] CarlPer opened #1899 "Add setting for code actions to not generate comments"
As of now, code actions generate.
[code]

Can we add a setting to not make it generate comments above the chosen code action?

[2021-10-11 14:33] fbricon commented on #1011
Can't reproduce this issue. Closing.

[2021-10-11 22:22] fbricon commented on #1846
fixed with #1902

[2021-10-11 22:22] #1846 closed

[2021-10-11 22:24] fbricon commented on #1864
Reopening as I closed the wrong issue (although it's related to #1846)

[2021-10-13 09:23] fbricon opened #1904 "packages are not filtered from completion despite the java.completion.filteredTypes configuration"
If you type `java.awt.` you'll see all subpackages being proposed for completion, even though `java.awt.*` is excluded by default.

<img width="448" alt="Screenshot 2021-10-13 at 11 23 06" src="https://user-images.githubusercontent.com/148698/137105687-3704e8bb-6289-4ffe-9ade-674bdd4caa9b.png">

In Eclipse, you only see the top level `java.awt` proposal, nothing below.

[2021-10-13 16:31] #1904 closed

[2021-10-14 13:30] filippor opened #1907 "Implement Build Server Protocol"
Did you evaluate to implement [Build Server Protocol]( https://build-server-protocol.github.io/)
It's an interface between build system and language server/ide similar to LSP

[2021-10-15 02:44] jdneo opened #1909 "JDTUtils.isExcludedFile() is not working"
It will throw errors like: `java.nio.file.InvalidPathException: Illegal char <:> at index 4: file:///C:/Users/xxx/...`

[2021-10-18 15:45] dradtke opened #1913 "Unable to build since version 1.0.0: Failed to load p2 metadata repository"
I am able to download and build 1.0.0 just fine, but for every release since (including the latest, 1.4.0), I get this build error:

[code]

A quick check confirms that https://download.eclipse.org/technology/m2e/snapshots/1.18.2 does not exist, though https://download.eclipse.org/technology/m2e/snapshots/1.18.3 does.

Why is 1.18.2 missing, and should the server be updated to use 1.18.3?

[2021-10-19 08:01] fbricon opened #1915 "Several errors reported for anonymous Object classes"
Try:

[code]
You get `java.lang.IllegalArgumentException: new java.lang.Object(){}` errors on `textDocument/codeAction`, `hover`

[code]

[code]

[2021-10-19 19:22] snjeza commented on #1915
I can reproduce the issue in Eclipse too. You should hover over the tuple field.

![fbricon2](https://user-images.githubusercontent.com/388609/137975962-82de062b-8d11-4991-9b4b-40deba6cb7c2.gif)

![fbricon](https://user-images.githubusercontent.com/388609/137975967-37f3e39a-ccc1-41d8-bf2a-42ac1044023f.gif)

A simpler case:
[code]
You get IAE when hovering over runnable.

[2021-10-21 23:48] 0dinD opened #1918 "Race condition with the shared AST provider"
In my debugging efforts on redhat-developer/vscode-java#2176, I've found what I believe to be the root cause of that issue: a race condition with the shared AST provider.

Here's what happens when you get desynced semantic tokens in the client (time increases with each row):

| Thread A | Thread B | Thread C |
| --- | --- | --- |
| Starts handling the first semantic tokens request | | |
| [Calls `

[2021-10-22 17:29] yyoncho opened #1919 "add support for linkedEditingRange"
Very handy for renaming local variables/methods.

[2021-10-22 21:18] 0dinD opened #1920 "Race condition between AutoBuildJob and the publish diagnostics job"
I was able to find the cause of redhat-developer/vscode-java#1633: another race condition! (not related to #1918)

Here's what you need to know:
- An `AutoBuildJob` can run concurrently with a publish diagnostics job from `BaseDocumentLifeCycleHandler`, because [it's scheduling rule is per-workspace](https://git.eclipse.org/r/plugins/gitiles/platform/eclipse.platform.resources/+/1175ef436cde64c9a1

[2021-10-23 17:59] Polish-Civil opened #1921 "Question regarding project structure."
Hello, I couldn't find good article nor explanation regarding the overall project structure i've seen on eclipse's projects.

My question is about the root directory naming used reverse DNS notation, just like java packages. To my current understanding is that it helps refactoring the namespaces without using too much of analysis (when project root dirs have the same name as java's packages, it co

[2021-10-24 14:11] Eskibear opened #1922 "malformed semantic tokens in some case"
Open this java file in an empty folder:

[code]

The last semantic token is malformed as below:
[code]

We are producing unsorted tokens.

references:
https://github.com/microsoft/vscode/issues/135079
https://github.com/microsoft/vscode/issues/134973
https://github.com/microsoft/vscode-java-pack/issues/764#issue-1024795303

[2021-10-27 07:05] GaZaTu opened #1926 "Wrong error reporting on startup (The type XXX is not visible)"
👋
we recently moved from an eclipse project structure to a maven project structure (with maven submodules and all that).

For quite a while now (probably since the transition) we're getting this weird issue of both vscode and eclipse reporting errors on specific classes (pretty much the same ones everytime, tho changing seemingly randomly) like `The type TTT(submodule A) is not visible` or `The me

[2021-10-29 05:53] #1922 closed, assigned to nobody

[2021-11-03 13:54] #1915 closed

[2021-11-05 01:39] snjeza commented on #1920
@0dinD Could you, please, check https://github.com/eclipse/eclipse.jdt.ls/pull/1930

[2021-11-06 02:04] hungrybirder opened #1931 "Question, How to "GoToDefination" for JDK package?"
Hello,
Thanks for this great repo.

And I got a question.

When I want to `GoToDefination` for __java.util.*__ package, it didn't work.

<img width="996" alt="image" src="https://user-images.githubusercontent.com/1021047/140593998-6d5b5560-83c7-4dc2-87e3-788bd1dc8fd4.png">

Here is Nvim [lsp.log](https://pastebin.com/B9Aqxdeh)

jdtls command
[code]

[2021-11-08 05:48] pawansingh00 commented on #1505
@GNSubrahmanyam Hi can you please help me with the configs used to make it work with monaco-languageclient?
To ve more specific - How to modify this line --https://github.com/TypeFox/monaco-languageclient/blob/69f41d2c2d9b37bcbb9a080d86ec2eed838d6885/example/src/json-server-launcher.ts#L19

to make it work with -- this java lsp.

And do we need any other chnages?

[2021-11-08 07:17] pawansingh00 opened #1933 "Issue when trying to connect using Monaco Editor"
Hi,

I am trying to connect this JAVA LSP to monaco Editor using - https://github.com/TypeFox/monaco-languageclient

By changing this line -- https://github.com/TypeFox/monaco-languageclient/blob/69f41d2c2d9b37bcbb9a080d86ec2eed838d6885/example/src/json-server-launcher.ts#L19

as below

[code]
and it seems to give the following error --

![image](https://user-images.githubusercontent.com/27332582/

[2021-11-08 09:58] pawansingh00 commented on #1933
Able to make it work by changing this one --   https://github.com/TypeFox/monaco-languageclient/blob/69f41d2c2d9b37bcbb9a080d86ec2eed838d6885/example/src/client.ts#L28

[code]

to

[code]
 and creating a directory with empty file -- `home/projects/monaco-languageclient/example/demo/java/file.java`

[2021-11-08 10:02] fbricon commented on #1931
I don't use jdt.ls with vim  personally. @mfussenegger is this something you could help with?

[2021-11-08 10:26] hungrybirder commented on #1931
Okay.
Thank you.

[2021-11-08 10:26] #1931 closed

[2021-11-08 11:22] mfussenegger commented on #1931
Jumping to the definition of JDK libraries or other third-party libraries requires the `classFileContentsSupport` `extendedClientCapabilities` on the client. This is not part of the core protocol, but a custom extension of eclipse.jdt.ls

https://github.com/mfussenegger/nvim-jdtls supports it. If you're using that and it still doesn't work, please file an issue there.
It won't work on other client

[2021-11-08 22:18] ankurs47 opened #1934 "Wrong order of command line arguments to start the server in the docs"
as per the documentation here: https://github.com/eclipse/eclipse.jdt.ls/blob/ed69aae7cabec324f3201106475e0a98abc8ad13/README.md?plain=1#L73-L75
 command to start the server is:
[code]

instead, it should be :
[code]

basically these arguments
[code]
are jvm arguments, not the arguments to the jar file main class. These arguments should be before the jar argument.

related changes in projects usin

[2021-11-09 01:49] #1920 closed

[2021-11-09 02:26] hungrybirder commented on #1931
Thank you for your reply.
I will try `nvim-jdtls` later.

[2021-11-09 05:16] testforstephen commented on #1934
@ankurs47 Are you willing to contribute a PR to fix it?

[2021-11-09 10:02] Sakaar19 commented on #376
is it fixed now?

[2021-11-09 14:03] ankurs47 commented on #1934
@testforstephen Sure. It looks like I need to sign ECA to contribute. I will do it over the weekend.

[2021-11-09 15:08] rgrunber commented on #1934
Seems like the right thing to do. Maybe `--add-opens` was handled by Equinox properly in older releases, but now it definitely makes sense to relocate it as you suggest.

[2021-11-11 00:03] m-lnrs commented on #1144
Hi there,

I'm using eclipse language server with vim-lsc and I'm trying to figure out where exactly can I set `java.configuration.maven.userSettings` when running eclipse language server from terminal? Is it possible?

If so, in which file can I set the `java.configuration.maven.userSettings` preference?

Thanks.

[2021-11-11 11:50] basbebe opened #1938 "no line flags using kak-lsp"
I'm using [eclipse.jdt.ls](https://github.com/eclipse/eclipse.jdt.ls) and the latest release of [kak-lsp](https://github.com/kak-lsp/kak-lsp) via brew.

I get a list of errors but I don't get any flags / symbols in my line gutter.

It works for other languages, so I don't know whether this is a problem of kak-lsp or eclipse.

`kak-lsp.toml`
[code]

[2021-11-11 12:48] basbebe commented on #1938
OK I just rechecked:
It **does** work for projects, e.g. eclips.jdt.ls/
It **does not**, however, work when opening single files…

[2021-11-12 01:43] m-lnrs commented on #1144
I found a solution for this after reading [this comment](https://github.com/eclipse/eclipse.jdt.ls/issues/183#issuecomment-285956725) of @fbricon.

Basically, it requires only two steps:

1. create a `plugin_customization.ini` file with the following content: `org.eclipse.m2e.core/eclipse.m2.userSettingsFile=/opt/maven/conf/settings.xml`
2. pass this `plugin_customization.ini` file as a parameter

[2021-11-13 15:54] bstaletic opened #1939 "Regression - support for files that aren't on disk"
Since https://github.com/eclipse/eclipse.jdt.ls/pull/1445/ jdt.ls can't work with files that don't exist on the local storage. This used to work just fine and YouCompleteMe/ycmd [is relying on it](https://github.com/ycm-core/ycmd/blob/master/ycmd/tests/java/diagnostics_test.py#L306-L376).

Vim will happily work with a buffer that doesn't have an associated file on disk. The concept of "file" (the

[2021-11-13 15:58] yyoncho commented on #1939
I guess duplicate of https://github.com/eclipse/eclipse.jdt.ls/issues/1815

[2021-11-13 16:07] bstaletic commented on #1939
@yyoncho Thanks for pointing that out! I'll close this one.

[2021-11-13 16:07] #1939 closed

[2021-11-13 16:09] bstaletic commented on #1815
As I mentioned in #1939, this regression happened with https://github.com/eclipse/eclipse.jdt.ls/pull/1445

That PR did introduce "if file doesn't exist, `return`". Hope this can be of some help.

[2021-11-13 16:51] bstaletic opened #1940 "Wrong diagnostic column in a test project"
As mentioned in #1939, there's one more thing stopping ycmd from updating.

[This test](https://github.com/ycm-core/ycmd/blob/master/ycmd/tests/java/diagnostics_test.py#L379-L423) sees [this diagnostic](https://github.com/ycm-core/ycmd/blob/master/ycmd/tests/java/diagnostics_test.py#L87-L92) for [this file/line](https://github.com/ycm-core/ycmd/blob/master/ycmd/tests/java/testdata/simple_eclipse_p

[2021-11-15 01:07] 0dinD opened #1942 "Regression: duplicate implement method quick fixes"
While testing something else, I noticed a regression introduced by #1908. It seems like the "Add unimplemented methods" quick fix (and possibly others) are duplicated for every unimplemented method, and it's also taking a long time to compute quick fixes because of that.

https://user-images.githubusercontent.com/52179873/141705439-ee5c386f-f251-46a7-8347-be83225aa0c5.mp4

Going back to the previo

[2021-11-15 13:58] rgrunber commented on #1942
Maybe there are certain types of quick fixes that bypass the logic that attempts to avoid the duplication of their entries on the same line.

[2021-11-15 18:01] snjeza commented on #1942
@0dinD @rgrunber Could you, please, review #1943

[2021-11-17 15:28] #1942 closed

[2021-11-17 17:35] #1855 closed

[2021-11-17 17:35] rgrunber commented on #1855
Thanks for filing upstream. Should be fixed in the next release.

[2021-11-18 16:12] rgrunber opened #1946 "Clean out stale snapshot builds from our Eclipse downloads page"
This is motivated by https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/78 ( https://www.eclipse.org/lists/eclipse.org-committers/msg01325.html ).

Our build process publishes snapshots under `https://download.eclipse.org/jdtls/snapshots/` (and p2 repos under `repository/`) . These get published for every merged change. I think people using these are likely just using the latest version of ea

[2021-11-18 16:14] rgrunber commented on #1946
CC'ing @fbricon & @testforstephen for awareness.

[2021-11-19 01:17] testforstephen commented on #1946
make sense.

[2021-11-19 02:22] rgrunber commented on #21
Some possible information of interest :

- Invisible/Maven/Gradle project on import
- `java.configuration.runtimes` , specifically just the Java version configured
- "Size of Project" : LOC / # of Java source files / total size of JDT index files
- mean completion response time for a session (sent at shutdown of session ?)
- unhandled exceptions
- boolean/enum settings whose defaults are overridde

[2021-11-19 13:40] eclipsewebmaster commented on #1946
Thank you for doing that. I've taken the liberty of moving the trash folder to archive.eclipse.org (https://archive.eclipse.org/jdtls) because, on download.e.o, this was effectively 53G of 'new content' that mirrors were pulling in, saturating the pipe.

From the link above, you can delete it permanently if logged in.  (or, you can do it from your CI)

[2021-11-19 15:42] rgrunber commented on #1946
Deleted. For reference we also have a `genie.ls-ssh` job if more advanced operations are ever required.

[2021-11-19 15:42] #1946 closed

[2021-11-20 15:10] guw opened #1947 "Need more predictable import behavior"
JDT LS relies on importing projects into a workspace. This works fine for small-ish projects following conventions. However, it gets more complicated when a project is found with multiple different build types (eg. pom.xml and Gradle files).

The current state is confusing:
- In VS Code it's possible to disable Maven/Gradle importer via VS Code specific settings file.
- There seems to be additiona

[2021-11-22 21:27] rgrunber commented on #1793
Marking this as closed. The issue I referenced from above is where we hope to make it easier to discover these (once I get some time to finish off the PR).

[2021-11-22 21:27] #1793 closed

[2021-11-22 22:24] rgrunber commented on #1652
Closing this for now. Feel free to re-open if there's something we're missing. If this weren't a Maven project, you could use `java.project.referencedLibraries`, as shown on https://github.com/redhat-developer/vscode-java/issues/1946#issuecomment-842434515 to get this working.

However, for that library the issue would be that there doesn't seem to be any sources in that artifact.

[2021-11-22 22:24] #1652 closed

[2021-11-23 00:11] rgrunber commented on #543
Closing this out since necessary API for JDT-LS has been implemented in https://github.com/eclipse/eclipse.jdt.ls/pull/1404. Feel free to re-open if we've missed something.

[2021-11-23 00:11] #543 closed

[2021-11-23 00:31] rgrunber commented on #1370
Closing this as it seems to have been resolved. Given that this was an lsp4j incompatibility its worth mentioning that we now depend on a release repo of lsp4j and no repository referenced in our target platform changes its underlying content once released (eg. latest, I-build).

The downside to this approach is if we depend upon some snapshot repo in our tagged release (because we need the latest

[2021-11-23 00:31] #1370 closed

[2021-11-23 00:40] rgrunber commented on #1142
Closing as this seems to have been resolved. The language server shuts down when the client sends a [`shutdown`, followed by an `exit`](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#shutdown). In some cases, we've observed this may not happen, and so we have the ParentProcessWatcher to ensure subsequent restarts/failed shutdowns of the language server d

[2021-11-23 00:40] #1142 closed

[2021-11-23 00:51] rgrunber commented on #1208
Marking closed, as this seems to have been resolved. There's a separate jobs that promotes a given build as the milestone, and likely it just wasn't triggered. The releng process should be a bit more clear now.

[2021-11-23 00:51] #1208 closed

[2021-11-24 16:03] rgrunber commented on #1160
To close this out :

For formatters, I believe you can configure any formatter with [`java.format.settings.url`](https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings). This can be a URL as well.

For code action contributions, we have support for this, but the client needs to perform some steps as well using whichever language server client library it happens to use. I'll use vs

[2021-11-24 16:03] #1160 closed

[2021-11-24 18:39] javster101 opened #1949 "Classes in Gradle submodules aren't being resolved properly"
I'm usin jdtls through [nvim-jdtls](https://github.com/mfussenegger/nvim-jdtls) on two gradle projects. [One of them](https://github.com/OpenGGEngine/OpenGG-Project) is a framework that has a main module and a bunch of submodules, and the other project is a single build.gradle that imports some of the former projects submodules as dependencies.

I'm able to get LSP completion for both projects (in

[2021-11-25 17:50] vogella commented on #1831
Awesome. Can you point back to the Gerrit / Bug report in JDT core which fixed that?

[2021-11-25 20:31] rgrunber commented on #1831
Although the name implies it originates from JDT, this was a performance improvement on [our end](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JDTUtils.java). Changes like https://git.eclipse.org/r/c/jdt/eclipse.jdt.core/+/184535 have benefited both JDT-LS and JDT though.

[2021-11-26 09:38] vogella commented on #1831
Thanks @rgrunber for the info

[2021-11-27 13:05] RKBK opened #1953 "PDE project support status"
Hi, and thanks for an interesting project!

I work on a Java application that is built using the plugin development environment (PDE). Ant is used for building, and not gradle or maven. For that reason, development is dependent on using Eclipse. However, what I would be interested in is being able to use another editor (Emacs), using jdtls, to work on the project. I believe there is an additional

[2021-11-27 16:33] snjeza commented on #1953
@RKBK You may want to take a look at https://marketplace.visualstudio.com/items?itemName=yaozheng.vscode-pde

[2021-11-27 16:46] blithefeng opened #1954 "generated-sources as java source path"
I have a big maven project, and there are five modules in it. In my project, one module named "common" is required by the other modules.
In "common" module, I have to compile the rpc code and use these codes in other modules. But when using eclipse.jdt.ls in neovim, I couldn't find the definition of the Variable defined in generated-sources. I got response like:

[code]

[2021-11-27 18:27] snjeza commented on #1954
@blithefeng You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/177

[2021-11-29 17:05] blithefeng commented on #1954
@snjeza Thanks! I tried to configure [build-helper-maven-plugin](http://www.mojohaus.org/build-helper-maven-plugin/usage.html) and it works after compiling the dependent module.

But some projects don't use build-helper-maven-plugin, does eclipse.jdt.sl consider to provide a method like "add to project source"?

[2021-11-30 17:34] SalBakraa opened #1957 "Update the wiki to include all the InitializationOptions added since Mar 3, 2018"
The configuration options listed in the wiki page
**[Running the JAVA LS server from the command line](https://github.com/eclipse/eclipse.jdt.ls/wiki/Running-the-JAVA-LS-server-from-the-command-line)**
are severely outdated. For example I had to dig through the `CHANGELOG.md` to find to find the correct syntax for configuring multiple
runtimes #1307.

[2021-12-01 04:16] akatekar opened #1958 "!MESSAGE Missing resource filter type: 'org.eclipse.ui.ide.multiFilter' error."
I have a project which was built in eclipse by my colleagues. I am trying to use VS code with it Java extension pack and I am unable to import the Java project into the Workspace. The server log has the following errors. It seems in loop and takes forever to import the project into workspace. What could I be doing wrong here or any setting to change/prevent it?

Thanks!
AK.

!ENTRY org.eclipse.cor

[2021-12-01 20:22] #1558 closed

[2021-12-02 17:42] rgrunber commented on #1957
Yup, we really need to consolidate the documentation into proper files under version control, and mention all the settings under https://github.com/redhat-developer/vscode-java#supported-vs-code-settings, since each one is a setting provided by JDT-LS .

[2021-12-02 21:14] rgrunber commented on #1913
Looking at https://github.com/eclipse-m2e/m2e-core/milestone/4?closed=1, there doesn't seem to be much yet for 1.18.3 to make it worth adopting. Sticking to the released 1.18.2 for now will at least keep the build reproducible.

Closing for now.

[2021-12-02 21:14] #1913 closed

[2021-12-04 17:59] snjeza opened #1960 "Java LS with the vscode-pde extension rebuilds workspace for every restart"
Related issues:
- https://github.com/testforstephen/vscode-pde/issues/37
- https://github.com/eclipse/eclipse.jdt.ls/pull/1948

[2021-12-06 15:11] rgrunber opened #1963 "Diagnostics from changes to build configuration not reflected in open source files"
This is a regression from https://github.com/eclipse/eclipse.jdt.ls/pull/1930#issuecomment-985920473 . The motivation behind that change was to prevent a race condition by ensuring a file's diagnostics are handled either by the `WorkspaceDiagnosticsHandler` or the `BaseDiagnosticsHandler`, but not both.

However, if a change is made to something like `java.configuration.runtimes`, the `WorkspaceDi

[2021-12-08 01:39] #1963 closed

[2021-12-08 05:23] jdneo commented on #1918
Using IWorkspace#run() to wrap the semantic token calculation looks good to me. As long as the scheduling rule set to that URI, the semantic token calculation should be mutually exclusive with the document lifecycle for the file with that URI.

@0dinD Did you observe any perf change if we apply such changes?

[2021-12-08 12:11] CsCherrYY opened #1966 "Duplicate errors in the problems view when importing projects"
![Screenshot 2021-12-08 200758](https://user-images.githubusercontent.com/45906942/145206015-790d6269-77da-41e6-a496-3a28cc2292fd.png)

To reproduce:

- download https://docs.gradle.org/current/samples/zips/sample_building_spring_boot_web_applications-groovy-dsl.zip
- remove `{` in line 13 from `./app/build.gradle`
- reload window and recompile project

[2021-12-08 21:48] snjeza opened #1968 "[regression] DocumentLifeCycleHandlerTest.testFixInDependencyScenario fails randomly"
See https://ci.eclipse.org/ls/job/jdt-ls-pr/2981/testReport/junit/org.eclipse.jdt.ls.core.internal.handlers/DocumentLifeCycleHandlerTest/testFixInDependencyScenario/

Related commit: https://github.com/eclipse/eclipse.jdt.ls/commit/fae3184fa50b6e0f3504f9c4e26151aa1020fc95

[2021-12-10 12:33] RKBK commented on #1953
@snjeza Thanks, that's right, that's the plugin for vscode.

But, I wonder, is it possible to include eclipse PDE support in the language server itself? I could imagine that you could have the server automatically find target platform definition (or at least, prompt the client to select the target platform definition), and based on it, find the plugins in the project, build the code, and so on.

[2021-12-10 15:49] snjeza commented on #1953
cc @fbricon @rgrunber @testforstephen

[2021-12-10 16:37] rgrunber commented on #1953
It seems to me like the full language server is under https://github.com/testforstephen/vscode-pde/tree/master/pde . The fact that it's included in the VS Code extension repo seems more like convenience given that it was the main consumer. All that extension is doing is loading the extra OSGi bundles into the JDT-LS runtime (via [javaExtensions](https://github.com/testforstephen/vscode-pde/blob/ma

[2021-12-10 17:11] adrielparedes opened #1970 "Can't build using 1.5.0/1.6.0 version since repository 4.22-I does not exist"
I tried to build a JDT.ls plugin I wrote that is currently using 1.5.0 version. When I compile it with a fresh .m2 repository it can't find the https://download.eclipse.org/eclipse/updates/4.22-I-builds/I20211010-1800/ repository and `target-platform-configuration` can't be downloaded:

[code]

https://github.com/eclipse/eclipse.jdt.ls/blob/v1.5.0/org.eclipse.jdt.ls.target/org.eclipse.jdt.ls.tp.ta

[2021-12-10 20:23] AlJohri opened #1971 "Type mismatch: cannot convert from Object to Map<String,IndexType>"
Apologies if this issue is opened in the wrong place, but I'm running into a strange error where out of two equivalent lines in Java, both of which compile just fine, one gives me an error in my VSCode IDE.

This line gives me an error:

[code]

While this entirely equivalent line does not:

[code]

This line is defined in an `enum` using the [common pattern](https://stackoverflow.com/a/54692594/1

[2021-12-10 22:43] rgrunber commented on #1970
If you want to rebuild that particular version, I think the closest thing to try is probably `https://download.eclipse.org/eclipse/updates/4.22/` in the target file as a replacement for `I-build` you list above.

Alternatively, you could also try using `1.7.0-SNAPSHOT` if you don't care about a particular older version. See https://github.com/redhat-developer/quarkus-ls/pull/478/files as an exampl

[2021-12-11 16:19] r4ulill0 commented on #1520
I have tried the same but with jdk 17.0.1 and had the same problem:

[code]

[2021-12-13 14:38] #1968 closed

[2021-12-13 20:04] 0dinD commented on #1918
I didn't thoroughly test performance, but I don't remember there being any noticeable impact.

As far as I understand, using `IWorkspace#run()` instead of `JobHelpers.waitForJobs` should be fairly equivalent, the main difference being that the `BaseDocumentLifeCycleHandler` will also wait for `SemanticTokensHandler` in order to avoid the situation were the AST is disposed in the middle of a reques

[2021-12-13 20:21] anderson-silva-concordia opened #1974 "Cannot run script to start the language server"
I'm trying to run the command like the one described in the README with the necessary adjustments but nothing happens

[code]

[2021-12-13 20:49] snjeza commented on #1974
@anderson-silva-concordia you may want to take a look at https://github.com/eclipse/eclipse.jdt.ls/issues/1934

[2021-12-14 18:54] snjeza commented on #1974
@anderson-silva-concordia I can't reproduce the issue. Could you run

[code]

[2021-12-14 19:18] anderson-silva-concordia commented on #1974
[code]

[2021-12-15 02:22] rgrunber commented on #1881
Marking as closed since the FAQ linked above answer this. If there's further questions, feel free to comment / re-open.

[2021-12-15 02:22] #1881 closed

[2021-12-15 21:15] rgrunber commented on #1957
I've updated https://github.com/eclipse/eclipse.jdt.ls/wiki/Running-the-JAVA-LS-server-from-the-command-line#initialize-request . Going forward, I'll try to request any new options be added there in the Wiki. Some of the options may be a bit off, and I still need to add descriptions, but it should be in a better state now.

Longer term, I'd like to eventually move the wiki content and place it und

[2021-12-15 22:39] dradtke opened #1976 "Java 17 Support"
Attempting to run the language server with Java 17 results in the following error:

[code]

Any idea what the timeline might look like for Java 17 support? In the meantime, is there any way to run the language server with Java 11, and have it work on a Java 17-based project?

[2021-12-15 23:17] snjeza commented on #1976
You need Java LS >= 1.5.0 - [1.5.0 (October 19th, 2021)](https://github.com/eclipse/eclipse.jdt.ls/blob/master/CHANGELOG.md#150-october-19th-2021)

[2021-12-15 23:20] dradtke commented on #1976
I believe this is with 1.5.0, but I'll try upgrading to the latest release to verify.

[2021-12-15 23:23] dradtke commented on #1976
Yep, just tried it again with 1.5.0 and 1.6.0, and seeing the same issue.

Just in case it's helpful at all, here's the full stack trace:

[code]

[2021-12-16 02:43] snjeza commented on #1976
@dradtke How do you run the server?
You may want to take a look at https://github.com/eclipse/tycho/issues/302

[2021-12-16 15:10] dradtke commented on #1976
I'm running it with the instructions in the README for [running from the command line](https://github.com/eclipse/eclipse.jdt.ls#running-from-the-command-line).

That tycho issue definitely seems relevant, I'll keep an eye on that.

[2021-12-16 16:55] dradtke commented on #1976
It looks like I'm able to get it to work by downloading one of the milestone builds, rather than building it from source. Apologies for the noise!

[2021-12-16 16:55] #1976 closed

[2021-12-16 17:49] snjeza commented on #1976
You have to build the Java LS server with JDK 11
[code]

[2021-12-16 18:03] fbricon commented on #1976
until #1977 is merged, you can build from sources with the `-Dtycho-version=2.5.0` parameter, eg.:
[code]

[2021-12-17 16:33] anderson-silva-concordia commented on #1974
Is there anything I can do?  To debug that or something?

[2021-12-17 18:58] snjeza commented on #1974
@anderson-silva-concordia Could you try the following:
[code]
What OS are you using?

[2021-12-17 19:26] anderson-silva-concordia commented on #1974
[code]

Same result, like the one I showed in the gif I sent before.

[code]

[2021-12-17 19:50] snjeza commented on #1974
Could you run the following:

[code]
and attach ~/workspacejdtls/.metadata/.log

[2021-12-18 00:43] anderson-silva-concordia commented on #1974
[code]

[2021-12-18 00:59] snjeza commented on #1974
@anderson-silva-concordia could you try the following:

[code]

[2021-12-20 11:04] puremourning opened #1980 "1.7.0 regression on signature help"
Hi. I just tried to update ycmd to use jdt.ls 1.7.0, but it is failing our regression tests for signature help.

the specific case is the following minimal file:

[code]

Requesting signature help after the `this.unique(` returns the following:

<img width="357" alt="Screenshot 2021-12-20 at 10 51 30" src="https://user-images.githubusercontent.com/10584846/146755936-7b96f331-a5bc-4385-a6bb-e49f96a

[2021-12-20 12:54] anderson-silva-concordia commented on #1974
That worked! Thank you! What was the problem? I don't understand.

[2021-12-20 19:59] snjeza commented on #1974
your ~/workspace has been invalid.

[2021-12-21 21:15] snjeza commented on #1980
Related Eclipse bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=575149
The issue can be reproduced in VS Code 1.1.0 and VS Code 1.2.0

[2021-12-23 15:01] Bananeweizen commented on #1976
In that case a maven-enforcer rule might be useful in the POM. (that being said, I have no clue of this project, I came here from the Tycho link. So this might be a useless comment. :) )

[2021-12-24 20:58] AgainPsychoX commented on #1976
I get errors trying to run the server within vscode-java extension, while it tries to run with Java 17:
See https://github.com/redhat-developer/vscode-java/issues/2264
Isn't https://openjdk.java.net/jeps/396 related?

[2021-12-27 20:25] dradtke opened #1983 "Server fails on first boot using Java 17: .project is out of sync with the file system"
I'm running eclipse.jdt.ls 1.6.0 using Java 17, and when I first try to load my Gradle project, it fails with this error:

[code]

However, the server starts successfully if I quit my editor and open it back up again, assuming the same workspace is used.

Some searching indicates that this is actually a pretty old issue, but it's one that I haven't seen until this new project:

1. https://github.c

[2021-12-27 20:53] snjeza commented on #1983
@dradtke could you try to add the following property:

[code]

[2021-12-27 22:11] dradtke commented on #1983
Interesting; it looks like that did help, but now I'm having trouble reproducing my original error even when I remove that setting. Weird!

Any context on what that setting is, or how it helps here?

[2021-12-27 23:18] snjeza commented on #1983
@dradtke You may want to take a look a https://github.com/redhat-developer/vscode-java/issues/1607#issuecomment-706369219

[2022-01-06 07:27] Eskibear opened #1985 "support LAMBDA_EXPRESSION in completion"
Originally reported in https://github.com/redhat-developer/vscode-java/issues/2253#issue-1083754523

`CompletionProp1osal.LAMBDA_EXPRESSION` has been introduced in jdt.core v3.28, but we failed to construct corresponding completionItem. It goes into below code branch.

https://github.com/eclipse/eclipse.jdt.ls/blob/7ffff9d6b1c95f06261eac998210861cd5f63286/org.eclipse.jdt.ls.core/src/org/eclipse/jd

[2022-01-06 07:49] Eskibear commented on #1985
Now the point is, what do we expect to complete for lambda completion proposal like below? Simply "->" or a snippet like "(arg) -> {$0}"?

![image](https://user-images.githubusercontent.com/2351748/148347756-c858fb14-f8e8-4501-97d9-9fd5dfea3959.png)

[2022-01-07 01:40] Eskibear commented on #1985
In eclipse, it completes for something like `${1:t} -> ${0}`:

https://user-images.githubusercontent.com/2351748/148477277-50a2e664-5199-4818-a970-43d497aa22fb.mp4

[2022-01-08 16:30] brown opened #1986 "explicit classpath and source config without Maven or Gradle"
I would like to use your language server in an environment where Java code is compiled using makefiles and Ant.  I have successfully used https://github.com/georgewfraser/java-language-server with the Emacs eglot client by explicitly configuring it with a Java classpath, location of the Java distribution, root directory of my project Java source code, etc.  Can the same be done with eclipse.jdt.ls

[2022-01-08 17:41] brown commented on #1986
From looking at the source code of the LSP client I'm using, the GNU Emacs eglot package, the client uses workspace/didChangeConfiguration to inform the language server about the Java classpath and also the Java distribution home directory.

[2022-01-08 21:49] brown commented on #1986
Hmm, everything seems to be working pretty well today, as compared to the last time I tried the Eclipse Java language server, so I'm going to close this issue.

[2022-01-09 21:40] brown commented on #1986
Perhaps files like .classpath and .settings can be used to configure the language server.  If so, what's the easiest way to create these config files?

[2022-01-09 22:26] snjeza commented on #1986
You can start with https://github.com/eclipse/eclipse.jdt.ls/tree/master/org.eclipse.jdt.ls.tests/projects/eclipse/hello

[2022-01-09 23:25] brown commented on #1986
Thanks for the pointer to that directory.  If you would, please explain what you mean by "start with".  I see that the directory contains config files, but it doesn't have examples of the kinds of settings I'd like to make.
Are you suggesting that I open that directory using VSCode and/or Eclipse, then add directories to the Java classpath using the GUI to see how the config files are modified?
Is

[2022-01-10 03:28] snjeza commented on #1986
@brown you may want to take a look at
- https://help.eclipse.org/latest/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fmisc%2Fproject_description_file.html
- https://programmer.group/detailed-explanation-of-classpath-file-in-eclipse-project.html

[2022-01-10 12:27] sskmail14 opened #1987 "Is is possible to get the call hierarchy till root method from the lower level"
My use case:
Am having a maven spring boot project. Where am intended to find out call hierarchy of the method(s) till say `@RestController` or `@Scheduler`. I have tried spoon which is working to some extent but not completely.

As am using the eclispse for so long would there be any api JAR to find it via  Programatically. I have to parse my complete maven project and get the call hierarchy for

[2022-01-14 09:03] schrieveslaach commented on #1823
I'm trying to create a brew formula to make the installation on MacOS easier (see https://github.com/Homebrew/homebrew-core/pull/92550) and one of the maintainers ask for such a scripts

The brew formula would solve one of @rgrunber concerns. This would test `jdtls` on MacOS at least when updating to a new version.

But the process of creating the brew formula raised another question: why is it ne

[2022-01-14 09:33] schrieveslaach commented on #1823
You can observe the configuration error [here](https://github.com/Homebrew/homebrew-core/runs/4814915069?check_suite_focus=true)

[2022-01-14 16:13] 0dinD commented on #1985
I like the way it's done in Eclipse, snippets with tabstops are very convenient.

[2022-01-17 08:27] Greg-Nemeth opened #1988 "Server shuts down when port is specified"
Hi all! I am trying to create portable dev solution. I am using docker compose, one service running vim with lsc plugin as the lsp client,
the second service is the language server. I would like them to communicate using the docker network created by compose. when I run the language server container without env variables it runs just fine, but as soon as I pass a CLIENT_PORT 49200 for example, the

[2022-01-18 13:40] schrieveslaach commented on #1823
I solved the configuration issue by adding `-Dosgi.checkConfiguration=true -Dosgi.sharedConfiguration.area=#{etc}/jdtls -Dosgi.sharedConfiguration.area.readOnly=true -Dosgi.configuration.cascaded=true` as Java properties. These properties make the execution of `jdtls` package manager friendly and should be included in the script as well.

[2022-01-18 15:14] #1970 closed

[2022-01-18 16:23] KOLANICH commented on #1823
Thanks, added.

[2022-01-18 18:54] #1980 closed

[2022-01-19 04:44] Eskibear commented on #1985
A demo here, i'll create corresponding PR later.

https://user-images.githubusercontent.com/2351748/150065474-5f933415-9fe6-4d98-930c-0dcef6ec7c94.mp4

[2022-01-19 21:59] snjeza commented on #1988
You may want to take a look at https://github.com/natebosch/vim-lsc/issues/56#issuecomment-353418914
I think vim-lsc doesn't support a plain socket (CLIENT_PORT).

[2022-01-19 22:07] Greg-Nemeth commented on #1988
Great, thank you so much for your help!!

[2022-01-19 22:07] #1988 closed

[2022-01-20 01:25] #1985 closed

[2022-01-20 16:14] tiagobento commented on #1970
Hi @rgrunber, thanks for providing this information and sorry for commenting on a closed issue. We're depending on 1.7.0-SNAPSHOT now, much like Quarkus is, but today we noticed that we're getting a weird 504 Gateway Timeout error while downloading information from the p2 metadata repository.

See the following logs..

[code]

Maybe this is related to a new SNAPSHOT version that was recently publi

[2022-01-20 16:28] tiagobento commented on #1970
@rgrunber Just to add more to this, I already tried to use the new 1.7.0 release (like you did here https://github.com/redhat-developer/quarkus-ls/commit/da79fdb2413dd5e73764d426f682201dd9982156), but still getting 504 locally :/

[2022-01-20 16:33] rgrunber commented on #1970
I just tried querying https://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-apt/1.5.3-2019-11-08_11-04-22-H22/ . It seems to be unchanged in both snapshot and 1.7.0 release. The url certainly loads in a browser and downloading an artifact via p2 also works. Is it still failing ?

[2022-01-20 16:40] tiagobento commented on #1970
@rgrunber Hmm.... really weird. I can open it in the browser too, but me and some of my peers are getting this non-sensical 504 error. It works on our GitHub Actions CI, though. Even tried switching to a different internet provider already (😅), but no luck.

[2022-01-20 17:02] AlexXuChen commented on #1970
I'm seeing the same issue when building: getting a 504 on my side

[2022-01-20 19:48] tiagobento commented on #1970
Interesting to note that, for some reason, Maven is trying to fetch resources from version `1.5.3` apparently?

[2022-01-20 20:16] rgrunber commented on #1970
For some background : `quarkus-ls` uses the [JDT-LS target platform artifact](https://github.com/redhat-developer/quarkus-ls/blob/master/quarkus.jdt.ext/pom.xml#L70-L72) for compilation. Intuitively the quarkus-ls JDT extension is going to have very similar dependencies to JDT-LS so that's why this is the approach taken. The version is [`1.7.0`](https://github.com/redhat-developer/quarkus-ls/blob/

[2022-01-21 03:56] rgrunber commented on #1970
I can also confirm the behaviour on https://ci.eclipse.org/ls/job/jdt-ls-master/1244/console .

[2022-01-21 17:31] rgrunber commented on #1954
There seems to be a context menu item from the explorer menu to `Add Folder to Java Source Path` but it looks like we don't currently support it if the project is Maven or Gradle :

`Unsupported operation. Please use pom.xml file to manage the source directories of maven project.`

I'll mark this as a nice enhancement but not sure how high it would be in priorities. If m2e and buildship provide AP

[2022-01-21 17:41] rgrunber commented on #1953
In the context of VS Code, we may have a way to easily get vscode-pde without having to bundle it into JDT-LS, and that's some kind of recommendation functionality, as described in https://github.com/redhat-developer/vscode-java/issues/2288 . The downside is this is of no help to other clients, although maybe if the recommendation API was done via LSP command it'd be more general.

[2022-01-21 17:58] rgrunber commented on #1987
Have a look at [`TypeHierarchyCommand.java`](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/commands/TypeHierarchyCommand.java#L175). We use just JDT Core API to make this happen.

You'll need to get the `IType` for the given type and we have some utility methods in `JDTUtils` to accomplish that. From there we use `newTypeHierarch

[2022-01-21 18:35] rgrunber commented on #1983
Marking as a duplicate of redhat-developer/vscode-java#1607 just to keep a single bug for this. Unfortunately it doesn't look like buildship is looking into this.

[2022-01-21 18:35] #1983 closed

[2022-01-21 18:40] rgrunber commented on #1974
My best guess when these happen is that the workspace may have failed to shutdown correctly leading to some corruption. I've also found sometimes `-clearPersistedState` may help when clearing the entire workspace is not desired.

[2022-01-21 18:40] #1974 closed

[2022-01-21 21:27] tiagobento commented on #1970
@rgrunber Thanks for the details. It all makes sense to me and looks like we're using the correct approach on [our repo](https://github.com/kiegroup/kogito-tooling/blob/main/packages/vscode-java-code-completion-extension-plugin/pom.xml), with the only difference being that we're still depending on 1.7.0-SNAPSHOT, rather than the latest `1.7.0.20211216164144` release.

I think this is an issue outs

[2022-01-21 22:32] snjeza commented on #1970
I can't reproduce the issue.

[code]

[2022-01-25 10:45] apupier opened #1993 "NPE in BaseDocumentLifeCycleHandler$DocumentMonitor.<init>(BaseDocumentLifeCycleHandler.java:566)"
I found this stack in the log (I do not know the steps to reproduce):

[code]

[2022-01-26 15:54] rgrunber commented on #1970
The issue should be resolved, and JDT-LS 1.8.0 has been properly released. Going forward we will migrate to https://jbosstools.github.io/m2e-apt/updates/1.5.4/ (Note that the folder is a 404, but the p2 repo does exist as things like https://jbosstools.github.io/m2e-apt/updates/1.5.4/artifacts.jar are there). Likely this can be configured with addition of main page if necessary.

[2022-01-28 21:24] 0dinD commented on #1993
Yeah that's a mistake on my part, `DocumentMonitor#initialVersion` should be an `Integer` since it comes from a map and could be `null` (hence the NPE when unboxing it).

But it is a bit strange that the document version is `null` when a `DocumentMonitor` is constructed for a semantic tokens request. That would either suggest a client error (such as not sending `textDocument/didOpen` before the se

[2022-01-29 02:22] rgrunber commented on #740
Have been building with JDK > 10 for some time now so closing this.

[2022-01-29 02:22] #740 closed

[2022-01-29 02:29] rgrunber commented on #885
This was fixed in #1606 with the `resolve` request for code actions.

[2022-01-29 02:29] #885 closed

[2022-01-29 02:41] rgrunber commented on #964
Closing as the discussion can continue on #1954 .

[2022-01-29 02:41] #964 closed

[2022-01-29 02:44] rgrunber commented on #1954
https://github.com/eclipse/eclipse.jdt.ls/issues/964#issuecomment-479903286

As mentioned, would be best if m2e/buildship synced the changes back into the build files.

[2022-01-29 03:04] #1021 closed

[2022-01-29 03:09] rgrunber commented on #1071
This occurs occasionally. We use I-builds to get the latest features (usually from JDT) but they are not retained for a longer term.

[2022-01-29 03:09] #1071 closed

[2022-01-29 03:14] #1099 closed

[2022-01-29 03:43] rgrunber commented on #1127
This is exactly what we did client side https://github.com/redhat-developer/vscode-java/issues/2110 .

The problem with doing this in JDT-LS is whether a language server operating on a workspace should be able to act on other (unrelated) workspace.

[2022-01-29 04:05] rgrunber commented on #1236
Just tried this and it's working. Very likely was fixed recently in JDT Core.

You can take it a step further with `java.completion.guessMethodArguments` as `true` and get parameter guesses when a method having them is selected.

[2022-01-29 04:05] #1236 closed

[2022-01-29 04:27] rgrunber commented on #1154
This was addressed in https://github.com/eclipse/eclipse.jdt.ls/issues/1162

[2022-01-29 04:27] #1154 closed

[2022-01-29 04:36] rgrunber commented on #1203
The bug, and PR from 2019 were merged about 2 weeks ago. We should update to the 4.23 M2 target platform and confirm it resolves the issue.

[2022-01-29 15:47] Greg-Nemeth opened #2002 "Illegal State Exception"
Hi. I built jdtls on alpine. I can't seem to find a solution to this illegalstateexception on the web. I tried using installer script, tried installing via plugin in neovim as well. Here is the log from trying to run the server:

~/.local/bin # cat config_linux/1643471044729.log
!SESSION 2022-01-29 15:44:04.582 -----------------------------------------------
eclipse.buildId=unknown
java.version=11

[2022-01-31 06:32] iamshakkib commented on #1966
How should I open a pull request ? I have done it.

[2022-01-31 20:30] snjeza commented on #1966
@iamshakkib You may want to take a look at https://github.com/jbosstools/jbosstools-central#get-the-code
Just replace jbosstools/jbosstools-central with eclipse/eclipse.jdt.ls

[2022-01-31 23:05] rgrunber commented on #2002
I just tried this out and seems to work for me. I've listed below all I needed to get it working. Can you try adding `-debug` to your command line arguments as below in case it shows more data about what went wrong ?

Using
- [alpine:latest](https://hub.docker.com/_/alpine?tab=tags)
- [JDK 11 for Alpine Linux x64](https://github.com/adoptium/temurin11-binaries/releases/download/jdk-11.0.14%2B9/Ope

[2022-02-01 07:09] Greg-Nemeth commented on #2002
Thank you! with your help I realized i am only getting errors when I'm trying to start up the server from outside .../target/repository folder and specifying absolute path to the jar file. When I am in the repository folder the server starts up just fine. I am trying to make it work with neovim and I've been stuck with trying to start up the server for some time now. Again I am grateful for your h

[2022-02-01 07:09] #2002 closed

[2022-02-01 14:28] llech commented on #1050
I've just stumbled upon that error in one of my projects that works perfectly. We have a stable CI pipeline, maven builds with java 11 and 17 without issues. It's only Eclipse that shows those virtual errors.

I've switched to IntelliJ which solved the issue. Not the way the Eclipse maintainers have probably intended, but this is the result of ignoring the input from your users.

[2022-02-01 19:36] snjeza commented on #1971
@AlJohri could you check https://github.com/snjeza/vscode-test/raw/master/java-1.4.0.vsix

[2022-02-01 20:57] vorburger commented on #1050
@llech Sali Du, säg emol, was hast Du denn eigentlich genau contributed wo to open source, which makes you feel like you have any right to publicly bash anyone like that? This is completely inappropriate, outright rude, and also shows that you have absolutely no idea what you are talking about re. open source. What on earth makes you think you are in any position to lecture anyone having anything

[2022-02-03 08:08] RKBK commented on #1953
I agree that the need for support for PDE projects is probably less than for Maven or Gradle projects. Nevertheless, it seems to me that the separation of functionality would be improved by adding PDE support to the main JDT-LS, instead of keeping it in a vscode-specific extension. I'm not sure the assumption that most users would prefer to use vscode is as true for e.g. Java projects, as for e.g.

[2022-02-03 19:57] snjeza commented on #1971
This issue is an eclipse upstream issue. It has been fixed in the latest Eclipse build.

[2022-02-03 22:57] #1971 closed

[2022-02-05 01:49] #1203 closed

[2022-02-08 07:45] jdneo commented on #1453
Should already be fixed by https://github.com/eclipse/eclipse.jdt.ls/pull/1990

https://user-images.githubusercontent.com/6193897/152940950-cf87d373-f7fd-4ad4-84ea-c50b9747ea27.mp4

[2022-02-08 07:45] #1453 closed

[2022-02-11 15:06] rgrunber commented on #1899
The upstream issue has been merged so we can expect this to be resolved in the next release, where we update the target platform.

[2022-02-17 19:57] #1899 closed

[2022-02-18 13:40] testforstephen opened #2011 "Improve the constructor completion performance when new an object"
### Use Case
[code]

### Performance Analysis
Here is the cpu profiling result of completion handler. Please note that the JDT index search operation is running on a standalone thread, so its time cost is not included in this screenshot.
<img width="1061" alt="image" src="https://user-images.githubusercontent.com/14052197/154684403-96d2b9b1-605a-448a-b592-81517c9edb9c.png">

We can see that most o

[2022-02-21 07:17] LiSunday commented on #1817
我有一个类似的场景，一个 maven 项目包含两个子 maven 模块 web & api
api 使用了 swagger 会生成类 而 web 则引用了这些生成的类 打开 ide 则会显示
The import com.xxx.xxx.management.api.model cannot be resolvedJava(268435846)
--------
请问 楼主解决了么

[2022-02-24 22:16] rgrunber commented on #1987
Closing for now. I think the suggestion should be the right approach to get this done as this is what is used to implement it for the LSP.

[2022-02-24 22:16] #1987 closed

[2022-02-24 22:20] rgrunber commented on #1921
Closing as some good resources have been suggested for the motivation behind matching project root directory to java package names.

[2022-02-24 22:20] #1921 closed

[2022-02-24 22:32] rgrunber commented on #1602
Closing for now as there's some good suggestions here. Without more info I don't think we could narrow this down any further.

[2022-02-24 22:32] #1602 closed

[2022-02-28 08:03] schrieveslaach commented on #1934
I noticed that my PR #2005 fixes this issue as well. I was working on the README while introducing a package-manager-friendly start script

[2022-03-02 04:29] testforstephen commented on #2011
Here are the breakdown work items to improve constructor completion performance.

- [x] when typing new , auto complete a short list of constructors such as those from the expected type.
  - https://github.com/eclipse/eclipse.jdt.ls/pull/2010
- [ ] Apply typeFilters before relevance calculation
  - https://bugs.eclipse.org/bugs/show_bug.cgi?id=578817
- [ ] Reuse Type Binding at completion engine s

[2022-03-02 13:45] #1823 closed

[2022-03-02 13:54] rgrunber commented on #748
See https://github.com/eclipse/eclipse.jdt.ls/pull/2005. If there's anything missing or ways to improve it, feel free to open an issue on it.

[2022-03-02 13:54] #748 closed

[2022-03-06 21:27] joaotavora commented on #748
@rgrunber thanks! This seems to be "just want the doctor ordered"!  I'll open an issue on our side to see if we can integrate it soon.

[2022-03-08 01:11] tylerwowen opened #2017 "`java.project.getAll` not returning all projects if 2 share the same `artifactId` even with different `groupId`"
First I'm quite new to Java development, so please do let me know if this is because I'm not following some convention.

The problem appears in VS Code. I did a little debugging and the problem seems to be in the language server.

I discovered that if there are 2 maven projects in the same folder and share the same artifactId but different `groupId`, then only one is returned by `java.project.getA

[2022-03-10 03:27] xiaodanguoguo opened #2018 "How Does the single LSP Service efficiently and exactly support the multi-workspace folders which differentiate between the different user?"
## eclipse.jdt.ls version: 1.6.0.20211126152438,   java version "11.0.10" 2021-01-19 LTS

### 		At first, I use the JLS for users to support their own workspace and start a new process(JLS instance) for every user when they enter the code edit page.

### 		I find that the service is very slow during initialization, including initialize, publishDiagnostics method etc. Then I change the relation of

[2022-03-12 03:28] xiaodanguoguo commented on #2018
@rgrunber @jdneo

[2022-03-13 09:38] adminy opened #2021 "Background Indexer Crash Recovery"
[code]

[2022-03-15 02:41] linux40 commented on #1892
Excuse me, can this preference or `java.settings.url` be set through the command line?

[2022-03-15 08:40] jeffmaury opened #2024 "jdt.ls 1.9.0 breaks workspace loading"
I have performed the following actions:

- installed latest 2022-03 (using Eclipse installer)
- installed jdt.ls (latest 1.9.0)

Opened a new workspace: OK
Reopened the workspace: KO, Eclipse does not launch, dialog is shown to look at .log

[2022-03-15 20:56] rgrunber commented on #1892
If you mean as an environment variable or system property, we don't do this since the purpose of the language server protocol is to set it via [`didChangeConfiguration`](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_didChangeConfiguration).

[2022-03-16 03:08] jdneo commented on #2018
Could you explain more about this statement?

`whether the single JLS service instance can support the multi-workspace folders includes same projects`

I would like to understand why there are multiple projects but `same`?

[2022-03-16 03:32] jdneo opened #2025 "Improve the signature help"
Currently the implementation of SignatureHelp could provide paramter hints for normal cases. I found that sometimes, it's not working properly.

### Failure case 1
[code]

In this case, the signature help won't hint anything.

By reading the source code I found that the root cause is that in the implementation of [SignatureHelpHandler#getContextInfomation()](https://github.com/eclipse/eclipse.jdt.

[2022-03-16 06:31] xiaodanguoguo commented on #2018
This is because I want to run a JSL instance to support various colleagues which use single workspace-root but different child folder paths, these paths may include same project cuz our team use a common code repository and edit its projects  on the page at same time. In one word, only a JSL instance support different guys to concurrently edit one project.

[2022-03-16 07:13] jdneo commented on #2018
If the different child folder paths contains the same project. This is the case that JLS not allows.

Since they are the same project, JSL will only recognize one of them.

[2022-03-16 10:43] fbricon opened #2026 "Provide Java 18 support"
- need to consume upstream JDT bits including Java 18 support from https://download.eclipse.org/eclipse/updates/4.23-P-builds

[2022-03-16 10:48] fbricon opened #2027 "Extract lambda body to method"
Port JDT's "Extract lambda body to method"  refactoring to jdt.ls. See https://www.eclipse.org/eclipse/news/4.23/jdt.php#extract-lambda-body-to-method

[2022-03-16 11:41] xiaodanguoguo commented on #2018
OK, thank you very much.

[2022-03-16 11:42] xiaodanguoguo commented on #2018
OK, thank you very much.

[2022-03-16 19:13] rgrunber commented on #2027
The relevant PR https://git.eclipse.org/r/c/jdt/eclipse.jdt.ui/+/188802 . This was just a combination of `ExtractMethodRefactoring`, and `RefactoringCorrectionProposal`. Those classes are in JDT-UI but we have our own copies. Since they haven't changed in that PR, we should be able to implement this by just copying the 30LOC from their QuickAssistProcessor.

[2022-03-17 17:38] snjeza commented on #2024
@jeffmaury could you, please, try the latest snapshot - https://download.eclipse.org/jdtls/snapshots/repository/1.10.0.202203160029/

[2022-03-17 18:53] rgrunber commented on #2024
I saw an error notification popup on shutdown regarding "Problems saving the workspace".

`Plug-in org.eclipse.jdt.ls.core was unable to load class org.eclipse.jdt.ls.core.internal.filesystem.JLSFileSystem`

<details>
<summary>stacktrace</summary>

[code]
</details>

[2022-03-17 19:03] rgrunber commented on #2024
As of 1.6.0 ( https://github.com/eclipse/eclipse.jdt.ls/pull/1900 ) we stopped generating those `.project`, `.classpath` files at the project root. In order to do that, we overrode the filesystem used for the `file` scheme. I suspect this isn't behaving correctly when JDT-LS is installed in Eclipse.

[2022-03-18 07:30] jeffmaury commented on #2024
I don't think this is the cause as I'm installing the EPP Java package which has M2E (so CRS where I discovered the bug). But will test

[2022-03-18 07:35] jeffmaury commented on #2024
@snjeza Got the same error using https://download.eclipse.org/jdtls/snapshots/repository/1.10.0.202203160029/

[2022-03-18 12:49] rgrunber commented on #2024
With the Java EPP I see this :

<details>
<summary>stacktrace</summary>

[code]

</details>

The ExceptionInitializationError is a hint that something failed in a static block. Once the that fails, the class never gets loaded.

[2022-03-18 13:49] testforstephen commented on #2024
I don't get the point why Optional requirement is the cause of the failure. jdt.ls distros contain the required m2e bundles, it should load m2e bundle on demand.

The reason that we make m2e and buildship to be an optional dependency is to improve loading speed and memory consumption of the lightweight mode. m2e and buildship are only loaded in standard mode, but not in lightweight mode.

[2022-03-18 13:56] rgrunber commented on #2024
Yes, the JDT-LS tarball contains all the required dependencies, but we also ship a p2 repo at Eclipse that contains just the org.eclipse.jdt.ls.core bundle ( https://download.eclipse.org/jdtls/snapshots/repository/1.10.0.202203160029/plugins/ ).

The more recent stacktrace I posted is something else though, because m2e was there already.

[2022-03-18 23:29] rgrunber commented on #2024
I'm pretty sure it's related to the `JLSFileSystem` now. The installation worked with the Java EPP on version 1.5.0, but failed on 1.6.0. That's exactly when we introduced the filesystem functionality. Also, if I take a JDT-LS, and remove the `JLSFileSystem` contribution to `org.eclipse.core.filesystem.filesystems`, in the plugin.xml, and re-run Eclipse with `-clean`, it works.

Maybe it's as simp

[2022-03-19 08:45] yz-qiang opened #2029 "Why (Block)parser.createAST(null) returned is null?"
Hi,
**JDT** is a great tool for parsing java code. But I meet some trouble when I use the **JDT**. Here is my code logical, some variable values is shown in the picture:
<img width="777" alt="Snipaste_2022-03-19_16-32-27" src="https://user-images.githubusercontent.com/72866861/159114051-c0a53596-31ee-4c29-848a-b41ba5a5b8c6.png">
As shown in the picture, `block' value  is  '{\n}\n'. I don't know wh

[2022-03-21 17:22] rgrunber commented on #2029
I was seeing the exact same thing as you and had no idea why it wasn't working. Then I saw a particular section of the API :

[code]

So I tried setting `parser.setStatementsRecovery(true)` after `setKind(..)` and tried again. It worked for me. I would give that a try.

[2022-03-22 07:16] Ajay0511 commented on #1933
Hi @pawansingh00
need your help for this, i am trying to coonect language server to monaco but unable to do so

[2022-03-22 08:43] schrieveslaach commented on #1953
I'm also a none VS code developer who prefers Neovim with the `nvim-jdtls` plugin.

I was wondering if it is possible to load [PDE](https://github.com/testforstephen/vscode-pde/tree/master/pde) as an extension just like [java-debug](https://github.com/microsoft/java-debug) (as described in [`nvim-jdtls` debug section](https://github.com/mfussenegger/nvim-jdtls#java-debug-installation)):

[code]

T

[2022-03-22 09:06] cabins commented on #1520
I got same error on Windows 10, but works well on Linux. Wired.

[2022-03-22 14:22] rgrunber commented on #1953
I haven't looked at this thoroughly but if it doesn't seem to work with just loading the plugin, it could be due to some client code that is required to detect and launch some functions on the LS side, rather than having the language server "just work" when it's loaded.

Looking at https://github.com/testforstephen/vscode-pde in the `package.json` & `extension.ts` may reveal what needs to happen f

[2022-03-23 01:10] cabins opened #2032 "jdtls python script can't start the server on Windows 10"
![图片](https://user-images.githubusercontent.com/2500123/159601721-23a55d0d-00aa-4b96-a06c-c242e2b850f8.png)

Help wanted:

The picture shows the version info:
- OS: Windows 10
- Java: 11.0.14
- Python: 3.10.3

BTW, The jarfile exists there, but the error shows can NOT access it. This happens on Windows (10) only, works well on Linux and macOS.

Thanks!

[2022-03-23 07:11] yz-qiang commented on #2029
Thank you. it works.

[2022-03-23 09:48] cabins commented on #2032
Finally, I write a rough script (`jdtls.bat`) to solve this problem:

[code]

I think the char in the jar path ( `/` vs `\`) is the mainly difference.

[2022-03-23 09:48] #2032 closed

[2022-03-26 23:17] snjeza opened #2035 "Tests fail randomly"
https://ci.eclipse.org/ls/job/jdt-ls-pr/ (builds 3115, 3117, 3118...)
https://ci.eclipse.org/ls/job/jdt-ls-master/ (builds 1280-1286)

[2022-03-27 20:14] samueldevel opened #2037 "How add jar libs?"
I am need add jar libs without mvn or gradle on jdtls, okay, i understand there is many ides to this, but i want lunar vim with jdtls

[2022-03-28 15:50] rgrunber commented on #2037
Can lunar vim use nvim-jdtls ? The way to do this should be described at https://github.com/mfussenegger/nvim-jdtls#language-server-doesnt-find-classes-that-should-be-there .

I don't see too much information at https://www.lunarvim.org/languages/java.html#install-syntax-highlighting , or the particular extension they're using.

[2022-03-29 18:01] #2035 closed

[2022-03-29 18:07] #1271 closed

[2022-03-30 10:17] nqminhuit opened #2040 "[Question] Is it possible to run the Language server on native image generated from GraalVM?"
The GraalVM (https://www.graalvm.org/) supports compiles java code into machine code directly (native image) which starts faster and consumes less memory, would it be possible that eclipse jdt ls is compiled into native image?

[2022-03-31 17:25] schrieveslaach commented on #1953
I figured out how to configure jdt.ls througn nvim-jdtls so that it is possible to develop on jdt.ls.  I'll provide a PR to document it in [CONTRIBUTING.md](https://github.com/eclipse/eclipse.jdt.ls/blob/master/CONTRIBUTING.md).

[2022-04-01 07:25] RKBK commented on #1953
@schrieveslaach That sounds great! Perhaps there will be enough hints for me to get emacs to play ball too...

[2022-04-01 08:21] schrieveslaach commented on #1953
@RKBK, if you have any suggestion, please leave it for me in the PR.

[2022-04-01 11:06] rvignesh123 commented on #1421
Guys still this open ? I need a solution too.

[2022-04-06 15:23] rgrunber commented on #2040
We do this for [LemMinX](https://github.com/eclipse/lemminx/blob/master/org.eclipse.lemminx/pom.xml#L132). However this has [limitations](https://github.com/redhat-developer/vscode-xml/blob/master/docs/Extensions.md#binary-server) if the application does any kind of dynamic loading of content/extensions.

Because of the dynamic nature of the Eclipse plugin architecture, and extension points, I don

[2022-04-06 15:23] #2040 closed

[2022-04-07 14:10] #1953 closed

[2022-04-07 19:01] #2026 closed

[2022-04-08 17:34] #2027 closed

[2022-04-13 03:14] CsCherrYY commented on #747
related to https://github.com/eclipse/buildship/issues/1131

[2022-04-13 03:14] CsCherrYY commented on #1400
related to https://github.com/eclipse/buildship/issues/1131

[2022-04-13 08:11] nicobao opened #2053 "LSP formatting options and eclipse formatter"
Hi!

Currently, the Eclipse LSP Server seems to use the LSP `FormattingOptions` in `textDocument/formatting`, `textDocument/rangeFormatting` and `textDocument/onTypeFormatting` (any formatting directives) over the formatting configuration file explicitly loaded from `java.format.settings.url`, which lead to inconsistencies:

https://github.com/microsoft/language-server-protocol/issues/1166#issue-7

[2022-04-15 02:01] CsCherrYY opened #2058 "Error status won't show when there is an error in subprojects"
steps to reproduce:

1. open https://docs.gradle.org/current/samples/zips/sample_building_spring_boot_web_applications-groovy-dsl.zip with VS Code
2. modify line 3 in `./app/build.gradle` from `id 'java'` to `id 'javaa'`
3. execute command: `Java: Clean Java Language Server Workspace`
4. the language server reports an error in `./app/build.gradle` but the status shows OK

![image](https://user-ima

[2022-04-17 11:23] mfussenegger opened #2060 "jdtls.py java version detection is broken"
The script expects the following pattern: `r"(?P<major>\d+)\.\d+\.\d+"` but the `java -version` output doesn't always use `major.minor.hotifx`. For the initial release of a new major java version it only prints the major version (This is for example the case with [jdk-18+36](https://github.com/adoptium/temurin18-binaries/releases/tag/jdk-18%2B36))

[code]

It should probably use something like: `V

[2022-04-18 18:13] BarakSason opened #2062 "Exception while refactoring"
Hope this is the right repo for this.

I'm encountering the following exception while doing a refactor to rename a method:

Assistance on this will be greatly appreciated,as the refactoring functionality is very useful.

[2022-04-18 19:38] snjeza commented on #2062
@BarakSason Could you attach a project sample reproducing the error?
Do you use lombok?

[2022-04-19 02:26] snjeza commented on #2062
@BarakSason  you may want to take a look at https://github.com/redhat-developer/vscode-java/issues/2417#issuecomment-1101910372
A related issue: https://github.com/projectlombok/lombok/issues/3134

[2022-04-19 19:37] rgrunber commented on #2060
Could you try adding `-Dosgi.requiredJavaVersion=11` to the list of commandline arguments and let me know if that is good enough to eliminate the check ? We're considering to add it in vscode-java : https://github.com/redhat-developer/vscode-java/issues/2421#issuecomment-1102902692 . It delegates checking the version Checkin to the runtime and can generate a message like :

`<title>Incompatible JV

[2022-04-22 19:24] snjeza commented on #2062
@BarakSason I can't reproduce the issue.
Test project:
[test.zip](https://github.com/eclipse/eclipse.jdt.ls/files/8543532/test.zip)
JVM args:
[code]
![refactor](https://user-images.githubusercontent.com/388609/164780744-a208543e-f017-4479-9b30-bdb530a647ba.gif)

[2022-04-24 04:16] 1014661165 opened #2066 "how to start language server in socket mode and wait for client to connect?"
In the readme.md it says that the jdtls can only set CLIENT_HOST and CLIENT_PORT environment variables before starting the server in socket mode, but it is unusual to common socket server usage. Could jdtls works like normal socket server? I mean to start it and wait for the connecting of clients?

[2022-04-24 11:24] #2025 closed

[2022-04-25 00:33] snjeza commented on #2066
@1014661165 you can try

- set the following environment variable
[code]
- start the server with
[code]
See [Running from the command line](https://github.com/eclipse/eclipse.jdt.ls#running-from-the-command-line)
- open https://github.com/redhat-developer/vscode-java in VS Code
- run Launch Extension - JDLS Client
- debug the server on port 1045

[2022-04-25 06:42] schrieveslaach commented on #2060
@rgrunber, I tried the approach with `-Dosgi.requiredJavaVersion=11` but then the JVM fails before evaluating this option with following error message:

[code]

That is less obvious to user, IMHO. What do you think?

[2022-04-25 16:09] rgrunber commented on #2060
Were you using Java 8 ? I think this uncovers an issue that makes my proposal unusable. `--add-modules` was introduced in Java 9 (with modularity) so even our commandline arguments depend on the Java version, which means we need to know the Java version before we launch :neutral_face:

So we need the version parsing code. I'll try to review it some time then.

[2022-04-25 16:50] snjeza opened #2068 "Enable lombok agent"
Related issues;
- https://github.com/eclipse/eclipse.jdt.ls/pull/2009#issue-1140592676
- https://github.com/projectlombok/lombok/issues/3134
- https://github.com/eclipse/eclipse.jdt.ls/issues/1782

[2022-04-26 08:08] schrieveslaach commented on #2060
Accidentally in the past I was starting jdtls with Java 8 because I need to switch Java versions at work. Unfortunately, we have components that compile only with Java 8 and I think in our company is no exception. :see_no_evil: And a better error messages helps a lot when you started jdtls accidentally we Java 8.

[2022-04-27 13:21] RKBK opened #2071 "JDTLS startup takes a long time due to timeout of "refreshing workspace" job"
I'm running JDTLS via emacs using lsp-java. I'm running with PDE extensions, as described here https://github.com/eclipse/eclipse.jdt.ls/pull/2043#discussion_r842460042

I'm also using the following vmargs for jdtls (extracted from the list in emacs, the arguments get sent correctly by lsp-java):
[code]

When starting JDTLS, I get a few log messages, then nothing for five minutes, at which point I

[2022-04-27 16:45] snjeza commented on #2071
@RKBK you may want to take a look at https://github.com/eclipse/eclipse.jdt.ls/issues/1960

[2022-04-27 22:59] #2060 closed

[2022-04-28 04:22] 1014661165 opened #2073 "code completion algorithm"
Hi, authors. Is there any paper or documents about the code completion algorithm inside this project?I want to learn more about the code completion algorithm and AST incremental update algorithm。

[2022-04-28 08:48] RKBK opened #2074 "Prevent jdtls from building and cleaning output folders?"
I'm experimenting with JDTLS on a Java PDE project via lsp-java in emacs. I am trying to, as a first step, just get feedback from the language server about e.g. completions, errors, go-to-definition, etc. However, I do not want JDT.LS to actually build the code and output any changes to the build folders.

This is for two reasons. First, I'm not confident that I'll be able to, at least initially,

[2022-04-28 08:54] RKBK commented on #2071
Thanks, @snjeza ! I take it I need to wait for #1960 to be merged, and then download the new version of JDT.LS?

[2022-04-28 19:03] snjeza commented on #2071
@RKBK could you attach this project?

[2022-04-28 19:12] RKBK commented on #2071
Unfortunately not.

[2022-04-28 19:49] snjeza commented on #2071
I suppose the timeout is caused by downloading your target platform
Could you try it in VS Code using https://github.com/snjeza/vscode-test/raw/master/java-1.5.8.vsix and
[code]

[2022-04-28 23:08] sashomasho opened #2075 "Slow dynamic workspace symbols listing"
Recently I've seen a performance degrade when using lsp_dynamic_workspace_symbols from jdtls using neovim. I've kinda narrowed the problem to extendedClientCapabilities.classFileContentsSupport being set to true - the number of symbols is enormous because it includes all of the jdt links across project jar files and I can hardly search for any class, it takes more than 10 seconds to show any symbo

[2022-04-29 08:13] 1014661165 opened #2076 "multi client"
if i want to receive multi client connection, what should i do?

[2022-04-29 08:32] #2076 closed

[2022-04-29 09:23] RKBK commented on #2071
My first quick attempt at installing it in vscode failed, or rather, I installed it but didn't get vscode to recognize my project and start the server.

Is there a way for you to provide that file in the same format as what is here:

https://download.eclipse.org/jdtls/milestones/1.5.0/jdt-language-server-1.5.0-202110191539.tar.gz

This file is what lsp-java retrieves to install the language server

[2022-04-29 09:27] RKBK commented on #2071
I'll try using the latest version of the server, too, to see if that makes any difference. That should be easy to try.

[2022-04-29 16:33] snjeza commented on #2071
I'll try using the latest milestone version of the server (1.9.0), too, to see if that makes any difference. That should be easy to try.
I tried it in 1.9.0 and I can at least conclude that it behaves the same way as 1.5.0.

@RKBK you should install https://marketplace.visualstudio.com/items?itemName=yaozheng.vscode-pde
See [Auto import Eclipse PDE projects](https://github.com/testforstephen/vscod

[2022-04-30 05:01] rgrunber commented on #2073
The Java AST and completion come from Eclipse JDT, so that project would be a good starting point.

You can have a look at https://wiki.eclipse.org/JDT_Core_Programmer_Guide. Specifically, https://wiki.eclipse.org/JDT_Core_Programmer_Guide/ECJ/Parse & https://wiki.eclipse.org/JDT_Core_Programmer_Guide/Completion .

[2022-05-01 11:52] RKBK commented on #2071
I'm currently starting my project with the new server.

By the way, is it expected that every time you change the jdtls version, by installing a new one, you have to reinitialize the workspace and import everything again? That's at least the behavior I'm observing. Changing to 1.9.0 caused the server to import all the plugins again. Installing your version 1.11.0 from github causes the same thing

[2022-05-01 19:51] snjeza commented on #2071
No, it isn't. It happens only if you change your workspace or target platform.

May 1, 2022, 2:57:15 PM Started org.eclipse.m2e.core 1ms
May 1, 2022, 3:02:15 PM Timeout while waiting for completion of job: Refreshing workspace(12)

Could you attach your target platform?
Could you check [Java LS](https://github.com/eclipse/eclipse.jdt.ls) ?
Does it happen in VS Code?

[2022-05-02 18:40] RKBK commented on #2071
Unfortunately, I can't share any of the code. I realize it's much more difficult helping me find the issue, that way. Is there anything specific that I could look for in the target platform definition, that would be useful information?

I might not understand your second question. The result above was with the JDTLS downloaded from https://github.com/snjeza/vscode-test/raw/master/jdt-language-serv

[2022-05-02 20:24] snjeza commented on #2071
How many plugins does your target platform contain? - <YOUR_WORKSPACE>/redhat.java/jdt_ws/.metadata/.plugins/org.eclipse.pde.core/.bundle_pool/plugins/
How many plugins does your project contain?

Could you try to import [Eclipse JDT Language Server](https://github.com/eclipse/eclipse.jdt.ls) instead of your project.

It is a m2e job - https://github.com/eclipse-m2e/m2e-core/blob/master/org.eclips

[2022-05-03 06:45] RKBK commented on #2071
The total number of <plugin tags in our .target file is 361, including both our own plugins and plugins from elsewhere used in the program. There are about 190 plugins for which I have the source code checked out.

I'll try to find time to try the three new files you suggested, and to try to import the JDTLS project with my local configuration. When importing the Eclipse JDT Language server, is it

[2022-05-03 16:18] snjeza commented on #2071
Yes it is.
[code]
You may want to take a look at [javaConfig.json](https://github.com/eclipse/eclipse.jdt.ls/blob/master/javaConfig.json) - [Auto import Eclipse PDE projects](https://github.com/testforstephen/vscode-pde#auto-import-eclipse-pde-projects)

Java LS has 4 plugins, its target platform has 800+ plugins.

Does your project have 190 plugins? Could you try to import them partially? Do you

[2022-05-04 06:33] #2058 closed

[2022-05-04 21:49] snjeza commented on #2074
@RKBK You can't open the same workspace with two Eclipse instances. JDT LS is also an Eclipse instance.
You may want to take a look at https://github.com/eclipse/eclipse.jdt.ls/pull/1010 and https://github.com/eclipse/eclipse.jdt.ls/issues/978

[2022-05-05 02:44] 1014661165 opened #2081 "how to start and debug the core module in idea?"
how could i debug the core module in idea? I know it used equinox framework for development, but i'm not familiar with it.

[2022-05-05 03:15] jdneo commented on #2081
To debug the JDT.LS you need the help of [PDE](https://projects.eclipse.org/projects/eclipse.pde), which will help you resolve the classpath. It has plugin-in in both VS Code and Eclipse. I'm not sure about the idea.

[2022-05-05 03:19] jdneo commented on #2075
Do you know which place does the performance degrade happen? Is it happened at the server side or neovim?

(I didn't observe it in VS Code)

[2022-05-07 02:11] jdneo commented on #2081
I just found a PDE plugin in IntelliJ: https://plugins.jetbrains.com/plugin/16761-eclipse-pde-partial. But I haven't tried it yet. Maybe you can take a look.

[2022-05-07 12:59] 1014661165 commented on #2081
Thank you very much, I had found it and made it works.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年5月7日(星期六) 上午10:11
收件人: "eclipse/eclipse.jdt.ls";
抄送: "Author";
主题: Re: [eclipse/eclipse.jdt.ls] how to start and debug the core module in idea? (Issue #2081)

I just found a PDE plugin in IntelliJ: https://plugins.jetbrains.com/plugin/16761-eclipse-pde-parti

[2022-05-08 07:41] #2081 closed

[2022-05-09 18:01] rgrunber commented on #2075
Using VS Code as a client, I haven't seen a performance degradation for workspace symbols, even with many additional libraries referenced by a project, but I have seen behaviour where it can take a little bit longer. Does it always take more than 10s ? In other words, whether you search for symbols in a freshly imported project the first or 10th time, it's always taking more than 10s ?

I tried a

[2022-05-09 21:43] sashomasho commented on #2075
Sorry, I had to replay earlier, but I wanted to try vscode on the same project. In fact, vscode is much faster. The way I see it is Telescope (the plugin I use with neovim lsp) is not being able to perform "workspace/symbol" with jdtls because it provides an empty string as query at form popup on which the java server returns nothing (in contrast, rust-analyzer returns everything from the source)

[2022-05-10 08:47] gayanper opened #2084 "Add support for workspace symbols with qualified names"
Add support for searching class with qualified names in workspace symbols request.
ex: `java.util.List`

The main workflow is to open that class file in the editor. Also adding to list all classes like `java.util.*` might be a nice feature as well similar to whats supported in Eclipse JDT UI.

[2022-05-10 19:24] RKBK commented on #2074
I'm actually now finding that I /can/ work with both Eclipse and JDT.LS running at the same time. Eclipse doesn't complain about "Bundle exception". I'm not sure what I'm doing different, but I guess the lsp-java-autobuild-enabled being set to nil is working OK after all. I have not been able to get rid of the changes to the .project files.

I looked at the issues you linked, @snjeza . I don't act

[2022-05-10 19:37] snjeza commented on #2074
@RKBK It is not supported. You can try to start two Eclipse instances in the same workspace. JDT LS allows it, but you can face unexpected issues. https://github.com/eclipse/eclipse.jdt.ls/pull/1010 fixes it.

[2022-05-11 06:44] siakhooi opened #2085 "Update M2E (Vulnerability in Apache Lucene 8.9)"
Hi,

There is a vulnerability report on apache lucene 8.9 and request us to upgrade to 8.10.
https://github.com/opensearch-project/OpenSearch/issues/687
https://issues.apache.org/jira/browse/LUCENE-9981

tracing from our codes, into redhat.java (vscode plugin) that contains a file called
org.eclipse.m2e.maven.indexer_1.18.1.20211011-2139.jar
that contains lucene-*-5.5.5.jar

further trace found th

[2022-05-12 10:27] RKBK commented on #2074
@snjeza I understand that JDTLS cannot work in a "read-only" mode, and requires making changes to the code to function. I think this is unfortunate, and I'd like to reiterate that a JDTLS that can work in a "passive mode" would be useful to me.

For now, thank you @snjeza for your responses! I'm closing this issue.

[2022-05-12 10:27] #2074 closed

[2022-05-12 15:12] gayanper opened #2087 "Add support to open decompiled symbols through the symbols list"
Steps:
- Install java decompiler extension
- Search for a class which doesn't have attached source code.
- Select the class name to open the class

Expectation:
Open the decompiled class source.

Actual:
Nothing happens.

IllegalArgumentException is thrown at Symbol information construction due to lack of proper location. I have a fix for it by resolving the location for BinaryType, I will push it

[2022-05-12 22:45] rgrunber commented on #2085
I know that m2e eliminated a lot of stuff related to the m2e.maven.indexer recently so maybe there's a chance that if we update JDT-LS to use a more recent version, it will simply be eliminated. @mickaelistria , is this the case ?

[2022-05-13 08:14] mickaelistria commented on #2085
Indeed, m2e 2.0 won't contain indexer anymore and should be released in about 2 weeks. When JDT-LS bumps to this new version, Apache Lucene won't be here any more.

[2022-05-15 11:51] hsanson commented on #1859
Checking [nvim-jdtls](https://github.com/mfussenegger/nvim-jdtls#language-server-doesnt-find-classes-that-should-be-there) I learned that it is possible to pass dependencies dynamically to the LSP. I made the adjustments and now I am able to auto-complete, auto-import, and go to defintion of Android classes using my plugin and ALE.

[2022-05-15 11:51] #1859 closed

[2022-05-16 01:17] cabins commented on #2032
Great! Thank you so much!

[2022-05-16 01:18] cabins commented on #2032
Great job! Thank you so much!!

[2022-05-16 03:03] jdneo commented on #2087
BTW, do you mean to contribute a PR for the decompiler extension? Is that this one: https://marketplace.visualstudio.com/items?itemName=dgileadi.java-decompiler?

[2022-05-16 17:54] gayanper commented on #2087
No its not a issue in the decompiler, but rather how we resolve the resource uri in the LS.

[2022-05-17 08:21] gayanper opened #2091 "Performing search operation are blocked until the build is done in vscode"
When opening a workspace, the project build is started. When the project is large it takes time to complete the build which is same in Eclipse as well. But in vscode the search operations such as reference and call hierarchy are blocked until the build is finished. In eclipse this works fine. As I remember a search operation is only blocked for indexing operations. It would be nice to support the