[2020-01-10 14:22] #60 closed

[2020-01-10 18:29] #1307 closed

[2020-01-10 18:36] fbricon commented on #1307
Final syntax looks like :
[code]

Runtime name must be one of:
                  "J2SE-1.5",
                  "JavaSE-1.6",
                  "JavaSE-1.7",
                  "JavaSE-1.8",
                  "JavaSE-9",
                  "JavaSE-10",
                  "JavaSE-11",
                  "JavaSE-12",
                  "JavaSE-13"

List will be updated with each supported release of the J

[2020-01-14 02:56] snjeza commented on #617
It has been fixed within  redhat-developer/vscode-java#710

[2020-01-14 02:56] #617 closed

[2020-01-14 08:39] gusevalexey0 opened #1322 "Definition not found"
Trying to set up coc-java with nvim which is knows as client for jdt.ls. Code completion works pretty good, while code navigation is broken.

Only useful thing in serverLog is
[code]

To notice: project I'm trying to navigate contains more than 1000000 lines of java code. Could it be an obstacle for LS?

[2020-01-14 09:03] fbricon commented on #1322
Please define "code navigation is broken"

[2020-01-14 10:09] gusevalexey0 commented on #1322
@fbricon code navigation is not available. I can't proceed neither to definition nor to implementation. Result set from LS seems to be empty.

I'm using Windows 10

[2020-01-14 16:22] #1322 closed

[2020-01-15 10:40] martinlippert commented on #1232
Any news on this?

[2020-01-15 11:12] fbricon commented on #1232
Sorry but I can't reproduce with vscode-java 0.55.1. Works on my Mac:

![Jan-15-2020 12-10-35](https://user-images.githubusercontent.com/148698/72429388-1f68c680-3790-11ea-97e0-692940641597.gif)

[2020-01-15 11:19] fbricon commented on #1232
Oh I see the difference with my setup: the javadoc is rendered from the source jar, in @BoykoAlex's case, it's rendered from the javadoc jar. Try deleting the spring-data-commons-2.1.9.RELEASE-javadoc.jar file from your local .m2 directory

[2020-01-15 11:32] fbricon commented on #1232
so I tried to get the hover from the javadoc jar, and it still works for me. 😕

[2020-01-15 11:55] fbricon commented on #1232
if you still reproduce the issue with the latest vscode, then please enable verbose logging ("java.trace.server":"verbose"), and attach the logs from the Output view (Language support for Java)

[2020-01-15 13:39] martinlippert commented on #1232
@BoykoAlex Can you double check this from our side? That would be great. And thanks, @fbricon, for the update, much appreciated.

[2020-01-15 14:28] BoykoAlex commented on #1232
It works for me. Thanks!

[2020-01-15 14:28] #1232 closed

[2020-01-15 20:08] fbricon commented on #441
@NikolasKomonen can you take a look please?

[2020-01-16 02:15] NikolasKomonen commented on #441
No problem, on it.

[2020-01-17 23:50] STimur commented on #1006
don't fully understand how it works, but this command helps me on ubuntu 18.04.3 LTS in IntelliJ IDEA 2019.3.1 (Ultimate Edition), had the same problem no documentation for Java SE 11

Thanks a lot!

[2020-01-25 09:22] #441 closed

[2020-01-29 14:12] medwards opened #1326 "Test Failure when "Building from the command line""
I'm trying to build the language server from master (b4aa67) and get the following test failure:
[code]

I'm on Ubuntu 19.04 and have multiple JDKs installed, with JDK 8 as the one currently selected (ie java and javac both report version 1.8.0).

I did some fiddling (adding a sleep and a printout of the absolute path to the `simple-grade/bin` folder) and can confirm on my machine the folder that

[2020-01-30 10:38] #438 closed

[2020-01-31 18:21] NikolasKomonen opened #1327 "Match QuickFix "ImportNotFound" from JDT.ui"
In JDT UI the QuickFix for "ImportNotFound is implemented slightly differently.
https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L366

JDT.ls (Current)
[code]

JDT.UI
[code]

[2020-01-31 18:25] NikolasKomonen opened #1328 "Add Quickfix "UninitializedBlankFinalField" From JDT.ui"
See in: [Here](https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L390)

See Test Case: [test018()](https://github.com/eclipse/eclipse.jdt.core/blob/0278892d5c9789b57dd0dd1289b1d15387b76ef7/org.eclipse.jdt.core.tests.compiler/src/org/eclipse/jdt/core/tests/compiler/regression/AssertionTest.java#L517)

[code

[2020-01-31 18:32] NikolasKomonen opened #1329 "Add Quickfix "VarIsNotAllowedHere" From JDT.ui"
https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L405

[2020-01-31 18:41] NikolasKomonen opened #1330 "Add Quickfixes "OverridingDeprecated..." From JDT.ui"
https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L695

JDT.ls is missing:
    OverridingDeprecatedSinceVersionMethod,
    OverridingTerminallyDeprecatedMethod,
    OverridingTerminallyDeprecatedSinceVersionMethod

[2020-01-31 18:56] NikolasKomonen opened #1331 "Add Quickfix "SwitchExpressionsYieldMissingEnumConstantCase" From JDT.ui"
https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L735

[2020-01-31 18:57] NikolasKomonen opened #1332 "Add Quickfix "SwitchExpressionsYieldMissingDefaultCase" From JDT.ui"
https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L739

[2020-01-31 19:07] snjeza commented on #1332
A duplicate of https://github.com/eclipse/eclipse.jdt.ls/issues/1140

[2020-01-31 19:07] #1332 closed

[2020-01-31 19:08] snjeza commented on #1331
A duplicate of https://github.com/eclipse/eclipse.jdt.ls/issues/1140

[2020-01-31 19:08] #1331 closed

[2020-01-31 20:11] NikolasKomonen opened #1333 "Add Quickfix "MissingNonNullByDefaultAnnotationOnPackage" From JDT.ui"
See Quickfix: [Here](https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L831)

See test case: [test_missing_default_annotation_02()](https://github.com/eclipse/eclipse.jdt.core/blob/0278892d5c9789b57dd0dd1289b1d15387b76ef7/org.eclipse.jdt.core.tests.compiler/src/org/eclipse/jdt/core/tests/compiler/regressio

[2020-01-31 20:20] NikolasKomonen opened #1334 "Add Quickfix "UndefinedModule" From JDT.ui"
Quickfix: [Here](https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L834)

Test Case: [test002()](https://github.com/eclipse/eclipse.jdt.core/blob/0278892d5c9789b57dd0dd1289b1d15387b76ef7/org.eclipse.jdt.core.tests.compiler/src/org/eclipse/jdt/core/tests/compiler/regression/ClasspathJmodTests.java#L88)

Wit

[2020-01-31 20:23] NikolasKomonen opened #1335 "Add Quickfix "NotAccessibleType" From JDT.ui"
Quickfix: [NotAccessibleType](https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L837)

Test Case: [test007()](https://github.com/eclipse/eclipse.jdt.core/blob/0278892d5c9789b57dd0dd1289b1d15387b76ef7/org.eclipse.jdt.core.tests.compiler/src/org/eclipse/jdt/core/tests/compiler/regression/ModuleCompilationTes

[2020-01-31 20:47] NikolasKomonen opened #1336 "Add Quickfix "PackageDoesNotExistOrIsEmpty" From JDT.ui"
Quickfix: [PackageDoesNotExistOrIsEmpty](https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L846)

Test Case: [testCreateFolderToolObjects()](https://github.com/eclipse/eclipse.jdt.core/blob/0278892d5c9789b57dd0dd1289b1d15387b76ef7/org.eclipse.jdt.core.tests.model/src/org/eclipse/jdt/core/tests/model/Factor

[2020-01-31 20:51] NikolasKomonen opened #1337 "Add Quickfix "AbstractServiceImplementation" From JDT.ui"
Quickfix: [AbstractServiceImplementation](https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L846)

Test Case: [test_services_abstractImpl()](https://github.com/eclipse/eclipse.jdt.core/blob/0278892d5c9789b57dd0dd1289b1d15387b76ef7/org.eclipse.jdt.core.tests.model/src/org/eclipse/jdt/core/tests/model/Module

[2020-01-31 21:07] NikolasKomonen opened #1338 "Add Quickfix "ProviderMethodOrConstructorRequiredForServiceImpl" From JDT.ui"
Quickfix: [ProviderMethodOrConstructorRequiredForServiceImpl](https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L850)

Test Case: [test_services_NoDefaultConstructor()](https://github.com/eclipse/eclipse.jdt.core/blob/0278892d5c9789b57dd0dd1289b1d15387b76ef7/org.eclipse.jdt.core.tests.model/src/org/eclipse

[2020-01-31 21:10] NikolasKomonen opened #1339 "Add Quickfix "ServiceImplDefaultConstructorNotPublic" From JDT.ui"
Quickfix: [ServiceImplDefaultConstructorNotPublic](https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L851)

Test case: [test_services_DefaultConstructorNotVisible()](https://github.com/eclipse/eclipse.jdt.core/blob/0278892d5c9789b57dd0dd1289b1d15387b76ef7/org.eclipse.jdt.core.tests.model/src/org/eclipse/jd

[2020-02-01 18:21] snjeza opened #1340 "eclipse.jdt.ls build fails"
See https://ci.eclipse.org/ls/job/jdt-ls-master/807/console

[2020-02-01 18:27] NikolasKomonen opened #1341 "LSP4J Breaking API Changes"
It looks like there are [lsp4j changes](https://github.com/eclipse/lsp4j/blob/master/CHANGELOG.md#v090-tbd) that may cause some issues.

The error I am currently getting is caused by:
* Parameter of `textDocument/signatureHelp` changed from `TextDocumentPositionParams position` to `SignatureHelpParams params`

[2020-02-01 18:46] snjeza commented on #1341
Related to #1340

[2020-02-03 07:10] woojoovove commented on #1340
Hi, I encountered the same issue and It can be fixed by deleting "@Override" annotation of the method of

`public CompletableFuture<SignatureHelp> signatureHelp(TextDocumentPositionParams position) {}`

from

org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java

my error message

[INFO] ------------------------------------------------------------------------

[2020-02-03 10:05] #1340 closed

[2020-02-04 11:14] fbricon commented on #1341
Closing as duplicate of #1340

[2020-02-04 11:15] #1341 closed

[2020-02-07 08:12] languitar commented on #1208
Is there any plan to ever publish milestone builds again? The Archlinux users, for whom I am packaging jdtls, haven't seen a package update since a few versions because some years ago the advice was to use the milestone builds. However 0.49.x is again missing from the download area on the eclipse site.

[2020-02-10 07:44] YuMu233 opened #1345 "“var” syntax seems to be wrong"
Hello！ Thanks for your great work！

I'm using coc nvim but jdt.ls gives an error when I try the "var" syntax of jdk11

For example
 var test = "test";

**This is an error **

 `[Java 16777218] [E] var  cannot be resolved to a type`

it seems to be bug when import maven project
and i delete the log by mistake。。。

i m sorry for my poor English :(

[2020-02-11 12:59] #1345 closed

[2020-02-11 13:00] YuMu233 commented on #1345
coc and maven doesnt auto set jdk11

[2020-02-12 13:54] anandsinghkunwar opened #1347 "Not discovering maven library dependencies"
I am using this client https://github.com/autozimu/LanguageClient-neovim for my java setup in java. I am trying to run this https://beam.apache.org/get-started/quickstart-java/ program. Jumping to definitions of any SDK defined classes/functions all return "Not found" in my client program. Jumping to definitions of `java.lang` classes like `String` is possible. I suspect this has something to do w

[2020-02-14 06:20] yyoncho opened #1348 "JDT ls does not follow the spec and return the inconsistent filterText and textEdit"
Completing the following line:
[code]

In this case the server returns:

[code]

As per spec the clients are supposed to use the textEdit range to find out where the completion has started and then filter it against filterText. In this case, the completion of prefix is calculated as `java.util.concurrent.atomic.` while the filter text is `AtomicBoolean`.

[2020-02-14 08:45] angelozerr opened #1349 "Gives the capability to use JDT LS progress monitor for a IDelegeteCommandHandler command"
Today `IDelegeteCommandHandler` receives a `CancellableProgressMonitor` as IProgressMonitor which means it's impossible to use progress capability for a given command.

It should be fantastic if we could declare a command with progress attribute like this:

[code]

In this sample:

 * `microprofile/projectInfo` command will receive a progress monitor `ProgressReporter`
 * `microprofile/propertyDef

[2020-02-15 13:02] akaroml commented on #1347
What do you mean by SDK defined classes?

Could you try to provide a screenshot of your "PROBLEMS" view? If there is one...

[2020-02-15 13:16] akaroml commented on #1348
The `textEdit` is for applying text changes when the completion item is selected. And the `filterText` is for the client to further filter the completion items as users keep on typing. I don't see those two related. @fbricon what do you think?

[2020-02-15 13:24] akaroml commented on #1349
@yaohaizh what do you think?

[2020-02-15 13:41] akaroml commented on #1349
@angelozerr here to learn more about the reason why you want to use `ProgressReporter`. Is it because you want to report progress to the client (vscode-java)?

`ProgressReporter` extends `CancellableProgressMonitor` to report back to the client. In your example, I don't see `microprofile/projectInfo` can do more with `ProgressReporter`. Could you further clarify the use case?

[2020-02-15 15:57] yyoncho commented on #1348
Filter against what? Note that the servers may return whatever filterText they want - e. g. xml language server returns `<tagName` and the html language server returns `tagName`.

here it is eclipse lsp4e prefix calculation: https://git.eclipse.org/c/lsp4e/lsp4e.git/tree/org.eclipse.lsp4e/src/org/eclipse/lsp4e/operations/completion/LSIncompleteCompletionProposal.java#n378

For the record, when you

[2020-02-15 17:28] angelozerr commented on #1349
Yes exactly. I would like to avoid implementing my own progress report (on server and client side) and use the same progress reporter than JDT LS (which I think should implement LSP progress but it's an another topic).

Today the only solution we found is to in the IDelegateCommandHandler, create a Job and call join.. See https://github.com/redhat-developer/quarkus-ls/blob/0ff91b4d0fe4670584a3ad23

[2020-02-16 07:59] akaroml commented on #1349
First of all, I like this idea because I like transparency.

A while ago, we started an effort to show the internal job status of LS. And you can see it by clicking the status icon of Java LS in the status bar.

It is very valuable to show the progress of time-consuming operations. But for very quick ones, it would be quite noisy at the same time. AFAIK, most of the delegate commands are short liv

[2020-02-16 11:52] akaroml commented on #1348
@eskibear could you take a look here?

[2020-02-17 03:12] Eskibear commented on #1348
I just tried:
1) import a class,
2) in function body, type full qualified name of the class.

According to the log, jdtls returns the same response in both cases. However, in Case 1 target class was shown in the completion list, while in Case 2 only sub packages were shown.

E.g. I wanted to refer `java.util.concurrent.AbstractExecutorService`. See below:

#### Case 1

<img width="487" alt="Screen

[2020-02-17 05:28] yyoncho commented on #1348
That is because JDT LS returns incorrect text range in `Case 2` - the clients use `Completion.textEdit.range` to calculate what to filter against.

[2020-02-17 07:39] Eskibear commented on #1348
You are right. So I can see two possible solutions for this case:
- a) change `filterText` to the full qualified name.
- b) change `textEdit.range` and corresponding `textEdit.newText`.

And I think b) makes more sense.

[2020-02-17 08:09] Eskibear commented on #1348
Well, I just had a glance, the `range` was directly converted from `CompletionProposal`, which is calculated by JDT core. I'm afraid that a fix in upstream is required.

[2020-02-17 08:50] angelozerr commented on #1349
Great :)

In Quarkus usecase, the collection of properties can take some times according the classpath (around 9 seconds). That's why we have managed progress monitor by given information about progression.

The collection of properties is done when user open an application.properties (validation is processed and call microprofile/projectInfo delegate command handler).

If you want a little demo,

[2020-02-17 09:57] akaroml commented on #1349
Clear enough. Thanks @angelozerr

@jdneo do you also have similar cases in Test Runner or Dependency Viewer parts?

[2020-02-17 10:42] #1140 closed

[2020-02-17 11:12] fbricon opened #1351 "jdt.ls distro is 10MB heavier because of com.ibm.icu_64.2.0.v20190507-1337.jar"
com.ibm.icu_64.2.0.v20190507-1337.jar is being added to the jdt.ls distro. It shouldn't since we're supposed to only ship com.ibm.icu.base (com.ibm.icu.base_58.2.0.v20170418-1837.jar is already in the distro)

[2020-02-17 11:17] fbricon commented on #1351
Problem occured between Jan 17 and Jan 24, 2020: https://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D

Need to check if it was caused by
 tycho 1.6.0 https://github.com/eclipse/eclipse.jdt.ls/commit/e9f78a45f0891e5d4c129dbb88d99946c71c24c9

[2020-02-17 15:44] fbricon commented on #1351
Ok, while trying to exclude com.ibm.icu from the target platform, I found that:
[code]

[2020-02-17 15:50] fbricon commented on #1351
@rgrunber when looking at the latest Orbit repo, I can see that com.ibm.icu.base is stuck at 58.2.0, while we need a version >= 60: https://download.eclipse.org/tools/orbit/R-builds/R20190602212107/
How can we fix that?

[2020-02-17 15:53] anandsinghkunwar commented on #1347
I switched to coc.nvim and the experience is much smoother. LanguageClient-neovim was having some trouble detecting my maven dependencies in vim.

[2020-02-17 15:53] #1347 closed

[2020-02-17 16:12] jrieken commented on #1348
That's correct - the range serves as the range that is replaced upon insertion *and* and selects the prefix that's used for filtering and sorting.

[2020-02-17 17:10] fbricon commented on #1351
As a temporary solution, I'm trying to use last I-Build not enforcing the ICU 60 requirement introduced by https://github.com/eclipse/eclipse.jdt.ui/commit/3e36b6b6d9c0ea96d785c73f6950915cc8b5a402.
That'd be https://download.eclipse.org/eclipse/updates/4.15-I-builds/I20200122-1805/

[2020-02-17 18:46] fbricon commented on #1351
After discussing with @akurtakov, I've decided to bite the bullet and stick with the fat ICU jar for now, since no icu.base jars are produced anymore. We can't be stuck to a transient JDT build forever.

[2020-02-18 01:40] jdneo commented on #1349
Test Runner's searching all test cases is a time consuming operation.

Thank you @angelozerr for this. May I ask where can I find this API's usage in the Quarkus extension?

[2020-02-18 08:12] yyoncho commented on #1348
@Eskibear

I guess option a) is still on the table? IMO it won't make any difference for the clients unless they are putting the completion dialog under the `range.start` position.

[2020-02-18 17:58] snjeza opened #1354 "Update buildship"
Related issue: https://github.com/eclipse/che/issues/16051

[2020-02-18 22:36] #1354 closed

[2020-02-21 07:38] testforstephen opened #1357 "build failed when updated to org.eclipse.lsp4j_0.9.0.v20200220-1659.jar"

[2020-02-21 11:05] #1357 closed

[2020-02-21 11:10] fbricon opened #1359 "Lazy load the default project"
The default project is eagerly created every time jdt.ls is started, but it's only needed when working with standalone Java files. We should be able to create it only when needed.

Kinda similar to #1356

[2020-02-21 14:06] fbricon opened #1360 "Provide the ability to test early access JDK.next support"
JDT currently provides JDK14 support as a feature patch, via a special update site: https://download.eclipse.org/eclipse/updates/4.15-P-builds/

I never managed to get a Tycho build to consume (feature) patches before, but things may have evolved since.

Such early access support  (if doable) should be done in a new branch, not master.

We'll then need to figure out if there are legal issues preve

[2020-02-24 06:27] testforstephen opened #1361 "Stop startup scan for maven project importer"
Current **MavenProjectImporter** will scan the root folder first to find all folders with pom.xml, then apply the exclusion filter to exclude the specified folder. The ask is to move the exclusion check to the LocalProjectScanner so as to avoid the unnecessary scan.

One use case for this is multi root. One of the roots contains pom.xml, another root is a normal folder. When the language server ac

[2020-02-26 12:21] Eskibear commented on #1348
I was trying to update `filterText` to match `textEdit` for this case. This fix is easy and the item does show up in the completion list, but it just looks a little bit wired in vscode.

![Screen Shot 2020-02-26 at 7 59 48 PM](https://user-images.githubusercontent.com/2351748/75343204-e9604b80-58d2-11ea-9c6a-7ff08e3ba9c6.png)

The highlighted part of `label` doesn't make much sense, because now th

[2020-02-26 12:38] yyoncho commented on #1348
@Eskibear what about having the filterText patch merged and then when upstream is fixed it will automatically resolve the highlighting issue?

We (at emacs side) do it the same way. IMO the issue is not that the filterText is different from the label but the fact that the prefix is different(the prefix is calculated based on the textEdit).

[2020-02-26 12:43] Eskibear commented on #1348
@yyoncho you're right. I've updated the original statement to avoid confusion.

[2020-02-28 10:23] #1348 closed

[2020-02-28 16:01] dradtke opened #1370 "Compilation fails on release tags, but works on master"
When I clone the repo and check out tag `v0.51.0` (the latest release as of now) and attempt to build it, I get these errors (tested on Debian Buster):

[code]

The same thing happens with `v0.50.0`, `v0.49.1`, `v0.49.0`, and probably more.

Interestingly, compiling master is not an issue, but I don't know what's different between master and the latest release aside from one or two unrelated commi

[2020-02-29 12:41] Eskibear opened #1371 "wrong newText for completion item that overrides method in anonymous class"
Originally reported in https://github.com/MicrosoftDocs/intellicode/issues/173

Sample code to reproduce:
[code]

![bug](https://user-images.githubusercontent.com/2351748/75607517-e95e8680-5b32-11ea-9d3a-b5b827504970.gif)

It only occurs when you initialize a field member in declaration. I tried the same thing within a method body, and it worked well.

Below is the response, we can see `textEdit.n

[2020-02-29 17:09] snjeza opened #1372 "jdt-ls-master fails"
See https://ci.eclipse.org/ls/job/jdt-ls-master/825/console

[2020-02-29 19:10] #1372 closed

[2020-03-01 12:51] mfussenegger opened #1374 "BadLocationException and diagnostic with negative line number send to client"
**Steps to reproduce**

- Open an existing file and save the file under a different filename.
- Open the newly created file. This triggers a BadLocationException and the client receives diagnostics with negative line numbers in the range.

(I'm using the LSP support being added to neovim - currently only available in master)

**Environment**

- openjdk version "13.0.2" 2020-01-14
- eclipse.jdt.ls

[2020-03-04 02:22] testforstephen opened #1376 "Opening a java file under a non-java maven module will return no CU"
I figured out why I didn't get anything. If the Maven wrapper is under the parent project (so non-java) of other Maven Java projects, then, we end up returning no CU:

https://github.com/eclipse/eclipse.jdt.ls/blob/c026aafd84e454f77030132b7095b3971bd5a493/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JDTUtils.java#L175-L177

This is the case of https://github.com/eclipse/eclipse.jdt

[2020-03-04 18:22] fbricon commented on #1370
Unfortunately, this issues stems from the fact jdt.ls always builds against the latest builds of some dependencies, to allow us to innovate faster, instead of targeting locked versions.
In this case, recent tags still points towards the latest lsp4j snapshots, that made some API changes, breaking jdt.ls (see #1373).
I'm rolling back that change by trying to point to a more stable version of lsp4 (

[2020-03-09 11:09] deb75 opened #1380 "lsp complains it cannot download Gradle version information"
Hello,

In lsp's logs, I noticed this error :

9 mars 2020 12:00:36 Could not load Gradle version information
Cannot download published Gradle versions.
org.gradle.api.UncheckedIOException: Cannot download published Gradle versions.

	at org.eclipse.buildship.core.internal.util.gradle.PublishedGradleVersions.downloadVersionInformation(PublishedGradleVersions.java:165)

	at org.eclipse.buildship.co

[2020-03-09 13:57] fbricon commented on #1380
See if https://github.com/redhat-developer/vscode-java/wiki/Using-a-Proxy helps

[2020-03-11 02:01] akaroml commented on #1371
@Eskibear please go ahead with a fix :)

[2020-03-11 11:10] #1374 closed

[2020-03-11 12:27] fbricon opened #1382 "Use stable lsp4j 0.9.0 release"
use https://download.eclipse.org/lsp4j/updates/releases/0.9.0/

will need to reapply  #1373

[2020-03-12 01:00] #1382 closed

[2020-03-15 16:51] ahakanbaba opened #1384 "Can jdt.ls jump to definitions in third party libraries"
For example

[code]

Can jdt.ls be used to jump to the definition of that class ?

I am using the [YouCompleteMe](https://github.com/ycm-core/YouCompleteMe) client and working in a gradle project.

There may be some mistake in my client configuration. Before diving into that, I wanted to make sure the server side is capable for that.

[2020-03-15 16:58] fbricon commented on #1384
If this is not a n Android app, then yes it should work. Can you try to see if it opens in vscode with  https://marketplace.visualstudio.com/items?itemName=redhat.java?

[2020-03-15 17:03] ahakanbaba commented on #1384
I do not have VSCode installed.
I have just installed eclipse and there I can jump to definitions in third partly libraries. Would that be an equivalent experiment to your VSCode suggestion ? Or should I still try in VSCode ?

[2020-03-15 17:08] fbricon commented on #1384
Eclipse doesn't use jdt.ls, just jdt. So yeah, checking against vscode would be preferable. That being said, the fact it works in eclipse means the problem is probably not in buildship, the Gradle integration plugin, but it might be something specific to jdt.ls. providing server log files might be helpful. No idea where youcompleteme stores them though

[2020-03-15 22:47] mfussenegger commented on #1384
The server supports to jump to class files. But it is an [extension](https://github.com/eclipse/eclipse.jdt.ls/wiki/Language-Server-Protocol-Extensions) and not part of the LSP standard.

To opt-in for this extension, the initialization options have to be extended:

[code]

Once that is set, the client will start to receive `Location` items that have a `jdt://...` uri as response to `textDocument/

[2020-03-15 23:00] mfussenegger opened #1385 "signatureHelp response always empty"
**eclipse.jdt.ls version**:  master@b06ba7459923a71b70be58dccb586659f33d5f41
**java version**: openjdk version "13.0.2" 2020-01-14

**Reproduction**

[code]

Within the file, add `import java.util.List;` and within `someLibraryMethod` add `List.of(`, then trigger the `signatureHelp` request. (I've set it up to auto trigger `signatureHelp` based on the trigger characters reported by the server - th

[2020-03-16 04:14] snjeza commented on #1385
@mfussenegger You can try to set the following preference:

[code]

[2020-03-16 09:32] mfussenegger commented on #1385
Oh my, can't believe I missed that (and the docs in [the wiki](https://github.com/eclipse/eclipse.jdt.ls/wiki/Running-the-JAVA-LS-server-from-the-command-line)).

Thank you, it works now

[2020-03-16 09:32] #1385 closed

[2020-03-17 03:54] jdneo opened #1388 "Root path in the preference manager won't update when workspace folder changes"
The `updateWorkspaceFolders` in https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/ProjectsManager.java#L160

will not update the `rootPaths` in `preferenceManager`, which will cause some unexpected behavior when using `rootPaths`. for example, here:
https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.cor

[2020-03-17 03:54] jdneo commented on #1388
I can raise a PR to fix this.

[2020-03-20 10:31] #1388 closed

[2020-03-21 17:46] cheonhyangzhang opened #1390 "How does the goToDefinition work for a java gradle project?"
Hi folks, I am trying to setup vim + coc java workflow for my work project.
The project is a large java gralde project. It has many sub modules. Folder structure is like
[code]

When I load vim and JDT language server is running, all classes are working fine except the classes defined inside of /core module.
The /core module is a little special because it needs scala cross build. (Not very familia

[2020-03-24 14:42] fbricon opened #1392 "Generate Getters source action is broken from within a record"
Given
[code]

When generating getters, the generated code is broken (inserted between `age` and the closing parenthesis) :

[code]

I can reproduce the same issue in stock Eclipse 4.15 + Java 14 patch: https://bugs.eclipse.org/bugs/show_bug.cgi?id=561413

[2020-03-24 14:56] fbricon opened #1393 "Provide `record` snippet"
... similar to `class` and `interface` snippets, it should help scaffold a new Record object, something like:

[code]

[2020-03-24 16:29] MathiasSM commented on #1251
I have the same issue on Ubuntu 18.04.

[code]

[2020-03-24 17:26] snjeza commented on #1251
@MathiasSM The Java LS build requires JDK 8:
[code]

[2020-03-24 17:38] fbricon commented on #1251
@snjeza we need to make jdt.ls not fail the build against JDK 11

[2020-03-24 17:50] snjeza commented on #1251
@fbricon could you create a new issue?

[2020-03-24 17:55] fbricon opened #1394 "jdt.ls should build when running against JDK 11"
For now, jdt.ls build should not fail when running against JDK 11.
JDK 8 is still the minimum required JDK to build/run for the time being, but it'll likely change in June, or at most September, when Platform requires a minimum of JDK 11 to run.

[2020-03-24 19:25] snjeza commented on #1394
It works for me too:
[code]

[2020-03-24 19:26] snjeza commented on #1251
See https://github.com/eclipse/eclipse.jdt.ls/issues/1394

[2020-03-26 15:58] fbricon opened #1396 "No Javadoc completion for records"
When typing the opening Javadoc `/**` or forcing autocompletion of an empty Javadoc block `/** | */`, I get no Javadoc completion, for records, as you'd get usually for a method or constructor:

<img width="620" alt="Screen Shot 2020-03-26 at 4 54 54 PM" src="https://user-images.githubusercontent.com/148698/77667475-8a99fa80-6f82-11ea-81ae-7396b98ededa.png">

[2020-03-26 18:52] snjeza commented on #1396
There isn't Javadoc comment for classes and interfaces, too.

[2020-03-26 19:41] fbricon commented on #1396
I know, because they have no parameters. Records have params, so it makes sense to generate the javadoc for them

[2020-03-29 05:18] AtharvaThorve commented on #150
I am facing the same issue when I try to connect the vscode-java extension to the server as stated in the [CONTRIBUTING.md](https://github.com/redhat-developer/vscode-java/blob/master/CONTRIBUTING.md#c-1-the-extension-opens-the-connection-first-and-waits-the-language-server-to-connect-to-it)
Could you please be more clear on how you resolved this issue.

[2020-03-30 10:49] fbricon commented on #863
@rgrunber any update on migrating postfix templates to core?

[2020-03-30 13:14] fbricon commented on #1390
Normally, navigation across multimodule gradle-based Java projects is expected to work except for Android, which is not supported.
Since Scala is not supported by jdt.ls, navigating to scala source is not expected to work though.
We have no plans on providing scala support in core jdt.ls. However, if someone wanted to add that as an eclipse.jdt.ls extension, we could provide some help (I can't gua

[2020-03-30 13:21] fbricon commented on #1384
@mfussenegger thanks for the explanation. I even forgot about it being a non-standard addition to our LSP implementation. We definitely should do a better job at documenting how to use jdt.ls. It's pretty abysmal right now.

[2020-03-30 13:29] fbricon commented on #1380
@deb75 any update on configuring proxy access?

[2020-03-30 14:14] #1393 closed

[2020-03-30 20:41] #1396 closed

[2020-03-31 18:21] Z3roCoder opened #1399 "IntelliSense (Code completion) and Documentation does not work with LiveShare"
As a Participant in a LiveShare-Session from Visual Studio Code (See LiveShare Expansion Pack), the Intellisense and Documentation/Go to Definition (F12) do not seem to work.

Is this a Bug, or may I have missed something while setting up my Java Environment?

[2020-04-01 15:00] dradtke opened #1400 "eclipse.jdt.ls doesn't respect Gradle output directory"
Gradle by default uses `build` as its output directory, and Eclipse uses `bin`, but it doesn't look like there's a way to tell the language server to use Gradle's settings without installing a separate Eclipse plugin. This has caused me problems when updating resources; the `processResources` task copies files over to `build`, but the language server can't see them because it's using `bin`.

[2020-04-01 15:20] fbricon commented on #1400
Gradle support is provided by the [Buildship](https://github.com/eclipse/buildship/) project. Separating the output directories of Eclipse and CLI builds is a design decision, basically to prevent conflicts between IDE and CLI builds. More about here: https://discuss.gradle.org/t/eclipse-plugin-did-not-configure-default-output-directory-to-build/7586.

Adding @rubensa's comment from https://github

[2020-04-01 15:37] chnnn opened #1401 "[ERROR] No plugin found for prefix 'runjdwp' in the current project and in the plugin groups [org.apache.maven.plugins, org.codehaus.mojo] available from the repositories"
When `./mvnw clean verify`
[ERROR] No plugin found for prefix 'runjdwp' in the current project and in the plugin groups [org.apache.maven.plugins, org.codehaus.mojo] available from the repositories
...
    at org.apache.maven.plugin.prefix.internal.DefaultPluginPrefixResolver.resolve (DefaultPluginPrefixResolver.java:95)
    at org.apache.maven.lifecycle.internal.MojoDescriptorCreator.findPluginFo

[2020-04-01 15:39] fbricon commented on #1401
what project are you trying to build? jdt.ls? yours?

[2020-04-01 15:47] chnnn opened #1402 "Please specify "how to import" clearly. / The Readme is toooooo fuzzy."
Linux, Eclipse IDE for commiter 2020-03
First, I do not think `File-Open Projects from File System ` import the file correctly, because it will throws 100+ or 30+ errors at users' face.
I suppose the right way to do it should be import it with a wizard. File-import-Maven-Existing Maven Projects.
Though I still have not figure out how to make it running.

Please, I've spend 4+ hours trying to figur

[2020-04-01 15:53] chnnn commented on #1401
I'm trying to set up the java JDT Language server for lsp-java.
I followed the `First Time Setup` part on https://github.com/eclipse/eclipse.jdt.ls

[2020-04-01 16:02] dradtke commented on #1400
That makes sense, but wouldn't it also make sense for the language server to override Buildship's default setting? Users of the server will be working with Gradle (or whatever the build system is) and not Eclipse directly.

[2020-04-01 16:05] fbricon commented on #1400
This applies to jdt.ls clients too, they're the IDEs, they will see the conflicts

[2020-04-01 16:15] dradtke commented on #1400
Is there a language server command for refreshing the build that I'm not aware of? I ran into this issue because I was running tests through [java-debug](https://github.com/microsoft/java-debug), one failed due to an issue in a resource file, and the language server didn't pick up the resource change once I fixed it. The test kept failing until I either restarted the language server, or ran `proce

[2020-04-01 16:18] chnnn commented on #1401
I solved the problem by looking into lsp-java.
But I really have no idea what's happening here.....
Thank you anyway.

[2020-04-01 16:18] #1401 closed

[2020-04-01 16:20] #1402 closed

[2020-04-06 16:50] fbricon commented on #1371
@Eskibear are you gonna fix this one for this release?

[2020-04-07 03:40] Eskibear commented on #1371
### TLDR
I did some investigation, it's not a low-hanging bug, I'm not going to work on it right now.

#### Root cause
The CompilationUnit returned by upstream utility `JavaCore.createCompilationUnitFrom(resource)` is  incomplete, so JDTLS is not aware that the position is in an anonymous class.

#### Workaround for users
To trigger the completion directly without inputting the hint

### More deta

[2020-04-07 14:50] rgrunber commented on #863
I haven't forgotten about this but the last time I investigated, the amount off classes needing to be refactored was pretty large. I can have a look again to get a better idea.

[2020-04-15 16:12] snjeza opened #1409 "CompletionHandlerTest.testStarImports fails randomly"
https://ci.eclipse.org/ls/job/jdt-ls-master/857/testReport/org.eclipse.jdt.ls.core.internal.handlers/CompletionHandlerTest/testStarImports/

[2020-04-16 03:53] felixhao28 opened #1410 "Move .project and .metadata"
Is it possible to specify another location to put .project and .metadata files? I found ".project" in particular will cause issues in an IntelliJ IDEA project with Lombok plugin.

[2020-04-16 19:23] snjeza commented on #1410
See https://bugs.eclipse.org/bugs/show_bug.cgi?id=78438

[2020-04-18 09:24] felixhao28 commented on #1410
Thanks. I am going to use a workaround that creates a shadow project that has symbolic links to all files in the original project and set the shadow project as the rootPath.

[2020-04-18 09:24] #1410 closed

[2020-04-19 01:12] john-pt commented on #1384
@ahakanbaba Hello, I was wondering if you were able to add this initialization option into YouCompleteMe configuration.

[2020-04-25 02:11] stardiviner opened #1417 "Java Model Exception: Java Model Status ['java.lang.System' is not a valid Java identifier]"
I'm using Emacs client `lsp-java`.
Here is my sample Java source code:
[code]
It can't complete after `System.`.
I tested on Visual Studio Code, it works fine. But failed on Emacs lsp-java client side.

And here is the lsp-mode log in buffer `*lsp-log*`:
[code]

My environment info:
- Java version: `java 13.0.2 2020-01-14, Java(TM) SE Runtime Environment (build 13.0.2+8)`
- Emacs version: GNU Emac

[2020-04-27 13:26] #1409 closed

[2020-04-27 15:34] Yanpas opened #1419 "Code folding is buggy"
Sometimes folding ranges are out of sync and located 1 line below or upwards. Sometimes they are completely broken with following exception:
[code]

STR:
1. Add some parameter to the method used across class
2. For some time method call will be causing compile error
3. Fix it by adding desired argument
4. Code folding is broken!!!

[2020-04-27 15:44] fbricon opened #1420 "Add "Introduce parameter..." code action"
Given:
[code]
The "Hello World" string could be refactored as a method parameter to give:

[code]
In Eclipse IDE and Intellij IDEA, this corresponds to the "Introduce Parameter..." refactoring.

![extract-parameter](https://user-images.githubusercontent.com/148698/80391790-824d1c00-88ae-11ea-97f0-ec1e12145759.gif)

[2020-04-27 15:54] fbricon commented on #1419
this is weird, as we're waiting for the document to be reconciled properly before computing folding ranges in  https://github.com/eclipse/eclipse.jdt.ls/blame/1cc049e2d19bba5e31f94032c4851fd0a5840bea/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L813

@testforstephen @jdneo @snjeza any ideas?

[2020-04-27 16:01] fbricon commented on #1417
Can you try to delete the server's working directory and try again? I dunno how lsp-java sets it but it should be the parameter after the -data flag, in the server launch command.

[2020-04-27 16:04] Yanpas commented on #1419
More details:
- extension version 0.60
- jdk 13
- arch linux
- I use eclipse project (.project, .settings etc)
- I use splitting the same editor.

[2020-04-27 16:14] fbricon commented on #1419
0.60.0 as in vscode-java?

[2020-04-27 16:16] Yanpas commented on #1419
Yes, it's vscode extension's version.

More traces (not sure if they are related) Even without splitting editor foldings disappear after some edits:
[code]

[2020-04-27 16:21] fbricon commented on #1419
If you can reproduce the issue reliably, do you mind recording the steps you follow to see this issue?

[2020-04-27 16:39] Yanpas commented on #1419
Here it is: https://gist.github.com/Yanpas/7c92234ea1f2b2398dc5f6d4b94de6bf

Recorded with `"java.trace.server": "messages",`

What I was doing?
1. Folded several if's
2. Between class methods inserted this snippet:
[code]
It makes whole piece of code uncompilable
3. then removed extra curly brace and folding is gone

[2020-04-27 16:42] Yanpas commented on #1419
Editing only one file causes a lot of files (I guess all) to recompile for some reasong, according to inotify watcher (`inotifywait -r -m  ~/ssd/work/trunk/EclipseBuild/`)

[2020-04-27 16:45] fbricon commented on #1419
how many files do you have open?

[2020-04-27 16:59] Yanpas commented on #1419
2 or 3. Both from one package and project. My .classpath looks like:
[code]

[2020-04-27 18:28] snjeza commented on #1419
@Yanpas could you send us the following:
- your VS Code settings.json
- the LANG environment variable?

[code]
- ImageDataflow.java or non ASCII characters from this file

[2020-04-27 18:33] Yanpas commented on #1419
1. java settings:
[code]
2.`$ echo $LANG`:
`ru_RU.UTF-8`
3. This file is utf8 encoded and has the following nonascii line for instance:
`temp, // Директория с временными данными`

[2020-04-27 20:45] snjeza commented on #1419
@Yanpas could you check it?

[code]
The command should return 0.

[2020-04-27 21:42] Yanpas commented on #1419
Return code is zero. Checked env of java process, it's correct:
[code]

[2020-04-27 22:03] snjeza commented on #1419
3. then removed extra curly brace and folding is gone

I can't reproduce the issue.
Could you attach a sample project reproducing this issue?

[2020-04-27 22:35] Yanpas commented on #1419
![Peek 2020-04-28 01-32](https://user-images.githubusercontent.com/7345761/80427363-3c18ac80-88f0-11ea-8727-5eda8b8f5346.gif)

Here is a screencast with two dummy files, one with non utf8 encoding. (Whi knows whether files with bad encoding exist in my real big project)

[files.tgz.zip](https://github.com/eclipse/eclipse.jdt.ls/files/4542299/files.tgz.zip) (is not zip, but tar.gz)

[2020-04-27 22:37] Yanpas commented on #1419
On my main project I guess it reproduces due to another issue - editing one file causes recalculation of all `publishDiagnostics`, some file may be broken.

[2020-04-28 00:10] stardiviner commented on #1417
What's the server's working directory? You mean the project directory or eclipse.jdt.ls's installation directory?
I tried to delete eclipse.jdt.ls's installation directory, and then reinstall it again. Same problem.
If you're saying project directory, I switched to other clearn demo project, has same problem too. I create project through Visual Studio Code "Java: Overview" interface, eclipse.jdt.l

[2020-04-28 11:39] lepantella opened #1421 "How can I connect with multiple LSP clients?"
I tried setting up CLIENT_PORT environment variable to 3344, but as I read in the documentation, the eclipse.jdt.ls actually connects to client instead of client connecting to the server. I have multiple monaco editors in multiple browsers (angular) and I can't launch a 500 MB Java instance for every one of them. What is the point of the server then if not to serve things? That's also the main thi

[2020-04-28 12:06] fbricon commented on #1421
jdt.ls is not designed to communicate with multiple clients. I am not aware of any LSP implementations capable of connecting with multiple clients to be honest.
The goal for this project is to be able to provide the same feature across different client types, communicating with a common protocol, not to serve simultaneous clients (that would need to work on the exact same workspace)

[2020-04-28 14:39] fbricon opened #1422 "Favorite static imports are ignored if server launched without advancedOrganizeImportsSupport:true"
I tried testing `advancedOrganizeImportsSupport:false` in [vscode-java](https://github.com/redhat-developer/vscode-java/blob/master/src/extension.ts#L174), expecting to see favorite static imports still being added (see #1415), but they're completely ignored.

[2020-04-28 14:52] fbricon opened #1423 "Support favorite imports"
Similarly to java.completion.favoriteStaticMembers, we could provide a java.completion.favoriteMembers
I think it would be pretty "easy" to incorporate into the organizing imports mechanism. For completion, it might be trickier, maybe we'd need to bump the relevance of completionItems matching a favorite member, I'm not too sure.

[2020-04-28 17:32] rgrunber commented on #1351
Just as a heads-up @akurtakov has been doing some work in platform to eliminate ICU4J as a dependency. You can see some of his work at https://git.eclipse.org/r/#/q/owner:akurtako%2540redhat.com+status:merged+%22Remove+dependency+on+icu%22 . Once [Bug 562579](https://bugs.eclipse.org/bugs/show_bug.cgi?id=562579) gets merged (likely for 4.16 M3 cycle), it should be possible to build JDT-LS product

[2020-04-28 18:42] fbricon commented on #1351
Excellent news!!!

[2020-04-28 21:11] snjeza commented on #1419
@Yanpas could you try to reproduce the issue related to code folding using https://raw.githubusercontent.com/snjeza/vscode-test/master/java-0.61.1.vsix ?

[2020-04-28 23:13] Yanpas opened #1425 "Saving one file causes diagnosticts of EVERY file to be republished"
Ext version: 0.60
Vscode: 1.44
arch linux
jdk 13

Project structure:
[code]

`yanpas@EclipseBuild$ find -name '*.class' | wc -l`: 10692 java classes.

Steps to reproduce:
1. Run `inotifywait -r -m  SRCROOT/EclipseBuild/ | tee ~/logggg.txt`
2. Open any java file, add new line and save it
3. Wait until all 'textDocument/publishDiagnostics' stopped (5-6 seconds on my i7)
4. `wc -l ~/logggg.txt`: 6774

[2020-04-28 23:14] Yanpas commented on #1419
Played for a while, seems to be fixed, thank you!

Open new performance related issue https://github.com/eclipse/eclipse.jdt.ls/issues/1425

[2020-04-29 02:57] snjeza commented on #1425
@Yanpas you can try the following property:

[code]

[2020-04-29 03:02] snjeza commented on #1425
@Yanpas Could you try the following command:

[code]

[2020-04-29 14:49] Yanpas commented on #1425
Disabling `java.autobuild.enabled` helps to reduce disk load in `EclipseBuild` to zero. But either way entering one-two symbols in java file loads language server for 5 seconds for 200-400%.

Yes, it modifies files, `wc -l ~/logggg.txt` gets 14024 lines

Also `Enable/disable the 'auto build'` description of this setting is too unclear.

[2020-04-29 15:37] snjeza commented on #1425
@Yanpas you may want to take a look at https://help.eclipse.org/2020-03/index.jsp?topic=%2Forg.eclipse.cdt.doc.user%2Ftasks%2Fcdt_t_autobuild.htm

Could you try to disable all other extensions and only keep "Language Support For Java"?
Do you use git?

[2020-04-29 16:04] Yanpas commented on #1425
1. Well, rebuilding each class seems like extra work. I vote for this option to be off by default.

2. I use subversion. Disabling all other extensions doesn't make any difference.

[2020-04-29 16:15] snjeza commented on #1425
Could you set the following property:
[code]
and send your log file when saving one file?

[2020-04-29 16:52] Yanpas commented on #1425
Here it is
[log.gz.txt](https://github.com/eclipse/eclipse.jdt.ls/files/4553095/log.gz.txt)

[2020-04-29 18:32] snjeza commented on #1425
@Yanpas Are you sure the /home/yanpas/ssd/work/trunk/xxx/ directory is on the classpath?

[2020-04-29 18:48] snjeza commented on #1425
Could you try to reproduce the issue with the following property:
[code]

[2020-04-29 19:03] Yanpas commented on #1425
As I posted above, I tried with all extensions disabled.

I don't have problems with autocompletion etc., so classpath seems to be right. Behind xxx a lot of my company's packages.

I can write project generator similar to mine if you need such.

[2020-04-29 19:19] mojo2012 opened #1428 "[Help needed] create a eclipse-groovy based JDT-LS"
Hello guys,

Currently I'm working on a project that has both java and groovy source files in the same projekt (in different source folders). This setup works great with maven - and to some extent with the groovy-eclipse plugin.
I want to move away from eclipse as it seems kinda stuck in the past - vscode seems to be the future. But unfortunately there seems to be a lack of support for groovy in v

[2020-04-29 19:40] snjeza commented on #1425
It would be helpful.

Could you run the following commands:
[code]

[2020-04-29 20:21] #1419 closed

[2020-05-02 09:15] bstaletic commented on #376
For the record, this can be fixed, while staying... ugh... bug compatible with vscode\*.

[`JDTDelegateCommandHandler`](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JDTDelegateCommandHandler.java) is a catch-all command handler. It's pretty trivial to extend it to support `java.apply.workspaceEdit`

[code]

Note that there's als

[2020-05-04 00:26] haicorner opened #1431 "JDT LS doesn't use the gradle version of the project"
JDT LS seems to always use the latest gradle version (currently 6.3) to build the project, not the gradle version of the project itself. In most cases, it's fine. But when some features from older version are removed in the newer version of gradle, then JDT LS will fail to build the project.

The error I encountered is related to gradle's DefaultSourceDirectorySet being removed in gradle 6, thus J

[2020-05-04 02:25] 745245208 opened #1432 "JUnit4TestLoader can't compile scala code"
[code]

[code]

[code]

[KafkaAuthBinding.java; line: 360](https://github.com/cloudera/sentry/blob/768f48194d670dcfb0ea96b87919fb5dbf8d19f7/sentry-binding/sentry-binding-kafka/src/main/java/org/apache/sentry/kafka/binding/KafkaAuthBinding.java#L360)

this code can be compile by idea using com.intellij.junit4.JUnit4IdeaTestRunner, and the test can be successful run with maven.

[2020-05-04 08:09] fbricon commented on #1432
Before you launch your test, do you have any compilation errors? If not then that'd be an issue with [vscode-java-test](https://github.com/microsoft/vscode-java-test/issues).

vscode-java only supports compiling Java code, so I'd say I'm not surprised.
However, looking at your use case, this is something different. Supposedly, your scala dependency is a jar containing compiled class files, so that

[2020-05-04 09:53] fbricon commented on #1428
If all you want is to consume patch versions of JDT, then you prolly want to modify the target platform so it consumes the groovy patch: https://github.com/eclipse/eclipse.jdt.ls/pull/1391/files#diff-876b543348991468f6ac3f66768a2973R50

If that works, then your next step will be to fork org.eclipse.jdt.ls.product and its [languageServer.product](https://github.com/eclipse/eclipse.jdt.ls/blob/maste

[2020-05-05 06:40] 745245208 commented on #1432
@fbricon
I try to make a simple project to reproduce the issuse.

pom.xml
[code]

AppTest.java
[code]
This code is work for maven test, but not work for vscode's compile.

[2020-05-05 06:53] 745245208 commented on #1432
It seems like a bug for ecj. https://bugs.eclipse.org/bugs/show_bug.cgi?id=529336
But I have no idea that which version ecj vscode-java is used.

[2020-05-05 22:31] Yanpas commented on #1425
Generated project that looks similar, didn't manage to reproduce.

I decided to add `-Djdt.ls.debug=true` to vmargs. Here is what I got in `/home/yanpas/.config/Code/User/workspaceStorage/afe298621708b22e1491536c539ae3b9/redhat.java/jdt_ws/.metadata/.log` (Found this file with `pgrep java; ls -l /proc/XXX/fd | grep log`)

[code]

Could these NPEs cause such behaviour?

[2020-05-06 02:52] snjeza commented on #1425
I think that there is an issue with your project.

[2020-05-06 08:17] Yanpas commented on #1425
Yes, I began to think so too. I noticed that there are  .project and .classpath files down the root. There is no way to ignore them, so maybe they are the cause of the problem.

[2020-05-06 14:32] #1425 closed

[2020-05-06 14:46] Yanpas opened #1436 "Signature help doesn't work"
extension version: 0.61.1
Tried woth both eclipse project and single java file

vscode command is `editor.action.triggerParameterHints`

![Peek 2020-05-06 17-45](https://user-images.githubusercontent.com/7345761/81191208-6f7acb80-8fc1-11ea-9e1e-d9720b8426f8.gif)

[2020-05-06 15:23] fbricon commented on #1436
Did you set "java.signatureHelp.enabled":true?

[2020-05-06 18:14] Yanpas commented on #1436
Didn't notice it has become configurable and off by default which is odd.

[2020-05-08 12:08] vorburger commented on #1050
* https://stackoverflow.com/questions/51094274/eclipse-cant-find-xml-related-classes-after-switching-build-path-to-jdk-10
* https://stackoverflow.com/questions/55571046/eclipse-is-confused-by-imports-accessible-from-more-than-one-module
* https://bugs.eclipse.org/bugs/show_bug.cgi?id=545621
* https://bugs.openjdk.java.net/browse/JDK-8215739

[2020-05-08 12:32] fbricon commented on #1050
thanks @vorburger, I recently replied to another user was facing similar issue earlier today: https://github.com/redhat-developer/vscode-java/issues/1437#issuecomment-625728430

TL;DR: it's the expected behavior, javac should fail to compile instead (see above links).
@Yanpas sorry but there's nothing we can do in jdt.ls about it, it all happens upstream.

[2020-05-08 12:32] #1050 closed

[2020-05-08 12:33] fbricon commented on #1050
You simply need to exclude xml-api from your dependencies, when compiling against JDK > 1.8

[2020-05-12 16:06] snjeza commented on #1431
@ThatHai you can try to use the java.import.gradle.version property.

[2020-05-13 14:52] apupier opened #1442 "NPE in AbstractToStringGenerator.createMethodComment:232"
- clone https://github.com/apache/camel-k/
- open examples folder of this clone in VS Code
- open Sample.java file
--> NPE in output

[code]

[2020-05-14 10:25] testforstephen opened #1443 "Random failed test case: MavenProjectImporterTest.testDeleteClasspath"
`java.lang.AssertionError
	at org.eclipse.jdt.ls.core.internal.managers.MavenProjectImporterTest.testDeleteClasspath(MavenProjectImporterTest.java:153)`

This test case is introduced to guard the case that deleting .classpath shouldn't generate a bin directory. The test case sometimes failed randomly.

It looks a regression issue. The reason is the workspace is refreshed mistakenly before the actu

[2020-05-14 17:38] fbricon opened #1444 "WorkspaceDiagnosticsHandler.java should be build tool agnostic"
WorkspaceDiagnosticsHandler.java should be decoupled from Maven. plenty of references to pom.xml in there, that belong to ibuildsupport

[2020-05-17 03:22] ThatHai commented on #1431
Thanks @snjeza .
I suppose `java.import.gradle.version` is passed as Java system property?
I modified lsp-java to set "5.4.1" as the gradle version, but gradle 6.3 is still being used, as shown below:
[code]

Also, according to its javadoc, that property is for when the gradle wrapper is not used, but my projects do use gradlew.
https://github.com/eclipse/eclipse.jdt.ls/blob/a60afc08fdce387258f171

[2020-05-17 15:12] snjeza commented on #1431
@ThatHai You should add it to settings.json as follows:

[code]

[2020-05-18 06:10] ThatHai commented on #1431
@snjeza
If I understand it correctly, an instance of JDT LS can only use a given version of gradle (or wrapper) to build imported Java gradle projects. If I want to import a new Java gradle project that uses a different version of gradle/wrapper, I would need to change the version of the gradle wrapper used by JDT LS and restart it. Is that correct?

Is it possible, as an enhancement/feature reque

[2020-05-18 19:03] snjeza commented on #1431
@ThatHai JDT LS uses project's gradle wrapper. If you face an issue, please, provide a sample project.

[2020-05-19 01:21] ThatHai commented on #1431
@snjeza There are 2 sample projects in the attached file, one uses gradle 5.4.1 and the other 6.3. They both build success fully using their respective gradle wrappers. But you'll get an error if building `proj-gradle5` with gradle v6.x, or building `proj-gradle6` with gradle v5.x.

Here are the steps to reproduce the issue I'm seeing.
1. Have emacs configured with the latest lsp-mode and lsp-java

[2020-05-19 12:20] yyoncho opened #1448 "Streaming support"
Streaming was introduced as part of 3.15. Are there any plans to utilize it? It will be useful for heavy operations like workspace/symbols, references, etc?

[2020-05-19 12:31] fbricon commented on #1448
Sure, this is something we might want to look at. No ETA on that for the moment though.

[2020-05-19 15:26] snjeza commented on #1431
This issue is a buildship issue. See https://github.com/eclipse/buildship/issues/462

You can try the following:

- comment or remove "jarFile = '.wrapper/gradle-wrapper.jar'" from build.gradle
- call
[code]
- try to reproduce the issue

[2020-05-19 15:51] #1422 closed

[2020-05-19 17:02] fbricon commented on #1442
Opened https://bugs.eclipse.org/bugs/show_bug.cgi?id=563357 in JDT

[2020-05-19 19:48] fbricon opened #1449 "ClasspathUpdateHandlerTest.testClasspathUpdateForMaven keeps failing"
for the past few days:
https://ci.eclipse.org/ls/job/jdt-ls-master/883/testReport/org.eclipse.jdt.ls.core.internal.handlers/ClasspathUpdateHandlerTest/testClasspathUpdateForMaven/

[code]

Seems to pass on my machine though

[2020-05-19 19:55] snjeza opened #1450 "JDT LS tests fail randomly"
https://ci.eclipse.org/ls/job/jdt-ls-pr/2057/testReport/
[code]
https://ci.eclipse.org/ls/job/jdt-ls-pr/2059/testReport/
[code]

[2020-05-19 19:56] snjeza commented on #1449
Related to https://github.com/eclipse/eclipse.jdt.ls/issues/1450

[2020-05-19 19:56] arichiardi commented on #1431
@snjeza is there a way to set them in `.metadata/.plugins/org.eclipse.core.runtime/.settings` instead?

[2020-05-19 20:05] ThatHai commented on #1431
@snjeza That does it: having `gradle-wrapper.properties` at its default location does fix the issue. I can now switch between proj-gradle5 and proj-gradle6 and they both build correctly using the right version of gradle.
That said, I'm not at liberty to change the location back to default in some environments, thus it still remains an issue. But I do understand the reason now.

[2020-05-19 20:08] snjeza commented on #1431
@arichiardi No, there isn't. The issue is related to the buildship plugin, but not to Java LS or Eclipse.
You can try the following settings.json in VS Code:
[code]

cc @donat @fbricon

[2020-05-19 20:38] fbricon commented on #1436
It's been about 3 years: https://github.com/eclipse/eclipse.jdt.ls/pull/285
We disabled it by default in vscode https://github.com/redhat-developer/vscode-java/pull/252/files, because it was pretty annoying/useless, given completion lists all overridden methods

[2020-05-19 20:38] #1436 closed

[2020-05-20 10:59] fbricon commented on #1394
Build passes with JDK 11. Closing

[2020-05-20 10:59] #1394 closed

[2020-05-20 17:54] snjeza commented on #1450
The ClasspathUpdateHandlerTest.testClasspathUpdateForMaven test was failing because m2e  updates a classpath when downloading a source artifact.
The ClasspathUpdateHandlerTest.testClasspathUpdateForGradle test isn't configured correctly.
The WrapperValidatorTest.testGradleWrapper test was starting more connections than allowed by Jenkins.

[2020-05-20 18:54] #1450 closed

[2020-05-20 19:51] snjeza commented on #1449
Fixed via https://github.com/eclipse/eclipse.jdt.ls/pull/1451

[2020-05-20 19:51] #1449 closed

[2020-05-20 20:49] fbricon commented on #144
Fixed with https://github.com/eclipse/eclipse.jdt.ls/commit/6e09b5884a89a3b4cbdd1954b01e4626a2cf1564
A new `java.project.import` is available that automatically imports newfound projects

[2020-05-20 20:49] #144 closed

[2020-05-22 17:30] jackwickham opened #1453 "Completions don't work within a lambda of unknown type"
If the editor contains the following code
[code]
I would expect the language server to suggest completing `Stri` to `String`, but in practice it doesn't produce any completions.

This is a slightly contrived example, but I've seen it in practice with lambda parameters in spark code where I think the language server was unable to infer the actual type, or the correct overload, to use until the lamb

[2020-05-28 14:20] lepantella opened #1457 "Where do I put libraries (jars) if I want to use them in my class?"
The only way I managed to make LSP give me autocomplete options for .jars is when I put them inside `/workspace/jdt.ls-java-project/lib` folder and manually changing `/workspace/jdt.ls-java-project/.classpath` file to:
[code]
The problem with this is that the LSP eventually overwrites .classpath file and won't give me library autocompletion anymore until I manually add it in again. Where do I put

[2020-05-29 03:27] felixhao28 opened #1458 "[Question] An option to provide a full list of completions regardless of preceding chars?"
I noticed that more often than not, requesting completions after some characters yields more results than not having those characters. For example, triggering completions after a "G" gives me this:

![image](https://user-images.githubusercontent.com/2417391/83217197-b5304b80-a19d-11ea-9653-68dd928a2591.png)

However if I simply use "Ctrl+Space", these results won't show up in the list.

![image](h

[2020-05-29 13:17] snjeza commented on #1458
@felixhao28 you may want to take a look at https://github.com/eclipse/eclipse.jdt.ls/pull/1298

[2020-05-31 11:28] stCarolas opened #1460 "Wrong calculation of generic type returned from lambda"
Assuming we have
[code]
jdt would suggest change method return type to Option<Object> while expected Option<TextEdit>.

P.S. Option and For..yield from https://www.vavr.io/ , Range and TextEdit from eclipse lsp4j

[2020-05-31 11:35] stCarolas opened #1461 "method reference breaks code completion in .map() chain"
In block
[code]
completion wouldn't work with dot after `.map(Node::toString)`.
But it still works with lambda
[code]

[2020-06-01 02:38] felixhao28 commented on #1458
I just tried setting "maxResults" to 0 but `GetOperationResult` is still not listed.

[2020-06-01 08:23] HaoboGu opened #1462 "Request completionItem/resolve failed."
Hello, I am trying to call `textDocument/completion` method in my extension. But when I trigger the completion using **shortcuts(editor.action.triggerSuggest)** in vscode, the language server reports the following exception. This exception doesn't appear when it's triggered by typing.

[code]

Is there anyone who can give me some advice to fix this? Thanks very much

[2020-06-01 13:23] snjeza commented on #1458
@felixhao28 Could you attach a sample project?

[2020-06-01 13:38] snjeza commented on #1462
@HaoboGu you may want to take a look at https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.tests/src/org/eclipse/jdt/ls/core/internal/handlers/CompletionHandlerTest.java

[2020-06-02 03:26] HaoboGu commented on #1462
@snjeza  Thanks for your reply!

I checked the file, but the file has too much code so that I cannot figure out which part is useful to address the problem. I am quite new to this project, could you give me some advice about which test method should I have a look?

[2020-06-02 09:19] stCarolas opened #1464 "'Create method' code action for method reference"
in code block
[code]
would be nice to have suggested code action 'Create method cutPrefix' if method is absent

[2020-06-02 14:04] snjeza commented on #1462
@HaoboGu See
https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.tests/src/org/eclipse/jdt/ls/core/internal/handlers/CompletionHandlerTest.java#L281

textDocument/completion - https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.tests/src/org/eclipse/jdt/ls/core/internal/handlers/CompletionHandlerTest.java#L290
‘completionItem/resolve - https://github.com/e

[2020-06-02 14:48] fbricon commented on #1462
@HaoboGu you need to make sure the CompletionItem you've received from the 1st completion called, is sent back unchanged to the resolution call, as it contains Java context specific information required for the resolution.

[2020-06-02 20:10] snjeza opened #1465 "Resolve ambiguous static imports"
The https://github.com/eclipse/eclipse.jdt.ls/pull/1459 PR ignores ambiguous static imports.
We would need to add them so that the first on the list takes precedence.

A special case:
- if you have 2 static methods A.foo(int) vs B.foo(String), and the code uses foo(""), then you want to pick B.foo

Related issue - https://github.com/redhat-developer/vscode-java/issues/1472
cc @fbricon @JasonWThomp

[2020-06-03 02:43] HaoboGu commented on #1462
@snjeza Thanks very much, I'll take a look

[2020-06-03 02:48] HaoboGu commented on #1462
@fbricon I haven't realize it, thanks for your reminder.

But I am wondering what will happen if CompletionItem from the 1st completion call is changed. This would cause duplicate results?

[2020-06-03 10:41] fbricon commented on #1462
@HaoboGu only documentation will be computed for now. This is how all clients behave, so you'll be fine. In the future, additional textedits might be computed.

[2020-06-03 12:58] fbricon opened #1466 "Add sysoutv and sysoutp snippets"
Add sysoutv snippet to generate statement to print the last variable:

![May-29-2020 20-27-18](https://user-images.githubusercontent.com/148698/83639119-8275c100-a5aa-11ea-9d78-1462aaf333b7.gif)

Add sysoutp snippet to generate statement to print the method parameters

[2020-06-03 13:05] fbricon commented on #1461
Please provide a sample project reproducing this behavior

[2020-06-04 06:30] HaoboGu opened #1469 "Performance issue on large project"
I am trying to integrate Java language server to my vscode auto-completion extension. I found that there exists performance issue in eclipse.jdt on large project. I tried to start the server on a Java project contains more than 3000 files. In the first few minutes, the server did not response the `textDocument/completion` request, and then crashed because OOM:
[code]

[2020-06-04 10:03] felixhao28 commented on #1458
[testproj.zip](https://github.com/eclipse/eclipse.jdt.ls/files/4729137/testproj.zip)

This is a minimal reproducible case, which consists of two files, where predicting without preceding chars does not yield results like "String" and "A", which is defined in another file under the same folder.
![image](https://user-images.githubusercontent.com/2417391/83743132-dce74e00-a68c-11ea-9ec5-f49d47edacf7.

[2020-06-04 13:31] snjeza commented on #1469
@HaoboGu could you try the following property:

[code]

[2020-06-05 02:44] HaoboGu commented on #1469
@snjeza  I tried the property, eclipse.jdt.ls didn't crash, but the response was still quite slow in debug mode, it took about 10s to fetch completion response in the first few minutes after the server started.

The completion cost about 600ms after first few minutes.

[2020-06-05 03:41] snjeza commented on #1469
@HaoboGu Could you provide a project example?

[2020-06-05 05:03] HaoboGu commented on #1469
@snjeza I'm sorry that the project is an internal project, but I can share some statistics about the project:

The project contains more than 3000 java files, and is implemented using springboot framework. There are about 12000 commits in the project, and the largest java file contains more than 4000 lines.

I found [guava](https://github.com/google/guava) has the similar size with my project, and

[2020-06-05 19:04] snjeza commented on #1469
@HaoboGu do you use some another extension?

[2020-06-07 08:07] mahdihadiam opened #1471 "org.eclipse.core.runtime.CoreException: Given URI does not belong to any Java project"
I cannot understand why sometimes this is happening when I open vscode for java files?
This is a part of log file

[2020-06-08 03:23] HaoboGu commented on #1469
@snjeza  pls see the list
![image](https://user-images.githubusercontent.com/8640918/83989893-6db67600-a97a-11ea-8d89-3220dd4d8f43.png)

[2020-06-09 07:02] fbricon commented on #1471
Do you mind sharing your log file? Could you provide more details about your setup? What kind of project are you working on? Maven? Gradle? Ideally, a sample project reproducing the issue would help

[2020-06-09 10:15] fbricon opened #1474 "Java runtimes should be configured before projects are imported"
When you import projects, a didChangeConfiguration request triggers Java Runtime changes, that in turn triggers a full rebuild of the workspace.

I think we could improve the situation in BaseInitHandler.initialize, where we could do something like:

[code]

[2020-06-09 12:14] fbricon commented on #1469
For large projects, you might want to increase the heap size in the `java.jdt.ls.vmargs` setting

[2020-06-09 15:22] Narice commented on #898
building a javafx Maven project on java 14 and I have the same problem.

[2020-06-11 03:23] HaoboGu commented on #1469
@snjeza I thought it was vscode's behavior, because my extension received lots of `document/didOpen` as well. Is it caused by I added a watcher using `vscode.workspace.onDIdOpenTextDocument`?
But what's confusing me is that the request is send to my extension, not eclipse.jdt.ls.

[2020-06-11 17:49] mdacach commented on #967
I have the same problem, did you figure it out?

[2020-06-11 23:31] JayceCao commented on #967
Sorry that I don't use nvim to write Java anymore and the original configuration file has been lost

[2020-06-12 18:15] snjeza commented on #1469
I think the issue is caused by https://github.com/microsoft/vscode/issues/78453
@HaoboGu Could you test https://github.com/eclipse/eclipse.jdt.ls/pull/1479?

How you configure your extension (LanguageClientOptions.documentSelector)?
Can you reproduce the issue without your extension?

[2020-06-13 00:46] mdacach opened #1480 "How do I make jdt use my Env classpath?"
I just need separate program files, not an entire project, so using bare Java.
I've set my env classpath to include the jars I need and it compiles/run fine, but jdt keeps throwing errors at the unresolved imports and not offering completion.

How do I make it consider my env classpath?

[2020-06-13 01:08] snjeza commented on #1480
@mdacach you can try to set the java.project.referencedLibraries property.
See https://github.com/redhat-developer/vscode-java/pull/1196#issuecomment-568192224

[2020-06-13 02:09] mdacach commented on #1480
Thank you so very much!!!
It was such a headache.
I did even see this property but at the time I was so bummed out already I just figured it also wouldn't work.
Thank you very very much, that is spot on.

[2020-06-13 02:09] #1480 closed

[2020-06-13 04:02] Rheisen commented on #967
Also having this problem... has anyone found a solution?

[2020-06-13 18:41] mdacach commented on #967
Yeah I got it working for me (just a simple java file, not a project).
I put my libraries here `java.project.referencedLibraries`
See here https://github.com/redhat-developer/vscode-java/pull/1196#issuecomment-568192224

[2020-06-13 22:03] Rheisen commented on #967
Ah ok, I suppose I could download the jars manually for my projects, thanks! I am using gradle with coc-java and neovim when experiencing this problem. With vscode everything works fine, but with nvim I get package not found and symbol missing errors. I believe that shouldn't be the case and it shouldn't require manually downloading jars, but I'm having a hard time finding out why it is happening.

[2020-06-14 19:38] yyoncho opened #1481 "`See also` should be links in the markdown."
Here it is partial info of what see also looks like for java.util.Pattern` .

[code]

[2020-06-14 21:39] fbricon commented on #1481
actual javadoc that should be rendered as links:
[code]

[2020-06-14 21:44] fbricon commented on #1481
mmm seems to work fo me:

<img width="746" alt="Screen Shot 2020-06-14 at 11 43 51 PM" src="https://user-images.githubusercontent.com/148698/84604809-feb8b000-ae98-11ea-8d5b-a160357e97da.png">

Which client are you using?

[2020-06-15 06:33] HaoboGu commented on #1469
@snjeza

I figured out the source of `didOpen`. It comes from `onDidOpenTextDocument` watcher in my extension. It's quite strange, because I just send `textDocument/didOpen` message to my language server, not eclipse.jdt.ls

Here is the code:
[code]

After I removed the code, the issue disappeared.

My documentSelector:
`let sel:vscode.DocumentSelector = { scheme: 'file' };`

[2020-06-15 08:58] yyoncho commented on #1481
It is broken using both Emacs and VScode. I guess it might be related to the jdk version.

[2020-06-15 09:20] fbricon commented on #1481
Tried with OpenJDK 1.8.0_252, still works for me on vscode:

<img width="1440" alt="Screen Shot 2020-06-15 at 11 15 33 AM" src="https://user-images.githubusercontent.com/148698/84640203-acf44200-aef9-11ea-8333-df5a3212190c.png">

Can you set "java.trace.server":"verbose" in your vscode settings and share your vscode/server logs from the output view?

[2020-06-15 19:04] #1474 closed

[2020-06-15 20:40] yyoncho commented on #1481
The log in the report is from vscode.

[code]

[2020-06-15 20:55] fbricon commented on #1481
Can you also provide complete logs from the server start?

[2020-06-15 20:56] fbricon commented on #1481
Can you reproduce with a simple standalone Java file or is it only happening for a specific project?

[2020-06-15 21:00] yyoncho commented on #1481
here it is: https://gist.github.com/yyoncho/ab0348a26a80ca4bf467633ed84f3e26

IMO it is jdk/os specific. I am fine with closing this, I will test with different jdks and let you know.

[2020-06-15 21:05] yyoncho commented on #1481
I got a bug report from an lsp-java user and then I tested the same setup and found the issue.

FTR I tested onHover on class from spring and it works fine.

[2020-06-15 21:18] fbricon commented on #1481
I don't see anything obvious in the logs. If you can please attach your sample project here so we can try to reproduce it

[2020-06-16 05:47] mayank-agarwal-96 opened #1482 "How to selectively disable/enable diagnostics?"
I am using jdtls with Monaco Editor and looking to disable/change severity of certain warnings like `The public type must be defined in its own file` (PublicClassMustMatchFileName). I tried creating a file named `org.eclipse.jdt.core.prefs` in  .settings directory in the workspace. However I could not find any configuration for this specific warning.
I also tried to override the severity of anothe

[2020-06-16 17:41] #1469 closed

[2020-06-16 18:17] yyoncho commented on #1481
I am getting this with every project. https://github.com/emacs-lsp/lsp-mode/tree/master/test/fixtures/org-mode/java-project

I tested on my side and it works fine when using JDK 11. IMO it is JDK fault(or another local env issue) and I propose closing the issue.

[2020-06-16 19:43] yyoncho opened #1483 "Prepare rename breaks if you have edited the symbol just before the call."
First, I started getting this error when using Extract Field refactoring. Apparently, Emacs is much faster than vscode for the rename call which causes the prepare rename failure.

Then I was able to reproduce it manually in vscode by pressing very fast `Backspace` + `F2` when the cursor is placed on a field. Note that you might need a bit more complex project to trigger the behaviour(I was using

[2020-06-17 21:05] fbricon opened #1486 "jdt.ls should store gradle wrapper checksums at build time, so it can work offline"
jdt.ls should store gradle wrapper checksums at build time, so it can work offline.
Then there would be no need to remotely fetch checksums for past wrapper releases, only for the new ones, between 2 jdt.ls releases. That would help avoiding false-positive detections like https://github.com/redhat-developer/vscode-java/issues/1492, due to connection issues

[2020-06-18 01:02] testforstephen commented on #1486
Since buildship won't auto run the embedded gradle-wrapper.jar in local user workspace, it's unnecessary to put the validator in the importer job. Please correct me if i'm wrong.

[2020-06-19 06:47] kols opened #1488 "NPE on java/projectConfigurationUpdate"
[code]

[2020-06-19 19:39] yyoncho opened #1489 "[feature request] Support for CompletionItem.commitCharacters"
IMO this is a very useful feature and makes the typing more pleasant experience.

`foo.voidFunc|` -> completion char `;(`
`foo.toStr|` -> completion chars `.;(`
`foo.callFnWithParams|` -> completion chars `(`

[2020-06-20 17:31] snjeza commented on #1486
@fbricon could you, please, review https://github.com/mojohaus/wagon-maven-plugin/pull/42

[2020-06-21 01:51] testforstephen commented on #1486
Ping again.

If it's not appropriate for open discussion, would you mind forwarding the original security report email to me? thanks. // @fbricon

[2020-06-22 19:21] benjaminfjones commented on #1060
I'm also seeing a test failing after cloning the repo and running `./mvnw clean verify`

The high level failure message is

[code]

I'm building on macOS 10.14.6 with JDK 1.8.0_231.

[build.log](https://github.com/eclipse/eclipse.jdt.ls/files/4815181/build.log)

[2020-06-23 03:15] #1462 closed

[2020-06-23 09:00] fbricon commented on #1489
I've been playing with it with mixed results. The main problem I have right now, is, in many situations, the commit character gets inserted in the selected snippet. So we can end up with foo.bar(()) or foo.bar(;). I can prolly work around that by checking for the presence of parameters, but anyway, this is less trivial than I thought.

[2020-06-23 09:21] yyoncho commented on #1489
Seems like this is the desired behaviour as per the spec some of the cases mentioned above cannot be supported. Pretty much only `.` and `;` for void function will work...

[code]

[2020-06-23 18:04] snjeza commented on #1483
@yyoncho could you test https://github.com/snjeza/vscode-test/raw/master/java-0.64.0.vsix

[2020-06-23 18:42] mpsq opened #1492 "[Java 11] jdt.ls is reporting errors when project relies on --add-exports"
The code in my project relies on some classes from `jdk.internal`. To make it compile without issues, `maven` passes `--add-exports java.base/jdk.internal.math=ALL-UNNAMED` to `javac`. I use `jdt.ls` via `lsp-java` for Emacs, `lsp-java` is passing the arguments correctly since the server is launched with the parameters:

`/usr/bin/java -Declipse.application=org.eclipse.jdt.ls.core.id1 -Dosgi.bundl

[2020-06-23 22:00] DPUkyle commented on #1486
Wrapper verification should be optional, or at least provide the ability to disable it for those who opt-out. Some teams use [a GitHub action](https://github.com/marketplace/actions/gradle-wrapper-validation), for example, to only validate on CI.

[2020-06-24 10:53] yyoncho commented on #1483
@snjeza I tried that build and it seems to be working fine.

[2020-06-25 09:11] #1483 closed

[2020-06-26 15:45] vanniuner opened #1493 "An error seems need reporting"
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.eclipse.osgi.internal.loader.ModuleClassLoader (file:/Users/mac/.emacs.d/.cache/lsp/eclipse.jdt.ls/plugins/org.eclipse.osgi_3.15.300.v20200520-1959.jar) to method java.lang.ClassLoader.defineClass(java.lang.String,byte[],int,int)
WARNING: Please consider reporting this to the maintainers of org.e

[2020-07-01 14:48] #1486 closed

[2020-07-01 17:38] fbricon commented on #134
@gorkem can you still reproduce the issue?

[2020-07-01 17:40] fbricon commented on #1225
Closing as per @Yanpas's comment

[2020-07-01 17:40] #1225 closed

[2020-07-03 03:00] stardiviner commented on #1417
The problem seems gone in new version of `lsp-java`. Don't know the reason. But the porblem is gone, so close issue now.

[2020-07-03 03:00] #1417 closed

[2020-07-03 15:51] fbricon commented on #1488
Can you provide a sample project reproducing the issue?

[2020-07-03 15:57] fbricon commented on #1457
@jdneo @testforstephen @Eskibear can you guys document how a client can support invisible projects in the wiki?

[2020-07-03 16:35] fbricon commented on #1068
The default JVM is now set during the initialization request, if settings are sent in the initialization options.
https://github.com/eclipse/eclipse.jdt.ls/blob/5bebe70b286244022a71d42586a42aba47e5942d/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/BaseInitHandler.java#L120

Is this enough to close this issue?

[2020-07-03 16:50] fbricon commented on #1464
Opened enhancement request upstream: https://bugs.eclipse.org/bugs/show_bug.cgi?id=564913

[2020-07-04 12:11] darabi opened #1496 "Add command line options for CLIENT_PORT/HOST etc."
When starting the LS, I have to both create the correct command line arguments **and** set the correct environment variables.

Would you accept a PR, which would introduce command line parameters for the following environment variables?

- `CLIENT_HOST`
- `CLIENT_PORT`
- `syntaxserver`
- `socket.stream.debug`

With those in place, it would be sufficient to put together the intended command without

[2020-07-05 12:50] astrelsky commented on #1461
@fbricon I encounter this all the time on vscode with streams. I haven't fully narrowed down exactly the cause is. I think it occurs when the result of the stream is being assigned to a variable (or returned) and doesn't match the type **and** one or more of the generic types obtained in from a `Stream.map` is not imported.

It should be reproducible in project while using a Stream or Builder patt

[2020-07-05 17:17] MozarellaMan opened #1497 "Build from command line failure involving "org.codehaus.gmaven:groovy-maven-plugin:2.1.1""
**Issue Summary**
I'm getting a specific error when trying to execute the maven verify command. The error is as follows:

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary for JDT Language Server :: Parent 0.58.0-SNAPSHOT:
[INFO]
[INFO] JDT Language Server :: Parent ...................... SUCCESS [  0.002 s]
[INFO] JDT Language Server :: Target

[2020-07-06 01:03] testforstephen commented on #1496
Actually JLS accepts these options as vmargs, too. e.g. -DCLIENT_HOST=localhost

[2020-07-06 01:03] #1496 closed

[2020-07-06 06:08] darabi commented on #1496
Thank you for the clarification. It would be nice if the README would contains such a hint.

[2020-07-06 06:28] testforstephen commented on #1496
@darabi Would you mind contributing a PR for this?

[2020-07-06 07:26] darabi opened #1500 "Wait for the client port to appear during startup"
When starting with a TCP `CLIENT_PORT`, it would be convenient, if the LS would be configurable to wait for a certain amount of time until the client port is opened.

Currently, if the first attempt to connect to the client fails, the application exits.

I would provide a PR if you approve this feature.

[2020-07-06 07:29] fbricon commented on #1500
Sounds reasonable, knock yourself out ;-)

[2020-07-06 08:02] #1497 closed

[2020-07-06 08:31] jdneo commented on #1457
Hi @lepantella

Why are you putting the files inside `jdt.ls-java-project`?

Could you please first open an **empty folder** in VS Code, put your `.java` files into that folder, and put your jars into `./lib/`. And let us know if this is the kind of things you want to have in your client,

[2020-07-06 10:27] MozarellaMan commented on #1060
I am also having this issue. Building on Windows 10 with JDK 1.8

` Failed to execute goal org.eclipse.tycho:tycho-surefire-plugin:1.7.0:test (default-test) on project org.eclipse.jdt.ls.tests: There are test failures.`

[2020-07-07 06:20] GNSubrahmanyam commented on #741
Any updates @shoorlyne @hifall How you solved this problem? How you planned your scaling?

[2020-07-07 06:25] GNSubrahmanyam commented on #1421
@lepantella @fbricon How you solved this problem? How you planned your scaling? We use jdt.ls as the backend to provide code intelligence to our users. We plan to allow potentially 500+ users to edit Java code at the same time. We use monaco editor and monaco language client.

[2020-07-09 09:11] apupier opened #1502 "NPE in CodeActionHandler.getProblemId L.221"
[code]

curent content fo the file:

[code]

it seems to be when there is a diagnostic on th file which is provided by anothe rLanguage Server. In this case, you will need to install https://marketplace.visualstudio.com/items?itemName=redhat.vscode-apache-camel to reproduce with provided file inside VS Code

[2020-07-09 09:14] apupier commented on #1502
[code]
I think it should check if there is a code or not. Based on specification the code is not mandatory https://microsoft.github.io/language-server-protocol/specification#diagnostic

[code]

[2020-07-10 12:08] GNSubrahmanyam opened #1504 "How to add config"
I am using monaco editor and monaco language client

In our use case we don't want auto import, gradle.

[2020-07-11 11:20] GNSubrahmanyam commented on #1482
Hi, @mayank-agarwal-96 how you solved this problem?

[2020-07-11 13:48] GNSubrahmanyam opened #1505 "How to disable autoimport"
@fbricon @snjeza
Editor: Monaco editor
language client: Monaco language client
In our use case we want to disable autoimport. How to stop sending completionItem/resolve
![image](https://user-images.githubusercontent.com/18217008/87225507-27a26700-c3ab-11ea-8c4e-40b3ec2c253b.png)

[2020-07-11 15:58] snjeza commented on #1505
@GNSubrahmanyam you can try the following settings:

[code]

[2020-07-11 16:26] GNSubrahmanyam commented on #1505
In that case no auto complete is coming. We need autocomplete. We want to disable auto import statements

![image](https://user-images.githubusercontent.com/18217008/87228799-2bd97f00-c3c1-11ea-996a-268eae74de01.png)

[2020-07-11 16:47] fbricon commented on #1505
It's not possible to disable automatic type import at that point. Can you explain how auto import is a problem in monaco?

[2020-07-11 17:30] GNSubrahmanyam commented on #1505
![image](https://user-images.githubusercontent.com/18217008/87229713-2b90b200-c3c8-11ea-96a1-e98475055564.png)
In our use case we locked few lines in code editor. Where candidates or learners will write code in editable part. While typing candidates or learners selects method from the codeCompleteItem (Example: StreamDecoder from com.oracle.webservices.internal.impl.internalspi.encoding.* it autom

[2020-07-11 17:44] GNSubrahmanyam commented on #1505
@fbricon Is there any way to suggest method autocomplete for imported packages only?

[2020-07-13 05:15] GNSubrahmanyam commented on #1505
@fbricon Any updates how we can achieve this?

[2020-07-13 13:13] GNSubrahmanyam commented on #1505
@fbricon Found a solution

[code]

[2020-07-13 13:18] fbricon commented on #1505
interesting, where do you put that code?

[2020-07-13 13:19] GNSubrahmanyam commented on #1505
https://github.com/TypeFox/monaco-languageclient/blob/master/example/src/json-server-launcher.ts#L20 inside forward

[2020-07-13 13:21] GNSubrahmanyam commented on #1505
Am i doing right ? By omitting `additionalTextEdits`

[2020-07-13 13:25] fbricon commented on #1505
that's very, very hacky. I'm not sure but other things than import statements might be sent as additional textedits.

[2020-07-13 13:30] GNSubrahmanyam commented on #1505
True, In our case we don't want auto import. What are other alternative to achieve this ?

[2020-07-13 16:52] GNSubrahmanyam opened #1506 "Source.java is a non-project file, only syntax errors are reported"
@fbricon  We have only one single file Source.java. How to supress or resolve this?

![Screenshot from 2020-07-13 22-07-02](https://user-images.githubusercontent.com/18217008/87330462-3da05b00-c556-11ea-929d-05b081f91e1a.png)

[2020-07-13 17:00] fbricon commented on #1506
Can you try adding `"java.errors.incompleteClasspath.severity": "ignore"` to your settings?

[2020-07-13 17:12] GNSubrahmanyam commented on #1506
![Screenshot from 2020-07-13 22-42-10](https://user-images.githubusercontent.com/18217008/87333005-1cda0480-c55a-11ea-9cd0-76116f9fed49.png)
Still it is coming

[2020-07-13 18:25] fbricon commented on #1506
@GNSubrahmanyam what happens if you click on the quick fix, on the diagnostic marker?

@testforstephen @jdneo @Eskibear did we break `"java.errors.incompleteClasspath.severity": "ignore"` with the syntax server mechanism?

[2020-07-13 18:28] GNSubrahmanyam commented on #1506
Error: Command 'java.project.refreshDiagnostics' not found

[2020-07-14 01:56] testforstephen commented on #1506
Previously this setting is used to control whether to display a notification message box for classpath incomplete, it's useful. When we discard the message box and display the non-project file as a warning diagnostics, since the PROBLEMS view is less disturbing, the new UX won't consume that setting.

[2020-07-14 05:10] GNSubrahmanyam commented on #1506
@testforstephen In which version you introduced this? and any alternative way to ignore that.

[2020-07-14 07:14] kols commented on #1488
Sorry, it's an internal project...so I can't do that.
Is there any suggested way to debug this problem?

[2020-07-14 14:31] SreenivasVRao opened #1508 "JDTLS ignoring import exclusions"
Hi, I see that this was supposed to be fixed by https://github.com/eclipse/eclipse.jdt.ls/pull/560

But I see this issue still crop up when I try JDTLS in Emacs/LSP. I tried the most recent version from http://download.eclipse.org/jdtls/snapshots/?d

I have the following import exclusions set:
[code]

But in the logs I see:
[code]

[2020-07-14 18:11] GNSubrahmanyam commented on #1506
@testforstephen any updates ?

[2020-07-14 18:18] #1504 closed

[2020-07-15 01:45] testforstephen commented on #1506
The PR https://github.com/eclipse/eclipse.jdt.ls/pull/1366 added this. No setting to turn it off.

[2020-07-15 09:21] fbricon commented on #1502
Fixed with #1503

[2020-07-15 09:21] #1502 closed

[2020-07-15 18:11] GNSubrahmanyam commented on #1506
@testforstephen What does **"java.errors.incompleteClasspath.severity": "ignore"** do

[2020-07-17 22:43] #1420 closed

[2020-07-20 05:40] UdoW commented on #1288
I have the same error in the Eclipse log.

I attached the full log.

[log.txt](https://github.com/eclipse/eclipse.jdt.ls/files/4945711/log.txt)

[2020-07-20 07:24] fbricon commented on #1288
@UdoW so it means this is not specific to eclipse jdt.ls. Can you open a bug in https://github.com/eclipse/buildship/issues?

[2020-07-20 08:49] UdoW commented on #1288
I added bug https://github.com/eclipse/buildship/issues/1008

[2020-07-21 20:36] SreenivasVRao commented on #1508
@fbricon could you look at this..? I can give you logs from what I see during startup if that helps...

[2020-07-22 19:49] dradtke opened #1515 "Internal error: NegativeArraySizeException"
I just received this error when doing some work:

[code]

I believe I was trying to access code actions in order to import a class, but unfortunately this isn't reliably reproducible.

[2020-07-22 23:20] fbricon commented on #1515
Can you please enable verbose tracing and attach the [output logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server)?

[2020-07-23 11:40] Hxyspace opened #1516 "java project setting files path"
How to make java project setting files be generated in the workspace directory by default?

[2020-07-23 14:04] dradtke commented on #1515
I'm using Vim, but I'll try to turn on verbose tracing and grab any resulting logs if I run into the issue again.

[2020-07-24 07:32] thiscantbeserious commented on #1508
I can cofirm that the vscode-java extension also properly sets the exclusions from the log - but they get ignored by eclipse.jdt.ls. The same is happening for us.

[2020-07-24 07:40] thiscantbeserious commented on #1508
From the logs of vscode-java -> Using 'Java: Open Java language server log file' I see that the exlucsions are properly forwarded as it seems:

[code]

I tried many combinations - not a single one of them work (even the very simple ones don't just specifying the foldername.

OS: Windows 10 - globs shouldn't be FS-specific no? So I doubt that it has anything to do with it directly, maybe in the imp

[2020-07-24 16:28] snjeza commented on #1508
@thiscantbeserious @SreenivasVRao java.import.exclusions is used when importing a directory for a first time.
You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/1362#issuecomment-650571695

[2020-07-24 16:57] SreenivasVRao commented on #1508
I restart the server when emacs restarts - every few days. Shouldn't these
exclusions be checked when the server restarts? Are the imports cached
somewhere?

On Fri, Jul 24, 2020, 12:28 Snjeza <notifications@github.com> wrote:

[2020-07-24 17:25] snjeza commented on #1508
java.import.exclusions is checked only when you delete your workspace. You probably should use filteredResources.
Could you try add
[code]
to your .project file.

[2020-07-25 13:24] SreenivasVRao commented on #1508
I think it would be great if this could be exposed as a setting in the server. I have several java projects - and I'll have to manually modify each of these. Even if I miss it for any single project, the indexing of the workspace will happen and slow down the server.

[2020-07-27 07:38] thiscantbeserious commented on #1508
Totally agreed.  I can understand that such a thing should be handled from the .project side rather then the workspace/userspace

It does help with a larger number of legacy projects (but then, those are already handled once imported). So maybe more or less adjusting the behaviour of java.import.exclusions to handle both cases rather then a new setting?

It's somewhat of a EDGE case, but then agai

[2020-07-27 15:37] ANtlord commented on #1457
Hello @jdneo

I didn't do what the issue author did but the subject is relevant for me. I create an empty folder, a file consists of some basic code, `./lib` folder in the root of the project and put a jar file in the folder. I import a class from the jar file but the language server can't do `go to definition` or `completion` for a class which I import. The project doesn't have a build script of

[2020-07-28 01:27] jdneo commented on #1457
@ANtlord build system is not required. Would you mind to share your project folder to us?

[2020-07-28 11:54] ANtlord commented on #1457
[Here](https://github.com/ANtlord/java_jar_empty_project) we go @jdneo

[2020-07-29 01:59] jdneo commented on #1457
The folder structure looks fine and I can see the completion on my side
<img width="1050" alt="Screen Shot 2020-07-29 at 9 44 25 AM" src="https://user-images.githubusercontent.com/6193897/88747769-12d31b00-d182-11ea-8826-efe93073a998.png">

Maybe clean your workspace and try again? https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory

[2020-07-29 07:36] ANtlord commented on #1457
Unfortunately, cleaning doesn't work for me. Could I miss something in installation of the language server?

[2020-07-29 07:57] jdneo commented on #1457
Have you set the setting `java.project.referencedLibraries` in your user/workspace settings?

[2020-07-29 07:59] ANtlord commented on #1457
No, I haven't. Should I do it?

[2020-07-29 08:11] jdneo commented on #1457
@ANtlord No, `./lib` is used as default.

A full screenshot of your vs code?

[2020-07-29 08:43] ANtlord commented on #1457
![antlord-vscode-screenshot](https://user-images.githubusercontent.com/2972483/88777974-8da33280-d190-11ea-820e-ebacfecb4ec1.png) here we go

[2020-07-29 09:04] jdneo commented on #1457
There is a thumb down icon in the status bar, which means the language server is not activated correctly.

Some trouble shooting guidance: https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting

[2020-07-29 16:34] ANtlord commented on #1457
I opened logs as the article describe. There is the only error:
[code]
Unfortunetely I can't find something similar to my case in the issue tracker.
Does sharing of logs make any sense?

[2020-07-30 01:38] jdneo commented on #1457
So, from the logs I guess you are opening an Eclipse project, and the `.project`, `.classpath` are hidden so they are not visible in the file explorer.

You can try the following steps to get a new standalone project:

- Trigger the command `Java: Create Java Projects` (https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-dependency is required)
- Select `No build tools` if you

[2020-07-30 08:12] ANtlord commented on #1457
Ok. I get that how it is possible. The plugin create a Java project is not required. At the beginning I use the language server with NeoVim and its [language client](https://github.com/autozimu/LanguageClient-neovim). If I open App.java in NeoVim it creates `jdt.ls-java-project` so I can't use any jar file. If I remove the folder and open the file in VSCode with language server then it works.

[2020-07-31 01:10] opsnull commented on #1493
same issue here.

[2020-07-31 11:14] survivant opened #1519 "tests failed on Windows 10"
I ran :  `./mvnw clean verify`

and I obtain this

[code]

here the log of ClasspathUpdateHandlerTest
[code]

[2020-07-31 13:09] survivant opened #1520 "trying to follow the main guide, but stuck at : Application "org.eclipse.jdt.ls.core.id1" could not be found in the registry"
I'm looking for a sample / demo that call eclipse.jdt.ls from command line or better from maven. I want to to be able to apply the command "Organize imports" for my source code from the command line.

I cloned eclipse-jdt-ls repository and did this :

 ./mvnw clean verify -DskipTests=true -Pserver-distro
I unpack the .gz file and launched it with this command line

 java -agentlib:jdwp=transport=d

[2020-07-31 16:42] snjeza commented on #1519
Related issue - #996

[2020-07-31 17:52] snjeza commented on #1520
@survivant I can't reproduce the issue.

[code]

[2020-07-31 20:56] survivant commented on #1520
I found the issue.  I had JDK8 in my path .  The problem is gone using jdk11.

[2020-07-31 20:56] #1520 closed

[2020-08-04 13:58] lepantella opened #1523 "Where do I put my .class files in order for LSP to detect it"
I am using monaco editor with LSP support. I tried putting the files into `workspace/project_1/bin` and `workspace/project_1/src` folders but the LSP just ignores it. I found a way for .jars to work but they need to be inside `workspace/jdt.ls-java-project/lib` folder and `workspace/jdt.ls-java-project/.classpath` needs to be modified a little bit in order for LSP to detect them. Now I'm trying to

[2020-08-04 14:04] lepantella commented on #1523
https://github.com/eclipse/eclipse.jdt.ls/issues/1457 This was my original post for .jars

[2020-08-04 14:31] lepantella commented on #1523
My bad, the .class files need to go to `workspace/jdt.ls-java-project/bin`, issue is solved

[2020-08-04 14:31] #1523 closed

[2020-08-04 20:56] deb75 opened #1524 "Format buffer : Capability not supported"
I use `lsp-java` (`emacs`), when I try to format the buffer, it answeers :
[code]
I have already posted this issue on `lsp-java` project page (#217), I post it also here as I am not sure it is a (only)  a
`lsp-java` issue.

When starting `emacs`, the server seems to be correctly configured :
[code]
The XML format file is taken into account. Even then, I randomly get the aforementioned run time err

[2020-08-07 12:25] emmanuel-galindo opened #1526 "Error connecting to server"
[Edited - This issue was correctly added. Admin, please remove it]

[2020-08-07 13:22] emmanuel-galindo commented on #1526
Incorrectly added. Please remove the issue.

[2020-08-07 13:22] #1526 closed

[2020-08-15 01:58] dansomething commented on #1428
relates to #491

[2020-08-18 03:16] HaoboGu opened #1528 "Unknown OSGi execution environment: 'JavaSE-11' error when building extension for eclipse.jdt.ls"
I followed the instruction here: https://github.com/open-archetypes/jdt.ls-extension-archetype

But when I run command
[code]

I got
[code]

It seems that the eclipse.jdt.ls extension does not support java11, but eclipse.jdt.ls requires java11 now. Anyone here knows how to address this? Thanks very much

[2020-08-22 16:28] awerdx520 opened #1530 "The old objects of eclipse.jdt.ls took up the entire heap space."
When I use to open a project and use dap-java-debug to execute several times, the code prompt is very slow and the editing is not smooth. It crashed after executing emacs a few more times. I found that the heap of eclipse.jdt.ls is full, all objects of the old age. Garbage collection cannot reclaim any space. Then I set lsp-server-vmargs -Xmx2G, the same situation appeared again, but the time of a

[2020-08-23 19:53] cheonhyangzhang opened #1531 "Build failed on latest master"
Hi folks,
I am trying to build eclipse.jdt.ls with the latest master by running and I am getting two failure on tests
[code]
The error log is
[code]

I don't think build is expected to fail on latest master, there must be some setup issue I am missing I am guessing,
can you help to see what's missing to cause this test failure?

[2020-08-23 20:11] cheonhyangzhang commented on #1531
Actually after testing removed the failed tests, go another failed test
[code]

[2020-08-24 08:06] fbricon commented on #1530
If the issue occurs when debugging, then the likely culprit would be the java debugger extension for jdt.ls, which I believe dap-java-debug is relying upon:  https://github.com/Microsoft/java-debug (@yyoncho can confirm).
Maybe @Eskibear, @jdneo and @testforstephen can help then.

Please try to reproduce the issue with stock jdt.ls only, else there's nothing we can do here.

[2020-08-25 02:24] awerdx520 commented on #1530
Thank you,  eclipse.jdt.ls can be used normally, and memory recovery is normal. Run the dap-debug-java command, the heap takes up a lot of memory and cannot be recycled.

## only use eclipse.jdt.ls +mvn compile
![image](https://user-images.githubusercontent.com/15448027/91113450-31143400-e6b8-11ea-98fd-de34635183ed.png)

## use dap-java-debug
![2020-08-24_21-39](https://user-images.githubuserconte

[2020-08-25 02:44] testforstephen commented on #1530
Interesting... No idea what's the difference between dap-java-debug and vscode-java-debug.

How big is your project? And what debug features you used when you observed the crash?

[2020-08-25 04:58] awerdx520 commented on #1530
There are about 400 java files, packaged into a jar about 80M. hprof file size 1.5G
feature:
[code]
The heap capacity increases a lot when running dap-java-debug and after stopping debugging, the memory has been occupied.

[2020-08-25 05:10] yyoncho commented on #1530
Emacs behavior should not be affected by JDT LS memory usage unless your system starving for memory. Is this the case? What happens if you kill jdtls?

[2020-08-25 05:44] awerdx520 commented on #1530
The situation is that I modify the file after debugging, and the completion of the jdt.ls command will take 3-4 seconds to get the result, and it is very stuck. When the heap memory is full, it freezes. Then emacs either keeps stuck or crashes directly. jdt.ls has been running without crashing.
My computer has enough memory, and 1/4 is not used.

[2020-08-25 05:49] yyoncho commented on #1530
What do you mean by crash? What happens when it freezes and you press C-g? If it starts to work can you do M-x toggle-debug-on-quit and provide the corresponding callstack? We don't do any sync calls to the server so generally even if the server is in bad shape emacs should not freeze.

[2020-08-25 05:58] awerdx520 commented on #1530
emacs exits and all processes termination.

[2020-08-25 06:02] yyoncho commented on #1530
Can you follow this and generate crash dump file - https://www.gnu.org/software/emacs/manual/html_node/emacs/Crashing.html . Emacs should never crash as a result of elisp code. Let's move the discussion in lsp-java issue.

[2020-08-25 08:42] awerdx520 commented on #1530
@yyoncho Sorry, because I have been debugging before, and along with the modification, I mistakenly thought that it happened during debugging. I haven't used dap-java, I have been writing code, and the memory occupied by eclipse.jdt.ls continues to increase, and finally gets stuck, waiting for jdt.ls to respond. I did not reproduce the emacs crash. I killed the jdt.ls process and emacs returned to

[2020-08-25 14:05] zoraj commented on #365
Hi,

I'm trying to make it work on Sublime text. This is the package setting ? any clue why, all lombok generated method are not recognized ?
[code]

[2020-08-26 03:12] awerdx520 commented on #1530
@fbricon Jdt.ls uses auto-completion to take up too much memory, right? Nothing is recycled at all. I didn't do anything else, the memory continued to grow during the normal encoding process.
![25555](https://user-images.githubusercontent.com/15448027/91250950-d0a2f680-e78c-11ea-93f0-f1145bdb082e.png)

[2020-08-31 17:01] fbricon commented on #1516
well that's the default behavior, unless you can provide more details on what exactly you're expecting

[2020-09-01 06:39] zoraj commented on #376
Any workaround until it's fully patched ? , I'm using Sublime text as client.

[2020-09-01 18:44] dradtke opened #1535 "Symbols spontaneously cannot be resolved in test files"
Sometimes when editing a test, the language server will seemingly crash on me and start complaining that any import outside of the standard library or immediate project cannot be resolved. This is with a Gradle-based project that normally has no issues, and even when this does happen, it seems to be limited to test files, so at least it didn't _actually_ crash.

The only error I can see in the log

[2020-09-01 19:34] snjeza commented on #1535
@dradtke could you attach a sample project reproducing the issue?

[2020-09-03 21:35] LandonSchropp opened #1538 "Unable to launch language server from the command line on macOS"
I'm trying to launch the Java language server from the CLI on macOS. This is what `java -version` outputs for me:

[code]

This is the output I'm getting:

[code]

And here's that log file:

[code]

Any suggestions? Thanks!

[2020-09-04 06:35] fbricon commented on #1538
You need to use Java 11 now

[2020-09-04 15:35] LandonSchropp commented on #1538
Thanks for the reply @fbricon! Is there any way to get the language server running on Java 8? Possibly an older version? We're using a platform that locks us into this version of Java without any recourse to upgrade. Thanks!

[2020-09-04 17:50] snjeza commented on #1538
@LandonSchropp you can try Java LS 0.58.0 - https://download.eclipse.org/jdtls/snapshots/jdt-language-server-0.58.0-202007061255.tar.gz

[2020-09-11 04:36] testforstephen opened #1542 "Server side code snippets should adopt the JDT code template"
For example, `class` snippet should adopt the jdt type comment template.

[2020-09-11 07:19] fbricon opened #1543 "Add support for Java 15"
Java 15 is scheduled for public release on September 15th, 2020.

Similar to https://github.com/eclipse/eclipse.jdt.ls/commit/b47d5238057addb0894883c983655dad74dd3b5e, we could use https://download.eclipse.org/eclipse/updates/4.17-P-builds/

[2020-09-11 20:34] dradtke commented on #1535
Unfortunately, I ran into this at work, so I can't upload the code directly and I haven't been able to reliably reproduce it yet. If I can reproduce it reliably with small, personal sample project, I will upload that information here.

[2020-09-11 21:45] dradtke commented on #1535
So I was able to reproduce that error, though it doesn't seem to be as big of a problem as I thought, so I don't know what was causing the behavior earlier when a bunch of symbols were suddenly unrecognized.

I see this exception in `.log` whenever I run the test in [this project](https://github.com/dradtke/java-spark-sample) via [`java-debug`](https://github.com/microsoft/java-debug):

[code]

I

[2020-09-14 02:13] testforstephen commented on #1535
@dradtke The latest Language Server is 0.66.0. Could you update all your Java extensions (Java Language Support, Debugger for Java, Java Test Runner) to the latest version and try again?

[2020-09-16 10:23] Frederick888 opened #1548 "Find references to fields via getters/setters"
I'm using coc-java with jdt.ls v0.60.0.

Currently `<Plug>(coc-references)` only returns direct usages for class fields. To list references via getters/setters, one has to do `coc-references` on those methods again. This can be even more inconvenient when Lombok is used, in which case coc only says `[coc.nvim] References not found` (I have configured VM options correctly I think, as I can see gett

[2020-09-16 23:01] SreenivasVRao commented on #1493
Same issue here. I tried the illegal-access=warn with

[code]

[2020-09-18 12:37] fbricon commented on #1548
I don't think Eclipse JDT supports that. @snjeza can you check please?

[2020-09-18 12:52] Frederick888 commented on #1548
Sorry I may have not made it clear but this is a feature request :)

[2020-09-18 15:43] #1543 closed

[2020-09-19 20:44] snjeza commented on #1548
Java LS supports Find References. Eclipse supports All Occurrences References, Declarations, Read Accesses, Write Accesses
![eclipsesearch](https://user-images.githubusercontent.com/388609/93688872-9695ed80-fac9-11ea-8bac-7828547f2ef2.png)
@fbricon We can implement some of these features.

[2020-09-19 20:49] snjeza commented on #1548
@Frederick888 You can check <Plug>(coc-definition)

[2020-09-20 11:52] Frederick888 commented on #1548
@snjeza I'm a little lost. `<Plug>(coc-definition)` is used to find the definition of classes/fields/etc I think? For instance,

[code]
I can use `<Plug>(coc-definition)` on `tree.getApples()` atm, which takes me to `@Data` above; but what I'd like to do here is to use `<Plug>(coc-references)` on `private List<Apple> apples` to find all the `getApples()` calls.

[2020-09-20 17:12] snjeza commented on #1548
@Frederick888 can you provide a project example?

[2020-09-20 22:39] Frederick888 commented on #1548
@snjeza Sure.

For instance, I'd like to jump from
https://github.com/Frederick888/java-dummy/blob/cd4dff829dba4a2829d8535db282950e689e9c83/src/main/java/com/example/demo/dao/Tree.java#L22
...to
https://github.com/Frederick888/java-dummy/blob/master/src/main/java/com/example/demo/service/impl/AppleTreeServiceImpl.java#L27

Or, from
https://github.com/Frederick888/java-dummy/blob/cd4dff829dba4a2829

[2020-09-21 18:17] snjeza commented on #1548
I can can try to add getter/setter references when searching field references.
@fbricon what do you think?

[2020-09-21 18:21] fbricon commented on #1548
yes, but we should make it optional. Add a pref to disable it please.

[2020-09-21 18:38] snjeza commented on #1548
@fbricon ok.

[2020-09-21 18:44] yyoncho commented on #1202
@testforstephen can you point me to this logic?

[2020-09-22 03:03] testforstephen commented on #1202
- Use regular expression to resolve the fully qualified class name and the relative source path, see the [code](https://github.com/microsoft/java-debug/blob/master/com.microsoft.java.debug.core/src/main/java/com/microsoft/java/debug/core/adapter/handler/LaunchRequestHandler.java#L263).
- Search the source path in the source containers. See the [code](https://github.com/microsoft/java-debug/blob/ma

[2020-09-22 06:33] Frederick888 commented on #1548
@snjeza Thank you!

And by the way -- I know I'm probably asking for too much here -- will it also be possible to jump from fields to Lombok constructors/builders? For instance, from https://github.com/Frederick888/java-dummy/blob/b38bab6e135e84dc5d181294d719e06e77b4a16e/src/main/java/com/example/demo/dao/Apple.java#L24 to https://github.com/Frederick888/java-dummy/blob/master/src/main/java/com/ex

[2020-09-23 14:40] vanniuner commented on #1493
reinstall the eclipse it seems be ok！

[2020-09-23 14:40] #1493 closed

[2020-09-23 16:12] snjeza commented on #1548
@Frederick888 I will try.

[2020-09-26 23:43] matt-snider commented on #1320
@mmFooD I was able to fix this by changing `-data` to point to some generic location and not the project directory. I think using `getcwd()` is incorrect. Setting it to `-data $HOME/.local/share/jdt-language-server` for example, worked for me

[2020-09-28 09:50] fbricon opened #1553 "Created type doesn't implement sealed interface,"
In a Java 15 project, given sealed interface `Foo`:
[code]

Bar doesn't exist so there's a code action to create a new class/interface. But, when applied, the new class doesn't implement Foo though, as it should.

[2020-09-28 09:58] fbricon opened #1554 "Add code action to make permitted type implement sealed interface"
In a Java 15 project, given sealed interface `Foo`, and a `Bar` class that doesn't implement `Foo`:
[code]
`Bar` is underlined as there's a compilation error: "Permitted type Bar does not declare Foo as direct super interface". There should be a code action to make  `Bar` implement Foo (or extend `Foo` if Bar was an interface)

[2020-09-28 10:06] fbricon opened #1555 "Add code actions to add sealed/final/non-sealed modifier on a permitted type declaration."
Need to reuse Eclipse IDE's quick fixes to add sealed/final/non-sealed modifier on a permitted type declaration.:

* Given a sealed ShapeClass class:
![](https://wiki.eclipse.org/images/e/e3/Quick-fixes-3.png)

* Given a sealed ShapeInterface interface:
![](https://wiki.eclipse.org/images/3/38/Quick-fixes-2.png)

[2020-09-28 10:13] QiAnXinCodeSafe opened #1556 "Unused Field"
https://github.com/eclipse/eclipse.jdt.ls/blob/e69383c16c10ed6e3726ae8d358e1431147af313/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/corrections/proposals/NewCUProposal.java#L79

This field is never used.

[2020-09-28 17:02] gayanper commented on #863
Can't we do this implementation at language server level, if the jdt.ui refactoring is huge work and potentially risky ? I also really miss other stuff like chain completions in vscode java as well. May be we should build a support for plug completions providers into LS like we have in xml language server, WDYT ?

[2020-09-28 18:48] rgrunber commented on #1555
Looks like this is a matter of updating JDT-LS' QuickFixProcessor and migrating JDT's ModifierCorrectionSubProcessor#addSealedMissingModifierProposal(..) to JDT-LS.

[2020-09-28 19:14] rgrunber commented on #1553
This seems similar to [Bug 564473](https://bugs.eclipse.org/bugs/show_bug.cgi?id=564473). JDT UI still has to add the support for sealed/non-sealed/permits modifiers. However this would apply to the their wizard, which JDT-LS doesn't use. I suspect that JDT-LS has some specialized code to create the class and I'll probably just need to update it.

[2020-09-28 19:15] rgrunber commented on #1554
Yup, I don't think there's a quick-fix for this on the JDT UI side, and I haven't found a bug for it so we probably just need to file it first.

[2020-09-30 14:11] fbricon opened #1558 "Gradle wrapper ignored during project import"
I created a gradle 6.7-based application from CLI:

[code]

When opening the root folder in vscode-java, and open a Java file, the project starts to import in jdt.ls but uses the embedded  Gradle runtime instead of the wrapper provided by the project, causing an error:

[code]

[2020-09-30 14:14] fbricon commented on #1558
See attached test project [gradlebug.zip](https://github.com/eclipse/eclipse.jdt.ls/files/5306118/gradlebug.zip)

[2020-09-30 18:49] snjeza commented on #1558
I can't reproduce the issue.
@fbricon could you attach your settings.json?

[2020-10-01 15:04] #1555 closed

[2020-10-01 15:07] fbricon commented on #1555
Results in vscode-java:
<img width="667" alt="Screen Shot 2020-10-01 at 5 06 34 PM" src="https://user-images.githubusercontent.com/148698/94827264-86a2d580-0408-11eb-9717-3d8797ee4794.png">

[2020-10-01 15:59] rgrunber commented on #863
I'm not too optimistic about this for Postfix Completion because there's certain parts of the API (regarding generating the templates) that are part of jdt.ui but I do thin it might be easier to do something like you suggest for Chain Completion.

For example, most of the chain completion compuation is actually done in ChainFinder (jdt.core.manipulation). ChainCompletionProposalComputer (jdt.ui) m

[2020-10-01 16:46] SreenivasVRao commented on #1508
I'm still seeing this problem. Seems like the workspace refreshes *before* the configuration is loaded? Is this a setting I need to change on my end? For example, I see `Starting Java Language Server - /path/to/node_modules` before I see:

[code]

Seems like the configuration for resource filters is not applied when the server is launching?

[2020-10-01 19:27] snjeza commented on #1508
No, it wouldn't.
Could you send your settings.json?

[2020-10-01 20:40] SreenivasVRao commented on #1508
Ah, I'm using emacs/lsp-java. I will try to retrieve a configuration, but it's a little tricky.

I have nearly the same settings as https://github.com/emacs-lsp/lsp-java/blob/master/lsp-java.el#L373

Is there any standard git repo I can use to test if this really works..?

[2020-10-01 20:57] snjeza commented on #1508
@SreenivasVRao Could you send your .project?
There isn't the resourceFilters property in your configuration.
This is an example:

[code]

[2020-10-01 21:11] SreenivasVRao commented on #1508
[code]

^this is only one project though. I haven't updated all my projects. Could that be the reason?

I do have resourceFilters (it's not readable since it's all on one line in my previous comment) -

resourceFilters=[node_modules, .metadata, archetype-resources, META-INF/maven, runtime, env, build]

[2020-10-01 22:31] snjeza commented on #1508
It should work. JAVA LS will use the following:

[code]

[2020-10-05 16:20] SreenivasVRao commented on #1508
I think this might be a config issue on my end with emacs. I was able to work around this by changing a different part of my config, but I will share a log file when I reproduce the error reliably.

To emacs users who might come across this in the future - I found that projectile was loading these files, and filtering out using  `(add-to-list 'projectile-globally-ignored-directories "*node_modules

[2020-10-08 15:12] #1548 closed

[2020-10-13 03:12] vanniuner opened #1563 "Access restriction need Alternate JRE？"
Access restriction: The method 'FontDesignMetrics.getMetrics(Font)' is not API
 (restriction on required library '/Library/Java/JavaVirtualMachines/jdk1.8.0_261.jdk/Contents/Home/jre/lib/rt.jar') (lsp)

How to config the Alternate JRE?

[2020-10-13 14:17] fbricon opened #1567 "Update TP to 2020-12 M1"
we can then remove the dependency to the JDT patch for Java 15

[2020-10-13 14:43] rgrunber commented on #1567
The simrel repo (eg. releases/2020-12/..) for M1 will only be released by end of week so if we want to update before that, we'll need to use the eclipse/updates/4.18/.. for platform and either hold xtend to 2020-09 for now or try what they look to be contributing to M1 ( https://download.eclipse.org/modeling/tmf/xtext/updates/milestones/S202010121036/ )

[2020-10-13 14:47] fbricon commented on #1567
Let's just wait for next week then

[2020-10-14 02:42] vanniuner commented on #1563
@snjeza it works!
Can you provide me with the configuration document of .settings/org.eclipse.jdt.core.prefs? tk u.

[2020-10-14 13:56] #1553 closed

[2020-10-14 14:21] snjeza commented on #1563
@vanniuner you can review https://help.eclipse.org/2020-09/index.jsp?topic=%2Forg.eclipse.jdt.doc.user%2Freference%2Fpreferences%2Fjava%2Fcompiler%2Fref-preferences-errors-warnings.htm

[2020-10-15 00:51] vanniuner commented on #1563
got it

[2020-10-15 00:51] #1563 closed

[2020-10-15 13:15] rgrunber commented on #1567
http://download.eclipse.org/releases/2020-12/202010161000/ has appeared, so I can push this soon.

[2020-10-18 04:30] bstaletic commented on #1263
@dradtke In case you're still looking for answers, the `delegateCommandHandler` thing is a long standing bug. https://github.com/eclipse/eclipse.jdt.ls/issues/376

[2020-10-20 19:55] nicobao opened #1576 "Generate Builder (action)"
Hi!

Thank you for this project, I use it everyday.

I would like to add to eclipse.jdt.ls a suggested action to generate builders for fields of a class.

My colleagues use https://marketplace.eclipse.org/content/spark-builder-generator to do it under Eclipse. IntelliJ has built-in support for this feature.

Could this feature be supported in the language server or do I need to make an extension?

[2020-10-20 20:09] snjeza commented on #1576
@nicobao You need to make an extension.
See https://github.com/eclipse/eclipse.jdt.ls/wiki/Contribute-an-extension-bundle

[2020-10-20 20:23] nicobao commented on #1576
Thanks for the quick reply, I look at that.

[2020-10-20 22:26] #1567 closed

[2020-10-21 05:22] jdneo opened #1577 "GTD is not working if referenced library is updated without file name change"
### Step to reproduce

1. Generate a invisible project with a `.jar` file in `lib/` folder
2. Add a new class in the `.jar` file and generate a new jar
3. replace the `.jar` file in the `lib/` folder
4. the GTD is not working for the newly added class

_// Original issue: https://github.com/microsoft/vscode-java-dependency/issues/287_

[2020-10-21 15:47] #1360 closed

[2020-10-22 14:06] rgrunber commented on #1577
I'll have a look.

[2020-10-22 15:24] matt-snider opened #1581 "Specify formatting options on command line with -Djava.format.settings.url"
Hi! Thanks in advance for your work on this and help. I hope this hasn't already been answered elsewhere - I have spent a good amount of time trying to find an answer before posting.

I'm starting the server (v0.62.0) via [LanguageClient-neovim](https://github.com/autozimu/LanguageClient-neovim) and trying to specify a custom XML file for formatting. I figured I could just pass the `-Djava.format.

[2020-10-22 20:44] rgrunber commented on #1577
I'm able to reproduce the problem, and while this change does improve the situation, I think there are still some other issues at play that make the change inconsistent.

I have the following file structure in a workspace:
lib/mylib.jar (this is the old jar)
simple/src/App.java
mylib.jar.old
mylib.jar.new

(the mylib.jar.{old,new} are so that I can easily swap the contents within lib)

Whether I c

[2020-10-23 06:56] jdneo commented on #1577
Yes I can reproduce this with a certain probability.

I also have some new findings.

### Finding 1

Instead of adding

[code]

, change it to

[code]

can solve the problem. At least I tried several times locally, the problem is not reproduced anymore. The difference between these two invocations is, the latter one will emit one more `BufferChangedEvent` for the jar file, and the first one does n

[2020-10-23 10:47] fbricon opened #1582 "CompletionResultRequestor compares different ICompilationUnit types"
org.eclipse.jdt.internal.compiler.env.ICompilationUnit is compared to org.eclipse.jdt.core.ICompilationUnit in https://github.com/eclipse/eclipse.jdt.ls/blob/f22156c1d99209943f26d67c10f7193753b0eb3b/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/syntaxserver/CompletionResultRequestor.java#L72

which results in a warning:
Unlikely argument type for equals(): ICompilationUnit seems to

[2020-10-26 03:14] testforstephen commented on #1581
eclipse.jdt.ls doesn't support using VM args to pass formatter. It only supports using LSP protocol [workspace/didChangeConfiguration](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_didChangeConfiguration) to change it. Could you open an issue at LanguageClient-neovim to see how does it support that?

[2020-10-26 03:14] #1581 closed

[2020-10-26 06:52] testforstephen commented on #1582
The implementation class CompilationUnit implements both interfaces, and it works at the runtime. I will erase the type info for unitToSkip to Object.

[2020-10-27 02:00] #1577 closed

[2020-10-27 02:53] jdneo commented on #1202
I'm working on this.

[2020-10-27 20:46] matt-snider commented on #1581
@testforstephen Thanks for the quick response.

I looked into it, and it appears this can be specified in `.vim/settings.json` in the project directory - e.g.

[code]

[2020-10-28 18:45] rgrunber commented on #1202
Seems reasonable. Eclipse does something pretty similar in the [Java Stacktrace Console](https://help.eclipse.org/2020-09/index.jsp?topic=%2Forg.eclipse.jdt.doc.user%2Freference%2Fviews%2Fconsole%2Fref-stacktrace_console.htm) . You can also see some of the code in [JavaStackTraceHyperlink.java](https://github.com/eclipse/eclipse.jdt.debug/blob/master/org.eclipse.jdt.debug.ui/ui/org/eclipse/jdt/int

[2020-10-30 06:08] testforstephen commented on #1202
Have a look at [JavaStackTraceHyperlink.java](https://github.com/eclipse/eclipse.jdt.debug/blob/master/org.eclipse.jdt.debug.ui/ui/org/eclipse/jdt/internal/debug/ui/console/JavaStackTraceHyperlink.java), it will search the type with search engine first, if no result, then fall back to resolveSourceElement, which is equivalent to search in the source containers used by @jdneo PR.

One benefit of us

[2020-11-02 19:24] rgrunber commented on #1202
In that case, I would be fine with just submitting the current "source container" logic and add the SearchEngine logic at a later point (if performance demands it).

[2020-11-03 02:09] #1202 closed

[2020-11-03 18:28] #1582 closed

[2020-11-03 21:50] rgrunber opened #1588 "Deleting existing java file and re-creating through code actions preserves content"
Given Test.java (where `Foo` is not defined) :
[code]

1. Use the `Create class Foo` code action to create Foo.java.
2. Delete Foo.java (saving or not prior to deletion doesn't seem to make a difference)
3. The error marker should re-appear on `Foo`. Use the `Create class Foo` code action once again.
4. There should now be 2 instances of the `public class Foo { .. }` code block

I have not been ab

[2020-11-05 09:00] Eskibear opened #1590 "Add delegate command to get project properties"
There is a delegate command `java.project.getAll` which returns project roots in URI format.

https://github.com/eclipse/eclipse.jdt.ls/blob/e048ffa86047e7b362577a8f166639a1786043db/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/commands/ProjectCommand.java#L181-L187

But after that, with merely an URI, I cannot find a way for downstream to fetch properties(e.g. project name, project

[2020-11-06 22:57] zakkak opened #1592 "Project with different TargetPlatform than JDK"
Hello,

I have a project that uses JavaSE-11 as the JDK:
[code]
but requires source and target to be set to 1.8:
[code]

Judging by the reported errors I suspect that this is not respected by JDT (i.e., it doesn't pass the flags `-target 1.8 -source 1.8` when compiling the code).
How can I verify this?

Thanks

[2020-11-06 23:37] zakkak commented on #1592
Closing as this is a JDT issue and not specific to the language server.

[2020-11-06 23:37] #1592 closed

[2020-11-07 01:31] nettrino commented on #1124
I've had a similar failure with `JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk-11.0.9.jdk/Contents/Home ./mvnw clean verify` which yielded

[code]

in macos catalina 10.15.7, 19.6.0 Darwin Kernel Version 19.6.0:root:xnu-6153.141.2~1/RELEASE_X86_64 x86_64

[2020-11-09 05:47] jdneo opened #1593 "[Feature Request] Specify output path for invisible project"
Related issue: https://github.com/microsoft/vscode-java-dependency/issues/281

Basically the Java Language Server can provide a preference for the output path of a invisible project.

[2020-11-09 17:14] ChrisAmelia commented on #1531
I got the same failing goal but with a different error:

[code]

[2020-11-13 06:42] humbertocg commented on #789
Hi, i'm still getting this error on windows 10. everything is updated.

[2020-11-13 11:10] mickaelistria opened #1595 "[Performance] Investigate m2e "hide" option"
m2e has an option to mark duplicated resources as hidden. This probably can affect performance in a good way in case of nested projects. It should be investigated whether this can be made on by default.

[2020-11-15 05:43] jiacai2050 commented on #1520
@survivant @snjeza
Does this mean that jdt doesn't support jdk8?
I meet the same issue, and problem resolved using jdk14

[2020-11-15 06:15] jiacai2050 commented on #1520
- https://github.com/emacs-lsp/lsp-java/issues/249
Sad, I think this warning should be added to readme file

[2020-11-15 16:19] snjeza commented on #1520
I meet the same issue, and problem resolved using jdk14

Java LS requires JDK11 to run. Your project can use JDK >= 1.5. See https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements

[2020-11-17 18:16] cheonhyangzhang opened #1598 "Is it possible to debug eclipse.jdf.ls while making changes to the files in vim?"
Hi
I have a setup using vim,  coc-java and eclipse.jdf.ls for my everyday development.
Sometimes the java language server is having issues and I would like to know what is causing the language server to not work as expected.
I was able to use the following command to debug the server start, use eclipse to debug 1044 port.
[code]
however, after that I am not sure what to do in order to debug.

E.g.

[2020-11-17 20:37] snjeza opened #1600 "Add Quickfix 'UninitializedLocalVariable' From JDT.ui"
See [UninitializedLocalVariable](https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/correction/QuickFixProcessor.java#L390)

Test Case: [test017](https://github.com/eclipse/eclipse.jdt.core/blob/0278892d5c9789b57dd0dd1289b1d15387b76ef7/org.eclipse.jdt.core.tests.compiler/src/org/eclipse/jdt/core/tests/compiler/regression/AssertionTest.java#

[2020-11-19 06:04] cheonhyangzhang commented on #1531
My recent behavior, I found that when build the project, it could have different failing tests.
Not sure why.  I have tried the latest master and also an older version (which is still using java8)  I have to comment out the failing tests in order to have a success build

[2020-11-19 11:11] GNSubrahmanyam opened #1602 "How to disable server logs"
![image](https://user-images.githubusercontent.com/18217008/99658803-fbe46b80-2a85-11eb-8957-fb8ced90817e.png)
![image](https://user-images.githubusercontent.com/18217008/99658854-0dc60e80-2a86-11eb-85b7-ae9e90ca328b.png)

[2020-11-19 17:39] snjeza commented on #1531
I can't reproduce issue with the latest master.
What OS are you using?

[2020-11-19 17:43] ChrisAmelia commented on #1531
Ubuntu 18.04

[2020-11-19 22:05] rwols opened #1605 "textDocument/codeAction throws an exception most of the time"
I am using Sublime Text with the LSP package as client, version 1.1.0. I'm using 0.64.0 of eclipse.jdt.ls.

For almost all textDocument/codeAction requests, this server throws an exception:

[code]

The following App.java was used:

[code]

Raw payload is:

[code]

[2020-11-19 23:14] #1351 closed

[2020-11-20 02:37] testforstephen opened #1606 "Adopt resolveCodeAction capability"
LSP 3.16 added the support to lazy resolve the code action, we could adopt it to avoid unnecessary workspace edit computation when handling code actions.

See more information from https://github.com/microsoft/language-server-protocol/issues/787 and [code action resolve request](https://microsoft.github.io/language-server-protocol/specifications/specification-3-16/#codeAction_resolve).

[2020-11-20 04:50] testforstephen commented on #1606
Sub work items:
- [ ] Update LSP4j to support the capability.
- [ ] Support it resolve code actions in eclipse.jdt.ls.
   - [ ] lazy resolve quick fixes
   - [ ] lazy resolve refactors
   - [ ] lazy resolve source actions
   - [ ] lazy resolve quick assists

[2020-11-20 14:35] jarek-przygodzki commented on #789
`.mvn\wrapper` directory must exist and `maven-wrapper.properties` file must be present in it. `mvnw.cmd` can only download _maven-wrapper.jar_. As far as I understand, it's a workaround for projects that prohibit checking in binary data. Error reporting could be better.

[2020-11-20 14:59] rgrunber commented on #1351
I haven't been able to reproduce locally, but seems 1 test started failing at https://ci.eclipse.org/ls/job/jdt-ls-master/985/ ?

[2020-11-23 09:10] angelozerr commented on #1531
With Windows OS, I have this error:

[code]

[2020-11-24 14:22] Asiimoviet opened #1610 "Cannot Perform install"
I wanna install this in order to meet the requisite of coc-java

however when i perform ./mvnw clean verify
this shows up:

[code]

[2020-11-24 17:18] rgrunber commented on #1605
I'm able to reproduce this only if I modify the value of `java.codeGeneration.toString.template` . Is the value being set to something else in the client settings ? While the setting is supported, the format is fairly complicated :

https://git.eclipse.org/c/jdt/eclipse.jdt.ui.git/tree/org.eclipse.jdt.core.manipulation/core%20extension/org/eclipse/jdt/internal/corext/codemanipulation/tostringgener

[2020-11-24 17:27] rwols commented on #1605
Thanks for replying.

The setting is set at its default value I believe: https://github.com/sublimelsp/LSP-jdtls/blob/main/LSP-jdtls.sublime-settings#L55

But staring at it, I realize now that we also do template substition of those type of identifiers (`${foo}` `${bar}`) just before transmitting the settings to the server. But because there are no template vars set for those keys, most likely the

[2020-11-24 18:47] datho7561 opened #1611 "End of File exception when opening completion in empty file"
jdt.ls: 0.71.0
VSCode:
1.51.1
e5a624b788d92b8d34d1392e4c4d9789406efe8f
x64

When opening completion at the end of a file with only whitespace, an Exception gets logged:

[code]

I was able to reproduce this in a Maven project and also with a standalone Java file. The snippets appear to work file though.

[2020-11-24 19:12] 0dinD commented on #1602
I'm not sure if you can completely turn it off, but you should be able to set the logging level via the `log.level` system property. It can be set to a level between `ERROR`, `WARNING`, `INFO` and `ALL`, where `ERROR` is the lowest and only logs error messages. So you can turn off all messages except errors by starting the server with `-Dlog.level=ERROR`.

If you really want to disable error loggi

[2020-11-24 21:09] jasonhan-vassar opened #1613 "Disable module results for autocomplete?"
Hi, is it possible to disable module results in autocomplete? Say I have a `String s = ""`, typing `s.` results in autocomplete returning lots of `sun.*` modules instead of methods like `length()`. Sorry if this is a basic question, I am very new to jdtls. Thank you!

[2020-11-25 08:17] wxlfrank commented on #1558
I can reproduce the problem.

I installed gradle 6.7
but in vscode, the .gradle folder contains both 6.3 and 6.7 subfolders.

If I run the gradle init command in terminal, there is only one subfoler, 6.7, in the .gradle folder

[2020-11-25 14:49] rgrunber commented on #1610
It's possible the Maven runtime zip that is being downloaded by the wrapper script is somehow corrupted/incomplete. Basically, I can reproduce your error by replacing the `$HOME/.m2/wrapper/dists/apache-maven-3.6.3-bin/..../apache-maven-3.6.3-bin.zip` with a text file. I would remove the `$HOME/.m2/wrapper/` folder and attempt the command again.

You can also run the above command with the followi

[2020-11-25 15:00] rgrunber commented on #1613
The language server supports a configuration option, `java.completion.filteredTypes` . If you're using JDT-LS via. the vscode-java plugin, you can actaully set this via the UI.

It seems we set a default exclusion list that includes [com.sun.*](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/preferences/Preferences.java#L498) so ma

[2020-11-25 16:03] fbricon commented on #1613
+1 to excluding sun.*

[2020-11-25 17:12] rgrunber commented on #1611
I'm also able to reproduce.

The problem seems to be a mismatch between what TokenScanner does and what JDT-LS expects. JDT-LS wants to read the token, and if `ITerminalSymbols.TokenNameEOF` is returned , then it will perform some other actions. However, TokenScanner doesn't seem to ever return `ITerminalSymbols.TokenNameEOF`. If it encounters EOF it simply throws a CoreException with status code

[2020-11-25 18:24] jasonhan-vassar commented on #1613
Thanks, is there a list of all settings an editor can change? I am on Sublime Text so I don't have a handy GUI with the options.

[2020-11-25 18:41] rgrunber commented on #1613
We list the options at https://github.com/redhat-developer/vscode-java under "Supported VS Code settings".

[2020-11-25 20:10] rgrunber commented on #1613
I've looked again. So `java.completion.filteredTypes` will filter out the types but not the modules/packages themselves. They will still appear (although there will be no suggested Types from within them). However, if you type `s.` (dot) , you should only be seeing methods/fields that are accessible form 's' .

[2020-11-26 01:03] Asiimoviet commented on #1610
It is solved now. I used coc's built-in install script and it got the job done. Thanks for replying @rgrunber

[2020-11-26 01:03] #1610 closed

[2020-11-26 05:07] #1611 closed

[2020-11-26 12:49] testforstephen commented on #1157
At the moment,  the JDT code actions are all using ASTRewrite.rewriteAST() to generate the text edit, where it reads the formatting options from both the project and JavaCore.getOptions() by default. See
https://github.com/eclipse/eclipse.jdt.core/blob/master/org.eclipse.jdt.core/dom/org/eclipse/jdt/core/dom/rewrite/ASTRewrite.java#L273-L295.

![image](https://user-images.githubusercontent.com/140

[2020-11-26 13:24] adminy commented on #791
So it has support in Eclipse IDE but not the language server? How does that work?

[2020-11-27 02:32] cheonhyangzhang opened #1618 "When open eclipse.jdt.ls in eclipse, there are a lot of import errors"
Hi
I am following the "First Time Setup" section in https://github.com/eclipse/eclipse.jdt.ls README file.
After finished the 4 steps, I am seeing a lot of import errors.
I opened BaseDocumentLifeCycleHandler.java and classes from other package are not able to resolve.
e.g. org.eclipse.jdt.core, org.eclipse.jdt.internal, org.eclipse.jface etc.

I feel there must be some missing configuration somew

[2020-11-27 02:33] cheonhyangzhang commented on #1618
![Screen Shot 2020-11-26 at 6 29 14 PM](https://user-images.githubusercontent.com/4094803/100404278-e509c000-3015-11eb-8cfe-afe8fa80b3e0.png)
Here is what it looks like

[2020-11-27 07:57] testforstephen commented on #1157
Another idea is to add two methods `getOptions()` and `setOptions()` to the [ICompilationUnit](https://github.com/eclipse/eclipse.jdt.core/blob/master/org.eclipse.jdt.core/model/org/eclipse/jdt/core/ICompilationUnit.java) interface, which can be used to save the indentation settings for each Java file.
[code]

And then let ASTRewrite.java to read the formatting from the ICompilationUnit by default

[2020-11-27 08:08] jdneo commented on #1157
That seems to be a more feasible solution.

[2020-11-27 09:30] fbricon commented on #1618
I think this is wrong:

Delete all the projects in your workspace and instead do File > Import... > Existing Maven projects, then point to the eclipse.jdt.ls folder you checked out. This is what works for me.

[2020-11-27 18:46] cheonhyangzhang commented on #1618
Thanks for the help.
The current repo has some work in progress changes, so in order to perform a fresh try, I reclone the repo in somewhere else and followed the above steps.

When using above steps to import, first I see an error when trying to Setup Maven plugin connectors.
Not sure if this is critical or not.
![Screen Shot 2020-11-27 at 10 42 16 AM](https://user-images.githubusercontent.com/40

[2020-11-27 18:46] cheonhyangzhang commented on #1618
![Screen Shot 2020-11-27 at 10 42 52 AM](https://user-images.githubusercontent.com/4094803/100477657-cbac5680-309d-11eb-884b-2c20ca3d834c.png)
Sorry forgot to include this screenshot.

[2020-11-27 18:56] cheonhyangzhang commented on #1618
![Screen Shot 2020-11-27 at 10 55 45 AM](https://user-images.githubusercontent.com/4094803/100478140-1f6b6f80-309f-11eb-9ea1-e139dfe58e51.png)
Here are the full list of errors shown

[2020-11-27 19:22] snjeza commented on #1618
@cheonhyangzhang Could you try to the following:

- run
[code]
in your Java LS git root directory
- open **Window>Preferences>Plug-in Development>Target Platform** and select **Java Language Server Target Defintion**
in Eclipse
- click Apply And Close
- restart Eclipse

[2020-11-27 19:31] cheonhyangzhang commented on #1618
Thanks @snjeza
The build command runs successfully with no issue.

When select the target platform there are two options there
![Screen Shot 2020-11-27 at 11 28 19 AM](https://user-images.githubusercontent.com/4094803/100479684-c5b97400-30a3-11eb-9f77-e479fe611aab.png)
is there one of the is correct?

I have tried both of them and still have the class resolution errors

[2020-11-27 19:38] snjeza commented on #1618
Could you try to click **Java Language Server Target Definition**, **Reload**, **Apply and Close**?

[2020-11-27 19:47] cheonhyangzhang commented on #1618
@snjeza Yes I have tried both of the two target definition, apply and close and restart eclipse,  but neither of the two works.

[2020-11-27 20:13] snjeza commented on #1618
Click **Java Language Server Target Definition**, select **Edit** and **Reload**.

[2020-11-27 20:17] cheonhyangzhang commented on #1618
@snjeza   wow this one works.   Now all classes are resolved correctly. Thanks so much!

Btw I am still not clear that given the two target definition options, which one should I use. Or any of them is fine.

[2020-11-27 20:46] snjeza commented on #1618
They are the same.

[2020-11-28 07:01] cheonhyangzhang commented on #1618
@snjeza  got it

Thank both @snjeza and @fbricon

The fix is to
1. File > Import... > Existing Maven projects, then point to the eclipse.jdt.ls folder you checked out.
2. open Window>Preferences>Plug-in Development>Target Platform and select Java Language Server Target Defintion
in Eclipse, Click Java Language Server Target Definition, select Edit and Reload.

[2020-11-28 07:01] #1618 closed

[2020-11-28 13:59] rwols commented on #1605
It was indeed a problem of escaping the dollar-signs. Thanks for pin-pointing this down.

[2020-11-28 13:59] #1605 closed

[2020-11-28 14:15] rwols opened #1620 "Markdown lists are rendered in an odd way"
<img width="1484" alt="image" src="https://user-images.githubusercontent.com/2431823/100517487-1657cc80-318b-11eb-9cc6-6e55a4261220.png">

The accompanying markdown from the server is:

[code]

This list with empty lines in-between items is rendered quite differently on different markdown parsers:

https://johnmacfarlane.net/babelmark2/?text=+*++**Since%3A**%0A++++%0A+++++*++JDK1.0%0A+*++**Author%

[2020-11-28 15:21] fbricon commented on #1620
what's you client? Which OS are you using?

The html to markdown rendering is powered by https://github.com/kotcrab/remark-java. Fixing it might require the upstream library to be fixed and published to Maven Central first

[2020-11-28 15:55] rwols commented on #1620
Client: https://github.com/sublimelsp/LSP
OS: macOS 10.15.6

Not a problem. This isn't really a blocking issue for users :) the problem might also be in the markdown parser we're using. These kinds of rendering issues are hard to pin down on who should fix what.

[2020-11-30 03:59] cheonhyangzhang commented on #1531
The OS I am using is a Redhat linux machine.
`uname -a` shows the following results
[code]

The tests I am running is based on follow commit, which is the current latest commit on master.
[code]

when running `JAVA_HOME=/usr/lib/jvm/java-11-openjdk-11.0.3.7-0.el7_6.x86_64 ./mvnw clean verify`
there are 2 failures of tests
[code]

[2020-12-01 06:48] testforstephen commented on #1157
Created an issue https://bugs.eclipse.org/bugs/show_bug.cgi?id=569336 in upstream to discuss about supporting custom formatting options at file granularity.

[2020-12-02 09:33] angelozerr opened #1622 "Support for LocationLink when LSP client has definitionLinkSupport capability"
Today, `document/definition` and `document/typeDefinition `returns every time a list of `Location`.

It should be nice to return a list of `LocationLink `when LSP client has the `definitionLinkSupport  `capability.

IMHO I think you should create every time list of LocationLink (instead of Location) and if LSP client has not the `definitionLinkSupport  `capability, you use Stream map to build Loca

[2020-12-03 05:19] ludwj61 opened #1624 "Long completionItem/resolve and TimeoutException"
I noticed that when I trigger completion, there is consistent and obvious delay until things are imported and the completion finishes.

For example, below is the server output when I type ``new Random`` and trigger completion for ``new Random()``:
<details>

[code]
</details>

I am using arch linux, java 14, maven, latest jdtls.

[2020-12-04 19:49] rgrunber commented on #1624
I'm able to reproduce as well.

Looking at [CompletionResolveHandler](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/CompletionResolveHandler.java#L177) it looks like the timeout is expected, but we should probably treat `TimeoutException` the same as we do for `UncheckedTimeoutException`.

[2020-12-05 23:26] cheonhyangzhang opened #1626 "organize import takes a long time for a gradle project which has large amount of files."
Hi folks
Our team has a large gradle project. It has
33732 total files,
20693 total .java files.
there are about 125 subprojects in the root folder.

I am using vim + coc-java + eclipse.jdt.ls as my working evnironemnt. I am using eclipse.jdt.ls version 0.58 since that is the latest version compatible with Java8.

Based on log message, it took about less than 2 mins to start the server, it is long

[2020-12-08 16:01] mfussenegger commented on #1558
I can also reproduce the problem.

Two things to note:

- I'm running eclipse.jdt.ls with Java 15
- I added options to the `build.gradle` file that are only available in gradle 6.7

If I start eclipse.jdt.ls with Java 11 and remove these options, I don't notice the errors.

For example, with Java 11 and gradle 6.7 with the following option set:

[code]

I get the following error:

[code]

[2020-12-08 17:40] snjeza commented on #1558
@fbricon @wxlfrank @mfussenegger you can check https://github.com/snjeza/vscode-test/raw/master/java-0.73.0.vsix
It includes https://github.com/eclipse/eclipse.jdt.ls/pull/1617

[2020-12-08 18:44] mfussenegger commented on #1558
@snjeza thanks, https://github.com/eclipse/eclipse.jdt.ls/pull/1617 fixes the issue for me.

[2020-12-09 05:46] #1613 closed

[2020-12-09 14:26] nicobao commented on #824
Hi,
Thanks for your work on eclipse.jdt.ls! Thanks to you I can use vim for professional Java development :+1:
When using eclipse.jdt.ls with neovim, I often experience very high CPU usage (300%) for quite a long time, especially on opening moderately large projects, leading to my machine making lots and lots of noise.
I suppose it is related to these issues, it is a known problem and that you are

[2020-12-09 14:29] fbricon commented on #824
@nicobao you can try to increase the heap in the java.jdt.ls.vmargs setting (it's 1GB by default). But I have no idea how to do that from neovim though.

[2020-12-09 15:43] nicobao commented on #824
Thanks for the tip. I changed from the default:
`	"java.jdt.ls.vmargs": "-noverify -Xmx1G -XX:+UseG1GC -XX:+UseStringDeduplication"`
to
`	"java.jdt.ls.vmargs": "-noverify -Xmx6G -XX:+UseG1GC -XX:+UseStringDeduplication"`

For info, on neovim it's as easy as with vscode. If you use coc.nvim, you can modify `~/.config/nvim/coc-settings.json` (or calling :CocConfig from inside vim) and then modifying

[2020-12-10 08:08] #1624 closed

[2020-12-10 23:31] mbarbero opened #1629 "Annotation processors dependent on JDK15 preview features don't work"
I'm trying to use [record-builder](https://github.com/Randgalt/record-builder) annotation processor (it generates builder patterns from JDK15 records — a preview feature).

While it works well in standard maven, my jdt.ls client (vscode) fails to generate sources for the annotations. I've created a minimal project to isolate the issue: https://github.com/mbarbero/jdtls-apt-java15

Note that I ensu

[2020-12-11 00:33] fbricon commented on #1629
@snjeza please take a look

[2020-12-11 08:10] mbarbero commented on #1629
Thanks @fbricon and @snjeza for taking a look. Let me know if you need some more information.

[2020-12-11 15:30] snjeza commented on #1629
There is a bug in the [record-builder](https://github.com/Randgalt/record-builder) project.
The following is a patch:

[code]

[2020-12-11 15:34] mbarbero commented on #1629
@snjeza Thanks for digging in to it. I will be glad to report the issue upstream but how does it work with maven on the command line but not with vscode?

[2020-12-11 15:52] snjeza commented on #1629
@mbarbero you can try the following:

[code]

[2020-12-11 15:56] snjeza commented on #1629
Eclipse JDT returns 'The Default Package', 'package org.sample', ... when calling:

[code]

[2020-12-11 17:16] mbarbero commented on #1629
Nice catch. I've tested your patch and it fixes the issue.

Thanks for the fast turnaround. Do you want me to report the issue upstream?

[2020-12-11 18:04] snjeza commented on #1629
Do it, please.

[2020-12-11 18:06] mbarbero commented on #1629
I guess we can close this one then. Thanks @snjeza and @fbricon for your help!

[2020-12-11 18:06] #1629 closed

[2020-12-16 01:31] srillia opened #1633 "vim coc.nvim ,coc-java, gradle project can not sync dependencies when dependencies changes"

[2020-12-16 01:35] srillia commented on #1633
can not auto sync

[2020-12-16 01:43] snjeza commented on #1633
A duplicate of https://github.com/redhat-developer/vscode-java/issues/1714

[2020-12-16 01:43] #1633 closed

[2020-12-16 02:01] srillia commented on #1633
[](https://github.com/neoclide/coc-java)
**java.projectConfiguration.update**: is available when the editor is focused on a Maven pom.xml or a Gradle file. It forces project configuration / classpath updates (eg. dependency changes or Java compilation level), according to the project build descriptor.
**:CocCommand java.projectConfiguration.update**
when build.gradle update, using the command abov

[2020-12-16 02:14] snjeza commented on #1633
@srillia See https://github.com/eclipse/eclipse.jdt.ls/pull/1617 and  https://github.com/eclipse/eclipse.jdt.ls/issues/1558#issuecomment-740790328

[2020-12-16 17:29] snjeza opened #1634 "Issue with 'Go To Definition'"
Steps to reproduce:

- import the https://github.com/snjeza/eclipse.jdt.ls/tree/issue-1665/org.eclipse.jdt.ls.tests/projects/eclipse/reference project
- open Main.java
- select FOO2 and call Go To Definition

It will open Foo.class at the (0,0) location.

See https://github.com/eclipse/eclipse.jdt.ls/pull/1632#issuecomment-746672088

[2020-12-16 19:19] aconchillo opened #1635 "Test source folder must have an output folder that is not also used for main sources"
Hi,

I'm hitting the following error when a project that has integration tests wants to use resources from main (see below):

[code]

This works fine when calling `./gradlew integrationTest`.

I'm attaching a sample project to reproduce this:

[integration-tests-issue.zip](https://github.com/eclipse/eclipse.jdt.ls/files/5704908/integration-tests-issue.zip)

I've tracked down the issue to including

[2020-12-17 21:29] nicobao commented on #1576
Hi @snjeza

I tried started the extension project following the archetype you mentioned.
However, I failed at the basic step of getting it running after starting the archetype. I am new to OSGi, tycho and Eclipse RCP.
By default, the project built by the archetype does not work.
My attempt to solve the issues is here: https://github.com/nicobao/jdt.ls.extension.builder

Now I have this:
[code]

If

[2020-12-21 13:59] languitar commented on #1208
Seems this has caught up again recently, but 0.67.0 is missing again. Can anyone explain the rationale behind this?

[2020-12-21 14:20] fbricon commented on #1208
Sorry the milestone release job was not triggered. It's fixed: https://download.eclipse.org/jdtls/milestones/0.67.0/

[2020-12-21 14:24] languitar commented on #1208
Thanks. Seems this has happened a lot in the past. Why can this job be missed?

[2020-12-22 09:56] kuafuwang opened #1637 "Please calculate high lighted positions when trigger validation if the text document change."
In file DocumentLifeCycleHandler.java
`public ICompilationUnit handleChanged(DidChangeTextDocumentParams params) {
		String uri = params.getTextDocument().getUri();
		ICompilationUnit unit = JDTUtils.resolveCompilationUnit(uri);

		if (unit == null || !unit.isWorkingCopy() || params.getContentChanges().isEmpty() || unit.getResource().isDerived()) {
			return unit;
		}

		try {
			if (unit.equals(s

[2020-12-23 08:43] mirromutth commented on #1021
Hi there,

Hope this helps:

[code]

Snapshot from page https://help.eclipse.org/2020-12/index.jsp?topic=%2Forg.eclipse.jdt.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fjdt%2Fcore%2FJavaCore.html

A Crawler trick, regexp is `Option id:\n"([^"]+)"\n(Possible values:\n([^\n]+\n))?(Default:\n"([^"]*)"\n)?` => `$1=$5 # $3`

[2020-12-24 18:08] SirNoob97 opened #1638 "ERROR (pid:96095) [server] - uncaughtException Error: Header must provide a Content-Length property."
hi i have a problem scanning my project.

Im using

JDT.ls 0.67.0
coc-java 1.5.3
coc.vim 0.0.80

I'm not really sure what was the last version of jdt.ls that I used, but I think it was 0.62.0 and I didn't have this problem, update 3 days ago.

I have a postgres container with the volume to the data folder

volumes:
  - ./postgresql/data:/var/lib/postgresql/data

so when trying to scan the contents

[2021-01-08 17:16] puremourning opened #1640 "extremely slow response to completion or signature help request in lambda defined in enum"
## Summary

When requesting completion or signature help within a lambda declared as part of an enum item, the request thread spins for a long time, and the client gets no response

Sorry for the cryptic title, the scenario this happens in is quite specific, but the result is a java thread in jdt.ls pegging a CPU for a very long time. Each subsequent request adds another spinning thread.

Edit: In

[2021-01-08 18:12] puremourning commented on #1640
Full trace from the client (look for RX and TX)

[code]

[2021-01-08 18:30] snjeza commented on #1640
@puremourning could you, please, attach a sample project reproducing the issue?

[2021-01-09 13:32] puremourning commented on #1640
[jdtls-lambda-test.tar.gz](https://github.com/eclipse/eclipse.jdt.ls/files/5791171/jdtls-lambda-test.tar.gz)

this reproduces it for me using YCM/ycmd and VSCode

[2021-01-09 13:33] puremourning commented on #1640
[code]

[2021-01-11 10:27] gns26 commented on #376
Any update on this? Seems to have been open for a long time - I guess it's not ever going to get done?

[2021-01-12 18:50] snjeza commented on #1640
This is an upstream issue. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=570298
Case b) won't happen in Java LS. This issue is caused by the codeSelect issue (case a).

[2021-01-12 20:57] puremourning commented on #1640
Thanks for raising that upstream issue @snjeza

[2021-01-13 09:00] jdneo opened #1642 "Some refactors are missing when the location has diagnostics"
When the location has diagnostics from other extension, the Java Language Server will take it as errors and skip resolving some of the refactors:https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/corrections/RefactorProcessor.java#L140

Here is a gif to illustrate the issue:

https://user-images.githubusercontent.com/6193897/104429414

[2021-01-14 08:48] #1642 closed

[2021-01-15 17:28] snjeza commented on #1640
cc @rgrunber

[2021-01-18 05:25] testforstephen opened #1644 "Should not enable preview compiler options if the tooling doesn't support the early access JDK"
As the title says, see Steps to Reproduce below.

##### Environment
- Operating System: Windows 10
- JDK version: 16
- Visual Studio Code version: 1.53.0-insider
- Java extension version: 0.73.0
- Java Debugger extension version: 0.30.0

##### Steps To Reproduce
1. Set java.home to jdk 16.
2. Open a Java folder without build tool.
[latestProject.zip](https://github.com/eclipse/eclipse.jdt.ls/files

[2021-01-18 14:12] #1644 closed

[2021-01-18 18:02] anshumankomawar opened #1646 "Build Fails Due to Tests"
MVN
Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: /usr/local/Cellar/maven/3.6.3_1/libexec
Java version: 11.0.9.1, vendor: AdoptOpenJDK, runtime: /Library/Java/JavaVirtualMachines/adoptopenjdk-11.jdk/Contents/Home
Default locale: en_US, platform encoding: UTF-8
OS name: "mac os x", version: "10.16", arch: "x86_64", family: "mac"

Results:

Errors:
  GradleProjectImporter

[2021-01-18 19:39] rgrunber opened #1647 "Invisible project forgets source paths on classpath update"
1. Set up the invisible project (include a jar in the lib/ folder)
2. Create a source file that references a class from the jar and either hover over the type or go to the definition to trigger the source file resolution.
3. Update the project classpath by adding a second jar to the lib folder

The type reference should now produce the same result as if it were simply a library with no correspondi

[2021-01-19 02:41] stychos commented on #376
Highly required thing, wish to see it fixed. Thanks in advance for all developers!

[2021-01-21 10:46] fredg1 opened #1650 "External tool file modifications not registered"
Modifications made to files by something other than through the Editor seem to no longer be picked up, and don't trigger a recompiling of the file(s).

![builderModified](https://user-images.githubusercontent.com/14052197/105327891-6e023980-5c0a-11eb-9bad-19b3280a3886.gif)

Looks like the Java builder didn't detect the file change from external tool, and didn't recompile the class. This needs to b

[2021-01-21 16:15] GaZaTu opened #1651 "Build path contains duplicate entry: 'module-info.java'"
I'm trying to migrate our projects from java 8 to java 11 (with modules).
Application itself works fine now but tests still don't compile and i just can't figure out how to configure my IDE.

I was following this [guide](https://sormuras.github.io/blog/2018-09-11-testing-in-the-modular-world) to migrate the tests but the language server logging in vscode shows the following message on startup: `[E

[2021-01-22 09:52] hsnotebook opened #1652 "Attach source code manully"
I have org.apache.hadoop:hadoop-client:2.8.5 in my pom.xml, and when I go to definition of a class in that jar file, show me this:

I have downloaded the source, but how can I attach it?

[2021-01-22 10:19] fbricon commented on #1652
There's no way to manually attach source jars for Maven projects, they're supposed to be discovered automatically.

Now you can try adding the source jar to ~/.m2/repository/org/apache/hadoop/hadoop-client/2.8.5/hadoop-client-2.8.5-sources.jar. m2e should be able to discover it there.

[2021-01-24 10:12] basbebe commented on #1646
Same Problem here (macOS 11.1)
[code]

[2021-01-24 18:27] anshumankomawar commented on #1646
Did you find any solution online?

[2021-01-24 18:30] basbebe commented on #1646
None at all so far.

For now I'm using https://github.com/georgewfraser/java-language-server

[2021-01-24 18:49] anshumankomawar commented on #1646
Doesn't work with neovim lsp sadly, but good to know.

[2021-01-24 19:11] basbebe commented on #1646
I'm using it with Kakoune, so I can imagine you could adopt it with neovim somehow

[2021-01-25 13:52] apupier opened #1653 "Provide support for JShell"
it would be nice to support JShell files (*.jsh).

example of use case: Using [Apache Camel K](https://github.com/apache/camel-k-runtime/pull/591) files.
- allow to provide specific jars to classpath (or use "phantom project")
- allow to provide bindings, to inject variables based on filename pattern for instance

[2021-01-25 14:32] fbricon commented on #1653
I'm not sure upstream JDT supports JShell

[2021-01-25 17:11] snjeza commented on #1646
GradleProjectImporterTest.testGradleJavaHome:231 ArrayIndexOutOfBounds Index 0...
GradleProjectImporterTest.testJavaHome:207 ArrayIndexOutOfBounds Index 0 out o...

I can't reproduce the issue on linux.
@fbricon @testforstephen @rgrunber Could you try to reproduce it on Mac?

[2021-01-29 21:57] Xeite commented on #1528
Did you manage to build? I'm on the same problem

[2021-02-02 03:57] jarek083 opened #1654 "Change location of .m2/ and .tooling/ from HOME"
When I'm using this LSP, two cache directories are created in my home directory. I've tried to make wrapper and set `HOME=$XDG_CACHE_HOME` or pass `-Duser.hom=$XDG_CACHE_HOME`, but those are still created in home.

`~/.tooling` is especially bad, as I have other tool which uses this directory, but for important data, not cache.

Could `~/.m2` and `~/.tooling` be moved to something like `$XDG_CACHE

[2021-02-02 06:59] HaoboGu commented on #1528
no
I think jdt.ls extension archetype is not longer maintained.

[2021-02-02 15:23] rgrunber commented on #1654
While we don't currently support configuring the local repository ($HOME/.m2/repository/) directly, we do have `java.configuration.maven.userSettings` and `java.configuration.maven.globalSettings` which configure the location of the user/global settings file. That file, among other things can configure the location of the local repository. See https://maven.apache.org/ref/3.6.3/maven-settings/sett

[2021-02-02 16:09] rgrunber commented on #1653
This discussion came up on redhat-developer/vscode-java#1601 (so may just mark as duplicate so we can track progress there) . An entry point might be in o.e.jdt.ls.core.internal.JDTUtils#getFakeCompilationUnit(uri) for basic editing support.

[2021-02-02 16:17] apupier commented on #1653
duplicates of https://github.com/redhat-developer/vscode-java/issues/1601

[2021-02-02 16:17] #1653 closed

[2021-02-02 16:19] rgrunber commented on #1652
https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-client/2.8.5/ is packaged as a jar, but it has no classes, and seems to just be a stand-in for many different dependencies. What's the name of the class (fully qualified) that fails to load from sources when going to its defintion ?

[2021-02-02 16:44] snjeza commented on #1654
eclipse.jdt.ls/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/internal/gradle/checksums/WrapperValidator.java
Line 256 in 8028f3f
 return new File(System.getProperty("user.home"), ".tooling/gradle/versions.json");
, it seems to be hard coded for now.

This was a buildship upstream issue - https://github.com/eclipse/buildship/blob/REL_3.1.5/org.eclipse.buildship.core/src/main/java/org/eclipse/build

[2021-02-05 02:52] #1593 closed

[2021-02-12 20:52] #1654 closed

[2021-02-17 00:43] cjgratacos commented on #1288
Any workaround for this on the short term?

[2021-02-17 20:04] #1634 closed

[2021-02-18 19:37] rgrunber commented on #1650
I'm able to reproduce the behaviour as well but even going back as far as 0.50.0, I wasn't able to get the classfile to update based on a change from outside the workspace (on Linux). What's the last version of the java extension for which this was working for you ?

I basically had an invisible project for which I'd add/remove a method to a source file using `sed` and monitor the contents of the

[2021-02-18 20:27] snjeza commented on #1650
@rgrunber check the _java.autobuild.enabled_ property. It should be true.

[2021-02-18 21:16] #996 closed

[2021-02-19 04:07] rgrunber commented on #1650
I'm not overriding the default property value (true) and ProjectManager seems to set it correctly.

[2021-02-19 18:35] snjeza commented on #1650
@rgrunber I can't reproduce the issue.
Is your java file placed in a source directory?

[2021-02-20 04:55] fredg1 commented on #1650
Are the extension updates logged? If not, I can't possibly recall what version I had when it was working...

All I can tell is that it was working fine around last September (2020), and I'm pretty sure I had somewhat recently updated.

[2021-02-20 17:36] snjeza commented on #1650
@rgrunber @fredg1 could you check https://github.com/snjeza/vscode-test/raw/master/java-0.76.2.vsix ?

[2021-02-21 20:59] fredg1 commented on #1650
Nope, still doesn't update :/

[2021-02-21 22:22] snjeza commented on #1650
VS Code 0.75.0
![vscode](https://user-images.githubusercontent.com/388609/108640707-87153900-749b-11eb-9f56-68932082a9b6.gif)

[2021-02-21 22:22] snjeza commented on #1650
VS Code 0.76.2
![vscode0762](https://user-images.githubusercontent.com/388609/108640741-b1ff8d00-749b-11eb-934e-5193210b5537.gif)

[2021-02-21 22:27] snjeza commented on #1650
@fredg1 could you, please, reinstall https://github.com/snjeza/vscode-test/raw/master/java-0.76.2.vsix ?

[2021-02-22 01:52] fredg1 commented on #1650
@snjeza It...worked, but it also added a new issue...

It did register the new changes, but I also noted that it forcefully saves every open editor related to your project, even with unsaved changes...

This is not to say that what you did was worthless, though, *some* of it did fix the problem!
What I did to see that was using a preLaunchTask

1- I have unsaved edits on one of the files from my p

[2021-02-22 05:30] testforstephen opened #1664 "No javadoc popup for the completion item"
Machine:
- MacBook Pro (13-inch, 2016, Four Thunderbolt 3 Ports)
- 2.9 GHz Dual-Core Intel Core i5
- 8 GB 2133 MHz LPDDR3

In my macOS, there is a high chance that no javadoc popup for the completion item. This is just due to the 500ms timeout. There is a [TODO improvement](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/C

[2021-02-22 21:56] rgrunber commented on #1650
The patch resolves the issue for me. any change I make gets reflected in the classfile even before I click run, through the debug extension.

I'm not able to reproduce the issue of the save happening even when there's a prompt, but if this is behaviour introduced by the patch, then it should be fixed. I tried with setting `"task.saveBeforeRun": "prompt"` but the save always happens with no prompt.

[2021-02-23 04:43] fredg1 commented on #1650
I did also have an untitled file open, so maybe that's it
1- the save happens first (but the untitled file can't be saved since it doesn't have anywhere to save "to"
2- the extension checks the opened editors and noticed an open file with unsaved changes, making it show the prompt (even though it doesn't change anything since the file with unsaved changes isn't linked with the project)

[2021-02-23 08:46] pajatopmr commented on #1646
I just reproduced the problem on my iMac. How can I help get to a solution?

[2021-02-23 15:30] snjeza commented on #1650
@fredg1 could you reproduce the issue in VS Code 0.75.0?
Could you attach your launch.json and tasks.json?

[2021-02-23 16:54] rgrunber commented on #1650
I'm able to reproduce this, but not the behaviour where the untitled file gets saved regardless. The behaviour is also the same on 0.75.0 for me, so maybe this is an issue in the debug extension. It definitely would be nice to not prompt to save unrelated files.

I have a simple project with a source file, Test.java that has a main method. It can even be unsaved. I also have a `.vscode/launch.json

[2021-02-23 17:19] jackhenry commented on #1638
@SirNoob97 Have you found a workaround that doesn't involve running vim as root?

[2021-02-23 17:39] SirNoob97 commented on #1638
another solution is to change the user that the folder belongs to, but that only works until I use the container again and it took a long time so I decided to move the postgres folder.

[2021-02-23 20:31] fredg1 commented on #1650
![Code_eV3Ek8UMZS](https://user-images.githubusercontent.com/22716338/108903953-e71af500-75eb-11eb-8bbd-3b7010902eb9.png)
![Code_MU3mBsDAG3](https://user-images.githubusercontent.com/22716338/108903966-eaae7c00-75eb-11eb-8797-023799369cd6.png)
![Code_m0ecih7FZ5](https://user-images.githubusercontent.com/22716338/108903978-ee420300-75eb-11eb-8f53-9f42bf7b4ec7.png)

[2021-02-23 20:55] pajatopmr commented on #1646
Fwiw, I was able to follow up on the entry from  @snjeza to trace the problem on macos to line 228 in GradleProjectImporterTest.java where the "vms" array is empty, thus causing the array out of bounds error. Why the array is empty can only be answered by following a twisty maze that I am ill-equipped to traverse.

[2021-02-23 21:13] snjeza commented on #1646
@pajatopmr What jdk are you using?

[2021-02-23 21:23] pajatopmr commented on #1646
Openjdk 14

On Tue, Feb 23, 2021, 16:14 Snjeza <notifications@github.com> wrote:

[2021-02-23 21:56] snjeza commented on #1646
@pajatopmr Could you test with jdk 11?

[2021-02-24 02:41] #1157 closed

[2021-02-24 05:43] pajatopmr commented on #1646
Indeed I can! Same error:

pmr@shadow org.eclipse.jdt.ls.tests % ../mvnw clean verify -X
...
Results:

Errors:
  GradleProjectImporterTest.testGradleJavaHome:228 ArrayIndexOutOfBounds Index 0...
  GradleProjectImporterTest.testJavaHome:204 ArrayIndexOutOfBounds Index 0 out o...

Tests run: 1281, Failures: 0, Errors: 2, Skipped: 12

[INFO] -----------------------------------------------------------

[2021-02-24 06:21] pajatopmr commented on #1646
Truth in advertising: I have not used Eclipse in at least 100 years. But I do have both Eclipse and IntelliJ windows open on my Mac computer that reveal this issue and given a competent Eclipse jdt.ls engineer to work with, I'm sure this problem  could get resolved in a Zoom/Meet/etc. session in short order. Contact me at pmr@pajato.com if your Eclipse/jdt.ls/IntelliJ/Maven competence is borderlin

[2021-02-24 13:24] testforstephen commented on #1650
I create a new file, Untitled-1 (File -> New File) and add some text to it. I keep Untitiled-1 as being the selected file, switch to the run tab, and launch "Launch Test". The dialog comes up to save the file even though it would be unrelated. I'm not sure if this is caused by our plugin though.

When triggering "Start Debugging" feature, VS Code will auto save the opened files. This is the defaul

[2021-02-24 20:48] kstatz12 opened #1667 "Protobuf generated classes not getting completed"
Im trying to use protobuf generated classes in my project but the lsp doesnt seem to pick them up. Is there a trick to getting them in the classpath?

[2021-02-24 20:52] snjeza commented on #1667
@kstatz12 could you attach a project example?

[2021-02-24 21:18] kstatz12 commented on #1667
@snjeza here is how i have my main project setup, https://github.com/kstatz12/ProtoTest

[2021-02-25 00:27] fredg1 commented on #1650
You don't get what happened; the prompt wasn't the issue. It was welcome, even.
Look at <code>launch.json</code>'s header on the first and second images; the issue is that the unsaved changes in <code>launch.json</code> got saved **automatically, before** the prompt appeared. _I didn't do it_.

[2021-02-25 01:20] testforstephen commented on #1650
When you start debugging, VS Code will auto save launch.json. It requires to read the latest configuration from the launch.json, this is the expected behavior. I don't see there is problem with this.

[2021-02-25 11:55] fredg1 commented on #1650
Whoops. Sorry, I didn't know. Here's an example using a .txt file instead.

![Code_6Xpbvk2Dwz](https://user-images.githubusercontent.com/22716338/109149529-b0e98c80-7735-11eb-9bda-fe7ab79c9620.png)
![Code_jRXtdqGgyR](https://user-images.githubusercontent.com/22716338/109149535-b34be680-7735-11eb-9053-0a1c717f0d1c.png)
![Code_6tYYfq9jvh](https://user-images.githubusercontent.com/22716338/109149543-

[2021-02-25 18:14] snjeza commented on #1667
@kstatz12 could you tr the following app/build.gradle:

[code]

[2021-02-25 20:10] kstatz12 commented on #1667
@snjeza that worked like a charm, thanks!

[2021-02-25 20:10] #1667 closed

[2021-02-27 02:15] itsaky opened #1668 "Any simple example of how do I use it in an Android Project?"
Hello,
I'm trying to implement Eclipse JDT LS in my Android App to provide auto complete items as the user edits a Java file. I searched for an example (or tutorial) on how to implement it but I didn't find anything.

As written in the README file,
I started the Language Server, using the steps provided here:
https://github.com/eclipse/eclipse.jdt.ls#running-from-the-command-line

Now I wanna know

[2021-02-27 02:17] itsaky commented on #1668
One more thing that I forgot to mention is that JvDroid seems to use JDT LS. I'm not sure, but I think it does.

https://play.google.com/store/apps/details?id=ru.iiec.jvdroid

[2021-03-03 01:28] snjeza commented on #1646
@pajatopmr @anshumankomawar Could you check https://github.com/eclipse/eclipse.jdt.ls/pull/1669 ?

[2021-03-03 02:43] anshumankomawar commented on #1646
This is my first time doing this how can I clone the fixed changes to see whether it works?

[2021-03-03 03:10] anshumankomawar commented on #1646
I have checked out this commit but it doesn't seem to solve the issue still getting this build failure due to tests

Errors:
  GradleProjectImporterTest.testGradleJavaHome:237 ArrayIndexOutOfBounds Index 0...
  GradleProjectImporterTest.testJavaHome:209 ArrayIndexOutOfBounds Index 0 out o...

Tests run: 1284, Failures: 0, Errors: 2, Skipped: 12

[2021-03-03 04:51] ujwal-jain commented on #1646
Also getting the same errors when running `./mvnw clean verify` with #1669 commit.

[code]

[2021-03-03 08:27] fbricon commented on #1646
can you try to remove JAVA_HOME and GRADLE_HOME from your environment variables before running the build?

[2021-03-03 08:54] ujwal-jain commented on #1646
Removed and still received same errors, however the 1 failure I had appears to be gone. Not really sure if I'm missing something, but from looking at the commit changes, my intuition is that the `ArrayIndexOutOfBounds` won't be fixed from a null check right?

[2021-03-03 15:44] rgrunber opened #1670 "Do an Eclipse release review and release 1.0"
We should prepare a release review as part of the Eclipse Development Process. Relevant documentation included below.

https://www.eclipse.org/projects/handbook/#release-review
https://www.eclipse.org/projects/handbook/#checklist

[2021-03-03 18:22] snjeza commented on #1646
[code]

[2021-03-03 18:26] snjeza commented on #1646
@fbricon Can you reproduce the issue on Mac?

[2021-03-04 04:05] pajatopmr commented on #1646
@snjeza Still fails for me both before and after removing JAVA_HOME and GRADLE_HOME

Results:

Errors:
  GradleProjectImporterTest.testGradleJavaHome:237 ArrayIndexOutOfBounds Index 0...
  GradleProjectImporterTest.testJavaHome:209 ArrayIndexOutOfBounds Index 0 out o...

Tests run: 1284, Failures: 0, Errors: 2, Skipped: 12

[INFO] -------------------------------------------------------------------

[2021-03-04 09:08] dbushenko opened #1673 "How can I add bazel build tool support?"
Hello,

Our team is trying to add bazel build tool support. I understand mostly how it should be done: via separate plugin, extension points, etc.

The only thing which prevents me to do this is a little bit of hardcode in original eclipse.jd.ls. For example I cannot re-import updated project because ProjectsManager.updateProject() just does not support other build tools or extensions. There are s

[2021-03-04 09:18] fbricon commented on #1673
Bazel integration is provided by the Salesforce team: https://github.com/salesforce/bazel-ls-eclipse/tree/master/com.salesforce.b2eclipse.jdt.ls

[2021-03-04 09:41] dbushenko commented on #1673
Hello Fred,
Thanks for your reply! I'm from team which ports the eclipse support (which heavily depends on the UI) into the headless eclipse.jdt.ls so that other text editors may use it. Unfortunately, there is no such support yet, maybe we will be able to manage this.

[2021-03-04 09:47] fbricon commented on #1673
If you need to propose API changes to the IBuild interface and so on, please open a PR, so we can discuss your proposal

[2021-03-04 17:57] snjeza commented on #1646
@anshumankomawar @pajatopmr Could you try  the updated PR?
Could you also open a Java Project in VS Code and attach the .classpath, .project and settings.json files?

[2021-03-04 18:11] pajatopmr commented on #1646
The updated PR now passes all tests. Sorry but I don't use VS Code. I'm writing a client and want to test it with a Java LS. I'll reply here if I see results I think are wrong.

[2021-03-04 18:38] snjeza commented on #1646
It's ok if the tests pass. Thanks.

[2021-03-04 20:28] dbushenko commented on #1673
@fbricon hey, please have a look here: https://github.com/eclipse/eclipse.jdt.ls/pull/1674

BTW, sorry I did not understand your first comment about https://github.com/salesforce/bazel-ls-eclipse/tree/master/com.salesforce.b2eclipse.jdt.ls. I am the one who works on it now :-)

[2021-03-04 20:58] anshumankomawar commented on #1646
@snjeza The earlier array index out of bounds test failure seems to have been fixed however I encountered a different test failure.

Results:

Errors:
  ProjectsManagerTest.testCancelInitJob:120 NullPointer Cannot invoke "org.eclip...

Tests run: 1284, Failures: 0, Errors: 1, Skipped: 12

[2021-03-04 21:22] snjeza commented on #1646
It happens randomly. Please try again.

[2021-03-04 21:51] anshumankomawar commented on #1646
Tried it again another 2 times and got the same error, any solutions to fix it?

[2021-03-04 22:14] anshumankomawar commented on #1646
I had a quick question not sure if this is the best place to ask but when using the jdtls it only works in a directory that has a git repository. Is there a way for me to use it in not git directories.

[2021-03-04 22:35] snjeza commented on #1646
@anshumankomawar you can copy the /org.eclipse.jdt.ls.product/target/repository directory and run jdtls from it.
You can copy only the features, plugins directories and the config* files.

[2021-03-05 03:56] anshumankomawar commented on #1646
Ok should I close the issue since the tests are completed correctly.

[2021-03-05 14:57] apupier opened #1676 "Provide warning/error for duplicated keys in Java Properties file"
It would be nice to have a validation message detecting duplicated keys in Java Properties files

[2021-03-05 17:08] snjeza commented on #1646
The issue will be automatically closed when [the PR](https://github.com/eclipse/eclipse.jdt.ls/pull/1669) has been applied. cc @rgrunber

[2021-03-05 18:19] yyoncho opened #1678 "Support 3.16 semantic tokens"
I noticed that the latest version of the server has semantic tokens implementation but it is not following the 3.16 spec. It will be nice to do so in order to have that functionality in other clients without the need for additional client-side code.

[2021-03-05 22:15] #1650 closed

[2021-03-06 11:34] yyoncho opened #1679 "Fuzzy completion is not supported on the server"
To reproduce:

When you type `System.class`, press `.` and then if you type `generic` the completion items containing `generic` will show up. At the same time, when you type `System.class.generic` and then you kill the completion dialog, and then if you force the completion dialog, it won't pop up.

[2021-03-06 16:20] istarwyh opened #1680 ""Reload Target Platform" again and "AbstractJavaContextTypeCore cannot be resolved to a type...""
Sorry, I 'm new to this project. I run "mvn clean verify -DskipTests=true". And I import the project by eclipse. Then I open "org.eclipse.jdt.ls.tp.target" and active the target definition in order to eliminate the errors like:
[code]
As a result the errors disappeared.
But when I clicked "Reload Target Platform" again, the errors came again... Finally I cannot solve this problem.
Why is this prob

[2021-03-06 16:27] istarwyh commented on #1680
the picture regarding the errors:

![](https://gitee.com/istarwyh/images/raw/master/1615047812_20210307002327196_22885.png)

Thank you again sincerely!

[2021-03-06 18:37] snjeza commented on #1680
@istarwyh See https://github.com/eclipse/eclipse.jdt.ls/issues/1618#issuecomment-734972796

[2021-03-07 08:57] istarwyh commented on #1680
Thank you. I tried the method,but it was useless. After I filsly actived the target definition, the errors had been eliminated. But I reloaded it again, the errors came agian. Now I restart the project without reloading "org.eclipse.jdt.ls.tp.target" and it is no the beam...
Thank you!

[2021-03-07 13:00] istarwyh opened #1681 "Different running results with different shells"
When I run the following command on `Hyper` and (`powershell` or `cmd`):
[code]
I can get different results:
![snipaste_20210307_205506](https://user-images.githubusercontent.com/36853082/110240543-71b60980-7f87-11eb-83b1-9035e5c8a2f3.png)
Why does this problem occur after I have used the administrator privileges? Thank you!

[2021-03-09 10:01] #1668 closed

[2021-03-09 22:00] #1646 closed

[2021-03-10 14:46] rgrunber commented on #1681
Generally it is not recommended to run "Eclipse" as root (See [Bug 379102](https://bugs.eclipse.org/bugs/show_bug.cgi?id=379102)) Although it's true that you're just running a launcher (which Eclipse happens to use), the issues you run into may be the same.

Is there any additional information about the exception in the file `G:\java-lsp4.metadata/.metadata/.log` ? What about if you run the same c

[2021-03-10 15:06] rgrunber commented on #1680
Just to clarify, is this resolved now or the issue is still present ?

org.eclipse.jdt.ls.tp.target is basically the target platform used to resolve all compile/runtime dependencies of JDT LS. If you look inside you can see it's basically a listing of repositories and bundles, similar to how Maven Central combined with pom <dependencies> content would contain the requirements for a regular java pr

[2021-03-11 02:43] istarwyh commented on #1681
Thank you for your reply and help! It should not be caused by "root" bacause I used common privileges before that and got the same error. I thought the higher privileges might help so I tried to run it as root.
And I tried to append `-debug -consolelog` after the `-data`, but it didn't have error log. Then I rememberd it had similar errors when I used the "debug" button of Eclipse. Maybe the error

[2021-03-11 03:06] snjeza opened #1684 "Java LS Tests fail randomly"
See
- https://ci.eclipse.org/ls/job/jdt-ls-master/ (builds 1036, 1037, 1038...)
- https://ci.eclipse.org/ls/job/jdt-ls-pr/ (builds 2499, 2500, 2494, 2495, 2496...)

[2021-03-11 04:23] istarwyh commented on #1680
Sorry, I just tested this issue and it did not happen again. Forgive me for not trying again...
As you said, It may be an issue of stale dependencies.  It was just interesting that I reloaded the target platform and restarted the project twice coud not take effect at that time. I should have had more patience and endurance. Of course, when I encounter similar issues in the future, I can think abou

[2021-03-11 14:33] rgrunber commented on #1680
No problem. Thanks for confirming.

[2021-03-11 14:33] #1680 closed

[2021-03-11 15:10] rgrunber commented on #1681
The -debug -consolelog options simply output more errors to standard output.

I think the error you just posted is different from the original one. There's no ClassNotFoundException and there are things like failure to resolve org.eclipse.jface.text. This component has requirements on Eclipse UI libraries, which would never be part of the JDT-LS target platform. Is it possible you were trying to r

[2021-03-11 15:26] mmFooD opened #1685 "v0.70 broke workspace/DidChangeConfiguration"
I am using jdtls through nvim-jdtls in neovim nightly where I have the following settings
[code]

This works fine with v0.69 but with v0.70 I get the following error
[code]

EDIT: Just to clarify, I reverted back to v0.69 to verify that the error was introduced after upgrading to v0.70 and it still works in the previous version which should rule out other factors.

[2021-03-11 17:23] rgrunber commented on #1676
Seems like a nice improvement to eventually get. It doesn't look like Eclipse itself does this, though there are markers/resolutions generated for certain properties files connected to Eclipse Plugin Developement (eg. build.properties).

If we added the corresponding marker contribution to JDT, we might be able to get them for free on the JDT-LS side and just convert them to LSP diagnostics. I als

[2021-03-11 17:26] snjeza commented on #1685
@mmFooD could you try
[code]

[2021-03-11 17:49] mmFooD commented on #1685
@snjeza Yes, that worked! Thanks, that was quick!

Is that a bug or a feature?

[2021-03-11 17:52] snjeza commented on #1685
@mmFooD It is a bug.

[2021-03-11 18:09] mmFooD commented on #1685
ok, good to know. Also, let me take this opportunity to thank you and others for your work on this project!

[2021-03-12 03:17] istarwyh commented on #1681
Yes, I tried to append the `-debug -consolelog` and I also copied  the command you stickerd to run like the following one:
![image](https://user-images.githubusercontent.com/36853082/110884947-e6d76500-8320-11eb-82ca-702c4e7da31c.png)
But there is not more info about the ClassNotFoundException or I can find it in other places( there is not java-lsp4.metadata  forder).
For another, the command line

[2021-03-13 22:06] teutat3s commented on #1531
I came across this as well, got it working by temporarily `unset`-ting the following from my environment:
[code]

It seems to me these test failures could be related to people using the XDG way of organizing their /home.

I'm on `manjaro` linux and tried this with the latest tag `v0.70.0`

[2021-03-14 11:01] 0dinD commented on #1678
I agree, this would be ideal. The work on the current semantic tokens implementation started before it was standardized in LSP, and that's why it's using a custom command, used in [the semantic tokens provider](https://github.com/redhat-developer/vscode-java/blob/bcd7dca94b3f19cd10adf847a380a09d4825716c/src/semanticTokenProvider.ts) of the VS Code extension. Implementing it via LSP instead would a

[2021-03-15 02:41] testforstephen commented on #1681
PowerShell uses different rules to parse the command line arguments, which is different from cmd. Directly copying and pasting the same command won't work in PowerShell, you have to add some escape characters. The simple way is to add a single quote around each argument.

[code]

[2021-03-16 00:24] #1684 closed

[2021-03-16 19:09] #1685 closed

[2021-03-17 07:43] Eskibear opened #1692 "false alarm of Resource leak warning"
Given below piece of code, JDT.LS issues a false alarm of "Resource leak".
[code]
![image](https://user-images.githubusercontent.com/2351748/111430899-0530cc80-8736-11eb-8603-15d0dbb9080d.png)

It's reproduced in both VS Code and Eclipse.

More clues:
* If we define `i` inside for-loop as `for (int i =0; i<1; i++)...`, the warning is gone.
* In IntelliJ IDEA 2020 or some older version Eclipse e.g.

[2021-03-17 19:51] mherna opened #1693 "Build Error"
Can't build project from command line as it described,
$ ./mvnw clean verify

The error I get is

[ERROR] Failed to resolve target definition /home/xxxxxxx/eclipse.jdt.ls/org.eclipse.jdt.ls.target/org.eclipse.jdt.ls.tp.target: : Failed to load p2 metadata repository from location https://download.eclipse.org/eclipse/updates/4.19-I-builds/I20210217-1800/: No repository found at https://download.ecl

[2021-03-19 02:15] hugoeustaquio commented on #1693
Same here. I even changed to the last release, v0.70.0. Same error.

[2021-03-19 02:18] eliasmatosg commented on #1693
Same

[2021-03-19 02:26] hugoeustaquio commented on #1693
I've found a workarround. I edited the file "org.eclipse.jdt.ls.target/org.eclipse.jdt.ls.tp.target" and replaced the line 34, containing
            <repository location="https://download.eclipse.org/eclipse/updates/4.19-I-builds/I20210217-1800/"/>
with
            <repository location="https://download.eclipse.org/eclipse/updates/4.19/R-4.19-202103031800/"/>

It seems to be ok.

[2021-03-19 02:35] testforstephen commented on #1693
this will be fixed by https://github.com/eclipse/eclipse.jdt.ls/pull/1691

[2021-03-19 06:35] paulo-santana commented on #1693
@hugoeustaquio Thank you for the suggestion, I finally managed to build the server with your help; But I gotta say, maybe you swapped the two lines in your comment? The second line was already in that file, so I tried replacing it by the first line you sent and it worked great.

So I assume you meant we should replace

[code]
with
[code]

[2021-03-19 07:51] hunman89 commented on #1693
@paulo-santana I solved this problem in the same way.

[2021-03-19 11:11] #1693 closed

[2021-03-19 11:36] mfussenegger opened #1695 "workspaceEdit textDocument version is always 0"
In the neovim lsp client we recently added `resourceOperations` support and that changed the `workspaceEdit` result from eclipse.jdt.ls to include `documentChanges` with a versioned textDocument where the `version` is always 0.

For example, if I open a file and type something like `int x = 10 + 20` and then trigger a extract variable refactoring on `20`, previously there was the following message

[2021-03-19 19:31] snjeza opened #1696 "NPE on Mac"
See https://github.com/eclipse/eclipse.jdt.ls/pull/1669#discussion_r597605368

[2021-03-19 19:55] snjeza opened #1698 "Update lsp4j to 0.11.0"
See https://github.com/eclipse/lsp4j/releases/tag/v0.11.0

[2021-03-19 20:33] KOLANICH opened #1699 "Create and upstream packages for debian-based distros."

[2021-03-21 02:24] #1698 closed

[2021-03-22 13:40] rgrunber commented on #1670
One issue that has come up. The P-builds for the java16 feature support seem to only be retained until the next release is available and we need something closer to "forever" for a 1.0 release.

[2021-03-22 16:45] rgrunber commented on #1681
@istarwyh , did the above suggestion work for you ? Let me know if this ca be closed.

[2021-03-22 17:08] rgrunber commented on #1699
We currently don't create distro specific packages (rpm, deb, etc.) for JDT-LS as our main clients/consumers are [language clients](https://github.com/eclipse/eclipse.jdt.ls#clients). Distributing p2 Repos and  compressed tarballs (.tar.gz) has generally been sufficient. (See
https://github.com/eclipse/eclipse.jdt.ls#continuous-integration-builds )

Is there a particular client you're interested i

[2021-03-22 18:17] istarwyh commented on #1681
I am so sorry.  I replied too late. I was too busy in my paper to forget this issue almostly. @testforstephen @rgrunber  Thank you for your help!
Just to clarify, the error result in cmd and PowerShell is the same one. But only with Hypers, I can run the application successfully.
When each argument without "java -jar ..." of the command line is added with a single quote:
[code]
And an error has oc

[2021-03-22 21:26] KOLANICH commented on #1699
I don't use VSCode, I wanna to use it as a generic client without any code on the client side specific to this server. As editors I prefer Qt Creator, KDevelop and Kate (and Notepad++, but it doesn't have a language client plugin).

[2021-03-23 04:42] testforstephen commented on #1696
Close with PR https://github.com/eclipse/eclipse.jdt.ls/pull/1697

[2021-03-23 04:42] #1696 closed

[2021-03-23 04:56] testforstephen commented on #1670
Does that mean it will be removed until 2021-06 release is out?

If so, we could hold off Java 16 support in 1.0 release. And add it back in the bi-weekly release after 1.0.

[2021-03-23 12:47] rgrunber commented on #1670
Yes, that's the plan. We won't have to wait for 2021-06 to be released though. I'll partially revert the target platform update to just exclude the Java 16 (P-build) / testing part, do the release, and then we can add it back in for 1.1 or beyond.

I've gone through it once before, and it's not as bad as I'm sure we qualify with most of the mentioned items. If there's any changes needing to be mad

[2021-03-24 00:51] rgrunber commented on #1670
Relase Plan : https://projects.eclipse.org/projects/eclipse.jdt.ls/releases/1.0 . Will scheduled release review soon.
IPLog Review : https://dev.eclipse.org/ipzilla/show_bug.cgi?id=23187

[2021-03-24 05:29] testforstephen commented on #1670
I fixed some typos in the release plan.

Also create a PR https://github.com/eclipse/eclipse.jdt.ls/pull/1703 to update the supported feature list.

[2021-03-24 16:15] ChristianChiarulli opened #1704 "Can't seem to build on mac"
Here is the error I am getting after running `./mvnw clean verify`

![image](https://user-images.githubusercontent.com/29136904/112344296-53941d00-8c9a-11eb-909c-6311fbc36e0a.png)

![image](https://user-images.githubusercontent.com/29136904/112344550-948c3180-8c9a-11eb-8dac-3f9135638192.png)

[2021-03-25 09:51] fbricon opened #1706 "jdt.ls distro contains 2 guava jars"
There's one guava jar too many:

com.google.guava_30.1.0.v20210127-2300.jar
com.google.guava_27.1.0.v20190517-1946.jar

[2021-03-25 09:55] fbricon commented on #1706
Caused by https://github.com/eclipse/eclipse.jdt.ls/commit/3756738411a665a0fa6636bba3d97f321046fa50

[2021-03-25 10:25] fbricon opened #1707 "Stop generating .gz artifacts during builds"
With pack200 support in the JDK being removed, it's basically useless to generate .gz artifacts now, and projects are advised to stop producing them: https://www.eclipse.org/lists/cross-project-issues-dev/msg18273.html

[2021-03-25 16:34] andreicibotaru commented on #1704
I have the same issue.
Workaround: build it on linux (apparently it works). And copy the product folder on Mac and run. It seems to be working, it's java after all.

Godspeed!

[2021-03-25 16:43] rgrunber commented on #1707
I think we can likely just remove `tycho-pack200{a,b}-plugin` surrounding the eclipse-jarsigner-plugin in pluginManagement and under eclipse-sign profile.

[2021-03-25 16:46] #1681 closed

[2021-03-25 19:03] rgrunber commented on #1706
IU: org.eclipse.xtext.xbase.lib 2.25.0.v20210301-0821
-> osgi.bundle; com.google.guava [30.1.0,31.0.0)

IU: org.eclipse.m2e.core 1.17.0.20201112-0751
-> osgi.bundle; com.google.guava [27.1.0,28.0.0)
IU: org.eclipse.buildship.core 3.1.5.v20210112-1646-s
-> osgi.bundle; com.google.guava [27.0.0,28.0.0)

[2021-03-25 22:15] #1707 closed

[2021-03-26 13:25] rgrunber commented on #1706
Looks like m2e fixed this in 1.17.2 release ( https://bugs.eclipse.org/bugs/show_bug.cgi?id=570582 ). Buildship still seems to be using 27.1.0 though.

[2021-03-29 13:21] itsaky commented on #1129
@Symbolk Could you please share a code snippet (in Java) showing a working example?

What I have tried till now (after reading the comments in this issue)
[code]
JSON String that I was writing to the server is :
[code]
But the server doesn't respond. Here is how I read the input stream of the socket (if you're interested). In another thread:
[code]

[2021-03-29 13:50] rcjsuen commented on #1129
@itsaky I don't think you can just send the JSON string. It sounds to me like you're missing the [header bits with `Content-Length`](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#headerPart)?

[2021-03-29 14:26] itsaky commented on #1129
@rcjsuen
Thanks a lot, sir!
After I added the Content-Length header in the request, it successfully responded with a language/status method.

[2021-03-30 14:49] rgrunber commented on #1692
Looking through JDT bugzilla, I see quite a few cases over the years of unexpected resource leaks reported. None seem as straightforward as this though. I think our best bet is to file these upstream, much like https://bugs.eclipse.org/bugs/show_bug.cgi?id=561589 (redhat-developer/vscode-java#1349) .

[2021-03-30 16:06] rgrunber commented on #1699
I don't think we're likely to distribute .deb / .rpm or any distro specific package format, but we do provide tarballs of the latest release (eg. http://download.eclipse.org/jdtls/milestones/0.70.0/jdt-language-server-0.70.0-202103051608.tar.gz )

This can be configured with https://github.com/eclipse/eclipse.jdt.ls#running-from-the-command-line to run either through a socket or stdin/stdout.

[2021-03-31 06:48] hunman89 opened #1711 "Change connection type"
Hello,
I checked the following statement in README.md

Is there any way to make LS wait for CLIENT's connection?
Setting `CLIENT_PORT` or `JDTLS_CLIENT_PORT` before starting LS didn't work.

[2021-03-31 14:17] rgrunber opened #1712 "Investigate partial results for workspace/symbol request"
https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_symbol seems to support partial results and with changes like https://github.com/eclipse/eclipse.jdt.ls/pull/1688 coming eventually, it might be great to have this.

On the JDT-LS side [WorkspaceSymbolHandler](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/ecl

[2021-04-06 06:55] yotkamen commented on #1400
Any solution or workaround for this problem. We use `Gradle` at work and Emacs fails to `dap-debug` for example as it searches for classes in the `bin` directory.  I am not sure what else fails - perhaps it runs slower. Anyway, I managed to workaround the `dap-debug` problem by manually copying from `build` to `bin`, while respecting the destination locations. I'm considering automating the copy.

[2021-04-06 14:08] Yanpas opened #1714 "Set org.eclipse.jdt.core.compiler.problem.missingSerialVersion to ignore by default"
Each time I import some java project from vscode I get myriad of such useless warnings

[2021-04-06 15:06] snjeza commented on #1714
Related PR - https://github.com/eclipse/eclipse.jdt.ls/pull/1579

[2021-04-06 18:22] rgrunber commented on #1714
That PR (once merged) should allow users to have a global settings file, eliminating the need to copy anything betwee workspaces. With that said, this seems to come up every now and then ( https://github.com/redhat-developer/vscode-java/issues/1356 ).

@testforstephen @fbricon we've briefly mentioned, re-evaluating which compiler options are worth ignoring by default. Might be worth putting togeth

[2021-04-07 03:16] testforstephen commented on #1714
Agreed. It's definitely worth optimizing the compiler options for default values. I think users care about only a small fraction of the compiler options, and if we can optimize those options ahead of time, it can save them time.

[2021-04-09 05:42] itsaky opened #1716 "Server doesn't respond for textDocument/completion and textDocument/hover requests"
I'm trying to get completion and hover results from the server. But there is no response from the server for both requests (textDocument/completion and textDocument/hover).

The server does responds with textDocument/publishDiagnostics when textDocument/didOpen request is sent.

Also, when the client sends a textDocument/hover request with invalid index, the server responds with :
```Java Model Ex